Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

[no ci] WIP
  src/core/types/collections/identified_vec_of/identifiable.rs
  src/core/types/collections/identified_vec_of/identified_vec_of.rs
  src/core/types/collections/identified_vec_of/identified_vec_of_display_debug.rs
  src/core/types/collections/identified_vec_of/identified_vec_of_iterator.rs
  src/core/types/collections/identified_vec_of/identified_vec_of_modify.rs
  src/core/types/collections/identified_vec_of/identified_vec_of_query.rs
  src/core/types/collections/identified_vec_of/identified_vec_of_serde.rs
  src/core/types/collections/identified_vec_of/identified_vec_of_uniffi_converter.rs
  src/core/types/collections/identified_vec_of/identified_vec_of_validation_import_export.rs
  src/core/types/collections/identified_vec_of/mod.rs
  src/core/types/collections/mod.rs
  src/core/types/collections/ordered_set/mod.rs
  src/core/types/collections/ordered_set/ordered_set.rs
  src/core/types/collections/ordered_set/ordered_set_common_traits.rs
  src/core/types/collections/ordered_set/ordered_set_display_debug.rs
  src/core/types/collections/ordered_set/ordered_set_iterator.rs
  src/core/types/collections/ordered_set/ordered_set_serde.rs
  src/core/types/collections/ordered_set/ordered_set_uniffi_converter.rs
  src/core/types/collections/user.rs
  src/core/types/mod.rs
  src/profile/mfa/security_structures/mod.rs
  src/profile/mfa/security_structures/ordered_set/mod.rs
  src/profile/mfa/security_structures/ordered_set/ordered_set.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  src/core/error/common_error.rs
  src/core/types/collections/collection_unique_items_import_export.rs
  src/core/types/collections/identified_vec_of/identified_vec_of_modify.rs
  src/core/types/collections/ordered_set/mod.rs
  src/core/types/collections/ordered_set/ordered_set.rs
  src/core/types/collections/ordered_set/ordered_set_serde.rs
  src/core/types/collections/ordered_set/ordered_set_uniffi_converter.rs
  src/core/types/collections/ordered_set/ordered_set_validation_import_export.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  factor_instances.rs
  factor_source_ids.rs
  factor_sources.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  src/profile/v100/app_preferences/security.rs
Due: fmt, clippy, unit tests

remove OrderedSet, using Vec to allow duplicate of FactorSourceKinds (if we want templates)
  src/core/error/common_error.rs
  src/core/types/collections/collection_unique_items_import_export.rs
  src/core/types/collections/identified_vec_of/identified_vec_of_modify.rs
  src/core/types/collections/mod.rs
  src/core/types/collections/ordered_set/mod.rs
  src/core/types/collections/ordered_set/ordered_set.rs
  src/core/types/collections/ordered_set/ordered_set_common_traits.rs
  src/core/types/collections/ordered_set/ordered_set_display_debug.rs
  src/core/types/collections/ordered_set/ordered_set_iterator.rs
  src/core/types/collections/ordered_set/ordered_set_serde.rs
  src/core/types/collections/ordered_set/ordered_set_uniffi_converter.rs
  src/core/types/collections/ordered_set/ordered_set_validation_import_export.rs
  src/core/types/collections/user.rs
  src/profile/mfa/security_structures/decl_security_structure_of.rs
  src/profile/mfa/security_structures/security_structure_of_factor_sources.rs
  src/profile/mfa/security_structures/security_structure_of_factor_sources_uniffi_fn.rs
  src/profile/v100/factors/factor_instance/factor_instance_badge.rs
Due: fmt, clippy, unit tests

Add 'rebuild' argument to build and test gradle tasks
  jvm/sargon-android/build.gradle.kts
Due: none

Rename 'rebuild' gradle task argument to 'regenerate'
  jvm/sargon-android/build.gradle.kts
Due: none

Add TODO to generateBindings gradle task. Version bump
  Cargo.lock
  Cargo.toml
  jvm/sargon-android/build.gradle.kts
Due: none

Add 'regenerate' argument to build and test gradle tasks (#158)
  Cargo.lock
  Cargo.toml
  jvm/sargon-android/build.gradle.kts
Due: none

Release of '1.0.9' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

wip callback_path fetching
  fixtures/models/well_known.json
  src/core/error/common_error.rs
  src/http_client/network_antenna/network_request.rs
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/session/session.rs
  src/radix_connect/mod.rs
  src/radix_connect/well_known_client/client.rs
  src/radix_connect/well_known_client/mod.rs
  src/radix_connect/well_known_client/models/dapp_definition.rs
  src/radix_connect/well_known_client/models/dapp_definitions.rs
  src/radix_connect/well_known_client/models/mod.rs
Due: fmt, clippy, unit tests

swift tests
  apple/Sources/Sargon/Extensions/SampleValues/Profile/MFA/SecurityStructureOfFactorSourceIDs+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/MFA/SecurityStructureOfFactorSources+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/MFA/SecurityStructureOfFactorSourceIDs+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/MFA/SecurityStructureOfFactorSources+Swiftified.swift
  apple/Tests/TestCases/Profile/Factor/HierarchicalDeterministicFactorInstanceTests.swift
  apple/Tests/TestCases/Profile/MFA/SecurityStructureOfFactorSourceIDsTests.swift
  apple/Tests/TestCases/Profile/MFA/SecurityStructureOfFactorSourcesTests.swift
  src/profile/logic/account/mod.rs
  src/profile/logic/account/query_security_structures.rs
  src/profile/mfa/mfa_factor_sources/security_questions_factor_source/kdf/sub_kdf/key_exchange_keys_from_questions_and_answer/keys_from_questions_and_answers_lower_trim_utf8.rs
  src/profile/mfa/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source.rs
  src/profile/mfa/security_structures/mod.rs
  src/profile/mfa/security_structures/security_structure_of_factor_sources_uniffi_fn.rs
  src/profile/mfa/security_structures/security_structures_of_factor_source_ids_uniffi_fn.rs
  src/system/sargon_os/mod.rs
  src/system/sargon_os/profile_holder.rs
  src/system/sargon_os/sargon_os_security_structures.rs
  src/system/sargon_os/sargon_os_shields.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[no ci] WIP
  src/core/error/common_error.rs
  src/profile/mfa/security_structures/decl_security_structure_of.rs
  src/profile/v100/factors/factor_source_id.rs
  src/profile/v100/factors/factor_source_id_from_address.rs
  src/system/drivers/event_bus_driver/support/event_kind.rs
  src/system/drivers/event_bus_driver/support/event_profile_modified.rs
  src/system/sargon_os/sargon_os_factors.rs
  src/system/sargon_os/sargon_os_security_structures.rs
Due: fmt, clippy, unit tests

fix SargonOS structure test
  src/core/types/collections/user.rs
  src/profile/logic/account/create_account.rs
  src/profile/logic/profile_next_derivation.rs
  src/profile/mfa/security_structures/security_structure_of_factor_sources.rs
  src/profile/v100/factors/factor_source_id.rs
  src/profile/v100/factors/factor_sources/device_factor_source/device_factor_source.rs
  src/profile/v100/factors/hierarchical_deterministic_factor_instance.rs
  src/system/sargon_os/sargon_os_factors.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  src/system/sargon_os/sargon_os_security_structures.rs
Due: fmt, clippy, unit tests

fix test
  src/system/sargon_os/sargon_os_security_structures.rs
Due: fmt, clippy, unit tests

Add more tests for adding security structure
  src/system/sargon_os/sargon_os_security_structures.rs
Due: fmt, clippy, unit tests

pr review changes
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/session/mod.rs
  src/radix_connect/mobile/session/session.rs
  src/radix_connect/well_known_client/client.rs
Due: fmt, clippy, unit tests

add missing callback_path file
  src/radix_connect/mobile/session/callback_path.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/WalletInteraction/DappToWalletInteractionUnvalidated+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/RadixConnect/WalletInteraction/DappToWalletInteractionUnvalidated+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/RadixConnect/WalletInteraction/DappToWalletInteractionUnvalidated+Swiftified.swift
Due: ensure Swift setup for local development, SwiftFormat

pr review refactors
  src/http_client/network_antenna/network_request.rs
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/session/callback_path.rs
  src/radix_connect/well_known_client/client.rs
  src/radix_connect/well_known_client/models/dapp_definition.rs
  src/radix_connect/well_known_client/models/dapp_definitions.rs
Due: fmt, clippy, unit tests

add documentation for callback_path
  src/radix_connect/mobile/session/callback_path.rs
Due: fmt, clippy, unit tests

SargonOS get structures by id
  apple/Sources/Sargon/Extensions/Swiftified/Profile/MFA/SecurityStructureOfFactorSources+Swiftified.swift
  examples/iOS/Backend/Sources/Planbok/SharedState/SharedState+FactorSources.swift
  src/profile/logic/account/query_security_structures.rs
  src/system/sargon_os/profile_holder.rs
  src/system/sargon_os/sargon_os_security_structures.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

use callback_path constructor when initializing
  src/radix_connect/mobile/session/callback_path.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  apple/Sources/Sargon/Extensions/Swiftified/Profile/MFA/SecurityStructureOfFactorSourceIDs+Swiftified.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/ShieldClient.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/ManageSecurityShieldsFeature.swift
  examples/iOS/Backend/Sources/Planbok/SharedState/SharedState+FactorSources.swift
  src/profile/mfa/security_structures/mod.rs
  src/profile/mfa/security_structures/security_structure_metadata_uniffi_fn.rs
  src/profile/mfa/security_structures/security_structure_of_factor_sources.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

add tests for epochs and creating security structure for auto confirm measured in days
  src/profile/mfa/security_structures/security_structure_of_factor_sources.rs
  src/profile/mfa/security_structures/security_structure_of_factor_sources_uniffi_fn.rs
  src/profile/v100/app_preferences/security.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  apple/Sources/Sargon/Extensions/Methods/Profile/MFA/SecurityStructureMetadata+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/MFA/SecurityStructureOfFactorSources+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/MFA/MatrixOfFactorSources+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/MFA/SecurityStructureMetadata+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/MFA/MatrixOfFactorSources+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/MFA/SecurityStructureMetadata+Swiftified.swift
  apple/Tests/TestCases/Profile/MFA/MatrixOfFactorSourcesTests.swift
  apple/Tests/TestCases/Profile/MFA/SecurityStructureMetadataTests.swift
  apple/Tests/TestCases/Profile/MFA/SecurityStructureOfFactorSourcesTests.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/ShieldClient.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/ManageSecurityShieldsFeature.swift
  examples/iOS/Backend/Sources/Planbok/SharedState/SharedState+FactorSources.swift
  src/profile/mfa/security_structures/matrix_of_factor_sources_uniffi_fn.rs
  src/profile/mfa/security_structures/mod.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[no ci] WIP
  examples/iOS/Backend/Package.resolved
  examples/iOS/Backend/Sources/Planbok/Dependencies/ShieldClient.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/ManageSecurityShieldsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/NewSecurityShieldFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Settings/SettingsFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

refactor to satisfy pr review
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/session/callback_path.rs
  src/radix_connect/well_known_client/client.rs
  src/radix_connect/well_known_client/models/dapp_definition.rs
  src/radix_connect/well_known_client/models/dapp_well_known_data.rs
  src/radix_connect/well_known_client/models/mod.rs
Due: fmt, clippy, unit tests

Update Decimal192 to work with more than 18 decimals
  src/core/types/decimal192.rs
  src/core/types/decimal192_uniffi_fn.rs
Due: fmt, clippy, unit tests

Fix rust doc tests. Fix kotlin tests
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Decimal192Test.kt
  src/core/types/decimal192.rs
  src/core/types/decimal192_uniffi_fn.rs
Due: fmt, clippy, unit tests

Improve test coverage
  src/core/types/decimal192.rs
Due: fmt, clippy, unit tests

Add test
  src/core/types/decimal192.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Dependencies/FactorSourcesClient.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Manage/ManageFactorSourcesFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/ManageSecurityShieldsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/IntroWhatIsShieldFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/PrimaryRoleFactorsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/NewSecurityShieldCoordinator.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/NewSecurityShieldFeature.swift
  src/system/drivers/event_bus_driver/support/event_kind.rs
  src/system/drivers/event_bus_driver/support/event_profile_modified.rs
  src/system/sargon_os/sargon_os_factors.rs
  src/system/sargon_os/sargon_os_security_structures.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/PrimaryRoleFactorsFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

rename to key_agreement
  src/core/error/common_error.rs
  src/core/types/keys/key_agreement/mod.rs
  src/core/types/keys/key_agreement/private_key.rs
  src/core/types/keys/key_agreement/public_key.rs
  src/core/types/keys/mod.rs
  src/radix_connect/mod.rs
Due: fmt, clippy, unit tests

rename keys
  src/core/error/common_error.rs
  src/core/types/keys/key_agreement/private_key.rs
  src/core/types/keys/key_agreement/public_key.rs
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/relay_service/models/request/request.rs
  src/radix_connect/mobile/relay_service/models/response/session_handshake_request.rs
  src/radix_connect/mobile/relay_service/models/response/session_handshake_response.rs
  src/radix_connect/mobile/relay_service/service.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  examples/iOS/Backend/.swiftpm/xcode/xcshareddata/xcschemes/Planbok.xcscheme
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/ManageSecurityShieldsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/PrimaryRoleFactorsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/NewSecurityShieldCoordinator.swift
Due: ensure Swift setup for local development, SwiftFormat
