Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

Add custom name to exported binaries when building from workflow dispatch
  .github/workflows/release-android.yml
  .github/workflows/release-desktop-bins.yml
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/toml/SargonVersion.kt
Due: none

Set custom name to builds that come from workflow dispatch (#183)
  .github/workflows/release-android.yml
  .github/workflows/release-desktop-bins.yml
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/toml/SargonVersion.kt
Due: none

Release of '1.0.24' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Version bump
  Cargo.lock
  Cargo.toml
Due: none

[ABW-3465] Decode deep link and download metadata (#180)
  Cargo.lock
  Cargo.toml
  fixtures/models/gateway/state/response_entity_details__single_resource_no_metadata.json
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/HomeCardsManager.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/homecards/HomeCardsStorage.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/PreferencesStorage.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/StorageUtils.kt
  src/core/error/common_error.rs
  src/gateway_api/methods/state_methods.rs
  src/gateway_api/models/logic/response/state/entity/details/state_entity_details_response.rs
  src/gateway_api/models/types/request/state/entity/mod.rs
  src/gateway_api/models/types/request/state/entity/opt_ins.rs
  src/gateway_api/models/types/request/state/entity/request.rs
  src/gateway_api/models/types/request/state/entity/state_entity_details.rs
  src/gateway_api/models/types/response/state/entity/details/metadata/collection.rs
  src/gateway_api/models/types/response/state/entity/details/metadata/item.rs
  src/gateway_api/models/types/response/state/entity/details/metadata/item_value.rs
  src/gateway_api/models/types/response/state/entity/details/metadata/mod.rs
  src/gateway_api/models/types/response/state/entity/details/metadata/typed_value.rs
  src/gateway_api/models/types/response/state/entity/details/mod.rs
  src/gateway_api/models/types/response/state/entity/details/state_entity_details_response_item.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/unvalidated_transaction_manifest_uniffi_fn.rs
  src/wallet/home_cards/deferred_deep_link/deferred_deep_link_method.rs
  src/wallet/home_cards/deferred_deep_link/deferred_deep_link_special_dapp.rs
  src/wallet/home_cards/deferred_deep_link/mod.rs
  src/wallet/home_cards/deferred_deep_link/onboarding_deep_link_value.rs
  src/wallet/home_cards/deferred_deep_link/parser.rs
  src/wallet/home_cards/home_card.rs
  src/wallet/home_cards/home_cards.rs
  src/wallet/home_cards/manager.rs
  src/wallet/home_cards/mod.rs
  src/wallet/home_cards/observer.rs
  src/wallet/home_cards/storage.rs
  src/wallet/mod.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/metadata.rs
  tests/integration/main.rs
Due: fmt, clippy, unit tests

Release of '1.0.25' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Merge 'main' into 'sargon_os'
  .github/workflows/release-android.yml
  .github/workflows/release-desktop-bins.yml
  apple/Sources/Sargon/Extensions/Swiftified/Profile/AppPreferences+Swiftified.swift
  apple/Tests/TestCases/Address/AccountAddressTests.swift
  apple/Tests/TestCases/Address/LegacyOlympiaAccountAddressTests.swift
  apple/Tests/TestCases/Prelude/NonFungibleGlobalIDTests.swift
  apple/Tests/TestCases/Profile/AppPreferencesTests.swift
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/toml/SargonVersion.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NonFungibleGlobalIdTest.kt
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/address_format.rs
  src/profile/v100/address/legacy_olympia_account_address.rs
  src/profile/v100/address/non_fungible_global_id.rs
  src/profile/v100/address/non_fungible_local_id.rs
  src/profile/v100/address/resource_address.rs
  src/profile/v100/address/wrap_ret_address.rs
  src/profile/v100/app_preferences/app_preferences.rs
  src/profile/v100/app_preferences/app_preferences_uniffi_fn.rs
  src/profile/v100/app_preferences/gateways/saved_gateways.rs
  src/radix_connect/mobile/client.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure_response/failure.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/response.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/success.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/transaction_hashes.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  apple/Sources/Sargon/Drivers/ProfileChange/ProfileChange.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/Drivers/Drivers+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/SargonOS+Swiftified.swift
  apple/Sources/Sargon/SargonOS/SargonOSProtocol.swift
  src/system/clients/client/mod.rs
  src/system/clients/client/profile_change_client/mod.rs
  src/system/clients/client/profile_change_client/profile_change_client.rs
  src/system/clients/clients.rs
  src/system/drivers/drivers.rs
  src/system/drivers/mod.rs
  src/system/drivers/profile_change_driver/mod.rs
  src/system/drivers/profile_change_driver/profile_change_driver.rs
  src/system/drivers/profile_change_driver/support/mod.rs
  src/system/drivers/profile_change_driver/support/test/mod.rs
  src/system/drivers/profile_change_driver/support/test/rust_profile_change_driver.rs
  src/system/sargon_os/sargon_os.rs
  src/system/sargon_os/sargon_os_profile.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/execution_summary.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/mod.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_specifier/mod.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_specifier/resource_specifier.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Extensions/Methods/RET/ResourceSpecifier+Warp+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/RET/ResourceSpecifier+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/ResourceSpecifier+Swiftified.swift
  apple/Tests/TestCases/RET/ResourceSpecifierTests.swift
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_specifier/mod.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ResourceSpecifier.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ResourceSpecifierSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ResourceSpecifierTest.kt
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_specifier/resource_specifier_uniffi.rs
Due: fmt, clippy, unit tests

wip
  Cargo.lock
  Cargo.toml
Due: none

Properly expose transaction proofs (#185)
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Extensions/Methods/RET/ResourceSpecifier+Warp+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/RET/ResourceSpecifier+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/ResourceSpecifier+Swiftified.swift
  apple/Tests/TestCases/RET/ResourceSpecifierTests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ResourceSpecifier.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ResourceSpecifierSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ResourceSpecifierTest.kt
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/execution_summary.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/mod.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_specifier/mod.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_specifier/resource_specifier.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_specifier/resource_specifier_uniffi.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Release of '1.0.26' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Add function to clear home cards
  Cargo.lock
  Cargo.toml
  src/wallet/home_cards/manager.rs
Due: fmt, clippy, unit tests

Add function to clear home cards (#186)
  Cargo.lock
  Cargo.toml
  src/wallet/home_cards/manager.rs
Due: fmt, clippy, unit tests

Release of '1.0.27' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/third_party_deposit_update/third_party_deposits_delta.rs
Due: fmt, clippy, unit tests

Fix third party deposit asset exceptions (#187)
  Cargo.lock
  Cargo.toml
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/third_party_deposit_update/third_party_deposits_delta.rs
Due: fmt, clippy, unit tests

Release of '1.0.28' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Clear home cards after restoring wallet
  src/wallet/home_cards/manager.rs
Due: fmt, clippy, unit tests

Clear home cards after restore (#188)
  Cargo.lock
  Cargo.toml
  src/wallet/home_cards/manager.rs
Due: fmt, clippy, unit tests

Release of '1.0.29' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Show RadQuest card after wallet creation
  Cargo.lock
  Cargo.toml
  src/wallet/home_cards/manager.rs
Due: fmt, clippy, unit tests

Fix sort
  src/wallet/home_cards/manager.rs
Due: fmt, clippy, unit tests

Add HomeCard::StartRadQuest on wallet creation (#190)
  Cargo.lock
  Cargo.toml
  src/wallet/home_cards/manager.rs
Due: fmt, clippy, unit tests

Release of '1.0.30' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Update deferred deep link parsing to include only relevant home cards
  src/wallet/home_cards/deferred_deep_link/parser.rs
Due: fmt, clippy, unit tests

Update deferred deep link parsing to include only relevant home cards (#191)
  Cargo.lock
  Cargo.toml
  src/wallet/home_cards/deferred_deep_link/parser.rs
Due: fmt, clippy, unit tests

Release of '1.0.31' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Fix doc
  src/profile/supporting_types/host_info.rs
Due: fmt, clippy, unit tests

Implement HostOS that will encapsulate the different values and constants of each host os
  apple/Sources/Sargon/Drivers/HostInfo/HostInfoDriver+DeviceInfo.swift
  apple/Sources/Sargon/Extensions/SampleValues/System/Drivers/HostOS+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/Drivers/HostOS+Swiftified.swift
  apple/Tests/IntegrationTests/DriversTests/AppleHostInfoDriverTests.swift
  apple/Tests/TestCases/System/HostOSTests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/HostOs.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Profile.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/HostOSSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/HostOsTest.kt
  src/profile/supporting_types/host_info.rs
  src/profile/supporting_types/host_os.rs
  src/profile/supporting_types/host_os_uniffi_fn.rs
  src/profile/supporting_types/mod.rs
  src/profile/v100/factors/factor_sources/device_factor_source/device_factor_source_hint.rs
  src/profile/v100/header/device_info.rs
  src/system/clients/client/host_info_client/host_info_client.rs
  src/system/drivers/host_info_driver/host_info_driver.rs
  src/system/drivers/host_info_driver/support/test/rust_host_info_driver.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Store host id in secure storage
  apple/Sources/Sargon/Drivers/HostInfo/HostInfoDriver+DeviceInfo.swift
  apple/Tests/IntegrationTests/DriversTests/HostInfoDriverTests.swift
  src/core/error/common_error.rs
  src/profile/supporting_types/host_id.rs
  src/profile/supporting_types/host_id_uniffi_fn.rs
  src/profile/supporting_types/host_info.rs
  src/profile/supporting_types/mod.rs
  src/profile/v100/header/device_info.rs
  src/system/clients/client/host_info_client/host_info_client.rs
  src/system/clients/client/secure_storage_client/secure_storage_client.rs
  src/system/drivers/host_info_driver/host_info_driver.rs
  src/system/drivers/host_info_driver/support/test/rust_host_info_driver.rs
  src/system/drivers/secure_storage_driver/support/secure_storage_key.rs
  src/system/sargon_os/sargon_os.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Separate id and date from host info
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Profile.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/HostIdSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/HostIdTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/HostInfoTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
  src/profile/logic/account/create_account.rs
  src/profile/logic/profile_networks.rs
  src/profile/supporting_types/host_info.rs
  src/profile/v100/header/device_info.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
  src/system/clients/client/host_info_client/host_info_client.rs
  src/system/sargon_os/sargon_os.rs
  src/system/sargon_os/sargon_os_factors.rs
  src/system/sargon_os/sargon_os_profile.rs
Due: fmt, clippy, unit tests

Implement HostInfo struct
  apple/Sources/Sargon/Drivers/HostInfo/HostInfoDriver+DeviceInfo.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Keys/PrivateHD+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/DeviceFactorSource+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/System/Drivers/HostInfo+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/Drivers/Drivers+Swiftified.swift
  apple/Tests/IntegrationTests/DriversTests/EventBusDriverTests.swift
  apple/Tests/IntegrationTests/DriversTests/HostInfoDriverTests.swift
  apple/Tests/TestCases/Profile/Factor/DeviceFactorSourceTests.swift
  apple/Tests/TestCases/Profile/Factor/PrivateHierarchicalDeterministicFactorSourceTests.swift
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSource.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PrivateHierarchicalDeterministicFactorSource.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Profile.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/HostInfoSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourceTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PrivateHierarchicalDeterministicFactorSourceTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
  src/profile/logic/account/create_account.rs
  src/profile/logic/profile_networks.rs
  src/profile/supporting_types/host_info.rs
  src/profile/supporting_types/host_info_uniffi_fn.rs
  src/profile/supporting_types/mod.rs
  src/profile/v100/entity/persona/persona.rs
  src/profile/v100/factors/factor_source.rs
  src/profile/v100/factors/factor_source_uniffi_fn.rs
  src/profile/v100/factors/factor_sources/device_factor_source/device_factor_source.rs
  src/profile/v100/factors/factor_sources/device_factor_source/device_factor_source_hint.rs
  src/profile/v100/factors/factor_sources/device_factor_source/device_factor_source_uniffi_fn.rs
  src/profile/v100/factors/factor_sources/factor_sources.rs
  src/profile/v100/factors/factor_sources/private_hierarchical_deterministic_factor_source.rs
  src/profile/v100/factors/factor_sources/private_hierarchical_deterministic_factor_source_uniffi_fn.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
  src/system/clients/client/host_info_client/host_info_client.rs
  src/system/sargon_os/sargon_os.rs
  src/system/sargon_os/sargon_os_factors.rs
  src/system/sargon_os/sargon_os_profile.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Expose uniffi method for creating device info from host info
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DeviceInfo.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DeviceInfoDescription.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/DeviceInfoDescriptionSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DeviceInfoDescriptionTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DeviceInfoTest.kt
  src/profile/v100/header/device_info_description_uniffi_fn.rs
  src/profile/v100/header/device_info_uniffi_fn.rs
  src/profile/v100/header/mod.rs
Due: fmt, clippy, unit tests
