Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true
default_install_hook_types: [pre-push]
default_stages: [pre-push]
repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.22.7
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

  - repo: https://github.com/phylum-dev/phylum-ci
    rev: main
    hooks:
      - id: phylum
        stages: [pre-push]
        # Optional: Specify the dependency file pattern for your repository
        files: |
            (?x)^(
                Cargo\.lock|
            )$
        # Optional: Specify additional arguments to be passed to `phylum-ci`
        args:
          - -vv
          - --depfile=Cargo.lock
          - --audit
          - --force-analysis
          - --all-deps
        verbose: true

review comments
  crates/system/os/factors/src/apply_security_shield/sargon_os_apply_security_shield_interaction.rs
  crates/transaction/manifests/src/manifest_builder_from_manifest.rs
  crates/transaction/manifests/src/manifests_security_shield/lock_fee_against_xrd_vault_of_access_controller.rs
  crates/transaction/manifests/src/manifests_security_shield/manifests_securify_shield_securified_entity.rs
  crates/transaction/manifests/src/manifests_security_shield/manifests_securify_shield_unsecurified_entity.rs
  crates/transaction/manifests/src/manifests_security_shield/mod.rs
  crates/transaction/manifests/src/manifests_security_shield/roles_exercisable_in_transaction_manifest_combination.rs
  crates/transaction/manifests/src/manifests_security_shield/transaction_manifest_owner_badge_producing.rs
  crates/transaction/manifests/src/manifests_security_shield/transaction_manifest_unsecurified_entity_owner_badge_into_bucket_putting.rs
Due: fmt, clippy, unit tests

Invoke correct sut method in test
  crates/system/interactors/src/testing/test_authorization_interactor.rs
  crates/system/os/os/src/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

wip
  Cargo.lock
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCSessionClient.swift
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCTagReaderSessionAsyncDelegate.swift
  crates/core/error/src/common_error.rs
  crates/system/clients/clients/Cargo.toml
  crates/system/clients/clients/src/clients/client/arculus_wallet_client/arculus_wallet_client.rs
  crates/system/clients/clients/src/lib.rs
  crates/system/drivers/src/drivers/nfc_driver/nfc_driver.rs
  crates/system/drivers/src/drivers/nfc_driver/support/test/nfc_tag_driver.rs
  crates/system/os/arculus-card/Cargo.toml
  crates/system/os/arculus-card/src/lib.rs
  crates/system/os/arculus-card/src/sargon_os_arculus_card.rs
  crates/system/os/os/src/lib.rs
  crates/system/os/os/src/sargon_os_arculus_card.rs
  crates/uniffi/uniffi_SPLIT_ME/src/core/error/common_error.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/mfa_factor_sources/arculus_card_factor_source/arculus_card_factor_source.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/drivers/nfc_tag_driver/nfc_tag_driver.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/arculus_card/sargon_os_arculus_card.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

refactor and assert manifests
  crates/app/radix-connect/src/lib.rs
  crates/app/signing-traits/src/lib.rs
  crates/app/signing/src/lib.rs
  crates/core/prelude/src/lib.rs
  crates/factors/keys-collector/src/lib.rs
  crates/profile/models/account/src/lib.rs
  crates/profile/models/profile_SPLIT_ME/src/lib.rs
  crates/profile/models/security-structures/src/lib.rs
  crates/profile/models/supporting-types/src/any_securified_entity.rs
  crates/profile/models/supporting-types/src/lib.rs
  crates/profile/models/supporting-types/src/securified_account.rs
  crates/profile/models/supporting-types/src/securified_persona.rs
  crates/profile/models/supporting-types/src/unsecurified_entity.rs
  crates/system/os/derive-public-keys/src/sargon_os_derive_public_keys.rs
  crates/system/os/factors/src/lib.rs
  crates/system/os/os/src/lib.rs
  crates/transaction/manifests/src/lib.rs
  crates/transaction/manifests/src/manifests_security_shield/lock_fee_against_xrd_vault_of_access_controller.rs
  crates/transaction/manifests/src/manifests_security_shield/manifests_securify_shield_securified_entity.rs
  crates/transaction/manifests/src/manifests_security_shield/manifests_securify_shield_unsecurified_entity.rs
  crates/transaction/manifests/src/manifests_security_shield/roles_exercisable_in_transaction_manifest_combination.rs
  crates/transaction/manifests/src/manifests_security_shield/top_up_access_controller_xrd_vault.rs
  fixtures/transaction/create_access_controller_for_persona_with_ac_xrd_vault_top_up_by_securified_account_amount_42.rtm
  fixtures/transaction/create_access_controller_for_persona_with_ac_xrd_vault_top_up_by_unsecurified_account.rtm
  fixtures/transaction/update_shield_of_account_init_with_P_confirm_with_C.rtm
  fixtures/transaction/update_shield_of_account_init_with_P_confirm_with_C_with_top_up_where_payer_is_entity_applying_shield.rtm
  fixtures/transaction/update_shield_of_account_init_with_P_confirm_with_C_with_top_up_where_payer_is_entity_applying_shield_with_xrd_lock.rtm
  fixtures/transaction/update_shield_of_persona_init_with_P_confirm_with_C.rtm
  fixtures/transaction/update_shield_of_persona_init_with_P_confirm_with_R.rtm
  fixtures/transaction/update_shield_of_persona_init_with_P_confirm_with_T.rtm
  fixtures/transaction/update_shield_of_persona_init_with_R_confirm_with_C.rtm
  fixtures/transaction/update_shield_of_persona_init_with_R_confirm_with_T.rtm
  makefile
Due: fmt, clippy, unit tests

refactored fixtures moved incorrectly placed ones from vector folder.
  .cargo/config.toml
  crates/app/radix-connect/src/mobile/deep_link_parsing/parser.rs
  crates/app/signing/src/tests/auth_intent_hash.rs
  crates/core/prelude/src/lib.rs
  crates/factors/factors/src/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source.rs
  crates/profile/models/profile_SPLIT_ME/src/encrypted_profile/encrypted_profile_snapshot.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/profile.rs
  crates/sargon/tests/vectors/main.rs
  fixtures/models/interaction/deep_link_request_params.json
  fixtures/models/interaction/rola_challenge_payload_hash_vectors.json
  fixtures/models/interaction/wallet_interaction_batch_of_transactions.json
  fixtures/models/interaction/wallet_interactions_dapp_to_wallet.json
  fixtures/models/interaction/wallet_interactions_wallet_to_dapp.json
  fixtures/models/profile/big_profile_100_accounts.json
  fixtures/models/profile/huge_profile_1000_accounts.json
  fixtures/models/profile/multi_profile_snapshots_test_version_100_patch_after_app_version_120.json
  fixtures/models/profile/only_plaintext_profile_snapshot_version_100.json
  fixtures/models/profile/profile_encrypted_by_password_empty.json
  fixtures/models/profile/profile_encrypted_by_password_of_babylon.json
  fixtures/models/profile_submodels/security_questions_factor_source_sample.json
  fixtures/models/profile_submodels/security_questions_factor_source_sample_other.json
Due: fmt, clippy, unit tests

interaction
  Cargo.lock
  crates/app/radix-connect/Cargo.toml
  crates/app/radix-connect/src/lib.rs
  crates/app/radix-connect/src/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/batch_of_transactions/batch_of_transactions.rs
  crates/app/radix-connect/src/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/batch_of_transactions/batch_of_transactions_applying_security_shield.rs
  crates/app/radix-connect/src/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/batch_of_transactions/mod.rs
  crates/system/os/factors/src/apply_security_shield/sargon_os_apply_security_shield_interaction.rs
  crates/uniffi/uniffi_SPLIT_ME/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/batch_of_transactions/batch_of_transactions.rs
  crates/uniffi/uniffi_SPLIT_ME/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/batch_of_transactions/batch_of_transactions_applying_security_shield.rs
  crates/uniffi/uniffi_SPLIT_ME/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/batch_of_transactions/mod.rs
Due: fmt, clippy, unit tests

add interaction model
  crates/system/os/factors/src/apply_security_shield/sargon_os_apply_security_shield_interaction.rs
  crates/system/os/factors/src/apply_security_shield/sargon_os_apply_shield.rs
  crates/transaction/manifests/src/manifests_security_shield/manifests_securify_shield_securified_entity.rs
  fixtures/models/interaction/wallet_interaction_batch_of_transactions.json
Due: fmt, clippy, unit tests

change 'number_of_days_until_timed_confirmation_is_callable' into 'time_until_delayed_confirmation_is_callable' and change type from u16 into TimePeriod
  crates/factors/instances-provider/src/next_index_assigner/next_derivation_entity_index_profile_analyzing_assigner.rs
  crates/profile/logic/logic_SPLIT_ME/src/tests/matrix_of_factor_instances_index_agnostic.rs
  crates/profile/models/app-preferences/src/security.rs
  crates/profile/models/base-entity/src/entity_security_state/entity_security_state.rs
  crates/profile/models/base-entity/src/entity_security_state/secured_entity_control/secured_entity_control.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/abstract_matrix_builder_or_built.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/builder/matrix_builder.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/builder/matrix_builder_unit_tests.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/builder/matrix_template.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/matrix_of_factor_instances.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/matrix_of_factor_source_ids.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/matrix_of_factor_sources.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_structure_of_factors/security_structure_of_factor_instances.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_structure_of_factors/security_structure_of_factor_source_ids.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_structure_of_factors/security_structure_of_factor_sources.rs
  crates/profile/models/security-structures/src/time_period.rs
  crates/profile/models/security-structures/src/time_period_unit.rs
  crates/system/os/factors/src/apply_security_shield/sargon_os_apply_shield.rs
  crates/system/os/factors/src/test_instances_provider.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/matrices/decl_matrix_macro.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/models/time_period.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

simplify interaction to use Vec<UnvalidatedTransactionManifest> again
  crates/app/radix-connect/src/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/batch_of_transactions/batch_of_transactions.rs
  crates/app/radix-connect/src/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/batch_of_transactions/batch_of_transactions_applying_security_shield.rs
  crates/app/radix-connect/src/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/batch_of_transactions/mod.rs
  crates/system/os/factors/src/apply_security_shield/sargon_os_apply_security_shield_interaction.rs
  crates/uniffi/uniffi_SPLIT_ME/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/batch_of_transactions/batch_of_transactions.rs
  crates/uniffi/uniffi_SPLIT_ME/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/batch_of_transactions/batch_of_transactions_applying_security_shield.rs
  crates/uniffi/uniffi_SPLIT_ME/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/batch_of_transactions/mod.rs
  fixtures/models/interaction/wallet_interaction_batch_of_transactions.json
Due: fmt, clippy, unit tests

doc
  crates/system/os/factors/src/apply_security_shield/sargon_os_apply_security_shield_interaction.rs
Due: fmt, clippy, unit tests

try fix swift tests
  apple/Sources/Sargon/Drivers/FileSystem/FileSystemDriver+Data+ContentsOf+URL.swift
  apple/Sources/Sargon/Drivers/UnsafeStorage/UnsafeStorageDriver+UserDefaults.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/MFA/SecurityShieldBuilder+Swifified.swift
  apple/Sources/Sargon/Protocols/EntityProtocol.swift
  apple/Tests/IntegrationTests/SargonOS/TestOSTests.swift
  apple/Tests/TestCases/Profile/Collection/AccountsTests.swift
  apple/Tests/TestCases/Profile/Collection/FactorSourcesTests.swift
  apple/Tests/TestCases/Profile/Factor/DeviceFactorSourceTests.swift
  apple/Tests/TestCases/Profile/MFA/SecurityShieldsBuilderTests.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
  apple/Tests/TestCases/RadixConnect/WalletInteraction/WalletToDappInteractionResponseTests.swift
  apple/Tests/Utils/Extensions/UUID+Literals.swift
  apple/Tests/Utils/Test.swift
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/abstract_matrix_builder_or_built.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/builder/matrix_builder.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/builder/matrix_builder_unit_tests.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/builder/matrix_template.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/matrix_of_factor_source_ids.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder.rs
  crates/transaction/manifests/src/manifests_security_shield/manifests_securify_shield_securified_entity.rs
  crates/transaction/manifests/src/manifests_security_shield/roles_exercisable_in_transaction_manifest_combination.rs
  crates/transaction/manifests/src/manifests_security_shield/transaction_manifest_unsecurified_entity_owner_badge_into_bucket_putting.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/security_shield_builder.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

try fix kotlin
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
Due: none

wip
  Cargo.lock
Due: none

wip
  Cargo.lock
  Package.swift
  apple/Sources/Sargon/Drivers/ArculusCSDK/ArculusCSDK.swift
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCSessionClient.swift
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCTag+IO.swift
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCTagDriver.swift
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCTagReaderSessionAsyncDelegate.swift
  crates/sargon/Cargo.toml
  crates/system/clients/clients/Cargo.toml
  crates/system/drivers/Cargo.toml
Due: ensure Swift setup for local development, SwiftFormat

create WalletToDappInteractionAuthProof on Sargon
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/WalletInteraction/WalletToDappInteractionAuthProof+Wrap+Functions.swift
  apple/Tests/TestCases/RadixConnect/WalletInteraction/WalletToDappInteractionAuthProofTests.swift
  crates/app/radix-connect/src/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_proof.rs
  crates/uniffi/uniffi_SPLIT_ME/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_proof.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

add Kotlin extensions
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/WalletToDappInteractionAuthProof.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/WalletToDappInteractionAuthProof.kt
Due: none

polish
  crates/system/os/factors/src/apply_security_shield/sargon_os_apply_security_shield_interaction.rs
  crates/transaction/manifests/src/manifests_security_shield/manifests_securify_shield_securified_entity.rs
  crates/transaction/manifests/src/manifests_security_shield/roles_exercisable_in_transaction_manifest_combination.rs
  crates/transaction/manifests/src/manifests_security_shield/transaction_manifest_unsecurified_entity_owner_badge_into_bucket_putting.rs
  fixtures/models/interaction/wallet_interaction_batch_of_transactions.json
  fixtures/transaction/update_shield_of_persona_init_with_P_confirm_with_T.rtm
  fixtures/transaction/update_shield_of_persona_init_with_R_confirm_with_C.rtm
Due: fmt, clippy, unit tests

dont set ROLA key when using timed completion of recovery.
  crates/app/radix-connect/src/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/batch_of_transactions/batch_of_transactions.rs
  crates/transaction/manifests/src/manifests_security_shield/manifests_securify_shield_securified_entity.rs
  crates/transaction/manifests/src/manifests_security_shield/roles_exercisable_in_transaction_manifest_combination.rs
  fixtures/transaction/update_shield_of_account_init_with_P_confirm_with_C.rtm
  fixtures/transaction/update_shield_of_account_init_with_P_confirm_with_C_with_top_up_where_payer_is_entity_applying_shield.rtm
  fixtures/transaction/update_shield_of_account_init_with_P_confirm_with_C_with_top_up_where_payer_is_entity_applying_shield_with_xrd_lock.rtm
  fixtures/transaction/update_shield_of_persona_init_with_P_confirm_with_C.rtm
  fixtures/transaction/update_shield_of_persona_init_with_P_confirm_with_T.rtm
  fixtures/transaction/update_shield_of_persona_init_with_R_confirm_with_P.rtm
Due: fmt, clippy, unit tests

[no-ci] WIP
  crates/system/os/factors/src/apply_security_shield/sargon_os_apply_security_shield_interaction.rs
  crates/system/os/factors/src/apply_security_shield_payload_to_sign.rs
  crates/system/os/factors/src/lib.rs
  crates/transaction/manifests/src/manifests_security_shield/top_up_access_controller_xrd_vault.rs
Due: fmt, clippy, unit tests

Remove SecurityQuestions & TrustedContact from UniFFI & Hosts
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/FactorSourceIDFromAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/SecurityQuestionsFactorSource+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/TrustedContactFactorSource+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/EmailAddress+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Factor/FactorSource/FactorSourceIDFromAddress+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Factor/FactorSource/SecurityQuestionsFactorSource+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Factor/FactorSource/TrustedContactFactorSource+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Factor/FactorSource/TrustedContactFactorSourceContact+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSource+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSourceIDFromAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/SecurityQuestionsFactorSource+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/TrustedContactFactorSource+Swiftified.swift
  apple/Tests/TestCases/Profile/Factor/DeviceFactorSourceTests.swift
  apple/Tests/TestCases/Profile/Factor/FactorSourceIDFromAddressTests.swift
  apple/Tests/TestCases/Profile/Factor/FactorSourceIDFromHashTests.swift
  apple/Tests/TestCases/Profile/Factor/SecurityQuestionsFactorSourceTests.swift
  apple/Tests/TestCases/Profile/Factor/TrustedContactFactorSourceTests.swift
  apple/Tests/TestCases/Profile/MFA/SecurityShieldsBuilderTests.swift
  crates/factors/factors/src/factor_source_kind.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/mfa_factor_sources/security_questions_factor_source/answer/security_question_and_answer.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/mfa_factor_sources/security_questions_factor_source/kdf/security_questions_keys_from_questions_and_answer_scheme.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/mfa_factor_sources/security_questions_factor_source/question/security_question.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/mfa_factor_sources/security_questions_factor_source/question/security_question_kind.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/mfa_factor_sources/security_questions_factor_source/question/security_questions.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/mfa_factor_sources/security_questions_factor_source/security_questions_sealed_mnemonic.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/mfa_factor_sources/trusted_contact_factor_source/trusted_contact_factor_source.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/mfa_factor_sources/trusted_contact_factor_source/trusted_contact_factor_source_contact.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/factors/factor_source.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/factors/factor_source_id.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/factors/factor_source_kind.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSource.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSourceId.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/SecurityQuestionsFactorSource.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/TrustedContactFactorSource.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourceIdTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourceTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SecurityQuestionsFactorSourceTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TrustedContactFactorSourceTest.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

replace commented lines with single comments
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/mfa_factor_sources/security_questions_factor_source/answer/security_question_and_answer.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/mfa_factor_sources/security_questions_factor_source/kdf/security_questions_keys_from_questions_and_answer_scheme.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/mfa_factor_sources/security_questions_factor_source/question/security_question.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/mfa_factor_sources/security_questions_factor_source/question/security_question_kind.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/mfa_factor_sources/security_questions_factor_source/question/security_questions.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/mfa_factor_sources/security_questions_factor_source/security_questions_sealed_mnemonic.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/mfa_factor_sources/trusted_contact_factor_source/trusted_contact_factor_source.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/mfa_factor_sources/trusted_contact_factor_source/trusted_contact_factor_source_contact.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/WalletInteraction/WalletToDappInteractionAuthProof+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/WalletInteraction/WalletToDappInteractionProofOfOwnership+Wrap+Functions.swift
  apple/Tests/TestCases/RadixConnect/WalletInteraction/WalletToDappInteractionAuthProofTests.swift
  apple/Tests/TestCases/RadixConnect/WalletInteraction/WalletToDappInteractionProofOfOwnershipTests.swift
  crates/app/radix-connect/src/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/proof_of_ownership/proof.rs
  crates/uniffi/uniffi_SPLIT_ME/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_proof.rs
  crates/uniffi/uniffi_SPLIT_ME/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/proof_of_ownership/proof.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/WalletToDappInteractionAuthProof.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/WalletToDappInteractionProofOfOwnership.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/WalletToDappInteractionAuthProof.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/WalletToDappInteractionAuthProofTest
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/WalletToDappInteractionProofOfOwnershipTest.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

lint and missing tests
  apple/Tests/TestCases/Profile/MFA/SecurityShieldsBuilderTests.swift
  apple/Tests/TestCases/RadixConnect/WalletInteraction/WalletToDappInteractionAuthProofTests.swift
  crates/app/radix-connect/src/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/proof_of_ownership/proof.rs
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/WalletToDappInteractionAuthProofTest
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/WalletToDappInteractionProofOfOwnershipTest.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Refactored inits from Signatures (#363)
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/WalletInteraction/WalletToDappInteractionAuthProof+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/WalletInteraction/WalletToDappInteractionProofOfOwnership+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/MFA/SecurityShieldsBuilderTests.swift
  apple/Tests/TestCases/RadixConnect/WalletInteraction/WalletToDappInteractionAuthProofTests.swift
  apple/Tests/TestCases/RadixConnect/WalletInteraction/WalletToDappInteractionProofOfOwnershipTests.swift
  crates/app/radix-connect/src/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/proof_of_ownership/proof.rs
  crates/uniffi/uniffi_SPLIT_ME/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_proof.rs
  crates/uniffi/uniffi_SPLIT_ME/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/proof_of_ownership/proof.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/WalletToDappInteractionAuthProof.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/WalletToDappInteractionProofOfOwnership.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/WalletToDappInteractionAuthProof.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/WalletToDappInteractionAuthProofTest
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/WalletToDappInteractionProofOfOwnershipTest.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

remove outdated comment
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Factor/FactorSource/TrustedContactFactorSourceContact+SampleValues.swift
Due: ensure Swift setup for local development, SwiftFormat

Update WalletToDappInteractionAuthProofTests.swift
  apple/Tests/TestCases/RadixConnect/WalletInteraction/WalletToDappInteractionAuthProofTests.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  Cargo.lock
  crates/crypto/addresses/src/address/address_union.rs
  crates/crypto/addresses/src/address/mod.rs
  crates/system/os/factors/Cargo.toml
  crates/system/os/factors/src/apply_security_shield/sargon_os_apply_security_shield_interaction.rs
  crates/system/os/factors/src/apply_security_shield_payload_to_sign.rs
  crates/system/os/factors/src/lib.rs
Due: fmt, clippy, unit tests

Expose make interaction for applying shields
  crates/system/os/factors/src/apply_security_shield/sargon_os_apply_shield.rs
  crates/transaction/manifests/src/manifests_security_shield/manifests_securify_shield_unsecurified_entity.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_apply_security_shield_interaction.rs
  fixtures/transaction/create_access_controller_for_account.rtm
  fixtures/transaction/create_access_controller_for_account_with_ac_xrd_vault_top_up_by_securified_account_amount_42.rtm
  fixtures/transaction/create_access_controller_for_account_with_ac_xrd_vault_top_up_by_unsecurified_account.rtm
  fixtures/transaction/create_access_controller_for_persona.rtm
Due: fmt, clippy, unit tests

Fix set rola key when securifying entities
  crates/transaction/manifests/src/manifests_security_shield/manifests_securify_shield_unsecurified_entity.rs
  fixtures/models/interaction/wallet_interaction_batch_of_transactions.json
  fixtures/transaction/create_access_controller_for_account.rtm
  fixtures/transaction/create_access_controller_for_account_with_ac_xrd_vault_top_up_by_securified_account_amount_42.rtm
  fixtures/transaction/create_access_controller_for_account_with_ac_xrd_vault_top_up_by_unsecurified_account.rtm
  fixtures/transaction/create_access_controller_for_persona.rtm
  fixtures/transaction/create_access_controller_for_persona_with_ac_xrd_vault_top_up_by_securified_account_amount_42.rtm
  fixtures/transaction/create_access_controller_for_persona_with_ac_xrd_vault_top_up_by_unsecurified_account.rtm
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/core/error/src/common_error.rs
  crates/profile/logic/logic_SPLIT_ME/src/logic/account/query_accounts.rs
  crates/profile/models/supporting-types/src/unsecurified_entity.rs
  crates/system/os/factors/src/apply_security_shield_payload_to_sign.rs
Due: fmt, clippy, unit tests

Update comments
  crates/system/os/factors/src/apply_security_shield/sargon_os_apply_shield.rs
Due: fmt, clippy, unit tests
