Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

Make drivers explicit
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/Bios.kt
Due: none

Make reset keyspec method to regenerate a new key when fail
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/KeySpec.kt
Due: none

Replace with new_wallet_with_derived_bdfs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/system/sargon_os/sargon_os.rs
Due: fmt, clippy, unit tests

Fix android test
  jvm/sargon-android/src/androidTest/kotlin/com/radixdlt/sargon/os/driver/AndroidStorageDriverDeviceFactorSourceMnemonicTest.kt
Due: none

Allow set profile to set one profile when none exists
  crates/sargon/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/system/sargon_os/sargon_os_profile.rs
Due: fmt, clippy, unit tests

Change doc
  crates/sargon/src/profile/v100/profile.rs
  examples/android/src/main/java/com/radixdlt/sargon/android/ExampleApplication.kt
Due: fmt, clippy, unit tests

Change iOS test
  apple/Tests/IntegrationTests/DriversTests/EventBusDriverTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Bump version
  Cargo.lock
  crates/sargon/Cargo.toml
Due: none

add MFA module
  crates/sargon/src/lib.rs
  crates/sargon/src/mfa/mod.rs
Due: fmt, clippy, unit tests

Fix set_profile to notify ProfileStateChange client about the latest mutated profile
  crates/sargon/src/system/drivers/drivers.rs
  crates/sargon/src/system/sargon_os/profile_state_holder.rs
  crates/sargon/src/system/sargon_os/sargon_os_profile.rs
Due: fmt, clippy, unit tests

Fix content hint to report correct total amount of personas
  crates/sargon/src/profile/v100/networks/profile_networks.rs
  crates/sargon/src/profile/v100/profile.rs
Due: fmt, clippy, unit tests

Create initial profile with no networks
  crates/sargon/src/system/sargon_os/sargon_os.rs
Due: fmt, clippy, unit tests

Delete ephemeral profile when booting
  crates/sargon/src/system/sargon_os/sargon_os.rs
Due: fmt, clippy, unit tests

Return error when network does not yet exist
  apple/Sources/Sargon/SargonOS/TestOS.swift
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/profile/logic/account/query_accounts.rs
  crates/sargon/src/profile/logic/gateway/current_gateway.rs
  crates/sargon/src/system/sargon_os/profile_state_holder.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  apple/Sources/Sargon/Util/EventPublisher.swift
  crates/sargon/src/system/clients/client/secure_storage_client/secure_storage_client.rs
  crates/sargon/src/system/drivers/secure_storage_driver/support/secure_storage_key.rs
  crates/sargon/src/system/sargon_os/sargon_os_profile.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  crates/sargon/src/system/clients/client/secure_storage_client/secure_storage_client.rs
  crates/sargon/src/system/drivers/secure_storage_driver/support/secure_storage_key.rs
  crates/sargon/src/system/sargon_os/sargon_os_profile.rs
Due: fmt, clippy, unit tests

fix test
  apple/Sources/Sargon/SargonOS/TestOS.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  crates/sargon/src/profile/v100/header/mod.rs
  crates/sargon/src/profile/v100/header/profile_id.rs
  crates/sargon/src/profile/v100/header/profile_id_uniffi_fn.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidStorageDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/key/ProfileSnapshotKeyMapping.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SecureStorageKeyTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/key/ByteArrayKeyMappingTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/key/ProfileSnapshotKeyMappingTest.kt
Due: fmt, clippy, unit tests

fix ios tests
  apple/Sources/Sargon/SargonOS/SargonOS+Static+Shared.swift
  apple/Sources/Sargon/SargonOS/TestOS.swift
  apple/Tests/IntegrationTests/DriversTests/DriversTests.swift
  apple/Tests/IntegrationTests/DriversTests/InsecureStorageTests.swift
  apple/Tests/IntegrationTests/SargonOS/SargonOSTests.swift
Due: ensure Swift setup for local development, SwiftFormat

test
  crates/sargon/src/profile/v100/header/profile_id_uniffi_fn.rs
Due: fmt, clippy, unit tests

ci: Phylum Integration
  .github/workflows/test.yml
  .phylum_project
Due: none

ci: Test fix workflow
  .github/workflows/test.yml
Due: none

wip
  Cargo.lock
  Package.swift
  crates/sargon/Cargo.toml
Due: ensure Swift setup for local development, SwiftFormat

ci: Change public iac action to main branch
  .github/workflows/test.yml
Due: none

Bump AsyncExtensions (#216)
  Cargo.lock
  Package.swift
  crates/sargon/Cargo.toml
Due: ensure Swift setup for local development, SwiftFormat

Release of '1.1.14' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

update
  crates/sargon/src/system/drivers/secure_storage_driver/support/secure_storage_key.rs
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SecureStorageKeyTest.kt
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/system/drivers/secure_storage_driver/support/secure_storage_key.rs
Due: fmt, clippy, unit tests

test phylum pre-commit
  .pre-commit-config.yaml
Due: none

test phylum pre-commit
  Cargo.lock
Due: none

ci: Add phylum daily analysis
  .github/workflows/phylum-daily-analysis.yaml
  .pre-commit-config.yaml
Due: none

ci: Add pre-push phylum analysis
  .pre-commit-config.yaml
Due: none

ci: Delete test text
  Cargo.lock
Due: none

ci: Test comment in case of failure
  .github/workflows/test.yml
Due: none

bump AsyncExtension on Package.resolved
  Package.resolved
Due: none

[no ci] WIP
  Cargo.lock
  crates/sargon/Cargo.toml
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
Due: fmt, clippy, unit tests

ci: Change phylum analyze action branch
  .github/workflows/test.yml
Due: none

WIP
  Cargo.lock
  crates/sargon/Cargo.toml
  crates/sargon/src/lib.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
Due: fmt, clippy, unit tests

WIP
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_receipt.rs
Due: fmt, clippy, unit tests

renames
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest_uniffi_fn.rs
Due: fmt, clippy, unit tests
