Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

many tests for collission and android bug
  crates/sargon/src/profile/v100/profile_legacy_state_bugs.rs
Due: fmt, clippy, unit tests

more tests
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
  crates/sargon/src/profile/v100/profile.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

doc
  crates/sargon/src/profile/v100/profile.rs
Due: fmt, clippy, unit tests

rename Passphrase to Password + hint
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/PassphraseFactorSource+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/PasswordFactorSource+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Derivation/BIP39/Mnemonic+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Factor/FactorSource/PassphraseFactorSource+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Factor/FactorSource/PasswordFactorSource+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSource+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/PasswordFactorSource+Swiftified.swift
  apple/Tests/TestCases/Profile/Factor/PasswordFactorSourceTests.swift
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon-uniffi/src/hierarchical_deterministic/bip39/mnemonic.rs
  crates/sargon-uniffi/src/profile/mfa/mfa_factor_sources/mod.rs
  crates/sargon-uniffi/src/profile/mfa/mfa_factor_sources/password_factor_source/mod.rs
  crates/sargon-uniffi/src/profile/mfa/mfa_factor_sources/password_factor_source/password_factor_source.rs
  crates/sargon-uniffi/src/profile/mfa/mfa_factor_sources/password_factor_source/password_factor_source_hint.rs
  crates/sargon-uniffi/src/profile/mfa/mod.rs
  crates/sargon-uniffi/src/profile/mfa/passphrase_factor_source/mod.rs
  crates/sargon-uniffi/src/profile/v100/factors/factor_source.rs
  crates/sargon-uniffi/src/profile/v100/factors/factor_source_kind.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/factor_instances_provider/factor_instances_cache/factor_instances_cache.rs
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
  crates/sargon/src/hierarchical_deterministic/bip39/mnemonic.rs
  crates/sargon/src/hierarchical_deterministic/derivation/mnemonic_with_passphrase.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/mod.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/passphrase_factor_source/mod.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/password_factor_source/mod.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/password_factor_source/password_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/password_factor_source/password_factor_source_hint.rs
  crates/sargon/src/profile/v100/factors/factor_source.rs
  crates/sargon/src/profile/v100/factors/factor_source_id_from_hash.rs
  crates/sargon/src/profile/v100/factors/factor_source_kind.rs
  crates/sargon/src/signing/collector/signatures_collector.rs
  crates/sargon/src/types/samples/factor_source_ids_with_samples.rs
  crates/sargon/src/types/samples/factor_source_samples.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSource.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

remove 'is_android' check
  crates/sargon/src/profile/supporting_types/host_os.rs
  crates/sargon/src/profile/v100/profile.rs
  crates/sargon/src/profile/v100/profile_legacy_state_bugs.rs
  crates/sargon/src/system/clients/client/host_info_client/host_info_client.rs
  crates/sargon/src/system/sargon_os/profile_state_holder.rs
  crates/sargon/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/system/sargon_os/sargon_os_profile.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
Due: fmt, clippy, unit tests

typos
  crates/sargon/src/profile/v100/profile.rs
Due: fmt, clippy, unit tests

Lenient `assert_factor_instances_valid` (#280)
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/off_device_mnemonic_factor_source/off_device_factor_source_hint.rs
  crates/sargon/src/profile/supporting_types/host_os.rs
  crates/sargon/src/profile/v100/entity/is_entity.rs
  crates/sargon/src/profile/v100/mod.rs
  crates/sargon/src/profile/v100/profile.rs
  crates/sargon/src/profile/v100/profile_legacy_state_bugs.rs
  crates/sargon/src/system/sargon_os/profile_state_holder.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/system/sargon_os/sargon_os_profile.rs
Due: fmt, clippy, unit tests

Make handler's askForBiometrics public
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidBiometricAuthorizationDriver.kt
Due: none

Bump version
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

Expose `askForBiometrics()` to host (#281)
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidBiometricAuthorizationDriver.kt
Due: none

Swift extension
  apple/Sources/Sargon/Util/Instant+Date.swift
  apple/Tests/Utils/Extensions/Instant+Date.swift
Due: ensure Swift setup for local development, SwiftFormat

WIP
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/pre_authorization/pre_authorization.rs
  crates/sargon/src/core/types/instant.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/pre_authorization/pre_authorization.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/pre_authorization/subintent_response.rs
  crates/sargon/tests/vectors/main.rs
Due: fmt, clippy, unit tests

poll with Instant
  crates/sargon-uniffi/src/system/sargon_os/pre_authorization/sargon_os_pre_authorization_status.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/pre_authorization/subintent_response.rs
  crates/sargon/src/system/sargon_os/pre_authorization/sargon_os_pre_authorization_status.rs
  crates/sargon/tests/vectors/main.rs
Due: fmt, clippy, unit tests

bump
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

bring back test
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/pre_authorization/subintent_response.rs
Due: fmt, clippy, unit tests

wip
  apple/Tests/TestCases/Profile/Factor/PasswordFactorSourceTests.swift
  crates/sargon-uniffi/src/profile/mfa/mfa_factor_sources/password_factor_source/password_factor_source_hint.rs
  crates/sargon-uniffi/src/profile/v100/factors/factor_sources/device_factor_source/device_factor_source_hint.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/password_factor_source/password_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/password_factor_source/password_factor_source_hint.rs
  crates/sargon/src/profile/v100/factors/factor_sources/device_factor_source/device_factor_source_hint.rs
  crates/sargon/src/types/samples/factor_source_samples.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Determine expiration from SignedSubintent (#282)
  Cargo.lock
  apple/Sources/Sargon/Util/Instant+Date.swift
  apple/Tests/Utils/Extensions/Instant+Date.swift
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/pre_authorization/pre_authorization.rs
  crates/sargon-uniffi/src/system/sargon_os/pre_authorization/sargon_os_pre_authorization_status.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/core/types/instant.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/pre_authorization/pre_authorization.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/pre_authorization/subintent_response.rs
  crates/sargon/src/system/sargon_os/pre_authorization/sargon_os_pre_authorization_status.rs
  crates/sargon/tests/vectors/main.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/profile/mfa/mfa_factor_sources/password_factor_source/password_factor_source_hint.rs
  crates/sargon-uniffi/src/profile/v100/factors/factor_sources/device_factor_source/device_factor_source_hint.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/profile/mfa/mfa_factor_sources/arculus_card_factor_source/arculus_card_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/off_device_mnemonic_factor_source/off_device_mnemonic_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/password_factor_source/password_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/password_factor_source/password_factor_source_hint.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/trusted_contact_factor_source/trusted_contact_factor_source.rs
  crates/sargon/src/profile/v100/factors/factor_source.rs
  crates/sargon/src/profile/v100/factors/factor_sources/device_factor_source/device_factor_source.rs
  crates/sargon/src/profile/v100/factors/factor_sources/device_factor_source/device_factor_source_hint.rs
  crates/sargon/src/profile/v100/factors/factor_sources/ledger_hardware_wallet_factor_source/ledger_hardware_wallet_factor_source.rs
  crates/sargon/src/profile/v100/factors/is_factor_source.rs
  crates/sargon/src/types/samples/factor_source_samples.rs
Due: fmt, clippy, unit tests

Add SwiftFormat config and pre-commit
  .pre-commit-config.yaml
  .swift-format
  .swiftformat
Due: none

add step to CI
  .github/workflows/test.yml
Due: none

wip
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/FactorSource+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/Factor/FactorSourceTests.swift
  crates/sargon-uniffi/src/profile/v100/factors/factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/password_factor_source/password_factor_source_hint.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSource.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourceTest.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

DRY factor source
  crates/sargon-uniffi/src/profile/v100/factors/factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/arculus_card_factor_source/arculus_card_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/off_device_mnemonic_factor_source/off_device_mnemonic_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/password_factor_source/password_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/trusted_contact_factor_source/trusted_contact_factor_source.rs
  crates/sargon/src/profile/v100/factors/factor_source.rs
  crates/sargon/src/profile/v100/factors/factor_sources/device_factor_source/device_factor_source.rs
  crates/sargon/src/profile/v100/factors/factor_sources/ledger_hardware_wallet_factor_source/ledger_hardware_wallet_factor_source.rs
  crates/sargon/src/profile/v100/factors/is_factor_source.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/profile/v100/factors/factor_source.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon-uniffi/src/profile/mfa/mfa_factor_sources/password_factor_source/password_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/password_factor_source/password_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/password_factor_source/password_factor_source_hint.rs
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourceTest.kt
Due: fmt, clippy, unit tests

bump version
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

wip
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/ArculusCardFactorSource+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/Factor/ArculusCardFactorSourceTests.swift
  apple/Tests/TestCases/Profile/Factor/LedgerHardwareWalletFactorSourceTests.swift
  apple/Tests/TestCases/Profile/Factor/OffDeviceMnemonicFactorSourceTests.swift
  crates/sargon-uniffi/src/profile/mfa/mfa_factor_sources/arculus_card_factor_source/arculus_card_hint.rs
  crates/sargon-uniffi/src/profile/mfa/mfa_factor_sources/off_device_mnemonic_factor_source/off_device_factor_source_hint.rs
  crates/sargon-uniffi/src/profile/v100/factors/factor_sources/ledger_hardware_wallet_factor_source/ledger_hardware_wallet_hint.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/arculus_card_factor_source/arculus_card_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/arculus_card_factor_source/arculus_card_hint.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/off_device_mnemonic_factor_source/off_device_factor_source_hint.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/off_device_mnemonic_factor_source/off_device_mnemonic_factor_source.rs
  crates/sargon/src/profile/v100/factors/factor_source.rs
  crates/sargon/src/profile/v100/factors/factor_sources/ledger_hardware_wallet_factor_source/ledger_hardware_wallet_factor_source.rs
  crates/sargon/src/profile/v100/factors/factor_sources/ledger_hardware_wallet_factor_source/ledger_hardware_wallet_hint.rs
  crates/sargon/src/system/sargon_os/sargon_os_factors.rs
  examples/iOS/Backend/Sources/Planbok/Dependencies/FactorSourcesClient.swift
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourceTest.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

fmt
  crates/sargon-uniffi/src/profile/mfa/mfa_factor_sources/arculus_card_factor_source/arculus_card_hint.rs
  crates/sargon-uniffi/src/profile/v100/factors/factor_sources/ledger_hardware_wallet_factor_source/ledger_hardware_wallet_hint.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/arculus_card_factor_source/arculus_card_hint.rs
  crates/sargon/src/profile/v100/factors/factor_source.rs
  crates/sargon/src/profile/v100/factors/factor_sources/ledger_hardware_wallet_factor_source/ledger_hardware_wallet_hint.rs
Due: fmt, clippy, unit tests

fix tests
  apple/Tests/TestCases/Prelude/NonFungibleGlobalIDTests.swift
  apple/Tests/TestCases/Prelude/NonFungibleLocalIDTests.swift
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
Due: ensure Swift setup for local development, SwiftFormat

fixes + tests
  crates/sargon/src/profile/mfa/mfa_factor_sources/arculus_card_factor_source/arculus_card_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/off_device_mnemonic_factor_source/off_device_mnemonic_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/password_factor_source/password_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/trusted_contact_factor_source/trusted_contact_factor_source.rs
  crates/sargon/src/profile/v100/factors/factor_sources/device_factor_source/device_factor_source.rs
  crates/sargon/src/profile/v100/factors/factor_sources/device_factor_source/device_factor_source_hint.rs
  crates/sargon/src/profile/v100/factors/factor_sources/ledger_hardware_wallet_factor_source/ledger_hardware_wallet_factor_source.rs
  crates/sargon/src/profile/v100/factors/factor_sources/ledger_hardware_wallet_factor_source/ledger_hardware_wallet_hint.rs
Due: fmt, clippy, unit tests

Cov: add `status` to codecov.yml
  codecov.yml
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

bump version + fmt
  Cargo.lock
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/PasswordFactorSource+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Derivation/BIP39/Mnemonic+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Factor/FactorSource/PasswordFactorSource+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/PasswordFactorSource+Swiftified.swift
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: ensure Swift setup for local development, SwiftFormat

fix test
  crates/sargon/src/profile/mfa/mfa_factor_sources/arculus_card_factor_source/arculus_card_factor_source.rs
Due: fmt, clippy, unit tests

fix most tests
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/securify_entity_factor_instances_provider.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/matrix_template.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/matrix_of_factor_instances.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/matrix_of_factor_source_ids.rs
  crates/sargon/src/profile/mfa/security_structures/roles/factor_levels/factor_source_level/mod.rs
  crates/sargon/src/profile/mfa/security_structures/security_structure_of_factors/security_structure_of_factor_sources.rs
  crates/sargon/src/profile/v100/app_preferences/security.rs
  crates/sargon/src/types/samples/account_samples.rs
  crates/sargon/src/types/samples/persona_samples.rs
Due: fmt, clippy, unit tests

sargon works
  crates/sargon/src/profile/mfa/security_structures/security_structure_of_factors/security_structure_of_factor_sources.rs
  crates/sargon/src/profile/v100/app_preferences/security.rs
  crates/sargon/src/profile/v100/entity_security_state/entity_security_state.rs
  crates/sargon/src/signing/petition_types/petition_for_entity.rs
Due: fmt, clippy, unit tests
