Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

Update UniFFI (#130)
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Profile+Swiftified.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/MnemonicWithPassphrase.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/MnemonicWithPassphraseTest.kt
  src/core/types/identified_vec_of/identified_vec_of_uniffi_converter.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Fix equality amd hashcode in identifiable collections
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Accounts.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AssetsExceptionList.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AuthorizedDapps.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DepositorsAllowList.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/EntityFlags.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSources.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Gateways.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/IdentifiedArray.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2PLinks.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Personas.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ProfileNetworks.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ReferencesToAuthorizedPersonas.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SupportedCurves.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AccountsTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AssetsExceptionListTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AuthorizedDappsTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DepositorsAllowListTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/EntityFlagsTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourcesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/GatewaysTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/IdentifiedArrayTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/P2PLinksTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PersonasTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileNetworksTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ReferencesToAuthorizedPersonasTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SupportedCurvesTest.kt
Due: none

Bump version
  Cargo.lock
  Cargo.toml
Due: none

Fix equality and hashcode in identifiable collections (#132)
  Cargo.lock
  Cargo.toml
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Accounts.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AssetsExceptionList.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AuthorizedDapps.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DepositorsAllowList.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/EntityFlags.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSources.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Gateways.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/IdentifiedArray.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2PLinks.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Personas.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ProfileNetworks.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ReferencesToAuthorizedPersonas.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SupportedCurves.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AccountsTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AssetsExceptionListTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AuthorizedDappsTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DepositorsAllowListTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/EntityFlagsTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourcesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/GatewaysTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/IdentifiedArrayTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/P2PLinksTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PersonasTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileNetworksTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ReferencesToAuthorizedPersonasTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SupportedCurvesTest.kt
Due: none

Release of '0.7.9' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

wip rust drivers
  .github/workflows/test.yml
  Cargo.toml
  src/system/drivers/networking_driver/support/mod.rs
  src/system/drivers/networking_driver/support/test/mod.rs
  src/system/drivers/networking_driver/support/test/rust_networking_driver.rs
  src/system/sargon_os/sargon_os_accounts.rs
  tests/integration/main.rs
Due: fmt, clippy, unit tests

Use cargo.toml for determining version name
  .github/workflows/release-android.yml
  .github/workflows/release-desktop-bins.yml
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-desktop-release/build.gradle.kts
Due: none

Remove test code
  jvm/sargon-android/build.gradle.kts
Due: none

Add tests
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/P2PLinks/RadixConnectPurpose+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/RadixConnect/P2PLinks/RadixConnectPurpose+Swiftified.swift
  apple/Tests/TestCases/Prelude/DisplayNameTests.swift
  apple/Tests/TestCases/RadixConnect/P2PLinks/RadixConnectPurposeTests.swift
  src/radix_connect/p2p_links/radix_connect_purpose.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

BROKEN WIP
  .github/workflows/test.yml
  src/system/drivers/entropy_provider_driver/mod.rs
  src/system/drivers/entropy_provider_driver/support/mod.rs
  src/system/drivers/entropy_provider_driver/support/test/mod.rs
  src/system/drivers/entropy_provider_driver/support/test/rust_entropy_driver.rs
  src/system/drivers/event_bus_driver/support/mod.rs
  src/system/drivers/event_bus_driver/support/test/mod.rs
  src/system/drivers/event_bus_driver/support/test/rust_event_bus_driver.rs
Due: fmt, clippy, unit tests

Add RadixConnectPasswordTests
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/P2PLinks/RadixConnectPassword+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/RadixConnect/P2PLinks/RadixConnectPassword+Swiftified.swift
  apple/Tests/TestCases/RadixConnect/P2PLinks/RadixConnectPasswordTests.swift
  src/radix_connect/p2p_links/radix_connect_password.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

WIP
  src/system/drivers/event_bus_driver/support/test/rust_event_bus_driver.rs
  src/system/drivers/file_system_driver/file_system_driver.rs
  src/system/drivers/file_system_driver/support/mod.rs
Due: fmt, clippy, unit tests

WIP
  src/system/drivers/file_system_driver/support/test/mod.rs
  src/system/drivers/file_system_driver/support/test/rust_file_system_driver.rs
Due: fmt, clippy, unit tests

WIP
  src/system/drivers/host_info_driver/mod.rs
  src/system/drivers/host_info_driver/support/mod.rs
  src/system/drivers/host_info_driver/support/test/mod.rs
  src/system/drivers/host_info_driver/support/test/rust_host_info_driver.rs
Due: fmt, clippy, unit tests

Parse toml to retrieve sargon version.
  jvm/buildSrc/build.gradle.kts
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/toml/SargonVersion.kt
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-desktop-release/build.gradle.kts
Due: none

WIP
  src/system/drivers/event_bus_driver/support/test/rust_event_bus_driver.rs
  src/system/drivers/file_system_driver/support/test/rust_file_system_driver.rs
  src/system/drivers/host_info_driver/support/test/rust_host_info_driver.rs
  src/system/drivers/logging_driver/logging_driver.rs
  src/system/drivers/logging_driver/support/log_level.rs
  src/system/drivers/logging_driver/support/mod.rs
  src/system/drivers/logging_driver/support/test/mod.rs
  src/system/drivers/logging_driver/support/test/rust_logging_driver.rs
  src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

Use cargo.toml for determining version name (#133)
  .github/workflows/release-android.yml
  .github/workflows/release-desktop-bins.yml
  jvm/buildSrc/build.gradle.kts
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/toml/SargonVersion.kt
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-desktop-release/build.gradle.kts
Due: none

Release of '0.7.10' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

sargon os tests
  .envrc
  README.md
  src/lib.rs
  src/system/drivers/logging_driver/logging_driver.rs
  src/system/drivers/logging_driver/support/test/rust_logging_driver.rs
  src/system/sargon_os/sargon_os.rs
  src/system/sargon_os/sargon_os_accounts.rs
  src/system/subsystems/log_system/log_system.rs
Due: fmt, clippy, unit tests

fix failing swift test
  apple/Sources/Sargon/SargonOS/TestOS.swift
Due: ensure Swift setup for local development, SwiftFormat

Add more tests
  apple/Sources/Sargon/Extensions/Methods/Crypto/Keys/Ed25519PublicKey+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Signatures/Ed25519Signature+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Keys/Ed25519PublicKey+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Signatures/Ed25519Signature+Swiftified.swift
  apple/Tests/TestCases/Crypto/Ed25519PublicKeyTests.swift
  apple/Tests/TestCases/Crypto/Ed25519SignatureTests.swift
  src/core/types/keys/ed25519/public_key.rs
  src/core/types/signatures/ed25519_signature.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

restructure
  apple/Tests/TestCases/Crypto/BIP39/MnemonicTests.swift
  src/profile/supporting_types/is_network_aware.rs
  src/profile/supporting_types/mod.rs
  src/profile/supporting_types/on_same_network_validating.rs
  src/profile/v100/address/wrap_ret_address.rs
  src/profile/v100/networks/network/accounts.rs
  src/system/sargon_os/sargon_os_accounts.rs
  src/system/sargon_os/sargon_os_profile.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Revert test
  apple/Tests/TestCases/Profile/Persona/PersonaData/PersonaDataEntryTests.swift
Due: ensure Swift setup for local development, SwiftFormat

async test util
  src/system/sargon_os/sargon_os.rs
  src/system/sargon_os/sargon_os_accounts.rs
  src/system/sargon_os/sargon_os_factors.rs
  src/system/sargon_os/sargon_os_profile.rs
  src/system/subsystems/log_system/log_system.rs
Due: fmt, clippy, unit tests

Address profile PR comments
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: fmt, clippy, unit tests

make it possible to inject mnemonic into SargonOS. for tests.
  src/system/sargon_os/sargon_os.rs
  src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

Update profile test
  apple/Tests/TestCases/Profile/ProfileTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Address PR comments
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
Due: none

Address PR comments
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/P2PLinks/P2PLink+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/RadixConnect/P2PLinks/P2PLink+Swiftified.swift
  apple/Tests/TestCases/RadixConnect/P2PLinks/P2PLinkTests.swift
  src/core/types/keys/ed25519/private_key.rs
  src/core/types/keys/ed25519/public_key.rs
  src/profile/v100/proto_profile_maybe_with_legacy_p2p_links.rs
  src/radix_connect/p2p_links/link_connection_qr_data.rs
  src/radix_connect/p2p_links/link_connection_qr_data_uniffi_fn.rs
  src/radix_connect/p2p_links/mod.rs
  src/radix_connect/p2p_links/p2p_link.rs
  src/radix_connect/p2p_links/p2p_link_uniffi_fn.rs
  src/radix_connect/p2p_links/p2p_links.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Create extensions for Decimal192 string parsing and representing in text fields
  jvm/gradle/libs.versions.toml
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Decimal192.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Decimal192Test.kt
Due: none

Add docs
  src/radix_connect/p2p_links/link_connection_qr_data.rs
  src/radix_connect/p2p_links/p2p_link.rs
  src/radix_connect/p2p_links/radix_connect_purpose.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests

Escape regex chars
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Decimal192.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Decimal192Test.kt
Due: none

Add large numbers tests
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Decimal192Test.kt
Due: none

Fix kotlin extensions for P2PLink
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2PLink.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2PLinks.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2pLink.kt
Due: none

UniFFI export function to enable rust logging
  .envrc
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/build_information/sargon_build_information_uniffi_fn.rs
Due: fmt, clippy, unit tests

Address PR comments
  apple/Tests/TestCases/RadixConnect/P2PLinks/LinkConnectionQrDataTests.swift
  src/radix_connect/p2p_links/link_connection_qr_data.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Fix cases for input
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Decimal192.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Decimal192Test.kt
Due: none

Decimal192 string parsing and representing in text fields (#134)
  jvm/gradle/libs.versions.toml
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Decimal192.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Decimal192Test.kt
Due: none

tarpaulin acc
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/build_information/sargon_build_information_uniffi_fn.rs
Due: fmt, clippy, unit tests
