Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

[ABW-3433] Fix Manifest Crash (#170)
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Extensions/Swiftified/RET/TransactionManifest+Swiftified.swift
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  src/core/error/common_error.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/modify_manifest.rs
  src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Bump to 1.0.16
  Cargo.lock
  Cargo.toml
Due: none

Release of '1.0.15' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

[ABW-3454] iOS - Display proper error messages for Sargon errors (#168)
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/SargonError+Swiftified.swift
  apple/Tests/TestCases/Prelude/SargonErrorTests.swift
  src/core/error/common_error.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Release of '1.0.16' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

hkdf
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/session/session.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/SargonError+Swiftified.swift
  apple/Tests/TestCases/Prelude/SargonErrorTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Bump to 1.0.17
  Cargo.lock
  Cargo.toml
Due: none

wip
  src/radix_connect/mobile/deep_link_parsing/parser.rs
  src/radix_connect/mobile/session/session.rs
Due: fmt, clippy, unit tests

update parse_url_into_request test
  src/radix_connect/mobile/deep_link_parsing/parser.rs
Due: fmt, clippy, unit tests

Append some extra fixed values to metadata
  fixtures/transaction/create_3_nft_collections.rtm
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_create_tokens.rs
  src/wrapped_radix_engine_toolkit/high_level/token_definition_metadata.rs
Due: fmt, clippy, unit tests

bump version
  Cargo.lock
  Cargo.toml
Due: none

Updates
  fixtures/transaction/create_3_nft_collections.rtm
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_create_tokens.rs
  src/wrapped_radix_engine_toolkit/high_level/token_definition_metadata.rs
Due: fmt, clippy, unit tests

Fix Swift test
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Add some extra metadata fields when creating token (#173)
  Cargo.lock
  Cargo.toml
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  fixtures/transaction/create_3_nft_collections.rtm
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_create_tokens.rs
  src/wrapped_radix_engine_toolkit/high_level/token_definition_metadata.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Release of '1.0.17' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

tests
  src/radix_connect/mobile/deep_link_parsing/parser.rs
  src/radix_connect/mobile/deep_link_parsing/request.rs
  src/radix_connect/mobile/relay_service/mod.rs
  src/radix_connect/mobile/relay_service/service.rs
  src/radix_connect/mobile/relay_service/success_response.rs
Due: fmt, clippy, unit tests

tests
  src/radix_connect/mobile/relay_service/success_response.rs
  src/radix_connect/mobile/session/session.rs
Due: fmt, clippy, unit tests

Fixes
  Cargo.lock
  Cargo.toml
  fixtures/transaction/create_3_nft_collections.rtm
  src/profile/v100/address/resource_address.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_create_tokens.rs
  src/wrapped_radix_engine_toolkit/high_level/token_definition_metadata.rs
Due: fmt, clippy, unit tests

wip
  src/core/error/common_error.rs
  src/wallet/deferred_deep_link/deferred_deep_link.rs
  src/wallet/deferred_deep_link/deferred_deep_link_method.rs
  src/wallet/deferred_deep_link/mod.rs
  src/wallet/deferred_deep_link/onboarding_deep_link_value.rs
  src/wallet/deferred_deep_link/parser.rs
  src/wallet/deferred_deep_link/post_onboarding_card.rs
  src/wallet/deferred_deep_link/post_onboarding_cards.rs
  src/wallet/mod.rs
Due: fmt, clippy, unit tests

tests
  src/radix_connect/mobile/deep_link_parsing/parser.rs
  src/radix_connect/mobile/deep_link_parsing/request.rs
  src/radix_connect/mobile/session/session.rs
Due: fmt, clippy, unit tests

tests
  src/radix_connect/mobile/deep_link_parsing/parser.rs
Due: fmt, clippy, unit tests

add parser tests
  src/radix_connect/mobile/deep_link_parsing/parser.rs
Due: fmt, clippy, unit tests

Fix Transaction Manifest builder (#174)
  Cargo.lock
  Cargo.toml
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  fixtures/transaction/create_3_nft_collections.rtm
  src/profile/v100/address/resource_address.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_create_tokens.rs
  src/wrapped_radix_engine_toolkit/high_level/token_definition_metadata.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Release of '1.0.18' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

add tests for KeyAgreementPublicKey
  src/core/types/keys/key_agreement/public_key.rs
  src/core/types/keys/key_agreement/public_key_uniffi_fn.rs
  src/radix_connect/mobile/deep_link_parsing/parser.rs
Due: fmt, clippy, unit tests

add tests for WalletToDappInteractionResponse
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/response.rs
Due: fmt, clippy, unit tests

add tests for KeyAgreementPrivateKey
  src/core/types/keys/key_agreement/private_key.rs
Due: fmt, clippy, unit tests

revert unwanted changed
  apple/Tests/TestCases/Prelude/SargonErrorTests.swift
  apple/Tests/TestCases/RET/NotarizedTransactionTests.swift
  apple/Tests/TestCases/RET/TransactionIntentTests.swift
  apple/Tests/TestCases/RET/TransactionManifestTests.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/mod.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/SargonError+Swiftified.swift
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/deep_link_parsing/request.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Decimal192Test.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NotarizedTransactionTest.kt
  src/radix_connect/mobile/session_storage.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/SargonError+Swiftified.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionIntentTest.kt
Due: none

wip
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/relay_service/service.rs
  src/radix_connect/mobile/relay_service/success_response.rs
  src/radix_connect/mobile/session/session.rs
Due: fmt, clippy, unit tests

wip
  src/core/error/common_error.rs
  src/gateway_api/client/gateway_client.rs
  src/radix_connect/mobile/deep_link_parsing/parser.rs
  src/wallet/secure_storage/secure_storage_key.rs
  src/wrapped_radix_engine_toolkit/low_level/compiled_notarized_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/notarized_transaction.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest_secret_magic.rs
Due: fmt, clippy, unit tests

wip
  src/radix_connect/mobile/client.rs
Due: fmt, clippy, unit tests

move signature verification
  fixtures/vector/deep_link_request_params.json
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/deep_link_parsing/parser.rs
  src/radix_connect/mobile/session/session.rs
Due: fmt, clippy, unit tests
