Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

SwiftFormat:
  name: SwiftFormat
  language: system
  entry: swiftformat .
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

Release of '0.7.11' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Fix kotlin tests
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/P2PLinkSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/P2PLinksTest.kt
Due: none

bump to 0.7.12
  Cargo.lock
  Cargo.toml
Due: none

bump to 0.7.13
  Cargo.lock
  Cargo.toml
Due: none

more tests
  src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

Release of '0.7.12' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

more tests
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2PLink.kt
  src/core/types/appearance_id.rs
  src/core/types/appearance_id_uniffi_fn.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
  src/radix_connect/p2p_links/radix_connect_purpose.rs
  src/system/sargon_os/sargon_os_accounts.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests

more tests
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2pLink.kt
  src/system/sargon_os/sargon_os_profile.rs
Due: fmt, clippy, unit tests

more tests
  src/system/clients/client/secure_storage_client/secure_storage_client.rs
  src/system/sargon_os/sargon_os.rs
  src/system/sargon_os/sargon_os_profile.rs
Due: fmt, clippy, unit tests

UniFFI export function to enable rust logging (#135)
  .envrc
  Cargo.lock
  Cargo.toml
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/build_information/sargon_build_information_uniffi_fn.rs
Due: fmt, clippy, unit tests

Release of '0.7.13' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

make sure timestamp is stable post JSON roundtrip
  src/core/utils/factory.rs
  src/profile/v100/factors/factor_source_common.rs
  src/profile/v100/header/device_info.rs
  src/profile/v100/profile.rs
  src/system/clients/client/secure_storage_client/secure_storage_client.rs
  src/system/sargon_os/sargon_os.rs
  src/system/sargon_os/sargon_os_profile.rs
Due: fmt, clippy, unit tests

logging
  .envrc
  src/system/drivers/logging_driver/logging_driver.rs
  src/system/drivers/logging_driver/support/log_level.rs
  src/system/drivers/logging_driver/support/test/rust_logging_driver.rs
  src/system/sargon_os/sargon_os.rs
  src/system/subsystems/log_system/log_system.rs
Due: fmt, clippy, unit tests

log
  apple/Sources/Sargon/Drivers/Logging/LoggingDriver+SwiftLog.swift
  apple/Tests/IntegrationTests/DriversTests/DriversTests.swift
  apple/Tests/IntegrationTests/SargonOS/BIOSTests.swift
  apple/Tests/IntegrationTests/SargonOS/SargonOSTests.swift
  apple/Tests/IntegrationTests/SargonOS/TestOSTests.swift
  apple/Tests/Utils/OSTest.swift
  apple/Tests/Utils/Test.swift
  src/system/drivers/logging_driver/support/log_level.rs
  src/system/subsystems/log_system/log_system.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

test rust file system.
  src/system/drivers/file_system_driver/support/test/rust_file_system_driver.rs
Due: fmt, clippy, unit tests

update account tests
  src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

more tests
  src/system/drivers/logging_driver/support/log_level.rs
Due: fmt, clippy, unit tests

more tests
  .envrc
  apple/Sources/Sargon/Drivers/EntropyProvider/EntropyProvider+RandomData.swift
  apple/Sources/Sargon/Drivers/EventBus/EventBus+AsyncStream.swift
  apple/Sources/Sargon/Drivers/FileSystem/FileSystemDriver+Data+ContentsOf+URL.swift
  apple/Sources/Sargon/Extensions/Swiftified/Clients/GatewayClient+Swiftified.swift
  apple/Tests/IntegrationTests/DriversTests/EntropyProviderDriverTests.swift
  apple/Tests/IntegrationTests/DriversTests/EventBusDriverTests.swift
  apple/Tests/IntegrationTests/DriversTests/FileSystemDriverTests.swift
  apple/Tests/Utils/DriverTest.swift
  src/system/drivers/event_bus_driver/support/event.rs
  src/system/drivers/event_bus_driver/support/event_uniffi_fn.rs
  src/system/drivers/event_bus_driver/support/mod.rs
  src/system/sargon_os/sargon_os.rs
  src/system/sargon_os/sargon_os_profile.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Add P2PLink and LinkConnectionQrData extensions
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/LinkConnectionQrData.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2PLink.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2pLink.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/LinkConnectionQrDataSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/P2PLinkSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/LinkConnectionQrDataTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/P2PLinkTest.kt
Due: none

Delete P2pLink.kt duplicate file
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2pLink.kt
Due: none

Bump version to 0.7.14
  Cargo.lock
  Cargo.toml
Due: none

Add P2PLink and LinkConnectionQrData extensions (#136)
  Cargo.lock
  Cargo.toml
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/LinkConnectionQrData.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2PLink.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2pLink.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/LinkConnectionQrDataSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/P2PLinkSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/LinkConnectionQrDataTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/P2PLinkTest.kt
Due: none

Release of '0.7.14' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Add 'rebuild' argument to build and test gradle tasks
  jvm/sargon-android/build.gradle.kts
Due: none

Bump version to 0.7.15
  Cargo.lock
  Cargo.toml
Due: none

Rename 'rebuild' gradle task argument to 'regenerate'
  jvm/sargon-android/build.gradle.kts
Due: none

WIP more tests
  apple/Sources/Sargon/Drivers/HostInfo/HostInfoDriver+DeviceInfo.swift
  apple/Sources/Sargon/Drivers/Logging/LoggingDriver+SwiftLog.swift
  apple/Sources/Sargon/Drivers/Networking/NetworkRequest+Swiftified.swift
  apple/Sources/Sargon/Extensions/Methods/System/Drivers/NetworkMethod+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/System/Drivers/NetworkMethod+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/BIOS/BIOS+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/Drivers/Drivers+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/Drivers/NetworkMethod+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/Drivers/NetworkRequest+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/SargonOS+Swiftified.swift
  apple/Tests/IntegrationTests/DriversTests/HostInfoDriverTests.swift
  apple/Tests/IntegrationTests/DriversTests/LoggingDriverTests.swift
  apple/Tests/IntegrationTests/DriversTests/NetworkingDriverTests.swift
  apple/Tests/TestCases/Prelude/NetworkMethodTests.swift
  src/system/drivers/networking_driver/support/mod.rs
  src/system/drivers/networking_driver/support/network_method.rs
  src/system/drivers/networking_driver/support/network_method_uniffi_fn.rs
  src/system/drivers/networking_driver/support/network_request_uniffi_fn.rs
  src/system/drivers/networking_driver/support/test/rust_networking_driver.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Add missing Clone derives
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure_response/error_type.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure_response/failure.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/response.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/account/account_proof.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/account/accounts.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_login_with_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_login_without_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_proof.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_use_persona.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/authorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/items.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/success.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/transaction/transaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/unauthorized_request.rs
  src/radix_connect/wallet_persona.rs
Due: fmt, clippy, unit tests

more clone
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/items.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/auth/auth.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/auth/login_with_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/auth/use_persona.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/authorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/accounts.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/persona_data.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/reset.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/unauthorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/transaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/transaction_version.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_unvalidated.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/transaction/transaction.rs
Due: fmt, clippy, unit tests

p2p links codable UF exported
  Cargo.lock
  Cargo.toml
  src/radix_connect/p2p_links/mod.rs
  src/radix_connect/p2p_links/p2p_links.rs
  src/radix_connect/p2p_links/p2p_links_uniffi_fn.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/items.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/P2PLinks/RadixConnectPassword+Wrap+Functions.swift
  src/radix_connect/p2p_links/radix_connect_password.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Expose json conversion functions for P2PLinks
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2PLinks.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/P2PLinksTest.kt
Due: none

wip
  src/radix_connect/p2p_links/radix_connect_password.rs
Due: fmt, clippy, unit tests

UniFFI export JSON serde of P2PLinks (#138)
  Cargo.lock
  Cargo.toml
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2PLinks.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/P2PLinksTest.kt
  src/radix_connect/p2p_links/mod.rs
  src/radix_connect/p2p_links/p2p_links.rs
  src/radix_connect/p2p_links/p2p_links_uniffi_fn.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/items.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/auth/auth.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/auth/login_with_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/auth/use_persona.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/authorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/accounts.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/persona_data.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/reset.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/unauthorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/transaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/transaction_version.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_unvalidated.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure_response/error_type.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure_response/failure.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/response.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/account/account_proof.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/account/accounts.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_login_with_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_login_without_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_proof.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_use_persona.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/authorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/items.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/success.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/transaction/transaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/unauthorized_request.rs
  src/radix_connect/wallet_persona.rs
Due: fmt, clippy, unit tests

Release of '0.7.15' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  apple/Tests/TestCases/RadixConnect/P2PLinks/RadixConnectPasswordTests.swift
  src/radix_connect/p2p_links/radix_connect_password.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Bump to 0.7.15
  Cargo.lock
  Cargo.toml
Due: none

Expose RadixConnectPassword messageHash kt function
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/RadixConnectPassword.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/RadixConnectPasswordTest.kt
Due: none

Expose clientID swift var
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/P2PLinks/P2PLink+Wrap+Functions.swift
Due: ensure Swift setup for local development, SwiftFormat

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  SwiftFormat: any of: \.swift$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
