Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true
default_install_hook_types: [pre-push]
default_stages: [pre-push]
repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.22.7
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

  - repo: https://github.com/phylum-dev/phylum-ci
    rev: main
    hooks:
      - id: phylum
        stages: [pre-push]
        # Optional: Specify the dependency file pattern for your repository
        files: |
            (?x)^(
                Cargo\.lock|
            )$
        # Optional: Specify additional arguments to be passed to `phylum-ci`
        args:
          - -vv
          - --depfile=Cargo.lock
          - --audit
          - --force-analysis
          - --all-deps
        verbose: true

Add tests for modify_subintent_manifest
  crates/system/os/transaction/src/single/support/test_analysis_support.rs
  crates/system/os/transaction/src/single/tx/mod.rs
  crates/system/os/transaction/src/single/tx/sargon_os_subintent_manifest_modify.rs
  crates/system/os/transaction/src/single/tx/sargon_os_transaction_manifest_modify.rs
Due: fmt, clippy, unit tests

WIP
  crates/transaction/manifests/src/modify/manifest_abstractions.rs
  crates/transaction/manifests/src/modify/modify_manifest.rs
  crates/transaction/manifests/src/modify/modifying_manifest.rs
  crates/transaction/manifests/src/modify/single_instruction.rs
  crates/transaction/manifests/src/modify/subintent_manifest_modifying.rs
  crates/transaction/manifests/src/modify/transaction_manifest_modifying.rs
Due: fmt, clippy, unit tests

Implement modify manifest functions to add proofs
  crates/sargon/tests/integration/main.rs
  crates/system/clients/clients/src/clients/client/factor_instances_cache_client/cache/factor_instances_cache.rs
  crates/system/os/factors/src/apply_security_shield/sargon_os_apply_shield.rs
  crates/system/os/transaction/src/batch/apply_shields/apply_shield_transactions_builder/helpers/poly_manifest_builder/tx_fee_modifier.rs
  crates/system/os/transaction/src/single/tx/sargon_os_transaction_analysis.rs
  crates/system/os/transaction/src/single/tx/support/signable_manifest_summary.rs
  crates/transaction/manifests/src/lib.rs
  crates/transaction/manifests/src/manifest_builder_from_manifest.rs
  crates/transaction/manifests/src/manifests_security_shield/lock_fee_against_xrd_vault_of_access_controller.rs
  crates/transaction/manifests/src/manifests_security_shield/top_up_access_controller_xrd_vault.rs
  crates/transaction/manifests/src/modify/manifest_abstractions.rs
  crates/transaction/manifests/src/modify/mod.rs
  crates/transaction/manifests/src/modify/modify_manifest.rs
  crates/transaction/manifests/src/modify/subintent_manifest_modifying.rs
  crates/transaction/manifests/src/modify/transaction_manifest_modifying.rs
  crates/transaction/models/src/assert_manifest.rs
  crates/transaction/models/src/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
  crates/uniffi/uniffi_SPLIT_ME/src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
Due: fmt, clippy, unit tests

Move statically and dynamically analyzable manifest traits into manifests
  Cargo.lock
  crates/app/signing-traits/Cargo.toml
  crates/app/signing-traits/src/signables/signable_subintent.rs
  crates/app/signing-traits/src/signables/signable_transaction_intent.rs
  crates/system/os/transaction/src/single/pre_auth/sargon_os_pre_authorization_analysis.rs
  crates/system/os/transaction/src/single/tx/sargon_os_transaction_analysis.rs
  crates/transaction/manifests/Cargo.toml
  crates/transaction/manifests/src/lib.rs
  crates/transaction/manifests/src/summary/dynamically_analyzable_manifest.rs
  crates/transaction/manifests/src/summary/map_static_analysis_error.rs
  crates/transaction/manifests/src/summary/mod.rs
  crates/transaction/manifests/src/summary/statically_analyzable_manifest.rs
  crates/transaction/manifests/src/summary/subintent_manifest_execution_summary.rs
  crates/transaction/manifests/src/summary/transaction_manifest_execution_summary.rs
  crates/transaction/manifests/src/summary/transaction_manifest_execution_summary_v2.rs
  crates/transaction/models/src/lib.rs
  crates/transaction/models/src/low_level/execution_summary/fee_locks.rs
  crates/transaction/models/src/low_level/manifest_summary/account_deposit/account_deposits.rs
  crates/transaction/models/src/low_level/mod.rs
  crates/transaction/models/src/low_level/v1/transaction_intent.rs
  crates/transaction/models/src/low_level/v1/transaction_manifest/execution_summary/mod.rs
  crates/transaction/models/src/low_level/v1/transaction_manifest/instructions/instructions.rs
  crates/transaction/models/src/low_level/v1/transaction_manifest/mod.rs
  crates/transaction/models/src/low_level/v1/transaction_manifest/transaction_manifest.rs
  crates/transaction/models/src/low_level/v2/transaction_manifest_v2/execution_summary_v2/mod.rs
  crates/transaction/models/src/low_level/v2/transaction_manifest_v2/execution_summary_v2/transaction_manifest_execution_summary_v2.rs
  crates/transaction/models/src/low_level/v2/transaction_manifest_v2/mod.rs
  crates/transaction/models/src/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
  crates/transaction/models/src/low_level/v2/transaction_manifest_v2/transaction_manifest_v2.rs
  crates/uniffi/uniffi_SPLIT_ME/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest.rs
  crates/uniffi/uniffi_SPLIT_ME/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
  crates/uniffi/uniffi_SPLIT_ME/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_v2.rs
Due: fmt, clippy, unit tests

Allow android clean not to invoke cargo clean
  jvm/sargon-android/build.gradle.kts
Due: none

WIP
  crates/sargon/tests/integration/main.rs
  crates/system/os/transaction/src/batch/apply_shields/apply_shield_transactions_builder/helpers/poly_manifest_builder/tx_fee_modifier.rs
  crates/system/os/transaction/src/single/tx/mod.rs
  crates/system/os/transaction/src/single/tx/sargon_os_transaction_analysis.rs
  crates/system/os/transaction/src/single/tx/sargon_os_transaction_modify.rs
  crates/system/os/transaction/src/single/tx/support/signable_manifest_summary.rs
  crates/transaction/manifests/src/high_level/sargon_specific_types/transaction_guarantee.rs
  crates/transaction/manifests/src/modify/modifying_manifest.rs
  crates/transaction/manifests/src/modify/transaction_manifest_modifying.rs
Due: fmt, clippy, unit tests

WIP
  crates/sargon/tests/integration/main.rs
  crates/system/os/transaction/src/batch/apply_shields/apply_shield_transactions_builder/helpers/poly_manifest_builder/tx_fee_modifier.rs
  crates/system/os/transaction/src/single/tx/sargon_os_transaction_analysis.rs
  crates/system/os/transaction/src/single/tx/support/signable_manifest_summary.rs
  crates/transaction/manifests/src/modify/manifest_abstractions.rs
  crates/transaction/manifests/src/modify/mod.rs
  crates/transaction/manifests/src/modify/modify_manifest.rs
  crates/transaction/manifests/src/modify/modifying_manifest.rs
  crates/transaction/manifests/src/modify/single_instruction.rs
  crates/transaction/manifests/src/modify/subintent_manifest_modifying.rs
  crates/transaction/manifests/src/modify/transaction_manifest_modifying.rs
  crates/transaction/manifests/src/modify/transaction_manifest_v2_modifying.rs
  crates/uniffi/uniffi_SPLIT_ME/src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
Due: fmt, clippy, unit tests

Separate tx and pre-auth analysis
  crates/system/os/transaction/src/single/mod.rs
  crates/system/os/transaction/src/single/pre_auth/mod.rs
  crates/system/os/transaction/src/single/pre_auth/sargon_os_pre_authorization_analysis.rs
  crates/system/os/transaction/src/single/pre_auth/support/mod.rs
  crates/system/os/transaction/src/single/pre_auth/support/pre_auth_to_review.rs
  crates/system/os/transaction/src/single/support/mod.rs
  crates/system/os/transaction/src/single/support/test_analysis_support.rs
  crates/system/os/transaction/src/single/tx/sargon_os_transaction_analysis.rs
  crates/system/os/transaction/src/single/tx/support/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/pre_authorization/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/pre_authorization/sargon_os_pre_authorization_analysis.rs
Due: fmt, clippy, unit tests

Add tests for modify_transaction_manifest
  crates/system/os/transaction/src/single/tx/sargon_os_transaction_modify.rs
Due: fmt, clippy, unit tests

[no ci] wip
  crates/app/signing-traits/src/types/owned_types/owned.rs
  crates/system/os/os/src/sargon_os_accounts.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_security_shield_committing.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_security_shield_payload_to_sign.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/builder.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/transaction_intent_builder.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_signer/notary_manager.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/models/application/with_intents/abstract_unsecurified.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/models/application/with_intents/unsecurified_entity.rs
  crates/system/os/transaction/src/signing_manager/manager/signing_manager_sign_for_fee_payer.rs
  crates/system/os/transaction/src/signing_manager/models/signed/add_fee_payer_signatures.rs
  crates/system/os/transaction/src/signing_manager/models/signed/signing_manager_outcome.rs
  crates/system/os/transaction/src/signing_manager/state/intent_set_id.rs
  crates/system/os/transaction/src/signing_manager/state/intent_set_state.rs
  crates/system/os/transaction/src/signing_manager/state/internal_state/intent_set_internal_state.rs
  crates/system/os/transaction/src/signing_manager/state/signing_manager_state.rs
Due: fmt, clippy, unit tests

[no ci] wip
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_security_shield_committing.rs
Due: fmt, clippy, unit tests

Test case
  crates/system/os/transaction/src/single/tx/sargon_os_transaction_manifest_modify.rs
Due: fmt, clippy, unit tests

Add password builder
  Cargo.lock
  crates/core/error/src/common_error.rs
  crates/crypto/hd/src/bip39/bip39_entropy.rs
  crates/system/clients/clients/src/clients/client/factor_instances_cache_client/cache/factor_instances_cache.rs
  crates/system/os/factors/Cargo.toml
  crates/system/os/factors/src/add_factor_source/common_mnemonic_builder.rs
  crates/system/os/factors/src/add_factor_source/device_mnemonic_builder.rs
  crates/system/os/factors/src/add_factor_source/mod.rs
  crates/system/os/factors/src/add_factor_source/off_device_mnemonic_builder.rs
  crates/system/os/factors/src/add_factor_source/password_mnemonic_builder.rs
  crates/system/os/factors/src/apply_security_shield/sargon_os_apply_shield.rs
  crates/system/os/factors/src/lib.rs
  crates/uniffi/uniffi_SPLIT_ME/src/core/error/common_error.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/add_factor_source/device_mnemonic_builder.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/add_factor_source/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/add_factor_source/off_device_mnemonic_builder.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/add_factor_source/password_mnemonic_builder.rs
Due: fmt, clippy, unit tests

Fix tests
  crates/system/os/factors/src/add_factor_source/password_mnemonic_builder.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/add_factor_source/password_mnemonic_builder.rs
Due: fmt, clippy, unit tests

updated gradle plugin to latest
  jvm/gradle/libs.versions.toml
  jvm/gradle/wrapper/gradle-wrapper.properties
Due: none

Update README.md
  README.md
Due: none

Fix some warnings
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/desktop/BuildType.kt
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/desktop/CargoDesktopPlugin.kt
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/toml/SargonVersion.kt
  jvm/sargon-android/build.gradle.kts
Due: none

fixes in example app
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/MainViewModel.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/di/ApplicationModule.kt
Due: none

update kotlin to 2
  examples/android/build.gradle.kts
  jvm/build.gradle.kts
  jvm/gradle/libs.versions.toml
Due: none

Update kotlin to 2.0+ (#395)
  examples/android/build.gradle.kts
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/MainViewModel.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/di/ApplicationModule.kt
  jvm/build.gradle.kts
  jvm/gradle/libs.versions.toml
Due: none

Fix factor source id backed up by implementing custom key mapping.
  crates/factors/factors/src/factor_source_id_from_hash.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/factors/factor_source_id_from_hash.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidStorageDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/key/FactorSourceUserHasWrittenDownKeyMapping.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/key/FactorSourceUserHasWrittenDownKeyMappingTest.kt
Due: fmt, clippy, unit tests

Bridger serializers between kotlinx-serialization and rust serde
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/FactorSourceIdSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/serializer/FactorSourceIdFromHashSerializer.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/serializer/FactorSourceIdSerializer.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/serializer/KotlinRustSerializer.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/serializer/FactorSourceIdFromHashSerializerTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/serializer/FactorSourceIdSerializerTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/serializer/KotlinRustSerializerTest.kt
Due: none

Mark implicit main as explicit in new wallet and import wallet
  crates/system/os/os/src/sargon_os.rs
Due: fmt, clippy, unit tests

inline create account logic
  apple/Sources/Sargon/SargonOS/SargonOSProtocol.swift
  apple/Sources/Sargon/SargonOS/TestOS.swift
  crates/factors/instances-provider/src/next_index_assigner/next_derivation_entity_index_profile_analyzing_assigner.rs
  crates/system/os/os/src/sargon_os_accounts.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/entities/sargon_os_accounts.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  apple/Sources/Sargon/SargonOS/SargonOSProtocol.swift
  apple/Sources/Sargon/SargonOS/TestOS.swift
  apple/Tests/IntegrationTests/SargonOS/TestOSTests.swift
  crates/factors/instances-provider/src/next_index_assigner/next_derivation_entity_index_profile_analyzing_assigner.rs
  crates/system/os/factors/src/add_factor_source/device_mnemonic_builder.rs
  crates/system/os/os/src/os_testing_support.rs
  crates/system/os/os/src/sargon_os_personas.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

impr
  crates/system/os/os/src/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

wip
  crates/system/os/factors/src/add_factor_source/device_mnemonic_builder.rs
  crates/system/os/os/src/entity_creating_with_factor_source_and_derivation_outcome.rs
  crates/system/os/os/src/os_testing_support.rs
  crates/system/os/os/src/sargon_os_accounts.rs
  crates/system/os/os/src/sargon_os_personas.rs
Due: fmt, clippy, unit tests

wip
  crates/system/os/os/src/sargon_os_accounts.rs
  crates/system/os/os/src/sargon_os_personas.rs
Due: fmt, clippy, unit tests

wip
  crates/system/os/factors/src/add_factor_source/device_mnemonic_builder.rs
  crates/system/os/factors/src/add_factor_source/sargon_os_factor_source_adder.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/add_factor_source/device_mnemonic_builder.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/entities/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

wip
  crates/system/os/factors/src/add_factor_source/device_mnemonic_builder.rs
  crates/system/os/factors/src/add_factor_source/sargon_os_factor_source_adder.rs
  crates/system/os/factors/src/apply_security_shield/sargon_os_apply_shield.rs
  crates/system/os/os/src/entity_creating_with_factor_source_and_derivation_outcome.rs
  crates/system/os/os/src/os_testing_support.rs
  crates/system/os/os/src/sargon_os_accounts.rs
  crates/system/os/os/src/sargon_os_personas.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/add_factor_source/device_mnemonic_builder.rs
Due: fmt, clippy, unit tests
