Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

      - id: doc tests
        name: doc tests
        language: system
        types: [file, rust]
        entry: cargo test --doc
        pass_filenames: false

      - id: vectors integration tests
        name: vectors integration tests
        language: system
        types: [file, rust]
        entry: cargo test --package sargon --test vectors
        pass_filenames: false

      - id: swift tests
        name: swift tests
        language: system
        types_or: [rust, swift]
        entry: ./scripts/ios/test.sh --testonly # no code coverage
        pass_filenames: false

      - id: kotlin tests
        name: kotlin (jvm) tests
        language: system
        types_or: [rust, kotlin]
        entry: ./jvm/gradlew -p jvm/sargon-android koverVerifyDebug
        pass_filenames: false

exactly n bytes JSON - move more FactorSource functionality into Swift Sargon from iOS app
  apple/Sources/Sargon/Extensions/Methods/Prelude/Bytes/Exactly32Bytes+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/Bytes/Exactly32Bytes+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/DeviceFactorSource+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSource+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSourceProtocol.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/LedgerHardwareWalletFactorSource+Swiftified.swift
  apple/Tests/TestCases/Prelude/Bytes/ExactlyNBytesTests.swift
  apple/Tests/TestCases/Profile/Factor/DeviceFactorSourceTests.swift
  apple/Tests/TestCases/Profile/Factor/FactorSourceTests.swift
  apple/Tests/TestCases/Profile/Factor/LedgerHardwareWalletFactorSourceTests.swift
  apple/Tests/TestCases/Profile/FactorSourceKindTests.swift
  apple/Tests/Utils/FactorSourceTest.swift
  src/core/types/exactly_n_bytes.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Swift: FactorSourceID protocol with tests
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSource+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSourceID+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSourceIDFromAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSourceIDFromHash+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSourceIDProtocol.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSourceProtocol.swift
  apple/Tests/TestCases/Profile/Factor/DeviceFactorSourceTests.swift
  apple/Tests/TestCases/Profile/Factor/FactorSourceIDFromAddressTests.swift
  apple/Tests/TestCases/Profile/Factor/FactorSourceIDFromHashTests.swift
  apple/Tests/TestCases/Profile/Factor/FactorSourceIDTests.swift
  apple/Tests/TestCases/Profile/Factor/FactorSourceTests.swift
  apple/Tests/Utils/FactorSourceIDTest.swift
  apple/Tests/Utils/FactorSourceTest.swift
  apple/Tests/Utils/SpecificFactorSourceIDTest.swift
Due: ensure Swift setup for local development, swift tests

rename protocols
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/DeviceFactorSource+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSource+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSourceProtocol.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/LedgerHardwareWalletFactorSource+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/PrivateHierarchicalDeterministicFactorSource+Swiftified.swift
  apple/Tests/Utils/FactorSourceTest.swift
Due: ensure Swift setup for local development, swift tests

more tests
  apple/Tests/Utils/FactorSourceTest.swift
Due: ensure Swift setup for local development, swift tests

UF export AppearanceID from account count
  apple/Sources/Sargon/Extensions/Methods/Profile/Account/AppearanceID+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/BIP39Word+Swiftified.swift
  apple/Tests/TestCases/Profile/Account/AppearanceIDTests.swift
  src/profile/v100/entity/account/appearance_id.rs
  src/profile/v100/entity/account/appearance_id_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

more tests
  src/core/types/secret_bytes.rs
  src/hierarchical_deterministic/bip39/bip39_seed.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

UF export bip39 words + more swift tests
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Derivation/BIP39/BIP39Word+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/BIP39Word+Swiftified.swift
  apple/Tests/TestCases/Crypto/BIP39/BIP39WordTests.swift
  src/hierarchical_deterministic/bip39/bip39_word/bip39_word.rs
  src/hierarchical_deterministic/bip39/bip39_word/bip39_word_uniffi_fn.rs
  src/hierarchical_deterministic/bip39/bip39_word/mod.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

remove unneeded test
  src/profile/v100/address/account_address.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

WIP Batch 1
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AppPreferences.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AssetsExceptionList.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Bip39Language.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Bip39WordCount.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSource.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSourceKind.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Hash.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/LedgerWardwareWalletModel.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PrivateHierarchicalDeterministicFactorSource.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/AssetExceptionSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/AssetsExceptionListSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/Bip39LanguageSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/Bip39WordCountSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/FactorSourceKindSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/LedgerHardwareWalletModelSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/PrivateHierarchicalDeterministicFactorSourceSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AppPreferencesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AssetsExceptionListTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Bip39WordCountTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Bip39WordListTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourceKindTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourceTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/HashTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/LedgerHardwareWalletModelTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PrivateHierarchicalDeterministicFactorSourceTest.kt
Due: kotlin tests

pr review changes
  src/core/error/common_error.rs
  src/core/utils/string_utils.rs
  src/radix_connect/app_link_parser.rs
  src/radix_connect/mobile_connect_request.rs
  src/radix_connect/mod.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

add missing model files
  src/radix_connect/dapp_request.rs
  src/radix_connect/link_request.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

WIP Batch 2
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DepositorsAllowList.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/RequestedQuantity.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ThirdPartyDeposits.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/DepositorsAllowListSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/HierarchicalDeterministicFactorInstanceSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/NetworkDefinitionSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/RequestedQuantitySample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ResourceOrNonFungibleSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/SharedPersonaDataSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DepositorsAllowListTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/RequestedQuantityTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ThirdPartyDepositsTest.kt
Due: kotlin tests

add parser test for invalid url
  src/radix_connect/app_link_parser.rs
  src/radix_connect/session_id.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

update invalid url test input data
  src/radix_connect/app_link_parser.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Rename methods and provide encrypt/decrypt for profile
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AuthorisedDapp.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DepositRule.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSourceId.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Header.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/MnemonicWIthPassphrase.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PersonaDataEntryEmailAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PersonaDataEntryName.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PersonaDataEntryPhoneNumber.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Profile.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/RequestedQuantity.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Slip10Curve.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AuthorizedDappTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DepositRuleTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourceIdTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/HeaderTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/MnemonicWithPassphraseTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PersonaDataEntryTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/RequestedQuantityTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Slip10CurveTest.kt
Due: kotlin tests

update session_id
  src/core/error/common_error.rs
  src/radix_connect/app_link_parser.rs
  src/radix_connect/dapp_request.rs
  src/radix_connect/link_request.rs
  src/radix_connect/mobile_connect_request.rs
  src/radix_connect/session_id.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

reafactor link parse method
  src/radix_connect/app_link_parser.rs
  src/radix_connect/dapp_request.rs
  src/radix_connect/link_request.rs
  src/radix_connect/mobile_connect_request.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Add AddressFormat.Hidden support
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/address_format.rs
  src/profile/v100/address/legacy_olympia_account_address.rs
  src/profile/v100/address/non_fungible_global_id.rs
  src/profile/v100/address/non_fungible_local_id.rs
  src/profile/v100/address/resource_address.rs
  src/profile/v100/address/wrap_ret_address.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/transaction_hashes.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

ToBytes on EntropyNBytes
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/Mnemonic+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/Bytes/Entropy16Bytes+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/Bytes/Entropy20Bytes+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/Bytes/Entropy24Bytes+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/Bytes/Entropy28Bytes+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/Bytes/Entropy32Bytes+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/Bytes/Entropy16Bytes+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/Bytes/Entropy20Bytes+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/Bytes/Entropy24Bytes+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/Bytes/Entropy28Bytes+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/Bytes/Entropy32Bytes+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/Bytes/BIP39Entropy+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/Bytes/Entropy16Bytes+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/Bytes/Entropy20Bytes+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/Bytes/Entropy24Bytes+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/Bytes/Entropy28Bytes+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/Bytes/Entropy32Bytes+Swiftified.swift
  apple/Sources/Sargon/Protocols/BinaryProtocol.swift
  apple/Sources/Sargon/Protocols/ExactlyNBytesProtocol.swift
  apple/Tests/TestCases/Prelude/Bytes/EntropyOfNBytesTests.swift
  apple/Tests/Utils/BinaryProtocolTest.swift
  src/core/types/secret_bytes.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

change interaction_id.rs
  src/core/error/common_error.rs
  src/core/hash.rs
  src/radix_connect/app_link_parser.rs
  src/radix_connect/dapp_request.rs
  src/radix_connect/interaction_id.rs
  src/radix_connect/link_request.rs
  src/radix_connect/session_id.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

add addition dapp_request tests
  src/radix_connect/dapp_request.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Renamed to Middle
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/address_format.rs
  src/profile/v100/address/legacy_olympia_account_address.rs
  src/profile/v100/address/non_fungible_global_id.rs
  src/profile/v100/address/non_fungible_local_id.rs
  src/profile/v100/address/resource_address.rs
  src/profile/v100/address/wrap_ret_address.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/transaction_hashes.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

add util function for parsing url
  src/core/utils/string_utils.rs
  src/profile/v100/app_preferences/gateways/gateway.rs
  src/radix_connect/app_link_parser.rs
  src/radix_connect/link_request.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

add test for invalid url parsing
  src/core/utils/string_utils.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

use defined constructors for request objects
  src/radix_connect/link_request.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Profile codable
  apple/Sources/Sargon/Extensions/Methods/Profile/Profile+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Profile+Swiftified.swift
Due: ensure Swift setup for local development, swift tests

fix test
  apple/Tests/TestCases/Profile/ProfileTests.swift
Due: ensure Swift setup for local development, swift tests

Add iOS tests
  apple/Tests/TestCases/Address/AccountAddressTests.swift
  apple/Tests/TestCases/Address/LegacyOlympiaAccountAddressTests.swift
Due: ensure Swift setup for local development, swift tests

Add AddressFormat.Middle support (#104)
  apple/Tests/TestCases/Address/AccountAddressTests.swift
  apple/Tests/TestCases/Address/LegacyOlympiaAccountAddressTests.swift
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/address_format.rs
  src/profile/v100/address/legacy_olympia_account_address.rs
  src/profile/v100/address/non_fungible_global_id.rs
  src/profile/v100/address/non_fungible_local_id.rs
  src/profile/v100/address/resource_address.rs
  src/profile/v100/address/wrap_ret_address.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/transaction_hashes.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Implement android parsing for MnemonicWithPassphrase
  jvm/gradle/libs.versions.toml
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/MnemonicWIthPassphrase.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/MnemonicWithPassphrase.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/MnemonicWithPassphraseTest.kt
Due: kotlin tests

Implement android parsing for MnemonicWithPassphrase (#106)
  jvm/gradle/libs.versions.toml
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/MnemonicWIthPassphrase.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/MnemonicWithPassphrase.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/MnemonicWithPassphraseTest.kt
Due: kotlin tests

Batch 11: ToBytes on EntropyNBytes (#105)
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/Mnemonic+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/Bytes/Entropy16Bytes+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/Bytes/Entropy20Bytes+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/Bytes/Entropy24Bytes+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/Bytes/Entropy28Bytes+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/Bytes/Entropy32Bytes+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Profile+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/Bytes/Entropy16Bytes+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/Bytes/Entropy20Bytes+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/Bytes/Entropy24Bytes+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/Bytes/Entropy28Bytes+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/Bytes/Entropy32Bytes+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/Bytes/BIP39Entropy+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/Bytes/Entropy16Bytes+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/Bytes/Entropy20Bytes+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/Bytes/Entropy24Bytes+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/Bytes/Entropy28Bytes+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/Bytes/Entropy32Bytes+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Profile+Swiftified.swift
  apple/Sources/Sargon/Protocols/BinaryProtocol.swift
  apple/Sources/Sargon/Protocols/ExactlyNBytesProtocol.swift
  apple/Tests/TestCases/Prelude/Bytes/EntropyOfNBytesTests.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
  apple/Tests/Utils/BinaryProtocolTest.swift
  src/core/types/secret_bytes.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  src/core/assert_json.rs
  src/gateway_api/client/gateway_client.rs
  src/gateway_api/client/gateway_client_dispatch_request.rs
  src/gateway_api/mod.rs
  src/gateway_api/network_antenna/network_antenna.rs
  src/gateway_api/network_antenna/network_request.rs
  src/http_client/client.rs
  src/http_client/mod.rs
  src/http_client/network_antenna/mod.rs
  src/http_client/network_antenna/network_antenna.rs
  src/http_client/network_antenna/network_method.rs
  src/http_client/network_antenna/network_request.rs
  src/http_client/network_antenna/network_response.rs
  src/lib.rs
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/mod.rs
  src/radix_connect/mobile/relay_service/mod.rs
  src/radix_connect/mobile/relay_service/models/mod.rs
  src/radix_connect/mobile/relay_service/models/request/mod.rs
  src/radix_connect/mobile/relay_service/models/request/request.rs
  src/radix_connect/mobile/relay_service/models/request/request_method.rs
  src/radix_connect/mobile/relay_service/models/response/handshake_request.rs
  src/radix_connect/mobile/relay_service/models/response/handshake_response.rs
  src/radix_connect/mobile/relay_service/models/response/mod.rs
  src/radix_connect/mobile/relay_service/models/response/requests.rs
  src/radix_connect/mobile/relay_service/service.rs
  src/radix_connect/mobile/session.rs
  src/radix_connect/mobile/session_id.rs
  src/radix_connect/mobile/session_origin.rs
  src/radix_connect/mod.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_proof.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/mod.rs
  src/radix_connect/mobile/relay_service/models/request/request.rs
  src/radix_connect/mobile/relay_service/models/response/mod.rs
  src/radix_connect/mobile/relay_service/models/response/session_handshake_request.rs
  src/radix_connect/mobile/relay_service/models/response/session_handshake_response.rs
  src/radix_connect/mobile/relay_service/models/response/wallet_interaction_requests.rs
  src/radix_connect/mobile/relay_service/service.rs
  src/radix_connect/mobile/session/mod.rs
  src/radix_connect/mobile/session/session.rs
  src/radix_connect/mobile/session/session_id.rs
  src/radix_connect/mobile/session/session_origin.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  src/gateway_api/client/gateway_client.rs
  src/http_client/client.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

[ABW-3207] app link parsing (#102)
  src/core/error/common_error.rs
  src/core/utils/string_utils.rs
  src/profile/v100/app_preferences/gateways/gateway.rs
  src/radix_connect/app_link_parser.rs
  src/radix_connect/dapp_request.rs
  src/radix_connect/link_request.rs
  src/radix_connect/mobile_connect_request.rs
  src/radix_connect/mod.rs
  src/radix_connect/session_id.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  src/http_client/client.rs
  src/http_client/network_antenna/network_antenna.rs
  src/http_client/network_antenna/network_method.rs
  src/http_client/network_antenna/network_request.rs
  src/http_client/network_antenna/network_response.rs
  src/radix_connect/mobile/relay_service/models/request/request.rs
  src/radix_connect/mobile/relay_service/service.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests
