Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

doc tests:
  name: doc tests
  language: system
  entry: cargo test --doc
  pass_filenames: false

vectors integration tests:
  name: vectors integration tests
  language: system
  entry: cargo test --package sargon --test vectors
  pass_filenames: false

swift tests:
  name: swift tests
  language: system
  entry: ./scripts/ios/test.sh --testonly
  pass_filenames: false

kotlin tests:
  name: kotlin (jvm) tests
  language: system
  entry: ./jvm/gradlew -p jvm/sargon-android koverVerifyDebug
  pass_filenames: false

fix iOS release
  Cargo.lock
  Cargo.toml
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSources.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SupportedCurves.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourcesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SupportedCurvesTest.kt
  scripts/ios/build-sargon.sh
  scripts/ios/release.sh
  src/hierarchical_deterministic/cap26/cap26_path/cap26_path_uniffi_fn.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  fixtures/vector/wallet_interactions.json
  src/core/types/appearance_id.rs
  src/core/types/appearance_id_uniffi_fn.rs
  src/core/types/mod.rs
  src/core/types/requested_number_quantifier.rs
  src/core/types/requested_quantity.rs
  src/lib.rs
  src/profile/v100/entity/account/mod.rs
  src/profile/v100/networks/network/authorized_dapp/mod.rs
  src/radix_connect/interaction_id.rs
  src/radix_connect/interaction_version.rs
  src/radix_connect/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/authorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/items.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/accounts.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/auth.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/auth_use_persona.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/login_with_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/persona_data.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/reset.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/unauthorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_metadata.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/test_vector.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/response.rs
  src/radix_connect/wallet_interaction/mod.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  src/lib.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/authorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/items.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/accounts.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/auth.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/auth_use_persona.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/login_with_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/persona_data.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/reset.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/unauthorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_metadata.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/mod.rs
  src/radix_connect/wallet_interaction/mod.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

lower codecov PR PATCH threshold for success status to 80
  codecov.yml
Due: none

restrucutre
  src/profile/encrypted/encryption_scheme.rs
  src/profile/encrypted/password_based_key_derivation_scheme.rs
  src/profile/encrypted/versioned_algorithm.rs
  src/profile/encrypted/versioned_encryption.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Fix ios release properly (#88)
  Cargo.lock
  Cargo.toml
  codecov.yml
  scripts/ios/build-sargon.sh
  scripts/ios/release.sh
Due: none

fix iOS CD
  scripts/ios/build-sargon.sh
  scripts/ios/release.sh
Due: none

bump toml version
  Cargo.lock
  Cargo.toml
Due: none

Fix ios cd again (#89)
  Cargo.lock
  Cargo.toml
  scripts/ios/build-sargon.sh
  scripts/ios/release.sh
Due: none

Reintroduce exported import of SargonUniFFI which we REALLY want from a downstream consumer PoV.
  apple/Sources/Sargon/Exports.swift
Due: ensure Swift setup for local development, swift tests

fix typo
  apple/Sources/Sargon/Exports.swift
Due: ensure Swift setup for local development, swift tests

Reintroduce exported import of SargonUniFFI which we REALLY want from… (#90)
  apple/Sources/Sargon/Exports.swift
Due: ensure Swift setup for local development, swift tests

remove Swift, Kotlin and som rust testing in Precommit hook - relying on CI and allowing faster commits.
  .pre-commit-config.yaml
Due: none

simplify JSON
  src/profile/encrypted/encryption_scheme.rs
  src/profile/encrypted/password_based_key_derivation_scheme.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

add to CI rust doc coverage reporting for PRs
  .github/workflows/test.yml
Due: none

fix yml
  .github/workflows/test.yml
Due: none

fix test.yml
  .github/workflows/test.yml
Due: none

try install target
  .github/workflows/test.yml
Due: none

try add nightly target
  .github/workflows/test.yml
Due: none

hmm manually install target?
  .github/workflows/test.yml
Due: none

hmm this
  .github/workflows/test.yml
Due: none

try ubuntu
  .github/workflows/test.yml
Due: none

try specific nightly toolchain
  .github/workflows/test.yml
Due: none

try ubuntu and specify target
  .github/workflows/test.yml
Due: none

specify nightly version of target
  .github/workflows/test.yml
  src/profile/encrypted/encrypted_profile_snapshot.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

restructure encryption
  .github/workflows/test.yml
  src/core/error/common_error.rs
  src/profile/encrypted/encryption/aes_gcm_sealed_box.rs
  src/profile/encrypted/encryption/encrypted_profile_snapshot.rs
  src/profile/encrypted/encryption/encryption_scheme.rs
  src/profile/encrypted/encryption/encryption_scheme_version.rs
  src/profile/encrypted/encryption/encryption_scheme_version1.rs
  src/profile/encrypted/encryption/mod.rs
  src/profile/encrypted/encryption/versioned_encryption.rs
  src/profile/encrypted/encryption_scheme.rs
  src/profile/encrypted/key_derivation/mod.rs
  src/profile/encrypted/key_derivation/password_based_key_derivation_scheme.rs
  src/profile/encrypted/key_derivation/password_based_key_derivation_scheme_version.rs
  src/profile/encrypted/key_derivation/password_based_key_derivation_scheme_version1.rs
  src/profile/encrypted/key_derivation/versioned_password_based_key_derivation.rs
  src/profile/encrypted/mod.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

more tests
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

bump toml
  Cargo.lock
  Cargo.toml
Due: none

restructure and document
  src/profile/encrypted/encryption/aes_gcm_256.rs
  src/profile/encrypted/encryption/aes_gcm_sealed_box.rs
  src/profile/encrypted/encryption/encryption_scheme.rs
  src/profile/encrypted/encryption/encryption_scheme_version.rs
  src/profile/encrypted/encryption/mod.rs
  src/profile/encrypted/encryption/versioned_encryption.rs
  src/profile/encrypted/key_derivation/password_based_key_derivation_scheme.rs
  src/profile/encrypted/mod.rs
  src/profile/encrypted/version_of_algorithm.rs
  src/profile/encrypted/versioned_algorithm.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

zeroize encryption key and decryption key after AES operations.
  Cargo.lock
  Cargo.toml
  src/profile/encrypted/encryption/aes_gcm_256.rs
  src/profile/encrypted/encryption/encrypted_profile_snapshot.rs
  src/profile/encrypted/encryption/encryption_scheme.rs
  src/profile/encrypted/encryption/versioned_encryption.rs
  src/profile/encrypted/key_derivation/mod.rs
  src/profile/encrypted/key_derivation/password_based_key_derivation_scheme.rs
  src/profile/encrypted/key_derivation/pb_hkdf_sha256.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Add Encryption UniFFI methods and impl in Swift with tests.
  apple/Sources/Sargon/Extensions/Methods/Profile/Profile+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Profile+Swiftified.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
  src/profile/encrypted/encryption/encrypted_profile_snapshot.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Gitignore Xcodeworkspace userspecific data for iOS example app
  examples/iOS/.gitignore
  examples/iOS/Planbok.xcworkspace/xcuserdata/sajjon.xcuserdatad/UserInterfaceState.xcuserstate
  fixtures/Package.swift
Due: ensure Swift setup for local development, swift tests

fix iOS example app.
  examples/iOS/Backend/Sources/Planbok/Dependencies/Keychain.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/WalletHolder.swift
  examples/iOS/Backend/Sources/Planbok/Features/AccountsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/AppFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/CreateAccount/CreateAccountFlowFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/CreateAccount/Steps/NameAccountFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/CreateAccount/Steps/SelectGradientFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/Onboarding/OnboardingFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/PreviewAddressesFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SampleValuesFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SplashFeature.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/AccountView.swift
Due: ensure Swift setup for local development, swift tests

hide examples folder in Sargon Swift
  examples/Package.swift
Due: ensure Swift setup for local development, swift tests

Encrypted Profile (#85)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Extensions/Methods/Profile/Profile+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Profile+Swiftified.swift
  apple/Tests/TestCases/Profile/Collection/AccountsTests.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
  fixtures/vector/multi_profile_snapshots_test_version_100_patch_after_app_version_120.json
  fixtures/vector/profile_encrypted_by_password_empty.json
  fixtures/vector/profile_encrypted_by_password_of_babylon.json
  src/core/assert_json.rs
  src/core/error/common_error.rs
  src/core/types/exactly_n_bytes.rs
  src/profile/encrypted/encryption/aes_gcm_256.rs
  src/profile/encrypted/encryption/aes_gcm_sealed_box.rs
  src/profile/encrypted/encryption/encrypted_profile_snapshot.rs
  src/profile/encrypted/encryption/encryption_scheme.rs
  src/profile/encrypted/encryption/encryption_scheme_version.rs
  src/profile/encrypted/encryption/mod.rs
  src/profile/encrypted/encryption/versioned_encryption.rs
  src/profile/encrypted/key_derivation/mod.rs
  src/profile/encrypted/key_derivation/password_based_key_derivation_scheme.rs
  src/profile/encrypted/key_derivation/password_based_key_derivation_scheme_version.rs
  src/profile/encrypted/key_derivation/pb_hkdf_sha256.rs
  src/profile/encrypted/key_derivation/versioned_password_based_key_derivation.rs
  src/profile/encrypted/mod.rs
  src/profile/encrypted/version_of_algorithm.rs
  src/profile/encrypted/versioned_algorithm.rs
  src/profile/mod.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
  tests/vectors/main.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

response encoding
  src/radix_connect/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/response.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  fixtures/vector/wallet_interactions_wallet_to_dapp.json
  src/radix_connect/wallet_account.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/account_proof.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/accounts.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_login_with_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_login_without_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_proof.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_use_persona.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/authorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/items.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/persona_data/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/persona_data/persona_data.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/unauthorized_request.rs
  src/radix_connect/wallet_persona.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

uniffi export lots of methods and increase test coverage
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/BIP44LikePath+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/Mnemonic+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/SLIP10Curve+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/Decimal192+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/OtherGateways+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/SupportedCurves+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Gateway+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Gateways+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/SLIP10Curve+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/OtherGateways+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/SupportedCurves+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Gateway/Gateway+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Gateways+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/BIP39Language+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/BIP39Word+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/SLIP10Curve+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/Decimal192+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Gateway/Gateway+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Gateways+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/OtherGateways+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/SupportedCurves+Swiftified.swift
  apple/Tests/IntegrationTests/GatewayClientTests.swift
  apple/Tests/TestCases/Crypto/BIP44LikePathTests.swift
  apple/Tests/TestCases/Crypto/MnemonicTests.swift
  apple/Tests/TestCases/Crypto/SLIP10CurveTests.swift
  apple/Tests/TestCases/Prelude/Decimal192Tests.swift
  apple/Tests/TestCases/Profile/Collection/OtherGatewaysTests.swift
  apple/Tests/TestCases/Profile/Collection/SupportedCurvesTests.swift
  apple/Tests/TestCases/Profile/Gateways/GatewayTests.swift
  apple/Tests/TestCases/Profile/Gateways/GatewaysTests.swift
  src/hierarchical_deterministic/bip44/bip44_like_path_uniffi_fn.rs
  src/hierarchical_deterministic/cap26/cap26_path/cap26_path_uniffi_fn.rs
  src/hierarchical_deterministic/cap26/cap26_path/paths/account_path_uniffi_fn.rs
  src/hierarchical_deterministic/cap26/cap26_path/paths/identity_path_uniffi_fn.rs
  src/hierarchical_deterministic/cap26/cap26_path/paths/mod.rs
  src/profile/v100/app_preferences/gateways/gateway.rs
  src/profile/v100/app_preferences/gateways/gateway_uniffi_fn.rs
  src/profile/v100/app_preferences/gateways/gateways.rs
  src/profile/v100/app_preferences/gateways/gateways_uniffi_fn.rs
  src/profile/v100/app_preferences/gateways/mod.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

toml
  Cargo.lock
  Cargo.toml
Due: none

test
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/AccountPath+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/IdentityPath+Wrap+Functions.swift
  apple/Tests/TestCases/Crypto/AccountPathTests.swift
  apple/Tests/TestCases/Crypto/IdentityPathTests.swift
Due: ensure Swift setup for local development, swift tests

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
  doc tests: any of: \.rs$
  vectors integration tests: any of: \.rs$
  swift tests: any of: \.rs$, \.swift$
  kotlin tests: any of: \.rs$, \.(kt|kts)$
