Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

SwiftFormat:
  name: SwiftFormat
  language: system
  entry: swiftformat .
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

[no ci] WIP
  Cargo.lock
  crates/radix_connect/Cargo.toml
  crates/radix_connect/src/lib.rs
  crates/radix_connect/src/modules.rs
  crates/ret/Cargo.toml
  crates/ret/build.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/clients/client/entropy_client/entropy_client.rs
  crates/sargon/src/lib.rs
  crates/sargon/src/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/sargon_os/sargon_os_profile.rs
  crates/transaction/Cargo.toml
  crates/transaction/build.rs
  crates/transaction/src/high_level/manifest_building/manifests_create_tokens.rs
Due: fmt, clippy, unit tests

[no ci] wip
  Cargo.lock
  crates/radix_connect/Cargo.toml
  crates/radix_connect/src/interaction_id.rs
  crates/radix_connect/src/lib.rs
  crates/radix_connect/src/mobile/relay_service/service.rs
  crates/ret/src/address/non_fungible_resource_address.rs
  crates/transaction/build.rs
  crates/transaction/src/high_level/manifest_building/manifest_assets_transfers.rs
  crates/transaction/src/high_level/manifest_building/manifests_create_tokens.rs
  crates/transaction/src/high_level/manifest_building/third_party_deposit_update/manifest_third_party_deposit_update.rs
Due: fmt, clippy, unit tests

[no ci] builds
  Cargo.lock
  crates/drivers/src/drivers/drivers.rs
  crates/drivers/src/drivers/unsafe_storage_driver/support/test/ephemeral_unsafe_storage.rs
  crates/drivers/src/drivers/unsafe_storage_driver/support/test/fail_unsafe_storage.rs
  crates/drivers/src/drivers/unsafe_storage_driver/support/test/mod.rs
  crates/profile/src/logic/account/create_account.rs
  crates/profile/src/supporting_types/decl_identified_vec_of_with_samples.rs
  crates/profile/src/v100/factors/factor_sources/private_hierarchical_deterministic_factor_source.rs
  crates/profile/src/v100/profile.rs
  crates/radix_connect/src/mobile/relay_service/service.rs
  crates/radix_connect/src/p2p_links/p2p_links.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/bios/bios.rs
  crates/sargon/src/sargon_os/sargon_os.rs
  crates/sargon/src/sargon_os/sargon_os_profile.rs
Due: fmt, clippy, unit tests

[no ci] fixes
  crates/gateway_models/src/models/logic/request/mod.rs
  crates/gateway_models/src/models/logic/request/state/entity/mod.rs
  crates/gateway_models/src/models/logic/request/state/entity/state_entity_details.rs
  crates/gateway_models/src/models/logic/request/state/mod.rs
  crates/gateway_models/src/models/logic/request/transaction/mod.rs
  crates/gateway_models/src/models/logic/request/transaction/preview/mod.rs
  crates/gateway_models/src/models/logic/request/transaction/submit/mod.rs
  crates/gateway_models/src/models/logic/response/mod.rs
  crates/gateway_models/src/models/logic/response/state/entity/details/fungible/mod.rs
  crates/gateway_models/src/models/logic/response/state/entity/details/mod.rs
  crates/gateway_models/src/models/logic/response/state/entity/details/state_entity_details_response.rs
  crates/gateway_models/src/models/logic/response/state/entity/mod.rs
  crates/gateway_models/src/models/logic/response/state/mod.rs
  crates/gateway_models/src/models/logic/response/transaction/construction/mod.rs
  crates/gateway_models/src/models/logic/response/transaction/construction/transaction_construction_response.rs
  crates/gateway_models/src/models/logic/response/transaction/mod.rs
  crates/gateway_models/src/models/logic/response/transaction/preview/mod.rs
  crates/gateway_models/src/models/logic/response/transaction/preview/transaction_preview_response.rs
  crates/gateway_models/src/models/logic/response/transaction/submit/mod.rs
  crates/gateway_models/src/models/logic/response/transaction/submit/submit.rs
  crates/hierarchical_deterministic/src/bip39/mnemonic.rs
  crates/hierarchical_deterministic/src/bip39/mod.rs
  crates/ret/src/address/access_controller_address_uniffi_fn.rs
  crates/ret/src/low_level/address_conversion/mod.rs
  crates/ret/src/low_level/execution_summary/resource_indicator/predicted.rs
  crates/ret/src/low_level/message/plaintext_message/plaintext_message.rs
  crates/ret/src/low_level/message/plaintext_message/plaintext_message_contents.rs
  crates/ret/src/low_level/metadata.rs
  crates/ret/src/low_level/mod.rs
  crates/ret/src/low_level/notarized_transaction.rs
  crates/ret/src/low_level/notary_signature_uniffi_fn.rs
  crates/ret/src/low_level/signed_intent.rs
  crates/ret/src/low_level/transaction_hashes/intent_hash.rs
  crates/ret/src/low_level/transaction_hashes/mod.rs
  crates/ret/src/low_level/transaction_manifest/execution_summary/mod.rs
  crates/ret/src/low_level/transaction_manifest/instructions/instructions.rs
  crates/ret/src/low_level/transaction_manifest/mod.rs
  crates/ret/src/low_level/transaction_manifest/transaction_manifest.rs
  crates/ret/src/low_level/transaction_manifest/transaction_manifest_secret_magic.rs
Due: fmt, clippy, unit tests

all tests passing
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/Mnemonic+Wrap+Functions.swift
  crates/clients/src/clients/client/entropy_client/entropy_client.rs
  crates/common/src/types/non_empty_max_n_bytes.rs
  crates/common/src/utils/json_data_convertible.rs
  crates/ecdsa/Cargo.toml
  crates/ecdsa/build.rs
  crates/ecdsa/src/drivers.udl
  crates/ecdsa/src/lib.rs
  crates/ecdsa/uniffi.toml
  crates/gateway_models/src/models/logic/mod.rs
  crates/gateway_models/src/models/logic/response/state/entity/mod.rs
  crates/gateway_models/src/models/mod.rs
  crates/hierarchical_deterministic/src/bip39/bip39_entropy.rs
  crates/hierarchical_deterministic/src/bip39/bip39_seed.rs
  crates/hierarchical_deterministic/src/bip39/mnemonic_from_entropy.rs
  crates/hierarchical_deterministic/src/bip39/mod.rs
  crates/profile/src/cap26_derivation/derivation/mnemonic_with_passphrase.rs
  crates/profile/src/v100/factors/factor_sources/private_hierarchical_deterministic_factor_source.rs
  crates/profile/src/v100/factors/factor_sources/private_hierarchical_deterministic_factor_source_uniffi_fn.rs
  crates/profile/src/v100/mod.rs
  crates/radix_connect/src/lib.rs
  crates/radix_connect/src/mobile/mod.rs
  crates/ret/src/address/mod.rs
  crates/ret/src/ecdsa/is_intent_signing.rs
  crates/ret/src/ecdsa/mod.rs
  crates/ret/src/lib.rs
  crates/ret/src/low_level/compiled_notarized_intent.rs
  crates/ret/src/low_level/intent_signatures.rs
  crates/ret/src/low_level/notarized_transaction.rs
  crates/ret/src/low_level/notary_signature_uniffi_fn.rs
  crates/ret/src/low_level/sbor_depth_validation.rs
  crates/ret/src/low_level/signed_intent.rs
  crates/ret/src/low_level/transaction_manifest/instructions/instructions.rs
  crates/sargon/src/heap/mod.rs
  crates/sargon/src/lib.rs
  crates/sargon/src/sargon_os/sargon_os.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip bindgen
  crates/bindgen/src/main.rs
  scripts/ios/build-sargon.sh
  timings/Screenshot 2024-05-20 at 11.50.44.png
  timings/before.html
  timings/before.parallel.html
  timings/timings.html
Due: fmt, clippy, unit tests

delete duplicated uniffi.toml for sargon
  crates/ret/src/is_intent_signing/is_intent_signing.rs
  crates/ret/src/is_intent_signing/mod.rs
  crates/ret/src/lib.rs
  crates/sargon/src/uniffi.toml
Due: fmt, clippy, unit tests

unknown throw type
  Cargo.lock
  Cargo.toml
  crates/clients/Cargo.toml
  crates/clients/src/lib.rs
  crates/clients/uniffi.toml
  crates/common/Cargo.toml
  crates/common/uniffi.toml
  crates/drivers/Cargo.toml
  crates/drivers/src/lib.rs
  crates/drivers/uniffi.toml
  crates/gateway_models/Cargo.toml
  crates/gateway_models/src/lib.rs
  crates/gateway_models/uniffi.toml
  crates/hierarchical_deterministic/Cargo.toml
  crates/hierarchical_deterministic/src/lib.rs
  crates/hierarchical_deterministic/uniffi.toml
  crates/profile/Cargo.toml
  crates/profile/src/lib.rs
  crates/profile/uniffi.toml
  crates/radix_connect/Cargo.toml
  crates/radix_connect/src/lib.rs
  crates/radix_connect/uniffi.toml
  crates/ret/Cargo.toml
  crates/ret/src/lib.rs
  crates/ret/uniffi.toml
  crates/sargon/Cargo.toml
  crates/sargon/uniffi.toml
  crates/transaction/Cargo.toml
  crates/transaction/src/lib.rs
  crates/transaction/uniffi.toml
  crates/uniffi-bindgen/Cargo.toml
  crates/uniffi-bindgen/src/args.rs
  crates/uniffi-bindgen/src/bindgen_error.rs
  crates/uniffi-bindgen/src/main.rs
  crates/uniffi-bindgen/src/post_process.rs
  crates/uniffi-bindgen/src/post_process_kotlin.rs
  crates/uniffi-bindgen/src/post_process_swift.rs
Due: fmt, clippy, unit tests

use my fork of Bens fork allowing external errors to be used
  Cargo.lock
  Cargo.toml
  scripts/ios/build-sargon.sh
Due: none

address some PR comments.
  src/profile/v100/factors/factor_sources/device_factor_source/mod.rs
  src/profile/v100/factors/factor_sources/device_factor_source/wallet_client_model.rs
  src/system/clients/client/secure_storage_client/secure_storage_client.rs
Due: fmt, clippy, unit tests

Proifle to from JSON as String
  Cargo.lock
  Cargo.toml
  src/profile/v100/json_data_convertible.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: fmt, clippy, unit tests

10x speedup
  apple/Sources/Sargon/Extensions/Methods/Profile/Profile+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/Collection/AccountsTests.swift
  apple/Tests/TestCases/Profile/Collection/FactorSourcesTests.swift
  apple/Tests/TestCases/Profile/Factor/DeviceFactorSourceTests.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
Due: ensure Swift setup for local development, SwiftFormat

fix android mnemonic serialization
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/MnemonicWithPassphrase.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/MnemonicWithPassphraseTest.kt
Due: none

update sargon version
  Cargo.lock
  Cargo.toml
Due: none

change encrypted Profile to use String same for checking if contains P2P links.
  Package.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Profile+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
  apple/Tests/Utils/Test.swift
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

more swift tests
  apple/Tests/TestCases/Profile/ProfileTests.swift
Due: ensure Swift setup for local development, SwiftFormat

fix kotlin tests
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Profile.kt
Due: none

fix imports of Kotlin
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Profile.kt
Due: none

Use String for JSON coding of Profile (10x speedup) (#144)
  Cargo.lock
  Cargo.toml
  Package.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Profile+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/Collection/AccountsTests.swift
  apple/Tests/TestCases/Profile/Collection/FactorSourcesTests.swift
  apple/Tests/TestCases/Profile/Factor/DeviceFactorSourceTests.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
  apple/Tests/Utils/Test.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Profile.kt
  src/profile/v100/json_data_convertible.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

bump to 1.0.0 preparing for first release of Sargon Profile in Wallet apps.
  Cargo.lock
  Cargo.toml
Due: none

bump to 1.0.1 preparing for first release of Sargon Profile in Wallet apps.
  Cargo.lock
  Cargo.toml
Due: none

Fix android mnemonic serialization (#145)
  Cargo.lock
  Cargo.toml
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/MnemonicWithPassphrase.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/MnemonicWithPassphraseTest.kt
Due: none

Release of '1.0.1' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

bump to 1.1.0
  Cargo.toml
Due: none

Benchmark how fast Profile as Object is, it is fast.
  apple/Tests/TestCases/Profile/ProfileTests.swift
  src/profile/v100/mod.rs
  src/profile/v100/profile_object.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

WIP event kind query methods shared between iOS and Android to check if an event affects UI state.
  Cargo.lock
  src/system/drivers/event_bus_driver/support/event.rs
  src/system/drivers/event_bus_driver/support/event_kind.rs
  src/system/drivers/event_bus_driver/support/event_profile_modified.rs
  src/system/sargon_os/sargon_os_accounts.rs
  src/system/sargon_os/sargon_os_profile.rs
Due: fmt, clippy, unit tests

Bump RET which contained bug causing summary to crash for non sensical TransactionManifests.
  Cargo.lock
  Cargo.toml
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest.rs
Due: fmt, clippy, unit tests

Throw err for invalid manifest instead of crash in summary (#147)
  Cargo.lock
  Cargo.toml
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest.rs
Due: fmt, clippy, unit tests

Release of '1.0.2' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Add methods to check if a certain EventKind affects certain state, e.g. current network.
  Package.swift
  apple/Sources/Sargon/Drivers/EventBus/EventNotification+Swiftified.swift
  apple/Sources/Sargon/Extensions/Methods/System/Event/EventKind+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/Event/EventKind+Swiftified.swift
  apple/Tests/IntegrationTests/DriversTests/EventBusDriverTests.swift
  apple/Tests/TestCases/System/EventKindTests.swift
  src/system/drivers/event_bus_driver/support/event.rs
  src/system/drivers/event_bus_driver/support/event_kind.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Swift: Changing singleton instance creation of BIOS and SargonOS and update example app 'planbok'.
  apple/Sources/Sargon/Drivers/EventBus/EventBus.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/BIOS/BIOS+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/Drivers/Drivers+Swiftified.swift
  apple/Sources/Sargon/SargonOS/BIOS+Static+Shared.swift
  apple/Sources/Sargon/SargonOS/SargonOS+Static+Shared.swift
  apple/Tests/IntegrationTests/SargonOS/BIOSTests.swift
  apple/Tests/IntegrationTests/SargonOS/SargonOSTests.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/SharedState+PersistenceReaderKey+SargonKey.swift
  examples/iOS/Backend/Sources/Planbok/Features/AppFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/ImportProfileFlowFeature/Steps/FileDocument+Profile.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/ImportProfileFlowFeature/Steps/SelectFileFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SplashFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

fixes
  apple/Tests/IntegrationTests/DriversTests/EventBusDriverTests.swift
  apple/Tests/IntegrationTests/DriversTests/FileSystemDriverTests.swift
  apple/Tests/TestCases/Prelude/NetworkMethodTests.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/AccountsClient.swift
  examples/iOS/Backend/Sources/Planbok/Features/AccountsFeature.swift
  src/core/error/common_error.rs
  src/gateway_api/client/gateway_client.rs
  src/profile/logic/account/create_account.rs
  src/profile/logic/gateway/current_gateway.rs
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/account_address_uniffi_fn.rs
  src/profile/v100/entity/abstract_entity_type.rs
  src/profile/v100/factors/factor_sources/device_factor_source/device_factor_source.rs
  src/profile/v100/profile.rs
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/relay_service/service.rs
  src/system/clients/client/http_client/http_client.rs
  src/system/clients/client/secure_storage_client/secure_storage_client.rs
  src/system/drivers/networking_driver/support/test/mock_networking_driver.rs
  src/system/sargon_os/sargon_os_profile.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/execution_summary.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Clients no longer hold reference to Drivers, since each client respectively hold onto its driver it uses.
  src/system/clients/clients.rs
  src/system/drivers/drivers.rs
  src/system/sargon_os/sargon_os.rs
Due: fmt, clippy, unit tests

cleanup
  apple/Tests/TestCases/System/EventKindTests.swift
  src/core/error/common_error.rs
  src/system/drivers/event_bus_driver/support/event.rs
  src/system/drivers/event_bus_driver/support/event_kind.rs
  src/system/drivers/event_bus_driver/support/event_notification.rs
  src/system/drivers/file_system_driver/support/test/rust_file_system_driver.rs
  src/system/drivers/networking_driver/networking_driver.rs
  src/system/sargon_os/profile_holder.rs
  src/system/sargon_os/sargon_os.rs
  src/system/sargon_os/sargon_os_accounts.rs
  src/system/sargon_os/sargon_os_profile.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

fixes
  src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  SwiftFormat: any of: \.swift$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
