Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

wip
  crates/sargon/src/system/sargon_os/transactions/support/signable_manifest_summary.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/signing/signables/signable.rs
  crates/sargon/src/signing/signables/signable_subintent.rs
  crates/sargon/src/signing/signables/signable_transaction_intent.rs
  crates/sargon/src/system/sargon_os/transactions/support/pre_auth_to_review.rs
  crates/sargon/src/system/sargon_os/transactions/support/signable_manifest_summary.rs
Due: fmt, clippy, unit tests

add timeout of 20 min to Swift CI
  .github/attention.md
  .github/workflows/test.yml
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

cargo version bump
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

wip
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
  crates/sargon/src/system/sargon_os/transactions/support/pre_auth_to_review.rs
Due: fmt, clippy, unit tests

add timeout of 20 min to Swift CI (#248)
  .github/attention.md
  .github/workflows/test.yml
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

Release of '1.1.39' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

update script
  .github/workflows/test.yml
Due: none

bump versions
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

fix indent
  .github/workflows/test.yml
Due: none

Add UnvalidatedSubintentManifest
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/mod.rs
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/subintent.rs
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/unvalidated_subintent_manifest.rs
  crates/sargon/fixtures/vector/wallet_interactions_dapp_to_wallet.json
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/mod.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/subintent.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/unvalidated_subintent_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
Due: fmt, clippy, unit tests

Update CI to check version on both Cargo.toml (#249)
  .github/workflows/test.yml
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

fmt
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/unvalidated_subintent_manifest.rs
Due: fmt, clippy, unit tests

Release of '1.1.40' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Update PreAuthorization request models (#250)
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/mod.rs
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/subintent.rs
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/unvalidated_subintent_manifest.rs
  crates/sargon/Cargo.toml
  crates/sargon/fixtures/vector/wallet_interactions_dapp_to_wallet.json
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/mod.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/subintent.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/unvalidated_subintent_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
Due: fmt, clippy, unit tests

Release of '1.1.41' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
Due: fmt, clippy, unit tests

update test
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/subintent.rs
Due: fmt, clippy, unit tests

Transaction analysis v2 (#242)
  Cargo.lock
  apple/Sources/Sargon/Extensions/Methods/RET/SubintentManifest+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/TransactionManifest+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/TransactionManifestV2+Wrap+Functions.swift
  apple/Tests/TestCases/RET/TransactionManifestTests.swift
  apple/Tests/TestCases/RET/TransactionManifestV2Tests.swift
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon-uniffi/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon-uniffi/src/system/sargon_os/transactions/support/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/transactions/support/pre_auth_to_review.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/manifest_summary.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_v2.rs
  crates/sargon/Cargo.toml
  crates/sargon/fixtures/transaction/multi_account_resource_transfer_subintent.rtm
  crates/sargon/fixtures/transaction/resource_transfer_subintent.rtm
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/gateway_api/methods/transaction_methods.rs
  crates/sargon/src/gateway_api/models/logic/request/transaction/preview/transaction_preview.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/subintent.rs
  crates/sargon/src/signing/collector/extractor_of_instances_required_to_sign_transactions.rs
  crates/sargon/src/signing/signables/signable.rs
  crates/sargon/src/signing/signables/signable_subintent.rs
  crates/sargon/src/signing/signables/signable_transaction_intent.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon/src/system/sargon_os/transactions/support/mod.rs
  crates/sargon/src/system/sargon_os/transactions/support/pre_auth_to_review.rs
  crates/sargon/src/system/sargon_os/transactions/support/signable_manifest_summary.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/execution_summary/execution_summary.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_indicator/resource_indicator.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/manifest_summary.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_v2.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SubintentManifest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TransactionManifest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TransactionManifestV2.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  crates/sargon/fixtures/transaction/open_subintent_manifest.rtm
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
Due: fmt, clippy, unit tests

Release of '1.1.42' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

unknown resources
  crates/sargon/fixtures/transaction/open_subintent_manifest.rtm
Due: none

wip
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/NonFungibleGlobalID+Swiftified.swift
Due: ensure Swift setup for local development, SwiftFormat

expose pre_auth response initializer
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/pre_authorization/pre_authorization.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/subintent.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/pre_authorization/pre_authorization.rs
  crates/sargon/src/signing/signables/signable_subintent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/compiled_subintent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/signed_partial_transaction.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/subintent.rs
Due: fmt, clippy, unit tests

expose pre_auth response initializer
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
Due: none

expose pre_auth response initializer
  Cargo.lock
  crates/sargon/Cargo.toml
Due: none

wip
  apple/Sources/Sargon/Extensions/Methods/RET/CompiledSubintent+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/Subintent+Wrap+Functions.swift
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/intent_core_v2.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/intent_signatures_v2.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/mod.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/child_intents.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/child_subintent.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/instructions_v2/instructions_v2.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/instructions_v2/mod.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/mod.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/pre_authorization/pre_authorization.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/intent_core_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/mod.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/CompiledSubintent.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/CompiledSubintentSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/CompiledSubintentTest.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

fix extension and added new ones
  apple/Sources/Sargon/Extensions/Methods/Crypto/IntentDiscriminator+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/CompiledSubintent+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/IntentDiscriminator+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/IntentDiscriminator+Swiftified.swift
Due: ensure Swift setup for local development, SwiftFormat

fix kt test
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/subintent.rs
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/CompiledSubintentTest.kt
Due: fmt, clippy, unit tests

wip
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/pre_authorization/pre_authorization.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/mod.rs
  crates/sargon/src/core/types/keys/is_private_key.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/pre_authorization/pre_authorization.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/instructions/instructions.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/intent_signatures_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/subintent.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/signed_subintent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/signed_subintent.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/signed_subintent.rs
Due: fmt, clippy, unit tests

Expose PreAuthResponse item initializer (#251)
  Cargo.lock
  apple/Sources/Sargon/Extensions/Methods/Crypto/IntentDiscriminator+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/CompiledSubintent+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/Subintent+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/IntentDiscriminator+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/IntentDiscriminator+Swiftified.swift
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/pre_authorization/pre_authorization.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/intent_core_v2.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/intent_signatures_v2.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/mod.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/signed_subintent.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/subintent.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/child_intents.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/child_subintent.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/instructions_v2/instructions_v2.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/instructions_v2/mod.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/mod.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/core/types/keys/is_private_key.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/pre_authorization/pre_authorization.rs
  crates/sargon/src/signing/signables/signable_subintent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/instructions/instructions.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/compiled_subintent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/intent_core_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/intent_signatures_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/signed_partial_transaction.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/signed_subintent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/subintent.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/CompiledSubintent.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/CompiledSubintentSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/CompiledSubintentTest.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Release of '1.1.43' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/allowed_ids.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/lower_bound.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/mod.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/simple_fungible_resource_bounds.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/simple_non_fungible_resource_bounds.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/simple_resource_bounds.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/upper_bound.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/signed_subintent.rs
  crates/sargon/fixtures/transaction/open_subintent_fungibles.rtm
  crates/sargon/fixtures/transaction/open_subintent_non_fungibles_no_certain_ids.rtm
  crates/sargon/fixtures/transaction/open_subintent_non_fungibles_with_certain_ids.rtm
  crates/sargon/fixtures/transaction/open_subintent_pool_stakes_stake_claim_1.rtm
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/allowed_ids.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/lower_bound.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/simple_counted_resource_bounds.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/simple_non_fungible_resource_bounds.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/simple_resource_bounds.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/upper_bound.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_v2.rs
Due: fmt, clippy, unit tests

PICK ME: Add FactorInstancesProvider::agnostic_paths module
  crates/sargon/src/factor_instances_provider/agnostic_paths/derivation_preset.rs
  crates/sargon/src/factor_instances_provider/agnostic_paths/index_agnostic_path.rs
  crates/sargon/src/factor_instances_provider/agnostic_paths/mod.rs
  crates/sargon/src/factor_instances_provider/agnostic_paths/quantified_derivation_preset.rs
  crates/sargon/src/factor_instances_provider/agnostic_paths/quantities.rs
  crates/sargon/src/factor_instances_provider/mod.rs
  crates/sargon/src/hierarchical_deterministic/cap26/paths/account_path.rs
  crates/sargon/src/hierarchical_deterministic/cap26/paths/identity_path.rs
  crates/sargon/src/hierarchical_deterministic/derivation/derivation_path.rs
  crates/sargon/src/lib.rs
  crates/sargon/src/profile/v100/entity_security_state/unsecured_entity_control.rs
  crates/sargon/src/profile/v100/factors/hd_transaction_signing_factor_instance.rs
  crates/sargon/src/profile/v100/factors/hierarchical_deterministic_factor_instance.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/account_deposit.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/simple_resource_bounds.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/unspecified_resources.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/manifest_summary.rs
  crates/sargon/fixtures/transaction/mint_nft_gumball_card.rtm
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/account_deposit.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/simple_non_fungible_resource_bounds.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/simple_resource_bounds.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/unspecified_resources.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/manifest_summary.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_v2.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/fixtures/transaction/open_subintent_non_fungibles_with_certain_ids.rtm
  crates/sargon/fixtures/transaction/open_subintent_pool_stakes_stake_claim_1.rtm
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/simple_resource_bounds.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
Due: fmt, clippy, unit tests
