Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

SwiftFormat:
  name: SwiftFormat
  language: system
  entry: swiftformat .
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

store host id in memory
  crates/sargon-uniffi/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os_profile.rs
Due: fmt, clippy, unit tests

fmt
  crates/sargon/src/system/sargon_os/sargon_os.rs
Due: fmt, clippy, unit tests

interpretation while < limit; add
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder.rs
Due: fmt, clippy, unit tests

UniFFI test
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/Cargo.toml
Due: fmt, clippy, unit tests

doc
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder/auto_build_outcome_for_testing.rs
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder/automatic_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder/factor_selector.rs
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder/mod.rs
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder/proto_matrix.rs
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder/quantity.rs
Due: fmt, clippy, unit tests

rename to integrity
  crates/sargon-uniffi/src/profile/v100/entities_linked_to_factor_source/accessibility/accessibility.rs
  crates/sargon-uniffi/src/profile/v100/entities_linked_to_factor_source/accessibility/mod.rs
  crates/sargon-uniffi/src/profile/v100/entities_linked_to_factor_source/entities_linked_to_factor_source.rs
  crates/sargon-uniffi/src/profile/v100/entities_linked_to_factor_source/integrity/device.rs
  crates/sargon-uniffi/src/profile/v100/entities_linked_to_factor_source/integrity/integrity.rs
  crates/sargon-uniffi/src/profile/v100/entities_linked_to_factor_source/integrity/mod.rs
  crates/sargon-uniffi/src/profile/v100/entities_linked_to_factor_source/mod.rs
  crates/sargon/src/profile/logic/entities_linked_to_factor_source/entities_linked_to_factor_source.rs
  crates/sargon/src/profile/v100/entities_linked_to_factor_source/accessibility/accessibility.rs
  crates/sargon/src/profile/v100/entities_linked_to_factor_source/accessibility/mod.rs
  crates/sargon/src/profile/v100/entities_linked_to_factor_source/entities_linked_to_factor_source.rs
  crates/sargon/src/profile/v100/entities_linked_to_factor_source/integrity/device.rs
  crates/sargon/src/profile/v100/entities_linked_to_factor_source/integrity/integrity.rs
  crates/sargon/src/profile/v100/entities_linked_to_factor_source/integrity/mod.rs
  crates/sargon/src/profile/v100/entities_linked_to_factor_source/mod.rs
  crates/sargon/src/system/sargon_os/sargon_os_entities_linked_to_factor_source.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon-uniffi/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os.rs
Due: fmt, clippy, unit tests

wi[
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

wip
  crates/sargon/src/system/sargon_os/sargon_os.rs
Due: fmt, clippy, unit tests

add one test prooving that Password1 + Password2 is invalid in PrimaryRole. Need another FactorSourceKIND.
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

bump Scrypto and RET
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

WIP
  crates/sargon/src/profile/logic/entities_linked_to_factor_source/mod.rs
  crates/sargon/src/profile/logic/mod.rs
  crates/sargon/src/profile/logic/profile_network/mod.rs
  crates/sargon/src/profile/logic/profile_network/profile_network_entities_linked_to_factor_source.rs
  crates/sargon/src/profile/v100/entities_linked_to_factor_source/entities_linked_to_factor_source.rs
  crates/sargon/src/profile/v100/entities_linked_to_factor_source/integrity/device.rs
  crates/sargon/src/profile/v100/entities_linked_to_factor_source/integrity/integrity.rs
  crates/sargon/src/system/sargon_os/sargon_os_entities_linked_to_factor_source.rs
Due: fmt, clippy, unit tests

Keep HostId in memory (#303)
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/system/sargon_os/sargon_os.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os_profile.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/mod.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_access_controller.rs
Due: fmt, clippy, unit tests

doc
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder/automatic_shield_builder.rs
Due: fmt, clippy, unit tests

bump to 84
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

add internal conversion for IndexSet to Sargon-UniFFI
  crates/sargon-uniffi/src/core/types/collections/internal_mapping.rs
  crates/sargon-uniffi/src/keys_collector/key_derivation_request.rs
  crates/sargon-uniffi/src/keys_collector/key_derivation_response.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon-uniffi/src/signing/neglected_factors.rs
  crates/sargon-uniffi/src/signing/sign_response.rs
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder/automatic_shield_builder.rs
Due: fmt, clippy, unit tests

missing tests
  crates/sargon/src/profile/logic/profile_network/profile_network_entities_linked_to_factor_source.rs
  crates/sargon/src/system/drivers/drivers.rs
  crates/sargon/src/system/drivers/secure_storage_driver/support/test/mock_secure_storage.rs
  crates/sargon/src/system/drivers/secure_storage_driver/support/test/mod.rs
  crates/sargon/src/system/drivers/unsafe_storage_driver/support/test/mod.rs
  crates/sargon/src/system/sargon_os/sargon_os_entities_linked_to_factor_source.rs
Due: fmt, clippy, unit tests

version bump
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

Automatic Assignment of Factors to Recovery & Confirmation Role (#299)
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon-uniffi/src/core/types/collections/internal_mapping.rs
  crates/sargon-uniffi/src/core/types/requested_quantity.rs
  crates/sargon-uniffi/src/keys_collector/key_derivation_request.rs
  crates/sargon-uniffi/src/keys_collector/key_derivation_response.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon-uniffi/src/signing/neglected_factors.rs
  crates/sargon-uniffi/src/signing/sign_response.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/core/types/requested_quantity.rs
  crates/sargon/src/profile/logic/account/query_security_structures.rs
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder/auto_build_outcome_for_testing.rs
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder/automatic_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder/factor_selector.rs
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder/mod.rs
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder/proto_matrix.rs
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder/quantity.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/matrix_builder.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/matrix_builder_unit_tests.rs
  crates/sargon/src/profile/mfa/security_structures/mod.rs
  crates/sargon/src/profile/mfa/security_structures/roles/abstract_role_builder_or_built.rs
  crates/sargon/src/profile/mfa/security_structures/roles/builder/confirmation_roles_builder_unit_tests.rs
  crates/sargon/src/profile/mfa/security_structures/roles/builder/primary_roles_builder_unit_tests.rs
  crates/sargon/src/profile/mfa/security_structures/roles/builder/recovery_roles_builder_unit_tests.rs
  crates/sargon/src/profile/mfa/security_structures/roles/builder/roles_builder.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_prerequisites_status.rs
  crates/sargon/src/profile/mfa/security_structures/security_structure_of_factors/security_structure_of_factor_source_ids.rs
  crates/sargon/src/profile/v100/app_preferences/security.rs
  crates/sargon/src/profile/v100/factors/factor_source_category.rs
  crates/sargon/src/profile/v100/factors/factor_source_id.rs
  crates/sargon/src/profile/v100/networks/network/authorized_dapp/shared_with_dapp.rs
Due: fmt, clippy, unit tests

[no ci] wip
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/addresses_manifest_builder_support.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_access_controller.rs
Due: fmt, clippy, unit tests

create_access_controller
  crates/sargon/src/lib.rs
  crates/sargon/src/profile/mfa/security_structures/roles/factor_levels/factor_instance_level/role_into_scrypto_access_rule.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/addresses_manifest_builder_support.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_access_controller.rs
Due: fmt, clippy, unit tests

changes after feedback
  crates/sargon/src/profile/logic/profile_network/profile_network_entities_linked_to_factor_source.rs
  crates/sargon/src/profile/logic/profile_network/profile_network_get_entities.rs
  crates/sargon/src/system/drivers/secure_storage_driver/support/test/mock_secure_storage.rs
  crates/sargon/src/system/drivers/secure_storage_driver/support/test/mod.rs
  crates/sargon/src/system/sargon_os/sargon_os_entities_linked_to_factor_source.rs
Due: fmt, clippy, unit tests

bump again
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

implemented containsDataForKey in the AndroidStorageDriver for the Android SargonOS
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidStorageDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/StorageUtils.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/key/ByteArrayKeyMapping.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/key/DatastoreKeyMapping.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/key/DeviceFactorSourceMnemonicKeyMapping.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/key/HostIdKeyMapping.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/key/ProfileSnapshotKeyMapping.kt
Due: none

updated Fakes in unit tests
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/driver/Fakes.kt
Due: none

changes after feedback
  apple/Tests/IntegrationTests/DriversTests/UnsafeStorageDriverTests.swift
  crates/sargon-uniffi/src/profile/v100/entities_linked_to_factor_source/integrity/device.rs
  crates/sargon/src/profile/v100/entities_linked_to_factor_source/integrity/device.rs
  crates/sargon/src/system/sargon_os/sargon_os_entities_linked_to_factor_source.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[no ci] WIP
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon-uniffi/src/profile/mfa/secured_entity_control/secured_entity_control.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_structures/security_structure_of_factor_instances.rs
  crates/sargon-uniffi/src/profile/v100/entity_security_state/mod.rs
  crates/sargon-uniffi/src/profile/v100/entity_security_state/provisional_securified_config.rs
  crates/sargon-uniffi/src/profile/v100/entity_security_state/unsecured_entity_control.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/profile/logic/profile_network/profile_network_details.rs
  crates/sargon/src/profile/mfa/secured_entity_control/secured_entity_control.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/matrix_of_factor_instances.rs
  crates/sargon/src/profile/mfa/security_structures/security_structure_of_factors/security_structure_of_factor_instances.rs
  crates/sargon/src/profile/v100/entity/account/account.rs
  crates/sargon/src/profile/v100/entity/has_security_state.rs
  crates/sargon/src/profile/v100/entity/persona/persona.rs
  crates/sargon/src/profile/v100/entity_security_state/entity_security_state.rs
  crates/sargon/src/profile/v100/entity_security_state/mod.rs
  crates/sargon/src/profile/v100/entity_security_state/provisional_securified_config.rs
  crates/sargon/src/profile/v100/entity_security_state/unsecured_entity_control.rs
  crates/sargon/src/profile/v100/factors/hierarchical_deterministic_factor_instance.rs
  crates/sargon/src/profile/v100/profile_legacy_state_bugs.rs
  crates/sargon/src/signing/authentication/authentication_signing_input.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/types/samples/account_samples.rs
  crates/sargon/src/types/samples/persona_samples.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/transaction_hashes.rs
Due: fmt, clippy, unit tests

[no ci] wip
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_access_controller.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon-uniffi/src/system/drivers/arculus_csdk_driver/arculus_csdk_driver.rs
  crates/sargon-uniffi/src/system/drivers/arculus_csdk_driver/mod.rs
  crates/sargon-uniffi/src/system/drivers/drivers.rs
  crates/sargon-uniffi/src/system/drivers/nfc_tag_driver/mod.rs
  crates/sargon-uniffi/src/system/drivers/nfc_tag_driver/nfc_tag_driver.rs
  crates/sargon-uniffi/src/system/sargon_os/arculus_card/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/arculus_card/sargon_os_arculus_card.rs
  crates/sargon/src/arculus_card/mod.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/core/has_sample_values.rs
  crates/sargon/src/lib.rs
  crates/sargon/src/system/clients/client/arculus_wallet_client/arculus_wallet_client.rs
  crates/sargon/src/system/clients/client/arculus_wallet_client/arculus_wallet_client_io.rs
  crates/sargon/src/system/clients/client/arculus_wallet_client/arculus_wallet_response_status.rs
  crates/sargon/src/system/clients/client/arculus_wallet_client/mod.rs
  crates/sargon/src/system/clients/clients.rs
  crates/sargon/src/system/drivers/arculus_csdk_driver/arculus_csdk_driver.rs
  crates/sargon/src/system/drivers/arculus_csdk_driver/mod.rs
  crates/sargon/src/system/drivers/arculus_csdk_driver/support/mod.rs
  crates/sargon/src/system/drivers/arculus_csdk_driver/support/test/arculus_csdk_driver.rs
  crates/sargon/src/system/drivers/arculus_csdk_driver/support/test/mod.rs
  crates/sargon/src/system/drivers/nfc_driver/mod.rs
  crates/sargon/src/system/drivers/nfc_driver/nfc_driver.rs
  crates/sargon/src/system/drivers/nfc_driver/support/mod.rs
  crates/sargon/src/system/drivers/nfc_driver/support/test/mod.rs
  crates/sargon/src/system/drivers/nfc_driver/support/test/nfc_tag_driver.rs
  crates/sargon/src/system/sargon_os/arculus_card/mod.rs
  crates/sargon/src/system/sargon_os/arculus_card/sargon_os_arculus_card.rs
Due: fmt, clippy, unit tests

wip
  Cargo.lock
  crates/sargon/Cargo.toml
  crates/sargon/src/system/clients/client/arculus_wallet_client/arculus_wallet_session.rs
  crates/sargon/src/system/clients/client/arculus_wallet_client/mod.rs
  crates/sargon/src/system/drivers/arculus_csdk_driver/arculus_csdk_driver.rs
  crates/sargon/src/system/drivers/nfc_driver/nfc_driver.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon/src/profile/mfa/secured_entity_control/secured_entity_control.rs
  crates/sargon/src/profile/v100/entity_security_state/entity_security_state.rs
  crates/sargon/src/profile/v100/entity_security_state/unsecured_entity_control.rs
Due: fmt, clippy, unit tests

wip
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/execution_summary/reserved_instruction.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/manifest_summary.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/core/has_sample_values.rs
  crates/sargon/src/lib.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/execution_summary/reserved_instruction.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/manifest_summary.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_v2.rs
Due: fmt, clippy, unit tests

Expose ManifestSummary classification (#304)
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/execution_summary/reserved_instruction.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/manifest_summary.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/core/has_sample_values.rs
  crates/sargon/src/lib.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/execution_summary/reserved_instruction.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/manifest_summary.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_v2.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/system/clients/client/arculus_wallet_client/arculus_wallet_client_io.rs
Due: fmt, clippy, unit tests

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  SwiftFormat: any of: \.swift$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
