Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

SwiftFormat:
  name: SwiftFormat
  language: system
  entry: swiftformat .
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

export method to create account with specific factor source
  apple/Sources/Sargon/SargonOS/SargonOS+SargonOSProtocol.swift
  apple/Sources/Sargon/SargonOS/SargonOSProtocol.swift
  apple/Sources/Sargon/SargonOS/TestOS.swift
Due: ensure Swift setup for local development, SwiftFormat

specify network id when creating account
  apple/Sources/Sargon/SargonOS/SargonOS+SargonOSProtocol.swift
  apple/Sources/Sargon/SargonOS/SargonOSProtocol.swift
  apple/Sources/Sargon/SargonOS/TestOS.swift
Due: ensure Swift setup for local development, SwiftFormat

fixes after rebase
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/mod.rs
Due: fmt, clippy, unit tests

allow to create account with specific Factor Source
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/entities/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

export method to create Persona
  apple/Sources/Sargon/SargonOS/SargonOS+SargonOSProtocol.swift
  apple/Sources/Sargon/SargonOS/SargonOSProtocol.swift
  apple/Sources/Sargon/SargonOS/TestOS.swift
  crates/system/os/os/src/os_testing_support.rs
  crates/system/os/os/src/sargon_os_personas.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_personas.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

revert cache filling quantiites changes
  crates/factors/next-derivation-index-ephemeral/src/agnostic_paths/quantities.rs
Due: fmt, clippy, unit tests

extension for Subintent
  apple/Sources/Sargon/Extensions/Methods/RET/CompiledSubintent+Wrap+Functions.swift
Due: ensure Swift setup for local development, SwiftFormat

treat main babylon device factor source as 'main_bdfs' rather than 'bdfs'
  apple/Sources/Sargon/SargonOS/SargonOS+SargonOSProtocol.swift
  apple/Sources/Sargon/SargonOS/TestOS.swift
  crates/factors/instances-provider/src/next_index_assigner/next_derivation_entity_index_assigner.rs
  crates/profile/logic/logic_SPLIT_ME/src/logic/query_factor_sources.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/profile.rs
  crates/system/os/derive-public-keys/src/support/source.rs
  crates/system/os/factors/src/apply_security_shield/sargon_os_apply_shield.rs
  crates/system/os/factors/src/test_instances_provider.rs
  crates/system/os/os/src/os_testing_support.rs
  crates/system/os/os/src/sargon_os.rs
  crates/system/os/os/src/sargon_os_accounts.rs
  crates/system/os/os/src/sargon_os_factors.rs
  crates/system/os/os/src/sargon_os_personas.rs
  crates/system/os/os/src/sargon_os_profile.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/entities/sargon_os_accounts.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_derive_public_keys.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_factors.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_personas.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

WIP
  Cargo.lock
  Cargo.toml
  crates/app/key-derivation-traits/src/derivation_purpose.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/lib.rs
  crates/system/os/derive-public-keys/Cargo.toml
  crates/system/os/derive-public-keys/src/lib.rs
  crates/system/os/derive-public-keys/src/sargon_os_derive_public_keys.rs
  crates/uniffi/uniffi_SPLIT_ME/src/keys_collector/derivation_purpose.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_derive_public_keys.rs
Due: fmt, clippy, unit tests

WIP
  apple/Sources/Sargon/Extensions/Methods/RET/CompiledTransactionIntent+Wrap+Functions.swift
  apple/Sources/Sargon/SargonOS/SargonOS+Static+Shared.swift
  apple/Tests/IntegrationTests/SargonOS/SargonOSTests.swift
Due: ensure Swift setup for local development, SwiftFormat

tests and improvements
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/DerivationPath+Wrap+Functions.swift
  apple/Sources/Sargon/SargonOS/TestOS.swift
  apple/Tests/IntegrationTests/SargonOS/TestOSTests.swift
  apple/Tests/TestCases/Address/AddressOfAccountOrPersonaTests.swift
  crates/system/os/derive-public-keys/src/lib.rs
  crates/system/os/derive-public-keys/src/sargon_os_derive_public_keys.rs
  crates/system/os/derive-public-keys/src/support/mod.rs
  crates/system/os/derive-public-keys/src/support/source.rs
  crates/system/os/factors/src/apply_security_shield/sargon_os_apply_shield.rs
  crates/system/os/os/src/sargon_os_personas.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

remove unwanted change
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/DerivationPath+Wrap+Functions.swift
Due: ensure Swift setup for local development, SwiftFormat

export method to get Hash from AuthIntentHash
  apple/Sources/Sargon/Extensions/Methods/Address/AddressOfAccountOrPersona+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Signing/Authentication/AuthIntentHash+Wrap+Functions.swift
  crates/uniffi/uniffi_SPLIT_ME/src/signing/authentication/auth_intent_hash.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Rename variant
  crates/system/os/derive-public-keys/src/sargon_os_derive_public_keys.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_derive_public_keys.rs
Due: fmt, clippy, unit tests

FromStr parsing of DerivationPaths and friends now use 'lenient' parsing - accepting CANONICAL BIP32 string repr.
  crates/crypto/hd/src/bip32/hd_path.rs
  crates/crypto/hd/src/bip32/hd_path_component.rs
  crates/crypto/hd/src/bip32/key_space/components/hardened.rs
  crates/crypto/hd/src/bip32/key_space/components/securified.rs
  crates/crypto/hd/src/bip32/key_space/components/unhardened.rs
  crates/crypto/hd/src/bip32/key_space/components/unsecurified.rs
  crates/crypto/hd/src/bip32/key_space/components/unsecurified_hardened.rs
  crates/crypto/hd/src/bip32/key_space/key_space.rs
  crates/crypto/hd/src/bip32/traits/from_bip32_str.rs
  crates/crypto/hd/src/bip32/traits/is_path_component_string_convertible.rs
  crates/crypto/hd/src/bip32/traits/to_bip32_str.rs
  crates/crypto/hd/src/bip44/bip44_like_path.rs
  crates/crypto/hd/src/cap26/paths/account_path.rs
  crates/crypto/hd/src/derivation/derivation_path.rs
Due: fmt, clippy, unit tests

polish
  crates/crypto/hd/src/bip32/key_space/components/hardened.rs
  crates/crypto/hd/src/bip32/key_space/components/securified.rs
  crates/crypto/hd/src/bip32/key_space/components/unsecurified_hardened.rs
  crates/crypto/hd/src/derivation/derivation_path.rs
Due: fmt, clippy, unit tests

fix
  crates/uniffi/uniffi_SPLIT_ME/src/hierarchical_deterministic/derivation/derivation_path.rs
Due: fmt, clippy, unit tests

introduce concept of CAP43
  crates/crypto/hd/src/bip32/hd_path.rs
  crates/crypto/hd/src/bip32/hd_path_component.rs
  crates/crypto/hd/src/bip32/key_space/components/hardened.rs
  crates/crypto/hd/src/bip32/key_space/components/securified.rs
  crates/crypto/hd/src/bip32/key_space/components/unhardened.rs
  crates/crypto/hd/src/bip32/key_space/components/unsecurified.rs
  crates/crypto/hd/src/bip32/key_space/components/unsecurified_hardened.rs
  crates/crypto/hd/src/bip32/traits/from_bip32_str.rs
  crates/crypto/hd/src/bip32/traits/to_bip32_str.rs
  crates/crypto/hd/src/bip44/bip44_like_path.rs
  crates/crypto/hd/src/cap26/paths/account_path.rs
  crates/crypto/hd/src/cap26/paths/get_id_path.rs
  crates/crypto/hd/src/cap26/paths/identity_path.rs
  crates/crypto/hd/src/derivation/derivation_path.rs
  crates/factors/next-derivation-index-ephemeral/src/agnostic_paths/index_agnostic_path.rs
  crates/sargon/tests/vectors/main.rs
  crates/uniffi/uniffi_SPLIT_ME/src/hierarchical_deterministic/bip32/hd_path_component.rs
  crates/uniffi/uniffi_SPLIT_ME/src/hierarchical_deterministic/derivation/derivation_path.rs
Due: fmt, clippy, unit tests

rename tests
  crates/crypto/hd/src/derivation/derivation_path.rs
Due: fmt, clippy, unit tests

tests and comments
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/DerivationPath+Wrap+Functions.swift
  apple/Tests/TestCases/Crypto/DerivationPathTests.swift
Due: ensure Swift setup for local development, SwiftFormat

fix Kotlin
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DerivationPath.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DerivationPathTest.kt
Due: none

first initial impl of manifests for updating securified entities
  crates/profile/models/supporting-types/src/abstract_securified_entity.rs
  crates/transaction/manifests/src/manifests_security_shield/access_controller_factors_and_time_input.rs
  crates/transaction/manifests/src/manifests_security_shield/manifests_securify_shield_securified_entity.rs
  crates/transaction/manifests/src/manifests_security_shield/manifests_securify_shield_unsecurified_entity.rs
  crates/transaction/manifests/src/manifests_security_shield/mod.rs
  crates/transaction/manifests/src/manifests_security_shield/transaction_manifest_apply_security_shield_any_input.rs
  crates/transaction/manifests/src/manifests_security_shield/transaction_manifest_apply_security_shield_kind.rs
  crates/transaction/manifests/src/manifests_security_shield/transaction_manifest_apply_security_shield_securified_input.rs
  crates/transaction/manifests/src/manifests_security_shield/transaction_manifest_owner_badge_producing.rs
Due: fmt, clippy, unit tests

remove unused input type
  crates/transaction/manifests/src/manifests_security_shield/mod.rs
  crates/transaction/manifests/src/manifests_security_shield/transaction_manifest_apply_security_shield_any_input.rs
Due: fmt, clippy, unit tests

remove unused input types
  crates/system/os/factors/src/apply_security_shield/sargon_os_apply_security_shield_interaction.rs
  crates/transaction/manifests/src/manifests_security_shield/manifests_securify_shield_securified_entity.rs
  crates/transaction/manifests/src/manifests_security_shield/manifests_securify_shield_unsecurified_entity.rs
  crates/transaction/manifests/src/manifests_security_shield/mod.rs
  crates/transaction/manifests/src/manifests_security_shield/transaction_manifest_apply_security_shield_securified_input.rs
Due: fmt, clippy, unit tests

add modify_manifest_add_lock_fee_against_xrd_vault_of_access_controller
  Cargo.lock
  crates/common/numeric/src/decimal/decimal192.rs
  crates/system/os/factors/src/apply_security_shield/sargon_os_apply_security_shield_interaction.rs
  crates/transaction/manifests/Cargo.toml
  crates/transaction/manifests/src/manifests_security_shield/lock_fee_against_xrd_vault_of_access_controller.rs
  crates/transaction/manifests/src/manifests_security_shield/manifests_securify_shield_securified_entity.rs
  crates/transaction/manifests/src/manifests_security_shield/mod.rs
  crates/transaction/manifests/src/manifests_security_shield/transaction_manifest_apply_security_shield_kind.rs
Due: fmt, clippy, unit tests

fix typos
  crates/transaction/manifests/src/manifests_security_shield/lock_fee_against_xrd_vault_of_access_controller.rs
Due: fmt, clippy, unit tests

doc
  crates/transaction/manifests/src/manifests_security_shield/access_controller_factors_and_time_input.rs
  crates/transaction/manifests/src/manifests_security_shield/transaction_manifest_apply_security_shield_kind.rs
  crates/transaction/manifests/src/manifests_security_shield/transaction_manifest_owner_badge_producing.rs
Due: fmt, clippy, unit tests

split out confirm of time based to be done later.
  crates/transaction/manifests/src/manifests_security_shield/confirm_timed_recovery.rs
  crates/transaction/manifests/src/manifests_security_shield/manifests_securify_shield_securified_entity.rs
  crates/transaction/manifests/src/manifests_security_shield/mod.rs
  crates/transaction/manifests/src/manifests_security_shield/transaction_manifest_apply_security_shield_kind.rs
Due: fmt, clippy, unit tests

Expose authorization interactor
  crates/system/interactors/src/authorization_interactor.rs
  crates/system/interactors/src/interactors.rs
  crates/system/interactors/src/lib.rs
  crates/system/interactors/src/testing/mod.rs
  crates/system/interactors/src/testing/test_authorization_interactor.rs
  crates/system/os/os/src/sargon_os.rs
  crates/system/os/os/src/sargon_os_accounts.rs
  crates/system/os/os/src/sargon_os_personas.rs
  crates/system/os/os/src/testing_interactors.rs
  crates/system/os/signing/src/sargon_os_signing.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/interactors/host_interactor.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os.rs
  crates/uniffi/uniffi_SPLIT_ME/src/types/authorization.rs
  crates/uniffi/uniffi_SPLIT_ME/src/types/mod.rs
Due: fmt, clippy, unit tests

Rename SigningRejecting to HostInteractionAborted
  crates/app/signing-traits/src/testing/interactors/test_sign_interactor.rs
  crates/core/error/src/common_error.rs
  crates/system/os/os/src/sargon_os_accounts.rs
  crates/system/os/os/src/sargon_os_personas.rs
  crates/system/os/signing/src/sargon_os_signing.rs
  crates/uniffi/uniffi_SPLIT_ME/src/core/error/common_error.rs
Due: fmt, clippy, unit tests

Replace bad wording 'auto_confirm' with 'timed_confirm' to make it clear that it does not happen automagically.
  crates/profile/models/app-preferences/src/security.rs
  crates/profile/models/base-entity/src/entity_security_state/entity_security_state.rs
  crates/profile/models/base-entity/src/entity_security_state/secured_entity_control/secured_entity_control.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/abstract_matrix_builder_or_built.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/builder/error.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/builder/matrix_builder.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/builder/matrix_builder_unit_tests.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/builder/matrix_template.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/matrix_of_factor_instances.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/matrix_of_factor_source_ids.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/matrix_of_factor_sources.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder_rule_violation.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_structure_of_factors/security_structure_of_factor_instances.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_structure_of_factors/security_structure_of_factor_source_ids.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_structure_of_factors/security_structure_of_factor_sources.rs
  crates/profile/models/security-structures/src/time_period.rs
  crates/transaction/manifests/src/manifests_security_shield/transaction_manifest_apply_security_shield_kind.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/matrices/decl_matrix_macro.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/security_shield_builder_rule_violation.rs
Due: fmt, clippy, unit tests

fix typo
  crates/transaction/manifests/src/manifests_security_shield/lock_fee_against_xrd_vault_of_access_controller.rs
Due: fmt, clippy, unit tests

Fix host tests
  apple/Sources/Sargon/SargonOS/ThrowingHostInteractor+Static+Shared.swift
  apple/Tests/TestCases/System/ThrowingHostInteractorTests.swift
  crates/system/interactors/src/testing/test_authorization_interactor.rs
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/interactor/FakeHostInteractor.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Add test that verifies derivation index is correct
  crates/system/interactors/src/authorization_interactor.rs
  crates/system/interactors/src/testing/test_authorization_interactor.rs
  crates/system/os/derive-public-keys/src/sargon_os_derive_public_keys.rs
  crates/system/os/os/src/sargon_os.rs
  crates/system/os/os/src/sargon_os_accounts.rs
  crates/system/os/os/src/sargon_os_personas.rs
  crates/system/os/os/src/testing_interactors.rs
  crates/system/os/signing/src/sargon_os_signing.rs
Due: fmt, clippy, unit tests

Fix test
  crates/system/os/os/src/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  SwiftFormat: any of: \.swift$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
