Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

SwiftFormat:
  name: SwiftFormat
  language: system
  entry: swiftformat .
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/Flows/NewSecurityQuestionsFeature/NewSecurityQuestionsFeatureCoordinator.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/LabeledTextField.swift
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/kdf/sub_kdf/key_exchange_keys_from_questions_and_answer/keys_from_questions_and_answers_lower_trim_utf8.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Dependencies/FactorSourcesClient.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/NewSecurityQuestionsFeature/AnswerSecurityQuestionFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/NewSecurityQuestionsFeature/NewSecurityQuestionsFeatureCoordinator.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/NewSecurityQuestionsFeature/SecurityQuestionsCreationCompleted.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/NewSecurityQuestionsFeature/SelectQuestionsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/NewSecurityQuestionsFeature/SharedState+SecurityQuestions.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Dependencies/FactorSourcesClient.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/MnemonicClient.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/NewSecurityQuestionsFeature/Children/AnswerSecurityQuestionFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/NewSecurityQuestionsFeature/Children/SecurityQuestionsReviewAnswersFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/NewSecurityQuestionsFeature/Children/SelectQuestionsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/NewSecurityQuestionsFeature/Children/SharedState+SecurityQuestions.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/NewSecurityQuestionsFeature/NewSecurityQuestionsFeatureCoordinator.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/Flows/NewSecurityQuestionsFeature/Children/AnswerSecurityQuestionFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/NewSecurityQuestionsFeature/Children/SecurityQuestionsReviewAnswersFeature.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/Labeled.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/Flows/NewSecurityQuestionsFeature/Children/AnswerSecurityQuestionFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/NewSecurityQuestionsFeature/Children/SecurityQuestionsReviewAnswersFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/NewSecurityQuestionsFeature/Children/SelectQuestionsFeature.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/Labeled.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Dependencies/AccountsClient.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/NewSecurityQuestionsFeature/Children/SelectQuestionsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/NewSecurityQuestionsFeature/NewSecurityQuestionsFeatureCoordinator.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/Flows/NewSecurityQuestionsFeature/Children/SecurityQuestionsReviewAnswersFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/NewSecurityQuestionsFeature/Children/SelectQuestionsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/FactorSourceCardView.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Dependencies/FactorSourcesClient.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Manage/ManageSpecificFactorSourcesFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/SecurityQuestions/DecryptSecurityQuestionsFeature/DecryptSecurityQuestionsFeatureCoordinator.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/SecurityQuestions/NewSecurityQuestionsFeature/Children/AnswerSecurityQuestionFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/SecurityQuestions/NewSecurityQuestionsFeature/Children/SecurityQuestionsReviewAnswersFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/SecurityQuestions/NewSecurityQuestionsFeature/Children/SelectQuestionsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/SecurityQuestions/NewSecurityQuestionsFeature/Children/SharedState+SecurityQuestions.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/SecurityQuestions/NewSecurityQuestionsFeature/NewSecurityQuestionsFeatureCoordinator.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/FactorSourceCardView.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/FactorSourceHintView.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  fixtures/vector/wallet_interactions_dapp_to_wallet.json
  src/core/error/common_error.rs
  src/profile/v100/json_data_convertible.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/authorized_request.rs
  src/wallet/secure_storage/wallet_client_storage.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests

wip
  fixtures/vector/wallet_interactions_dapp_to_wallet.json
  tests/vectors/main.rs
Due: fmt, clippy, unit tests

Expose dapp interaction serialization methods and bump sargon version
  Cargo.lock
  Cargo.toml
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DappToWalletInteractionUnvalidated.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/WalletToDappInteractionResponse.kt
Due: none

correct address
  tests/vectors/main.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/New/InputMnemonicFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/New/NewHWFactorSourceFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/CreateAccount/CreateAccountFlowFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/ImportProfileFlowFeature/ImportProfileFlowFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/ImportProfileFlowFeature/Steps/SelectFileFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/Onboarding/OnboardingFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/SecurityQuestions/DecryptSecurityQuestionsFeature/DecryptSecurityQuestionsFeatureCoordinator.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/SecurityQuestions/NewSecurityQuestionsFeature/Children/AnswerSecurityQuestionFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/SecurityQuestions/NewSecurityQuestionsFeature/Children/SecurityQuestionsReviewAnswersFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/SecurityQuestions/NewSecurityQuestionsFeature/Children/SelectQuestionsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/SecurityQuestions/NewSecurityQuestionsFeature/NewSecurityQuestionsFeatureCoordinator.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SettingsFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/TrustedContactFactorSource+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Factor/FactorSource/TrustedContactFactorSource+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Factor/FactorSource/TrustedContactFactorSourceContact+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/TrustedContactFactorSource+Swiftified.swift
  apple/Tests/TestCases/Profile/Factor/TrustedContactFactorSourceTests.swift
  fixtures/vector/security_questions_factor_source_sample.json
  fixtures/vector/security_questions_factor_source_sample_other.json
  src/core/error/common_error.rs
  src/profile/security_structure_config/mfa_factor_sources/mod.rs
  src/profile/security_structure_config/mfa_factor_sources/trusted_contact_factor_source/mod.rs
  src/profile/security_structure_config/mfa_factor_sources/trusted_contact_factor_source/trusted_contact_factor_source.rs
  src/profile/security_structure_config/mfa_factor_sources/trusted_contact_factor_source/trusted_contact_factor_source_contact.rs
  src/profile/security_structure_config/mfa_factor_sources/trusted_contact_factor_source/trusted_contact_factor_source_contact_uniffi_fn.rs
  src/profile/security_structure_config/mfa_factor_sources/trusted_contact_factor_source/trusted_contact_factor_source_uniffi_fn.rs
  src/profile/supporting_types/email_address.rs
  src/profile/supporting_types/email_address_uniffi_fn.rs
  src/profile/supporting_types/mod.rs
  src/profile/v100/entity/persona/persona_data/entry_kinds/persona_data_entry_email_address.rs
  src/profile/v100/factors/factor_source.rs
  src/profile/v100/factors/factor_source_id_from_address.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

fix
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/MnemonicWithPassphrase.kt
Due: none

TrustedContactFactorSource scaffolding.
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/TrustedContactFactorSource+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Persona/PersonaData/PersonaDataEntryEmailAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Derivation/BIP39/Mnemonic+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Factor/FactorSource/TrustedContactFactorSource+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Factor/FactorSource/TrustedContactFactorSourceContact+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Persona/PersonaData/PersonaDataEntryEmailAddress+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSource+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Persona/PersonaData/PersonaData+Entry.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Persona/PersonaData/PersonaDataEntryEmailAddress+Swiftified.swift
  apple/Tests/TestCases/Profile/Factor/ArculusCardFactorSourceTests.swift
  apple/Tests/TestCases/Profile/Factor/DeviceFactorSourceTests.swift
  apple/Tests/TestCases/Profile/Factor/LedgerHardwareWalletFactorSourceTests.swift
  apple/Tests/TestCases/Profile/Factor/OffDeviceMnemonicFactorSourceTests.swift
  apple/Tests/TestCases/Profile/Factor/SecurityQuestionsFactorSourceTests.swift
  apple/Tests/TestCases/Profile/Factor/TrustedContactFactorSourceTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Add TrustedContactFactorSource UI
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/New/NewTrustedContactFactorSourceFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/FactorSourceCardView.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/FactorSourceHintView.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/LabeledTextField.swift
Due: ensure Swift setup for local development, SwiftFormat

add tests to kotlin extension methods
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DappToWalletInteractionUnvalidated.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/WalletToDappInteractionResponse.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/BagOfBytesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DappToWalletInteractionUnvalidatedTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/P2PLinkTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/RadixConnectPurposeTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/WalletToDappInteractionResponseTest.kt
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_uniffi_fn.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/Account/AccountDetailsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Account/AccountsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Account/SelectGradientFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/ManageSecurityShieldsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Settings/GatewaysFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Settings/SettingsFeature.swift
  examples/iOS/Backend/Sources/Planbok/SharedState/SharedState+FactorSources.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/FactorSourceCardView.swift
  src/profile/v100/factors/factor_source_common_uniffi_fn.rs
  src/system/sargon_os/mod.rs
  src/system/sargon_os/sargon_os_shields.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

fix tests
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/dapp_to_wallet_interaction_uniffi_fn.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/wallet_to_dapp_interaction_uniffi_fn.rs
Due: fmt, clippy, unit tests

remove redundant annotations
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DappToWalletInteractionUnvalidated.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/WalletToDappInteractionResponse.kt
Due: none

Expose dapp interaction serialization methods and bump sargon version (#155)
  Cargo.lock
  Cargo.toml
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DappToWalletInteractionUnvalidated.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/WalletToDappInteractionResponse.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/BagOfBytesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DappToWalletInteractionUnvalidatedTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/P2PLinkTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/RadixConnectPurposeTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/WalletToDappInteractionResponseTest.kt
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/dapp_to_wallet_interaction_uniffi_fn.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/wallet_to_dapp_interaction_uniffi_fn.rs
Due: fmt, clippy, unit tests

Release of '1.0.8' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  src/profile/security_structure_config/abstract_security_structure_configuration.rs
  src/profile/security_structure_config/mod.rs
  src/profile/security_structure_config/security_shields.rs
  src/profile/security_structure_config/security_structure_configuration_reference.rs
  src/profile/security_structure_config/security_structure_metadata.rs
  src/profile/v100/app_preferences/app_preferences.rs
  src/profile/v100/app_preferences/security.rs
  src/profile/v100/factors/factor_source_id_from_address.rs
  src/profile/v100/factors/factor_source_id_from_hash.rs
  src/profile/v100/profile.rs
  src/system/sargon_os/sargon_os_shields.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  src/profile/security_structure_config/abstract_security_structure_configuration.rs
  src/profile/security_structure_config/security_structure_configuration_reference.rs
  src/profile/v100/address/account_address.rs
  src/profile/v100/factors/factor_source_id_from_address.rs
  src/profile/v100/factors/factor_source_id_from_hash.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  src/profile/v100/factors/factor_source_common_uniffi_fn.rs
  src/profile/v100/factors/factor_source_id_from_hash.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  src/profile/v100/factors/factor_source_id.rs
  src/profile/v100/factors/factor_source_id_from_address.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  src/profile/v100/profile_uniffi_fn.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  src/lib.rs
  src/profile/security_structure_config/abstract_security_structure_configuration.rs
  src/profile/security_structure_config/abstract_shield_structure.rs
  src/profile/security_structure_config/mod.rs
  src/profile/security_structure_config/schematic_of_security_shield.rs
  src/profile/security_structure_config/security_shields.rs
  src/profile/v100/app_preferences/security.rs
  src/system/sargon_os/sargon_os_shields.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  src/profile/security_structure_config/schematic_of_security_shield.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  src/lib.rs
  src/profile/security_structure_config/abstract_shield_structure.rs
  src/profile/security_structure_config/mfa_factor_sources/trusted_contact_factor_source/trusted_contact_factor_source.rs
  src/profile/security_structure_config/mod.rs
  src/profile/security_structure_config/schematic_of_security_shield.rs
  src/profile/security_structure_config/security_shield.rs
  src/profile/security_structure_config/security_shields.rs
  src/profile/v100/address/account_address.rs
  src/profile/v100/app_preferences/security.rs
  src/profile/v100/factors/factor_source.rs
  src/system/sargon_os/sargon_os_shields.rs
Due: fmt, clippy, unit tests

impl From<Shield> for Schematics, and impl TryFrom<(Schematics, Sources) for Shield
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/question/security_questions_uniffi_fn.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source_uniffi_fn.rs
  src/profile/security_structure_config/schematic_of_security_shield.rs
  src/profile/security_structure_config/security_shield.rs
  src/profile/security_structure_config/security_structure_metadata.rs
  src/profile/v100/factors/factor_source.rs
Due: fmt, clippy, unit tests

Shields (#156)
  src/profile/security_structure_config/abstract_security_structure_configuration.rs
  src/profile/security_structure_config/abstract_shield_structure.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/question/security_questions_uniffi_fn.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source_uniffi_fn.rs
  src/profile/security_structure_config/mfa_factor_sources/trusted_contact_factor_source/trusted_contact_factor_source.rs
  src/profile/security_structure_config/mod.rs
  src/profile/security_structure_config/schematic_of_security_shield.rs
  src/profile/security_structure_config/security_shield.rs
  src/profile/security_structure_config/security_shields.rs
  src/profile/security_structure_config/security_structure_configuration_reference.rs
  src/profile/security_structure_config/security_structure_metadata.rs
  src/profile/v100/address/account_address.rs
  src/profile/v100/app_preferences/security.rs
  src/profile/v100/factors/factor_source.rs
  src/system/sargon_os/sargon_os_shields.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  factor_instances.rs
  factor_source_ids.rs
  factor_sources.rs
  src/profile/security_structure_config/abstract_shield_structure.rs
  src/profile/security_structure_config/decl_security_structure_of.rs
  src/profile/security_structure_config/mod.rs
  src/profile/security_structure_config/schematic_of_security_shield.rs
  src/profile/security_structure_config/security_shield.rs
  src/profile/security_structure_config/security_shields.rs
  src/profile/security_structure_config/security_structure_of_factor_instances.rs
  src/profile/security_structure_config/security_structure_of_factor_source_ids.rs
  src/profile/security_structure_config/security_structure_of_factor_sources.rs
  src/profile/security_structure_config/security_structures_of_factor_source_ids.rs
  src/profile/security_structure_config/security_structures_of_factor_sources.rs
  src/profile/v100/app_preferences/app_preferences.rs
  src/profile/v100/app_preferences/security.rs
  src/profile/v100/profile.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  src/profile/mfa/security_structures/decl_security_structure_of.rs
  src/profile/mfa/security_structures/index_set_uniffi.rs
  src/profile/v100/factors/factor_instance/factor_instance_badge.rs
  src/system/sargon_os/sargon_os_shields.rs
Due: fmt, clippy, unit tests

wip
  src/core/error/common_error.rs
  src/profile/mfa/security_structures/index_set_uniffi.rs
  src/profile/mfa/security_structures/security_structure_of_factor_source_ids.rs
  src/profile/mfa/security_structures/security_structure_of_factor_sources.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  src/core/error/common_error.rs
  src/profile/mfa/security_structures/mod.rs
  src/profile/mfa/security_structures/ordered_set/mod.rs
  src/profile/mfa/security_structures/ordered_set/ordered_set.rs
  src/profile/mfa/security_structures/ordered_set/ordered_set_display_debug.rs
  src/profile/mfa/security_structures/security_structure_id.rs
  src/profile/mfa/security_structures/security_structure_metadata.rs
  src/profile/mfa/security_structures/security_structure_of_factor_instances.rs
  src/profile/mfa/security_structures/security_structure_of_factor_sources.rs
Due: fmt, clippy, unit tests

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  SwiftFormat: any of: \.swift$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
