Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

wip
  apple/Sources/Sargon/Drivers/ProfileChange/ProfileChange.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/Drivers/Drivers+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/SargonOS+Swiftified.swift
  apple/Sources/Sargon/SargonOS/SargonOSProtocol.swift
  src/system/clients/client/mod.rs
  src/system/clients/client/profile_change_client/mod.rs
  src/system/clients/client/profile_change_client/profile_change_client.rs
  src/system/clients/clients.rs
  src/system/drivers/drivers.rs
  src/system/drivers/mod.rs
  src/system/drivers/profile_change_driver/mod.rs
  src/system/drivers/profile_change_driver/profile_change_driver.rs
  src/system/drivers/profile_change_driver/support/mod.rs
  src/system/drivers/profile_change_driver/support/test/mod.rs
  src/system/drivers/profile_change_driver/support/test/rust_profile_change_driver.rs
  src/system/sargon_os/sargon_os.rs
  src/system/sargon_os/sargon_os_profile.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  apple/Sources/Sargon/Drivers/HostInfo/HostInfoDriver+DeviceInfo.swift
Due: ensure Swift setup for local development, SwiftFormat

Small fix for AppleHostDriver (#192)
  apple/Sources/Sargon/Drivers/HostInfo/HostInfoDriver+DeviceInfo.swift
Due: ensure Swift setup for local development, SwiftFormat

Release of '1.0.32' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  Cargo.lock
  Cargo.toml
Due: none

Bump to regenerate artefacts for iOS (#193)
  Cargo.lock
  Cargo.toml
Due: none

Release of '1.0.33' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Boot sargon os in example app
  examples/android/build.gradle.kts
  examples/android/src/main/AndroidManifest.xml
  examples/android/src/main/java/com/radixdlt/sargon/android/EphemeralKeystore.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/ExampleApplication.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/MainViewModel.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/SargonOsManager.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/di/ApplicationModule.kt
  jvm/build.gradle.kts
  jvm/gradle/libs.versions.toml
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-android/src/androidTest/kotlin/com/radixdlt/sargon/os/driver/AndroidStorageDriverDeviceFactorSourceMnemonicTest.kt
  jvm/sargon-android/src/androidTest/kotlin/com/radixdlt/sargon/os/driver/AndroidStorageDriverTest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/Bios.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidBiometricAuthorizationDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidStorageDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/radixconnect/RadixConnectSessionStorage.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/KeySpec.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/StorageUtils.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/key/ByteArrayKeyMapping.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/key/DeviceFactorSourceMnemonicKeyMapping.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/key/ProfileSnapshotKeyMapping.kt
Due: none

Remove active profile id
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidStorageDriver.kt
  src/system/clients/client/secure_storage_client/secure_storage_client.rs
  src/system/drivers/secure_storage_driver/support/secure_storage_key.rs
  src/system/sargon_os/sargon_os.rs
  src/system/sargon_os/sargon_os_accounts.rs
  src/system/sargon_os/sargon_os_profile.rs
Due: fmt, clippy, unit tests

WIP
  src/lib.rs
  src/profile/v100/app_preferences/app_preferences_uniffi_fn.rs
  src/types/mod.rs
  src/types/uniffi_url.rs
Due: fmt, clippy, unit tests

wip
  src/types/ffi_url.rs
  src/types/mod.rs
Due: fmt, clippy, unit tests

not working
  apple/Sources/Sargon/Extensions/Swiftified/Profile/AppPreferences+Swiftified.swift
  src/profile/v100/app_preferences/app_preferences_uniffi_fn.rs
  src/types/ffi_url.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Moving 4 positions before try_read
  src/types/ffi_url.rs
Due: fmt, clippy, unit tests

tests
  apple/Sources/Sargon/Extensions/Swiftified/Profile/AppPreferences+Swiftified.swift
  src/profile/v100/app_preferences/app_preferences_uniffi_fn.rs
  src/types/ffi_url.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Add Swift test
  apple/Tests/TestCases/Profile/AppPreferencesTests.swift
Due: ensure Swift setup for local development, SwiftFormat

bump version
  Cargo.lock
  Cargo.toml
Due: none

feedback updates
  apple/Tests/TestCases/Profile/AppPreferencesTests.swift
  src/profile/v100/app_preferences/app_preferences_uniffi_fn.rs
  src/types/ffi_url.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Add more unit tests
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-android/src/androidTest/kotlin/com/radixdlt/sargon/os/driver/AndroidStorageDriverHostIdTest.kt
  jvm/sargon-android/src/androidTest/kotlin/com/radixdlt/sargon/os/driver/AndroidStorageDriverTest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Decimal192.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSource.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/HomeCardsManager.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Result.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/Bios.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidBiometricAuthorizationDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidStorageDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/key/ByteArrayKeyMapping.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/key/HostIdKeyMapping.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DisplayNameTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourceTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/MnemonicWithPassphraseTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ResultTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SecureStorageKeyTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/UnsafeStorageKeyTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/radixconnect/RadixConnectSessionStorageTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/KeystoreAccessRequestTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/StorageUtilsTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/key/ByteArrayKeyMappingTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/key/DeviceFactorSourceMnemonicKeyMappingTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/key/HostIdKeyMappingTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/key/ProfileSnapshotKeyMappingTest.kt
Due: none

remove useeless use
  src/types/ffi_url.rs
Due: fmt, clippy, unit tests

Create from String and expose Url
  apple/Sources/Sargon/Extensions/Methods/Prelude/FfiUrl+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/FfiUrl+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/AppPreferences+Swiftified.swift
  apple/Tests/TestCases/Prelude/FfiUrlTests.swift
  apple/Tests/TestCases/Profile/AppPreferencesTests.swift
  src/types/ffi_url.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

fix test
  apple/Tests/TestCases/Prelude/FfiUrlTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Add wrapper FfiUrl (#195)
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Extensions/Methods/Prelude/FfiUrl+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/FfiUrl+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/AppPreferences+Swiftified.swift
  apple/Tests/TestCases/Prelude/FfiUrlTests.swift
  apple/Tests/TestCases/Profile/AppPreferencesTests.swift
  src/lib.rs
  src/profile/v100/app_preferences/app_preferences_uniffi_fn.rs
  src/types/ffi_url.rs
  src/types/mod.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Release of '1.0.34' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Fix apple tests
  apple/Tests/IntegrationTests/DriversTests/EventBusDriverTests.swift
  apple/Tests/IntegrationTests/DriversTests/InsecureStorageTests.swift
  apple/Tests/IntegrationTests/DriversTests/NetworkingDriverTests.swift
  apple/Tests/IntegrationTests/SargonOS/TestOSTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Change profile holder to keep profile state instead of profile
  src/core/error/common_error.rs
  src/system/sargon_os/mod.rs
  src/system/sargon_os/profile_holder.rs
  src/system/sargon_os/profile_state_holder.rs
  src/system/sargon_os/sargon_os.rs
  src/system/sargon_os/sargon_os_accounts.rs
  src/system/sargon_os/sargon_os_factors.rs
  src/system/sargon_os/sargon_os_gateway.rs
  src/system/sargon_os/sargon_os_profile.rs
  src/system/sargon_os/sargon_os_security_structures.rs
Due: fmt, clippy, unit tests

Driver emits profile states instead of profile
  src/system/clients/client/profile_change_client/profile_change_client.rs
  src/system/clients/clients.rs
  src/system/drivers/drivers.rs
  src/system/drivers/profile_change_driver/profile_change_driver.rs
  src/system/drivers/profile_change_driver/support/test/rust_profile_change_driver.rs
  src/system/sargon_os/sargon_os_profile.rs
Due: fmt, clippy, unit tests

Changes to AppPreferences with commented tests
  src/profile/encrypted/encryption/encrypted_profile_snapshot.rs
  src/profile/v100/app_preferences/app_preferences.rs
  src/profile/v100/app_preferences/mod.rs
  src/profile/v100/app_preferences/resource_preferences.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: fmt, clippy, unit tests

pr review
  apple/Sources/Sargon/Drivers/HostInfo/HostInfoDriver+DeviceInfo.swift
  apple/Sources/Sargon/Drivers/ProfileChange/ProfileChange.swift
  apple/Sources/Sargon/Util/EventPublisher.swift
  src/system/drivers/profile_change_driver/support/test/mod.rs
  src/system/drivers/profile_change_driver/support/test/rust_profile_change_driver.rs
  src/system/sargon_os/sargon_os_profile.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Implement new and delete wallet functions
  src/system/sargon_os/profile_state_holder.rs
  src/system/sargon_os/sargon_os.rs
  src/system/sargon_os/sargon_os_accounts.rs
  src/system/sargon_os/sargon_os_factors.rs
  src/system/sargon_os/sargon_os_gateway.rs
  src/system/sargon_os/sargon_os_profile.rs
  src/system/sargon_os/sargon_os_security_structures.rs
Due: fmt, clippy, unit tests

Remove unused comment
  src/system/sargon_os/sargon_os.rs
  src/system/sargon_os/sargon_os_profile.rs
Due: fmt, clippy, unit tests

version bump
  Cargo.lock
  Cargo.toml
Due: none

Release of '1.0.35' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Implement import functionality
  src/system/sargon_os/sargon_os.rs
Due: fmt, clippy, unit tests

Propagate CRUD operations on profile to the profile state change driver.
  examples/android/src/main/AndroidManifest.xml
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/MainViewModel.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/SargonOsManager.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/di/ApplicationModule.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/Bios.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidLoggingDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidProfileChangeDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidProfileStateChangeDriver.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/driver/AndroidLoggingDriverTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/driver/AndroidProfileStateChangeDriverTest.kt
  src/system/clients/client/secure_storage_client/secure_storage_client.rs
  src/system/sargon_os/sargon_os.rs
Due: fmt, clippy, unit tests

WIP
  src/profile/v100/app_preferences/app_preferences.rs
  src/profile/v100/app_preferences/resource_preferences.rs
  src/profile/v100/app_preferences/resource_preferences/mod.rs
  src/profile/v100/app_preferences/resource_preferences/resource_preferences.rs
  src/profile/v100/app_preferences/resource_preferences/resource_preferences_uniffi_fn.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: fmt, clippy, unit tests

Remove unnecessary comment
  src/system/sargon_os/sargon_os.rs
Due: fmt, clippy, unit tests
