Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

Add impl for subintent
  crates/sargon/src/signing/signables/signable.rs
  crates/sargon/src/signing/signables/signable_subintent.rs
  crates/sargon/src/signing/signables/signable_transaction_intent.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Extensions/Methods/Address/AccessControllerAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/ValidatorAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/VaultAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/NonFungibleGlobalID+Wrap+Functions.swift
  crates/sargon-uniffi/src/profile/v100/address/account_address.rs
  crates/sargon-uniffi/src/profile/v100/address/address_format.rs
  crates/sargon-uniffi/src/profile/v100/address/component_address.rs
  crates/sargon-uniffi/src/profile/v100/address/non_fungible_global_id.rs
  crates/sargon-uniffi/src/profile/v100/address/non_fungible_local_id.rs
  crates/sargon-uniffi/src/profile/v100/address/non_fungible_resource_address.rs
  crates/sargon-uniffi/src/profile/v100/address/pool_address.rs
  crates/sargon-uniffi/src/profile/v100/address/resource_address.rs
  crates/sargon-uniffi/src/profile/v100/address/vault_address.rs
  crates/sargon-uniffi/src/profile/v100/address/wrap_ret_address.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  apple/Sources/Sargon/Extensions/Methods/Address/AccessControllerAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/AccountAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/ComponentAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/IdentityAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/LockerAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/PackageAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/PoolAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/NonFungibleGlobalID+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/NonFungibleLocalID+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/NonFungibleGlobalID+Swiftified.swift
Due: ensure Swift setup for local development, SwiftFormat

Fix kotlin and swift extensions
  apple/Sources/Sargon/Extensions/Methods/RET/Subintent+Wrap+Functions.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Subintent.kt
Due: ensure Swift setup for local development, SwiftFormat

Bump version
  Cargo.lock
  crates/sargon/Cargo.toml
Due: none

Make explicit usage of SignableID when possible
  crates/sargon/src/signing/collector/signatures_collector.rs
  crates/sargon/src/signing/collector/signatures_collector_preprocessor.rs
  crates/sargon/src/signing/host_interaction/interactors/mono_factor_sign_interactor.rs
  crates/sargon/src/signing/host_interaction/interactors/poly_factor_sign_interactor.rs
  crates/sargon/src/signing/host_interaction/requests/mono_factor_sign_request.rs
  crates/sargon/src/signing/host_interaction/requests/poly_factor_sign_request.rs
  crates/sargon/src/signing/host_interaction/requests/transaction_sign_request_input.rs
  crates/sargon/src/signing/host_interaction/sign_response.rs
  crates/sargon/src/signing/mod.rs
  crates/sargon/src/signing/petition_types/petition_for_entity.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/factor_source_referencing.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/petition_for_factors.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/petition_for_factors_input.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/petition_for_factors_state.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/petition_for_factors_state_snapshot.rs
  crates/sargon/src/signing/petition_types/petition_for_transaction.rs
  crates/sargon/src/signing/petition_types/petitions.rs
  crates/sargon/src/signing/signable_with_entities.rs
  crates/sargon/src/signing/signables/signable_subintent.rs
  crates/sargon/src/signing/signatures_outecome_types/maybe_signed_transactions.rs
  crates/sargon/src/signing/signatures_outecome_types/petition_transaction_outcome.rs
  crates/sargon/src/signing/signatures_outecome_types/sign_with_factors_outcome.rs
  crates/sargon/src/signing/signatures_outecome_types/signatures_outcome.rs
  crates/sargon/src/signing/testing/interactors/test_parallel_interactor.rs
  crates/sargon/src/signing/testing/interactors/test_serial_interactor.rs
  crates/sargon/src/signing/testing/simulated_user.rs
  crates/sargon/src/types/hd_signature.rs
  crates/sargon/src/types/hd_signature_input.rs
  crates/sargon/src/types/invalid_transaction_if_neglected.rs
  crates/sargon/tests/integration/main.rs
Due: fmt, clippy, unit tests

Release of '1.1.35' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  apple/Sources/Sargon/Extensions/Methods/Address/PoolAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/ResourceAddress+Wrap+Functions.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AccessControllerAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AccountAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ComponentAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/IdentityAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/LegacyOlympiaAccountAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/LockerAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NonFungibleGlobalId.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NonFungibleLocalId.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NonFungibleResourceAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PackageAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PoolAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ResourceAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ValidatorAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/VaultAddress.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AccountAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NonFungibleGlobalIdTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
Due: ensure Swift setup for local development, SwiftFormat

Implement kotlin extensions
  crates/sargon-uniffi/src/hierarchical_deterministic/bip32/hd_path_component.rs
  crates/sargon-uniffi/src/hierarchical_deterministic/bip32/unsecurified.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AccountPath.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/BIP44LikePath.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DerivationPath.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/HdPathComponent.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/IdentityPath.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SecurifiedU30.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/U30.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/U31.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Unhardened.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/UnsecurifiedHardened.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/HDPathComponentSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/HardenedSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/SecurifiedU30Sample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/U30Sample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/U31Sample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/UndescurifiedHardenedSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/UnhardenedSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/BIP44LikePathTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DerivationPathTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/HDPathComponentTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SecurifiedU30Test.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/U30Test.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/U31Test.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/UnhardenedTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/UnsecurifiedHardenedTest.kt
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/NonFungibleGlobalID+Swiftified.swift
  crates/sargon-uniffi/src/profile/v100/address/non_fungible_global_id.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

bump version
  Cargo.lock
  crates/sargon/Cargo.toml
Due: none

retry after delay when endpoint fails
  crates/sargon/src/system/drivers/networking_driver/support/test/mock_networking_driver.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_status.rs
Due: fmt, clippy, unit tests

fix swift test
  apple/Tests/TestCases/Crypto/BIP44LikePathTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Updates to Trancaction status polling (#246)
  Cargo.lock
  crates/sargon/Cargo.toml
  crates/sargon/src/system/drivers/networking_driver/support/test/mock_networking_driver.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_status.rs
Due: fmt, clippy, unit tests

Release of '1.1.36' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

bump cargo toml
  Cargo.lock
  crates/sargon/Cargo.toml
Due: none

remark
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

remark in toml
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

Add more extensions
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DerivationPath.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DerivationPathTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/HDPathComponentTest.kt
Due: none

Release of '1.1.38' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
Due: fmt, clippy, unit tests

add additional fields
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/manifest_summary.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon/src/system/sargon_os/transactions/support/mod.rs
  crates/sargon/src/system/sargon_os/transactions/support/pre_auth_to_review.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/manifest_summary.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_v2.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon-uniffi/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon-uniffi/src/system/sargon_os/transactions/support/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/transactions/support/pre_auth_to_review.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon/src/system/sargon_os/transactions/support/mod.rs
  crates/sargon/src/system/sargon_os/transactions/support/pre_auth_to_review.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/execution_summary/execution_summary.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_indicator/resource_indicator.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/manifest_summary.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_v2.rs
Due: fmt, clippy, unit tests

fix ios tests
  apple/Sources/Sargon/Extensions/Methods/RET/TransactionManifest+Wrap+Functions.swift
  apple/Tests/TestCases/RET/TransactionManifestTests.swift
  apple/Tests/TestCases/RET/TransactionManifestV2Tests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SubintentManifest.kt
Due: ensure Swift setup for local development, SwiftFormat

wip
  crates/sargon-uniffi/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Extensions/Methods/RET/SubintentManifest+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/TransactionManifestV2+Wrap+Functions.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SubintentManifest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TransactionManifest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TransactionManifestV2.kt
Due: ensure Swift setup for local development, SwiftFormat

fix
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SubintentManifest.kt
Due: none

wip
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_v2.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_v2.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/system/sargon_os/transactions/support/signable_manifest_summary.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/system/sargon_os/transactions/support/pre_auth_to_review.rs
  crates/sargon/src/system/sargon_os/transactions/support/signable_manifest_summary.rs
Due: fmt, clippy, unit tests

fix
  apple/Sources/Sargon/Extensions/Methods/RET/TransactionManifestV2+Wrap+Functions.swift
  crates/sargon-uniffi/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon/fixtures/transaction/multi_account_resource_transfer_subintent.rtm
  crates/sargon/fixtures/transaction/resource_transfer_subintent.rtm
  crates/sargon/src/gateway_api/models/logic/request/transaction/preview/transaction_preview.rs
  crates/sargon/src/signing/collector/extractor_of_instances_required_to_sign_transactions.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon/src/system/sargon_os/transactions/support/mod.rs
  crates/sargon/src/system/sargon_os/transactions/support/signable_manifest_summary.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_v2.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wi[
  crates/sargon-uniffi/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon/src/system/sargon_os/transactions/support/signable_manifest_summary.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/gateway_api/methods/transaction_methods.rs
  crates/sargon/src/gateway_api/models/logic/request/transaction/preview/transaction_preview.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_v2.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/gateway_api/models/logic/request/transaction/preview/transaction_preview.rs
Due: fmt, clippy, unit tests
