Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.17.2
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift not changed to local development
        name: ensure Swift not changed to local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-not-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

      - id: doc tests
        name: doc tests
        language: system
        types: [file, rust]
        entry: cargo test --doc
        pass_filenames: false

      - id: vectors integration tests
        name: vectors integration tests
        language: system
        types: [file, rust]
        entry: cargo test --package sargon --test vectors
        pass_filenames: false

      - id: uniffi bindgen tests
        name: uniffi bindgen tests
        language: system
        types: [file, rust]
        entry: bash -c 'exec env CLASSPATH="$PWD/jna-5.13.0.jar"' && bash -c 'exec env JAVA_OPTS="-Xmx8g"' && cargo test --package sargon --test uniffi
        pass_filenames: false

More tests and cleanup of AssetsTransfers
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifest_assets_transfers.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_asset/per_asset_fungible_transfer.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_asset/per_asset_transfers_of_non_fungible_resource.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_recipient/per_recipient_asset_transfers.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

ensure round does not crash for numbers very very close to Decimal192::max()
  src/core/types/decimal192.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

ONLY FOR TESTS: Add From<&str> for Decimal and Addresses, also add constructors employing impl Into<Decimal> and Into<SomeAddress> to greatly decrease LOC in tests using addresses and amounts.
  src/profile/v100/address/non_fungible_global_id.rs
  src/profile/v100/address/non_fungible_local_id.rs
  src/profile/v100/address/non_fungible_resource_address.rs
  src/profile/v100/address/wrap_ret_address.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_indicator/fungible_resource_indicator.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_indicator/non_fungible_resource_indicator.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_indicator/resource_indicator.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

more tests
  src/profile/v100/address/account_address.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/bucket.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/third_party_deposit_update/manifest_third_party_deposit_update.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_recipient/per_recipient_asset_transfers.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/stake_claim.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/transaction_guarantee.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

formatting of decimals
  src/core/types/decimal192.rs
  src/profile/v100/address/non_fungible_global_id.rs
  src/profile/v100/address/non_fungible_local_id.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/modify_manifest.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_asset/per_asset_fungible_resource.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_asset/per_asset_fungible_transfer.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_recipient/per_recipient_fungible_transfer.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/transfer_types.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/transaction_guarantee.rs
  src/wrapped_radix_engine_toolkit/low_level/address_conversion/resource_address_from.rs
  src/wrapped_radix_engine_toolkit/low_level/notary_signature.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

test formatting of decimal using grouping separator
  src/core/types/decimal192.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Doc
  src/core/types/decimal192.rs
  src/lib.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

fix bug with rounding of Decimal::MAX, CHANGE BEHAVIOUR of abs, do not panic on Decimal::MIN, instead return DECIMAL::MAX.
  apple/Sources/Sargon/Extensions/Methods/Decimal192+Wrap+Functions.swift
  src/core/types/decimal192.rs
  src/lib.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Remove num_format crate, add uniffi tests of decimal formatting.
  Cargo.lock
  Cargo.toml
  src/core/types/decimal192.rs
  src/core/types/locale_config.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Fix incorrectly generated release notes.
  scripts/ios/release.sh
Due: none

rename and doc
  apple/Sources/Sargon/Extensions/Methods/Decimal192+Wrap+Functions.swift
  examples/iOS/Planbok.xcworkspace/contents.xcworkspacedata
  examples/iOS/Sources/Planbok/Features/Flows/CreateAccount/Steps/SelectGradientFeature.swift
  src/core/types/decimal192.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

ManifestSummary
  src/profile/v100/address/resource_address.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/execution_summary.rs
  src/wrapped_radix_engine_toolkit/low_level/manifest_summary.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

unclone Addresses - let Address types impl Copy.
  src/profile/v100/address/non_fungible_global_id.rs
  src/profile/v100/address/non_fungible_resource_address.rs
  src/profile/v100/address/wrap_ret_address.rs
  src/profile/v100/entity/account/account.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/asset_exception.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/resource_or_non_fungible.rs
  src/profile/v100/entity/persona/persona.rs
  src/profile/v100/networks/network/accounts.rs
  src/profile/v100/networks/network/authorized_dapp/authorized_dapp.rs
  src/profile/v100/networks/network/authorized_dapp/authorized_persona_simple.rs
  src/profile/v100/networks/network/authorized_dapps.rs
  src/profile/v100/networks/network/personas.rs
  src/wallet/wallet_accounts.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/modify_manifest.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/assets_transfers_recipient.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_recipient/per_recipient_asset_transfers.rs
  src/wrapped_radix_engine_toolkit/low_level/address_conversion/resource_address_from.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Add Copy to PublicKey -> remove .clone()
  src/core/types/keys/ed25519/public_key.rs
  src/core/types/keys/public_key.rs
  src/core/types/keys/secp256k1/public_key.rs
  src/core/types/signatures/signature_with_public_key.rs
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/entity_address.rs
  src/profile/v100/factors/hd_transaction_signing_factor_instance.rs
  src/profile/v100/factors/hierarchical_deterministic_factor_instance.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

fix typo
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/execution_summary.rs
  src/wrapped_radix_engine_toolkit/low_level/manifest_summary.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Wrap RET: batch 8 (format Decimal) (#23)
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Extensions/Methods/Decimal192+Wrap+Functions.swift
  examples/iOS/Planbok.xcworkspace/contents.xcworkspacedata
  examples/iOS/Sources/Planbok/Features/Flows/CreateAccount/Steps/SelectGradientFeature.swift
  scripts/ios/release.sh
  src/core/types/decimal192.rs
  src/core/types/locale_config.rs
  src/lib.rs
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/non_fungible_global_id.rs
  src/profile/v100/address/non_fungible_local_id.rs
  src/profile/v100/address/non_fungible_resource_address.rs
  src/profile/v100/address/wrap_ret_address.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/bucket.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifest_assets_transfers.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/modify_manifest.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/third_party_deposit_update/manifest_third_party_deposit_update.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_asset/per_asset_fungible_resource.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_asset/per_asset_fungible_transfer.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_asset/per_asset_transfers_of_non_fungible_resource.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_recipient/per_recipient_asset_transfers.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_recipient/per_recipient_fungible_transfer.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/transfer_types.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/stake_claim.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/transaction_guarantee.rs
  src/wrapped_radix_engine_toolkit/low_level/address_conversion/resource_address_from.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_indicator/fungible_resource_indicator.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_indicator/non_fungible_resource_indicator.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_indicator/resource_indicator.rs
  src/wrapped_radix_engine_toolkit/low_level/notary_signature.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Wrap RET: batch 9 (ManifestSummary) (#24)
  src/core/types/keys/ed25519/public_key.rs
  src/core/types/keys/public_key.rs
  src/core/types/keys/secp256k1/public_key.rs
  src/core/types/signatures/signature_with_public_key.rs
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/entity_address.rs
  src/profile/v100/address/non_fungible_global_id.rs
  src/profile/v100/address/non_fungible_resource_address.rs
  src/profile/v100/address/resource_address.rs
  src/profile/v100/address/wrap_ret_address.rs
  src/profile/v100/entity/account/account.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/asset_exception.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/resource_or_non_fungible.rs
  src/profile/v100/entity/persona/persona.rs
  src/profile/v100/factors/hd_transaction_signing_factor_instance.rs
  src/profile/v100/factors/hierarchical_deterministic_factor_instance.rs
  src/profile/v100/networks/network/accounts.rs
  src/profile/v100/networks/network/authorized_dapp/authorized_dapp.rs
  src/profile/v100/networks/network/authorized_dapp/authorized_persona_simple.rs
  src/profile/v100/networks/network/authorized_dapps.rs
  src/profile/v100/networks/network/personas.rs
  src/wallet/wallet_accounts.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/modify_manifest.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/assets_transfers_recipient.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_recipient/per_recipient_asset_transfers.rs
  src/wrapped_radix_engine_toolkit/low_level/address_conversion/resource_address_from.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/execution_summary.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_indicator/resource_indicator.rs
  src/wrapped_radix_engine_toolkit/low_level/manifest_summary.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

WIP copy on all ExactlyN bytes types
  src/core/hash.rs
  src/core/secure_random_bytes.rs
  src/core/types/bag_of_bytes.rs
  src/core/types/exactly_n_bytes.rs
  src/core/types/keys/private_key.rs
  src/core/types/keys/secp256k1/private_key.rs
  src/core/types/non_empty_max_n_bytes.rs
  src/core/types/signatures/ed25519_signature.rs
  src/core/types/signatures/secp256k1_signature.rs
  src/hierarchical_deterministic/derivation/mnemonic_with_passphrase.rs
  src/profile/v100/address/non_fungible_local_id.rs
  src/profile/v100/app_preferences/p2p_links/radix_connect_password.rs
  src/sargon.udl
  src/wrapped_radix_engine_toolkit/low_level/public_key_hash.rs
  tests/uniffi/bindings/test_exactly32_bytes.swift
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Working ExactlyN bytes - waiting with Bindgen tests though.
  src/core/types/exactly_n_bytes.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

unclone
  src/core/types/keys/ed25519/public_key.rs
  src/core/types/keys/secp256k1/public_key.rs
  src/core/types/signatures/ed25519_signature.rs
  src/core/types/signatures/secp256k1_signature.rs
  src/core/types/signatures/signature.rs
  src/core/types/signatures/signature_with_public_key.rs
  src/hierarchical_deterministic/bip39/mnemonic.rs
  src/profile/logic/profile_next_derivation.rs
  src/profile/v100/app_preferences/p2p_links/p2p_link.rs
  src/profile/v100/app_preferences/p2p_links/radix_connect_password.rs
  src/profile/v100/factors/factor_source_id.rs
  src/profile/v100/factors/factor_source_id_from_hash.rs
  src/profile/v100/factors/factor_sources/private_hierarchical_deterministic_factor_source.rs
  src/profile/v100/factors/hd_transaction_signing_factor_instance.rs
  src/profile/v100/factors/hierarchical_deterministic_factor_instance.rs
  src/wallet/secure_storage/wallet_client_storage.rs
  src/wallet/wallet.rs
  src/wallet/wallet_accounts.rs
  src/wallet/wallet_device_factor_sources.rs
  src/wrapped_radix_engine_toolkit/low_level/intent_signature.rs
  src/wrapped_radix_engine_toolkit/low_level/notary_signature.rs
  src/wrapped_radix_engine_toolkit/low_level/public_key_hash.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

fix bindgen tests
  tests/uniffi/bindings/test_exactly32_bytes.swift
Due: ensure Swift not changed to local development

fix bindgen tests (exactly 32 bytes)
  .pre-commit-config.yaml
  tests/uniffi/bindings/test_exactly32_bytes.swift
Due: ensure Swift not changed to local development

bindgen
  tests/uniffi/bindings/test_exactly32_bytes.swift
Due: ensure Swift not changed to local development

better
  src/core/hash.rs
  src/core/types/decimal192.rs
  src/core/types/exactly_n_bytes.rs
  src/core/types/signatures/secp256k1_signature.rs
  src/lib.rs
  src/profile/logic/profile_next_derivation.rs
  src/profile/v100/address/non_fungible_local_id_string.rs
  src/profile/v100/address/wrap_ret_address.rs
  src/profile/v100/factors/factor_source_id_from_hash.rs
  src/sargon.udl
  src/wallet/wallet.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/instructions/instructions_secret_magic.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

add UniFFI tests of exactly N bytes Secret Magic
  src/core/types/exactly_n_bytes.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

cleanup exactly n bytes macro and tests
  src/core/types/exactly_n_bytes.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

better macros
  src/profile/v100/entity/persona/persona_data/persona_data_identified_collection_types.rs
  src/profile/v100/entity/persona/persona_data/persona_data_identified_entry_types.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

better macros
  .pre-commit-config.yaml
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/intent_hash.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/signed_intent_hash.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/transaction_hashes.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Better macros
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_indicator/predicted.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

unclone
  src/core/hash.rs
  src/core/types/bag_of_bytes.rs
  src/wrapped_radix_engine_toolkit/low_level/intent_signatures.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

better macros and unclone
  src/core/types/keys/secp256k1/public_key.rs
  src/hierarchical_deterministic/bip32/hd_path.rs
  src/hierarchical_deterministic/bip32/hd_path_component.rs
  src/hierarchical_deterministic/bip39/bip39_word/bip39_word.rs
  src/hierarchical_deterministic/bip39/bip39_word/u11.rs
  src/hierarchical_deterministic/bip39/mnemonic.rs
  src/profile/v100/app_preferences/app_display_settings/app_display_settings.rs
  src/profile/v100/app_preferences/transaction_preferences.rs
  src/profile/v100/entity/persona/persona_data/persona_data_entry_id.rs
  src/profile/v100/header/content_hint.rs
  src/profile/v100/header/header.rs
  src/profile/v100/header/profile_id.rs
  src/profile/v100/networks/network/authorized_dapp/shared_with_dapp.rs
  src/profile/v100/profile.rs
  src/wallet/wallet.rs
  src/wallet/wallet_profile_io.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_header.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

BROKEN WIP | swift tests
  .pre-commit-config.yaml
  Package.swift
  README.md
  scripts/ios/build-sargon.sh
  scripts/ios/ensure-is-local.sh
  scripts/ios/ensure-not-local.sh
  scripts/ios/release.sh
  scripts/ios/test.sh
  tests/uniffi/bindings/test_account_address.kts
  tests/uniffi/bindings/test_account_address.swift
  tests/uniffi/bindings/test_app_preferences.kts
  tests/uniffi/bindings/test_app_preferences.swift
  tests/uniffi/bindings/test_bag_of_bytes.kts
  tests/uniffi/bindings/test_bag_of_bytes.swift
  tests/uniffi/bindings/test_decimal192.swift
  tests/uniffi/bindings/test_exactly32_bytes.kts
  tests/uniffi/bindings/test_exactly32_bytes.swift
  tests/uniffi/bindings/test_factor_sources.kts
  tests/uniffi/bindings/test_factor_sources.swift
  tests/uniffi/bindings/test_gateways.kts
  tests/uniffi/bindings/test_gateways.swift
  tests/uniffi/bindings/test_header.kts
  tests/uniffi/bindings/test_header.swift
  tests/uniffi/bindings/test_keys.kts
  tests/uniffi/bindings/test_keys.swift
  tests/uniffi/bindings/test_non_fungible_local_id.kts
  tests/uniffi/bindings/test_non_fungible_local_id.swift
  tests/uniffi/bindings/test_profile.kts
  tests/uniffi/bindings/test_profile.swift
  tests/uniffi/bindings/test_radix_connect_password.kts
  tests/uniffi/bindings/test_radix_connect_password.swift
  tests/uniffi/bindings/test_resource_address.kts
  tests/uniffi/bindings/test_resource_address.swift
  tests/uniffi/bindings/test_tx_manifest.swift
  tests/uniffi/bindings/test_wallet.kts
  tests/uniffi/bindings/test_wallet.swift
  tests/uniffi/main.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Asserted that I can run Sargon in iOS Device, macOS Device and iOS Simulator. I can also run swift test from CLI, running Sargon Swift tests on macOS.
  Cargo.toml
  Package.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile+Swiftified.swift
  apple/Tests/SargonTests/ProfileTests.swift
  examples/iOS/App/PlanbokApp.xcodeproj/project.pbxproj
  examples/iOS/Sources/Planbok/Features/MainFeature.swift
  scripts/ios/build-sargon.sh
Due: ensure Swift not changed to local development

CI swift tests
  .github/workflows/release.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

WIP CI
  .github/workflows/test.yml
  scripts/ios/build-sargon.sh
  scripts/ios/test.sh
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/asset_exception.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

non fully parallized CI
  .github/workflows/test.yml
  scripts/ios/build-sargon.sh
Due: none

[no ci] change trigger
  .github/workflows/test.yml
Due: none

fix kotlin, run jvm tests in CI, try fixing code cove by installing bash.
  .github/workflows/test.yml
  .java-version
  README.md
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Decimal192.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Decimal192Test.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/RadixConnectPasswordTest.kt
Due: none

Run kotlin tests in precommit
  .github/workflows/test.yml
  .pre-commit-config.yaml
  README.md
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Exactly32BytesTest.kt
Due: none
