Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

fix kotlin test
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
Due: none

Sargon OS undo Profile JSON format change (#177)
  Cargo.lock
  Cargo.toml
  apple/Tests/TestCases/Profile/DeviceInfoTests.swift
  apple/Tests/TestCases/Profile/HeaderTests.swift
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/HeaderTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
  src/profile/v100/factors/factor_sources/device_factor_source/device_factor_source_hint.rs
  src/profile/v100/header/device_info.rs
  src/profile/v100/header/device_info_description.rs
  src/profile/v100/header/header.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Revert changes after merge
  apple/Tests/TestCases/RET/NotarizedTransactionTests.swift
  apple/Tests/TestCases/RET/TransactionIntentTests.swift
  apple/Tests/TestCases/RET/TransactionManifestTests.swift
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Decimal192Test.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NotarizedTransactionTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionIntentTest.kt
  src/gateway_api/client/gateway_client.rs
  src/radix_connect/mobile/relay_service/mod.rs
  src/wallet/secure_storage/secure_storage_key.rs
  src/wrapped_radix_engine_toolkit/low_level/compiled_notarized_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/notarized_transaction.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest_secret_magic.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Add cards manager. Update mod structure
  src/core/error/common_error.rs
  src/wallet/deferred_deep_link/deferred_deep_link.rs
  src/wallet/mod.rs
  src/wallet/post_onboarding_cards/deferred_deep_link/deferred_deep_link_method.rs
  src/wallet/post_onboarding_cards/deferred_deep_link/mod.rs
  src/wallet/post_onboarding_cards/deferred_deep_link/onboarding_deep_link_value.rs
  src/wallet/post_onboarding_cards/deferred_deep_link/parser.rs
  src/wallet/post_onboarding_cards/manager.rs
  src/wallet/post_onboarding_cards/mod.rs
  src/wallet/post_onboarding_cards/post_onboarding_card.rs
  src/wallet/post_onboarding_cards/post_onboarding_cards.rs
Due: fmt, clippy, unit tests

Rename cards
  src/core/error/common_error.rs
  src/wallet/home_cards/deferred_deep_link/deferred_deep_link_method.rs
  src/wallet/home_cards/deferred_deep_link/mod.rs
  src/wallet/home_cards/deferred_deep_link/onboarding_deep_link_value.rs
  src/wallet/home_cards/deferred_deep_link/parser.rs
  src/wallet/home_cards/home_card.rs
  src/wallet/home_cards/home_cards.rs
  src/wallet/home_cards/manager.rs
  src/wallet/home_cards/mod.rs
  src/wallet/mod.rs
  src/wallet/post_onboarding_cards/manager.rs
  src/wallet/post_onboarding_cards/mod.rs
  src/wallet/post_onboarding_cards/post_onboarding_cards.rs
Due: fmt, clippy, unit tests

Updates to model and logic
  src/wallet/home_cards/deferred_deep_link/deferred_deep_link_special_dapp.rs
  src/wallet/home_cards/deferred_deep_link/mod.rs
  src/wallet/home_cards/deferred_deep_link/onboarding_deep_link_value.rs
  src/wallet/home_cards/deferred_deep_link/parser.rs
  src/wallet/home_cards/home_card.rs
  src/wallet/home_cards/home_cards.rs
Due: fmt, clippy, unit tests

Add parser struct
  src/wallet/home_cards/deferred_deep_link/parser.rs
  src/wallet/home_cards/manager.rs
Due: fmt, clippy, unit tests

wip
  src/radix_connect/mobile/client.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure_response/failure.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/response.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/success.rs
Due: fmt, clippy, unit tests

Keep identifiers for default formatting in local ids when displayed in a global id
  src/profile/v100/address/non_fungible_global_id.rs
Due: fmt, clippy, unit tests

wip
  Cargo.lock
  Cargo.toml
Due: none

Remove Middle format kind
  apple/Tests/TestCases/Address/AccountAddressTests.swift
  apple/Tests/TestCases/Address/LegacyOlympiaAccountAddressTests.swift
  apple/Tests/TestCases/Prelude/NonFungibleGlobalIDTests.swift
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NonFungibleGlobalIdTest.kt
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/address_format.rs
  src/profile/v100/address/legacy_olympia_account_address.rs
  src/profile/v100/address/non_fungible_global_id.rs
  src/profile/v100/address/non_fungible_local_id.rs
  src/profile/v100/address/resource_address.rs
  src/profile/v100/address/wrap_ret_address.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/transaction_hashes.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Bump version
  Cargo.lock
  Cargo.toml
Due: none

Remove unused todo
  src/profile/v100/address/non_fungible_global_id.rs
Due: fmt, clippy, unit tests

Fix new sessions handling (#178)
  Cargo.lock
  Cargo.toml
  src/radix_connect/mobile/client.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure_response/failure.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/response.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/success.rs
Due: fmt, clippy, unit tests

Release of '1.0.21' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Global id Default format (#179)
  Cargo.lock
  Cargo.toml
  apple/Tests/TestCases/Address/AccountAddressTests.swift
  apple/Tests/TestCases/Address/LegacyOlympiaAccountAddressTests.swift
  apple/Tests/TestCases/Prelude/NonFungibleGlobalIDTests.swift
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NonFungibleGlobalIdTest.kt
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/address_format.rs
  src/profile/v100/address/legacy_olympia_account_address.rs
  src/profile/v100/address/non_fungible_global_id.rs
  src/profile/v100/address/non_fungible_local_id.rs
  src/profile/v100/address/resource_address.rs
  src/profile/v100/address/wrap_ret_address.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/transaction_hashes.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Release of '1.0.22' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

WIP add metadata support
  fixtures/models/gateway/state/response_entity_details__single_account_no_assets.json
  fixtures/models/gateway/state/response_entity_details__single_resource.json
  src/core/error/common_error.rs
  src/gateway_api/methods/state_methods.rs
  src/gateway_api/models/types/request/state/entity/mod.rs
  src/gateway_api/models/types/request/state/entity/opt_ins.rs
  src/gateway_api/models/types/request/state/entity/request.rs
  src/gateway_api/models/types/request/state/entity/state_entity_details.rs
  src/gateway_api/models/types/response/state/entity/details/metadata/collection.rs
  src/gateway_api/models/types/response/state/entity/details/metadata/item.rs
  src/gateway_api/models/types/response/state/entity/details/metadata/item_value.rs
  src/gateway_api/models/types/response/state/entity/details/metadata/mod.rs
  src/gateway_api/models/types/response/state/entity/details/metadata/typed_value.rs
  src/gateway_api/models/types/response/state/entity/details/mod.rs
  src/gateway_api/models/types/response/state/entity/details/state_entity_details_response_item.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/unvalidated_transaction_manifest_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/metadata.rs
  tests/integration/main.rs
Due: fmt, clippy, unit tests

Logic to fetch metadata
  src/gateway_api/methods/state_methods.rs
  src/gateway_api/models/types/response/state/entity/details/metadata/typed_value.rs
  src/wallet/home_cards/deferred_deep_link/parser.rs
  src/wallet/home_cards/manager.rs
  tests/integration/main.rs
Due: fmt, clippy, unit tests

Bump
  Cargo.lock
  Cargo.toml
Due: none

Lint
  src/wallet/home_cards/deferred_deep_link/parser.rs
Due: fmt, clippy, unit tests

Remove connector card from parser
  src/wallet/home_cards/deferred_deep_link/parser.rs
  src/wallet/home_cards/home_cards.rs
Due: fmt, clippy, unit tests

Implement home cards manager
  src/core/error/common_error.rs
  src/wallet/home_cards/deferred_deep_link/parser.rs
  src/wallet/home_cards/home_cards.rs
  src/wallet/home_cards/manager.rs
  src/wallet/home_cards/mod.rs
  src/wallet/home_cards/observer.rs
  src/wallet/home_cards/storage.rs
Due: fmt, clippy, unit tests

Implement home cards ordering
  src/wallet/home_cards/home_card.rs
  src/wallet/home_cards/home_cards.rs
  src/wallet/home_cards/manager.rs
Due: fmt, clippy, unit tests

Add home cards manager init for new wallet function
  src/core/error/common_error.rs
  src/wallet/home_cards/manager.rs
Due: fmt, clippy, unit tests

Changes after feedback
  fixtures/models/gateway/state/response_entity_details__single_account_no_assets.json
  fixtures/models/gateway/state/response_entity_details__single_resource_no_metadata.json
  src/core/error/common_error.rs
  src/gateway_api/methods/state_methods.rs
  src/gateway_api/models/logic/response/state/entity/details/state_entity_details_response.rs
  src/gateway_api/models/types/request/state/entity/opt_ins.rs
  src/gateway_api/models/types/request/state/entity/request.rs
  src/gateway_api/models/types/response/state/entity/details/metadata/collection.rs
  src/gateway_api/models/types/response/state/entity/details/metadata/typed_value.rs
  src/wallet/home_cards/deferred_deep_link/parser.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/metadata.rs
  tests/integration/main.rs
Due: fmt, clippy, unit tests

Rename exposed functions
  src/wallet/home_cards/manager.rs
Due: fmt, clippy, unit tests

changes after feedback
  src/core/error/common_error.rs
  src/wallet/home_cards/deferred_deep_link/deferred_deep_link_method.rs
  src/wallet/home_cards/deferred_deep_link/deferred_deep_link_special_dapp.rs
  src/wallet/home_cards/deferred_deep_link/parser.rs
Due: fmt, clippy, unit tests

Expose home cards manager in kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/HomeCardsManager.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/homecards/HomeCardsStorage.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/PreferencesStorage.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/StorageUtils.kt
Due: none

Version bump
  Cargo.lock
  Cargo.toml
Due: none

Replace StartRadQuest card after resolving DL if needed. Update default cards.
  src/wallet/home_cards/manager.rs
Due: fmt, clippy, unit tests

Update API
  src/wallet/home_cards/manager.rs
Due: fmt, clippy, unit tests

Add func to check if AppPreferences has gateway with URL
  apple/Sources/Sargon/Extensions/Swiftified/Profile/AppPreferences+Swiftified.swift
  src/profile/v100/app_preferences/app_preferences.rs
  src/profile/v100/app_preferences/app_preferences_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

bump version
  Cargo.lock
  Cargo.toml
Due: none

Skip repetitions when deserializing gateways
  src/profile/v100/app_preferences/gateways/saved_gateways.rs
Due: fmt, clippy, unit tests

Add missing tests
  apple/Tests/TestCases/Profile/AppPreferencesTests.swift
  src/profile/v100/app_preferences/app_preferences_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Address PR comment
  src/wallet/home_cards/manager.rs
Due: fmt, clippy, unit tests

Match insert result instead of mapError
  src/profile/v100/app_preferences/gateways/saved_gateways.rs
Due: fmt, clippy, unit tests

Skip duplicate Gateways without crashing (#182)
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Extensions/Swiftified/Profile/AppPreferences+Swiftified.swift
  apple/Tests/TestCases/Profile/AppPreferencesTests.swift
  src/profile/v100/app_preferences/app_preferences.rs
  src/profile/v100/app_preferences/app_preferences_uniffi_fn.rs
  src/profile/v100/app_preferences/gateways/saved_gateways.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Release of '1.0.23' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat
