Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

SwiftFormat:
  name: SwiftFormat
  language: system
  entry: swiftformat .
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

Revert "fix tests"
  apple/Tests/IntegrationTests/GatewayClientTests.swift
  crates/sargon/tests/integration/main.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

add proof of ownership request items
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/mod.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/proof_of_ownership/accounts.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/proof_of_ownership/mod.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/proof_of_ownership/persona.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/proof_of_ownership/proof.rs
Due: fmt, clippy, unit tests

add response items
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/proof_of_ownership/accounts.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/proof_of_ownership/mod.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/proof_of_ownership/persona.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/proof_of_ownership/proof_of_ownership.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/mod.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/persona/mod.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/persona/persona_proof.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/proof_of_ownership/mod.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/proof_of_ownership/proof.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/proof_of_ownership/proof_of_ownership.rs
Due: fmt, clippy, unit tests

add to requests and responses
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/authorized_request.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/unauthorized_request.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/authorized_request.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/unauthorized_request.rs
Due: fmt, clippy, unit tests

make tests compile
  crates/sargon/src/radix_connect/mobile/deep_link_parsing/parser.rs
  crates/sargon/tests/vectors/main.rs
Due: fmt, clippy, unit tests

update one test
  crates/sargon/fixtures/vector/wallet_interactions_dapp_to_wallet.json
  crates/sargon/tests/vectors/main.rs
Due: fmt, clippy, unit tests

Provide ability to publish package to maven local for local development
  .github/workflows/release-android.yml
  .github/workflows/release-desktop.yml
  .github/workflows/test.yml
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/toml/SargonVersion.kt
  jvm/sargon-android/build.gradle.kts
Due: none

Update readme
  README.md
Due: none

Add suffix explanation
  README.md
Due: none

Android Local Development (#226)
  .github/workflows/release-android.yml
  .github/workflows/release-desktop.yml
  .github/workflows/test.yml
  README.md
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/toml/SargonVersion.kt
  jvm/sargon-android/build.gradle.kts
Due: none

Fixed Sargon iOS example app. (Xcode 16) (#224)
  Cargo.toml
  crates/sargon/Cargo.toml
  crates/sargon/src/system/drivers/unsafe_storage_driver/support/test/fail_unsafe_storage.rs
  crates/sargon/src/system/drivers/unsafe_storage_driver/support/test/mod.rs
  examples/iOS/Backend/Sources/Planbok/Dependencies/ProfileClient.swift
  examples/iOS/Backend/Sources/Planbok/Features/AppFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/SetFactorThresholdFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Models/NewShield+Models.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Models/NewShield+SharedState.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/CreateAccount/CreateAccountFlowFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/Onboarding/NewOrImportProfileFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/Onboarding/OnboardingFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SplashFeature.swift
  examples/iOS/Backend/Sources/Planbok/SargonExtensions/Sargon+Extensions.swift
  examples/iOS/Backend/Sources/Planbok/SharedState/SargonKey.swift
  examples/iOS/Backend/Sources/Planbok/SharedState/SharedState+FactorSources.swift
  examples/iOS/Backend/Sources/Planbok/SharedState/SharedState+NetworkID.swift
  examples/iOS/Backend/Sources/Planbok/SharedState/SharedState+SavedGateways.swift
  examples/iOS/Planbok.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Update workflows to use Xcode 16 (#222)
  .github/workflows/release.yml
  .github/workflows/test.yml
  crates/sargon/Cargo.toml
Due: none

bump
  crates/sargon/Cargo.toml
Due: none

Release of '1.1.21' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

bump (#227)
  crates/sargon/Cargo.toml
Due: none

final tests
  crates/sargon/fixtures/vector/wallet_interactions_dapp_to_wallet.json
  crates/sargon/fixtures/vector/wallet_interactions_wallet_to_dapp.json
  crates/sargon/tests/vectors/main.rs
Due: fmt, clippy, unit tests

bump version
  Cargo.lock
  crates/sargon/Cargo.toml
Due: none

Release of '1.1.22' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

skip 1.1.22
  Cargo.lock
  crates/sargon/Cargo.toml
Due: none

update GH action
  .github/workflows/test.yml
Due: none

delete space
  .github/workflows/test.yml
Due: none

lowercase variable
  .github/workflows/test.yml
Due: none

Check version bump when opening PRs (#220)
  .github/workflows/test.yml
  Cargo.lock
  crates/sargon/Cargo.toml
Due: none

Release of '1.1.23' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

lint
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/authorized_request.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/proof_of_ownership/accounts.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/proof_of_ownership/persona.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/proof_of_ownership/proof_of_ownership.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/unauthorized_request.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/authorized_request.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/proof_of_ownership/mod.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/proof_of_ownership/proof.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/proof_of_ownership/proof_of_ownership.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/unauthorized_request.rs
  crates/sargon/tests/vectors/main.rs
Due: fmt, clippy, unit tests

changes after cap21 updates
  crates/sargon/fixtures/vector/wallet_interactions_dapp_to_wallet.json
  crates/sargon/fixtures/vector/wallet_interactions_wallet_to_dapp.json
  crates/sargon/src/radix_connect/mobile/deep_link_parsing/parser.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/authorized_request.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/proof_of_ownership.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/proof_of_ownership/accounts.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/proof_of_ownership/mod.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/proof_of_ownership/persona.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/proof_of_ownership/proof_of_ownership.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/authorized_request.rs
  crates/sargon/tests/vectors/main.rs
Due: fmt, clippy, unit tests

bump again
  Cargo.lock
  crates/sargon/Cargo.toml
Due: none

lint
  crates/sargon/tests/vectors/main.rs
Due: fmt, clippy, unit tests

Implement function to remove a list of keyspecs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidStorageDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/KeySpec.kt
Due: none

Change doc
  crates/sargon/src/profile/v100/profile.rs
  examples/android/src/main/java/com/radixdlt/sargon/android/ExampleApplication.kt
Due: fmt, clippy, unit tests

Fix example profile states
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/MainViewModel.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/SargonOsManager.kt
Due: none

Make profileStateChanges a shared flow
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidProfileStateChangeDriver.kt
Due: none

Replace with new_wallet_with_derived_bdfs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/system/sargon_os/sargon_os.rs
Due: fmt, clippy, unit tests

Profile snapshot id payload (#214)
  apple/Sources/Sargon/SargonOS/SargonOS+Static+Shared.swift
  apple/Sources/Sargon/SargonOS/TestOS.swift
  apple/Sources/Sargon/Util/EventPublisher.swift
  apple/Tests/IntegrationTests/DriversTests/DriversTests.swift
  apple/Tests/IntegrationTests/DriversTests/InsecureStorageTests.swift
  apple/Tests/IntegrationTests/SargonOS/SargonOSTests.swift
  crates/sargon/src/profile/v100/header/mod.rs
  crates/sargon/src/profile/v100/header/profile_id.rs
  crates/sargon/src/profile/v100/header/profile_id_uniffi_fn.rs
  crates/sargon/src/system/clients/client/secure_storage_client/secure_storage_client.rs
  crates/sargon/src/system/drivers/secure_storage_driver/support/secure_storage_key.rs
  crates/sargon/src/system/sargon_os/sargon_os_profile.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidStorageDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/key/ProfileSnapshotKeyMapping.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SecureStorageKeyTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/key/ByteArrayKeyMappingTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/key/ProfileSnapshotKeyMappingTest.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Included SargonOsManager into sargon android
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/MainViewModel.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/SargonOsManager.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/di/ApplicationModule.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/SargonOsManager.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/KeySpec.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/SargonOsManagerTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/driver/Fakes.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/KeystoreAccessRequestTest.kt
Due: none

Fix content hint to report correct total amount of personas
  crates/sargon/src/profile/v100/networks/profile_networks.rs
  crates/sargon/src/profile/v100/profile.rs
Due: fmt, clippy, unit tests

Make generateSecretKey public for now
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/KeySpec.kt
Due: none

Print errors with timber in example app too
  examples/android/build.gradle.kts
  examples/android/src/main/java/com/radixdlt/sargon/android/ExampleApplication.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/MainViewModel.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/di/ApplicationModule.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidStorageDriver.kt
Due: none

Fix android test
  jvm/sargon-android/src/androidTest/kotlin/com/radixdlt/sargon/os/driver/AndroidStorageDriverDeviceFactorSourceMnemonicTest.kt
Due: none

Replace kotlin base64 with android base 64 and mock it in unit tests
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/EncryptionHelper.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/EncryptionHelperWithEncryptionKeyTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/StorageUtilsTest.kt
Due: none

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  SwiftFormat: any of: \.swift$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
