Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

wip
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
  crates/sargon/src/core/types/collections/identified_vec_of/identified_vec_of_modify.rs
  crates/sargon/src/profile/v100/networks/network/authorized_dapp/authorized_persona_simple.rs
  crates/sargon/src/profile/v100/networks/network/authorized_dapps.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/system/sargon_os/sargon_os_profile.rs
Due: fmt, clippy, unit tests

more tests
  apple/Sources/Sargon/Drivers/FileSystem/FileSystemDriver+Data+ContentsOf+URL.swift
  crates/sargon/src/factor_instances_provider/next_index_assigner/next_derivation_entity_index_assigner.rs
  crates/sargon/src/keys_collector/collector/keys_collector.rs
  crates/sargon/src/profile/logic/profile_network/profile_network_get_entities.rs
  crates/sargon/src/profile/v100/entity/is_entity.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

tests
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/profile/v100/networks/network/profile_network.rs
  crates/sargon/src/profile/v100/networks/profile_networks.rs
Due: fmt, clippy, unit tests

polish
  .github/workflows/test.yml
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_factors.rs
  crates/sargon/src/factor_instances_provider/next_index_assigner/next_derivation_entity_index_assigner.rs
Due: fmt, clippy, unit tests

Remove references to deleted accounts + emit profile changes (#269)
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
  crates/sargon/src/core/types/collections/identified_vec_of/identified_vec_of_modify.rs
  crates/sargon/src/profile/v100/networks/network/authorized_dapp/authorized_dapp.rs
  crates/sargon/src/profile/v100/networks/network/authorized_dapp/authorized_persona_simple.rs
  crates/sargon/src/profile/v100/networks/network/authorized_dapp/shared_with_dapp.rs
  crates/sargon/src/profile/v100/networks/network/authorized_dapps.rs
  crates/sargon/src/profile/v100/networks/network/profile_network.rs
  crates/sargon/src/profile/v100/networks/profile_networks.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/system/sargon_os/sargon_os_profile.rs
Due: fmt, clippy, unit tests

fix swift filesystem driver
  apple/Sources/Sargon/Drivers/FileSystem/FileSystemDriver+Data+ContentsOf+URL.swift
Due: ensure Swift setup for local development, SwiftFormat

Release of '1.1.54' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

merge main | bump to 55 | clippy fix
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

fix workflows
  .github/workflows/test.yml
Due: none

fixes and set up to filter non transferable
  crates/sargon/fixtures/models/gateway/state/response_entity_details_details__fungible_resource.json
  crates/sargon/fixtures/models/gateway/state/response_entity_details_details__non_fungible_resource.json
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/item.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/role_assignments/owner.rs
  crates/sargon/src/gateway_api/models/types/support/fetch_resources_output.rs
  crates/sargon/src/gateway_api/models/types/support/fetch_transferable_resources_output.rs
  crates/sargon/src/gateway_api/models/types/support/mod.rs
  crates/sargon/src/system/sargon_os/sargon_os_delete_account.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/delete_account/delete_account_transfers.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/delete_account/manifest_delete_account.rs
Due: fmt, clippy, unit tests

[no ci] wip
  crates/sargon/src/profile/mfa/security_structures/decl_security_structure_of.rs
  crates/sargon/src/profile/mfa/security_structures/factor_rules_violation.rs
  crates/sargon/src/profile/mfa/security_structures/factor_source_level/matrix_of_factor_sources.rs
  crates/sargon/src/profile/mfa/security_structures/mod.rs
  crates/sargon/src/profile/mfa/security_structures/role_with_factors.rs
  crates/sargon/src/signing/collector/signatures_collector.rs
  crates/sargon/src/signing/petition_types/general_role_with_hd_factor_instance.rs
  crates/sargon/src/types/samples/general_role_with_hd_factor_instance_samples.rs
Due: fmt, clippy, unit tests

add scaffolding
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/securify_entity_factor_instances_provider.rs
  crates/sargon/src/profile/mfa/security_structures/decl_security_structure_of.rs
  crates/sargon/src/profile/mfa/security_structures/factor_instance_level/matrix_of_factor_instances.rs
  crates/sargon/src/profile/mfa/security_structures/factor_rules_violation.rs
  crates/sargon/src/profile/mfa/security_structures/factor_source_id_level/matrix_of_factor_source_ids.rs
  crates/sargon/src/profile/mfa/security_structures/factor_source_level/matrix_of_factor_sources.rs
  crates/sargon/src/profile/mfa/security_structures/factor_source_level/security_structure_of_factor_sources.rs
  crates/sargon/src/signing/petition_types/general_role_with_hd_factor_instance.rs
  crates/sargon/src/signing/petition_types/petition_for_entity.rs
  crates/sargon/src/types/samples/account_samples.rs
  crates/sargon/src/types/samples/general_role_with_hd_factor_instance_samples.rs
  crates/sargon/src/types/samples/persona_samples.rs
  crates/sargon/tests/integration/main.rs
  crates/sargon/tests/vectors/main.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/factor_instances_provider/factor_instances_cache/factor_instances_cache.rs
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider.rs
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
  crates/sargon/src/factor_instances_provider/provider/outcome/internal_factor_instances_provider_outcome.rs
  crates/sargon/src/factor_instances_provider/provider/outcome/internal_factor_instances_provider_outcome_for_factor.rs
  crates/sargon/src/factor_instances_provider/types/factor_instances.rs
  crates/sargon/src/profile/logic/query_factor_sources.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/arculus_card_factor_source/arculus_card_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/off_device_mnemonic_factor_source/off_device_mnemonic_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/passphrase_factor_source/passphrase_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/trusted_contact_factor_source/trusted_contact_factor_source.rs
  crates/sargon/src/profile/mfa/security_structures/decl_security_structure_of.rs
  crates/sargon/src/profile/mfa/security_structures/factor_rules_violation.rs
  crates/sargon/src/profile/mfa/security_structures/role_with_factors.rs
  crates/sargon/src/profile/v100/factors/factor_source.rs
  crates/sargon/src/profile/v100/factors/factor_source_id.rs
  crates/sargon/src/profile/v100/factors/factor_source_kind.rs
  crates/sargon/src/profile/v100/factors/factor_sources/device_factor_source/device_factor_source.rs
  crates/sargon/src/profile/v100/factors/factor_sources/ledger_hardware_wallet_factor_source/ledger_hardware_wallet_factor_source.rs
  crates/sargon/src/profile/v100/factors/factor_sources/private_hierarchical_deterministic_factor_source.rs
  crates/sargon/src/profile/v100/factors/is_factor_source.rs
  crates/sargon/src/profile/v100/profile.rs
  crates/sargon/src/signing/collector/signatures_collector.rs
  crates/sargon/src/signing/collector/signatures_collector_preprocessor.rs
  crates/sargon/src/types/factor_sources_of_kind.rs
  crates/sargon/tests/vectors/main.rs
Due: fmt, clippy, unit tests

[no ci] fix tests
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
  crates/sargon/src/factor_instances_provider/types/factor_instances.rs
  crates/sargon/src/profile/mfa/security_structures/factor_instance_level/matrix_of_factor_instances.rs
  crates/sargon/src/profile/mfa/security_structures/role_with_factors.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Protocols/EntityProtocol.swift
  apple/Tests/Utils/EntityProtocolTest.swift
Due: ensure Swift setup for local development, SwiftFormat

bump
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

Add isDeleted for EntityBaseProtocol (#271)
  Cargo.lock
  apple/Sources/Sargon/Protocols/EntityProtocol.swift
  apple/Tests/Utils/EntityProtocolTest.swift
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: ensure Swift setup for local development, SwiftFormat

Release of '1.1.55' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

final implementation
  crates/sargon-uniffi/src/system/sargon_os/delete_account/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/delete_account/sargon_os_delete_account.rs
  crates/sargon-uniffi/src/system/sargon_os/delete_account/support/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/delete_account/support/result.rs
  crates/sargon-uniffi/src/system/sargon_os/mod.rs
  crates/sargon/src/core/utils/constants.rs
  crates/sargon/src/gateway_api/methods/state_methods.rs
  crates/sargon/src/gateway_api/models/logic/response/state/entity/details/state_entity_details_response_item.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/non_fungible/collection_item.rs
  crates/sargon/src/gateway_api/models/types/support/fetch_resources_output.rs
  crates/sargon/src/system/sargon_os/delete_account/mod.rs
  crates/sargon/src/system/sargon_os/delete_account/sargon_os_delete_account.rs
  crates/sargon/src/system/sargon_os/delete_account/support/mod.rs
  crates/sargon/src/system/sargon_os/delete_account/support/result.rs
  crates/sargon/src/system/sargon_os/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/delete_account/delete_account_transfers.rs
Due: fmt, clippy, unit tests

version bump
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

renames
  crates/sargon-uniffi/src/system/sargon_os/delete_account/sargon_os_delete_account.rs
  crates/sargon-uniffi/src/system/sargon_os/delete_account/support/result.rs
  crates/sargon/src/system/sargon_os/delete_account/sargon_os_delete_account.rs
  crates/sargon/src/system/sargon_os/delete_account/support/result.rs
Due: fmt, clippy, unit tests

missing test
  crates/sargon/src/gateway_api/methods/state_methods.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/role_assignments/assignment.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/role_assignments/entry.rs
  crates/sargon/src/gateway_api/models/types/support/fetch_resources_output.rs
  crates/sargon/src/system/sargon_os/delete_account/sargon_os_delete_account.rs
Due: fmt, clippy, unit tests

rename to Outcome
  crates/sargon-uniffi/src/system/sargon_os/delete_account/sargon_os_delete_account.rs
  crates/sargon-uniffi/src/system/sargon_os/delete_account/support/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/delete_account/support/outcome.rs
  crates/sargon/src/system/sargon_os/delete_account/sargon_os_delete_account.rs
  crates/sargon/src/system/sargon_os/delete_account/support/mod.rs
  crates/sargon/src/system/sargon_os/delete_account/support/outcome.rs
Due: fmt, clippy, unit tests

more tests to increase coverage
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/role_assignments/assignment.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/role_assignments/entry.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/role_assignments/owner.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/role_assignments/role_key.rs
Due: fmt, clippy, unit tests

test all roles
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
Due: fmt, clippy, unit tests

updates after feedback
  crates/sargon/src/core/utils/constants.rs
  crates/sargon/src/gateway_api/methods/state_methods.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/item.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/role_assignments/collection.rs
  crates/sargon/src/gateway_api/models/types/support/fetch_resources_output.rs
Due: fmt, clippy, unit tests

ignore items with zero amount
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/gateway_api/methods/state_methods.rs
  crates/sargon/src/gateway_api/models/types/support/fetch_transferable_resources_output.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/delete_account/delete_account_transfer.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/delete_account/delete_account_transfers.rs
Due: fmt, clippy, unit tests

Release of '1.1.56' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Convert the iOS build script into github workflow steps (#267)
  .github/workflows/release.yml
Due: none

[no ci] wip rules
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
  crates/sargon/src/profile/mfa/security_structures/decl_security_structure_of.rs
  crates/sargon/src/profile/mfa/security_structures/factor_rules_violation.rs
Due: fmt, clippy, unit tests

[no ci] wip
  crates/sargon/src/profile/mfa/security_structures/decl_security_structure_of.rs
  crates/sargon/src/profile/mfa/security_structures/factor_rules_violation.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon/src/profile/mfa/security_structures/decl_security_structure_of.rs
Due: fmt, clippy, unit tests

[no ci] wip
  .github/workflows/release.yml
Due: none

moved proof of ownership from unauthorized_request to authorized_request
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/authorized_request.rs
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/unauthorized_request.rs
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/authorized_request.rs
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/unauthorized_request.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/authorized_request.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/unauthorized_request.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/authorized_request.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/unauthorized_request.rs
Due: fmt, clippy, unit tests

updated test_vector_encoded_interaction in parser
  crates/sargon/src/radix_connect/mobile/deep_link_parsing/parser.rs
Due: fmt, clippy, unit tests

updated test vectors
  crates/sargon/tests/vectors/main.rs
Due: fmt, clippy, unit tests
