Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

SwiftFormat:
  name: SwiftFormat
  language: system
  entry: swiftformat .
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

Add swift tests
  apple/Sources/Sargon/Extensions/Methods/Profile/Profile+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
Due: ensure Swift setup for local development, SwiftFormat

IMPORTANT Fix broken Rust security-framework bug see https://github.com/kornelski/rust-security-framework/pull/204
  Cargo.lock
Due: none

WIP
  examples/iOS/Backend/Sources/Planbok/Dependencies/AccountsClient.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/CreateAccount/CreateAccountFlowFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SettingsFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

Add kt extension and tests
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Profile.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
Due: none

Bump to 0.7.18
  Cargo.lock
  Cargo.toml
Due: none

WIP
  examples/iOS/Backend/Sources/Planbok/Dependencies/SharedState+PersistenceReaderKey+SargonKey.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

Address PR comments
  apple/Tests/TestCases/Profile/ProfileTests.swift
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
  src/radix_connect/p2p_links/radix_connect_purpose.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[CAP-36] Add encrypted profile legacy P2P links check (#142)
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Extensions/Methods/Profile/Profile+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Profile.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
  src/profile/encrypted/encryption/encrypted_profile_snapshot.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
  src/radix_connect/p2p_links/radix_connect_purpose.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Release of '0.7.19' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

WIP changeGW
  examples/iOS/Backend/Sources/Planbok/Features/GatewaysFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SettingsFeature.swift
  src/profile/logic/account/create_account.rs
  src/profile/supporting_types/account_for_display.rs
  src/system/sargon_os/mod.rs
  src/system/sargon_os/profile_holder.rs
  src/system/sargon_os/sargon_os_accounts.rs
  src/system/sargon_os/sargon_os_gateway.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

fix
  src/profile/logic/account/create_account.rs
  src/profile/logic/account/mod.rs
  src/profile/logic/account/query_accounts.rs
  src/profile/logic/gateway/current_gateway.rs
  src/profile/logic/gateway/mod.rs
  src/profile/logic/mod.rs
  src/profile/v100/app_preferences/gateways/saved_gateways.rs
  src/profile/v100/app_preferences/gateways/saved_gateways_uniffi_fn.rs
  src/system/drivers/event_bus_driver/support/event.rs
  src/system/drivers/event_bus_driver/support/event_kind.rs
  src/system/sargon_os/sargon_os_gateway.rs
Due: fmt, clippy, unit tests

fixes
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Profile+Swiftified.swift
  apple/Sources/Sargon/SargonOS/SargonOS+SargonOSProtocol.swift
  apple/Sources/Sargon/SargonOS/SargonOSProtocol.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/AccountsClient.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/GatewaysClient.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/SharedState+PersistenceReaderKey+SargonKey.swift
  examples/iOS/Backend/Sources/Planbok/Features/AccountDetailsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/AccountsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/CreateAccount/CreateAccountFlowFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/Onboarding/OnboardingFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/AccountView.swift
  src/profile/v100/networks/network/profile_network.rs
  src/profile/v100/networks/profile_networks.rs
  src/system/sargon_os/profile_holder.rs
  src/system/sargon_os/sargon_os_gateway.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Profile is now created with empty mainnet network
  .github/workflows/test.yml
  apple/Sources/Sargon/SargonOS/SargonOSProtocol.swift
  apple/Sources/Sargon/SargonOS/TestOS.swift
  apple/Tests/IntegrationTests/SargonOS/TestOSTests.swift
  scripts/ios/test.sh
  src/profile/supporting_types/account_for_display.rs
  src/profile/supporting_types/account_for_display_uniffi_fn.rs
  src/profile/v100/profile.rs
  src/system/sargon_os/sargon_os_accounts.rs
  src/system/sargon_os/sargon_os_gateway.rs
  src/system/sargon_os/sargon_os_profile.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

more tests
  apple/Sources/Sargon/Extensions/Methods/Profile+Supporting+Types/AccountForDisplay+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile+Supporting+Types/AccountForDisplay+Swiftified.swift
  apple/Tests/IntegrationTests/SargonOS/TestOSTests.swift
Due: ensure Swift setup for local development, SwiftFormat

tests
  apple/Sources/Sargon/Drivers/TestDrivers/SecureStorage/SecureStorageDriver+InsecureTestOnlyEphemeral_SecureStorage.swift
  apple/Sources/Sargon/Drivers/TestDrivers/TestDrivers.swift
  apple/Sources/Sargon/SargonOS/TestOS.swift
  examples/iOS/App.xctestplan
  examples/iOS/Backend/.swiftpm/xcode/xcshareddata/xcschemes/PlanbokTests.xcscheme
  examples/iOS/Backend/Package.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/AccountsClient.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/SharedState+PersistenceReaderKey+SargonKey.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/AccountView.swift
  examples/iOS/Backend/Tests/PlanbokTests/PlanbokTests.swift
  examples/iOS/Frontend/PlanbokApp.xcodeproj/xcshareddata/xcschemes/App.xcscheme
  examples/iOS/Planbok.xcworkspace/contents.xcworkspacedata
  examples/iOS/Planbok.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: ensure Swift setup for local development, SwiftFormat

Add Vendor to DeviceInfo and HostInfoDriver
  Package.swift
  apple/Tests/IntegrationTests/SargonOS/SargonOSTests.swift
  apple/Tests/IntegrationTests/SargonOS/TestOSTests.swift
  src/profile/v100/header/device_info.rs
  src/profile/v100/profile_uniffi_fn.rs
  src/system/clients/client/host_info_client/host_info_client.rs
  src/system/drivers/host_info_driver/host_info_driver.rs
  src/system/drivers/host_info_driver/support/test/rust_host_info_driver.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

more tests
  apple/Sources/Sargon/Drivers/HostInfo/HostInfoDriver+DeviceInfo.swift
  apple/Sources/Sargon/Drivers/TestDrivers/TestDrivers.swift
  src/profile/logic/account/query_accounts.rs
  src/profile/logic/gateway/current_gateway.rs
  src/profile/v100/app_preferences/app_preferences.rs
  src/profile/v100/app_preferences/gateways/saved_gateways.rs
  src/profile/v100/header/device_info.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
  src/system/sargon_os/sargon_os_accounts.rs
  src/system/sargon_os/sargon_os_gateway.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

fix kotlin test
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/HeaderTest.kt
Due: none

emit event when account is updated
  examples/iOS/Backend/Sources/Planbok/Dependencies/SharedState+PersistenceReaderKey+SargonKey.swift
  examples/iOS/Backend/Sources/Planbok/Features/AccountDetailsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/AppFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SplashFeature.swift
  src/system/drivers/event_bus_driver/support/event_kind.rs
  src/system/drivers/event_bus_driver/support/event_profile_change.rs
  src/system/sargon_os/sargon_os_accounts.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

fixes
  apple/Sources/Sargon/Drivers/EventBus/EventNotification+Swiftified.swift
  apple/Sources/Sargon/Drivers/FileSystem/FileSystemDriver+Data+ContentsOf+URL.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/SharedState+PersistenceReaderKey+SargonKey.swift
  examples/iOS/Backend/Sources/Planbok/Features/AccountsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/AppFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SplashFeature.swift
  src/profile/logic/mod.rs
  src/profile/logic/profile_header.rs
  src/profile/logic/profile_networks.rs
  src/system/clients/client/secure_storage_client/secure_storage_client.rs
  src/system/drivers/event_bus_driver/support/event.rs
  src/system/drivers/event_bus_driver/support/event_kind.rs
  src/system/drivers/event_bus_driver/support/event_notification.rs
  src/system/drivers/event_bus_driver/support/event_profile_modified.rs
  src/system/drivers/event_bus_driver/support/mod.rs
  src/system/sargon_os/sargon_os_accounts.rs
  src/system/sargon_os/sargon_os_profile.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Ensure SharedReader in swift is created once per value kind, and then shared across the app. This ensures that we do perform MULTIPLE SargonOS roundtrip of values.
  apple/Sources/Sargon/SargonOS/BIOS+Static+Shared.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/GatewaysClient.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/SharedState+PersistenceReaderKey+SargonKey.swift
  examples/iOS/Backend/Sources/Planbok/Features/GatewaysFeature.swift
  src/profile/v100/address/non_fungible_global_id.rs
  src/system/clients/client/secure_storage_client/secure_storage_client.rs
  src/system/drivers/event_bus_driver/event_bus_driver.rs
  src/system/sargon_os/sargon_os.rs
  src/system/sargon_os/sargon_os_accounts.rs
  src/system/sargon_os/sargon_os_gateway.rs
  src/system/sargon_os/sargon_os_profile.rs
  src/system/subsystems/log_system/log_system.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_create_tokens.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

add host_vendor to DeviceFactorSourceHitn
  src/profile/v100/factors/factor_sources/device_factor_source/device_factor_source_hint.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: fmt, clippy, unit tests

more tests
  apple/Tests/IntegrationTests/DriversTests/DriversTests.swift
  apple/Tests/IntegrationTests/DriversTests/InsecureStorageTests.swift
  src/system/sargon_os/sargon_os_accounts.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

add attention
  .github/attention.md
Due: none

Change designated init of Profile to accept a Mnemonic and DeviceInfo, which creates a DeviceFactorSource with that. Also more documentation in Rust and Swift
  apple/Sources/Sargon/Drivers/EntropyProvider/EntropyProvider+RandomData.swift
  apple/Sources/Sargon/Drivers/EventBus/EventBus.swift
  apple/Sources/Sargon/Drivers/EventBus/EventNotification+Swiftified.swift
  apple/Sources/Sargon/Drivers/FileSystem/FileSystemDriver+Data+ContentsOf+URL.swift
  apple/Sources/Sargon/Drivers/HostInfo/HostInfoDriver+DeviceInfo.swift
  apple/Sources/Sargon/Drivers/Logging/LoggingDriver+SwiftLog.swift
  apple/Sources/Sargon/Drivers/Networking/NetworkingDriver+URLSession.swift
  apple/Sources/Sargon/Drivers/TestDrivers/SecureStorage/SecureStorageDriver+InsecureTestOnlyEphemeral_SecureStorage.swift
  apple/Sources/Sargon/Drivers/UnsafeStorage/UnsafeStorageDriver+UserDefaults.swift
  src/profile/logic/account/create_account.rs
  src/profile/logic/gateway/current_gateway.rs
  src/profile/logic/profile_header.rs
  src/profile/logic/profile_networks.rs
  src/profile/supporting_types/is_network_aware.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
  src/system/sargon_os/sargon_os.rs
  src/system/sargon_os/sargon_os_profile.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

fix device_info_description for old Swift format. Still need to add Android support.
  src/profile/v100/header/device_info_description.rs
Due: fmt, clippy, unit tests

add before.timings
  timings/before.html
  timings/timings.html
Due: none

add parallell timings (8) threads, which is SLOWER than single thread.
  timings/before.parallel.html
Due: none

RA analyzer: 15 seconds to expaned Profile::sam in sargon_os unit tests.
  timings/Screenshot 2024-05-20 at 11.50.44.png
Due: none

[no ci] WIP
  Cargo.lock
  crates/core/Cargo.toml
  crates/ret/Cargo.toml
  crates/ret/build.rs
Due: fmt, clippy, unit tests

[no ci] oh the pain.
  Cargo.lock
  crates/common/src/lib.rs
  crates/common/src/utils/json_data_convertible.rs
  crates/hierarchical_deterministic/src/bip39/bip39_seed.rs
  crates/profile/Cargo.toml
  crates/profile/src/cap26_derivation/derivation/mnemonic_with_passphrase.rs
  crates/profile/src/lib.rs
  crates/radix_connect/Cargo.toml
  crates/ret/src/address/address_of_account_or_persona.rs
  crates/ret/src/address/address_union.rs
  crates/ret/src/address/mod.rs
  crates/sargon/src/lib.rs
  crates/transaction/src/high_level/sargon_specific_types/mod.rs
Due: fmt, clippy, unit tests

[no ci] messing with UniFFI and remote external types
  Cargo.lock
  crates/common/src/types/mod.rs
  crates/common/uniffi.toml
  crates/profile/Cargo.toml
  crates/profile/src/cap26_derivation/cap26/cap26_path/cap26_path.rs
  crates/profile/src/cap26_derivation/cap26/cap26_path/paths/account_path.rs
  crates/profile/src/cap26_derivation/cap26/cap26_path/paths/getid_path.rs
  crates/profile/src/cap26_derivation/cap26/cap26_path/paths/identity_path.rs
  crates/profile/src/cap26_derivation/derivation/derivation.rs
  crates/profile/src/cap26_derivation/derivation/derivation_path.rs
  crates/profile/src/cap26_derivation/impl_traits.rs
  crates/profile/src/encrypted/encryption/aes_gcm_256.rs
  crates/profile/src/profile.udl
  crates/profile/src/v100/app_preferences/security.rs
  crates/profile/src/v100/factors/factor_sources/private_hierarchical_deterministic_factor_source.rs
  crates/profile/src/v100/factors/factor_sources/private_hierarchical_deterministic_factor_source_uniffi_fn.rs
  crates/profile/src/v100/header/device_id.rs
  crates/profile/src/v100/header/header.rs
  crates/profile/src/v100/networks/network/authorized_dapp/authorized_dapp.rs
  crates/ret/src/address/account_address.rs
  crates/ret/src/low_level/sbor_depth_validation.rs
  crates/sargon/src/clients/client/secure_storage_client/secure_storage_client.rs
  crates/sargon/src/sargon_os/sargon_os.rs
  crates/sargon/src/uniffi.toml
  crates/transaction/src/high_level/sargon_specific_types/assets_transfers/per_asset/per_asset_transfers_of_fungible_resource.rs
Due: fmt, clippy, unit tests

[no ci] WIP UniFFI
  crates/common/src/common.udl
  crates/hierarchical_deterministic/src/bip39/bip39_entropy.rs
  crates/hierarchical_deterministic/src/hd.udl
  crates/profile/src/cap26_derivation/cap26/cap26_path/paths/account_path.rs
  crates/profile/src/cap26_derivation/cap26/cap26_path/paths/identity_path.rs
  crates/profile/src/cap26_derivation/cap26/entity_cap26_path.rs
  crates/profile/src/cap26_derivation/derivation/mnemonic_with_passphrase.rs
  crates/profile/src/lib.rs
  crates/profile/src/profile.udl
  crates/profile/src/v100/header/profile_id.rs
  crates/profile/src/v100/networks/network/accounts.rs
  crates/profile/src/v100/profile.rs
  crates/ret/src/address/wrap_ret_address.rs
  crates/ret/src/ret.udl
Due: fmt, clippy, unit tests

[no ci] wip
  Cargo.lock
  crates/drivers/Cargo.toml
  crates/profile/src/cap26_derivation/cap26/cap26_path/paths/account_path.rs
  crates/profile/src/cap26_derivation/cap26/cap26_path/paths/identity_path.rs
  crates/profile/src/cap26_derivation/cap26/entity_cap26_path.rs
  crates/profile/src/logic/profile_network/profile_network_details.rs
  crates/profile/src/logic/profile_next_derivation.rs
  crates/profile/src/supporting_types/on_same_network_validating.rs
  crates/profile/src/v100/app_preferences/security.rs
Due: fmt, clippy, unit tests

[no ci] wip drivers
  Cargo.lock
  crates/drivers/Cargo.toml
  crates/drivers/src/lib.rs
  crates/ret/src/low_level/assert_manifest.rs
Due: fmt, clippy, unit tests

[no ci] wip
  Cargo.lock
  crates/drivers/src/drivers/entropy_provider_driver/entropy_provider_driver.rs
  crates/drivers/src/drivers/entropy_provider_driver/support/test/rust_entropy_driver.rs
  crates/transaction/Cargo.toml
  crates/transaction/src/high_level/manifest_building/third_party_deposit_update/manifest_third_party_deposit_update.rs
  crates/transaction/src/lib.rs
Due: fmt, clippy, unit tests

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  SwiftFormat: any of: \.swift$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
