Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.17.2
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift not changed to local development
        name: ensure Swift not changed to local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-not-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

      - id: doc tests
        name: doc tests
        language: system
        types: [file, rust]
        entry: cargo test --doc
        pass_filenames: false

      - id: vectors integration tests
        name: vectors integration tests
        language: system
        types: [file, rust]
        entry: cargo test --package sargon --test vectors
        pass_filenames: false

      - id: uniffi bindgen tests
        name: uniffi bindgen tests
        language: system
        types: [file, rust]
        entry: bash -c 'exec env CLASSPATH="$PWD/jna-5.13.0.jar"' && bash -c 'exec env JAVA_OPTS="-Xmx8g"' && cargo test --package sargon --test uniffi
        pass_filenames: false

Change coverage task
  .github/workflows/test.yml
Due: none

Put back all jobs on ci
  .github/workflows/test.yml
Due: none

Remove disabled tests
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TransactionManifest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SargonBuildInformationTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
Due: none

Uoload swift code coverage to CI
  .github/workflows/test.yml
  README.md
  scripts/ios/base_display_code_cov.sh
  scripts/ios/display_code_cov_details.sh
  scripts/ios/display_code_cov_summary.sh
  scripts/ios/test.sh
Due: none

add flag for rust
  .github/workflows/test.yml
Due: none

Add more extensions for new public methods
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AddressOfAccountOrPersona.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Exactly29Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Exactly32Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Exactly33Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Exactly64Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Exactly65Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PublicKey.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PublicKeyHash.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/AccountSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/AddressOfAccountOrPersonaSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/PublicKeyHashSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/PublicKeySample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AccountTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AddressOfAccountOrPersonaTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ExactlyNBytesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PublicKeyHashTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PublicKeyTest.kt
Due: none

try again, using lcov
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  scripts/ios/display_code_cov_details.sh
  scripts/ios/display_code_cov_summary.sh
  scripts/ios/export_code_cov.sh
  scripts/ios/test.sh
Due: none

fix broken upload of swift code cov
  .github/workflows/test.yml
Due: none

Swift: use show instead of export and .txt format.
  .github/workflows/test.yml
  .gitignore
  scripts/ios/export_code_cov.sh
Due: none

show and export, as lcov
  .github/workflows/test.yml
  .gitignore
  scripts/ios/base_display_code_cov.sh
  scripts/ios/export_code_cov.sh
Due: none

cov....
  scripts/ios/base_display_code_cov.sh
  scripts/ios/display_code_cov_details.sh
  scripts/ios/display_code_cov_summary.sh
Due: none

Swift add tests for manifest
  .gitignore
  Package.swift
  apple/Tests/SargonTests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  apple/Tests/TestCases/Address/AccessControllerAddressTests.swift
  apple/Tests/TestCases/Address/AccountAddressTests.swift
  apple/Tests/TestCases/Address/AddressOfAccountOrPersonaTests.swift
  apple/Tests/TestCases/Address/AddressTests.swift
  apple/Tests/TestCases/Address/ComponentAddressTests.swift
  apple/Tests/TestCases/Address/IdentityAddressTests.swift
  apple/Tests/TestCases/Address/NonFungibleResourceTests.swift
  apple/Tests/TestCases/Address/PackageAddressTests.swift
  apple/Tests/TestCases/Address/PoolAddressTests.swift
  apple/Tests/TestCases/Address/ResourceAddressTests.swift
  apple/Tests/TestCases/Address/ValidatorAddressTests.swift
  apple/Tests/TestCases/Address/VaultAddressTests.swift
  apple/Tests/TestCases/Crypto/Ed25519PublicKeyTests.swift
  apple/Tests/TestCases/Crypto/MnemonicTests.swift
  apple/Tests/TestCases/Crypto/PublicKeyHashTests.swift
  apple/Tests/TestCases/Crypto/PublicKeyTests.swift
  apple/Tests/TestCases/Crypto/Secp256k1PublicKeyTests.swift
  apple/Tests/TestCases/Prelude/BagOfBytesTests.swift
  apple/Tests/TestCases/Prelude/DataTests.swift
  apple/Tests/TestCases/Prelude/Decimal192Tests.swift
  apple/Tests/TestCases/Prelude/DisplayNameTests.swift
  apple/Tests/TestCases/Prelude/NetworkIDTests.swift
  apple/Tests/TestCases/ProfileTests/Account/AccountTests.swift
  apple/Tests/TestCases/ProfileTests/Account/AppearanceIDTests.swift
  apple/Tests/TestCases/ProfileTests/ProfileTests.swift
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  apple/Tests/TestCases/RET/Misc/BuildInformationTests.swift
  apple/Tests/TestCases/RET/TransactionManifestTests.swift
  apple/Tests/Utils/AddressProtocolTests.swift
  apple/Tests/Utils/EntityProtocolTests.swift
  apple/Tests/Utils/PublicKeyProtocolTests.swift
  apple/Tests/Utils/SargonModelProtocol.swift
Due: ensure Swift not changed to local development

test again
  .envrc
  .github/workflows/test.yml
  scripts/ios/base_display_code_cov.sh
  scripts/ios/display_code_cov_details.sh
  scripts/ios/display_code_cov_summary.sh
  scripts/ios/export_code_cov.sh
  scripts/ios/get_cov_bin_path.sh
  scripts/ios/test.sh
Due: none

Create release on each push on develop
  .github/workflows/release-android.yml
  .github/workflows/release-desktop-bins.yml
Due: none

now?
  .envrc
  .github/workflows/test.yml
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/Decimal192+Swiftified.swift
  apple/Tests/TestCases/Prelude/Decimal192Tests.swift
  scripts/ios/export_code_cov.sh
  scripts/ios/get_cov_bin_path.sh
  scripts/ios/test.sh
Due: ensure Swift not changed to local development

Create maven deployment on each push on develop (#31)
  .github/workflows/release-android.yml
  .github/workflows/release-desktop-bins.yml
Due: none

Create extensions for TransactionManifest
  apple/Sources/Sargon/Extensions/Methods/RET/TransactionManifest+Wrap+Functions.swift
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  apple/Tests/TestCases/RET/TransactionManifestTests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TransactionManifest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/mod.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest_uniffi_fn.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Put back description for TransactionManifest
  apple/Sources/Sargon/Extensions/Methods/RET/TransactionManifest+Wrap+Functions.swift
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  apple/Tests/TestCases/RET/TransactionManifestTests.swift
Due: ensure Swift not changed to local development

Create extensions for TransactionManifest (#32)
  apple/Sources/Sargon/Extensions/Methods/RET/TransactionManifest+Wrap+Functions.swift
  apple/Tests/TestCases/RET/TransactionManifestTests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TransactionManifest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/mod.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest_uniffi_fn.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Infra: add codecov.yml | Rust: add functions to map an address to another network & network_ids_all() | Swift: test more manifest creations methods, add logic of addresses.
  README.md
  apple/Sources/Sargon/Address.swift
  apple/Sources/Sargon/Extensions/Methods/Address/AccessControllerAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/AccountAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/AddressOfAccountOrPersona+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/ComponentAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/IdentityAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/NonFungibleResourceAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/PackageAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/PoolAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/ResourceAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/ValidatorAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/VaultAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/NetworkID+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Transaction/StakeClaim+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Transaction/StakeClaim+Swiftified.swift
  apple/Sources/Sargon/Protocols/AddressProtocol.swift
  apple/Tests/TestCases/Address/ResourceAddressTests.swift
  apple/Tests/TestCases/Prelude/NetworkIDTests.swift
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  apple/Tests/TestCases/Transaction/StakeClaimTests.swift
  apple/Tests/Utils/AddressProtocolTests.swift
  apple/Tests/Utils/SargonModelProtocol.swift
  codecov.yml
  src/profile/v100/address/mod.rs
  src/profile/v100/address/non_fungible_resource_address.rs
  src/profile/v100/address/non_fungible_resource_address_uniffi_fn.rs
  src/profile/v100/address/resource_address.rs
  src/profile/v100/address/wrap_ret_address.rs
  src/profile/v100/networks/network/network_id.rs
  src/profile/v100/networks/network/network_id_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests.rs
  src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/address_of_account_or_persona.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/address_of_account_or_persona_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/mod.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/stake_claim_uniffi_fn.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Fix kotlin tests
  .pre-commit-config.yaml
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Decimal192Test.kt
  src/profile/v100/networks/network/network_id.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

address map_to_network & codecov.yml (#33)
  .pre-commit-config.yaml
  README.md
  apple/Sources/Sargon/Address.swift
  apple/Sources/Sargon/Extensions/Methods/Address/AccessControllerAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/AccountAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/AddressOfAccountOrPersona+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/ComponentAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/IdentityAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/NonFungibleResourceAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/PackageAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/PoolAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/ResourceAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/ValidatorAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/VaultAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/NetworkID+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Transaction/StakeClaim+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Transaction/StakeClaim+Swiftified.swift
  apple/Sources/Sargon/Protocols/AddressProtocol.swift
  apple/Tests/TestCases/Address/ResourceAddressTests.swift
  apple/Tests/TestCases/Prelude/NetworkIDTests.swift
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  apple/Tests/TestCases/Transaction/StakeClaimTests.swift
  apple/Tests/Utils/AddressProtocolTests.swift
  apple/Tests/Utils/SargonModelProtocol.swift
  codecov.yml
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Decimal192Test.kt
  src/profile/v100/address/mod.rs
  src/profile/v100/address/non_fungible_resource_address.rs
  src/profile/v100/address/non_fungible_resource_address_uniffi_fn.rs
  src/profile/v100/address/resource_address.rs
  src/profile/v100/address/wrap_ret_address.rs
  src/profile/v100/networks/network/network_id.rs
  src/profile/v100/networks/network/network_id_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests.rs
  src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/address_of_account_or_persona.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/address_of_account_or_persona_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/mod.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/stake_claim_uniffi_fn.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

swift manifest and tests
  apple/Sources/Sargon/Extensions/Methods/Prelude/Decimal192+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Account/ThirdPartyDeposits+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Account/ThirdPartyDeposits+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Account/ThirdPartyDeposits+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/TransactionManifest+Swiftified.swift
  apple/Tests/TestCases/Prelude/Decimal192Tests.swift
  apple/Tests/TestCases/ProfileTests/Account/ThirdPartyDepositsTests.swift
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  src/core/types/decimal192.rs
  src/core/types/decimal192_uniffi_fn.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/mod.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/third_party_deposits_uniffi_fn.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Swiftify manifest and tests, and blobs
  apple/Sources/Sargon/Extensions/Methods/RET/Blob+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/Blobs+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/TransactionManifest+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/RET/Blob+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/RET/Blobs+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/Blob+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/Blobs+Swiftified.swift
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
Due: ensure Swift not changed to local development

moar tests
  apple/Sources/Sargon/Extensions/Methods/Prelude/Precondition.swift
  apple/Sources/Sargon/Extensions/SampleValues/Transaction/PerAssetTransfers+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Transaction/AssetsTransfersRecipient+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Transaction/PerAssetTransfers+Swiftified.swift
  apple/Tests/TestCases/RET/BlobTest.swift
  apple/Tests/TestCases/RET/BlobsTests.swift
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  apple/Tests/Utils/TestablePreconditionTests.swift
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_asset/mod.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_asset/per_asset_transfers_uniffi_fn.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

remove precondtion, cannot really use it
  apple/Sources/Sargon/Extensions/Methods/Prelude/Precondition.swift
  apple/Tests/Utils/TestablePreconditionTests.swift
Due: ensure Swift not changed to local development

full parallelization of CI
  .github/workflows/test.yml
Due: none

fix example app
  examples/iOS/Sources/Planbok/Dependencies/Keychain.swift
Due: ensure Swift not changed to local development

Swift more manifest tests (#34)
  .github/workflows/test.yml
  apple/Sources/Sargon/Extensions/Methods/Prelude/Decimal192+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Account/ThirdPartyDeposits+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/Blob+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/Blobs+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/TransactionManifest+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Account/ThirdPartyDeposits+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/RET/Blob+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/RET/Blobs+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Transaction/PerAssetTransfers+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Account/ThirdPartyDeposits+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/Blob+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/Blobs+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/TransactionManifest+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Transaction/AssetsTransfersRecipient+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Transaction/PerAssetTransfers+Swiftified.swift
  apple/Tests/TestCases/Prelude/Decimal192Tests.swift
  apple/Tests/TestCases/ProfileTests/Account/ThirdPartyDepositsTests.swift
  apple/Tests/TestCases/RET/BlobTest.swift
  apple/Tests/TestCases/RET/BlobsTests.swift
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  examples/iOS/Sources/Planbok/Dependencies/Keychain.swift
  src/core/types/decimal192.rs
  src/core/types/decimal192_uniffi_fn.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/mod.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/third_party_deposits_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_asset/mod.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_asset/per_asset_transfers_uniffi_fn.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

bump UniFFI
  Cargo.lock
  Cargo.toml
Due: none

bump UniFFI (#35)
  Cargo.lock
  Cargo.toml
Due: none

Swift: NonFungibleLocalID Swiftified + Tests
  apple/Sources/Sargon/Extensions/Methods/Prelude/NonFungibleLocalID+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/NonFungibleLocalID+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/NonFungibleLocalID+Swiftified.swift
  apple/Tests/TestCases/Prelude/NonFungibleLocalIDTests.swift
Due: ensure Swift not changed to local development

Add LegacyOlympiaAccountAddress
  apple/Sources/Sargon/Extensions/Methods/Address/LegacyOlympiaAccountAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Address/LegacyOlympiaAccountAddress+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/LegacyOlympiaAccountAddress+Swiftified.swift
  apple/Sources/Sargon/Protocols/AddressProtocol.swift
  apple/Tests/TestCases/Address/LegacyOlympiaAccountAddressTests.swift
  apple/Tests/Utils/AddressProtocolTests.swift
  src/core/error/common_error.rs
  src/profile/v100/address/legacy_olympia_account_address.rs
  src/profile/v100/address/legacy_olympia_account_address_uniffi_fn.rs
  src/profile/v100/address/mod.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Moar tests
  apple/Sources/Sargon/Protocols/PublicKeyProtocol.swift
  apple/Tests/TestCases/Address/LegacyOlympiaAccountAddressTests.swift
  apple/Tests/TestCases/Crypto/PublicKeyTests.swift
  src/profile/v100/address/legacy_olympia_account_address.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

olympia address (#36)
  apple/Sources/Sargon/Extensions/Methods/Address/LegacyOlympiaAccountAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/NonFungibleLocalID+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Address/LegacyOlympiaAccountAddress+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/NonFungibleLocalID+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/LegacyOlympiaAccountAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/NonFungibleLocalID+Swiftified.swift
  apple/Sources/Sargon/Protocols/AddressProtocol.swift
  apple/Sources/Sargon/Protocols/PublicKeyProtocol.swift
  apple/Tests/TestCases/Address/LegacyOlympiaAccountAddressTests.swift
  apple/Tests/TestCases/Crypto/PublicKeyTests.swift
  apple/Tests/TestCases/Prelude/NonFungibleLocalIDTests.swift
  apple/Tests/Utils/AddressProtocolTests.swift
  src/core/error/common_error.rs
  src/profile/v100/address/legacy_olympia_account_address.rs
  src/profile/v100/address/legacy_olympia_account_address_uniffi_fn.rs
  src/profile/v100/address/mod.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Add derivation path extensions
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DerivationPath.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/DerivationPathSamples.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DerivationPathTest.kt
  src/hierarchical_deterministic/bip44/bip44_like_path_uniffi_fn.rs
  src/hierarchical_deterministic/bip44/mod.rs
  src/hierarchical_deterministic/cap26/cap26_path/cap26_path_uniffi_fn.rs
  src/hierarchical_deterministic/cap26/cap26_path/mod.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Remove hardcoded manifests from tests
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ThirdPartyDepositSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/TransactionManifestSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
Due: none

Add sample for stake claim
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AccountAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/StakeClaimSample.kt
Due: none
