Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

SwiftFormat:
  name: SwiftFormat
  language: system
  entry: swiftformat .
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

[no ci] WIP
  crates/sargon/src/profile/logic/account/query_security_structures.rs
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder.rs
  crates/sargon/src/profile/v100/factors/factor_source_id.rs
Due: fmt, clippy, unit tests

[no ci] wip
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/mod.rs
Due: fmt, clippy, unit tests

[no ci] wip
  crates/sargon-uniffi/src/core/types/requested_quantity.rs
  crates/sargon/src/core/types/requested_quantity.rs
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder.rs
  crates/sargon/src/profile/v100/factors/factor_source_category.rs
  crates/sargon/src/profile/v100/networks/network/authorized_dapp/shared_with_dapp.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder.rs
Due: fmt, clippy, unit tests

Expose sign auth
  crates/sargon-uniffi/src/signing/authentication_signing_input.rs
  crates/sargon-uniffi/src/signing/authentication_signing_request.rs
  crates/sargon-uniffi/src/signing/authentication_signing_response.rs
  crates/sargon-uniffi/src/signing/mod.rs
  crates/sargon-uniffi/src/signing/rola_challenge.rs
  crates/sargon-uniffi/src/system/interactors/host_interactor.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_signing.rs
  crates/sargon/src/signing/authentication/authentication_signing_input.rs
  crates/sargon/src/signing/authentication/authentication_signing_interactor.rs
  crates/sargon/src/signing/authentication/rola_challenge.rs
  crates/sargon/src/signing/testing/interactors/test_authentication_interactor.rs
  crates/sargon/src/system/interactors/interactors.rs
  crates/sargon/src/system/interactors/testing/test_use_factor_sources_interactors.rs
  crates/sargon/src/system/interactors/use_factor_sources_interactor.rs
  crates/sargon/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os_signing.rs
Due: fmt, clippy, unit tests

Add doc
  crates/sargon/src/system/interactors/use_factor_sources_interactor.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/RolaChallenge.kt
Due: fmt, clippy, unit tests

Expose RolaChallenge in kotlin
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/RolaChallenge.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/RolaChallenge.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/RolaChallengeTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/interactor/FakeHostInteractor.kt
Due: none

Add rola challenge into input
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon-uniffi/src/signing/authentication_signing_response.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/signing/authentication/authentication_signing_input.rs
  crates/sargon/src/signing/authentication/authentication_signing_interactor.rs
  crates/sargon/src/signing/testing/interactors/test_authentication_interactor.rs
  crates/sargon/src/system/sargon_os/sargon_os_signing.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/security_structure_of_factors/security_structure_of_factor_source_ids.rs
  crates/sargon/src/profile/v100/app_preferences/security.rs
Due: fmt, clippy, unit tests

Add nonce challenge and metadata into input
  crates/sargon-uniffi/src/signing/authentication_signing_input.rs
  crates/sargon/src/signing/authentication/authentication_signing_input.rs
  crates/sargon/src/signing/authentication/authentication_signing_interactor.rs
  crates/sargon/src/signing/testing/interactors/test_authentication_interactor.rs
Due: fmt, clippy, unit tests

Add test for invalid signature
  crates/sargon/src/signing/authentication/authentication_signing_interactor.rs
Due: fmt, clippy, unit tests

Fix ios fake interactor
  apple/Sources/Sargon/SargonOS/ThrowingHostInteractor+Static+Shared.swift
Due: ensure Swift setup for local development, SwiftFormat

Bump version
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

Expose sign auth (#298)
  Cargo.lock
  apple/Sources/Sargon/SargonOS/ThrowingHostInteractor+Static+Shared.swift
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon-uniffi/src/signing/authentication_signing_input.rs
  crates/sargon-uniffi/src/signing/authentication_signing_request.rs
  crates/sargon-uniffi/src/signing/authentication_signing_response.rs
  crates/sargon-uniffi/src/signing/mod.rs
  crates/sargon-uniffi/src/signing/rola_challenge.rs
  crates/sargon-uniffi/src/system/interactors/host_interactor.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_signing.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/signing/authentication/authentication_signing_input.rs
  crates/sargon/src/signing/authentication/authentication_signing_interactor.rs
  crates/sargon/src/signing/authentication/rola_challenge.rs
  crates/sargon/src/signing/testing/interactors/test_authentication_interactor.rs
  crates/sargon/src/system/interactors/interactors.rs
  crates/sargon/src/system/interactors/testing/test_use_factor_sources_interactors.rs
  crates/sargon/src/system/interactors/use_factor_sources_interactor.rs
  crates/sargon/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os_signing.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/RolaChallenge.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/RolaChallenge.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/RolaChallengeTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/interactor/FakeHostInteractor.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

add primary role selection tests
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder.rs
Due: fmt, clippy, unit tests

updated cargo version
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

removed save_identifier
  crates/sargon-uniffi/src/security_center/support/backup_result.rs
  crates/sargon/src/security_center/client.rs
  crates/sargon/src/security_center/support/backup_result.rs
Due: fmt, clippy, unit tests

removed phylum
  .pre-commit-config.yaml
Due: none

remove special handling for 2 endpoints
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
  crates/sargon/src/gateway_api/methods/state_methods.rs
  crates/sargon/src/system/sargon_os/sargon_os_signing.rs
Due: fmt, clippy, unit tests

Remove save identifier from backup result (#300)
  .pre-commit-config.yaml
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/security_center/support/backup_result.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/security_center/client.rs
  crates/sargon/src/security_center/support/backup_result.rs
Due: fmt, clippy, unit tests

Remove special handling for virtual accounts (#301)
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
  crates/sargon/src/gateway_api/methods/state_methods.rs
  crates/sargon/src/system/sargon_os/sargon_os_signing.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/matrix_builder.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/matrix_builder.rs
  crates/sargon/src/system/sargon_os/sargon_os_signing.rs
Due: fmt, clippy, unit tests

more tests
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder.rs
Due: fmt, clippy, unit tests

[no ci] wip
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Extensions/Methods/Profile/MFA/SecurityShieldBuilder+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/MFA/SecurityShieldsBuilderTests.swift
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/selected_factor_sources_status.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/matrix_builder.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/selected_factor_sources_status.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[no ci] WIP
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/matrix_builder_unit_tests.rs
  crates/sargon/src/profile/mfa/security_structures/roles/builder/confirmation_roles_builder_unit_tests.rs
  crates/sargon/src/profile/mfa/security_structures/roles/builder/primary_roles_builder_unit_tests.rs
  crates/sargon/src/profile/mfa/security_structures/roles/builder/recovery_roles_builder_unit_tests.rs
  crates/sargon/src/profile/mfa/security_structures/roles/builder/roles_builder.rs
Due: fmt, clippy, unit tests

move types up
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder.rs
Due: fmt, clippy, unit tests

[no ci] cleanup
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder.rs
Due: fmt, clippy, unit tests

[no ci] update tests
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/matrix_builder.rs
  crates/sargon/src/profile/mfa/security_structures/roles/abstract_role_builder_or_built.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

cleanup
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder.rs
Due: fmt, clippy, unit tests

WIP
  crates/sargon-uniffi/src/system/drivers/secure_storage_driver/secure_storage_driver.rs
  crates/sargon/src/profile/logic/account/accounts_visibility.rs
  crates/sargon/src/profile/logic/account/query_accounts.rs
  crates/sargon/src/profile/logic/persona/query_personas.rs
  crates/sargon/src/profile/mfa/secured_entity_control/secured_entity_control.rs
  crates/sargon/src/profile/v100/entity_security_state/entity_security_state.rs
  crates/sargon/src/profile/v100/entity_security_state/unsecured_entity_control.rs
  crates/sargon/src/system/clients/client/secure_storage_client/secure_storage_client.rs
  crates/sargon/src/system/clients/client/unsafe_storage_client/unsafe_storage_client.rs
  crates/sargon/src/system/drivers/secure_storage_driver/secure_storage_driver.rs
  crates/sargon/src/system/drivers/unsafe_storage_driver/support/unsafe_storage_key.rs
  crates/sargon/src/system/sargon_os/entities_controlled_by_factor_source/mod.rs
  crates/sargon/src/system/sargon_os/entities_controlled_by_factor_source/sargon_os_entities_controlled_by_factor_source.rs
  crates/sargon/src/system/sargon_os/entities_controlled_by_factor_source/support/entities_controlled_by_factor_source.rs
  crates/sargon/src/system/sargon_os/entities_controlled_by_factor_source/support/mod.rs
  crates/sargon/src/system/sargon_os/entities_controlled_by_factor_source/support/profile_to_check.rs
  crates/sargon/src/system/sargon_os/mod.rs
  crates/sargon/src/system/sargon_os/profile_state_holder.rs
Due: fmt, clippy, unit tests

WIP
  crates/sargon-uniffi/src/system/sargon_os/entities_controlled_by_factor_source/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/entities_controlled_by_factor_source/sargon_os_entities_controlled_by_factor_source.rs
  crates/sargon-uniffi/src/system/sargon_os/entities_controlled_by_factor_source/support/entities_controlled_by_factor_source.rs
  crates/sargon-uniffi/src/system/sargon_os/entities_controlled_by_factor_source/support/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/entities_controlled_by_factor_source/support/profile_to_check.rs
  crates/sargon-uniffi/src/system/sargon_os/mod.rs
  crates/sargon/src/system/drivers/secure_storage_driver/support/test/ephemeral_secure_storage.rs
  crates/sargon/src/system/drivers/secure_storage_driver/support/test/fail_secure_storage.rs
  crates/sargon/src/system/sargon_os/entities_controlled_by_factor_source/sargon_os_entities_controlled_by_factor_source.rs
  crates/sargon/src/system/sargon_os/entities_controlled_by_factor_source/support/entities_controlled_by_factor_source.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon-uniffi/src/system/drivers/nfc_tag_driver/nfc_tag_driver.rs
  crates/sargon/src/system/drivers/arculus_csdk_driver/arculus_csdk_driver.rs
Due: fmt, clippy, unit tests

address feedback
  apple/Sources/Sargon/Extensions/Methods/Profile/MFA/SecurityShieldBuilder+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/MFA/SecurityShieldsBuilderTests.swift
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/profile/v100/factors/factor_source_kind.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[ABW-3969] Shield Setup Select Factors - utility functions (#297)
  Cargo.lock
  apple/Sources/Sargon/Extensions/Methods/SecurityCenter/SecurityProblemKind+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/MFA/SecurityShieldsBuilderTests.swift
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/profile/mfa/security_structures/mod.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/selected_factor_sources_status.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/matrix_builder.rs
  crates/sargon/src/profile/mfa/security_structures/mod.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/selected_factor_sources_status.rs
  crates/sargon/src/profile/v100/factors/factor_source_kind.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

key mapping solution
  apple/Sources/Sargon/Drivers/TestDrivers/SecureStorage/SecureStorageDriver+InsecureTestOnlyEphemeral_SecureStorage.swift
  apple/Sources/Sargon/Drivers/TestDrivers/TestDrivers.swift
  apple/Sources/Sargon/Drivers/UnsafeStorage/UnsafeStorageDriver+UserDefaults.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/BIOS/BIOS+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/Drivers/Drivers+Swiftified.swift
  apple/Sources/Sargon/SargonOS/TestOS.swift
  crates/sargon/src/system/drivers/unsafe_storage_driver/support/unsafe_storage_key.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

using accessibility
  crates/sargon-uniffi/src/system/sargon_os/entities_controlled_by_factor_source/support/accessibility/accessibility.rs
  crates/sargon-uniffi/src/system/sargon_os/entities_controlled_by_factor_source/support/accessibility/device.rs
  crates/sargon-uniffi/src/system/sargon_os/entities_controlled_by_factor_source/support/accessibility/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/entities_controlled_by_factor_source/support/entities_controlled_by_factor_source.rs
  crates/sargon-uniffi/src/system/sargon_os/entities_controlled_by_factor_source/support/mod.rs
  crates/sargon/src/system/sargon_os/entities_controlled_by_factor_source/sargon_os_entities_controlled_by_factor_source.rs
  crates/sargon/src/system/sargon_os/entities_controlled_by_factor_source/support/accessibility/accessibility.rs
  crates/sargon/src/system/sargon_os/entities_controlled_by_factor_source/support/accessibility/device.rs
  crates/sargon/src/system/sargon_os/entities_controlled_by_factor_source/support/accessibility/mod.rs
  crates/sargon/src/system/sargon_os/entities_controlled_by_factor_source/support/entities_controlled_by_factor_source.rs
  crates/sargon/src/system/sargon_os/entities_controlled_by_factor_source/support/mod.rs
Due: fmt, clippy, unit tests

rename to linkedTo
  crates/sargon-uniffi/src/system/sargon_os/entities_controlled_by_factor_source/sargon_os_entities_linked_to_factor_source.rs
  crates/sargon-uniffi/src/system/sargon_os/entities_controlled_by_factor_source/support/accessibility/device.rs
  crates/sargon-uniffi/src/system/sargon_os/entities_controlled_by_factor_source/support/entities_linked_to_factor_source.rs
  crates/sargon-uniffi/src/system/sargon_os/entities_controlled_by_factor_source/support/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/entities_controlled_by_factor_source/support/profile_to_check.rs
  crates/sargon/src/profile/mfa/secured_entity_control/secured_entity_control.rs
  crates/sargon/src/profile/v100/entity_security_state/entity_security_state.rs
  crates/sargon/src/profile/v100/entity_security_state/unsecured_entity_control.rs
  crates/sargon/src/system/sargon_os/entities_controlled_by_factor_source/mod.rs
  crates/sargon/src/system/sargon_os/entities_linked_to_factor_source/mod.rs
  crates/sargon/src/system/sargon_os/entities_linked_to_factor_source/sargon_os_entities_linked_to_factor_source.rs
  crates/sargon/src/system/sargon_os/entities_linked_to_factor_source/support/accessibility/accessibility.rs
  crates/sargon/src/system/sargon_os/entities_linked_to_factor_source/support/accessibility/device.rs
  crates/sargon/src/system/sargon_os/entities_linked_to_factor_source/support/accessibility/mod.rs
  crates/sargon/src/system/sargon_os/entities_linked_to_factor_source/support/entities_linked_to_factor_source.rs
  crates/sargon/src/system/sargon_os/entities_linked_to_factor_source/support/mod.rs
  crates/sargon/src/system/sargon_os/entities_linked_to_factor_source/support/profile_to_check.rs
  crates/sargon/src/system/sargon_os/mod.rs
Due: fmt, clippy, unit tests

interpretation if < limit; add
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder.rs
Due: fmt, clippy, unit tests

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  SwiftFormat: any of: \.swift$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
