Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true
default_install_hook_types: [pre-push]
default_stages: [pre-push]
repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.22.7
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

  - repo: https://github.com/phylum-dev/phylum-ci
    rev: main
    hooks:
      - id: phylum
        stages: [pre-push]
        # Optional: Specify the dependency file pattern for your repository
        files: |
            (?x)^(
                Cargo\.lock|
            )$
        # Optional: Specify additional arguments to be passed to `phylum-ci`
        args:
          - -vv
          - --depfile=Cargo.lock
          - --audit
          - --force-analysis
          - --all-deps
        verbose: true

WIP
  crates/sargon-uniffi/src/signing/signed_outcome.rs
  crates/sargon/src/system/sargon_os/sargon_os_signing.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Drivers/ArculusCSDK/ArculusCSDK.swift
  crates/sargon-uniffi/src/system/drivers/arculus_csdk_driver/arculus_csdk_driver.rs
  crates/sargon/src/system/clients/client/arculus_wallet_client/arculus_wallet_client.rs
  crates/sargon/src/system/drivers/arculus_csdk_driver/support/test/arculus_csdk_driver.rs
  crates/sargon/src/system/sargon_os/arculus_card/sargon_os_arculus_card.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Automatically bump threshold on primary role if we add a factorsource to threshold and threshold was 0. add doc support for macros. doc types.
  apple/Tests/TestCases/Profile/MFA/SecurityShieldsBuilderTests.swift
  crates/sargon-uniffi/src/profile/mfa/security_structures/matrices/decl_matrix_macro.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/matrices/matrix_of_factor_instances.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/matrices/matrix_of_factor_source_ids.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/matrices/matrix_of_factor_sources.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/models/factor_source_in_role_builder_validation_status.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/models/role_kind.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/roles/decl_role_macro.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/roles/roles_factor_instances.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/roles/roles_factor_source_ids.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/roles/roles_factor_sources.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder_invalid_reason.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_structures/security_structure_of_factor_instances.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_structures/security_structure_of_factor_source_ids.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/matrix_builder.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/matrix_builder_unit_tests.rs
  crates/sargon/src/profile/mfa/security_structures/roles/builder/primary_roles_builder_unit_tests.rs
  crates/sargon/src/profile/mfa/security_structures/roles/builder/roles_builder.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder_invalid_reason.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Add send + sync
  crates/sargon/src/signing/signables/signable.rs
  crates/sargon/src/signing/testing/interactors/test_sign_interactor.rs
Due: fmt, clippy, unit tests

more swift tests
  apple/Tests/TestCases/Profile/MFA/SecurityShieldsBuilderTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Redeclare macros
  crates/sargon-uniffi/src/signing/hd_signature.rs
  crates/sargon-uniffi/src/signing/hd_signature_input.rs
  crates/sargon-uniffi/src/signing/invalid_transaction_if_neglected.rs
  crates/sargon-uniffi/src/signing/sign_request.rs
  crates/sargon-uniffi/src/signing/sign_response.rs
  crates/sargon-uniffi/src/signing/sign_with_factors_outcome.rs
  crates/sargon-uniffi/src/signing/signatures_per_fractor_source.rs
  crates/sargon-uniffi/src/signing/signed_outcome.rs
  crates/sargon-uniffi/src/signing/transaction_sign_request_input.rs
  crates/sargon-uniffi/src/signing/transactions_to_sign_per_factor_source.rs
Due: fmt, clippy, unit tests

fmt
  crates/sargon-uniffi/src/signing/invalid_transaction_if_neglected.rs
  crates/sargon-uniffi/src/signing/sign_with_factors_outcome.rs
  crates/sargon-uniffi/src/signing/signatures_per_fractor_source.rs
  crates/sargon-uniffi/src/signing/transaction_sign_request_input.rs
  crates/sargon-uniffi/src/signing/transactions_to_sign_per_factor_source.rs
Due: fmt, clippy, unit tests

lift HasSampleValues restriction on Signable trait
  crates/sargon/src/signing/host_interaction/sign_request.rs
  crates/sargon/src/signing/host_interaction/sign_response.rs
  crates/sargon/src/signing/host_interaction/transaction_sign_request_input.rs
  crates/sargon/src/signing/petition_types/petition_for_entity.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/petition_for_factors_state_snapshot.rs
  crates/sargon/src/signing/signables/signable.rs
  crates/sargon/src/signing/signatures_outecome_types/maybe_signed_transactions.rs
  crates/sargon/src/signing/signatures_outecome_types/sign_with_factors_outcome.rs
  crates/sargon/src/types/hd_signature.rs
  crates/sargon/src/types/hd_signature_input.rs
  crates/sargon/src/types/invalid_transaction_if_neglected.rs
Due: fmt, clippy, unit tests

lift HasSampleValues restriction on Signable trait (#290)
  crates/sargon/src/signing/host_interaction/sign_request.rs
  crates/sargon/src/signing/host_interaction/sign_response.rs
  crates/sargon/src/signing/host_interaction/transaction_sign_request_input.rs
  crates/sargon/src/signing/petition_types/petition_for_entity.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/petition_for_factors_state_snapshot.rs
  crates/sargon/src/signing/signables/signable.rs
  crates/sargon/src/signing/signatures_outecome_types/maybe_signed_transactions.rs
  crates/sargon/src/signing/signatures_outecome_types/sign_with_factors_outcome.rs
  crates/sargon/src/types/hd_signature.rs
  crates/sargon/src/types/hd_signature_input.rs
  crates/sargon/src/types/invalid_transaction_if_neglected.rs
Due: fmt, clippy, unit tests

Add reset_primary_and_confirmation_role_state to Uniffi ShieldBuilder.
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/matrix_builder.rs
  crates/sargon/src/profile/mfa/security_structures/roles/abstract_role_builder_or_built.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

define models
  crates/sargon/src/lib.rs
  crates/sargon/src/security_center/addresses_entities_bad_state.rs
  crates/sargon/src/security_center/mod.rs
  crates/sargon/src/security_center/security_problem.rs
  crates/sargon/src/security_center/security_problem_kind.rs
Due: fmt, clippy, unit tests

added tests
  crates/sargon/src/security_center/client.rs
  crates/sargon/src/security_center/mod.rs
  crates/sargon/src/security_center/support/addresses_entities_bad_state.rs
  crates/sargon/src/security_center/support/backup_result.rs
  crates/sargon/src/security_center/support/input.rs
  crates/sargon/src/security_center/support/mod.rs
Due: fmt, clippy, unit tests

WIP
  apple/Sources/Sargon/Extensions/Methods/SecurityCenter/SecurityProblem+Wrap+Functions.swift
  crates/sargon-uniffi/src/security_center/security_problem.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

WIP
  crates/sargon/src/security_center/client.rs
  crates/sargon/src/security_center/mod.rs
  crates/sargon/src/security_center/support/addresses_entities_bad_state.rs
  crates/sargon/src/security_center/support/backup_result.rs
  crates/sargon/src/security_center/support/input.rs
  crates/sargon/src/security_center/support/mod.rs
Due: fmt, clippy, unit tests

WIP
  crates/sargon-uniffi/src/lib.rs
  crates/sargon-uniffi/src/security_center/mod.rs
  crates/sargon-uniffi/src/security_center/security_problem.rs
  crates/sargon-uniffi/src/security_center/security_problem_kind.rs
  crates/sargon-uniffi/src/security_center/support/addresses_entities_bad_state.rs
  crates/sargon-uniffi/src/security_center/support/backup_result.rs
  crates/sargon-uniffi/src/security_center/support/input.rs
  crates/sargon-uniffi/src/security_center/support/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_security_center.rs
  crates/sargon/src/security_center/security_problem_kind.rs
  crates/sargon/src/security_center/support/addresses_entities_bad_state.rs
  crates/sargon/src/system/sargon_os/mod.rs
  crates/sargon/src/system/sargon_os/sargon_os_security_center.rs
Due: fmt, clippy, unit tests

feedback
  crates/sargon-uniffi/src/security_center/support/input.rs
  crates/sargon/src/core/types/bool_type.rs
  crates/sargon/src/security_center/client.rs
  crates/sargon/src/security_center/support/addresses_entities_bad_state.rs
  crates/sargon/src/security_center/support/backup_result.rs
Due: fmt, clippy, unit tests

add Swift extensions
  apple/Sources/Sargon/Extensions/Methods/SecurityCenter/SecurityProblem+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/SecurityCenter/SecurityProblemKind+Wrap+Functions.swift
  apple/Tests/TestCases/SecurityCenter/SecurityProblemTests.swift
  crates/sargon-uniffi/src/security_center/security_problem.rs
  crates/sargon/src/security_center/security_problem.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

use InternalConversion
  crates/sargon-uniffi/src/security_center/support/input.rs
  crates/sargon/src/core/types/bool_type.rs
Due: fmt, clippy, unit tests

(temp) try fix `MethodTooLargeException` by commenting out method `reset_recovery_and_confirmation_role_state`
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

reintroduce reset_recovery_and_confirmation_role_state - will result in scary
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

Remove outcome
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon-uniffi/src/signing/mod.rs
  crates/sargon-uniffi/src/signing/signed_outcome.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_signing.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/system/sargon_os/sargon_os_signing.rs
  jvm/sargon-android/build.gradle.kts
Due: fmt, clippy, unit tests

fix Planbook compilation errors
  examples/iOS/Backend/Sources/Planbok/Dependencies/FactorSourcesClient.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Manage/ManageSpecificFactorSourcesFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/FactorSourceExtensions/FactorSourceKind+Extensions.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/PickFactorSourceCoordinator/Children/PickFactorSourceFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Views/FactorView.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/Onboarding/NewOrImportProfileFeature.swift
  examples/iOS/Backend/Sources/Planbok/SharedState/SharedState+Accounts.swift
  examples/iOS/Backend/Sources/Planbok/SharedState/SharedState+FactorSources.swift
  examples/iOS/Backend/Sources/Planbok/SharedState/SharedState+NetworkID.swift
  examples/iOS/Backend/Sources/Planbok/SharedState/SharedState+SavedGateways.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/FactorSourceHintView.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  apple/Sources/Sargon/Drivers/ArculusCSDK/ArculusCSDK.swift
  crates/sargon-uniffi/src/system/drivers/arculus_csdk_driver/arculus_csdk_driver.rs
  crates/sargon/src/system/clients/client/arculus_wallet_client/arculus_wallet_client.rs
  crates/sargon/src/system/clients/client/arculus_wallet_client/arculus_wallet_client_io.rs
  crates/sargon/src/system/drivers/arculus_csdk_driver/arculus_csdk_driver.rs
  crates/sargon/src/system/drivers/arculus_csdk_driver/support/test/arculus_csdk_driver.rs
  crates/sargon/src/system/sargon_os/arculus_card/sargon_os_arculus_card.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Replace outcome with result
  crates/sargon-uniffi/src/system/interactors/host_interactor.rs
  crates/sargon/src/signing/collector/signatures_collector.rs
  crates/sargon/src/signing/host_interaction/sign_interactor.rs
  crates/sargon/src/signing/testing/interactors/test_sign_interactor.rs
  crates/sargon/src/system/interactors/testing/test_use_factor_sources_interactors.rs
  crates/sargon/src/system/sargon_os/sargon_os_signing.rs
  crates/sargon/tests/integration/main.rs
Due: fmt, clippy, unit tests

Allow simulated user to also reject signing.
  crates/sargon/src/signing/testing/interactors/test_sign_interactor.rs
  crates/sargon/src/signing/testing/simulated_user.rs
  crates/sargon/src/system/sargon_os/sargon_os_signing.rs
Due: fmt, clippy, unit tests

Fmt
  crates/sargon/src/signing/testing/interactors/test_sign_interactor.rs
  crates/sargon/src/signing/testing/simulated_user.rs
  crates/sargon/src/system/sargon_os/sargon_os_signing.rs
Due: fmt, clippy, unit tests

Clippy
  crates/sargon/src/signing/collector/signatures_collector.rs
Due: fmt, clippy, unit tests

Throw signing rejected
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/SargonOsManagerTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/interactor/FakeHostInteractor.kt
Due: none

Fix MethodTooLargeException by lowering method amount by 2.
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

Skip swift tests
  apple/Sources/Sargon/SargonOS/SargonOS+Static+Shared.swift
  apple/Sources/Sargon/SargonOS/TestOS.swift
  apple/Sources/Sargon/SargonOS/ThrowingHostInteractor+Static+Shared.swift
  apple/Tests/IntegrationTests/DriversTests/DriversTests.swift
  apple/Tests/IntegrationTests/DriversTests/EventBusDriverTests.swift
  apple/Tests/IntegrationTests/SargonOS/SargonOSTests.swift
  apple/Tests/IntegrationTests/SargonOS/TestOSTests.swift
Due: ensure Swift setup for local development, SwiftFormat

fmt
  crates/sargon/src/signing/collector/signatures_collector.rs
Due: fmt, clippy, unit tests

Swift format
  apple/Sources/Sargon/SargonOS/ThrowingHostInteractor+Static+Shared.swift
  apple/Tests/IntegrationTests/DriversTests/EventBusDriverTests.swift
  apple/Tests/IntegrationTests/SargonOS/TestOSTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Bump UniFFI to 0.28.3 + unreleased changes
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/core/types/bag_of_bytes.rs
  crates/sargon-uniffi/src/core/types/keys/secp256k1/public_key.rs
  crates/sargon-uniffi/src/hierarchical_deterministic/bip39/bip39_entropy.rs
  crates/sargon-uniffi/src/lib.rs
  crates/sargon-uniffi/uniffi.toml
  crates/sargon/src/signing/collector/signatures_collector.rs
  crates/sargon/src/signing/testing/simulated_user.rs
Due: fmt, clippy, unit tests

revert changes in uniffi.toml
  crates/sargon-uniffi/uniffi.toml
Due: none

wip
  apple/Sources/Sargon/Drivers/ArculusCSDK/ArculusCSDK.swift
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCSessionClient.swift
  crates/sargon-uniffi/src/system/sargon_os/arculus_card/sargon_os_arculus_card.rs
  crates/sargon/src/system/clients/client/arculus_wallet_client/arculus_wallet_client.rs
  jvm/sargon-android/build.gradle.kts
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Simplify macro_rules impl which declared `MatrixOFFactor***` with `preinterpret` crate instead of `paste` crate.
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/profile/mfa/security_structures/matrices/decl_matrix_macro.rs
Due: fmt, clippy, unit tests

swiftformat
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/SargonError+Swiftified.swift
Due: ensure Swift setup for local development, SwiftFormat

Bump UniFFI to pre `0.29.1` (#291)
  Cargo.lock
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/SargonError+Swiftified.swift
  apple/Tests/TestCases/Prelude/SargonErrorTests.swift
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/core/types/bag_of_bytes.rs
  crates/sargon-uniffi/src/core/types/keys/secp256k1/public_key.rs
  crates/sargon-uniffi/src/hierarchical_deterministic/bip39/bip39_entropy.rs
  crates/sargon-uniffi/src/lib.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/signing/testing/simulated_user.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  apple/Sources/Sargon/Drivers/ArculusCSDK/ArculusCSDK.swift
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCSessionClient.swift
  crates/sargon-uniffi/src/core/result/result.rs
  crates/sargon-uniffi/src/system/drivers/arculus_csdk_driver/arculus_csdk_driver.rs
  crates/sargon-uniffi/src/system/drivers/nfc_tag_driver/nfc_tag_driver.rs
  crates/sargon-uniffi/src/system/sargon_os/arculus_card/sargon_os_arculus_card.rs
  crates/sargon/src/system/clients/client/arculus_wallet_client/arculus_wallet_client.rs
  crates/sargon/src/system/clients/client/arculus_wallet_client/arculus_wallet_client_io.rs
  crates/sargon/src/system/drivers/arculus_csdk_driver/arculus_csdk_driver.rs
  crates/sargon/src/system/drivers/arculus_csdk_driver/support/test/arculus_csdk_driver.rs
  crates/sargon/src/system/drivers/nfc_driver/nfc_driver.rs
  crates/sargon/src/system/drivers/nfc_driver/support/test/nfc_tag_driver.rs
  crates/sargon/src/system/sargon_os/arculus_card/sargon_os_arculus_card.rs
  jvm/sargon-android/build.gradle.kts
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests
