Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true
default_install_hook_types: [pre-push]
default_stages: [pre-push]
repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.22.7
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

  - repo: https://github.com/phylum-dev/phylum-ci
    rev: main
    hooks:
      - id: phylum
        stages: [pre-push]
        # Optional: Specify the dependency file pattern for your repository
        files: |
            (?x)^(
                Cargo\.lock|
            )$
        # Optional: Specify additional arguments to be passed to `phylum-ci`
        args:
          - -vv
          - --depfile=Cargo.lock
          - --audit
          - --force-analysis
          - --all-deps
        verbose: true

fixes
  crates/sargon-profile-logic/src/logic/profile_network/profile_network_get_entities.rs
  crates/sargon-profile-logic/src/logic/profile_networks.rs
  crates/sargon-profile/src/mfa/security_structures/security_structure_of_factors/abstract_security_structure_of_factors.rs
  crates/sargon-profile/src/supporting_types/mod.rs
  crates/sargon-profile/src/v100/app_preferences/gateways/saved_gateways.rs
  crates/sargon-profile/src/v100/networks/network/authorized_dapp/authorized_dapp.rs
  crates/sargon-profile/src/v100/networks/network/authorized_dapps.rs
  crates/sargon-profile/src/v100/networks/profile_networks.rs
Due: fmt, clippy, unit tests

wip
  Cargo.lock
  crates/sargon-factor-instances-provider/Cargo.toml
  crates/sargon-factor-instances-provider/src/lib.rs
  crates/sargon-factors/src/hierarchical_deterministic_factor_instance.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/factor_source_referencing.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/needs_a_new_home_dumping_ground/mod.rs
  crates/sargon/src/system/mod.rs
  crates/sargon/src/system/sargon_os/delete_account/sargon_os_delete_account.rs
  crates/sargon/src/types/mod.rs
Due: fmt, clippy, unit tests

wip
  Cargo.lock
  crates/gateway-client-and-api/src/client/gateway_client.rs
  crates/gateway-client-and-api/src/lib.rs
  crates/gateway-client-and-api/src/methods/page_methods.rs
  crates/gateway-client-and-api/src/methods/state_methods.rs
  crates/sargon-clients/src/clients/client/factor_instances_cache_client/cache/factor_instances_cache.rs
  crates/sargon-clients/src/clients/client/factor_instances_cache_client/cache/keyed_instances.rs
  crates/sargon-clients/src/clients/client/factor_instances_cache_client/cache/mod.rs
  crates/sargon-clients/src/clients/client/factor_instances_cache_client/cache/serializable_cache/factor_instances_cache_snapshot.rs
  crates/sargon-clients/src/clients/client/factor_instances_cache_client/cache/serializable_cache/factor_source_id_from_hash_dense_key.rs
  crates/sargon-clients/src/clients/client/factor_instances_cache_client/cache/serializable_cache/mod.rs
  crates/sargon-clients/src/clients/client/factor_instances_cache_client/client.rs
  crates/sargon-clients/src/clients/client/factor_instances_cache_client/mod.rs
  crates/sargon-clients/src/clients/client/factor_instances_cache_client/models/mod.rs
  crates/sargon-clients/src/clients/client/factor_instances_cache_client/models/outcome.rs
  crates/sargon-clients/src/clients/client/file_system_client/file_system_client.rs
  crates/sargon-clients/src/clients/client/secure_storage_client/secure_storage_client.rs
  crates/sargon-core/src/appendable_collection.rs
  crates/sargon-core/src/lib.rs
  crates/sargon-drivers/src/drivers/unsafe_storage_driver/support/ephemeral_unsafe_storage.rs
  crates/sargon-drivers/src/drivers/unsafe_storage_driver/support/mod.rs
  crates/sargon-drivers/src/drivers/unsafe_storage_driver/support/test/mod.rs
  crates/sargon-factor-instances-provider/Cargo.toml
  crates/sargon-factor-instances-provider/src/lib.rs
  crates/sargon-factor-instances-provider/src/provider/provider_adopters/securify_entity_factor_instances_provider.rs
  crates/sargon-factor-instances-provider/src/types/mod.rs
  crates/sargon-factor-instances-provider/src/types/test_derivation_interactor_from_secure_storage_client.rs
  crates/sargon-factors/src/factor_instance/factor_instances.rs
  crates/sargon-profile/src/supporting_types/account_or_persona.rs
  crates/sargon-profile/src/v100/entity/account/account.rs
  crates/sargon-profile/src/v100/entity/has_security_state.rs
  crates/sargon-profile/src/v100/entity/persona/persona.rs
  crates/sargon/src/system/sargon_os/factor_instances_provider_unit_tests.rs
Due: fmt, clippy, unit tests

disabled sargon-uniffi for now
  Cargo.lock
  Cargo.toml
  crates/gateway-client-and-api/src/client/gateway_client_dispatch_request.rs
  crates/gateway-client-and-api/src/endpoints/state_endpoints.rs
  crates/gateway-client-and-api/src/endpoints/status_endpoints.rs
  crates/gateway-client-and-api/src/endpoints/transaction_endpoints.rs
  crates/gateway-client-and-api/src/lib.rs
  crates/gateway-client-and-api/src/methods/state_methods.rs
  crates/sargon-addresses/src/address/account_address.rs
  crates/sargon-core/src/lib.rs
  crates/sargon-drivers/src/drivers/event_bus_driver/support/event_profile_modified.rs
  crates/sargon-factor-instances-provider/src/provider/provider_adopters/securify_entity_factor_instances_provider.rs
  crates/sargon-factor-instances-provider/src/types/test_derivation_interactor_from_secure_storage_client.rs
  crates/sargon-factors/src/factor_instance/factor_instances.rs
  crates/sargon-manifests/src/high_level/sargon_specific_types/assets_transfers/mod.rs
  crates/sargon-manifests/src/high_level/sargon_specific_types/assets_transfers/owned_or_third_party_account_address.rs
  crates/sargon-profile/src/v100/networks/network/authorized_dapp/authorized_dapp.rs
  crates/sargon-transaction-models/src/low_level/signed_intent.rs
  crates/sargon-transaction-models/src/low_level/v1/transaction_intent.rs
  crates/sargon-transaction-models/src/low_level/v2/signed_subintent.rs
  crates/sargon-transaction-models/src/low_level/v2/subintent.rs
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/lib.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/account_or_address_of.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/mod.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/owned_or_third_party_account_address.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/lib.rs
  crates/sargon/src/radix_connect/mobile/relay_service/service.rs
  crates/sargon/src/radix_connect/well_known_client/client.rs
  crates/sargon/src/signing/collector/signatures_collector_preprocessor.rs
  crates/sargon/src/signing/signables/signable_subintent.rs
  crates/sargon/src/signing/signables/signable_transaction_intent.rs
  crates/sargon/src/system/sargon_os/entity_creating_with_factor_source_and_derivation_outcome.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/system/sargon_os/sargon_os_factors.rs
Due: fmt, clippy, unit tests

test compiles
  crates/gateway-models/src/types/response/ledger_state.rs
  crates/gateway-models/src/types/response/transaction/status/transaction_status.rs
  crates/gateway-models/src/types/response/transaction/subintent_status/response.rs
  crates/sargon-clients/src/clients/client/factor_instances_cache_client/client.rs
  crates/sargon-drivers/src/drivers/drivers.rs
  crates/sargon-drivers/src/drivers/profile_change_driver/support/test/mod.rs
  crates/sargon-factor-instances-provider/src/provider/outcome/factor_instances_provider_outcome.rs
  crates/sargon-factor-instances-provider/src/provider/outcome/factor_instances_provider_outcome_for_factor.rs
  crates/sargon-transaction-models/src/low_level/v1/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
  crates/sargon/fixtures/vector/multi_profile_snapshots_test_version_100_patch_after_app_version_120.json
  crates/sargon/fixtures/vector/only_plaintext_profile_snapshot_version_100.json
  crates/sargon/src/signing/collector/signatures_collector.rs
  crates/sargon/src/system/sargon_os/factor_instances_provider_unit_tests.rs
  crates/sargon/tests/integration/main.rs
Due: fmt, clippy, unit tests

resurrect and fix sargon-uniffi
  Cargo.lock
  Cargo.toml
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/lib.rs
  crates/sargon-uniffi/src/profile/v100/app_preferences/gateways/saved_gateways.rs
  crates/sargon-uniffi/src/profile/v100/networks/network/profile_network.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
Due: fmt, clippy, unit tests

its working its working its wooooorking
  Cargo.lock
  Cargo.toml
  _typos.toml
  crates/gateway-models/src/types/response/state/entity/details/fungible/collection_item.rs
  crates/next-derivation-index-ephemeral/Cargo.toml
  crates/next-derivation-index-ephemeral/src/agnostic_paths/derivation_preset.rs
  crates/next-derivation-index-ephemeral/src/agnostic_paths/index_agnostic_path.rs
  crates/next-derivation-index-ephemeral/src/agnostic_paths/mod.rs
  crates/next-derivation-index-ephemeral/src/agnostic_paths/quantified_derivation_preset.rs
  crates/next-derivation-index-ephemeral/src/agnostic_paths/quantities.rs
  crates/next-derivation-index-ephemeral/src/lib.rs
  crates/next-derivation-index-ephemeral/src/next_derivation_entity_index_with_ephemeral_offsets.rs
  crates/next-derivation-index-ephemeral/src/next_derivation_entity_index_with_ephemeral_offsets_for_factor_source.rs
  crates/sargon-factor-instances-provider/Cargo.toml
  crates/sargon-factor-instances-provider/src/next_index_assigner/mod.rs
  crates/sargon-profile-security-structures/Cargo.toml
  crates/sargon-profile-security-structures/src/lib.rs
  crates/sargon-profile-security-structures/src/roles_matrices_structures/matrices/matrix_of_factor_instances.rs
Due: fmt, clippy, unit tests

clippy fix
  crates/gateway-logic/src/lib.rs
  crates/gateway-models/src/lib.rs
  crates/gateway-models/src/types/request/mod.rs
  crates/gateway-models/src/types/response/state/account/page/authorized_depositor.rs
  crates/gateway-models/src/types/response/state/account/page/resource_preference.rs
  crates/next-derivation-index-ephemeral/src/agnostic_paths/index_agnostic_path.rs
  crates/next-derivation-index-ephemeral/src/next_derivation_entity_index_with_ephemeral_offsets_for_factor_source.rs
  crates/sargon-profile-security-structures/src/lib.rs
  crates/sargon-profile-security-structures/src/roles_matrices_structures/automatic_shield_builder/mod.rs
  crates/sargon-profile-security-structures/src/roles_matrices_structures/mod.rs
  crates/sargon-profile-security-structures/src/roles_matrices_structures/roles/factor_levels/factor_instance_level/mod.rs
  crates/sargon-transaction-models/src/lib.rs
  crates/sargon-transaction-models/src/low_level/mod.rs
  crates/sargon-transaction-models/src/low_level/sbor_depth_validation.rs
  crates/sargon-transaction-models/src/low_level/transaction_hashes/mod.rs
  crates/sargon-transaction-models/src/low_level/v1/transaction_manifest/execution_summary/mod.rs
  crates/sargon-transaction-models/src/low_level/v1/transaction_manifest/instructions/instructions.rs
  crates/sargon-transaction-models/src/low_level/v1/transaction_manifest/mod.rs
  crates/sargon-transaction-models/src/low_level/v2/transaction_manifest_v2/execution_summary_v2/mod.rs
  crates/sargon-transaction-models/src/low_level/v2/transaction_manifest_v2/instructions_v2/instructions_v2.rs
  crates/sargon-transaction-models/src/low_level/v2/transaction_manifest_v2/mod.rs
  crates/sargon-transaction-models/src/profile_models/third_party_deposits/asset_exception.rs
Due: fmt, clippy, unit tests

eternal glory
  crates/sargon-factor-instances-provider/src/provider/outcome/factor_instances_provider_outcome_for_factor.rs
  crates/sargon-uniffi/src/lib.rs
  crates/sargon-uniffi/src/signing/transactions_to_sign_per_factor_source.rs
  crates/sargon-uniffi/src/system/drivers/unsafe_storage_driver/support/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_profile.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_signing.rs
  crates/sargon-uniffi/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/mod.rs
  crates/sargon/src/lib.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/petition_for_factors_state.rs
  crates/sargon/src/system/sargon_os/mod.rs
Due: fmt, clippy, unit tests

try fix swift and kotlin
  Package.resolved
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  apple/Tests/TestCases/RadixConnect/WalletInteraction/WalletToDappInteractionResponseTests.swift
  apple/Tests/Utils/Test.swift
  crates/.DS_Store
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
Due: ensure Swift setup for local development, SwiftFormat

try fix kotlin test
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
Due: none

Release 1.1.99
  Cargo.lock
  crates/gateway-client-and-api/Cargo.toml
  crates/gateway-logic/Cargo.toml
  crates/gateway-models/Cargo.toml
  crates/http-client/Cargo.toml
  crates/identified-vec-of/Cargo.toml
  crates/next-derivation-index-ephemeral/Cargo.toml
  crates/sargon-addresses/Cargo.toml
  crates/sargon-clients/Cargo.toml
  crates/sargon-core-assert-json/Cargo.toml
  crates/sargon-core-error/Cargo.toml
  crates/sargon-core-utils/Cargo.toml
  crates/sargon-core/Cargo.toml
  crates/sargon-drivers/Cargo.toml
  crates/sargon-factor-instances-provider/Cargo.toml
  crates/sargon-factors-supporting-types/Cargo.toml
  crates/sargon-factors/Cargo.toml
  crates/sargon-hierarchical-deterministic/Cargo.toml
  crates/sargon-keys-collector/Cargo.toml
  crates/sargon-manifests/Cargo.toml
  crates/sargon-profile-app-preferences/Cargo.toml
  crates/sargon-profile-gateway/Cargo.toml
  crates/sargon-profile-logic/Cargo.toml
  crates/sargon-profile-security-structures/Cargo.toml
  crates/sargon-profile-supporting-types/Cargo.toml
  crates/sargon-profile/Cargo.toml
  crates/sargon-transaction-models/Cargo.toml
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

remove unused dependencies in crate `gateway-client-and-api`
  Cargo.lock
  crates/gateway-client-and-api/Cargo.toml
  crates/gateway-client-and-api/src/client/gateway_client.rs
  crates/gateway-client-and-api/src/lib.rs
  crates/gateway-client-and-api/src/methods/state_methods.rs
Due: fmt, clippy, unit tests

Try fix kotlin - remove crate 'gateway-logic' since it was tiny
  Cargo.lock
  Cargo.toml
  crates/gateway-client-and-api/Cargo.toml
  crates/gateway-client-and-api/src/lib.rs
  crates/gateway-logic/Cargo.toml
  crates/gateway-logic/build.rs
  crates/gateway-logic/fixtures/models/state/request_entity_details__single_account_no_assets.json
  crates/gateway-logic/fixtures/models/state/request_entity_details__single_resource.json
  crates/gateway-logic/fixtures/models/state/request_entity_details__two_accounts.json
  crates/gateway-logic/fixtures/models/state/response_entity_details__single_account_many_nfts_and_fungibles.json
  crates/gateway-logic/fixtures/models/state/response_entity_details__single_account_no_assets.json
  crates/gateway-logic/fixtures/models/state/response_entity_details__single_resource.json
  crates/gateway-logic/fixtures/models/state/response_entity_details__single_resource_no_metadata.json
  crates/gateway-logic/fixtures/models/state/response_entity_details__two_accounts.json
  crates/gateway-logic/fixtures/models/state/response_entity_details_details__fungible_resource.json
  crates/gateway-logic/fixtures/models/state/response_entity_details_details__non_fungible_resource.json
  crates/gateway-logic/src/lib.rs
  crates/gateway-logic/src/logic/mod.rs
  crates/gateway-logic/src/logic/new_transaction_preview.rs
  crates/gateway-logic/src/logic/request/mod.rs
  crates/gateway-logic/src/logic/request/transaction_submit_request_from_notarized_tx.rs
  crates/gateway-models/Cargo.toml
  crates/gateway-models/fixtures/models/transaction/request_preview.json
  crates/gateway-models/src/lib.rs
  crates/gateway-models/src/types/request/transaction/preview/transaction_preview.rs
  crates/gateway-models/src/types/request/transaction/submit/transaction_submit.rs
  crates/sargon/src/system/sargon_os/sargon_os_sync_accounts.rs
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
Due: fmt, clippy, unit tests

try fix kotlin
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
Due: none

Use `default-members` in workspace and excluding `sargon-uniffi` crate for faster default developer experience.
  .pre-commit-config.yaml
  Cargo.toml
  crates/sargon/src/system/sargon_os/sargon_os_personas.rs
Due: fmt, clippy, unit tests

wip
  Cargo.lock
  apple/Sources/Sargon/Drivers/ArculusCSDK/ArculusCSDK.swift
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCTag+IO.swift
  crates/sargon/src/system/clients/client/arculus_wallet_client/arculus_wallet_client_io.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

ensure FactorInstancesCacheClient uses In-Memory cache for more tests
  crates/sargon/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os_personas.rs
Due: fmt, clippy, unit tests

Implement per factor source io
  crates/sargon-factors/src/factor_sources_of_kind.rs
  crates/sargon-uniffi/src/signing/mod.rs
  crates/sargon-uniffi/src/signing/neglected_factors.rs
  crates/sargon-uniffi/src/signing/per_factor_outcome.rs
  crates/sargon-uniffi/src/signing/per_factor_source_input.rs
  crates/sargon-uniffi/src/signing/sign_request.rs
  crates/sargon-uniffi/src/signing/sign_response.rs
  crates/sargon-uniffi/src/signing/sign_with_factors_outcome.rs
  crates/sargon-uniffi/src/signing/transactions_to_sign_per_factor_source.rs
  crates/sargon-uniffi/src/system/interactors/host_interactor.rs
  crates/sargon/src/signing/collector/signatures_collector.rs
  crates/sargon/src/signing/host_interaction/mod.rs
  crates/sargon/src/signing/host_interaction/per_factor_outcome.rs
  crates/sargon/src/signing/host_interaction/per_factor_source_input.rs
  crates/sargon/src/signing/host_interaction/sign_interactor.rs
  crates/sargon/src/signing/host_interaction/sign_request.rs
  crates/sargon/src/signing/host_interaction/sign_response.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/factor_source_referencing.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/mod.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/neglected_factor.rs
  crates/sargon/src/signing/petition_types/petitions.rs
  crates/sargon/src/signing/signatures_outecome_types/mod.rs
  crates/sargon/src/signing/signatures_outecome_types/sign_with_factors_outcome.rs
  crates/sargon/src/signing/testing/interactors/test_sign_interactor.rs
  crates/sargon/src/system/interactors/testing/test_use_factor_sources_interactors.rs
  crates/sargon/src/types/hd_signature.rs
  crates/sargon/tests/integration/main.rs
Due: fmt, clippy, unit tests

Remove many unused dependencies
  Cargo.lock
  SPLIT.md
  crates/sargon-addresses/Cargo.toml
  crates/sargon-addresses/src/lib.rs
  crates/sargon-clients/Cargo.toml
  crates/sargon-clients/src/clients/client/factor_instances_cache_client/client.rs
  crates/sargon-core-error/Cargo.toml
  crates/sargon-core/Cargo.toml
  crates/sargon-core/src/encryption/encryption_key.rs
  crates/sargon-core/src/lib.rs
  crates/sargon-drivers/Cargo.toml
  crates/sargon-factor-instances-provider/Cargo.toml
  crates/sargon-factors/Cargo.toml
  crates/sargon-factors/src/factor_instance/factor_instance_badge.rs
  crates/sargon-hierarchical-deterministic/Cargo.toml
  crates/sargon-manifests/Cargo.toml
  crates/sargon-manifests/src/high_level/sargon_specific_types/assets_transfers/per_recipient/per_recipient_asset_transfers.rs
  crates/sargon-manifests/src/lib.rs
  crates/sargon-profile-app-preferences/Cargo.toml
  crates/sargon-profile-gateway/Cargo.toml
  crates/sargon-profile-logic/Cargo.toml
  crates/sargon-profile-logic/src/logic/persona/persona_data_ids.rs
  crates/sargon-profile-logic/src/logic/persona/shared_persona_data_ids.rs
  crates/sargon-profile-security-structures/Cargo.toml
  crates/sargon-profile-security-structures/src/lib.rs
  crates/sargon-profile-security-structures/src/roles_matrices_structures/security_shield_builder.rs
  crates/sargon-profile-supporting-types/Cargo.toml
  crates/sargon-profile/Cargo.toml
  crates/sargon-transaction-models/Cargo.toml
  crates/sargon-transaction-models/src/lib.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/home_cards/deferred_deep_link/parser.rs
  crates/sargon/src/lib.rs
  crates/sargon/src/signing/testing/simulated_user.rs
  crates/sargon/src/system/sargon_os/factor_instances_provider_unit_tests.rs
Due: fmt, clippy, unit tests

fix more FactorInstancesCache not using in-memory scenarios causing unit tests to fail.
  crates/sargon/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/system/sargon_os/sargon_os_entities_linked_to_factor_source.rs
  crates/sargon/src/system/sargon_os/sargon_os_factors.rs
  crates/sargon/src/system/sargon_os/sargon_os_gateway.rs
  crates/sargon/src/system/sargon_os/sargon_os_profile.rs
  crates/sargon/src/system/sargon_os/sargon_os_security_structures.rs
  crates/sargon/src/system/sargon_os/sargon_os_signing.rs
Due: fmt, clippy, unit tests

Expose per factor outcome in uniffi
  crates/sargon-core-error/src/common_error.rs
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon-uniffi/src/signing/factor_outcome.rs
  crates/sargon-uniffi/src/signing/mod.rs
  crates/sargon-uniffi/src/signing/per_factor_outcome.rs
  crates/sargon-uniffi/src/signing/sign_response.rs
  crates/sargon/src/signing/host_interaction/factor_outcome.rs
  crates/sargon/src/signing/host_interaction/mod.rs
  crates/sargon/src/signing/host_interaction/per_factor_outcome.rs
  crates/sargon/src/signing/host_interaction/sign_response.rs
  crates/sargon/src/signing/petition_types/petitions.rs
  crates/sargon/src/signing/testing/interactors/test_sign_interactor.rs
  crates/sargon/tests/integration/main.rs
Due: fmt, clippy, unit tests

Fix test
  crates/sargon/src/system/sargon_os/sargon_os_security_structures.rs
Due: fmt, clippy, unit tests

Rename 'OwnedOrThirdPartyAccountAddress' back to 'AccountOrAddressOf' and variants back to 'AddressOfExternalAccount' and 'ProfileAccount' and let its associate value be 'AccountForDisplay'
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Extensions/Methods/Transaction/AccountOrAddressOf+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Transaction/AccountOrAddressOf+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Account/Account+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource+Extras.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSourceIntegrity+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Transaction/AccountOrAddressOf+Swiftified.swift
  apple/Tests/TestCases/Transaction/AccountOrAddressOfTests.swift
  crates/profile/models/account-for-display/Cargo.toml
  crates/profile/models/account-for-display/src/account_for_display.rs
  crates/profile/models/account-for-display/src/lib.rs
  crates/profile/models/profile_SPLIT_ME/Cargo.toml
  crates/profile/models/profile_SPLIT_ME/src/lib.rs
  crates/profile/models/profile_SPLIT_ME/src/supporting_types/mod.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/entity/account/account.rs
  crates/sargon_SPLIT_ME/tests/integration/main.rs
  crates/transaction/manifests/Cargo.toml
  crates/transaction/manifests/src/high_level/sargon_specific_types/assets_transfers/account_or_address_of.rs
  crates/transaction/manifests/src/high_level/sargon_specific_types/assets_transfers/mod.rs
  crates/transaction/manifests/src/high_level/sargon_specific_types/assets_transfers/per_asset/per_asset_fungible_transfer.rs
  crates/transaction/manifests/src/high_level/sargon_specific_types/assets_transfers/per_asset/per_asset_non_fungible_transfer.rs
  crates/transaction/manifests/src/high_level/sargon_specific_types/assets_transfers/per_recipient/per_recipient_asset_transfer.rs
  crates/transaction/manifests/src/high_level/sargon_specific_types/assets_transfers/per_recipient/per_recipient_asset_transfers.rs
  crates/transaction/manifests/src/high_level/sargon_specific_types/assets_transfers/transfer_types.rs
  crates/transaction/manifests/src/manifest_assets_transfers.rs
  crates/uniffi/uniffi_SPLIT_ME/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/account_or_address_of.rs
  crates/uniffi/uniffi_SPLIT_ME/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/owned_or_third_party_account_address.rs
  crates/uniffi/uniffi_SPLIT_ME/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_recipient/per_recipient_asset_transfer.rs
  crates/uniffi/uniffi_SPLIT_ME/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/transfer_types.rs
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests
