Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

Expose P2PLink clientID
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2PLink.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/P2PLinkTest.kt
Due: none

Add tests
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/P2PLinks/P2PLink+Wrap+Functions.swift
  apple/Tests/TestCases/RadixConnect/P2PLinks/P2PLinkTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Bump to 0.7.16
  Cargo.lock
  Cargo.toml
Due: none

swift tests
  apple/Sources/Sargon/Extensions/Swiftified/System/Drivers/NetworkRequest+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/Drivers/Networking/NetworkMethod+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/Drivers/Networking/NetworkRequest+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/Drivers/Networking/NetworkRequest+URLRequest+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/Drivers/Networking/NetworkResponse+Swiftified.swift
  apple/Tests/IntegrationTests/DriversTests/NetworkingDriverTests.swift
Due: ensure Swift setup for local development, SwiftFormat

CAP-36 Add message hash to RadixConnectPassword (#139)
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/P2PLinks/P2PLink+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/P2PLinks/RadixConnectPassword+Wrap+Functions.swift
  apple/Tests/TestCases/RadixConnect/P2PLinks/P2PLinkTests.swift
  apple/Tests/TestCases/RadixConnect/P2PLinks/RadixConnectPasswordTests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2PLink.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/RadixConnectPassword.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/P2PLinkTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/RadixConnectPasswordTest.kt
  src/radix_connect/p2p_links/radix_connect_password.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Release of '0.7.16' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

cleanup
  apple/Sources/Sargon/Extensions/Methods/System/Drivers/NetworkMethod+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/System/Drivers/NetworkMethod+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/BIOS/BIOS+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/Drivers/Drivers+Swiftified.swift
  apple/Sources/Sargon/SargonOS/BIOS+Static+Shared.swift
  apple/Sources/Sargon/SargonOS/TestOS.swift
  apple/Tests/IntegrationTests/DriversTests/DriversTests.swift
  apple/Tests/IntegrationTests/DriversTests/EventBusDriverTests.swift
  apple/Tests/IntegrationTests/SargonOS/SargonOSTests.swift
  apple/Tests/IntegrationTests/SargonOS/TestOSTests.swift
  apple/Tests/Utils/TestDrivers/SecureStorage/SecureStorageDriver+InsecureTestOnlyEphemeral_SecureStorage.swift
  apple/Tests/Utils/TestDrivers/TestDrivers.swift
Due: ensure Swift setup for local development, SwiftFormat

events
  src/core/utils/factory.rs
  src/profile/v100/header/device_info.rs
  src/profile/v100/header/profile_id.rs
  src/system/drivers/event_bus_driver/support/event.rs
  src/system/drivers/event_bus_driver/support/event_kind.rs
  src/system/drivers/event_bus_driver/support/event_notification.rs
  src/system/drivers/event_bus_driver/support/event_profile_change.rs
  src/system/drivers/event_bus_driver/support/has_event_kind.rs
  src/system/drivers/event_bus_driver/support/mod.rs
  src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

more tests
  Cargo.toml
  src/system/drivers/event_bus_driver/support/event_uniffi_fn.rs
  src/system/drivers/file_system_driver/support/test/rust_file_system_driver.rs
Due: fmt, clippy, unit tests

more tests (factors)
  src/system/sargon_os/sargon_os_factors.rs
Due: fmt, clippy, unit tests

fix swift tests
  apple/Sources/Sargon/Drivers/EventBus/EventBus+AsyncStream.swift
Due: ensure Swift setup for local development, SwiftFormat

make TextInputDecimal decimal property nullable, to reflect potential parse error
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Decimal192.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Decimal192Test.kt
Due: none

more tests
  apple/Tests/IntegrationTests/SargonOS/BIOSTests.swift
  src/system/clients/client/file_system_client/file_system_client.rs
  src/system/clients/client/secure_storage_client/secure_storage_client.rs
  src/system/sargon_os/sargon_os_profile.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

update sargon version
  Cargo.lock
  Cargo.toml
Due: none

Make TextInputDecimal decimal property nullable (#140)
  Cargo.lock
  Cargo.toml
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Decimal192.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Decimal192Test.kt
Due: none

Release of '0.7.17' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

claim profile
  apple/Sources/Sargon/SargonOS/SargonOS+Static+Shared.swift
  apple/Tests/IntegrationTests/SargonOS/SargonOSTests.swift
  src/core/error/common_error.rs
  src/core/types/identified_vec_of/identified_vec_of_modify.rs
  src/core/types/identified_vec_of/identified_vec_of_query.rs
  src/profile/logic/account/create_account.rs
  src/profile/logic/profile_next_derivation.rs
  src/profile/v100/header/device_id.rs
  src/profile/v100/header/device_info.rs
  src/profile/v100/header/device_info_description.rs
  src/profile/v100/header/mod.rs
  src/profile/v100/networks/network/accounts.rs
  src/profile/v100/networks/network/authorized_dapps.rs
  src/profile/v100/networks/network/personas.rs
  src/profile/v100/networks/profile_networks.rs
  src/profile/v100/profile.rs
  src/system/clients/client/file_system_client/file_system_client.rs
  src/system/drivers/drivers.rs
  src/system/drivers/event_bus_driver/support/event.rs
  src/system/drivers/event_bus_driver/support/event_kind.rs
  src/system/drivers/event_bus_driver/support/event_notification.rs
  src/system/drivers/event_bus_driver/support/test/rust_event_bus_driver.rs
  src/system/drivers/file_system_driver/support/test/rust_file_system_driver.rs
  src/system/sargon_os/sargon_os.rs
  src/system/sargon_os/sargon_os_accounts.rs
  src/system/sargon_os/sargon_os_profile.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

use device_info from host
  apple/Sources/Sargon/Drivers/HostInfo/HostInfoDriver+DeviceInfo.swift
  apple/Sources/Sargon/SargonOS/TestOS.swift
  apple/Tests/IntegrationTests/DriversTests/HostInfoDriverTests.swift
  apple/Tests/IntegrationTests/DriversTests/LoggingDriverTests.swift
  apple/Tests/IntegrationTests/DriversTests/NetworkingDriverTests.swift
  apple/Tests/IntegrationTests/DriversTests/UnsafeStorageDriverTests.swift
  apple/Tests/IntegrationTests/SargonOS/SargonOSTests.swift
  apple/Tests/IntegrationTests/SargonOS/TestOSTests.swift
  apple/Tests/Utils/Test.swift
  src/profile/v100/header/device_id.rs
  src/profile/v100/header/device_info.rs
  src/system/clients/client/host_info_client/host_info_client.rs
  src/system/drivers/host_info_driver/host_info_driver.rs
  src/system/drivers/host_info_driver/support/test/rust_host_info_driver.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

bump tarpaulin to 0.30.0 in CI (also done locally)
  .github/workflows/test.yml
Due: none

kotlin
  examples/android/src/main/java/com/radixdlt/sargon/android/EphemeralKeystore.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/antenna/SargonNetworkAntenna.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSource.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NetworkMethod.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PrivateHierarchicalDeterministicFactorSource.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Profile.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/DeviceInfoSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/EphemeralKeystore.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourceTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/HeaderTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PrivateHierarchicalDeterministicFactorSourceTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/WalletTest.kt
Due: none

error code
  src/core/error/common_error.rs
Due: fmt, clippy, unit tests

kotlin
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/DeviceFactorSourceSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourcesTest.kt
Due: none

fix kotlin? fix build issue with cast (discriminant of CommonError).
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/LedgerHardwareWalletFactorSourceSample.kt
  src/core/error/common_error.rs
  src/lib.rs
Due: fmt, clippy, unit tests

UniFFI export drivers
  src/system/clients/clients.rs
  src/system/drivers/drivers.rs
  src/system/sargon_os/sargon_os.rs
Due: fmt, clippy, unit tests

remove test
  apple/Tests/IntegrationTests/DriversTests/DriversTests.swift
Due: ensure Swift setup for local development, SwiftFormat

more tests
  apple/Sources/Sargon/Application/SharedState+Profile.swift
  apple/Sources/Sargon/Drivers/HostInfo/HostInfoDriver+DeviceInfo.swift
  src/system/clients/client/file_system_client/file_system_client.rs
  src/system/clients/client/secure_storage_client/secure_storage_client.rs
  src/system/drivers/event_bus_driver/support/event_profile_change.rs
  src/system/sargon_os/sargon_os_factors.rs
  src/system/sargon_os/sargon_os_profile.rs
  src/system/subsystems/log_system/log_system.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

more tests
  src/profile/logic/account/create_account.rs
Due: fmt, clippy, unit tests

more tests
  src/system/clients/client/file_system_client/file_system_client.rs
Due: fmt, clippy, unit tests

remove shared state
  apple/Sources/Sargon/Application/SharedState+Profile.swift
  apple/Sources/Sargon/Drivers/HostInfo/HostInfoDriver+DeviceInfo.swift
Due: ensure Swift setup for local development, SwiftFormat

more tests
  src/profile/v100/header/device_info_description.rs
  src/system/drivers/event_bus_driver/support/event.rs
  src/system/drivers/unsafe_storage_driver/support/unsafe_storage_key.rs
  src/system/sargon_os/profile_holder.rs
Due: fmt, clippy, unit tests

WIP
  examples/iOS/Backend/Sources/Planbok/Dependencies/AccountsClient.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/ProfileClient.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/SharedState+PersistenceReaderKey+SargonKey.swift
  examples/iOS/Backend/Sources/Planbok/Features/AccountsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

WIP
  examples/iOS/Backend/Sources/Planbok/Dependencies/SharedState+PersistenceReaderKey+SargonKey.swift
  examples/iOS/Backend/Sources/Planbok/Features/AccountsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SettingsFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

WIP
  apple/Sources/Sargon/Extensions/Swiftified/System/SargonOS+Swiftified.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/GatewaysClient.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/SharedState+PersistenceReaderKey+SargonKey.swift
  examples/iOS/Backend/Sources/Planbok/Features/AppFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SettingsFeature.swift
  src/core/error/common_error.rs
  src/system/sargon_os/sargon_os_profile.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Add rust function
  src/profile/encrypted/encryption/encrypted_profile_snapshot.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: fmt, clippy, unit tests

Update the scrypto and toolkit version for bottlenose
  Cargo.lock
  Cargo.toml
  src/core/types/identified_vec_of/identified_vec_of.rs
  src/core/types/identified_vec_of/identified_vec_of_iterator.rs
  src/core/types/identified_vec_of/identified_vec_of_query.rs
  src/core/types/identified_vec_of/identified_vec_of_uniffi_converter.rs
  src/core/types/keys/is_public_key.rs
  src/core/types/non_empty_max_n_bytes.rs
  src/core/types/signatures/signature_with_public_key.rs
  src/lib.rs
  src/profile/logic/persona/persona_data_ids.rs
  src/profile/logic/persona/shared_persona_data_ids.rs
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/resource_address.rs
  src/profile/v100/factors/factor_source_id_from_hash.rs
  src/profile/v100/networks/network/network_id.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_create_tokens.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_recipient/per_recipient_asset_transfers.rs
  src/wrapped_radix_engine_toolkit/high_level/token_definition_metadata.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/execution_summary.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/newly_created_resource.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/reserved_instruction.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_indicator/predicted.rs
  src/wrapped_radix_engine_toolkit/low_level/intent_signatures.rs
  src/wrapped_radix_engine_toolkit/low_level/message/message.rs
  src/wrapped_radix_engine_toolkit/low_level/notarized_transaction.rs
  src/wrapped_radix_engine_toolkit/low_level/notary_signature.rs
  src/wrapped_radix_engine_toolkit/low_level/sbor_depth_validation.rs
  src/wrapped_radix_engine_toolkit/low_level/signed_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/validate_and_decode_hash.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_header.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/blobs/blobs.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/blobs/blobs_secret_magic.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/instructions/instructions.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_receipt.rs
Due: fmt, clippy, unit tests

Update the toolkit dep
  Cargo.lock
  Cargo.toml
Due: none

Fix tests
  src/lib.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/instructions/instructions.rs
Due: fmt, clippy, unit tests

Update the Scrypto Dependency for Bottlenose (#141)
  Cargo.lock
  Cargo.toml
  src/core/types/identified_vec_of/identified_vec_of.rs
  src/core/types/identified_vec_of/identified_vec_of_iterator.rs
  src/core/types/identified_vec_of/identified_vec_of_query.rs
  src/core/types/identified_vec_of/identified_vec_of_uniffi_converter.rs
  src/core/types/keys/is_public_key.rs
  src/core/types/non_empty_max_n_bytes.rs
  src/core/types/signatures/signature_with_public_key.rs
  src/lib.rs
  src/profile/logic/persona/persona_data_ids.rs
  src/profile/logic/persona/shared_persona_data_ids.rs
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/resource_address.rs
  src/profile/v100/factors/factor_source_id_from_hash.rs
  src/profile/v100/networks/network/network_id.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_create_tokens.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_recipient/per_recipient_asset_transfers.rs
  src/wrapped_radix_engine_toolkit/high_level/token_definition_metadata.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/execution_summary.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/newly_created_resource.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/reserved_instruction.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_indicator/predicted.rs
  src/wrapped_radix_engine_toolkit/low_level/intent_signatures.rs
  src/wrapped_radix_engine_toolkit/low_level/message/message.rs
  src/wrapped_radix_engine_toolkit/low_level/notarized_transaction.rs
  src/wrapped_radix_engine_toolkit/low_level/notary_signature.rs
  src/wrapped_radix_engine_toolkit/low_level/sbor_depth_validation.rs
  src/wrapped_radix_engine_toolkit/low_level/signed_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/validate_and_decode_hash.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_header.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/blobs/blobs.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/blobs/blobs_secret_magic.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/instructions/instructions.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_receipt.rs
Due: fmt, clippy, unit tests

Release of '0.7.18' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  Package.resolved
  Package.swift
  apple/Sources/Sargon/Drivers/EventBus/EventBus+AsyncStream.swift
  apple/Sources/Sargon/Drivers/EventBus/EventBus.swift
  apple/Sources/Sargon/Drivers/EventBus/EventNotification+Swiftified.swift
  examples/iOS/Planbok.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: ensure Swift setup for local development, SwiftFormat
