Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

Make drivers explicit
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/Bios.kt
Due: none

Suspend request for biometrics until activity is at least started
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidBiometricAuthorizationDriver.kt
Due: none

Emit derived profile in profile state change
  crates/sargon/src/system/sargon_os/sargon_os.rs
Due: fmt, clippy, unit tests

Make encrypt and decrypt methods public
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/EncryptionHelper.kt
Due: none

Add error kind for biometrics failure
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/system/drivers/secure_storage_driver/support/mod.rs
  crates/sargon/src/system/drivers/secure_storage_driver/support/secure_storage_access_error_kind.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidBiometricAuthorizationDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidStorageDriver.kt
Due: fmt, clippy, unit tests

Return error when network does not yet exist
  apple/Sources/Sargon/SargonOS/TestOS.swift
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/profile/logic/account/query_accounts.rs
  crates/sargon/src/profile/logic/gateway/current_gateway.rs
  crates/sargon/src/system/sargon_os/profile_state_holder.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Change iOS test
  apple/Tests/IntegrationTests/DriversTests/EventBusDriverTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Remove checks before asking for biometrics
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidBiometricAuthorizationDriver.kt
Due: none

Export method to derive profile based on bdfs and some accounts
  crates/sargon/src/profile/logic/account/create_account.rs
  crates/sargon/src/profile/v100/networks/network/profile_network.rs
  crates/sargon/src/profile/v100/profile.rs
  crates/sargon/src/profile/v100/profile_uniffi_fn.rs
  crates/sargon/src/system/drivers/secure_storage_driver/support/secure_storage_access_error_kind.rs
  crates/sargon/src/system/sargon_os/sargon_os.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SecureStorageAccessErrorKind.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SecureStorageAccessErrorKindTest.kt
Due: fmt, clippy, unit tests

Store profile state into android state change driver
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/MainViewModel.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/SargonOsManager.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/di/ApplicationModule.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidEventBusDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidProfileStateChangeDriver.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/driver/AndroidEventBusDriverTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/driver/AndroidProfileStateChangeDriverTest.kt
Due: none

Create initial profile with no networks
  crates/sargon/src/system/sargon_os/sargon_os.rs
Due: fmt, clippy, unit tests

Remove planting of debug tree
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/Bios.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidLoggingDriver.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/driver/AndroidLoggingDriverTest.kt
Due: none

Delete ephemeral profile when booting
  crates/sargon/src/system/sargon_os/sargon_os.rs
Due: fmt, clippy, unit tests

Make read and write methods public
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/KeySpec.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/StorageUtils.kt
Due: none

Fix set_profile to notify ProfileStateChange client about the latest mutated profile
  crates/sargon/src/system/drivers/drivers.rs
  crates/sargon/src/system/sargon_os/profile_state_holder.rs
  crates/sargon/src/system/sargon_os/sargon_os_profile.rs
Due: fmt, clippy, unit tests

Report secure storage access error
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/system/clients/client/secure_storage_client/secure_storage_client.rs
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/MainViewModel.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidBiometricAuthorizationDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidStorageDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/KeySpec.kt
Due: fmt, clippy, unit tests

Allow set profile to set one profile when none exists
  crates/sargon/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/system/sargon_os/sargon_os_profile.rs
Due: fmt, clippy, unit tests

Make reset keyspec method to regenerate a new key when fail
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/KeySpec.kt
Due: none

Bump cargo version
  Cargo.lock
  crates/sargon/Cargo.toml
Due: none

wip
  crates/sargon/src/system/sargon_os/profile_state_holder.rs
Due: fmt, clippy, unit tests

fix
  crates/sargon/src/system/sargon_os/profile_state_holder.rs
Due: fmt, clippy, unit tests

lint
  crates/sargon/tests/vectors/main.rs
Due: fmt, clippy, unit tests

Profile safe concurrent access (#225)
  crates/sargon/src/system/sargon_os/profile_state_holder.rs
Due: fmt, clippy, unit tests

Release of '1.1.24' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

bump
  Cargo.lock
  crates/sargon/Cargo.toml
Due: none

add new DappWalletInteractionErrorType.invalidPersonaOrAccounts
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure_response/error_type.rs
Due: fmt, clippy, unit tests

lint
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure_response/error_type.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon-uniffi/src/system/drivers/entropy_provider_driver/entropy_provider_driver.rs
  crates/sargon-uniffi/src/system/drivers/entropy_provider_driver/mod.rs
  crates/sargon-uniffi/src/system/drivers/entropy_provider_driver/support/mod.rs
  crates/sargon-uniffi/src/system/drivers/entropy_provider_driver/support/test/mod.rs
  crates/sargon-uniffi/src/system/drivers/entropy_provider_driver/support/test/rust_entropy_driver.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon-uniffi/src/system/drivers/event_bus_driver/event_bus_driver.rs
  crates/sargon-uniffi/src/system/drivers/event_bus_driver/support/event_notification.rs
  crates/sargon-uniffi/src/system/drivers/event_bus_driver/support/mod.rs
  crates/sargon-uniffi/src/system/drivers/event_bus_driver/support/test/mod.rs
  crates/sargon-uniffi/src/system/drivers/event_bus_driver/support/test/rust_event_bus_driver.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon-uniffi/src/core/types/bag_of_bytes.rs
  crates/sargon-uniffi/src/profile/supporting_types/host_os.rs
  crates/sargon-uniffi/src/system/drivers/drivers.rs
  crates/sargon-uniffi/src/system/drivers/file_system_driver/file_system_driver.rs
  crates/sargon-uniffi/src/system/drivers/file_system_driver/mod.rs
  crates/sargon-uniffi/src/system/drivers/file_system_driver/support/mod.rs
  crates/sargon-uniffi/src/system/drivers/file_system_driver/support/test/mod.rs
  crates/sargon-uniffi/src/system/drivers/file_system_driver/support/test/rust_file_system_driver.rs
  crates/sargon-uniffi/src/system/drivers/host_info_driver/host_info_driver.rs
  crates/sargon-uniffi/src/system/drivers/host_info_driver/mod.rs
  crates/sargon-uniffi/src/system/drivers/host_info_driver/support/mod.rs
  crates/sargon-uniffi/src/system/drivers/host_info_driver/support/test/mod.rs
  crates/sargon-uniffi/src/system/drivers/host_info_driver/support/test/rust_host_info_driver.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon-uniffi/src/system/drivers/logging_driver/logging_driver.rs
  crates/sargon-uniffi/src/system/drivers/logging_driver/support/log_level.rs
  crates/sargon-uniffi/src/system/drivers/logging_driver/support/mod.rs
  crates/sargon-uniffi/src/system/drivers/logging_driver/support/test/mod.rs
  crates/sargon-uniffi/src/system/drivers/logging_driver/support/test/rust_logging_driver.rs
Due: fmt, clippy, unit tests

Check fix
  Cargo.lock
  crates/sargon/Cargo.toml
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/execution_summary/new_entities.rs
Due: fmt, clippy, unit tests

Fix metadata
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/execution_summary/new_entities.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
Due: fmt, clippy, unit tests

Release of '1.1.25' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat
