Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

revert async extension bump and rename iOS method
  Package.resolved
  Package.swift
  apple/Sources/Sargon/Extensions/Methods/RET/TransactionManifest+Wrap+Functions.swift
Due: ensure Swift setup for local development, SwiftFormat

ci: Phylum Integration
  .github/workflows/phylum-daily-analysis.yaml
  .github/workflows/test.yml
  .phylum_project
  .pre-commit-config.yaml
Due: none

Release of '1.1.15' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

use Scrypto prefix
  crates/sargon/src/lib.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
Due: fmt, clippy, unit tests

fix two tests
  crates/sargon/fixtures/models/gateway/transaction/response_preview.json
  crates/sargon/src/gateway_api/models/types/response/transaction/preview/transaction_preview_response.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
Due: fmt, clippy, unit tests

fix test
  crates/sargon/fixtures/transaction/account_locker_claim_fungibles_and_non_fungibles.dat
  crates/sargon/fixtures/transaction/account_locker_claim_fungibles_and_non_fungibles.json
  crates/sargon/fixtures/transaction/account_locker_claim_fungibles_and_non_fungibles.rtm
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
Due: fmt, clippy, unit tests

renamed parameter in executionSummary fun of Kotlin TransactionManifest
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TransactionManifest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
Due: none

fix stake_to_three_validators
  crates/sargon/fixtures/transaction/stake_to_three_validators.dat
  crates/sargon/fixtures/transaction/stake_to_three_validators.json
  crates/sargon/fixtures/transaction/stake_to_three_validators.rtm
  crates/sargon/src/gateway_api/models/types/response/transaction/preview/transaction_preview_response.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
Due: fmt, clippy, unit tests

fix iOS test
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  apple/Tests/TestCases/RET/TransactionManifestTests.swift
Due: ensure Swift setup for local development, SwiftFormat

bump to 1.1.16
  Cargo.lock
  crates/sargon/Cargo.toml
Due: none

fixed unit test of TransactionManifestTest
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
Due: none

add opt_ins to preview request
  crates/sargon/fixtures/models/gateway/transaction/request_preview.json
  crates/sargon/src/gateway_api/models/logic/request/transaction/preview/mod.rs
  crates/sargon/src/gateway_api/models/logic/request/transaction/preview/opt_ins.rs
  crates/sargon/src/gateway_api/models/logic/request/transaction/preview/transaction_preview.rs
  crates/sargon/src/gateway_api/models/types/request/transaction/preview/mod.rs
  crates/sargon/src/gateway_api/models/types/request/transaction/preview/opt_ins.rs
  crates/sargon/src/gateway_api/models/types/request/transaction/preview/transaction_preview.rs
  crates/sargon/tests/integration/main.rs
Due: fmt, clippy, unit tests

Release of '1.1.16' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

required name set to false in cd
  .github/workflows/release-android.yml
  .github/workflows/release-desktop-bins.yml
Due: none

Set required name to false in android and desktop workflows (#219)
  .github/workflows/release-android.yml
  .github/workflows/release-desktop-bins.yml
Due: none

Make sargon desktop recognize host build target
  .github/workflows/release-desktop.yml
  README.md
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/desktop/BuildType.kt
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/desktop/CargoDesktopPlugin.kt
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-desktop-debug/build.gradle.kts
  jvm/sargon-desktop-release/.gitignore
  jvm/sargon-desktop/.gitignore
  jvm/sargon-desktop/build.gradle.kts
  jvm/settings.gradle.kts
Due: none

WIP: Update README
  README.md
Due: none

Change script to use current host's toolchain
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/desktop/CargoDesktopPlugin.kt
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/desktop/DesktopTargetTriple.kt
Due: none

Update toolchain
  rust-toolchain.toml
Due: none

Test build on ubuntu
  .github/workflows/release-android.yml
Due: none

Test assemble
  .github/workflows/release-desktop.yml
Due: none

Remove os matrix
  .github/workflows/release-desktop.yml
Due: none

Change machine to ubuntu-latest
  .github/workflows/release-desktop.yml
Due: none

Change generate bindings task
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/desktop/CargoDesktopPlugin.kt
  jvm/sargon-android/build.gradle.kts
Due: none

Make 2024-07-30 default on test
  .github/workflows/test.yml
Due: none

Set jna.library.path
  .github/workflows/release-android.yml
  jvm/sargon-android/build.gradle.kts
Due: none

Fix env
  .github/workflows/release-desktop.yml
Due: none

Upload with the name of the binary
  .github/workflows/release-desktop.yml
Due: none

WIP
  .github/workflows/test.yml
  jvm/sargon-android/build.gradle.kts
Due: none

Add names to artifacts
  .github/workflows/release-desktop.yml
Due: none

Add publish to desktop bins
  .github/workflows/release-desktop.yml
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/desktop/DesktopTargetTriple.kt
  jvm/sargon-desktop/build.gradle.kts
Due: none

Add prerequisite to job
  .github/workflows/release-desktop.yml
Due: none

Put back java
  .github/workflows/release-desktop.yml
Due: none

Uncomment jobs
  .github/workflows/release-android.yml
  .github/workflows/release-desktop.yml
  .github/workflows/test.yml
Due: none

Add env for github secret
  .github/workflows/release-desktop.yml
Due: none

Change toolchain
  .github/workflows/test.yml
Due: none

Put back custom build name
  .github/workflows/release-android.yml
  .github/workflows/release-desktop.yml
Due: none

Changes to jvm modules
  .github/workflows/release-android.yml
  .github/workflows/release-desktop.yml
  .github/workflows/test.yml
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/desktop/CargoDesktopPlugin.kt
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/desktop/DesktopTargetTriple.kt
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-desktop/.gitignore
  jvm/sargon-desktop/build.gradle.kts
  jvm/settings.gradle.kts
Due: none
