Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true
default_install_hook_types: [pre-push]
default_stages: [pre-push]
repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.22.7
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

  - repo: https://github.com/phylum-dev/phylum-ci
    rev: main
    hooks:
      - id: phylum
        stages: [pre-push]
        # Optional: Specify the dependency file pattern for your repository
        files: |
            (?x)^(
                Cargo\.lock|
            )$
        # Optional: Specify additional arguments to be passed to `phylum-ci`
        args:
          - -vv
          - --depfile=Cargo.lock
          - --audit
          - --force-analysis
          - --all-deps
        verbose: true

export method to create account with specific factor source
  apple/Sources/Sargon/SargonOS/SargonOS+SargonOSProtocol.swift
  apple/Sources/Sargon/SargonOS/SargonOSProtocol.swift
  apple/Sources/Sargon/SargonOS/TestOS.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  apple/Sources/Sargon/Drivers/ArculusCSDK/ArculusCSDK.swift
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCSessionClient.swift
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCTag+IO.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/ArculusCardFactorSource+Wrap+Functions.swift
  crates/core/has-sample-values/src/has_sample_values.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/mod.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

expose more errors
  crates/uniffi/uniffi_SPLIT_ME/src/core/error/common_error.rs
Due: fmt, clippy, unit tests

WIP
  crates/app/signing/src/tests/test_signatures_collector.rs
Due: fmt, clippy, unit tests

Fix integration tests
  crates/sargon/tests/integration/main.rs
Due: fmt, clippy, unit tests

Distinguish signing failure when factor sources are skipped.
  crates/core/error/src/common_error.rs
  crates/system/os/signing/src/sargon_os_signing.rs
  crates/uniffi/uniffi_SPLIT_ME/src/core/error/common_error.rs
Due: fmt, clippy, unit tests

Add to simulated user mode
  crates/app/signing-traits/src/testing/simulated_user.rs
  crates/app/signing/src/tests/test_signatures_collector.rs
  crates/sargon/tests/integration/main.rs
  crates/system/os/signing/src/sargon_os_signing.rs
Due: fmt, clippy, unit tests

Add missing extension menthods on MnemonicWithPassphrase
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/MnemonicWithPassphrase.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/MnemonicWithPassphraseTest.kt
Due: none

Rename SigningFailure test case
  crates/system/os/signing/src/sargon_os_signing.rs
Due: fmt, clippy, unit tests

Skip factor source when per transaction is empty
  crates/app/signing-traits/src/testing/interactors/test_sign_interactor.rs
  crates/app/signing/src/collector/signatures_collector.rs
  crates/system/os/signing/src/sargon_os_signing.rs
Due: fmt, clippy, unit tests

WIP
  crates/app/signing-traits/src/testing/interactors/test_sign_interactor.rs
  crates/app/signing-traits/src/testing/simulated_user.rs
  crates/app/signing/src/collector/signatures_collector.rs
  crates/app/signing/src/tests/test_signatures_collector.rs
  crates/system/os/signing/src/sargon_os_signing.rs
Due: fmt, clippy, unit tests

Add --locked to cargo ndk build
  jvm/sargon-android/build.gradle.kts
Due: none

Remove simulated skips from main tests
  crates/sargon/tests/integration/main.rs
Due: fmt, clippy, unit tests

WIP
  apple/Tests/TestCases/Profile/MFA/SecurityShieldsBuilderTests.swift
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/builder/matrix_builder.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/roles/builder/primary_roles_builder_unit_tests.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/roles/builder/roles_builder.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder.rs
  crates/profile/models/security-structures/src/threshold.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/security_shield_builder.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SharedConstants.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  Cargo.lock
  apple/Sources/Sargon/Drivers/ArculusCSDK/ArculusCSDK.swift
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCSessionClient.swift
  crates/system/os/arculus-card/Cargo.toml
  crates/system/os/arculus-card/src/sargon_os_arculus_card.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Fix
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

Revert "add unknown account"
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

wip
  crates/uniffi/uniffi_SPLIT_ME/src/core/error/common_error.rs
Due: fmt, clippy, unit tests

typo
  crates/uniffi/uniffi_SPLIT_ME/src/core/error/common_error.rs
Due: fmt, clippy, unit tests

add unknown account
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

bump version
  Cargo.lock
Due: none

Update shield saving result
  crates/core/error/src/common_error.rs
  crates/system/os/factors/src/sargon_os_security_structures.rs
  crates/uniffi/uniffi_SPLIT_ME/src/core/error/common_error.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_security_structures.rs
Due: fmt, clippy, unit tests

wip
  Cargo.lock
  crates/uniffi/uniffi_SPLIT_ME/src/core/error/common_error.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

Test
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder_status.rs
Due: fmt, clippy, unit tests

Add asserts
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

only pre derive VECI
  crates/factors/next-derivation-index-ephemeral/src/agnostic_paths/quantities.rs
Due: fmt, clippy, unit tests

Renaming
  apple/Tests/TestCases/Profile/MFA/SecurityShieldsBuilderTests.swift
  crates/profile/models/security-structures/src/roles_matrices_structures/mod.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder_rule_violation.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder_status.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/selected_primary_threshold_factors_status.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/models/factor_source_in_role_builder_validation_status.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/security_shield_builder_rule_violation.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/security_shield_builder_status.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/selected_primary_threshold_factors_status.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

export method to create Persona
  apple/Sources/Sargon/SargonOS/SargonOS+SargonOSProtocol.swift
  apple/Sources/Sargon/SargonOS/SargonOSProtocol.swift
  apple/Sources/Sargon/SargonOS/TestOS.swift
  crates/system/os/os/src/os_testing_support.rs
  crates/system/os/os/src/sargon_os_personas.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_personas.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests
