Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

SwiftFormat:
  name: SwiftFormat
  language: system
  entry: swiftformat .
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

Add factors removal by list kind
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/builder/matrix_builder.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/builder/matrix_builder_unit_tests.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/roles/builder/primary_roles_builder_unit_tests.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/roles/builder/roles_builder.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/models/factor_list_kind.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/models/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

Add sampls and tests
  crates/profile/models/security-structures/src/factor_list_kind.rs
Due: fmt, clippy, unit tests

Fix import
  crates/profile/models/security-structures/src/factor_list_kind.rs
Due: fmt, clippy, unit tests

Make primary threshold invalid status more explicit
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/selected_primary_threshold_factors_status.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/selected_primary_threshold_factors_status.rs
Due: fmt, clippy, unit tests

Fix uniffi error
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder_invalid_reason.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/selected_primary_threshold_factors_status.rs
Due: fmt, clippy, unit tests

Fixes
  Cargo.lock
  crates/core/error/Cargo.toml
  crates/core/error/src/common_error.rs
  crates/core/error/src/lib.rs
  crates/core/error/src/secure_storage_access_error_kind.rs
  crates/core/has-sample-values/src/has_sample_values.rs
  crates/system/drivers/src/drivers/secure_storage_driver/support/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/core/error/common_error.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AccountForDisplay.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorOutcome.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidBiometricAuthorizationDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/signing/PerFactorOutcome.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/signing/PerFactorSourceInput.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/AccountForDisplaySample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AccountForDisplayTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/signing/SignResponseTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/signing/SignableTest.kt
Due: fmt, clippy, unit tests

Add tests for throwing host interactor in swift
  apple/Tests/TestCases/System/ThrowingHostInteractorTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Implement per factor source io
  Cargo.lock
  Package.resolved
  apple/Sources/Sargon/SargonOS/ThrowingHostInteractor+Static+Shared.swift
  crates/app/signing-traits/Cargo.toml
  crates/app/signing-traits/src/host_interaction/factor_outcome.rs
  crates/app/signing-traits/src/host_interaction/mod.rs
  crates/app/signing-traits/src/host_interaction/per_factor_source_input.rs
  crates/app/signing-traits/src/host_interaction/sign_interactor.rs
  crates/app/signing-traits/src/host_interaction/sign_request.rs
  crates/app/signing-traits/src/host_interaction/sign_response.rs
  crates/app/signing-traits/src/host_interaction/sign_with_factors_outcome.rs
  crates/app/signing-traits/src/lib.rs
  crates/app/signing-traits/src/testing/interactors/test_sign_interactor.rs
  crates/app/signing-traits/src/types/mod.rs
  crates/app/signing-traits/src/types/neglected_factor.rs
  crates/app/signing/src/collector/signatures_collector.rs
  crates/app/signing/src/petition_types/petitions.rs
  crates/core/error/src/common_error.rs
  crates/crypto/cap26-models/src/lib.rs
  crates/factors/factors/src/factor_sources_of_kind.rs
  crates/sargon/tests/integration/main.rs
  crates/system/interactors/src/testing/test_use_factor_sources_interactors.rs
  crates/system/os/accounts/src/lib.rs
  crates/system/os/os/src/lib.rs
  crates/system/os/security-center/src/lib.rs
  crates/system/os/signing/src/lib.rs
  crates/system/os/transaction/src/lib.rs
  crates/uniffi/uniffi_SPLIT_ME/src/core/error/common_error.rs
  crates/uniffi/uniffi_SPLIT_ME/src/signing/factor_outcome.rs
  crates/uniffi/uniffi_SPLIT_ME/src/signing/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/signing/neglected_factor.rs
  crates/uniffi/uniffi_SPLIT_ME/src/signing/per_factor_outcome.rs
  crates/uniffi/uniffi_SPLIT_ME/src/signing/per_factor_source_input.rs
  crates/uniffi/uniffi_SPLIT_ME/src/signing/sign_request.rs
  crates/uniffi/uniffi_SPLIT_ME/src/signing/sign_response.rs
  crates/uniffi/uniffi_SPLIT_ME/src/signing/sign_with_factors_outcome.rs
  crates/uniffi/uniffi_SPLIT_ME/src/signing/transactions_to_sign_per_factor_source.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/interactors/host_interactor.rs
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/interactor/FakeHostInteractor.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Implement generic classes for io in kotlin
  crates/uniffi/uniffi_SPLIT_ME/src/signing/sign_request.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorOutcome.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SignResponse.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/signing/FactorOutcome.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/signing/HDSignature.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/signing/HDSignatureInput.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/signing/InvalidTransactionIfNeglected.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/signing/PerFactorOutcome.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/signing/PerFactorSourceInput.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/signing/SignRequest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/signing/SignResponse.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/signing/Signable.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/signing/TransactionSignRequestInput.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/FactorSourceIdFromHashSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/SignRequestSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/signing/SignRequestTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/signing/SignResponseTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/signing/SignableTest.kt
Due: fmt, clippy, unit tests

Disable poly sign for device factor source kinds.
  crates/app/signing/src/collector/mod.rs
  crates/app/signing/src/collector/signatures_collector.rs
  crates/app/signing/src/collector/support_poly_sign.rs
  crates/factors/factors/src/factor_sources_of_kind.rs
Due: fmt, clippy, unit tests

Update security structure threshold
  crates/profile/models/app-preferences/src/security.rs
  crates/profile/models/base-entity/src/entity_security_state/entity_security_state.rs
  crates/profile/models/base-entity/src/entity_security_state/secured_entity_control/secured_entity_control.rs
  crates/profile/models/security-structures/src/lib.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/matrix_of_factor_instances.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/matrix_of_factor_source_ids.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/mod.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/roles/abstract_role_builder_or_built.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/roles/factor_levels/factor_instance_level/primary_role_with_factor_instances.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/roles/factor_levels/factor_source_id_level/confirmation_role_with_factor_source_ids.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/roles/factor_levels/factor_source_id_level/primary_role_with_factor_source_ids.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/roles/factor_levels/factor_source_id_level/recovery_role_with_factor_source_ids.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_structure_of_factors/security_structure_of_factor_instances.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_structure_of_factors/security_structure_of_factor_source_ids.rs
  crates/profile/models/security-structures/src/threshold.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/models/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/models/threshold.rs
Due: fmt, clippy, unit tests

lint
  .github/workflows/release-android.yml
  .github/workflows/release-desktop.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  crates/app/key-derivation-traits/src/lib.rs
  crates/app/security-center/src/client.rs
  crates/common/identified-vec-of/src/identified_vec_of_iterator.rs
  crates/factors/keys-collector/src/lib.rs
  crates/profile/models/profile_SPLIT_ME/src/lib.rs
  crates/profile/models/security-structures/src/lib.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/roles/builder/roles_builder.rs
  crates/sargon/src/lib.rs
  crates/sargon/tests/integration/main.rs
  crates/system/os/transaction/src/pre_auth/sargon_os_create_subintent.rs
  crates/system/os/transaction/src/pre_auth/sargon_os_pre_authorization_status.rs
  crates/uniffi/uniffi_SPLIT_ME/src/lib.rs
  rust-toolchain.toml
Due: fmt, clippy, unit tests

fmt
  crates/app/security-center/src/client.rs
Due: fmt, clippy, unit tests

Update api and tests
  crates/profile/models/security-structures/src/roles_matrices_structures/automatic_shield_builder/automatic_shield_builder.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/builder/matrix_builder.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/builder/matrix_builder_unit_tests.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/roles/abstract_role_builder_or_built.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/roles/builder/confirmation_roles_builder_unit_tests.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/roles/builder/primary_roles_builder_unit_tests.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/roles/builder/recovery_roles_builder_unit_tests.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/roles/builder/roles_builder.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/roles/factor_levels/factor_source_id_level/primary_role_with_factor_source_ids.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

added android extension and unit test
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSourceId.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourceIdTest.kt
Due: none

exclude correct typo
  _typos.toml
Due: none

added missing imports in sargon android
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSourceId.kt
Due: none

exclude typo
  _typos.toml
Due: none

added ios wrap function and unit test
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/FactorSourceID+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/Factor/FactorSourceIDTests.swift
Due: ensure Swift setup for local development, SwiftFormat

formatted and bump version
  apple/Tests/TestCases/Profile/Factor/FactorSourceIDTests.swift
Due: ensure Swift setup for local development, SwiftFormat

removed
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/FactorSourceID+Wrap+Functions.swift
Due: ensure Swift setup for local development, SwiftFormat

added macro json_data_convertible for factor_source_id
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/factors/factor_source_id.rs
Due: fmt, clippy, unit tests

removed ut
  apple/Tests/TestCases/Profile/Factor/FactorSourceIDTests.swift
Due: ensure Swift setup for local development, SwiftFormat

fixed unit test FactorSourceIdTest
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourceIdTest.kt
Due: none

[no ci] wip
  crates/profile/models/base-entity/src/entity_security_state/provisional_securified_config.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/entity_security_state/provisional_securified_config.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/profile/models/base-entity/src/entity_security_state/entity_security_state.rs
  crates/profile/models/base-entity/src/entity_security_state/secured_entity_control/secured_entity_control.rs
  crates/profile/models/base-entity/src/entity_security_state/unsecured_entity_control.rs
Due: fmt, clippy, unit tests

Add some factor source samples
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ArculusFactorSourceSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/OffDeviceMnemonicFactorSourceSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/PasswordFactorSourceSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/SecurityQuestionsFactorSource.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/TrustedContactFactorSource.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ArculusCardFactorSourceTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/OffDeviceMnemonicFactorSourceTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PasswordFactorSourceTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SecurityQuestionsFactorSourceTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TrustedContactFactorSourceTest.kt
Due: none

Add as general extension to PasswordFactorSource
  crates/factors/factors/src/mfa_factor_sources/off_device_mnemonic_factor_source/off_device_factor_source_hint.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSource.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourceTest.kt
Due: fmt, clippy, unit tests

Update tests
  apple/Tests/TestCases/Profile/Factor/OffDeviceMnemonicFactorSourceTests.swift
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourceTest.kt
Due: ensure Swift setup for local development, SwiftFormat

Add word count for off_device_factor_source_hint
  crates/factors/factors/src/mfa_factor_sources/off_device_mnemonic_factor_source/off_device_factor_source_hint.rs
  crates/factors/factors/src/samples/factor_source_samples.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/mfa_factor_sources/off_device_mnemonic_factor_source/off_device_factor_source_hint.rs
Due: fmt, clippy, unit tests

fix tests
  crates/profile/models/base-entity/src/entity_security_state/entity_security_state.rs
  crates/transaction/manifests/src/manifests_access_controller.rs
Due: fmt, clippy, unit tests

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  SwiftFormat: any of: \.swift$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
