Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

Add a comment
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifest_account_locker.rs
Due: fmt, clippy, unit tests

Accout locker claim non fungibles by amount (#208)
  Cargo.lock
  crates/sargon/Cargo.toml
  crates/sargon/fixtures/transaction/account_locker_claim.rtm
  crates/sargon/fixtures/transaction/account_locker_claim_max_nft_items.rtm
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifest_account_locker.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/account_locker/account_locker_claimable_resource.rs
Due: fmt, clippy, unit tests

Release of '1.0.46' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

move Decimal192 number definitions outside if DEBUG
  Cargo.lock
  apple/Sources/Sargon/Extensions/Methods/Prelude/Decimal192+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/Decimal192+SampleValues.swift
  crates/sargon/Cargo.toml
Due: ensure Swift setup for local development, SwiftFormat

moving to Swiftified extension
  apple/Sources/Sargon/Extensions/Methods/Prelude/Decimal192+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/Decimal192+Swiftified.swift
Due: ensure Swift setup for local development, SwiftFormat

CD: switch to 'creatordate' as sorting for git tags
  scripts/ios/release.sh
Due: none

CD: switch to 'creatordate' as sorting for git tags (#211)
  scripts/ios/release.sh
Due: none

[Swift] Make Decimal192 standard number available for release (#210)
  Cargo.lock
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/Decimal192+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/Decimal192+Swiftified.swift
  crates/sargon/Cargo.toml
Due: ensure Swift setup for local development, SwiftFormat

Release of '1.1.12' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Add locker execution summary test
  crates/sargon/fixtures/transaction/account_locker_claim_fungibles_and_non_fungibles.dat
  crates/sargon/fixtures/transaction/account_locker_claim_fungibles_and_non_fungibles.rtm
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
Due: fmt, clippy, unit tests

Add locker address to manifest encountered entities
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/manifest_encountered_address.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/execution_summary/execution_summary.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
Due: fmt, clippy, unit tests

Version bump
  Cargo.lock
  crates/sargon/Cargo.toml
Due: none

Add kotlin and swift
  apple/Sources/Sargon/Extensions/Methods/Address/ManifestEncounteredAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile+Supporting+Types/ManifestEncounteredAddress+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/ManifestEncounteredAddress+Swiftified.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ManifestEncounteredAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ManifestEncounteredAddressSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ManifestEncounteredAddressTest.kt
Due: ensure Swift setup for local development, SwiftFormat

Add swift tests
  apple/Tests/TestCases/Address/ManifestEncounteredAddressTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Potential fix for disk space issue in kotlin tests workflow
  .github/workflows/test.yml
Due: none

Update kotlin workflow
  .github/workflows/test.yml
Due: none

Update kotlin test workflow
  .github/workflows/test.yml
Due: none

Revert "Update kotlin test workflow"
  .github/workflows/test.yml
Due: none

Name refactoring
  apple/Sources/Sargon/Extensions/Methods/Address/ManifestEncounteredAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile+Supporting+Types/ManifestEncounteredAddress+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/ManifestEncounteredAddress+Swiftified.swift
  apple/Tests/TestCases/Address/ManifestEncounteredAddressTests.swift
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/manifest_encountered_component_address.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/execution_summary/execution_summary.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ManifestEncounteredAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ManifestEncounteredAddressSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ManifestEncounteredComponentAddressTest.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Improve kotlin coverage
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ManifestEncounteredComponentAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ManifestEncounteredComponentAddressSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ManifestEncounteredComponentAddressTest.kt
Due: none

Account locker in manifest summary encountered entities (#213)
  .github/workflows/test.yml
  Cargo.lock
  apple/Sources/Sargon/Extensions/Methods/Address/ManifestEncounteredAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile+Supporting+Types/ManifestEncounteredAddress+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/ManifestEncounteredAddress+Swiftified.swift
  apple/Tests/TestCases/Address/ManifestEncounteredAddressTests.swift
  crates/sargon/Cargo.toml
  crates/sargon/fixtures/transaction/account_locker_claim_fungibles_and_non_fungibles.dat
  crates/sargon/fixtures/transaction/account_locker_claim_fungibles_and_non_fungibles.rtm
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/manifest_encountered_component_address.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/execution_summary/execution_summary.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ManifestEncounteredComponentAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ManifestEncounteredComponentAddressSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ManifestEncounteredComponentAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Release of '1.1.13' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Use merges instead of excludes
  jvm/sargon-android/build.gradle.kts
Due: none

Print errors with timber in example app too
  examples/android/build.gradle.kts
  examples/android/src/main/java/com/radixdlt/sargon/android/ExampleApplication.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/MainViewModel.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/di/ApplicationModule.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidStorageDriver.kt
Due: none

Remove planting of debug tree
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/Bios.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidLoggingDriver.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/driver/AndroidLoggingDriverTest.kt
Due: none

Make profileStateChanges a shared flow
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidProfileStateChangeDriver.kt
Due: none

Replace kotlin base64 with android base 64 and mock it in unit tests
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/EncryptionHelper.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/EncryptionHelperWithEncryptionKeyTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/StorageUtilsTest.kt
Due: none

Add error kind for biometrics failure
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/system/drivers/secure_storage_driver/support/mod.rs
  crates/sargon/src/system/drivers/secure_storage_driver/support/secure_storage_access_error_kind.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidBiometricAuthorizationDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidStorageDriver.kt
Due: fmt, clippy, unit tests

Make read and write methods public
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/KeySpec.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/StorageUtils.kt
Due: none

Make generateSecretKey public for now
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/KeySpec.kt
Due: none

Remove checks before asking for biometrics
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidBiometricAuthorizationDriver.kt
Due: none

Fix example profile states
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/MainViewModel.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/SargonOsManager.kt
Due: none

Make encrypt and decrypt methods public
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/EncryptionHelper.kt
Due: none

Suspend request for biometrics until activity is at least started
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidBiometricAuthorizationDriver.kt
Due: none

Report secure storage access error
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/system/clients/client/secure_storage_client/secure_storage_client.rs
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/MainViewModel.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidBiometricAuthorizationDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidStorageDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/KeySpec.kt
Due: fmt, clippy, unit tests

Implement function to remove a list of keyspecs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidStorageDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/KeySpec.kt
Due: none

Export method to derive profile based on bdfs and some accounts
  crates/sargon/src/profile/logic/account/create_account.rs
  crates/sargon/src/profile/v100/networks/network/profile_network.rs
  crates/sargon/src/profile/v100/profile.rs
  crates/sargon/src/profile/v100/profile_uniffi_fn.rs
  crates/sargon/src/system/drivers/secure_storage_driver/support/secure_storage_access_error_kind.rs
  crates/sargon/src/system/sargon_os/sargon_os.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SecureStorageAccessErrorKind.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SecureStorageAccessErrorKindTest.kt
Due: fmt, clippy, unit tests

Emit derived profile in profile state change
  crates/sargon/src/system/sargon_os/sargon_os.rs
Due: fmt, clippy, unit tests

Store profile state into android state change driver
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/MainViewModel.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/SargonOsManager.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/di/ApplicationModule.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidEventBusDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidProfileStateChangeDriver.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/driver/AndroidEventBusDriverTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/driver/AndroidProfileStateChangeDriverTest.kt
Due: none

Included SargonOsManager into sargon android
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/MainViewModel.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/SargonOsManager.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/di/ApplicationModule.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/SargonOsManager.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/KeySpec.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/SargonOsManagerTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/driver/Fakes.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/KeystoreAccessRequestTest.kt
Due: none
