Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

SwiftFormat:
  name: SwiftFormat
  language: system
  entry: swiftformat .
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

fix
  Cargo.lock
  crates/sargon/Cargo.toml
Due: none

wip
  crates/sargon-uniffi-conversion-macros/cargo.toml
Due: none

wip
  crates/sargon-uniffi-conversion-macros/argo.toml
Due: none

wip
  crates/sargon-uniffi-conversion-macros/Cargo.toml
Due: none

test all
  .github/workflows/test.yml
Due: none

fix
  .github/workflows/test.yml
Due: none

revert uniffi update
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
Due: none

wip
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/intent_header_v2.rs
Due: fmt, clippy, unit tests

Implement RolaChallenge
  crates/sargon/fixtures/vector/rola_challenge_payload_hash_vectors.json
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/dapp_metadata/origin.rs
  crates/sargon/src/signing/authentication/mod.rs
  crates/sargon/src/signing/authentication/rola_challenge.rs
  crates/sargon/src/signing/mod.rs
Due: fmt, clippy, unit tests

Implement AuthenticationSigningInput
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/dapp_metadata/origin.rs
  crates/sargon/src/signing/authentication/authentication_signing_input.rs
  crates/sargon/src/signing/authentication/mod.rs
  crates/sargon/src/signing/authentication/rola_challenge.rs
Due: fmt, clippy, unit tests

WIP
  crates/sargon/src/signing/authentication/authentication_signer.rs
  crates/sargon/src/signing/authentication/authentication_signing_input.rs
  crates/sargon/src/signing/authentication/authentication_signing_interactor.rs
  crates/sargon/src/signing/authentication/mod.rs
  crates/sargon/src/signing/authentication/rola_challenge.rs
Due: fmt, clippy, unit tests

Implement a simple interactor for auth signing
  crates/sargon/src/signing/authentication/authentication_signer.rs
  crates/sargon/src/signing/authentication/authentication_signing_interactor.rs
  crates/sargon/src/signing/testing/interactors/mod.rs
  crates/sargon/src/signing/testing/interactors/test_authentication_interactor.rs
Due: fmt, clippy, unit tests

Address comments
  crates/sargon/src/signing/authentication/authentication_signer.rs
  crates/sargon/src/signing/authentication/authentication_signing_input.rs
  crates/sargon/src/signing/authentication/rola_challenge.rs
Due: fmt, clippy, unit tests

Add panic test for securified entities
  crates/sargon/src/signing/authentication/authentication_signer.rs
  crates/sargon/src/signing/authentication/authentication_signing_input.rs
Due: fmt, clippy, unit tests

Run fmt
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/dapp_metadata/origin.rs
  crates/sargon/src/signing/authentication/authentication_signer.rs
  crates/sargon/src/signing/authentication/authentication_signing_input.rs
  crates/sargon/src/signing/authentication/authentication_signing_interactor.rs
  crates/sargon/src/signing/authentication/mod.rs
  crates/sargon/src/signing/authentication/rola_challenge.rs
  crates/sargon/src/signing/mod.rs
  crates/sargon/src/signing/testing/interactors/mod.rs
  crates/sargon/src/signing/testing/interactors/test_authentication_interactor.rs
Due: fmt, clippy, unit tests

Rebase with latest changes on main
  crates/sargon/src/signing/collector/signatures_collector_preprocessor.rs
  crates/sargon/src/signing/tx_to_sign.rs
Due: fmt, clippy, unit tests

Implement new type CompiledTransactionIntent
  crates/sargon/src/lib.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/compiled_transaction_intent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
Due: fmt, clippy, unit tests

Change signature collector to keep TransactionIntent in PetitionForTransaction
  crates/sargon/src/signing/collector/signatures_collector.rs
  crates/sargon/src/signing/collector/signatures_collector_preprocessor.rs
  crates/sargon/src/signing/petition_types/petition_for_transaction.rs
  crates/sargon/src/signing/petition_types/petitions.rs
  crates/sargon/src/signing/testing/test_signatures_collector.rs
  crates/sargon/src/signing/tx_to_sign.rs
  crates/sargon/src/types/samples/transaction_intent_samples.rs
Due: fmt, clippy, unit tests

Pass compiled intent into TransactionSignRequestInput
  crates/sargon/src/signing/host_interaction/requests/transaction_sign_request_input.rs
  crates/sargon/src/signing/petition_types/petition_for_transaction.rs
Due: fmt, clippy, unit tests

Run fmt
  crates/sargon/src/lib.rs
  crates/sargon/src/signing/collector/signatures_collector.rs
  crates/sargon/src/signing/collector/signatures_collector_preprocessor.rs
  crates/sargon/src/signing/petition_types/petition_for_transaction.rs
  crates/sargon/src/signing/tx_to_sign.rs
  crates/sargon/src/types/samples/transaction_intent_samples.rs
Due: fmt, clippy, unit tests

Fixes regarding PR comments
  crates/sargon/src/signing/collector/extractor_of_instances_required_to_sign_transactions.rs
  crates/sargon/src/signing/collector/signatures_collector.rs
  crates/sargon/src/signing/petition_types/petition_for_transaction.rs
  crates/sargon/src/signing/tx_to_sign.rs
  crates/sargon/src/types/samples/transaction_intent_samples.rs
  crates/sargon/tests/integration/main.rs
Due: fmt, clippy, unit tests

Export CompiledTransactionIntent for uniffi
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/compiled_transaction_intent.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/mod.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/compiled_transaction_intent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
Due: fmt, clippy, unit tests

Export CompiledTransactionIntent for uniffi
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/compiled_transaction_intent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/compiled_transaction_intent.rs
Due: fmt, clippy, unit tests

Run fmt
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/compiled_transaction_intent.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/mod.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
  crates/sargon/src/signing/collector/extractor_of_instances_required_to_sign_transactions.rs
  crates/sargon/src/signing/collector/signatures_collector.rs
  crates/sargon/src/signing/petition_types/petition_for_transaction.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/compiled_transaction_intent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
  crates/sargon/tests/integration/main.rs
Due: fmt, clippy, unit tests

Use unsafe to avoid usage of pub constructor
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/compiled_transaction_intent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/compiled_transaction_intent.rs
Due: fmt, clippy, unit tests

Expose decompile extension in kotlin
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/compiled_transaction_intent.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/CompiledTransactionIntent.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TransactionIntent.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/CompiledTransactionIntentSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/CompiledTransactionIntentTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionIntentTest.kt
Due: fmt, clippy, unit tests

Fix formatting
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/compiled_transaction_intent.rs
Due: fmt, clippy, unit tests

wip
  Cargo.toml
  crates/sargon-uniffi/src/core/result/from_internal_result.rs
  crates/sargon-uniffi/src/core/result/into_internal_result.rs
  crates/sargon-uniffi/src/core/result/result.rs
  crates/sargon/src/core/types/keys/ed25519/private_key.rs
Due: fmt, clippy, unit tests

Add tests for compiled transaction intent uniffi conversion
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/compiled_transaction_intent.rs
Due: fmt, clippy, unit tests

Remove unsafe
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/compiled_transaction_intent.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/compiled_transaction_intent.rs
Due: fmt, clippy, unit tests

Run fmt
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/compiled_transaction_intent.rs
Due: fmt, clippy, unit tests

format
  crates/sargon-uniffi/src/core/result/result.rs
Due: fmt, clippy, unit tests

Convert constructor to fallible
  apple/Sources/Sargon/Extensions/Methods/RET/CompiledTransactionIntent+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/TransactionIntent+Wrap+Functions.swift
  apple/Tests/TestCases/RET/TransactionIntentTests.swift
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/compiled_transaction_intent.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/CompiledTransactionIntent.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/CompiledTransactionIntentTest.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Convert secret magic to be base64 representation of compiled intent
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/compiled_transaction_intent.rs
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionIntentTest.kt
Due: fmt, clippy, unit tests

fix CI
  .github/workflows/release-android.yml
Due: none

wip
  .github/workflows/release-android.yml
  .github/workflows/test.yml
Due: none

update variant name and add docs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration.rs
Due: fmt, clippy, unit tests

WIP
  .github/workflows/test.yml
Due: none

Revert
  .github/workflows/test.yml
Due: none

wip
  .github/workflows/test.yml
Due: none

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  SwiftFormat: any of: \.swift$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
