Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true
default_install_hook_types: [pre-push]
default_stages: [pre-push]
repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.22.7
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

  - repo: https://github.com/phylum-dev/phylum-ci
    rev: main
    hooks:
      - id: phylum
        stages: [pre-push]
        # Optional: Specify the dependency file pattern for your repository
        files: |
            (?x)^(
                Cargo\.lock|
            )$
        # Optional: Specify additional arguments to be passed to `phylum-ci`
        args:
          - -vv
          - --depfile=Cargo.lock
          - --audit
          - --force-analysis
          - --all-deps
        verbose: true

bump version
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

Transform UniFFI SecurityShieldBuilder to value type semantics (#312)
  Cargo.lock
  apple/Sources/Sargon/Extensions/Swiftified/Profile/MFA/SecurityShieldBuilder+Swifified.swift
  apple/Tests/TestCases/Profile/MFA/SecurityShieldsBuilderTests.swift
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/core/utils/builder_arc_map.rs
  crates/sargon-uniffi/src/core/utils/mod.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  crates/sargon/src/profile/supporting_types/is_network_aware.rs
  crates/sargon/src/profile/supporting_types/on_same_network_validating.rs
  crates/sargon/src/signing/authentication/auth_intent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/instructions/instructions.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/instructions_v2/instructions_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_v2.rs
Due: fmt, clippy, unit tests

Replace url with dapp origin
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/signing/authentication/auth_intent.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/signing/authentication/auth_intent.rs
  crates/sargon/src/signing/authentication/auth_intent_hash.rs
Due: fmt, clippy, unit tests

Replace url with dapp origin (#322)
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/signing/authentication/auth_intent.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/signing/authentication/auth_intent.rs
  crates/sargon/src/signing/authentication/auth_intent_hash.rs
Due: fmt, clippy, unit tests

sargon
  crates/sargon/src/home_cards/home_cards.rs
  crates/sargon/src/identified_vec_of/decl_identified_vec_of_with_samples.rs
  crates/sargon/src/lib.rs
  crates/sargon/src/profile/logic/account/query_security_structures.rs
  crates/sargon/src/profile/logic/persona/create_persona.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/security_questions_factor_source/answer/security_questions_and_answers.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/security_questions_factor_source/question/security_questions.rs
  crates/sargon/src/profile/supporting_types/accounts_for_display.rs
  crates/sargon/src/profile/supporting_types/accounts_or_personas.rs
  crates/sargon/src/profile/supporting_types/detailed_authorized_personas.rs
  crates/sargon/src/profile/v100/app_preferences/gateways/saved_gateways.rs
  crates/sargon/src/profile/v100/app_preferences/security.rs
  crates/sargon/src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/assets_exception_list.rs
  crates/sargon/src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/depositors_allow_list.rs
  crates/sargon/src/profile/v100/entity/entity_flags.rs
  crates/sargon/src/profile/v100/factors/factor_source_crypto_parameters.rs
  crates/sargon/src/profile/v100/factors/factor_sources/factor_sources.rs
  crates/sargon/src/profile/v100/networks/network/accounts.rs
  crates/sargon/src/profile/v100/networks/network/authorized_dapp/references_to_authorized_personas.rs
  crates/sargon/src/profile/v100/networks/network/authorized_dapps.rs
  crates/sargon/src/profile/v100/networks/network/personas.rs
  crates/sargon/src/profile/v100/networks/network/profile_network.rs
  crates/sargon/src/profile/v100/networks/network/resource_preferences/hidden_resources.rs
  crates/sargon/src/profile/v100/networks/network/resource_preferences/resource_preferences.rs
  crates/sargon/src/profile/v100/networks/profile_networks.rs
  crates/sargon/src/profile/v100/profile.rs
  crates/sargon/src/radix_connect/p2p_links/p2p_links.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/system/sargon_os/sargon_os_sync_accounts.rs
Due: fmt, clippy, unit tests

compiles
  crates/sargon-core/src/lib.rs
  crates/sargon-uniffi/src/core/result/result.rs
  crates/sargon-uniffi/src/core/types/collections/internal_mapping.rs
  crates/sargon-uniffi/src/lib.rs
  crates/sargon-uniffi/src/profile/mfa/mfa_factor_sources/security_questions_factor_source/question/security_question.rs
  crates/sargon-uniffi/src/profile/supporting_types/decl_vec_samples_for.rs
  crates/sargon-uniffi/src/profile/v100/entity/persona/persona_data/persona_data_identified_collection_types.rs
  crates/sargon-uniffi/src/radix_connect/p2p_links/p2p_link.rs
  crates/sargon-uniffi/src/radix_connect/p2p_links/p2p_links.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_factors.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_security_center.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_security_structures.rs
Due: fmt, clippy, unit tests

FromInternalResult for vec
  crates/sargon-uniffi/src/core/result/result.rs
Due: fmt, clippy, unit tests

fix
  crates/sargon-uniffi/src/profile/supporting_types/decl_vec_samples_for.rs
  crates/sargon-uniffi/src/profile/v100/entity/persona/persona_data/persona_data_identified_collection_types.rs
  crates/sargon/src/factor_instances_provider/next_index_assigner/next_derivation_entity_index_profile_analyzing_assigner.rs
  crates/sargon/src/identified_vec_of/decl_identified_vec_of_with_samples.rs
  crates/sargon/src/identified_vec_of/identified_vec_of_iterator.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/matrix_template.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/factor_source_id_samples.rs
  crates/sargon/src/signing/signatures_outecome_types/petition_transaction_outcome.rs
Due: fmt, clippy, unit tests

fix all tests
  crates/sargon-core/src/types/decimal192.rs
  crates/sargon-core/src/types/keys/private_key.rs
  crates/sargon-core/src/utils/factory.rs
  crates/sargon-uniffi/src/profile/mfa/mfa_factor_sources/security_questions_factor_source/question/security_question.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon-uniffi/src/radix_connect/p2p_links/p2p_link.rs
  crates/sargon-uniffi/src/radix_connect/p2p_links/p2p_links.rs
  crates/sargon/src/factor_instances_provider/next_index_assigner/next_derivation_entity_index_profile_analyzing_assigner.rs
  crates/sargon/src/identified_vec_of/identified_vec_of.rs
  crates/sargon/src/identified_vec_of/identified_vec_of_serde.rs
  crates/sargon/src/identified_vec_of/mod.rs
  crates/sargon/src/system/clients/client/http_client/http_client.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/transaction_guarantee.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/instructions/instructions.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/instructions_v2/instructions_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/mod.rs
  crates/sargon/tests/integration/main.rs
Due: fmt, clippy, unit tests

fix
  crates/sargon-uniffi/src/core/result/result.rs
  crates/sargon-uniffi/src/core/types/collections/internal_mapping.rs
  crates/sargon/src/identified_vec_of/decl_identified_vec_of_with_samples.rs
Due: fmt, clippy, unit tests

Release 1.2.0
  Cargo.lock
  crates/sargon-core/Cargo.toml
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

update README
  README.md
Due: none

fix swift tests
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/AccountPath+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/IdentityPath+Swiftified.swift
Due: ensure Swift setup for local development, SwiftFormat

try fix kotlin
  apple/Sources/Sargon/Extensions/Methods/Profile/CAP26EntityKind+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/AccountPath+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/IdentityPath+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/CAP26EntityKind+Swiftified.swift
  crates/sargon-uniffi/src/hierarchical_deterministic/cap26/cap26_entity_kind.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AccountPath.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/IdentityPath.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidBiometricAuthorizationDriver.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

try fix kotlin
  crates/sargon-uniffi/src/system/drivers/secure_storage_driver/support/secure_storage_access_error_kind.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidBiometricAuthorizationDriver.kt
Due: fmt, clippy, unit tests

more tests
  crates/sargon-core/src/types/keys/slip10_curve.rs
  crates/sargon-core/src/types/signatures/signature.rs
  crates/sargon-core/src/types/signatures/signature_with_public_key.rs
Due: fmt, clippy, unit tests

fix wrong header in README
  README.md
Due: none

remove unneeded unfinished featuer specialization
  crates/sargon-uniffi/src/core/types/collections/internal_mapping.rs
  crates/sargon-uniffi/src/lib.rs
  crates/sargon-uniffi/src/profile/supporting_types/decl_vec_samples_for.rs
Due: fmt, clippy, unit tests

create crate `sargon-hierarchical-deterministic`
  Cargo.lock
  Cargo.toml
  crates/sargon-hierarchical-deterministic/Cargo.toml
  crates/sargon-hierarchical-deterministic/src/lib.rs
  crates/sargon-uniffi/src/lib.rs
  crates/sargon/Cargo.toml
Due: fmt, clippy, unit tests

remove deadcode
  crates/sargon-core/src/lib.rs
  crates/sargon/src/lib.rs
Due: fmt, clippy, unit tests

Release 1.2.1
  Cargo.lock
  crates/sargon-core/Cargo.toml
  crates/sargon-hierarchical-deterministic/Cargo.toml
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

remove empty folder
  crates/sargon/src/hierarchical_deterministic/.DS_Store
Due: none

Add crate `sargon-factors`
  Cargo.lock
  Cargo.toml
  crates/sargon-factors/Cargo.toml
  crates/sargon-factors/src/lib.rs
Due: fmt, clippy, unit tests

fix failing test
  crates/sargon-core/src/types/short_string.rs
Due: fmt, clippy, unit tests

fmt
  crates/sargon-core-error/src/common_error.rs
  crates/sargon-core/src/types/host_info/mod.rs
  crates/sargon-core/src/types/mod.rs
  crates/sargon-factors/src/mfa_factor_sources/security_questions_factor_source/kdf/sub_kdf/encryption_keys_from_key_exchange_keys/keys_by_diffie_hellman_fold.rs
  crates/sargon/src/profile/encrypted/encrypted_profile/mod.rs
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder/automatic_shield_builder.rs
Due: fmt, clippy, unit tests

clippy fix
  crates/sargon-factors/src/factor_instance/factor_instance.rs
  crates/sargon-factors/src/factor_source.rs
  crates/sargon-factors/src/factor_source_id.rs
  crates/sargon-factors/src/factor_source_id_from_address.rs
  crates/sargon-factors/src/samples/mod.rs
  crates/sargon-uniffi/src/profile/v100/factors/factor_source_id_from_address.rs
  crates/sargon/src/profile/logic/account/create_account.rs
  crates/sargon/src/profile/logic/persona/create_persona.rs
  crates/sargon/src/profile/logic/profile_network/profile_network_details.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

try fix kotlin and swift tests
  apple/Tests/TestCases/Profile/Factor/HierarchicalDeterministicFactorInstanceTests.swift
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourceIdTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourceTest.kt
Due: ensure Swift setup for local development, SwiftFormat

try fix kotlin
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourceIdTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourceTest.kt
Due: none

fix
  crates/sargon-keys-collector/src/derivation_testing/mod.rs
  crates/sargon-keys-collector/src/derivation_testing/test_keys_collector/mod.rs
  crates/sargon-keys-collector/src/derivation_testing/test_keys_collector/test_derivation_interactor.rs
  crates/sargon-keys-collector/src/lib.rs
  crates/sargon/src/system/clients/client/secure_storage_client/secure_storage_client.rs
Due: fmt, clippy, unit tests

fmt
  crates/sargon-addresses/src/resource/mod.rs
  crates/sargon-core/src/types/mod.rs
  crates/sargon-factors/src/factor_instance/mod.rs
  crates/sargon-keys-collector/src/derivation_testing/test_keys_collector/test_derivation_interactor.rs
  crates/sargon-keys-collector/src/tests/derivation_tests.rs
  crates/sargon/src/profile/v100/networks/network/authorized_dapp/authorized_dapp.rs
  crates/sargon/src/signing/collector/signatures_collector_preprocessor.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/execution_summary/execution_summary.rs
Due: fmt, clippy, unit tests

clippy fix
  crates/sargon-keys-collector/src/derivation_testing/test_keys_collector/test_derivation_interactor.rs
Due: fmt, clippy, unit tests
