Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Dependencies/FactorSourcesClient.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Manage/ManageSpecificFactorSourcesFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/New/InputMnemonicFeature.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/FactorSourceHintView.swift
  src/core/types/decimal192.rs
  src/profile/v100/factors/factor_sources/mod.rs
  src/system/sargon_os/sargon_os_factors.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/IntroWhatIsShieldFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Features/FactorsBuilderFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

more tests
  src/profile/v100/factors/factor_source.rs
Due: fmt, clippy, unit tests

more tests
  src/profile/mfa/mfa_factor_sources/off_device_mnemonic_factor_source/mod.rs
  src/profile/mfa/mfa_factor_sources/off_device_mnemonic_factor_source/off_device_factor_source_hint.rs
  src/profile/mfa/mfa_factor_sources/off_device_mnemonic_factor_source/off_device_mnemonic_factor_source.rs
  src/profile/mfa/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source.rs
  src/profile/mfa/mfa_factor_sources/trusted_contact_factor_source/trusted_contact_factor_source.rs
  src/profile/v100/factors/factor_source_id_from_hash.rs
Due: fmt, clippy, unit tests

fix typos
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/NameNewShieldFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/SetFactorThresholdFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

Truncate Decimal192 fractional part when it has more than 18 decimals (#160)
  Cargo.lock
  Cargo.toml
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Decimal192Test.kt
  src/core/types/decimal192.rs
  src/core/types/decimal192_uniffi_fn.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/PickFactorSourceCoordinator/Children/PickFactorSourceFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Models/NewShield+SharedState.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSource.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PersonaDataEntryEmailAddress.kt
Due: ensure Swift setup for local development, SwiftFormat

Release of '1.0.10' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/WalletInteraction/UnvalidatedTransactionManifest+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/WalletInteractionWalletAccount+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/RadixConnect/WalletInteraction/UnvalidatedTransactionManifest+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/RadixConnect/WalletInteractionWalletAccount+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/RadixConnect/WalletInteraction/UnvalidatedTransactionManifest+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RadixConnect/WalletInteractionWalletAccount+Swiftified.swift
  apple/Tests/TestCases/RET/NotarizedTransactionTests.swift
  apple/Tests/TestCases/RET/TransactionIntentTests.swift
  apple/Tests/TestCases/RET/TransactionManifestTests.swift
  fixtures/vector/wallet_interactions_dapp_to_wallet.json
  fixtures/vector/wallet_interactions_wallet_to_dapp.json
  src/gateway_api/client/gateway_client.rs
  src/radix_connect/mod.rs
  src/radix_connect/wallet_account.rs
  src/radix_connect/wallet_account_uniffi_fn.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/auth_challenge_nonce.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/dapp_to_wallet_interaction_uniffi_fn.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/auth/login_with_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/transaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/unvalidated_transaction_manifest.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/unvalidated_transaction_manifest_uniffi_fn.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_uniffi_fn.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/response_uniffi_fn.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/account/accounts.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_login_with_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/transaction/transaction.rs
  src/wrapped_radix_engine_toolkit/low_level/compiled_notarized_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/notarized_transaction.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/blobs/blob.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/blobs/blobs.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/blobs/blobs_secret_magic.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest_secret_magic.rs
  tests/vectors/main.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  src/core/utils/mod.rs
  src/core/utils/serialization.rs
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/relay_service/service.rs
Due: fmt, clippy, unit tests

try fix kotlin
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/PersonaDataEntryEmailAddressSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PersonaDataEntryTest.kt
Due: none

wip
  src/core/types/keys/key_agreement/private_key.rs
  src/radix_connect/mobile/deep_link_parsing/parser.rs
  src/radix_connect/mobile/relay_service/service.rs
Due: fmt, clippy, unit tests

update parser
  src/radix_connect/mobile/deep_link_parsing/parser.rs
Due: fmt, clippy, unit tests

try fix Kotlin
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AppPreferencesTest.kt
Due: none

export
  src/radix_connect/mobile/client.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/WalletInteraction/WalletToDappInteractionResponse+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/RadixConnect/WalletInteraction/WalletToDappInteractionResponse+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/RadixConnect/WalletInteraction/WalletToDappInteractionResponse+Swiftified.swift
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/accounts.rs
  tests/vectors/main.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/WalletInteractionWalletAccount+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/RadixConnect/WalletInteractionWalletAccount+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/RadixConnect/WalletInteractionWalletAccount+Swiftified.swift
  src/radix_connect/mod.rs
  src/radix_connect/wallet_account_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[no ci] WIP
  src/core/error/common_error.rs
  src/profile/mfa/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source.rs
  src/profile/mfa/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source_uniffi_fn.rs
  src/profile/mfa/mfa_factor_sources/security_questions_factor_source/security_questions_sealed_mnemonic.rs
  src/system/sargon_os/sargon_os_factors.rs
Due: fmt, clippy, unit tests

no hkdf for now
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/Mobile/RadixConnectMobile.swift
  src/radix_connect/mobile/client.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

fixes
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/SecurityQuestionsFactorSource+Wrap+Functions.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/FactorSourcesClient.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/SecurityQuestions/NewSecurityQuestionsFeature/Children/SecurityQuestionsReviewAnswersFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/SecurityQuestions/NewSecurityQuestionsFeature/Children/SelectQuestionsFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

Implement RadixConnectSessionStorage for kotlin
  jvm/gradle/libs.versions.toml
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Result.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/radixconnect/RadixConnectSessionStorage.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/EncryptedPreferencesStorage.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/EncryptionHelper.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/KeySpec.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Decimal192Test.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ResultTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/radixconnect/RadixConnectSessionStorageTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/EncryptedPreferencesStorageTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/EncryptionHelperWithEncryptionKeyTest.kt
Due: none

change WalletInteractionId from UUID to String
  src/radix_connect/interaction_id.rs
  src/radix_connect/mobile/deep_link_parsing/dapp_request.rs
Due: fmt, clippy, unit tests

Revert "wip"
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/WalletInteractionWalletAccount+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/RadixConnect/WalletInteractionWalletAccount+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/RadixConnect/WalletInteractionWalletAccount+Swiftified.swift
  src/radix_connect/mod.rs
  src/radix_connect/wallet_account_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  src/core/pb_hkdf_sha256.rs
  src/core/types/keys/key_agreement/private_key.rs
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/deep_link_parsing/connect_request.rs
  src/radix_connect/mobile/deep_link_parsing/parser.rs
  src/radix_connect/mobile/relay_service/service.rs
Due: fmt, clippy, unit tests

wip
  src/core/types/keys/key_agreement/public_key_uniffi_fn.rs
Due: fmt, clippy, unit tests

Throw IllegalArgumentException when the type to be encrypted is unsupported.
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/EncryptionHelper.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/EncryptionHelperWithEncryptionKeyTest.kt
Due: none

wip
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/blobs/blobs.rs
Due: fmt, clippy, unit tests

Implement simple instrumentation tests that run on device for KeySpec.RadixConnect
  jvm/gradle/libs.versions.toml
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-android/src/androidTest/kotlin/com/radixdlt/sargon/os/radixconnect/RadixConnectSessionStorageTest.kt
  jvm/sargon-android/src/androidTest/kotlin/com/radixdlt/sargon/os/storage/EncryptionHelperWithSpecKeyTest.kt
Due: none

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Assets/Media.xcassets/Contents.json
  examples/iOS/Backend/Sources/Planbok/Assets/Media.xcassets/Splash.imageset/Contents.json
  examples/iOS/Backend/Sources/Planbok/Assets/Media.xcassets/Splash.imageset/RadixWallet@3x.png
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/ManageSecurityShieldsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/OverlayWindow/AppDelegate.swift
  examples/iOS/Backend/Sources/Planbok/Features/OverlayWindow/HUDFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/OverlayWindow/HUDMessage.swift
  examples/iOS/Backend/Sources/Planbok/Features/OverlayWindow/OverlayFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/OverlayWindow/OverlayWindowClient.swift
  examples/iOS/Backend/Sources/Planbok/Features/OverlayWindow/SceneDelegate.swift
  examples/iOS/Backend/Sources/Planbok/Features/Settings/SettingsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SplashFeature.swift
  examples/iOS/Frontend/PlanbokApp/PlanbokApp.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/relay_service/models/request/request.rs
  src/radix_connect/mobile/relay_service/service.rs
Due: fmt, clippy, unit tests

request in deepLink
  src/radix_connect/mobile/deep_link_parsing/connect_request.rs
  src/radix_connect/mobile/deep_link_parsing/dapp_request.rs
Due: fmt, clippy, unit tests

wip
  src/radix_connect/interaction_id.rs
Due: fmt, clippy, unit tests

wip
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/blobs/blob.rs
Due: fmt, clippy, unit tests

fix kotlin tests
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NotarizedTransactionTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionIntentTest.kt
Due: none

wip
  apple/Tests/TestCases/RadixConnect/WalletInteraction/WalletToDappInteractionResponseTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Implement RadixConnectSessionStorage for kotlin (#163)
  jvm/gradle/libs.versions.toml
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-android/src/androidTest/kotlin/com/radixdlt/sargon/os/radixconnect/RadixConnectSessionStorageTest.kt
  jvm/sargon-android/src/androidTest/kotlin/com/radixdlt/sargon/os/storage/EncryptionHelperWithSpecKeyTest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Result.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/radixconnect/RadixConnectSessionStorage.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/EncryptedPreferencesStorage.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/EncryptionHelper.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/KeySpec.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Decimal192Test.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ResultTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/radixconnect/RadixConnectSessionStorageTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/EncryptedPreferencesStorageTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/EncryptionHelperWithEncryptionKeyTest.kt
Due: none

wip
  apple/Tests/TestCases/RadixConnect/WalletInteraction/DappToWalletInteractionUnvalidatedTests.swift
  apple/Tests/TestCases/RadixConnect/WalletInteractionWalletAccountTests.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  apple/Tests/TestCases/RadixConnect/WalletInteraction/UnvalidatedTransactionManifestTests.swift
Due: ensure Swift setup for local development, SwiftFormat

revert sample values
  apple/Tests/TestCases/RET/NotarizedTransactionTests.swift
  apple/Tests/TestCases/RET/TransactionIntentTests.swift
  apple/Tests/TestCases/RET/TransactionManifestTests.swift
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NotarizedTransactionTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionIntentTest.kt
  src/gateway_api/client/gateway_client.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/unvalidated_transaction_manifest.rs
  src/wrapped_radix_engine_toolkit/low_level/compiled_notarized_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/notarized_transaction.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest_secret_magic.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests
