Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

      - id: doc tests
        name: doc tests
        language: system
        types: [file, rust]
        entry: cargo test --doc
        pass_filenames: false

      - id: vectors integration tests
        name: vectors integration tests
        language: system
        types: [file, rust]
        entry: cargo test --package sargon --test vectors
        pass_filenames: false

      - id: swift tests
        name: swift tests
        language: system
        types_or: [rust, swift]
        entry: ./scripts/ios/test.sh --testonly # no code coverage
        pass_filenames: false

      - id: kotlin tests
        name: kotlin (jvm) tests
        language: system
        types_or: [rust, kotlin]
        entry: ./jvm/gradlew -p jvm/sargon-android koverVerifyDebug
        pass_filenames: false

Kotlin extensions Batch 1
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/BagOfBytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DerivationPath.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Gateway.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Gateways.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Header.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/MnemonicWIthPassphrase.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Profile.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/HierarchicalDeterministicPublicKey.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/MnemonicWithPassphraseSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/OtherGatewaysSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/P2PLinkSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ProfileNetworksSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/Slip10CurveSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/SupportedCurvesSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/BagOfBytesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/CompiledNotarizedIntentTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DerivationPathTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourcesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/GatewayTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/GatewaysTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/HeaderTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/MnemonicWithPassphraseTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NotarizedTransactionTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PoolAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SignedIntentTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionIntentTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/WalletTest.kt
Due: kotlin tests

wip
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure_response/error_type.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure_response/failure.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure_response/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/response.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/account/account_proof.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/account/accounts.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/account/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_login_with_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_login_without_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_proof.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_use_persona.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/authorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/items.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/persona_data/persona_data.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/success.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/transaction/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/transaction/transaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/unauthorized_request.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

rename
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure_response/failure.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/response.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/account/account_proof.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/account/accounts.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_login_with_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_login_without_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_proof.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_use_persona.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/authorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/items.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/persona_data/persona_data.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/success.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/transaction/transaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/unauthorized_request.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  src/radix_connect/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure_response/error_type.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure_response/failure.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure_response/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/response.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/account/account_proof.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/account/accounts.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/account/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_login_with_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_login_without_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_use_persona.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/authorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/items.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/persona_data/persona_data.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/success.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/transaction/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/transaction/transaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/unauthorized_request.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  fixtures/vector/wallet_interactions.json
  src/radix_connect/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/authorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/accounts.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/auth.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/auth_use_persona.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/login_with_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/persona_data.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/reset.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/unauthorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_metadata.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  fixtures/vector/wallet_interactions_dapp_to_wallet.json
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/auth/auth.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/auth/login_with_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/auth/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/auth/use_persona.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/authorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/accounts.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/persona_data.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/reset.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/unauthorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/transaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/transaction_version.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

derivation path from str
  Cargo.toml
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/BIP39/BIP39Language+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/BIP39/BIP39WordCount+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/AppPreferences+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/AppPreferences+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/BIP39/BIP39Language+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/BIP39/BIP39WordCount+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/AppPreferences+Swiftified.swift
  apple/Tests/TestCases/Crypto/BIP39/BIP39WordCountTests.swift
  apple/Tests/TestCases/Profile/AppPreferencesTests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PrivateHierarchicalDeterministicFactorSource.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
  src/hierarchical_deterministic/bip39/bip39_word/bip39_language.rs
  src/hierarchical_deterministic/bip39/bip39_word/bip39_language_uniffi_fn.rs
  src/hierarchical_deterministic/bip39/bip39_word/mod.rs
  src/hierarchical_deterministic/bip39/bip39_word_count.rs
  src/hierarchical_deterministic/bip39/bip39_word_count_uniffi_fn.rs
  src/hierarchical_deterministic/bip39/mod.rs
  src/hierarchical_deterministic/derivation/derivation_path.rs
  src/hierarchical_deterministic/derivation/derivation_path_uniffi_fn.rs
  src/profile/v100/app_preferences/app_preferences.rs
  src/profile/v100/app_preferences/app_preferences_uniffi_fn.rs
  src/profile/v100/app_preferences/mod.rs
  src/profile/v100/app_preferences/transaction_preferences.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Create ProfileEntity
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ProfileEntity.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileEntityTest.kt
Due: kotlin tests

Rename passphrase in test
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/MnemonicWithPassphraseTest.kt
Due: kotlin tests

wip
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/persona_data.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

bip39 language and derivation path from str
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/DerivationPath+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Derivation/BIP39/BIP39Language+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Derivation/BIP39/Mnemonic+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Derivation/BIP39/MnemonicWithPassphrase+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Derivation/Mnemonic+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/BIP39/BIP39Language+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/BIP39Language+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/CAP26Path+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/DerivationPath+Swiftified.swift
  apple/Sources/Sargon/Protocols/CAP26PathProtocol.swift
  apple/Tests/TestCases/Crypto/BIP39/BIP39LanguageTests.swift
  apple/Tests/TestCases/Crypto/BIP39/MnemonicTests.swift
  apple/Tests/TestCases/Crypto/BIP39/MnemonicWithPassphraseTests.swift
  apple/Tests/TestCases/Crypto/DerivationPathTests.swift
  src/hierarchical_deterministic/derivation/derivation_path_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

swiftify factorsourcekind
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/FactorSourceKind+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Factor/FactorSource/FactorSourceKind+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSourceKind+Swiftified.swift
  apple/Tests/TestCases/Profile/FactorSourceKindTests.swift
  src/core/error/common_error.rs
  src/hierarchical_deterministic/bip39/bip39_word_count_uniffi_fn.rs
  src/profile/v100/factors/factor_source.rs
  src/profile/v100/factors/factor_source_kind.rs
  src/profile/v100/factors/factor_source_kind_uniffi_fn.rs
  src/profile/v100/factors/mod.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/metadata.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

UF export hash from string and from bytes
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Gateway/Gateway+Swiftified.swift
  apple/Tests/TestCases/Profile/Gateways/GatewayTests.swift
  src/core/hash.rs
  src/core/hash_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

more tests
  apple/Sources/Sargon/Extensions/Methods/Crypto/Hash/Hash+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/DerivationPath+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Hash/Hash+Swiftified.swift
  apple/Tests/TestCases/Crypto/DerivationPathTests.swift
  apple/Tests/TestCases/Crypto/HashTests.swift
  apple/Tests/TestCases/Profile/FactorSource/LedgerHardwareWalletFactorSourceTests.swift
Due: ensure Swift setup for local development, swift tests

fix one
  src/radix_connect/interaction_id.rs
  src/radix_connect/wallet_account.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

UF export Ledger Model from string to string + sample values
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/LedgerHardwareWalletModel+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Derivation/BIP39/Mnemonic+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/LedgerHardwareWalletModel+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/BIP39/BIP39WordCount+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/LedgerHardwareWalletModel+Swiftified.swift
  apple/Tests/TestCases/Profile/LedgerHardwareWalletModelTests.swift
  src/core/error/common_error.rs
  src/profile/v100/factors/factor_sources/ledger_hardware_wallet_factor_source/ledger_hardware_wallet_model.rs
  src/profile/v100/factors/factor_sources/ledger_hardware_wallet_factor_source/ledger_hardware_wallet_model_uniffi_fn.rs
  src/profile/v100/factors/factor_sources/ledger_hardware_wallet_factor_source/mod.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  src/radix_connect/interaction_id.rs
  src/radix_connect/interaction_version.rs
  src/radix_connect/wallet_account.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/items.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/auth/auth.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/auth/login_with_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/auth/use_persona.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/authorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/accounts.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/persona_data.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/reset.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/unauthorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/transaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/transaction_version.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_metadata_unvalidated.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_unvalidated.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/mod.rs
  src/radix_connect/wallet_persona.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  apple/Sources/Sargon/Extensions/Methods/Prelude/NetworkDefinition+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/AssetsExceptionList+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/DepositorsAllowList+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/ResourceOrNonFungible+SampeValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/AssetException+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/AssetsExceptionList+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/DepositorsAllowList+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Keys/PublicKey+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Account/ThirdPartyDeposits/ThirdPartyDeposits+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/AssetException+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/AssetsExceptionList+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/DepositorsAllowList+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/ResourceOrNonFungible+Swiftified.swift
  src/profile/v100/app_preferences/gateways/mod.rs
  src/profile/v100/app_preferences/gateways/network_definition_uniffi_fn.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/asset_exception.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/asset_exception_uniffi_fn.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/assets_exception_list.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/depositors_allow_list.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/mod.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/resource_or_non_fungible.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/resource_or_non_fungible_uniffi_fn.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/third_party_deposits.rs
  src/profile/v100/networks/network/authorized_dapp/mod.rs
  src/profile/v100/networks/network/authorized_dapp/requested_quantity.rs
  src/profile/v100/networks/network/authorized_dapp/requested_quantity_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/third_party_deposit_update/third_party_deposits_delta.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  fixtures/vector/wallet_interactions_dapp_to_wallet.json
  src/radix_connect/wallet_account.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/items.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/auth/login_with_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/authorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/accounts.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/persona_data.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/unauthorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/transaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_metadata.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_metadata_unvalidated.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_unvalidated.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure_response/error_type.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure_response/failure.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/response.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/account/account_proof.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/account/accounts.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_login_with_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_login_without_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_proof.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_use_persona.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/authorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/items.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/persona_data/persona_data.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/success.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/transaction/transaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/unauthorized_request.rs
  src/radix_connect/wallet_persona.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

fix kotlin tests and increase coverage
  apple/Sources/Sargon/Protocols/Collection/CanBeEmptyIdentifiedCollection.swift
  apple/Tests/Utils/Collection/CanBeEmptyCollectionTest.swift
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/OnLedgerSettingsTest.kt
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/resource_or_non_fungible.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/third_party_deposits.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/auth/use_persona.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/authorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/reset.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/unauthorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/transaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_metadata.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_metadata_unvalidated.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_unvalidated.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/account/account_proof.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_login_without_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_use_persona.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/success.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  src/core/types/mod.rs
  src/core/types/requested_quantity.rs
  src/profile/v100/networks/network/authorized_dapp/mod.rs
  src/profile/v100/networks/network/authorized_dapp/requested_quantity_uniffi_fn.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  src/core/types/requested_quantity_uniffi_fn.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

RangeReplacable
  apple/Sources/Sargon/Extensions/Swiftified/Profile/AuthorizedDapp/AuthorizedDapps+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/Accounts+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/AssetsExceptionList+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/DepositorsAllowList+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/EntityFlags+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/OtherGateways+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/P2PLinks+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/Personas+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/ProfileNetworks+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/ReferencesToAuthorizedPersonas+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/SupportedCurves+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Gateway/Gateways+Swiftified.swift
  apple/Sources/Sargon/Protocols/Collection/BaseIdentifiedCollection.swift
  apple/Sources/Sargon/Protocols/Collection/CanBeEmptyIdentifiedCollection.swift
  apple/Tests/TestCases/Profile/Collection/AccountsTests.swift
  apple/Tests/Utils/Collection/CanBeEmptyCollectionTest.swift
Due: ensure Swift setup for local development, swift tests

wip
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/transaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_unvalidated.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure_response/failure.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/success.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

better
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/Accounts+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/AssetsExceptionList+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/DepositorsAllowList+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/EntityFlags+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/FactorSources+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/OtherGateways+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/P2PLinks+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/Personas+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/ProfileNetworks+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/ReferencesToAuthorizedPersonas+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/SupportedCurves+Swiftified.swift
  apple/Sources/Sargon/Protocols/Collection/CanBeEmptyIdentifiedCollection.swift
Due: ensure Swift setup for local development, swift tests

wip
  apple/Sources/Sargon/Protocols/Collection/BaseIdentifiedCollection.swift
  apple/Sources/Sargon/Protocols/Collection/CanBeEmptyIdentifiedCollection.swift
Due: ensure Swift setup for local development, swift tests

wip
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/dapp_metadata/interaction_metadata.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/dapp_metadata/interaction_metadata_unvalidated.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/dapp_metadata/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/accounts.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_uniffi_fn.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/response.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_login_with_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/items.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  src/radix_connect/interaction_version.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

mnemonic
  src/core/hash.rs
  src/core/types/secret_bytes.rs
  src/hierarchical_deterministic/bip39/bip39_entropy.rs
  src/hierarchical_deterministic/bip39/mnemonic_uniffi_fn.rs
  src/profile/v100/address/account_address.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

make language optional for mnemonic
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/Mnemonic+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/AuthorizedDapp/AuthorizedDapps+Swiftified.swift
  apple/Tests/TestCases/Crypto/BIP39/MnemonicTests.swift
  src/core/types/secret_bytes.rs
  src/hierarchical_deterministic/bip39/bip39_entropy.rs
  src/hierarchical_deterministic/bip39/bip39_seed.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

profile init
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Profile+Swiftified.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
Due: ensure Swift setup for local development, swift tests

factor source from hash from MWP
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/FactorSourceIDFromHash+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/Factor/FactorSourceIDFromHashTests.swift
  src/profile/v100/factors/factor_source_id_from_hash_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

crypto params
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/FactorSourceCryptoParameters+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Factor/FactorSourceCryptoParameters+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSourceCryptoParameters+Swiftified.swift
  apple/Tests/TestCases/Profile/Factor/FactorSourceCryptoParametersTests.swift
  src/profile/v100/factors/factor_source_crypto_parameters.rs
  src/profile/v100/factors/factor_source_crypto_parameters_uniffi_fn.rs
  src/profile/v100/factors/mod.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Radix Connect app link parsing
  src/core/error/common_error.rs
  src/radix_connect/app_link_parser.rs
  src/radix_connect/mobile_connect_request.rs
  src/radix_connect/mod.rs
  src/radix_connect/session_id.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests
