Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

Add passphrase factor source kind
  crates/sargon/src/profile/v100/factors/factor_source_kind.rs
Due: fmt, clippy, unit tests

Add passphrase factor source
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Factor/FactorSource/PassphraseFactorSource+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSource+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/PassphraseFactorSource+Swiftified.swift
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/hierarchical_deterministic/bip39/mnemonic.rs
  crates/sargon/src/hierarchical_deterministic/derivation/mnemonic_with_passphrase.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/mod.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/passphrase_factor_source/mod.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/passphrase_factor_source/passphrase_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/passphrase_factor_source/passphrase_factor_source_uniffi_fn.rs
  crates/sargon/src/profile/v100/factors/factor_source.rs
  jvm/sargon-android/src/androidTest/kotlin/com/radixdlt/sargon/os/driver/AndroidStorageDriverTest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSource.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Transfer SignaturesCollectorDependencies into sargon
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/core/types/collections/just.rs
  crates/sargon/src/core/types/collections/mod.rs
  crates/sargon/src/lib.rs
  crates/sargon/src/signing/collector/mod.rs
  crates/sargon/src/signing/collector/signatures_collecting_continuation.rs
  crates/sargon/src/signing/collector/signatures_collector_dependencies.rs
  crates/sargon/src/signing/collector/signing_finish_early_strategy.rs
  crates/sargon/src/signing/host_interaction/interactors/mod.rs
  crates/sargon/src/signing/host_interaction/interactors/mono_factor_sign_interactor.rs
  crates/sargon/src/signing/host_interaction/interactors/poly_factor_sign_interactor.rs
  crates/sargon/src/signing/host_interaction/interactors/sign_interactor.rs
  crates/sargon/src/signing/host_interaction/mod.rs
  crates/sargon/src/signing/host_interaction/requests/mod.rs
  crates/sargon/src/signing/host_interaction/requests/mono_factor_sign_request.rs
  crates/sargon/src/signing/host_interaction/requests/mono_factor_sign_request_input.rs
  crates/sargon/src/signing/host_interaction/requests/poly_factor_sign_request.rs
  crates/sargon/src/signing/host_interaction/requests/transaction_sign_request_input.rs
  crates/sargon/src/signing/host_interaction/sign_interactors.rs
  crates/sargon/src/signing/host_interaction/sign_response.rs
  crates/sargon/src/signing/mod.rs
  crates/sargon/src/signing/petition_types/mod.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/factor_source_referencing.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/mod.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/neglected_factor_instance.rs
  crates/sargon/src/signing/signatures_outecome_types/mod.rs
  crates/sargon/src/signing/signatures_outecome_types/sign_with_factors_outcome.rs
  crates/sargon/src/types/factor_sources_of_kind.rs
  crates/sargon/src/types/hd_signature.rs
  crates/sargon/src/types/hd_signature_input.rs
  crates/sargon/src/types/invalid_transaction_if_neglected.rs
  crates/sargon/src/types/mod.rs
  crates/sargon/src/types/owned_types/mod.rs
  crates/sargon/src/types/owned_types/owned.rs
  crates/sargon/src/types/owned_types/owned_factor_instance.rs
Due: fmt, clippy, unit tests

Add FactorSourceIDFromHash samples
  Cargo.lock
  crates/sargon/Cargo.toml
  crates/sargon/src/lib.rs
  crates/sargon/src/profile/v100/factors/factor_source_id_from_hash.rs
Due: fmt, clippy, unit tests

wip
  Cargo.lock
  crates/sargon/src/lib.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/unvalidated_transaction_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/modify_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/subintent_hash.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/transaction_hashes.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/manifest_object_names/known_manifest_object_names.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/manifest_object_names/known_manifest_object_names_secret_magic.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/manifest_object_names/manifest_object_names.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/manifest_object_names/manifest_object_names_secret_magic.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/manifest_object_names/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest_uniffi_fn.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest_v2/child_intents.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest_v2/child_subintent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest_v2/instructions_v2/instructions_secret_magic_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest_v2/instructions_v2/instructions_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest_v2/instructions_v2/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest_v2/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest_v2/transaction_manifest_secret_magic_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest_v2/transaction_manifest_v2.rs
Due: fmt, clippy, unit tests

Remove custom struct
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/petition_for_factors_state.rs
  crates/sargon/src/types/hd_signature.rs
  crates/sargon/src/types/mod.rs
  crates/sargon/src/types/samples/factor_source_ids_with_mnemonics.rs
  crates/sargon/src/types/samples/hd_factor_source_id_from_hash.rs
  crates/sargon/src/types/samples/mod.rs
Due: fmt, clippy, unit tests

poll tests
  crates/sargon/src/gateway_api/models/logic/response/transaction/status/payload_item.rs
  crates/sargon/src/system/drivers/networking_driver/support/test/mock_networking_driver.rs
  crates/sargon/src/system/sargon_os/sargon_os_transactions.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/transaction/transaction_status_reason.rs
  crates/sargon/tests/integration/main.rs
Due: fmt, clippy, unit tests

Compute transaction fees
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/lib.rs
  crates/sargon/src/system/sargon_os/sargon_os_transaction.rs
  crates/sargon/src/transaction/mod.rs
  crates/sargon/src/transaction/review/fee/advanced_fee_customization.rs
  crates/sargon/src/transaction/review/fee/fee_constants.rs
  crates/sargon/src/transaction/review/fee/fee_mode.rs
  crates/sargon/src/transaction/review/fee/fee_summary_to_review.rs
  crates/sargon/src/transaction/review/fee/mod.rs
  crates/sargon/src/transaction/review/fee/normal_fee_customization.rs
  crates/sargon/src/transaction/review/fee/total_fee.rs
  crates/sargon/src/transaction/review/fee/transaction_fee.rs
  crates/sargon/src/transaction/review/mod.rs
  crates/sargon/src/transaction/review/transaction_to_review.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
Due: fmt, clippy, unit tests

Add petition_for_factors
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/mod.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/petition_for_factors.rs
Due: fmt, clippy, unit tests

Add Implement a general role with hd factor instances
  crates/sargon/src/signing/petition_types/general_role_with_hd_factor_instance.rs
  crates/sargon/src/signing/petition_types/mod.rs
  crates/sargon/src/signing/petition_types/role_kind.rs
Due: fmt, clippy, unit tests

Expose transaction fee mutation functions
  crates/sargon/src/transaction/review/fee/advanced_fee_customization.rs
  crates/sargon/src/transaction/review/fee/fee_constants.rs
  crates/sargon/src/transaction/review/fee/fee_mode.rs
  crates/sargon/src/transaction/review/fee/fee_summary_to_review.rs
  crates/sargon/src/transaction/review/fee/normal_fee_customization.rs
  crates/sargon/src/transaction/review/fee/total_fee.rs
  crates/sargon/src/transaction/review/fee/transaction_fee.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/unvalidated_transaction_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/modify_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_intent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/manifest_object_names/known_manifest_object_names.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/manifest_object_names/known_manifest_object_names_secret_magic.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/manifest_object_names/manifest_object_names.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/manifest_object_names/manifest_object_names_secret_magic.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/manifest_object_names/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest_secret_magic.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest_uniffi_fn.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_secret_magic_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_v2.rs
Due: fmt, clippy, unit tests

submit transaction tests
  crates/sargon/src/system/sargon_os/sargon_os_transactions.rs
Due: fmt, clippy, unit tests

Add securified variant in EntitySecurityState
  crates/sargon/src/profile/logic/profile_network/profile_network_details.rs
  crates/sargon/src/profile/logic/profile_next_derivation.rs
  crates/sargon/src/profile/supporting_types/account_or_persona.rs
  crates/sargon/src/profile/v100/entity/account/account.rs
  crates/sargon/src/profile/v100/entity/persona/persona.rs
  crates/sargon/src/profile/v100/entity_security_state/entity_security_state.rs
  crates/sargon/src/signing/petition_types/mod.rs
  crates/sargon/src/signing/petition_types/petition_for_entity.rs
Due: fmt, clippy, unit tests

Remove transaction fees from review analysis
  crates/sargon/src/system/sargon_os/sargon_os_transaction.rs
  crates/sargon/src/transaction/review/fee/fee_constants.rs
  crates/sargon/src/transaction/review/fee/fee_summary_to_review.rs
  crates/sargon/src/transaction/review/fee/transaction_fee.rs
  crates/sargon/src/transaction/review/mod.rs
  crates/sargon/src/transaction/review/transaction_to_review.rs
Due: fmt, clippy, unit tests

Remove fee models
  crates/sargon/src/transaction/review/fee/advanced_fee_customization.rs
  crates/sargon/src/transaction/review/fee/fee_constants.rs
  crates/sargon/src/transaction/review/fee/fee_mode.rs
  crates/sargon/src/transaction/review/fee/fee_summary_to_review.rs
  crates/sargon/src/transaction/review/fee/mod.rs
  crates/sargon/src/transaction/review/fee/normal_fee_customization.rs
  crates/sargon/src/transaction/review/fee/total_fee.rs
  crates/sargon/src/transaction/review/fee/transaction_fee.rs
Due: fmt, clippy, unit tests

Add fee models
  crates/sargon/src/transaction/fee/advanced_fee_customization.rs
  crates/sargon/src/transaction/fee/fee_constants.rs
  crates/sargon/src/transaction/fee/fee_mode.rs
  crates/sargon/src/transaction/fee/fee_summary_to_review.rs
  crates/sargon/src/transaction/fee/mod.rs
  crates/sargon/src/transaction/fee/normal_fee_customization.rs
  crates/sargon/src/transaction/fee/total_fee.rs
  crates/sargon/src/transaction/fee/transaction_fee.rs
Due: fmt, clippy, unit tests

Take notary private key and nonce generation from hosts
  crates/sargon/src/system/sargon_os/mod.rs
  crates/sargon/src/system/sargon_os/sargon_os_transaction.rs
  crates/sargon/src/system/sargon_os/sargon_os_transaction_uniffi.rs
  crates/sargon/src/transaction/review/transaction_to_review.rs
Due: fmt, clippy, unit tests

Transfer petition_for_transaction
  crates/sargon/src/signing/petition_types/mod.rs
  crates/sargon/src/signing/petition_types/petition_for_transaction.rs
  crates/sargon/src/signing/signatures_outecome_types/mod.rs
  crates/sargon/src/signing/signatures_outecome_types/petition_transaction_outcome.rs
  crates/sargon/src/types/samples/persona_samples.rs
Due: fmt, clippy, unit tests

WIP more files
  crates/sargon/src/signing/collector/mod.rs
  crates/sargon/src/signing/collector/signatures_collector_state.rs
  crates/sargon/src/signing/petition_types/mod.rs
  crates/sargon/src/signing/petition_types/petition_status.rs
  crates/sargon/src/signing/petition_types/petitions.rs
  crates/sargon/src/signing/signatures_outecome_types/maybe_signed_transactions.rs
  crates/sargon/src/signing/signatures_outecome_types/mod.rs
  crates/sargon/src/signing/signatures_outecome_types/signatures_outcome.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/unvalidated_transaction_manifest.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/unvalidated_transaction_manifest_uniffi_fn.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_intent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/instructions/instructions.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest_secret_magic.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest_uniffi_fn.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/message_v2/message_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/instructions_v2/instructions_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_v2.rs
Due: fmt, clippy, unit tests

[ABW-3810] Models for one time persona/accounts authentication (#228)
  crates/sargon/fixtures/vector/wallet_interactions_dapp_to_wallet.json
  crates/sargon/fixtures/vector/wallet_interactions_wallet_to_dapp.json
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/mod.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/entity/proof_of_ownership.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/unauthorized_request.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure_response/error_type.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/authorized_request.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/mod.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/persona/mod.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/persona/persona_proof.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/proof_of_ownership/mod.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/proof_of_ownership/proof.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/proof_of_ownership/proof_of_ownership.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/unauthorized_request.rs
  crates/sargon/tests/vectors/main.rs
Due: fmt, clippy, unit tests

bump
  Cargo.lock
  crates/sargon/Cargo.toml
Due: none

Remove submit_compiled_transaction from OS
  crates/sargon/src/system/sargon_os/sargon_os_transactions.rs
Due: fmt, clippy, unit tests

remove useless derives and format
  crates/sargon/src/system/sargon_os/sargon_os_transactions.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/transaction/transaction_status.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/transaction/transaction_status_reason.rs
Due: fmt, clippy, unit tests

trying to set git author in release script
  scripts/ios/release.sh
Due: none

bump toml to 1.1.27
  crates/sargon/Cargo.toml
Due: none

setting author on git tag too
  scripts/ios/release.sh
Due: none

Transfer SignaturesCollectorPreprocessor
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/profile/logic/account/mod.rs
  crates/sargon/src/profile/logic/account/query_personas.rs
  crates/sargon/src/profile/v100/factors/factor_source.rs
  crates/sargon/src/profile/v100/factors/factor_source_kind.rs
  crates/sargon/src/signing/collector/mod.rs
  crates/sargon/src/signing/collector/signatures_collector_preprocessor.rs
  crates/sargon/src/signing/mod.rs
  crates/sargon/src/signing/petition_types/mod.rs
  crates/sargon/src/signing/petition_types/petition_for_transaction.rs
  crates/sargon/src/signing/petition_types/petition_status.rs
  crates/sargon/src/signing/petition_types/petitions.rs
  crates/sargon/src/signing/signatures_outecome_types/maybe_signed_transactions.rs
  crates/sargon/src/signing/signatures_outecome_types/mod.rs
  crates/sargon/src/signing/signatures_outecome_types/petition_transaction_outcome.rs
  crates/sargon/src/signing/signatures_outecome_types/signatures_outcome.rs
  crates/sargon/src/signing/tx_to_sign.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
Due: fmt, clippy, unit tests

test the delay among polls
  crates/sargon/src/system/sargon_os/sargon_os_transactions.rs
Due: fmt, clippy, unit tests

Revert "delete method to format intent"
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
Due: fmt, clippy, unit tests

bump in Cargo.lock
  Cargo.lock
Due: none

Git config author in release script (#232)
  Cargo.lock
  crates/sargon/Cargo.toml
  scripts/ios/release.sh
Due: none

bump
  Cargo.lock
  crates/sargon/Cargo.toml
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
Due: fmt, clippy, unit tests
