Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true
default_install_hook_types: [pre-push]
default_stages: [pre-push]
repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.22.7
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

  - repo: https://github.com/phylum-dev/phylum-ci
    rev: main
    hooks:
      - id: phylum
        stages: [pre-push]
        # Optional: Specify the dependency file pattern for your repository
        files: |
            (?x)^(
                Cargo\.lock|
            )$
        # Optional: Specify additional arguments to be passed to `phylum-ci`
        args:
          - -vv
          - --depfile=Cargo.lock
          - --audit
          - --force-analysis
          - --all-deps
        verbose: true

wip
  crates/factors/signatures-collector/src/signatures_outcome_types/signatures_outcome.rs
  crates/system/os/signing/src/access_controller_recovery/access_controller_recovery_signing/mod.rs
  crates/system/os/signing/src/access_controller_recovery/access_controller_recovery_signing/signable_intents_builder.rs
  crates/system/os/signing/src/access_controller_recovery/access_controller_recovery_signing/signatures_collector_orchestrator.rs
  crates/system/os/signing/src/access_controller_recovery/access_controller_stop_timed_recovery_signing/mod.rs
  crates/system/os/signing/src/access_controller_recovery/access_controller_stop_timed_recovery_signing/signable_intents_builder.rs
  crates/system/os/signing/src/access_controller_recovery/access_controller_stop_timed_recovery_signing/signature_collector_factory.rs
  crates/system/os/signing/src/access_controller_recovery/manifest_updating.rs
  crates/system/os/signing/src/access_controller_recovery/mod.rs
  crates/system/os/signing/src/access_controller_recovery/transaction_intent_signatures_collector.rs
  crates/system/os/signing/src/entity_securify/mod.rs
  crates/system/os/signing/src/sargon_os_signing.rs
  crates/transaction/manifests/src/manifests_security_shield/top_up_access_controller_xrd_vault.rs
  crates/transaction/manifests/src/modify/modifying_manifest.rs
Due: fmt, clippy, unit tests

wip
  crates/profile/models/app-preferences/src/app_display_settings/fiat_currency.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/fungibles_prices_service/cache.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/fungibles_prices_service/remote_fetcher.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/fungibles_prices_service/tests.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/non_fungibles_prices_service/caching.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/non_fungibles_prices_service/non_fungibles_prices_client.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/non_fungibles_prices_service/remote_fetcher.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/non_fungibles_prices_service/tests.rs
  crates/system/os/os/src/sargon_os_nft_pricing.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_nft_pricing.rs
Due: fmt, clippy, unit tests

wip
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_nft_fiat_values.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Drivers/Networking/NetworkingDriver+URLSession.swift
  crates/system/clients/clients/src/clients/client/token_pricing_client/fungibles_prices_service/cache.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/fungibles_prices_service/mod.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/fungibles_prices_service/remote_fetcher.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/fungibles_prices_service/tests.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/fungibles_prices_service/token_pricing_client.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/non_fungibles_prices_service/caching.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/non_fungibles_prices_service/non_fungibles_prices_client.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/non_fungibles_prices_service/remote_fetcher.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  apple/Sources/Sargon/Drivers/Networking/NetworkingDriver+URLSession.swift
  crates/system/clients/clients/src/clients/client/token_pricing_client/non_fungibles_prices_service/mod.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/non_fungibles_prices_service/remote_fetcher.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/non_fungibles_prices_service/tests.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

fmt
  crates/system/clients/clients/src/clients/client/token_pricing_client/non_fungibles_prices_service/mod.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/non_fungibles_prices_service/remote_fetcher.rs
Due: fmt, clippy, unit tests

remove temporary code
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_nft_fiat_values.rs
Due: fmt, clippy, unit tests

clenup
  crates/system/os/signing/src/access_controller_recovery/access_controller_stop_timed_recovery_signing/signature_collector_factory.rs
  crates/system/os/signing/src/access_controller_recovery/transaction_intent_signatures_collector.rs
Due: fmt, clippy, unit tests

Fix no such file exception. Fix android empty body requests
  crates/system/clients/clients/src/clients/client/token_pricing_client/fungibles_prices_service/cache.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidNetworkingDriver.kt
Due: fmt, clippy, unit tests

cancel existing proposal on recovery
  crates/system/os/os/src/mfa/update_securified_entity.rs
  crates/transaction/manifests/src/manifests_security_shield/mod.rs
Due: fmt, clippy, unit tests

add stop time recovery for ac recovery manifest
  .claude/settings.local.json
  Cargo.lock
  Cargo.toml
  crates/transaction/manifests/src/manifests_security_shield/cancel_recovery_proposal.rs
Due: fmt, clippy, unit tests

Fix android networking issue
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidNetworkingDriver.kt
Due: none

WIP
  crates/core/error/src/common_error.rs
  crates/system/drivers/src/drivers/secure_storage_driver/support/test/ephemeral_secure_storage.rs
  crates/uniffi/uniffi_SPLIT_ME/src/core/error/common_error.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/Bios.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidBiometricAuthorizationDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidStorageDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/EncryptionHelper.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/KeySpec.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/StorageUtils.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/key/ByteArrayKeyMapping.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/key/DeviceFactorSourceMnemonicKeyMapping.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/key/ProfileSnapshotKeyMapping.kt
Due: fmt, clippy, unit tests

Cleanup
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/KeySpec.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/StorageUtils.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/key/ByteArrayKeyMapping.kt
Due: none

WIP
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/key/DeviceFactorSourceMnemonicKeyMapping.kt
Due: none

Use crypto based auth only if there is no timed window key already generated
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidBiometricAuthorizationDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/KeySpec.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/StorageUtils.kt
Due: none

Fix tests
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/KeySpec.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/StorageUtilsTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/key/DeviceFactorSourceMnemonicKeyMappingTest.kt
Due: none

wip
  crates/system/os/signing/src/access_controller_recovery/access_controller_recovery_signing/signature_collector_factory.rs
  crates/system/os/signing/src/access_controller_recovery/access_controller_recovery_signing/signatures_collector_orchestrator.rs
  crates/system/os/signing/src/access_controller_recovery/manifest_updating.rs
Due: fmt, clippy, unit tests

format
  crates/transaction/manifests/src/manifests_security_shield/cancel_recovery_proposal.rs
Due: fmt, clippy, unit tests

typos
  crates/system/os/signing/src/access_controller_recovery/access_controller_recovery_signing/mod.rs
  crates/system/os/signing/src/access_controller_recovery/access_controller_recovery_signing/signature_collector_factory.rs
  crates/system/os/signing/src/access_controller_recovery/access_controller_recovery_signing/signatures_collector_orchestrator.rs
  crates/system/os/signing/src/access_controller_recovery/access_controller_stop_timed_recovery_signing/mod.rs
  crates/system/os/signing/src/entity_securify/mod.rs
Due: fmt, clippy, unit tests

clippy
  .claude/settings.local.json
  crates/system/clients/clients/src/clients/client/access_controller_state_client/cache/access_controller_details_cache.rs
  crates/system/os/factors/src/sargon_os_commit_provisional_security_structure.rs
  crates/system/os/os/src/mfa/sargon_os_access_controller_state.rs
  crates/system/os/os/src/mfa/update_securified_entity.rs
  crates/system/os/signing/src/access_controller_recovery/access_controller_recovery_signing/signable_intents_builder.rs
  crates/system/os/signing/src/access_controller_recovery/access_controller_recovery_signing/signature_collector_factory.rs
  crates/system/os/signing/src/access_controller_recovery/access_controller_stop_timed_recovery_signing/signable_intents_builder.rs
  crates/system/os/signing/src/access_controller_recovery/manifest_updating.rs
  crates/system/os/signing/src/lib.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/poly_manifest_builder/tx_fee_modifier.rs
  crates/transaction/manifests/src/manifests_security_shield/lock_fee_against_xrd_vault_of_access_controller.rs
  crates/transaction/manifests/src/manifests_security_shield/manifests_securify_shield_securified_entity.rs
  crates/transaction/manifests/src/manifests_security_shield/top_up_access_controller_xrd_vault.rs
Due: fmt, clippy, unit tests

tests
  crates/system/os/factors/src/sargon_os_commit_provisional_security_structure.rs
  crates/system/os/os/src/mfa/update_securified_entity.rs
  crates/system/os/signing/src/access_controller_recovery/access_controller_recovery_signing/signature_collector_factory.rs
  crates/transaction/manifests/src/manifests_security_shield/manifests_securify_shield_securified_entity.rs
  crates/transaction/manifests/src/modify/modifying_manifest.rs
  fixtures/transaction/create_access_controller_for_account.rtm
  fixtures/transaction/create_access_controller_for_account_with_ac_xrd_vault_top_up_by_securified_account_amount_42.rtm
  fixtures/transaction/create_access_controller_for_account_with_ac_xrd_vault_top_up_by_unsecurified_account.rtm
  fixtures/transaction/create_access_controller_for_persona_with_ac_xrd_vault_top_up_by_securified_account_amount_42.rtm
  fixtures/transaction/create_access_controller_for_persona_with_ac_xrd_vault_top_up_by_unsecurified_account.rtm
  fixtures/transaction/update_shield_of_account_init_with_P_confirm_with_C.rtm
  fixtures/transaction/update_shield_of_account_init_with_P_confirm_with_C_with_top_up_where_payer_is_entity_applying_shield.rtm
  fixtures/transaction/update_shield_of_account_init_with_P_confirm_with_C_with_top_up_where_payer_is_entity_applying_shield_with_xrd_lock.rtm
  fixtures/transaction/update_shield_of_persona_init_with_P_confirm_with_C.rtm
  fixtures/transaction/update_shield_of_persona_init_with_R_confirm_with_C.rtm
  fixtures/transaction/update_shield_of_persona_init_with_R_confirm_with_P.rtm
Due: fmt, clippy, unit tests

fix tests
  crates/profile/models/app-preferences/src/security.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_structure_of_factors/security_structure_of_factor_source_ids.rs
Due: fmt, clippy, unit tests

update
  Cargo.lock
  Cargo.toml
  crates/profile/models/base-entity/src/entity_security_state/entity_security_state.rs
  crates/profile/models/base-entity/src/entity_security_state/secured_entity_control/secured_entity_control.rs
  crates/transaction/manifests/src/manifests_security_shield/manifests_securify_shield_unsecurified_entity.rs
Due: fmt, clippy, unit tests

Update JNA dependency for android 16 kb page size compatibility
  jvm/gradle/libs.versions.toml
Due: none

Extend profile with mfa instances
  crates/core/utils/src/constants.rs
  crates/factors/factors/src/factor_instance/badge_virtual_source.rs
  crates/factors/factors/src/factor_instance/factor_instance.rs
  crates/factors/factors/src/factor_instance/factor_instance_badge.rs
  crates/gateway/client-and-api/src/endpoints/extensions_endpoints.rs
  crates/gateway/client-and-api/src/endpoints/mod.rs
  crates/gateway/client-and-api/src/endpoints/paths.rs
  crates/gateway/models/src/types/request/extensions/extensions_requests.rs
  crates/gateway/models/src/types/request/extensions/mod.rs
  crates/gateway/models/src/types/request/mod.rs
  crates/gateway/models/src/types/response/extensions/entities_by_role_requirement_lookup.rs
  crates/gateway/models/src/types/response/extensions/mod.rs
  crates/gateway/models/src/types/response/mod.rs
  crates/profile/logic/logic_SPLIT_ME/src/logic/profile_network/profile_network_entities_linked_to_factor_source.rs
  crates/profile/models/profile_SPLIT_ME/src/samples/profile_samples.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/networks/network/mfa_factor_instance.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/networks/network/mfa_factor_instances.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/networks/network/mod.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/networks/network/profile_network.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/networks/profile_networks.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/profile_network_get_entities.rs
  crates/system/os/factors/src/sargon_os_entities_linked_to_factor_source.rs
  crates/system/os/factors/src/sargon_os_mark_as_securified.rs
  crates/system/os/os/src/sargon_os_accounts.rs
  crates/system/os/os/src/sargon_os_factors.rs
  crates/system/os/os/src/sargon_os_profile.rs
  crates/system/os/signing/src/sargon_os_signing.rs
  crates/system/os/transaction/src/single/support/test_analysis_support.rs
  crates/system/os/transaction/src/single/tx/sargon_os_transaction_manifest_modify.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/networks/network/mfa_factor_instance.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/networks/network/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/networks/network/profile_network.rs
Due: fmt, clippy, unit tests
