Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

SwiftFormat:
  name: SwiftFormat
  language: system
  entry: swiftformat .
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

Fix android build
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/RadixConnectMobile.kt
Due: none

Delete unnecessary kotlin extension function
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/RadixConnectMobile.kt
Due: none

fix
  apple/Sources/Sargon/Extensions/Methods/Profile/P2PTransportProfiles+Wrap+Functions.swift
  crates/profile/models/app-preferences/src/app_preferences.rs
  crates/profile/models/app-preferences/src/p2p_transport_profiles.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/app_preferences/app_preferences.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/app_preferences/p2p_transport_profiles/p2p_transport_profile.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AppPreferences.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2pTransportProfile.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  apple/Sources/Sargon/Extensions/SampleValues/Profile/P2PTransportProfiles+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/P2PTransportProfiles+Swiftified.swift
  crates/profile/models/app-preferences/src/app_preferences.rs
  crates/profile/models/app-preferences/src/p2p_transport_profiles.rs
  crates/system/os/os/src/sargon_os.rs
  crates/system/os/os/src/sargon_os_radix_connect_mobile.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/app_preferences/p2p_transport_profiles/ice_server.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/app_preferences/p2p_transport_profiles/p2p_transport_profile.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/P2pIceServerSample.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

api
  apple/Sources/Sargon/Extensions/Methods/Profile/P2PTransportProfiles+Wrap+Functions.swift
  crates/system/os/os/src/lib.rs
  crates/system/os/os/src/sargon_os_p2p_transport_profiles.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_p2p_transport_profiles.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

rcr crud api
  crates/system/os/os/src/sargon_os_relay_service.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_relay_service.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Extensions/SampleValues/Profile/P2PTransportProfiles+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/P2PTransportProfiles+Swiftified.swift
  apple/Tests/TestCases/Profile/MFA/SecurityShieldsBuilderTests.swift
  examples/iOS/Backend/Sources/Planbok/Features/OverlayWindow/OverlayFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SplashFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

test fixes
  crates/profile/models/app-preferences/src/app_preferences.rs
  crates/profile/models/app-preferences/src/p2p_transport_profiles.rs
  crates/profile/models/app-preferences/src/relay_services.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/profile.rs
Due: fmt, clippy, unit tests

kt fix
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AppPreferencesTest.kt
Due: none

work
  crates/system/os/factors/src/lib.rs
  crates/system/os/factors/src/sargon_os_used_mfa_signature_resources_with_accounts.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_factors.rs
Due: fmt, clippy, unit tests

wip
  crates/profile/models/profile_SPLIT_ME/src/v100/networks/network/address_book.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/networks/network/address_book_entry.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/networks/network/mod.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/networks/network/profile_network.rs
  crates/system/os/os/src/lib.rs
  crates/system/os/os/src/sargon_os_address_book.rs
  crates/system/profile-state-holder/src/profile_state_holder.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/networks/network/address_book_entry.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/networks/network/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/networks/network/profile_network.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_address_book.rs
Due: fmt, clippy, unit tests

fmt
  crates/profile/models/profile_SPLIT_ME/src/v100/networks/network/address_book_entry.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/networks/network/mod.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/networks/network/profile_network.rs
  crates/system/os/os/src/lib.rs
  crates/system/os/os/src/sargon_os_address_book.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/mod.rs
Due: fmt, clippy, unit tests

fix
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ProfileNetworkSample.kt
Due: none

refactor and expose token price api
  crates/system/clients/clients/src/clients/client/token_pricing_client/fungibles_prices_service/cache.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/fungibles_prices_service/remote_fetcher.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/fungibles_prices_service/tests.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/fungibles_prices_service/token_pricing_client.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/non_fungibles_prices_service/non_fungibles_prices_client.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/non_fungibles_prices_service/tests.rs
  crates/system/os/os/src/lib.rs
  crates/system/os/os/src/sargon_os_fungible_pricing.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_fungible_fiat_values.rs
Due: fmt, clippy, unit tests

wip
  crates/profile/models/app-preferences/src/p2p_transport_profiles.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/networks/network/mod.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/networks/network/profile_network.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/networks/network/token_price_service.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/networks/network/token_price_services.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/fungibles_prices_service/remote_fetcher.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/fungibles_prices_service/tests.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/fungibles_prices_service/token_pricing_client.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/non_fungibles_prices_service/non_fungibles_prices_client.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/non_fungibles_prices_service/remote_fetcher.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/non_fungibles_prices_service/tests.rs
  crates/system/os/os/src/lib.rs
  crates/system/os/os/src/sargon_os_fungible_pricing.rs
  crates/system/os/os/src/sargon_os_nft_pricing.rs
  crates/system/os/os/src/sargon_os_token_price_services.rs
  crates/system/profile-state-holder/src/profile_state_holder.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/app_preferences/p2p_transport_profiles/saved_p2p_transport_profiles.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/networks/network/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/networks/network/profile_network.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/networks/network/token_price_service.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_token_price_services.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ProfileNetworkSample.kt
Due: fmt, clippy, unit tests

fmt
  crates/profile/models/app-preferences/src/p2p_transport_profiles.rs
Due: fmt, clippy, unit tests

clippy
  crates/profile/models/profile_SPLIT_ME/src/v100/networks/network/token_price_services.rs
Due: fmt, clippy, unit tests

fix
  crates/system/clients/clients/src/clients/client/token_pricing_client/non_fungibles_prices_service/non_fungibles_prices_client.rs
Due: fmt, clippy, unit tests

fmt
  crates/system/clients/clients/src/clients/client/token_pricing_client/non_fungibles_prices_service/non_fungibles_prices_client.rs
Due: fmt, clippy, unit tests

Allow storing any addresses in address book
  crates/profile/models/profile_SPLIT_ME/src/v100/networks/network/address_book.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/networks/network/address_book_entry.rs
  crates/system/os/os/src/sargon_os_address_book.rs
  crates/system/profile-state-holder/src/profile_state_holder.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/networks/network/address_book_entry.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_address_book.rs
Due: fmt, clippy, unit tests

wip
  crates/core/error/src/common_error.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/fungibles_prices_service/remote_fetcher.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/fungibles_prices_service/token_pricing_client.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/non_fungibles_prices_service/non_fungibles_prices_client.rs
  crates/system/clients/clients/src/clients/client/token_pricing_client/non_fungibles_prices_service/tests.rs
  crates/system/clients/clients/src/clients/clients.rs
  crates/system/os/os/src/sargon_os_address_book.rs
  crates/system/os/os/src/sargon_os_fungible_pricing.rs
  crates/uniffi/uniffi_SPLIT_ME/src/core/error/common_error.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_address_book.rs
Due: fmt, clippy, unit tests

wip
  crates/profile/models/app-preferences/src/relay_services.rs
  crates/system/os/os/src/sargon_os_radix_connect_mobile.rs
  crates/system/os/os/src/sargon_os_relay_service.rs
  crates/uniffi/uniffi_SPLIT_ME/src/lib.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/app_preferences/relay_services/relay_service.rs
  crates/uniffi/uniffi_SPLIT_ME/src/radix_connect/mobile/client.rs
  crates/uniffi/uniffi_SPLIT_ME/uniffi.toml
Due: fmt, clippy, unit tests

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  SwiftFormat: any of: \.swift$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
