Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true
default_install_hook_types: [pre-push]
default_stages: [pre-push]
repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.22.7
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

  - repo: https://github.com/phylum-dev/phylum-ci
    rev: main
    hooks:
      - id: phylum
        stages: [pre-push]
        # Optional: Specify the dependency file pattern for your repository
        files: |
            (?x)^(
                Cargo\.lock|
            )$
        # Optional: Specify additional arguments to be passed to `phylum-ci`
        args:
          - -vv
          - --depfile=Cargo.lock
          - --audit
          - --force-analysis
          - --all-deps
        verbose: true

clippy
  crates/app/home-cards/src/manager.rs
Due: fmt, clippy, unit tests

set nextest version
  .github/workflows/test.yml
Due: none

correct version
  .github/workflows/test.yml
Due: none

bump toolchain
  rust-toolchain.toml
Due: none

Revert "bump toolchain"
  rust-toolchain.toml
Due: none

version
  .github/workflows/test.yml
Due: none

swiftformat
  examples/iOS/Backend/Sources/Planbok/Features/OverlayWindow/OverlayFeature.swift
  examples/iOS/Backend/Tests/PlanbokTests/PlanbokTests.swift
Due: ensure Swift setup for local development, SwiftFormat

pin version
  .github/workflows/test.yml
Due: none

try adding v
  .github/workflows/test.yml
Due: none

format
  examples/iOS/Backend/Sources/Planbok/Features/OverlayWindow/OverlayFeature.swift
  examples/iOS/Backend/Tests/PlanbokTests/PlanbokTests.swift
Due: ensure Swift setup for local development, SwiftFormat

pin nextest version (#412)
  .github/workflows/test.yml
  examples/iOS/Backend/Sources/Planbok/Features/OverlayWindow/OverlayFeature.swift
  examples/iOS/Backend/Tests/PlanbokTests/PlanbokTests.swift
Due: ensure Swift setup for local development, SwiftFormat

kt home cards storage impl update
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/homecards/HomeCardsStorage.kt
Due: none

wip
  crates/system/os/factors/src/apply_security_shield/sargon_os_apply_security_shield_interaction.rs
  crates/system/os/factors/src/test_instances_provider.rs
  crates/system/os/os/src/sargon_os.rs
Due: fmt, clippy, unit tests

wip
  crates/system/os/factors/src/test_instances_provider.rs
Due: fmt, clippy, unit tests

wip
  crates/factors/factors/src/factor_source_common.rs
  crates/factors/factors/src/factor_sources/private_hierarchical_deterministic_factor_source.rs
Due: fmt, clippy, unit tests

wip
  Package.swift
  apple/Sources/Sargon/Drivers/ArculusCSDK/ArculusCSDK.swift
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCSessionClient.swift
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCTag+IO.swift
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCTagReaderSessionAsyncDelegate.swift
  apple/Sources/Sargon/Drivers/TestDrivers/TestDrivers.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/BIOS/BIOS+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/Drivers/Drivers+Swiftified.swift
  apple/Sources/Sargon/SargonOS/SargonOSProtocol.swift
  apple/Sources/Sargon/SargonOS/TestOS.swift
  crates/system/clients/clients/src/clients/client/arculus_wallet_client/arculus_wallet_client.rs
  crates/system/os/arculus-card/src/sargon_os_arculus_card.rs
  crates/system/os/factors/src/add_factor_source/device_mnemonic_builder.rs
  crates/system/os/os/src/lib.rs
  crates/system/os/os/src/sargon_os_arculus_card.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/arculus_card/sargon_os_arculus_card.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

update tests
  crates/core/error/src/common_error.rs
  crates/system/clients/clients/src/clients/client/arculus_wallet_client/arculus_min_firmware_version_requirement.rs
  crates/system/clients/clients/src/clients/client/arculus_wallet_client/arculus_wallet_client.rs
  crates/system/clients/clients/src/clients/client/arculus_wallet_client/arculus_wallet_client_io.rs
  crates/system/clients/clients/src/clients/client/arculus_wallet_client/mod.rs
  crates/system/os/arculus-card/src/sargon_os_arculus_card.rs
  crates/system/os/os/src/lib.rs
  crates/system/os/os/src/sargon_os_arculus_card.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/arculus_card/sargon_os_arculus_card.rs
Due: fmt, clippy, unit tests

format
  Package.swift
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCSessionClient.swift
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCTag+IO.swift
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCTagDriver.swift
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCTagReaderSessionAsyncDelegate.swift
  apple/Sources/Sargon/Drivers/TestDrivers/TestDrivers.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/ArculusCardFactorSource+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/BIOS/BIOS+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/Drivers/Drivers+Swiftified.swift
  apple/Sources/Sargon/SargonOS/TestOS.swift
Due: ensure Swift setup for local development, SwiftFormat

typos
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCSessionClient.swift
  crates/core/error/src/common_error.rs
  crates/crypto/hd/src/bip39/mnemonic.rs
  crates/system/clients/clients/src/clients/client/arculus_wallet_client/arculus_wallet_client.rs
  crates/system/clients/clients/src/clients/client/arculus_wallet_client/arculus_wallet_client_io.rs
  crates/system/clients/clients/src/clients/client/arculus_wallet_client/arculus_wallet_response_status.rs
  crates/uniffi/uniffi_SPLIT_ME/src/core/error/common_error.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  crates/system/os/factors/src/add_factor_source/device_mnemonic_builder.rs
Due: fmt, clippy, unit tests

clippy
  crates/system/clients/clients/src/clients/client/arculus_wallet_client/arculus_wallet_client.rs
  crates/system/drivers/src/drivers/arculus_csdk_driver/support/test/arculus_csdk_driver.rs
  crates/system/drivers/src/drivers/nfc_driver/support/test/nfc_tag_driver.rs
  crates/system/os/arculus-card/src/lib.rs
  crates/system/os/factors/src/add_factor_source/mnemonic_builder.rs
  crates/system/os/factors/src/add_factor_source/mod.rs
  crates/system/os/os/src/sargon_os_factors.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/add_factor_source/mnemonic_builder.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/add_factor_source/mod.rs
Due: fmt, clippy, unit tests

wip
  crates/system/drivers/src/drivers/nfc_driver/nfc_driver.rs
Due: fmt, clippy, unit tests

wip
  apple/Tests/IntegrationTests/DriversTests/DriversTests.swift
  apple/Tests/IntegrationTests/DriversTests/EventBusDriverTests.swift
  apple/Tests/IntegrationTests/SargonOS/BIOSTests.swift
  apple/Tests/IntegrationTests/SargonOS/TestOSTests.swift
  apple/Tests/TestCases/Profile/Factor/ArculusCardFactorSourceTests.swift
Due: ensure Swift setup for local development, SwiftFormat

format
  crates/system/os/factors/src/add_factor_source/mnemonic_builder.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/add_factor_source/mnemonic_builder.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/arculus_card/sargon_os_arculus_card.rs
Due: fmt, clippy, unit tests

polish
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCSessionClient.swift
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCTag+IO.swift
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCTagDriver.swift
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCTagReaderSessionAsyncDelegate.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/ArculusCardFactorSource+Wrap+Functions.swift
  crates/factors/next-derivation-index-ephemeral/src/agnostic_paths/quantities.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/mfa_factor_sources/arculus_card_factor_source/arculus_card_factor_source.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

updates
  apple/Tests/TestCases/Profile/Factor/ArculusCardFactorSourceTests.swift
  crates/crypto/ecc/src/signatures/ed25519_signature.rs
  crates/factors/factors/src/factor_source_id_from_hash.rs
  crates/system/drivers/src/drivers/secure_storage_driver/support/secure_storage_key.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/mfa_factor_sources/arculus_card_factor_source/arculus_card_factor_source.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

fix
  crates/uniffi/uniffi_SPLIT_ME/src/system/drivers/secure_storage_driver/support/secure_storage_key.rs
Due: fmt, clippy, unit tests

add drivers
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/Bios.kt
Due: none

fix
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/Bios.kt
Due: none

Update Bios.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/Bios.kt
Due: none

atemtp
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/SargonOsManagerTest.kt
Due: none

import
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/SargonOsManagerTest.kt
Due: none

new api
  crates/core/error/src/common_error.rs
  crates/system/clients/clients/src/clients/client/arculus_wallet_client/arculus_wallet_client.rs
  crates/system/clients/clients/src/clients/client/arculus_wallet_client/arculus_wallet_client_io.rs
  crates/system/clients/clients/src/clients/client/arculus_wallet_client/arculus_wallet_response_status.rs
  crates/system/drivers/src/drivers/arculus_csdk_driver/arculus_csdk_driver.rs
  crates/system/drivers/src/drivers/arculus_csdk_driver/support/test/arculus_csdk_driver.rs
  crates/system/drivers/src/drivers/nfc_driver/nfc_driver.rs
  crates/system/os/arculus-card/src/sargon_os_arculus_card.rs
  crates/system/os/os/src/sargon_os_arculus_card.rs
  crates/uniffi/uniffi_SPLIT_ME/src/core/error/common_error.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/drivers/arculus_csdk_driver/arculus_csdk_driver.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/drivers/nfc_tag_driver/nfc_tag_driver.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/arculus_card/sargon_os_arculus_card.rs
Due: fmt, clippy, unit tests
