Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

updated wallet_interactions_dapp_to_wallet.json and wallet_interactions_wallet_to_dapp.json
  crates/sargon/fixtures/vector/wallet_interactions_dapp_to_wallet.json
  crates/sargon/fixtures/vector/wallet_interactions_wallet_to_dapp.json
Due: none

updated package version
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

added a comma
  crates/sargon/src/radix_connect/mobile/deep_link_parsing/parser.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/authorized_request.rs
Due: fmt, clippy, unit tests

fixed formatting
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/unauthorized_request.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/authorized_request.rs
Due: fmt, clippy, unit tests

[no ci] wip
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/securify_entity_factor_instances_provider.rs
  crates/sargon/src/profile/mfa/security_structures/decl_security_structure_of.rs
  crates/sargon/src/profile/mfa/security_structures/factor_instance_level/matrix_of_factor_instances.rs
  crates/sargon/src/profile/mfa/security_structures/factor_rules_violation.rs
  crates/sargon/src/profile/mfa/security_structures/factor_source_id_level/matrix_of_factor_source_ids.rs
  crates/sargon/src/profile/mfa/security_structures/factor_source_level/matrix_of_factor_sources.rs
  crates/sargon/src/profile/mfa/security_structures/factor_source_level/security_structure_of_factor_sources.rs
  crates/sargon/src/signing/petition_types/general_role_with_hd_factor_instance.rs
  crates/sargon/src/signing/petition_types/petition_for_entity.rs
  crates/sargon/src/types/samples/account_samples.rs
  crates/sargon/src/types/samples/persona_samples.rs
  crates/sargon/tests/integration/main.rs
Due: fmt, clippy, unit tests

fixes
  apple/Tests/IntegrationTests/DriversTests/EventBusDriverTests.swift
  apple/Tests/IntegrationTests/SargonOS/TestOSTests.swift
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/core/types/collections/identified_vec_of/identified_vec_of_modify.rs
  crates/sargon/src/factor_instances_provider/agnostic_paths/index_agnostic_path.rs
  crates/sargon/src/factor_instances_provider/factor_instances_cache/factor_instances_cache.rs
  crates/sargon/src/factor_instances_provider/factor_instances_cache/serializable_cache/factor_instances_cache_snapshot.rs
  crates/sargon/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os_factors.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/delete_account/delete_account_transfers.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

PR review comment fixes
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
  crates/sargon/src/factor_instances_provider/provider/outcome/factor_instances_provider_outcome_for_factor.rs
  crates/sargon/src/factor_instances_provider/provider/outcome/internal_factor_instances_provider_outcome_for_factor.rs
Due: fmt, clippy, unit tests

more review fixes
  crates/sargon/src/factor_instances_provider/types/factor_instances.rs
  crates/sargon/src/hierarchical_deterministic/bip32/key_space/key_space.rs
  crates/sargon/src/keys_collector/collector/keys_collector.rs
  crates/sargon/src/keys_collector/collector/keys_collector_preprocessor.rs
  crates/sargon/src/profile/mfa/secured_entity_control/secured_entity_control.rs
  crates/sargon/src/profile/mfa/security_structures/decl_security_structure_of.rs
  crates/sargon/src/profile/v100/entity_security_state/unsecured_entity_control.rs
  crates/sargon/src/profile/v100/factors/factor_source_id.rs
  crates/sargon/src/signing/collector/signatures_collector.rs
  crates/sargon/src/system/sargon_os/sargon_os_personas.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Util/SharedConstants.swift
  crates/sargon-uniffi/src/core/utils/constants.rs
  crates/sargon-uniffi/src/core/utils/mod.rs
  crates/sargon/src/core/utils/constants.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

bump
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

fmt
  crates/sargon-uniffi/src/core/utils/mod.rs
  crates/sargon/src/core/utils/constants.rs
Due: fmt, clippy, unit tests

clippy fix
  crates/sargon/src/factor_instances_provider/types/factor_instances.rs
Due: fmt, clippy, unit tests

remove pub __hidden
  crates/sargon-uniffi/src/profile/mfa/security_structures/decl_security_structure_of.rs
  crates/sargon/src/profile/mfa/secured_entity_control/secured_entity_control.rs
  crates/sargon/src/profile/mfa/security_structures/decl_security_structure_of.rs
Due: fmt, clippy, unit tests

unneeded import
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

[ABW-3037] Move proof of ownership data models from unauthorized request to authorized request (#273)
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/authorized_request.rs
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/unauthorized_request.rs
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/authorized_request.rs
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/unauthorized_request.rs
  crates/sargon/Cargo.toml
  crates/sargon/fixtures/vector/wallet_interactions_dapp_to_wallet.json
  crates/sargon/fixtures/vector/wallet_interactions_wallet_to_dapp.json
  crates/sargon/src/radix_connect/mobile/deep_link_parsing/parser.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/authorized_request.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/unauthorized_request.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/authorized_request.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/unauthorized_request.rs
  crates/sargon/tests/vectors/main.rs
Due: fmt, clippy, unit tests

fixes
  crates/sargon-uniffi/src/core/utils/constants.rs
  crates/sargon/src/core/utils/constants.rs
Due: fmt, clippy, unit tests

Add shared constants kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SharedConstants.kt
Due: none

bump version
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

fix
  crates/sargon/src/profile/mfa/security_structures/decl_security_structure_of.rs
  crates/sargon/src/profile/mfa/security_structures/factor_rules_validation.rs
  crates/sargon/src/profile/mfa/security_structures/mod.rs
  crates/sargon/src/signing/collector/signatures_collector.rs
  crates/sargon/src/signing/petition_types/factor_list_kind.rs
  crates/sargon/src/signing/petition_types/general_role_with_hd_factor_instance.rs
  crates/sargon/src/signing/petition_types/mod.rs
  crates/sargon/src/types/samples/general_role_with_hd_factor_instance_samples.rs
Due: fmt, clippy, unit tests

Add missing git tag command
  .github/workflows/release.yml
Due: none

Bump version
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

Add missing git tag command (#275)
  .github/workflows/release.yml
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

bump to 1.1.59
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

harmonize validation
  crates/sargon/src/profile/mfa/security_structures/decl_security_structure_of.rs
  crates/sargon/src/profile/mfa/security_structures/factor_rules_violation.rs
  crates/sargon/src/signing/petition_types/petition_for_entity.rs
Due: fmt, clippy, unit tests

Add hosts shared constants (#274)
  Cargo.lock
  apple/Sources/Sargon/Util/SharedConstants.swift
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/core/utils/constants.rs
  crates/sargon-uniffi/src/core/utils/mod.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/core/utils/constants.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SharedConstants.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Use the correct artifact path on the release step
  .github/workflows/release.yml
Due: none

Bump versions
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

Revert "Bump versions"
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

Move artifact on the top level dir
  .github/workflows/release.yml
Due: none

Version bump
  .github/workflows/release.yml
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

Use the correct artifact path on the release step (#276)
  .github/workflows/release.yml
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

Remove single quotes from release title variable
  .github/workflows/release.yml
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

wip
  Cargo.lock
  crates/sargon-uniffi/src/system/sargon_os/pre_authorization/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/pre_authorization/sargon_os_pre_authorization_status.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_transactions.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/manifest_summary.rs
  crates/sargon/src/gateway_api/models/logic/response/ledger_state.rs
  crates/sargon/src/gateway_api/models/types/response/transaction/status/transaction_status.rs
  crates/sargon/src/system/sargon_os/pre_authorization/mod.rs
  crates/sargon/src/system/sargon_os/pre_authorization/sargon_os_pre_authorization_status.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_status.rs
Due: fmt, clippy, unit tests

[no ci] wip
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/cache_filler.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/securify_entity_factor_instances_provider.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/virtual_entity_creating_instance_provider.rs
  crates/sargon/src/profile/mfa/security_structures/decl_security_structure_of.rs
  crates/sargon/src/profile/mfa/security_structures/factor_instance_level/confirmation_role_with_factor_instances.rs
Due: fmt, clippy, unit tests

Set useLocalFramework to false before creating release
  .github/workflows/release.yml
Due: none

Remove single quotes from release title variable (#277)
  .github/workflows/release.yml
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

fix typo
  .github/workflows/release.yml
Due: none

WIP
  crates/sargon-uniffi/src/system/sargon_os/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/pre_authorization/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/pre_authorization/sargon_os_pre_authorization_status.rs
  crates/sargon-uniffi/src/system/sargon_os/pre_authorization/support/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/pre_authorization/support/pre_authorization_status.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/manifest_summary.rs
  crates/sargon/src/core/utils/constants.rs
  crates/sargon/src/gateway_api/endpoints/transaction_endpoints.rs
  crates/sargon/src/gateway_api/models/logic/response/transaction/status/transaction_status.rs
  crates/sargon/src/gateway_api/models/types/request/transaction/status/mod.rs
  crates/sargon/src/gateway_api/models/types/request/transaction/status/subintent_status.rs
  crates/sargon/src/gateway_api/models/types/request/transaction/status/transaction_status.rs
  crates/sargon/src/gateway_api/models/types/response/transaction/mod.rs
  crates/sargon/src/gateway_api/models/types/response/transaction/status/transaction_status.rs
  crates/sargon/src/gateway_api/models/types/response/transaction/subintent_status/mod.rs
  crates/sargon/src/gateway_api/models/types/response/transaction/subintent_status/response.rs
  crates/sargon/src/gateway_api/models/types/response/transaction/subintent_status/status.rs
  crates/sargon/src/system/sargon_os/pre_authorization/mod.rs
  crates/sargon/src/system/sargon_os/pre_authorization/sargon_os_pre_authorization_status.rs
  crates/sargon/src/system/sargon_os/pre_authorization/support/mod.rs
  crates/sargon/src/system/sargon_os/pre_authorization/support/pre_authorization_status.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_status.rs
Due: fmt, clippy, unit tests

fix tests
  crates/sargon/src/core/utils/constants.rs
  crates/sargon/src/gateway_api/models/logic/response/transaction/mod.rs
  crates/sargon/src/gateway_api/models/logic/response/transaction/subintent_status/mod.rs
  crates/sargon/src/gateway_api/models/logic/response/transaction/subintent_status/subintent_status.rs
  crates/sargon/src/system/sargon_os/pre_authorization/sargon_os_pre_authorization_status.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_status.rs
Due: fmt, clippy, unit tests
