Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

SwiftFormat:
  name: SwiftFormat
  language: system
  entry: swiftformat .
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

revert Ref type
  apple/Sources/Sargon/Extensions/Methods/Profile/Profile+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile+Supporting+Types/References/RefBytes+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile+Supporting+Types/References/RefProfile+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile+Supporting+Types/References/RefBytes+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile+Supporting+Types/References/RefProfile+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Profile+Swiftified.swift
  apple/Tests/TestCases/Profile+Supporting+Types/RefBytesTests.swift
  apple/Tests/TestCases/Profile+Supporting+Types/RefProfileTests.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
  apple/Tests/Utils/RefTest.swift
  apple/Tests/Utils/Test.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Profile.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
  src/core/error/common_error.rs
  src/profile/mod.rs
  src/profile/references/mod.rs
  src/profile/references/ref_bytes.rs
  src/profile/references/ref_macro.rs
  src/profile/references/ref_profile.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_file_contents.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

fixes
  apple/Sources/Sargon/Extensions/Methods/Profile/ProfileFileContents+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile+Supporting+Types/ProfileFileContents+Swiftified.swift
  src/profile/v100/profile_file_contents.rs
  src/profile/v100/profile_file_contents_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

properly make Codable unavailable on Profile.
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Profile+Swiftified.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
Due: ensure Swift setup for local development, SwiftFormat

revert pub crate chnage
  src/profile/v100/profile_uniffi_fn.rs
Due: fmt, clippy, unit tests

Swift: Remove `Codable` on `Profile` since it is too slow. Some minor improvments. (#119)
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Extensions/Methods/Profile/Profile+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile+Supporting+Types/ProfileFileContents+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile+Supporting+Types/ProfileFileContents+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Profile+Swiftified.swift
  apple/Tests/TestCases/Profile+Supporting+Types/ProfileFileContentsTests.swift
  apple/Tests/TestCases/Profile/DeviceInfoTests.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  apple/Tests/Utils/Test.swift
  fixtures/vector/big_profile_100_accounts.json
  fixtures/vector/huge_profile_1000_accounts.json
  src/core/types/bag_of_bytes.rs
  src/http_client/network_antenna/network_antenna.rs
  src/profile/encrypted/encryption/aes_gcm_256.rs
  src/profile/encrypted/encryption/aes_gcm_sealed_box.rs
  src/profile/encrypted/encryption/encrypted_profile_snapshot.rs
  src/profile/encrypted/encryption/encryption_scheme.rs
  src/profile/encrypted/encryption/versioned_encryption.rs
  src/profile/v100/header/device_info.rs
  src/profile/v100/json_data_convertible.rs
  src/profile/v100/mod.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_file_contents.rs
  src/profile/v100/profile_file_contents_uniffi_fn.rs
  src/profile/v100/profile_uniffi_fn.rs
  src/radix_connect/mobile/relay_service/service.rs
  src/wallet/wallet_accounts.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

update CI / CD to use main branch instead of develop
  .github/workflows/release-desktop-bins.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  apple/Tests/TestCases/Prelude/DependencyInformationTests.swift
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DependencyInformationTest.kt
  scripts/ios/release.sh
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/build_information/dependency_information.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/build_information/dependency_information_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  src/profile/v100/mod.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
  src/profile/v100/proto_profile_maybe_with_legacy_p2p_links.rs
Due: fmt, clippy, unit tests

Remove p2p links references
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/P2PLinks+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/P2PLinks+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/P2PLink+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/P2PLinks+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/P2PLink+Swiftified.swift
  apple/Tests/TestCases/Profile/Collection/P2PLinksTests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2PLinks.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Personas.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/P2PLinkSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/P2PLinksSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AppPreferencesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/P2PLinksTest.kt
  src/profile/v100/app_preferences/app_preferences.rs
  src/profile/v100/app_preferences/mod.rs
  src/profile/v100/app_preferences/p2p_links/mod.rs
  src/profile/v100/app_preferences/p2p_links/p2p_link.rs
  src/profile/v100/app_preferences/p2p_links/p2p_links.rs
  src/profile/v100/mod.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
  src/profile/v100/proto_profile_maybe_with_legacy_p2p_links.rs
  src/radix_connect/radix_connect_password.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Revert Remove p2p links references commit
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/P2PLinks+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/P2PLinks+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/P2PLink+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/P2PLinks+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/P2PLink+Swiftified.swift
  apple/Tests/TestCases/Profile/Collection/P2PLinksTests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2PLinks.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2oLink.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Personas.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/P2PLinkSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/P2PLinksSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AppPreferencesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/P2PLinksTest.kt
  src/profile/v100/app_preferences/app_preferences.rs
  src/profile/v100/app_preferences/mod.rs
  src/profile/v100/app_preferences/p2p_links/mod.rs
  src/profile/v100/app_preferences/p2p_links/p2p_link.rs
  src/profile/v100/app_preferences/p2p_links/p2p_links.rs
  src/profile/v100/app_preferences/p2p_links/radix_connect_password.rs
  src/profile/v100/profile.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Remove p2p links from profile & add radix_connect_purpose enum
  src/profile/v100/app_preferences/app_preferences.rs
  src/profile/v100/app_preferences/mod.rs
  src/profile/v100/profile.rs
  src/radix_connect/mod.rs
  src/radix_connect/p2p_links/mod.rs
  src/radix_connect/p2p_links/p2p_link.rs
  src/radix_connect/p2p_links/p2p_links.rs
  src/radix_connect/p2p_links/radix_connect_password.rs
  src/radix_connect/p2p_links/radix_connect_purpose.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/Collection/P2PLinks+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/P2PLinks/RadixConnectPurpose+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/RadixConnect/Collection/P2PLinks+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/RadixConnect/P2PLinks/P2PLink+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/RadixConnect/P2PLinks/RadixConnectPurpose+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/RadixConnect/Collection/P2PLinks+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RadixConnect/P2PLinks/P2PLink+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RadixConnect/P2PLinks/RadixConnectPurpose+Swiftified.swift
  apple/Tests/TestCases/RadixConnect/Collection/P2PLinksTests.swift
  apple/Tests/TestCases/RadixConnect/P2PLinks/RadixConnectPurposeTests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2PLink.kt
  src/core/error/common_error.rs
  src/radix_connect/p2p_links/p2p_link.rs
  src/radix_connect/p2p_links/p2p_links.rs
  src/radix_connect/p2p_links/radix_connect_purpose.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Add kotlin extensions for new p2p link models. Expose check profile function
  apple/Sources/Sargon/Extensions/Methods/Profile/Profile+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Profile.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/RadixConnectPurpose.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/Ed25519PublicKeySample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/P2PLinkSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/RadixConnectPurposeSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AppPreferencesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/RadixConnectPurposeTest.kt
Due: ensure Swift setup for local development, SwiftFormat

Fix rebase errors
  fixtures/vector/huge_profile_1000_accounts.json
  src/profile/v100/profile_uniffi_fn.rs
Due: fmt, clippy, unit tests

update CI / CD to use main branch instead of develop (#121)
  .github/workflows/release-desktop-bins.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  apple/Tests/TestCases/Prelude/DependencyInformationTests.swift
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DependencyInformationTest.kt
  scripts/ios/release.sh
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/build_information/dependency_information.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/build_information/dependency_information_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Release of '0.7.4' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Make well known gateways identified
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/Gateways+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/OtherGateways+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Gateway+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/SavedGateways+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/Gateways+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/OtherGateways+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/SavedGateways+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/Gateways+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Gateway/SavedGateways+Swiftified.swift
  apple/Tests/TestCases/Profile/Collection/GatewaysTests.swift
  apple/Tests/TestCases/Profile/Gateways/SavedGatewaysTests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Gateway.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Gateways.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/OtherGateways.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SavedGateways.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/GatewaysSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/OtherGatewaysSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/SavedGatewaysSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AppPreferencesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/GatewayTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/GatewaysTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/OtherGatewaysTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SavedGatewaysTest.kt
  src/profile/v100/app_preferences/app_preferences.rs
  src/profile/v100/app_preferences/gateways/gateway.rs
  src/profile/v100/app_preferences/gateways/gateway_uniffi_fn.rs
  src/profile/v100/app_preferences/gateways/mod.rs
  src/profile/v100/app_preferences/gateways/saved_gateways.rs
  src/profile/v100/app_preferences/gateways/saved_gateways_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Remove p2pLinks from json files
  fixtures/vector/big_profile_100_accounts.json
  fixtures/vector/multi_profile_snapshots_test_version_100_patch_after_app_version_120.json
  fixtures/vector/only_plaintext_profile_snapshot_version_100.json
Due: none

Format ProfileTests
  apple/Tests/TestCases/Profile/ProfileTests.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  apple/Tests/TestCases/Profile/ProfileTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Pr changes
  src/profile/v100/app_preferences/gateways/gateway.rs
  src/profile/v100/app_preferences/gateways/saved_gateways.rs
Due: fmt, clippy, unit tests

Make well known gateways identified (#124)
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/Gateways+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/OtherGateways+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Gateway+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/SavedGateways+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/Gateways+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/OtherGateways+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/SavedGateways+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/Gateways+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Gateway/SavedGateways+Swiftified.swift
  apple/Tests/TestCases/Profile/Collection/GatewaysTests.swift
  apple/Tests/TestCases/Profile/Gateways/SavedGatewaysTests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Gateway.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Gateways.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/OtherGateways.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SavedGateways.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/GatewaysSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/OtherGatewaysSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/SavedGatewaysSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AppPreferencesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/GatewayTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/GatewaysTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/OtherGatewaysTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SavedGatewaysTest.kt
  src/profile/v100/app_preferences/app_preferences.rs
  src/profile/v100/app_preferences/gateways/gateway.rs
  src/profile/v100/app_preferences/gateways/gateway_uniffi_fn.rs
  src/profile/v100/app_preferences/gateways/mod.rs
  src/profile/v100/app_preferences/gateways/saved_gateways.rs
  src/profile/v100/app_preferences/gateways/saved_gateways_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Release of '0.7.5' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Fix android ci invocation
  .github/workflows/release-android.yml
Due: none

Fix android ci invocation (#125)
  .github/workflows/release-android.yml
Due: none

Release of '0.7.6' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

BROKEN WIP
  examples/iOS/Backend/Package.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/Keychain.swift
  examples/iOS/Backend/Sources/Planbok/Features/SplashFeature.swift
  examples/iOS/Planbok.xcworkspace/xcshareddata/swiftpm/Package.resolved
  src/system/profile_holder/profile_holder.rs
  src/system/system.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

WIP
  examples/iOS/Frontend/PlanbokApp.xcodeproj/project.pbxproj
Due: none

WIP
  examples/iOS/Backend/Sources/Planbok/Dependencies/Keychain.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/WalletHolder.swift
  examples/iOS/Backend/Sources/Planbok/Features/AccountsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/AppFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/CreateAccount/CreateAccountFlowFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/CreateAccount/Steps/NameAccountFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/CreateAccount/Steps/SelectGradientFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/Onboarding/OnboardingFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/PreviewAddressesFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SampleValuesFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SplashFeature.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/AccountView.swift
  src/gateway_api/client/gateway_client.rs
  src/lib.rs
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/relay_service/service.rs
  src/system/clients/app_secure_storage_client/app_secure_storage_client.rs
  src/system/clients/http_client/http_client.rs
  src/system/drivers/drivers.rs
  src/system/drivers/networking_driver/mod.rs
  src/system/drivers/networking_driver/network_antenna.rs
  src/system/drivers/secure_storage_driver/support/test/mod.rs
  src/system/profile_holder/mod.rs
  src/system/profile_holder/profile_holder.rs
  src/system/system.rs
  tests/integration/main.rs
  tests/integration/network_antenna_reqwest.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

WIP
  examples/Playground/.gitignore
  examples/Playground/Package.swift
  examples/Playground/Sources/Playground/Playground.swift
  examples/Playground/Tests/PlaygroundTests/PlaygroundTests.swift
  src/system/drivers/networking_driver/networking_driver.rs
  tests/integration/networking_driver_reqwest.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

WIP
  examples/Playground/Sources/Playground/Playground.swift
  src/core/error/common_error.rs
  src/profile/v100/entity/account/account.rs
  src/profile/v100/entity/persona/persona.rs
  src/profile/v100/factors/factor_sources/device_factor_source/device_factor_source.rs
  src/profile/v100/factors/factor_sources/device_factor_source/device_factor_source_hint.rs
  src/profile/v100/factors/factor_sources/device_factor_source/device_factor_source_uniffi_fn.rs
  src/profile/v100/factors/factor_sources/private_hierarchical_deterministic_factor_source.rs
  src/profile/v100/factors/factor_sources/private_hierarchical_deterministic_factor_source_uniffi_fn.rs
  src/profile/v100/header/device_info.rs
  src/profile/v100/header/device_info_uniffi_fn.rs
  src/profile/v100/header/header.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
  src/system/clients/app_secure_storage_client/app_secure_storage_client.rs
  src/system/clients/mod.rs
  src/system/drivers/drivers.rs
  src/system/drivers/mod.rs
  src/system/drivers/networking_driver/mod.rs
  src/system/drivers/networking_driver/network_method.rs
  src/system/drivers/networking_driver/network_request.rs
  src/system/drivers/networking_driver/network_response.rs
  src/system/drivers/networking_driver/networking_driver.rs
  src/system/drivers/secure_storage_driver/support/secure_storage_key.rs
  src/system/profile_holder/profile_holder.rs
  src/system/system.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

WIP
  src/profile/v100/header/device_info.rs
Due: fmt, clippy, unit tests

wip
  src/profile/v100/factors/factor_sources/device_factor_source/device_factor_source_hint.rs
  src/profile/v100/header/device_info.rs
  src/profile/v100/header/header.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
  src/system/clients/entropy_client/entropy_client.rs
  src/system/clients/entropy_client/mod.rs
  src/system/clients/host_info_client/host_info_client.rs
  src/system/clients/host_info_client/mod.rs
  src/system/drivers/entropy_provider_driver/entropy_provider_driver.rs
  src/system/drivers/entropy_provider_driver/mod.rs
  src/system/drivers/host_info_driver/host_info_driver.rs
  src/system/drivers/host_info_driver/mod.rs
  src/system/drivers/networking_driver/support/mod.rs
  src/system/drivers/networking_driver/support/network_method.rs
  src/system/drivers/networking_driver/support/network_request.rs
  src/system/drivers/networking_driver/support/network_response.rs
  src/system/drivers/networking_driver/support/test/mock_networking_driver.rs
  src/system/drivers/networking_driver/support/test/mod.rs
  src/system/profile_holder/profile_holder.rs
  src/system/system.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests

nicer boot
  src/system/system.rs
Due: fmt, clippy, unit tests

logging driver
  src/system/clients/log_client/log_client.rs
  src/system/clients/log_client/mod.rs
  src/system/clients/mod.rs
  src/system/drivers/logging_driver/logging_driver.rs
  src/system/drivers/logging_driver/mod.rs
  src/system/drivers/mod.rs
Due: fmt, clippy, unit tests

WIP
  src/system/clients/log_client/log_client.rs
  src/system/drivers/drivers.rs
  src/system/drivers/logging_driver/logging_driver.rs
  src/system/system.rs
Due: fmt, clippy, unit tests

WIP
  Package.resolved
  Package.swift
  apple/Sources/Sargon/Clients/GatewayClient+Swiftified.swift
  apple/Sources/Sargon/Drivers/Logging/LoggingDriver+SwiftLog.swift
  apple/Sources/Sargon/Drivers/Networking/NetworkingDriver+URLSession.swift
Due: ensure Swift setup for local development, SwiftFormat

WIP
  Package.resolved
  Package.swift
  apple/Sources/Sargon/Clients/GatewayClient+Swiftified.swift
  apple/Sources/Sargon/Drivers/EntropyProvider/EntropyProvider+RandomData.swift
  apple/Sources/Sargon/Drivers/HostInfo/HostInfoDriver+DeviceInfo.swift
  apple/Sources/Sargon/Drivers/Logging/LoggingDriver+SwiftLog.swift
  apple/Sources/Sargon/Drivers/SecureStorage/SecureStorageDriver+UNSAFE_MOCK.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Keys/PrivateHD+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/DeviceInfo+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/DeviceFactorSource+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/SargonOS+Swiftified.swift
  apple/Tests/IntegrationTests/GatewayClientTests.swift
  apple/Tests/TestCases/Profile/DeviceInfoTests.swift
  apple/Tests/TestCases/Profile/Factor/DeviceFactorSourceTests.swift
  apple/Tests/TestCases/Profile/Factor/PrivateHierarchicalDeterministicFactorSourceTests.swift
  apple/Tests/TestCases/Profile/HeaderTests.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
  src/profile/v100/header/header.rs
  src/system/drivers/drivers.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  SwiftFormat: any of: \.swift$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
