Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true
default_install_hook_types: [pre-push]
default_stages: [pre-push]
repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.22.7
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

  - repo: https://github.com/phylum-dev/phylum-ci
    rev: main
    hooks:
      - id: phylum
        stages: [pre-push]
        # Optional: Specify the dependency file pattern for your repository
        files: |
            (?x)^(
                Cargo\.lock|
            )$
        # Optional: Specify additional arguments to be passed to `phylum-ci`
        args:
          - -vv
          - --depfile=Cargo.lock
          - --audit
          - --force-analysis
          - --all-deps
        verbose: true

pending changes from PR
  crates/sargon-uniffi/src/profile/mfa/security_structures/matrices/matrix_of_factor_source_ids.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/matrix_builder_unit_tests.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/matrix_template.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/matrix_of_factor_source_ids.rs
Due: fmt, clippy, unit tests

add FactorSourceCategory
  crates/sargon/src/profile/v100/factors/factor_source_category.rs
  crates/sargon/src/profile/v100/factors/factor_source_kind.rs
  crates/sargon/src/profile/v100/factors/mod.rs
Due: fmt, clippy, unit tests

logic
  crates/sargon-uniffi/src/profile/mfa/security_structures/mod.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_prerequisites_status.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_security_structures.rs
  crates/sargon/src/profile/mfa/security_structures/mod.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_prerequisites_status.rs
  crates/sargon/src/profile/v100/factors/is_factor_source.rs
  crates/sargon/src/system/sargon_os/sargon_os_security_structures.rs
Due: fmt, clippy, unit tests

feedback changes
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_security_structures.rs
  crates/sargon/src/profile/logic/account/query_security_structures.rs
  crates/sargon/src/profile/v100/factors/factor_source_category.rs
  crates/sargon/src/system/sargon_os/sargon_os_security_structures.rs
Due: fmt, clippy, unit tests

Check prerequisites for building a Security Shield (#292)
  crates/sargon-uniffi/src/profile/mfa/security_structures/matrices/matrix_of_factor_source_ids.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/mod.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_prerequisites_status.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_security_structures.rs
  crates/sargon/src/profile/logic/account/query_security_structures.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/matrix_builder_unit_tests.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/matrix_template.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/matrix_of_factor_source_ids.rs
  crates/sargon/src/profile/mfa/security_structures/mod.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_prerequisites_status.rs
  crates/sargon/src/profile/v100/factors/factor_source_category.rs
  crates/sargon/src/profile/v100/factors/factor_source_kind.rs
  crates/sargon/src/profile/v100/factors/is_factor_source.rs
  crates/sargon/src/profile/v100/factors/mod.rs
  crates/sargon/src/system/sargon_os/sargon_os_security_structures.rs
Due: fmt, clippy, unit tests

reintroduce [too many for JNA] methods
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

Fix JDK bug with my fork of UniFFI - will do a PR to UniFFI later.
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
Due: none

bump UniFFI (Sajjon fork)
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
Due: none

bump uniffi (sajjon fork)
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
Due: none

bump sargon
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

Reintroduce `From<RoleWithFactorInstances<ROLE>> for ScryptoAccessRule`
  crates/sargon/src/profile/mfa/security_structures/roles/factor_levels/factor_instance_level/mod.rs
  crates/sargon/src/profile/mfa/security_structures/roles/factor_levels/factor_instance_level/role_into_scrypto_access_rule.rs
Due: fmt, clippy, unit tests

missing test
  crates/sargon/src/security_center/client.rs
Due: fmt, clippy, unit tests

fix iOS test
  apple/Sources/Sargon/Drivers/FileSystem/FileSystemDriver+Data+ContentsOf+URL.swift
  apple/Tests/TestCases/SecurityCenter/SecurityProblemTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Expose vec instead of map
  crates/sargon-uniffi/src/keys_collector/key_derivation_request.rs
  crates/sargon-uniffi/src/keys_collector/key_derivation_response.rs
Due: fmt, clippy, unit tests

Expose keys collection reason
  crates/sargon-uniffi/src/keys_collector/key_derivation_request.rs
  crates/sargon-uniffi/src/keys_collector/keys_collection_reason.rs
  crates/sargon-uniffi/src/keys_collector/mod.rs
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/cache_filler.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/securify_entity_factor_instances_provider.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/virtual_entity_creating_instance_provider.rs
  crates/sargon/src/keys_collector/collector/keys_collection_reason.rs
  crates/sargon/src/keys_collector/collector/keys_collector.rs
  crates/sargon/src/keys_collector/collector/keys_collector_dependencies.rs
  crates/sargon/src/keys_collector/collector/mod.rs
  crates/sargon/src/keys_collector/derivation_testing/test_keys_collector/test_keys_collector.rs
  crates/sargon/src/keys_collector/host_interaction/key_derivation_request.rs
  crates/sargon/src/keys_collector/tests/derivation_tests.rs
Due: fmt, clippy, unit tests

Bump version
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

[ABW-3848] Security problems logic (#287)
  Cargo.lock
  apple/Sources/Sargon/Drivers/FileSystem/FileSystemDriver+Data+ContentsOf+URL.swift
  apple/Sources/Sargon/Extensions/Methods/SecurityCenter/SecurityProblem+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/SecurityCenter/SecurityProblemKind+Wrap+Functions.swift
  apple/Tests/TestCases/SecurityCenter/SecurityProblemTests.swift
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/lib.rs
  crates/sargon-uniffi/src/security_center/mod.rs
  crates/sargon-uniffi/src/security_center/security_problem.rs
  crates/sargon-uniffi/src/security_center/security_problem_kind.rs
  crates/sargon-uniffi/src/security_center/support/addresses_entities_bad_state.rs
  crates/sargon-uniffi/src/security_center/support/backup_result.rs
  crates/sargon-uniffi/src/security_center/support/input.rs
  crates/sargon-uniffi/src/security_center/support/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_security_center.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/core/types/bool_type.rs
  crates/sargon/src/lib.rs
  crates/sargon/src/security_center/client.rs
  crates/sargon/src/security_center/mod.rs
  crates/sargon/src/security_center/security_problem.rs
  crates/sargon/src/security_center/security_problem_kind.rs
  crates/sargon/src/security_center/support/addresses_entities_bad_state.rs
  crates/sargon/src/security_center/support/backup_result.rs
  crates/sargon/src/security_center/support/input.rs
  crates/sargon/src/security_center/support/mod.rs
  crates/sargon/src/system/sargon_os/mod.rs
  crates/sargon/src/system/sargon_os/sargon_os_security_center.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Add SecurityProblemKind::SecurityShields
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/security_center/security_problem_kind.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/security_center/security_problem_kind.rs
Due: fmt, clippy, unit tests

Add SecurityProblemKind::SecurityShields (#295)
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/security_center/security_problem_kind.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/security_center/security_problem_kind.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/mod.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder.rs
Due: fmt, clippy, unit tests

Rename to derivation purpose
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/keys_collector/derivation_purpose.rs
  crates/sargon-uniffi/src/keys_collector/key_derivation_request.rs
  crates/sargon-uniffi/src/keys_collector/mod.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/cache_filler.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/securify_entity_factor_instances_provider.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/virtual_entity_creating_instance_provider.rs
  crates/sargon/src/keys_collector/collector/derivation_purpose.rs
  crates/sargon/src/keys_collector/collector/keys_collector.rs
  crates/sargon/src/keys_collector/collector/keys_collector_dependencies.rs
  crates/sargon/src/keys_collector/collector/mod.rs
  crates/sargon/src/keys_collector/derivation_testing/test_keys_collector/test_keys_collector.rs
  crates/sargon/src/keys_collector/host_interaction/key_derivation_request.rs
  crates/sargon/src/keys_collector/tests/derivation_tests.rs
Due: fmt, clippy, unit tests

Rename to derivation purpose
  crates/sargon/src/keys_collector/collector/keys_collector.rs
  crates/sargon/src/keys_collector/collector/keys_collector_dependencies.rs
Due: fmt, clippy, unit tests

[no ci] wip
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/profile/logic/account/query_security_structures.rs
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_prerequisites_status.rs
Due: fmt, clippy, unit tests

PR suggestions
  crates/sargon-uniffi/src/keys_collector/key_derivation_request.rs
  crates/sargon-uniffi/src/keys_collector/mod.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/cache_filler.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/securify_entity_factor_instances_provider.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/virtual_entity_creating_instance_provider.rs
  crates/sargon/src/keys_collector/collector/derivation_purpose.rs
  crates/sargon/src/keys_collector/collector/mod.rs
  crates/sargon/src/keys_collector/host_interaction/key_derivation_request.rs
Due: fmt, clippy, unit tests

[no ci] fix
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder.rs
Due: fmt, clippy, unit tests

Change pre-commit
  .pre-commit-config.yaml
Due: none

Deriving keys purpose (#294)
  .pre-commit-config.yaml
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/keys_collector/derivation_purpose.rs
  crates/sargon-uniffi/src/keys_collector/key_derivation_request.rs
  crates/sargon-uniffi/src/keys_collector/key_derivation_response.rs
  crates/sargon-uniffi/src/keys_collector/mod.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/cache_filler.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/securify_entity_factor_instances_provider.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/virtual_entity_creating_instance_provider.rs
  crates/sargon/src/keys_collector/collector/derivation_purpose.rs
  crates/sargon/src/keys_collector/collector/keys_collector.rs
  crates/sargon/src/keys_collector/collector/keys_collector_dependencies.rs
  crates/sargon/src/keys_collector/collector/mod.rs
  crates/sargon/src/keys_collector/derivation_testing/test_keys_collector/test_keys_collector.rs
  crates/sargon/src/keys_collector/host_interaction/key_derivation_request.rs
  crates/sargon/src/keys_collector/tests/derivation_tests.rs
Due: fmt, clippy, unit tests

Expose biometrics failure exception
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidBiometricAuthorizationDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidStorageDriver.kt
Due: none

Expose biometrics failure exception (#296)
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidBiometricAuthorizationDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidStorageDriver.kt
Due: none

wip
  apple/Sources/Sargon/Extensions/Methods/SecurityCenter/SecurityProblemKind+Wrap+Functions.swift
  crates/sargon-uniffi/src/profile/mfa/security_structures/mod.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/selected_factor_sources_status.rs
  crates/sargon/src/profile/mfa/security_structures/mod.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/selected_factor_sources_status.rs
  crates/sargon/src/profile/v100/factors/factor_source_kind.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[no ci] WIP
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder.rs
  crates/sargon/src/profile/v100/factors/factor_source_category.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Extensions/Methods/Profile/MFA/SecurityShieldBuilder+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/MFA/SecurityShieldsBuilderTests.swift
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

impl From<MatrixOfFactorInstances> for ScryptoRuleSet
  crates/sargon/src/profile/mfa/security_structures/matrices/matrix_of_factor_instances.rs
  crates/sargon/src/profile/mfa/security_structures/roles/factor_levels/factor_instance_level/role_into_scrypto_access_rule.rs
  crates/sargon/src/profile/mfa/security_structures/security_structure_of_factors/mod.rs
  crates/sargon/src/profile/mfa/security_structures/security_structure_of_factors/security_structure_of_factor_instances.rs
  crates/sargon/src/profile/mfa/security_structures/security_structure_of_factors/security_structure_of_factor_source_ids.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Extensions/Methods/Profile/MFA/SecurityShieldBuilder+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/MFA/SecurityShieldsBuilderTests.swift
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

bump version
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none
