Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

wip
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/deep_link_parsing/parser.rs
  src/radix_connect/mobile/deep_link_parsing/request.rs
  src/radix_connect/mobile/session/session.rs
  src/radix_connect/mobile/session_dapp_request.rs
  src/radix_connect/mobile/session_wallet_response.rs
Due: fmt, clippy, unit tests

wip
  src/core/error/common_error.rs
  src/core/utils/serialization.rs
  src/radix_connect/mobile/client.rs
Due: fmt, clippy, unit tests

wip
  src/core/error/common_error.rs
  src/core/types/keys/key_agreement/mod.rs
  src/core/types/keys/key_agreement/public_key.rs
  src/core/types/keys/key_agreement/public_key_uniffi_fn.rs
Due: fmt, clippy, unit tests

wip
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/session_storage.rs
Due: fmt, clippy, unit tests

Show full error message on iOS in Debug mode (#172)
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/SargonError+Swiftified.swift
  apple/Tests/TestCases/Prelude/SargonErrorTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Release of '1.0.19' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/Mobile/RadixConnectMobile.swift
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/session_storage.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/radixconnect/RadixConnectSessionStorage.kt
Due: none

wip
  src/radix_connect/mobile/client.rs
Due: fmt, clippy, unit tests

WIP
  src/wallet/deferred_deep_link/deferred_deep_link.rs
  src/wallet/deferred_deep_link/onboarding_deep_link_value.rs
  src/wallet/deferred_deep_link/post_onboarding_card.rs
  src/wallet/deferred_deep_link/post_onboarding_cards.rs
Due: fmt, clippy, unit tests

add additional test
  src/core/error/common_error.rs
  src/core/types/signatures/ed25519_signature.rs
Due: fmt, clippy, unit tests

wip
  src/radix_connect/mobile/session/session.rs
Due: fmt, clippy, unit tests

WIP
  src/wallet/deferred_deep_link/deferred_deep_link.rs
  src/wallet/deferred_deep_link/onboarding_deep_link_value.rs
  src/wallet/deferred_deep_link/parser.rs
  src/wallet/deferred_deep_link/post_onboarding_card.rs
Due: fmt, clippy, unit tests

Add tests
  src/wallet/deferred_deep_link/deferred_deep_link.rs
  src/wallet/deferred_deep_link/parser.rs
Due: fmt, clippy, unit tests

update public key tests
  src/core/pb_hkdf_sha256.rs
  src/core/types/keys/key_agreement/private_key.rs
  src/core/types/keys/key_agreement/public_key.rs
  src/radix_connect/mobile/client.rs
Due: fmt, clippy, unit tests

proper order
  src/radix_connect/mobile/client.rs
Due: fmt, clippy, unit tests

add option into
  src/core/pb_hkdf_sha256.rs
  src/radix_connect/mobile/client.rs
Due: fmt, clippy, unit tests

wip
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/deep_link_parsing/parser.rs
  src/radix_connect/mobile/deep_link_parsing/request.rs
  src/radix_connect/mobile/session/session.rs
Due: fmt, clippy, unit tests

wip
  src/radix_connect/mobile/relay_service/mod.rs
  src/radix_connect/mobile/relay_service/service.rs
  src/radix_connect/mobile/relay_service/success_response.rs
  src/radix_connect/mobile/session/session.rs
  src/radix_connect/mobile/session_dapp_request.rs
  src/radix_connect/mobile/session_storage.rs
Due: fmt, clippy, unit tests

wip
  Cargo.lock
  Cargo.toml
  src/core/types/keys/key_agreement/public_key_uniffi_fn.rs
Due: fmt, clippy, unit tests

wip
  src/core/types/decimal192.rs
  src/core/types/keys/key_agreement/private_key.rs
  src/core/utils/serialization.rs
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/deep_link_parsing/parser.rs
Due: fmt, clippy, unit tests

wip
  src/radix_connect/mobile/relay_service/success_response.rs
Due: fmt, clippy, unit tests

Updates
  src/wallet/deferred_deep_link/deferred_deep_link.rs
  src/wallet/deferred_deep_link/onboarding_deep_link_value.rs
  src/wallet/deferred_deep_link/parser.rs
  src/wallet/deferred_deep_link/post_onboarding_card.rs
Due: fmt, clippy, unit tests

wip
  src/core/types/decimal192.rs
Due: fmt, clippy, unit tests

Release of '1.0.20' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

fix PR comments, thanks Matias.
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Models/NewShield+Models.swift
  src/profile/mfa/mfa_factor_sources/arculus_card_factor_source/arculus_card_factor_source.rs
  src/profile/mfa/mfa_factor_sources/off_device_mnemonic_factor_source/off_device_factor_source_hint.rs
  src/profile/mfa/mfa_factor_sources/off_device_mnemonic_factor_source/off_device_mnemonic_factor_source.rs
  src/profile/mfa/mfa_factor_sources/off_device_mnemonic_factor_source/off_device_mnemonic_factor_source_uniffi_fn.rs
  src/profile/mfa/mfa_factor_sources/security_questions_factor_source/answer/security_question_and_answer.rs
  src/profile/mfa/mfa_factor_sources/security_questions_factor_source/answer/security_questions_and_answers.rs
  src/profile/mfa/mfa_factor_sources/security_questions_factor_source/kdf/sub_kdf/key_exchange_keys_from_questions_and_answer/security_question_and_answer_as_bytes.rs
  src/profile/mfa/mfa_factor_sources/security_questions_factor_source/question/security_question.rs
  src/profile/mfa/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source.rs
  src/profile/mfa/mfa_factor_sources/trusted_contact_factor_source/trusted_contact_factor_source.rs
  src/profile/mfa/security_structures/security_structures_of_factor_source_ids.rs
  src/profile/mfa/security_structures/security_structures_of_factor_sources.rs
  src/profile/v100/factors/factor_source_id_from_address.rs
  src/profile/v100/factors/factor_sources/ledger_hardware_wallet_factor_source/ledger_hardware_wallet_factor_source.rs
  src/system/drivers/event_bus_driver/support/event_kind.rs
  src/system/sargon_os/sargon_os_factors.rs
  src/system/sargon_os/sargon_os_security_structures.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

update sargon jvm libraries
  jvm/gradle/libs.versions.toml
  jvm/sargon-android/build.gradle.kts
Due: none

update SargonNetworkAntenna
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/antenna/SargonNetworkAntenna.kt
Due: none

moved to confluence
  docs/MFA_ANALOGY.md
Due: none

fix swift, try fix kotlin tests
  apple/Sources/Sargon/Extensions/Methods/Prelude/Decimal192+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/Mobile/RadixConnectMobile.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/SargonError+Swiftified.swift
  apple/Tests/TestCases/Prelude/Decimal192Tests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/RadixConnectMobile.kt
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  src/profile/v100/factors/factor_sources/device_factor_source/device_factor_source_hint.rs
  src/profile/v100/header/device_info.rs
  src/profile/v100/header/device_info_description.rs
Due: fmt, clippy, unit tests

try fix kotlin
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NetworkAntennaTest.kt
Due: none

try fix swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/OffDeviceMnemonicFactorSource+Wrap+Functions.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/FactorSourceHintView.swift
Due: ensure Swift setup for local development, SwiftFormat

fix kotlin
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/antenna/SargonNetworkingDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/RadixConnectMobile.kt
Due: none

try fix rust-security-framework ios bug
  Cargo.lock
  Cargo.toml
Due: none

try fix swift and kotlin
  apple/Tests/TestCases/Profile/HeaderTests.swift
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/HeaderTest.kt
Due: ensure Swift setup for local development, SwiftFormat
