Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

doc tests:
  name: doc tests
  language: system
  entry: cargo test --doc
  pass_filenames: false

vectors integration tests:
  name: vectors integration tests
  language: system
  entry: cargo test --package sargon --test vectors
  pass_filenames: false

swift tests:
  name: swift tests
  language: system
  entry: ./scripts/ios/test.sh --testonly
  pass_filenames: false

kotlin tests:
  name: kotlin (jvm) tests
  language: system
  entry: ./jvm/gradlew -p jvm/sargon-android koverVerifyDebug
  pass_filenames: false

wip
  src/radix_connect/mobile/client.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  src/radix_connect/mobile/relay_service/service.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  tests/integration/network_antenna_reqwest.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  apple/Sources/Sargon/Antennas/Network/NetworkAntenna+URLSession.swift
Due: ensure Swift setup for local development, swift tests

fix
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NetworkMethod.kt
Due: kotlin tests

add analyze profile file contents
  Cargo.lock
  Cargo.toml
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Add analyzeContentsOfFile for Profile
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2pLink.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Profile.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
Due: kotlin tests

Change sargon version tag for android
  .github/workflows/release-android.yml
  .github/workflows/release-desktop-bins.yml
Due: none

Swiftify analyze profile file contents function as static func on Profile.
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Extensions/Methods/Profile/Profile+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
Due: ensure Swift setup for local development, swift tests

Batch 12: Add analyze profile file contents (#108)
  .github/workflows/release-android.yml
  .github/workflows/release-desktop-bins.yml
  Cargo.lock
  Cargo.toml
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2pLink.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Profile.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Batch 13: Swiftify analyze Profile contents (#109)
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Extensions/Methods/Profile/Profile+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
Due: ensure Swift setup for local development, swift tests

wip
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/relay_service/models/request/request_method.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

add JSON test for Header List
  apple/Tests/TestCases/Profile/HeaderTests.swift
Due: ensure Swift setup for local development, swift tests

wip
  src/radix_connect/mobile/relay_service/models/request/request.rs
  src/radix_connect/mobile/relay_service/models/response/wallet_interaction_requests.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Add AccountOrPersona with collection AccountsOrPersonas | also made Account, Persona, AuthorizedDapp and ProfileNetwork conform to IsNetworkAware.
  src/profile/mod.rs
  src/profile/supporting_types/account_or_persona.rs
  src/profile/supporting_types/account_or_persona_uniffi_fn.rs
  src/profile/supporting_types/accounts_or_personas.rs
  src/profile/supporting_types/mod.rs
  src/profile/v100/entity/account/account.rs
  src/profile/v100/entity/persona/persona.rs
  src/profile/v100/networks/network/authorized_dapp/authorized_dapp.rs
  src/profile/v100/networks/network/profile_network.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

AccountsOrPersonas and AccountOrPersona Swiftified
  apple/Sources/Sargon/Extensions/Methods/Profile+Supporting+Types/AccountOrPersona+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/AccountsOrPersonas+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile+Supporting+Types/AccountOrPersona+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/AccountsOrPersonas+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile+Supporting+Types/AccountOrPersona+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Account/Account+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/AccountsOrPersonas+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Persona/Persona+Swiftified.swift
  apple/Sources/Sargon/Protocols/Collection/BaseIdentifiedCollection.swift
  apple/Sources/Sargon/Protocols/EntityAddressProtocol.swift
  apple/Sources/Sargon/Protocols/EntityProtocol.swift
  apple/Tests/TestCases/Profile+Supporting+Types/AccountOrPersonaTests.swift
  apple/Tests/TestCases/Profile/Collection/AccountsOrPersonasTests.swift
  apple/Tests/Utils/Collection/BaseIdentifiedCollectionTests.swift
  apple/Tests/Utils/EntityProtocolTest.swift
  src/profile/supporting_types/account_or_persona.rs
  src/profile/supporting_types/account_or_persona_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

UF export samples for EntitySecurityState and UnsecuredEntityControl + more methods on EntityProtocol and introduce EntitySpecificProtocol
  apple/Sources/Sargon/Extensions/SampleValues/Profile/EntitySecurityState+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/UnsecuredEntityControl+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile+Supporting+Types/AccountOrPersona+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Account/Account+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/EntitySecurityState+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSource+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Persona/Persona+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/UnsecuredEntityControl+Swiftified.swift
  apple/Sources/Sargon/Protocols/EntityProtocol.swift
  apple/Tests/TestCases/Profile+Supporting+Types/AccountOrPersonaTests.swift
  apple/Tests/TestCases/Profile/Account/AccountTests.swift
  apple/Tests/TestCases/Profile/EntitySecurityStateTests.swift
  apple/Tests/TestCases/Profile/Persona/PersonaTests.swift
  apple/Tests/TestCases/Profile/UnsecuredEntityControlTests.swift
  apple/Tests/Utils/EntityProtocolTest.swift
  src/profile/v100/entity_security_state/entity_security_state.rs
  src/profile/v100/entity_security_state/entity_security_state_uniffi_fn.rs
  src/profile/v100/entity_security_state/mod.rs
  src/profile/v100/entity_security_state/unsecured_entity_control.rs
  src/profile/v100/entity_security_state/unsecured_entity_control_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

extra properties inits of Accounts and Personas
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Account/Account+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Persona/Persona+Swiftified.swift
  apple/Sources/Sargon/Protocols/EntityProtocol.swift
  apple/Tests/TestCases/Profile/Account/AccountTests.swift
  apple/Tests/TestCases/Profile/Persona/PersonaTests.swift
Due: ensure Swift setup for local development, swift tests

Rename EntityProtocol
  apple/Sources/Sargon/Extensions/Swiftified/Profile+Supporting+Types/AccountOrPersona+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Account/Account+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Persona/Persona+Swiftified.swift
  apple/Sources/Sargon/Protocols/EntityProtocol.swift
  apple/Tests/TestCases/Profile+Supporting+Types/AccountOrPersonaTests.swift
  apple/Tests/TestCases/Profile/Account/AccountTests.swift
  apple/Tests/TestCases/Profile/Persona/PersonaTests.swift
  apple/Tests/Utils/EntityProtocolTest.swift
Due: ensure Swift setup for local development, swift tests

WIP AuthorizePersonaDetails
  src/core/types/mod.rs
  src/core/types/secret_bytes.rs
  src/profile/logic/profile_network_details
  src/profile/supporting_types/account_for_display.rs
  src/profile/supporting_types/account_or_persona.rs
  src/profile/supporting_types/accounts_for_display.rs
  src/profile/supporting_types/authorized_dapp_detailed.rs
  src/profile/supporting_types/authorized_persona_detailed.rs
  src/profile/supporting_types/detailed_authorized_personas.rs
  src/profile/supporting_types/mod.rs
  src/profile/v100/address/access_controller_address.rs
  src/profile/v100/address/access_controller_address_uniffi_fn.rs
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/account_address_uniffi_fn.rs
  src/profile/v100/address/component_address.rs
  src/profile/v100/address/component_address_uniffi_fn.rs
  src/profile/v100/address/identity_address.rs
  src/profile/v100/address/identity_address_uniffi_fn.rs
  src/profile/v100/address/mod.rs
  src/profile/v100/address/package_address.rs
  src/profile/v100/address/package_address_uniffi_fn.rs
  src/profile/v100/address/pool_address.rs
  src/profile/v100/address/pool_address_uniffi_fn.rs
  src/profile/v100/address/resource_address.rs
  src/profile/v100/address/resource_address_uniffi_fn.rs
  src/profile/v100/address/validator_address.rs
  src/profile/v100/address/validator_address_uniffi_fn.rs
  src/profile/v100/address/vault_address.rs
  src/profile/v100/address/vault_address_uniffi_fn.rs
  src/profile/v100/address/wrap_ret_address.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

more tests
  src/profile/supporting_types/account_for_display.rs
  src/profile/supporting_types/authorized_dapp_detailed.rs
  src/profile/supporting_types/authorized_persona_detailed.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Swiftify AuthorizedDappDetails
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/Accounts+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/AccountsForDisplay+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/AccountsOrPersonas+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/DetailedAuthorizedPersonas+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile+Supporting+Types/AccountForDisplay+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile+Supporting+Types/AccountOrPersona+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile+Supporting+Types/AuthorizedDappDetailed+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile+Supporting+Types/AuthorizedPersonaDetailed+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/AccountsForDisplay+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/DetailedAuthorizedPersonas+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile+Supporting+Types/AccountForDisplay+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile+Supporting+Types/AuthorizedDappDetailed+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile+Supporting+Types/AuthorizedPersonaDetailed+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/AccountsForDisplay+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/DetailedAuthorizedPersonas+Swiftified.swift
  apple/Tests/TestCases/Profile+Supporting+Types/AccountForDisplayTests.swift
  apple/Tests/TestCases/Profile+Supporting+Types/AuthorizedDappDetailedTests.swift
  apple/Tests/TestCases/Profile+Supporting+Types/AuthorizedPersonaDetailedTests.swift
  apple/Tests/TestCases/Profile/Collection/AccountsForDisplayTests.swift
  apple/Tests/TestCases/Profile/Collection/AccountsTests.swift
  apple/Tests/TestCases/Profile/Collection/DetailedAuthorizedPersonasTests.swift
  apple/Tests/Utils/SargonModelProtocol.swift
  src/profile/logic/profile_network_details.rs
  src/profile/supporting_types/account_for_display_uniffi_fn.rs
  src/profile/supporting_types/authorized_dapp_detailed_uniffi_fn.rs
  src/profile/supporting_types/authorized_persona_detailed_uniffi_fn.rs
  src/profile/supporting_types/mod.rs
  src/profile/v100/address/mod.rs
  src/profile/v100/address/resource_address_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

detailed authorized dapp
  build.rs
  src/core/error/common_error.rs
  src/core/types/nonce.rs
  src/profile/logic/mod.rs
  src/profile/logic/profile_network_details.rs
  src/profile/v100/address/wrap_ret_address.rs
  src/profile/v100/entity/account/account.rs
  src/profile/v100/entity/display_name.rs
  src/profile/v100/entity/persona/persona.rs
  src/profile/v100/entity/persona/persona_data/collection_of_email_addresses.rs
  src/profile/v100/entity/persona/persona_data/collection_of_phone_numbers.rs
  src/profile/v100/entity/persona/persona_data/mod.rs
  src/profile/v100/entity/persona/persona_data/persona_data_identified_collection_types.rs
  src/profile/v100/entity_security_state/entity_security_state.rs
  src/profile/v100/factors/factor_instance/badge_virtual_source.rs
  src/profile/v100/factors/factor_instance/factor_instance_badge.rs
  src/profile/v100/factors/factor_source_id.rs
  src/profile/v100/identified_elements.rs
  src/profile/v100/networks/network/authorized_dapp/authorized_persona_simple.rs
  src/profile/v100/networks/network/authorized_dapp/mod.rs
  src/profile/v100/networks/network/authorized_dapp/shared_persona_data.rs
  src/profile/v100/networks/network/authorized_dapp/shared_to_dapp_with_persona_account_addresses.rs
  src/profile/v100/networks/network/authorized_dapp/shared_to_dapp_with_persona_ids_of_persona_data_entries.rs
  src/profile/v100/networks/network/authorized_dapp/shared_with_dapp.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/build_information/dependency_information.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/build_information/sargon_dependencies.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/new_entities.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

fix
  src/core/assert_json.rs
  src/profile/logic/profile_network_details.rs
  src/profile/v100/entity/account/account.rs
  src/profile/v100/entity/account/account_uniffi_fn.rs
  src/profile/v100/entity/persona/persona.rs
  src/profile/v100/entity/persona/persona_data/persona_data_identified_collection_types.rs
  src/profile/v100/entity/persona/persona_uniffi_fn.rs
  src/profile/v100/identified_elements.rs
  src/profile/v100/networks/network/accounts.rs
  src/profile/v100/networks/network/authorized_dapp/authorized_dapp.rs
  src/profile/v100/networks/network/authorized_dapp/authorized_persona_simple.rs
  src/profile/v100/networks/network/authorized_dapp/shared_to_dapp_with_persona_account_addresses.rs
  src/profile/v100/networks/network/authorized_dapp/shared_with_dapp.rs
  src/profile/v100/networks/network/authorized_dapps.rs
  src/profile/v100/networks/network/personas.rs
  src/profile/v100/networks/network/profile_network.rs
  src/profile/v100/networks/profile_networks.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

fix tests
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Account/Account+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Persona/Persona+SampleValues.swift
  apple/Tests/TestCases/Profile/AuthorizedDapp/AuthorizedDappTests.swift
  apple/Tests/TestCases/Profile/Persona/PersonaTests.swift
Due: ensure Swift setup for local development, swift tests

for Kotlin sake rename enums
  apple/Sources/Sargon/Extensions/Swiftified/Profile+Supporting+Types/AccountOrPersona+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Account/Account+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Persona/Persona+Swiftified.swift
  src/profile/supporting_types/account_or_persona.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Swiftify detailsForAuthorizedDapp
  apple/Sources/Sargon/Extensions/Methods/Profile/ProfileNetwork+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/ProfileNetworkTests.swift
  src/profile/logic/mod.rs
  src/profile/logic/profile_network_details.rs
  src/profile/logic/profile_network_details_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

coverage
  src/profile/logic/profile_network_details.rs
  src/profile/v100/entity/persona/persona_data/persona_data_identified_collection_types.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

split out logic, and more tests.
  src/profile/logic/account/accounts_visibility.rs
  src/profile/logic/account/mod.rs
  src/profile/logic/mod.rs
  src/profile/logic/persona/mod.rs
  src/profile/logic/persona/persona_data_ids.rs
  src/profile/logic/persona/personas_visibility.rs
  src/profile/logic/persona/shared_persona_data_ids.rs
  src/profile/logic/profile_network/mod.rs
  src/profile/logic/profile_network/profile_network_details.rs
  src/profile/logic/profile_network/profile_network_details_uniffi_fn.rs
  src/profile/logic/profile_network/profile_network_get_entities.rs
  src/profile/v100/entity/account/account.rs
  src/profile/v100/entity/is_entity.rs
  src/profile/v100/entity/mod.rs
  src/profile/v100/entity/persona/persona.rs
  src/profile/v100/networks/network/profile_network.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

expose deep link parsing in kotlin
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/antenna/SargonNetworkAntenna.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/MobileConnectRequest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/OtherGateways.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/GatewaysTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/MobileConnectRequestTest.kt
  uniffi.toml
Due: kotlin tests

split large function
  Cargo.lock
  Cargo.toml
  src/profile/logic/profile_network/profile_network_details.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

swift test JSON for DeviceInfo with different case
  apple/Tests/TestCases/Profile/DeviceInfoTests.swift
Due: ensure Swift setup for local development, swift tests

update dapp link parsing with develop
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/MobileConnectRequest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/RadixConnectMobileConnectRequestTest.kt
Due: kotlin tests

split more
  src/profile/logic/profile_network/profile_network_details.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

format and clippy fix
  src/profile/logic/profile_network/profile_network_details.rs
  src/radix_connect/mobile/relay_service/models/request/request.rs
  src/radix_connect/mobile/relay_service/models/response/wallet_interaction_requests.rs
  src/radix_connect/mobile/relay_service/service.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
  doc tests: any of: \.rs$
  vectors integration tests: any of: \.rs$
  swift tests: any of: \.rs$, \.swift$
  kotlin tests: any of: \.rs$, \.(kt|kts)$
