Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

SwiftFormat:
  name: SwiftFormat
  language: system
  entry: swiftformat .
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

use common read secrets role
  .github/workflows/test.yml
Due: none

Fix typo
  .github/workflows/test.yml
Due: none

[no ci] wip
  crates/system/os/factors/src/apply_security_shield/sargon_os_apply_security_shield_interaction.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_security_shield_committing.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/models/manifest_with_payer_by_address.rs
  crates/transaction/manifests/src/manifests_security_shield/manifests_securify_shield_securified_entity.rs
Due: fmt, clippy, unit tests

wip
  crates/transaction/models/src/low_level/execution_summary/resource_indicator/fungible_resource_indicator.rs
  crates/transaction/models/src/low_level/execution_summary/resource_indicator/non_fungible_resource_indicator.rs
  crates/transaction/models/src/low_level/execution_summary/resource_indicator/predicted.rs
Due: fmt, clippy, unit tests

wip
  crates/core/error/src/common_error.rs
  crates/crypto/addresses/src/address/address_union.rs
  crates/crypto/addresses/src/address/decl_address.rs
  crates/crypto/addresses/src/address/resource_address.rs
  crates/crypto/addresses/src/lib.rs
  crates/sargon/tests/integration/main.rs
  crates/transaction/models/src/lib.rs
  crates/transaction/models/src/low_level/execution_summary/execution_summary.rs
  crates/transaction/models/src/low_level/execution_summary/new_entities.rs
  crates/transaction/models/src/low_level/execution_summary/reserved_instruction.rs
  crates/transaction/models/src/low_level/execution_summary/resource_indicator/fungible_resource_indicator.rs
  crates/transaction/models/src/low_level/execution_summary/resource_indicator/guaranteed_or_predicted.rs
  crates/transaction/models/src/low_level/execution_summary/resource_indicator/mod.rs
  crates/transaction/models/src/low_level/execution_summary/resource_indicator/non_fungible_resource_indicator.rs
  crates/transaction/models/src/low_level/execution_summary/resource_indicator/predicted.rs
  crates/transaction/models/src/low_level/execution_summary/resource_indicator/resource_indicator.rs
  crates/transaction/models/src/low_level/execution_summary/resource_specifier/resource_specifier.rs
  crates/transaction/models/src/low_level/manifest_encountered_component_address.rs
  crates/transaction/models/src/low_level/transaction_classes/detailed_manifest_class.rs
  crates/transaction/models/src/low_level/v1/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
Due: fmt, clippy, unit tests

Fix input value for prefix
  .github/workflows/test.yml
Due: none

[no ci] wip
  crates/core/error/src/common_error.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_security_shield_committing.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/builder.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/poly_manifest_builder/xrd_vault_contribution_modifier.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/profile_lens.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/xrd_balances_fetcher.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_committer.rs
  crates/transaction/manifests/src/manifests_security_shield/manifests_securify_shield_securified_entity.rs
  crates/transaction/models/src/low_level/v1/transaction_manifest/transaction_manifest.rs
Due: fmt, clippy, unit tests

[no ci] wip
  crates/core/error/src/common_error.rs
  crates/gateway/models/src/types/response/state/entity/details/fungible/collection.rs
  crates/gateway/models/src/types/response/state/entity/details/fungible/collection_item.rs
  crates/gateway/models/src/types/response/state/entity/details/fungible/collection_item_global.rs
  crates/gateway/models/src/types/response/state/entity/details/response.rs
  crates/system/clients/clients/src/clients/clients.rs
  crates/system/clients/http/src/http_client.rs
  crates/system/drivers/src/drivers/drivers.rs
  crates/system/drivers/src/drivers/networking_driver/networking_driver.rs
  crates/system/drivers/src/drivers/networking_driver/support/test/mock_networking_driver.rs
  crates/system/os/os/src/bios/bios.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_security_shield_committing.rs
  crates/transaction/manifests/src/manifests_security_shield/roles_exercisable_in_transaction_manifest_combination.rs
  crates/transaction/manifests/src/manifests_security_shield/top_up_access_controller_xrd_vault.rs
Due: fmt, clippy, unit tests

[no ci] wip
  crates/gateway/models/src/types/response/transaction/construction/transaction_construction_response.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_security_shield_committing.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_security_shield_committing.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_signer.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_security_shield_committing.rs
Due: fmt, clippy, unit tests

ci
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_security_shield_committing.rs
Due: fmt, clippy, unit tests

wip
  Cargo.lock
  Cargo.toml
  crates/crypto/addresses/src/address/non_fungible_global_id.rs
  crates/crypto/addresses/src/address/non_fungible_resource_address.rs
  crates/crypto/addresses/src/address/resource_address.rs
  crates/crypto/addresses/src/address_conversion/addresses_manifest_builder_support.rs
  crates/crypto/addresses/src/lib.rs
  crates/crypto/addresses/src/resource/resource_or_non_fungible.rs
  crates/system/os/transaction/src/tx/sargon_os_transaction_analysis.rs
  crates/transaction/manifests/src/lib.rs
  crates/transaction/models/Cargo.toml
  crates/transaction/models/src/lib.rs
  crates/transaction/models/src/low_level/execution_summary/execution_summary.rs
  crates/transaction/models/src/low_level/execution_summary/new_entities.rs
  crates/transaction/models/src/low_level/execution_summary/reserved_instruction.rs
  crates/transaction/models/src/low_level/execution_summary/resource_indicator/fungible_resource_indicator.rs
  crates/transaction/models/src/low_level/execution_summary/resource_indicator/guaranteed_or_predicted.rs
  crates/transaction/models/src/low_level/execution_summary/resource_indicator/mod.rs
  crates/transaction/models/src/low_level/execution_summary/resource_indicator/non_fungible_resource_indicator.rs
  crates/transaction/models/src/low_level/execution_summary/resource_indicator/resource_indicator.rs
  crates/transaction/models/src/low_level/execution_summary/resource_specifier/resource_specifier.rs
  crates/transaction/models/src/low_level/manifest_encountered_component_address.rs
  crates/transaction/models/src/low_level/manifest_summary/manifest_summary.rs
  crates/transaction/models/src/low_level/mod.rs
  crates/transaction/models/src/low_level/transaction_classes/detailed_manifest_class.rs
  crates/transaction/models/src/low_level/transaction_classes/detailed_manifest_class_kind.rs
  crates/transaction/models/src/low_level/transaction_classes/types/tracked_pool_contribution.rs
  crates/transaction/models/src/low_level/v1/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
  crates/transaction/models/src/low_level/v1/transaction_manifest/transaction_manifest.rs
  crates/transaction/models/src/low_level/v2/transaction_manifest_v2/execution_summary_v2/transaction_manifest_execution_summary_v2.rs
  crates/transaction/models/src/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
  crates/transaction/models/src/low_level/v2/transaction_manifest_v2/transaction_manifest_v2.rs
  crates/uniffi/uniffi_SPLIT_ME/src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_indicator/fungible_resource_indicator.rs
  crates/uniffi/uniffi_SPLIT_ME/src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_indicator/non_fungible_resource_indicator.rs
  crates/uniffi/uniffi_SPLIT_ME/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/manifest_summary.rs
  crates/uniffi/uniffi_SPLIT_ME/src/wrapped_radix_engine_toolkit/low_level/transaction_classes/detailed_manifest_class.rs
  crates/uniffi/uniffi_SPLIT_ME/src/wrapped_radix_engine_toolkit/low_level/transaction_classes/detailed_manifest_class_kind.rs
Due: fmt, clippy, unit tests

Address PR comment
  crates/profile/models/supporting-types/src/veci.rs
Due: fmt, clippy, unit tests

refactor mock driver
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_security_shield_committing.rs
  makefile
Due: fmt, clippy, unit tests

fix typos
  crates/core/error/src/common_error.rs
  crates/system/drivers/src/drivers/networking_driver/support/test/mock_networking_driver.rs
  crates/transaction/manifests/src/manifests_security_shield/roles_exercisable_in_transaction_manifest_combination.rs
  crates/transaction/manifests/src/manifests_security_shield/top_up_access_controller_xrd_vault.rs
Due: fmt, clippy, unit tests

unstake data
  Cargo.lock
  Cargo.toml
  crates/transaction/models/src/low_level/transaction_classes/detailed_manifest_class.rs
Due: fmt, clippy, unit tests

cleanup
  crates/gateway/client-and-api/src/endpoints/mod.rs
  crates/gateway/client-and-api/src/endpoints/paths.rs
  crates/gateway/client-and-api/src/endpoints/state_endpoints.rs
  crates/gateway/client-and-api/src/endpoints/status_endpoints.rs
  crates/gateway/client-and-api/src/endpoints/transaction_endpoints.rs
  crates/system/drivers/src/drivers/networking_driver/support/test/mock_networking_driver.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_security_shield_committing.rs
Due: fmt, clippy, unit tests

test securified account
  crates/core/error/src/common_error.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_security_shield_committing.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/poly_manifest_builder/xrd_vault_contribution_modifier.rs
  crates/transaction/manifests/src/manifests_security_shield/manifests_securify_shield_securified_entity.rs
  crates/transaction/manifests/src/manifests_security_shield/roles_exercisable_in_transaction_manifest_combination.rs
  crates/transaction/manifests/src/manifests_security_shield/top_up_access_controller_xrd_vault.rs
Due: fmt, clippy, unit tests

added EntitiesLinkedToSecurityStructure struct
  crates/profile/models/profile_SPLIT_ME/src/v100/entities_linked_to_security_structure/entities_linked_to_security_structure.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/entities_linked_to_security_structure/mod.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/entities_linked_to_security_structure/entities_linked_to_security_structure.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/entities_linked_to_security_structure/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/mod.rs
Due: fmt, clippy, unit tests

added is_linked_to_security_structure logic in has_security_state
  crates/profile/models/base-entity/src/base_entity/has_security_state.rs
Due: fmt, clippy, unit tests

added ProfileNetworkQueryEntitiesLinkedToSecurityStructure
  crates/profile/logic/logic_SPLIT_ME/src/logic/profile_network/mod.rs
  crates/profile/logic/logic_SPLIT_ME/src/logic/profile_network/profile_network_entities_linked_to_security_structure.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_entities_linked_to_security_structure.rs
Due: fmt, clippy, unit tests

added ShieldForDisplay struct
  crates/profile/models/app-preferences/src/lib.rs
  crates/profile/models/app-preferences/src/shield_for_display.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/supporting_types/shield_for_display.rs
Due: fmt, clippy, unit tests

added entities_linked_to_security_structure and get_shields_for_display for SargonOS
  crates/system/os/factors/src/sargon_os_security_structures.rs
Due: fmt, clippy, unit tests

new ctor for MnemonicWithPasswphrase without latter
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/MnemonicWithPassphrase+Wrap+Functions.swift
Due: ensure Swift setup for local development, SwiftFormat

WIP
  apple/Tests/TestCases/Crypto/BIP39/MnemonicWithPassphraseTests.swift
  crates/factors/factors/src/factor_sources/ledger_hardware_wallet_factor_source/ledger_hardware_wallet_factor_source.rs
  crates/system/interactors/src/spot_check_interactor.rs
  crates/system/interactors/src/testing/test_spot_check_interactor.rs
  crates/system/os/os/src/sargon_os_factors.rs
  crates/system/os/os/src/testing_interactors.rs
  crates/system/os/signing/src/sargon_os_signing.rs
  crates/uniffi/uniffi_SPLIT_ME/src/types/spot_check.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

send FactorSource to interactor
  crates/system/interactors/src/spot_check_interactor.rs
  crates/system/interactors/src/testing/test_spot_check_interactor.rs
  crates/system/os/os/src/sargon_os_factors.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/interactors/host_interactor.rs
Due: fmt, clippy, unit tests

updates to make it work with Android
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/FactorSourceID+Wrap+Functions.swift
  apple/Sources/Sargon/SargonOS/ThrowingHostInteractor+Static+Shared.swift
  apple/Tests/TestCases/Crypto/BIP39/MnemonicWithPassphraseTests.swift
  crates/system/interactors/src/spot_check_interactor.rs
  crates/system/interactors/src/testing/test_spot_check_interactor.rs
  crates/system/os/os/src/sargon_os_factors.rs
  crates/uniffi/uniffi_SPLIT_ME/src/types/spot_check.rs
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/interactor/FakeHostInteractor.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

WIP
  apple/Sources/Sargon/SargonOS/ThrowingHostInteractor+Static+Shared.swift
  crates/system/interactors/src/interactors.rs
  crates/system/interactors/src/lib.rs
  crates/system/interactors/src/spot_check_interactor.rs
  crates/system/interactors/src/testing/mod.rs
  crates/system/interactors/src/testing/test_spot_check_interactor.rs
  crates/system/os/os/src/sargon_os.rs
  crates/system/os/os/src/sargon_os_factors.rs
  crates/system/os/os/src/testing_interactors.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/interactors/host_interactor.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_factors.rs
  crates/uniffi/uniffi_SPLIT_ME/src/types/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/types/spot_check.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[no ci] wip
  crates/core/error/src/common_error.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_security_shield_committing.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/profile_lens.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/xrd_balances_fetcher.rs
Due: fmt, clippy, unit tests

doc and cleanup
  crates/core/error/src/common_error.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/builder.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/mod.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/profile_view/entity_applying_shield.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/profile_view/mod.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/profile_view/profile_view.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/xrd_balances_fetcher/mod.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/xrd_balances_fetcher/xrd_balances.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/xrd_balances_fetcher/xrd_balances_fetcher.rs
Due: fmt, clippy, unit tests

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  SwiftFormat: any of: \.swift$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
