Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

[no ci] wip
  crates/sargon/src/factor_instances_provider/next_index_assigner/next_derivation_entity_index_assigner.rs
  crates/sargon/src/factor_instances_provider/next_index_assigner/next_derivation_entity_index_profile_analyzing_assigner.rs
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/securify_entity_factor_instances_provider.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/virtual_entity_creating_instance_provider.rs
  crates/sargon/src/profile/logic/account/create_account.rs
  crates/sargon/src/profile/v100/entity/account/account.rs
  crates/sargon/src/profile/v100/entity/persona/persona.rs
  crates/sargon/src/profile/v100/factors/factor_sources/private_hierarchical_deterministic_factor_source.rs
  crates/sargon/src/signing/collector/extractor_of_instances_required_to_sign_transactions.rs
  crates/sargon/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

[no ci] Make FactorInstanceCache use RwLock so we can skip mut
  crates/sargon/src/factor_instances_provider/factor_instances_cache/cache.rs
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider.rs
  crates/sargon/src/profile/logic/account/create_account.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

[no ci] wip save load cache
  crates/sargon/src/factor_instances_provider/factor_instances_cache/cache.rs
Due: fmt, clippy, unit tests

WIP cache serde
  crates/sargon/src/factor_instances_provider/agnostic_paths/derivation_preset.rs
  crates/sargon/src/factor_instances_provider/agnostic_paths/index_agnostic_path.rs
  crates/sargon/src/factor_instances_provider/factor_instances_cache/cache.rs
  crates/sargon/src/factor_instances_provider/types/factor_instances.rs
  crates/sargon/src/hierarchical_deterministic/bip32/hd_path.rs
  crates/sargon/src/hierarchical_deterministic/bip32/hd_path_component.rs
  crates/sargon/src/hierarchical_deterministic/bip32/key_space/key_space.rs
  crates/sargon/src/hierarchical_deterministic/cap26/cap26_entity_kind.rs
  crates/sargon/src/hierarchical_deterministic/cap26/cap26_key_kind.rs
  crates/sargon/src/hierarchical_deterministic/cap26/paths/unvalidated_cap26_path.rs
  crates/sargon/src/profile/v100/networks/network/network_id.rs
  crates/sargon/src/system/clients/client/factor_instances_cache_client.rs
  crates/sargon/src/system/clients/client/file_system_client/file_system_client.rs
  crates/sargon/src/system/clients/client/mod.rs
  crates/sargon/src/system/clients/clients.rs
Due: fmt, clippy, unit tests

logic
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/subintent.rs
  crates/sargon-uniffi/src/system/sargon_os/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/pre_authorization/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/pre_authorization/sargon_os_create_subintent.rs
  crates/sargon/src/core/types/epoch.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/subintent.rs
  crates/sargon/src/system/sargon_os/mod.rs
  crates/sargon/src/system/sargon_os/pre_authorization/mod.rs
  crates/sargon/src/system/sargon_os/pre_authorization/sargon_os_create_subintent.rs
Due: fmt, clippy, unit tests

version bump
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

tests
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon-uniffi/src/system/sargon_os/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/pre_authorization/mod.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/core/types/instant.rs
  crates/sargon/src/system/sargon_os/mod.rs
  crates/sargon/src/system/sargon_os/pre_authorization/mod.rs
  crates/sargon/src/system/sargon_os/pre_authorization/sargon_os_create_subintent.rs
Due: fmt, clippy, unit tests

[no ci] wip FactorSourceIDFromHashDenseKey
  crates/sargon/src/factor_instances_provider/agnostic_paths/index_agnostic_path.rs
  crates/sargon/src/factor_instances_provider/factor_instances_cache/cache.rs
  crates/sargon/src/factor_instances_provider/types/factor_instances.rs
  crates/sargon/src/profile/v100/factors/factor_source_id_from_hash.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon/src/factor_instances_provider/factor_instances_cache/cache.rs
  crates/sargon/src/profile/v100/factors/factor_source_id_from_hash.rs
Due: fmt, clippy, unit tests

[no ci] WIP cache client
  crates/sargon/src/factor_instances_provider/factor_instances_cache/cache.rs
  crates/sargon/src/system/clients/client/factor_instances_cache_client.rs
Due: fmt, clippy, unit tests

Update README.md
  README.md
Due: none

Add more extensions
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/IntentDiscriminator.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Nonce.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SubintentManifest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/IntentDiscriminatorSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/IntentDiscriminatorTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SubintentManifestTest.kt
Due: fmt, clippy, unit tests

wip FactorInstanceCache
  crates/sargon/src/factor_instances_provider/factor_instances_cache/cache.rs
  crates/sargon/src/system/clients/client/factor_instances_cache_client.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/gateway_api/methods/transaction_methods.rs
  crates/sargon/src/gateway_api/models/logic/request/transaction/preview/transaction_preview.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
Due: fmt, clippy, unit tests

wip
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
Due: none

wip
  Cargo.lock
  crates/sargon/Cargo.toml
Due: none

wip
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
Due: fmt, clippy, unit tests

updates after feedback
  crates/sargon-uniffi/src/system/sargon_os/pre_authorization/sargon_os_create_subintent.rs
  crates/sargon/src/core/utils/constants.rs
  crates/sargon/src/core/utils/mod.rs
  crates/sargon/src/system/sargon_os/pre_authorization/sargon_os_create_subintent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/message_v2/message_v2.rs
Due: fmt, clippy, unit tests

[ABW-3899] Create subintent API (#255)
  Cargo.lock
  README.md
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/subintent.rs
  crates/sargon-uniffi/src/system/sargon_os/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/pre_authorization/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/pre_authorization/sargon_os_create_subintent.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/core/types/epoch.rs
  crates/sargon/src/core/types/instant.rs
  crates/sargon/src/core/utils/constants.rs
  crates/sargon/src/core/utils/mod.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/subintent.rs
  crates/sargon/src/system/sargon_os/mod.rs
  crates/sargon/src/system/sargon_os/pre_authorization/mod.rs
  crates/sargon/src/system/sargon_os/pre_authorization/sargon_os_create_subintent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/message_v2/message_v2.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/IntentDiscriminator.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Nonce.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SubintentManifest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/IntentDiscriminatorSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/IntentDiscriminatorTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SubintentManifestTest.kt
Due: fmt, clippy, unit tests

Release of '1.1.46' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] cache client
  crates/sargon/src/factor_instances_provider/agnostic_paths/index_agnostic_path.rs
  crates/sargon/src/factor_instances_provider/factor_instances_cache/cache.rs
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
  crates/sargon/src/hierarchical_deterministic/bip32/hd_path.rs
  crates/sargon/src/hierarchical_deterministic/bip32/hd_path_component.rs
  crates/sargon/src/hierarchical_deterministic/cap26/cap26_key_kind.rs
  crates/sargon/src/hierarchical_deterministic/cap26/paths/unvalidated_cap26_path.rs
  crates/sargon/src/keys_collector/derivation_testing/mod.rs
  crates/sargon/src/profile/v100/factors/factor_source_id_from_hash.rs
  crates/sargon/src/system/clients/client/factor_instances_cache_client.rs
  crates/sargon/src/system/clients/client/file_system_client/file_system_client.rs
  crates/sargon/src/system/clients/client/mod.rs
  crates/sargon/src/system/drivers/file_system_driver/support/test/in_memory_driver.rs
  crates/sargon/src/system/drivers/file_system_driver/support/test/mod.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
Due: fmt, clippy, unit tests

bump version
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
Due: fmt, clippy, unit tests

Use V1 analysis for enclosed manifests (#256)
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
  crates/sargon/src/gateway_api/methods/transaction_methods.rs
  crates/sargon/src/gateway_api/models/logic/request/transaction/preview/transaction_preview.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
Due: fmt, clippy, unit tests

Release of '1.1.47' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] Only FileSystem FactorInstancesCacheClient removing possibility of conflicts
  crates/sargon/src/factor_instances_provider/factor_instances_cache/cache.rs
  crates/sargon/src/system/clients/client/factor_instances_cache_client.rs
Due: fmt, clippy, unit tests

[no ci] add test for insert_all
  crates/sargon/src/factor_instances_provider/types/factor_instances.rs
  crates/sargon/src/system/clients/client/factor_instances_cache_client.rs
Due: fmt, clippy, unit tests

get expiration status
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/expiration.rs
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/mod.rs
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/status.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/expiration.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/mod.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/status.rs
Due: fmt, clippy, unit tests

[no ci] Migrate SOME tests of `FactorInstancesProvider` to use `FactorInstancesCacheClient` <-- Client.
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/securify_entity_factor_instances_provider.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/virtual_entity_creating_instance_provider.rs
  crates/sargon/src/system/clients/client/factor_instances_cache_client.rs
Due: fmt, clippy, unit tests

add new Error types
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure_response/error_type.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure_response/error_type.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/WalletInteraction/DappToWalletInteractionSubintentExpiration+Wrap+Functions.swift
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/status.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/expiration.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/status.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[no ci] wip sargonos
  crates/sargon/src/keys_collector/derivation_testing/mod.rs
  crates/sargon/src/keys_collector/derivation_testing/test_keys_collector.rs
  crates/sargon/src/keys_collector/host_interaction/interactors/mono_factor_key_derivation_interactor.rs
  crates/sargon/src/keys_collector/host_interaction/interactors/poly_factor_key_derivation_interactor.rs
  crates/sargon/src/keys_collector/host_interaction/keys_derivation_interactors.rs
  crates/sargon/src/keys_collector/mod.rs
  crates/sargon/src/profile/logic/account/create_account.rs
  crates/sargon/src/system/interactors/interactors.rs
  crates/sargon/src/system/interactors/mod.rs
  crates/sargon/src/system/mod.rs
  crates/sargon/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/system/sargon_os/sargon_os_factors.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon/src/keys_collector/derivation_testing/mod.rs
  crates/sargon/src/keys_collector/derivation_testing/test_keys_collector.rs
  crates/sargon/src/keys_collector/host_interaction/interactors/mono_factor_key_derivation_interactor.rs
  crates/sargon/src/keys_collector/host_interaction/interactors/poly_factor_key_derivation_interactor.rs
  crates/sargon/src/keys_collector/host_interaction/keys_derivation_interactors.rs
  crates/sargon/src/profile/logic/account/create_account.rs
  crates/sargon/src/system/clients/client/secure_storage_client/secure_storage_client.rs
  crates/sargon/src/system/interactors/interactors.rs
  crates/sargon/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os_factors.rs
  crates/sargon/src/types/samples/factor_source_ids_with_samples.rs
Due: fmt, clippy, unit tests

SargonOS create account with specified FS using FIP
  crates/sargon/src/profile/logic/account/create_account.rs
  crates/sargon/src/profile/v100/entity/account/account.rs
  crates/sargon/src/profile/v100/entity/is_entity.rs
  crates/sargon/src/profile/v100/entity/persona/persona.rs
  crates/sargon/src/profile/v100/factors/hd_transaction_signing_factor_instance.rs
  crates/sargon/src/system/clients/client/factor_instances_cache_client.rs
  crates/sargon/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/system/sargon_os/sargon_os_factors.rs
  crates/sargon/src/system/sargon_os/sargon_os_profile.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon/src/profile/logic/account/query_accounts.rs
  crates/sargon/src/profile/logic/profile_network/profile_network_get_entities.rs
  crates/sargon/src/profile/v100/entity/is_entity.rs
  crates/sargon/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/system/sargon_os/sargon_os_factors.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon-uniffi/src/home_cards/home_card.rs
  crates/sargon/src/home_cards/home_card.rs
  crates/sargon/src/home_cards/manager.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon/radix_babylon_wallet_pre_derived_public_keys_cache.json
  crates/sargon/src/keys_collector/derivation_testing/mod.rs
  crates/sargon/src/keys_collector/derivation_testing/test_keys_collector.rs
  crates/sargon/src/profile/logic/account/create_account.rs
  crates/sargon/src/system/clients/client/secure_storage_client/secure_storage_client.rs
  crates/sargon/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os_factors.rs
Due: fmt, clippy, unit tests

bump to 1.1.48
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none
