Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.17.2
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift not changed to local development
        name: ensure Swift not changed to local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-not-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

      - id: doc tests
        name: doc tests
        language: system
        types: [file, rust]
        entry: cargo test --doc
        pass_filenames: false

      - id: vectors integration tests
        name: vectors integration tests
        language: system
        types: [file, rust]
        entry: cargo test --package sargon --test vectors
        pass_filenames: false

      - id: uniffi bindgen tests
        name: uniffi bindgen tests
        language: system
        types: [file, rust]
        entry: bash -c 'exec env CLASSPATH="$PWD/jna-5.13.0.jar"' && bash -c 'exec env JAVA_OPTS="-Xmx8g"' && cargo test --package sargon --test uniffi
        pass_filenames: false

AssetsTransfersRecipient
  apple/Sources/Sargon/Extensions/Methods/Transaction/AssetsTransfersRecipient+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Transaction/AssetsTransfersRecipient+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Transaction/AssetsTransfersRecipient+Swiftified.swift
  apple/Tests/TestCases/Transaction/AssetsTransfersRecipientTests.swift
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/assets_transfers_recipient_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/mod.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Make all Kotlin constructors with secret magic internal
  Cargo.lock
  Cargo.toml
  src/bindgen/post_process_kotlin.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Catch error and display the reason on post-processing
  src/bindgen/post_process_kotlin.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

format address
  apple/Sources/Sargon/Address.swift
  apple/Sources/Sargon/Extensions/Methods/Address/AccessControllerAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/AccountAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/ComponentAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/IdentityAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/LegacyOlympiaAccountAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/NonFungibleResourceAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/PackageAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/PoolAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/ResourceAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/ValidatorAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/VaultAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/NonFungibleGlobalID+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/NonFungibleLocalID+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/AddressOfAccountOrPersona+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/ResourceAddress+Swiftified.swift
  apple/Sources/Sargon/Protocols/AddressProtocol.swift
  apple/Tests/TestCases/Address/LegacyOlympiaAccountAddressTests.swift
  apple/Tests/TestCases/Prelude/NonFungibleGlobalIDTests.swift
  apple/Tests/TestCases/Prelude/NonFungibleLocalIDTests.swift
  examples/iOS/Sources/Planbok/View/Views/AccountView.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AccountAddress.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AccountAddressTest.kt
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/address_format.rs
  src/profile/v100/address/legacy_olympia_account_address.rs
  src/profile/v100/address/legacy_olympia_account_address_uniffi_fn.rs
  src/profile/v100/address/mod.rs
  src/profile/v100/address/non_fungible_global_id.rs
  src/profile/v100/address/non_fungible_global_id_uniffi_fn.rs
  src/profile/v100/address/non_fungible_local_id.rs
  src/profile/v100/address/non_fungible_local_id_uniffi_fn.rs
  src/profile/v100/address/resource_address.rs
  src/profile/v100/address/wrap_ret_address.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

more tests
  apple/Tests/TestCases/Address/ResourceAddressTests.swift
  apple/Tests/TestCases/Transaction/AssetsTransfersRecipientTests.swift
  apple/Tests/Utils/AddressProtocolTests.swift
Due: ensure Swift not changed to local development

Merge open file method
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
Due: none

Tarpaulin ignore address_union.rs due to too many false negatives
  .tarpaulin.toml
Due: none

WIP Buildinfo and Swift Decimal192 codable
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/DependencyInformation+SampleValues.swift
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/build_information/dependency_information.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/build_information/dependency_information_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/build_information/mod.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

DependencyInformation
  apple/Sources/Sargon/Extensions/Methods/Prelude/DependencyInformation+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/DependencyInformation+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/DependencyInformation+Swiftified.swift
  apple/Tests/TestCases/Prelude/DependencyInformationTests.swift
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/build_information/dependency_information.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/build_information/dependency_information_uniffi_fn.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Integration batch 13 (#48)
  apple/Sources/Sargon/Extensions/Methods/Prelude/DependencyInformation+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/DependencyInformation+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/DependencyInformation+Swiftified.swift
  apple/Tests/TestCases/Prelude/DependencyInformationTests.swift
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/build_information/dependency_information.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/build_information/dependency_information_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/build_information/mod.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Codable Addresses, Decimal192, NonFunIDs
  apple/Sources/Sargon/Extensions/Methods/Prelude/Decimal192+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/NonFungibleGlobalID+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/NonFungibleLocalID+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/Address+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/Decimal192+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/NonFungibleGlobalID+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/NonFungibleLocalID+Swiftified.swift
  apple/Sources/Sargon/Protocols/AddressProtocol.swift
  apple/Sources/Sargon/Protocols/IdentifiableByStringProtocol.swift
  apple/Tests/TestCases/Address/AccountAddressTests.swift
  apple/Tests/TestCases/Prelude/Decimal192Tests.swift
  apple/Tests/TestCases/Prelude/NonFungibleGlobalIDTests.swift
  apple/Tests/TestCases/Prelude/NonFungibleLocalIDTests.swift
  apple/Tests/Utils/AddressProtocolTests.swift
  apple/Tests/Utils/IdentifiableByStringProtocolTests.swift
  apple/Tests/Utils/SargonModelProtocol.swift
Due: ensure Swift not changed to local development

Codable Addresses, Decimal192, NonFunIDs (#49)
  apple/Sources/Sargon/Extensions/Methods/Prelude/Decimal192+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/NonFungibleGlobalID+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/NonFungibleLocalID+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/Address+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/Decimal192+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/NonFungibleGlobalID+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/NonFungibleLocalID+Swiftified.swift
  apple/Sources/Sargon/Protocols/AddressProtocol.swift
  apple/Sources/Sargon/Protocols/IdentifiableByStringProtocol.swift
  apple/Tests/TestCases/Address/AccountAddressTests.swift
  apple/Tests/TestCases/Prelude/Decimal192Tests.swift
  apple/Tests/TestCases/Prelude/NonFungibleGlobalIDTests.swift
  apple/Tests/TestCases/Prelude/NonFungibleLocalIDTests.swift
  apple/Tests/Utils/AddressProtocolTests.swift
  apple/Tests/Utils/IdentifiableByStringProtocolTests.swift
  apple/Tests/Utils/SargonModelProtocol.swift
Due: ensure Swift not changed to local development

Add dependency information sample
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DependencyInformation.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/DependencyInformationSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DependencyInformationTest.kt
Due: none

Change non fungible local id factory methods
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NonFungibleLocalId.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NonFungibleLocalIdTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
Due: none

PR fixes
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/AccessControllerAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/AccountAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/IdentityAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/PackageAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/PoolAddressSampleMainnet.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ResourceAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ValidatorAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/VaultAddressSample.kt
  src/profile/v100/address/wrap_ret_address.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

export and swiftify
  apple/Sources/Sargon/Extensions/Methods/RET/FungibleResourceIndicator+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/Message+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/NonFungibleResourceIndicator+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/ResourceIndicator+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/NonFungibleLocalID+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/RET/FungibleResourceIndicator+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/RET/Message+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/RET/NonFungibleResourceIndicator+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/RET/ResourceIndicator+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/Address+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/ResourceAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/FungibleResourceIndicator+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/Message+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/NonFungibleResourceIndicator+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/ResourceIndicator+Swifified.swift
  apple/Tests/TestCases/Address/AddressTests.swift
  apple/Tests/TestCases/Address/ResourceAddressTests.swift
  apple/Tests/TestCases/Prelude/NonFungibleLocalIDTests.swift
  apple/Tests/TestCases/RET/FungibleResourceIndicatorTests.swift
  apple/Tests/TestCases/RET/MessageTests.swift
  apple/Tests/TestCases/RET/NonFungibleResourceIndicatorTests.swift
  apple/Tests/TestCases/RET/ResourceIndicatorTests.swift
  apple/Tests/Utils/AddressProtocolTests.swift
  src/core/types/non_empty_max_n_bytes.rs
  src/profile/v100/address/non_fungible_local_id.rs
  src/profile/v100/address/non_fungible_local_id_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_indicator/fungible_resource_indicator.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_indicator/fungible_resource_indicator_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_indicator/mod.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_indicator/non_fungible_resource_indicator.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_indicator/non_fungible_resource_indicator_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_indicator/resource_indicator.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_indicator/resource_indicator_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/low_level/message/message.rs
  src/wrapped_radix_engine_toolkit/low_level/message/message_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/low_level/message/mod.rs
  src/wrapped_radix_engine_toolkit/low_level/message/plaintext_message/plaintext_message.rs
  src/wrapped_radix_engine_toolkit/low_level/message/plaintext_message/plaintext_message_contents.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

networkid
  apple/Sources/Sargon/Extensions/Methods/Prelude/NetworkID+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/ResourceAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/NetworkID+Swiftified.swift
  apple/Tests/TestCases/Address/ResourceAddressTests.swift
  apple/Tests/TestCases/Prelude/NetworkIDTests.swift
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/transaction_guarantee.rs
  src/wrapped_radix_engine_toolkit/low_level/message/message.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Random addresses
  apple/Sources/Sargon/Extensions/Methods/Address/AccessControllerAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/AccountAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/AddressOfAccountOrPersona+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/ComponentAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/IdentityAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/NonFungibleResourceAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/PackageAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/PoolAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/ResourceAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/ValidatorAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/VaultAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/Address+Swiftified.swift
  apple/Sources/Sargon/Protocols/AddressProtocol.swift
  apple/Tests/Utils/AddressProtocolTests.swift
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/AccessControllerAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/AccountAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/IdentityAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/PackageAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/PoolAddressSampleMainnet.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ResourceAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ValidatorAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/VaultAddressSample.kt
  src/profile/v100/address/non_fungible_resource_address.rs
  src/profile/v100/address/non_fungible_resource_address_uniffi_fn.rs
  src/profile/v100/address/wrap_ret_address.rs
  src/wrapped_radix_engine_toolkit/low_level/message/message.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

validate depth of SBOR for Transaction Intent
  src/core/error/common_error.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

test Instructions SBOR max depth
  src/lib.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/instructions/instructions.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_receipt.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

SBOR Depth validation of Instructions and TransactionManifest.
  src/core/error/common_error.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifest_assets_transfers.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_create_tokens.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/modify_manifest.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/third_party_deposit_update/manifest_third_party_deposit_update.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/instructions/instructions.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/instructions/instructions_secret_magic.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest_secret_magic.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

safer
  examples/iOS/Backend/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifest_assets_transfers.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_create_tokens.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/third_party_deposit_update/manifest_third_party_deposit_update.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

validate SBOR depth of NotarizedTransaction, SignedIntent, TransactionIntent and hide constructors so we do not bypass the SBOR depth validation.
  src/core/error/common_error.rs
  src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
  src/wrapped_radix_engine_toolkit/low_level/compiled_notarized_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/compiled_notarized_intent_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/low_level/intent_signatures.rs
  src/wrapped_radix_engine_toolkit/low_level/mod.rs
  src/wrapped_radix_engine_toolkit/low_level/notarized_transaction.rs
  src/wrapped_radix_engine_toolkit/low_level/sbor_depth_validation.rs
  src/wrapped_radix_engine_toolkit/low_level/signed_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/instructions/instructions.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

WIP tests in Swift of depth, need TX header sample values
  apple/Sources/Sargon/Extensions/Methods/RET/TransactionManifest+Wrap+Functions.swift
  apple/Tests/TestCases/RET/TransactionManifestTests.swift
  src/wrapped_radix_engine_toolkit/low_level/mod.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_header_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

swift tests
  .pre-commit-config.yaml
  _typos.toml
  apple/Sources/Sargon/Extensions/SampleValues/Transaction/TransactionHeader+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Transaction/TransactionHeader+Swiftified.swift
  apple/Tests/TestCases/RET/TransactionManifestTests.swift
  apple/Tests/TestCases/Transaction/StakeClaimTests.swift
  apple/Tests/TestCases/Transaction/TransactionHeaderTests.swift
  src/profile/v100/address/wrap_ret_address.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_header_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/instructions/instructions.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

fix typos
  _typos.toml
Due: none

proper fix typos
  _typos.toml
  src/profile/v100/entity/persona/persona.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

proper fix typos
  _typos.toml
Due: none

fix Swift post processor, and improve kotlin one
  src/bindgen/post_process_kotlin.rs
  src/bindgen/post_process_swift.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

code cov
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/instructions/instructions.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests
