Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

Try fix CI due to Github's runner macOS-14 not supporting Xcode 16 anymore.
  .github/workflows/release-desktop.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

Try fix CI due to Github's runner macOS-14 not supporting Xcode 16 an… (#264)
  .github/workflows/release-desktop.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

[no ci] wip
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
  crates/sargon/src/keys_collector/derivation_testing/test_keys_collector/test_derivation_mono_and_poly_interactor.rs
  crates/sargon/src/system/clients/client/factor_instances_cache_client.rs
  crates/sargon/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os_factors.rs
Due: fmt, clippy, unit tests

Release of '1.1.51' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider.rs
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
  crates/sargon/src/keys_collector/derivation_testing/test_keys_collector/test_derivation_mono_and_poly_interactor.rs
  crates/sargon/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os_factors.rs
Due: fmt, clippy, unit tests

bump to 1.1.52
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

new driver
  crates/sargon-uniffi/src/system/drivers/file_system_driver/file_system_driver.rs
  crates/sargon/src/system/clients/client/factor_instances_cache_client.rs
  crates/sargon/src/system/clients/client/file_system_client/file_system_client.rs
  crates/sargon/src/system/drivers/file_system_driver/file_system_driver.rs
  crates/sargon/src/system/drivers/file_system_driver/support/test/in_memory_file_system_driver.rs
  crates/sargon/src/system/drivers/file_system_driver/support/test/rust_file_system_driver.rs
Due: fmt, clippy, unit tests

add writable_app_dir_path to FileSystem driver/client
  crates/sargon/src/system/drivers/file_system_driver/support/test/rust_file_system_driver.rs
Due: fmt, clippy, unit tests

finish test
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/delete_account/delete_account_transfers.rs
Due: fmt, clippy, unit tests

bump version
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

one more test
  Cargo.lock
  crates/sargon/src/gateway_api/methods/state_methods.rs
Due: fmt, clippy, unit tests

Fixes
  crates/sargon-uniffi/src/profile/v100/entity/entity_flag.rs
  crates/sargon-uniffi/src/system/drivers/event_bus_driver/support/event_profile_modified.rs
  crates/sargon/src/profile/v100/address/non_fungible_local_id.rs
  crates/sargon/src/system/clients/client/http_client/http_client.rs
  crates/sargon/src/system/drivers/event_bus_driver/support/event_profile_modified.rs
  crates/sargon/src/system/sargon_os/sargon_os_sync_accounts.rs
Due: fmt, clippy, unit tests

Update account flags from sargon os
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/system/drivers/event_bus_driver/support/event_profile_modified.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

Add sargon os method
  Cargo.lock
  crates/sargon-uniffi/src/system/sargon_os/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_sync_accounts.rs
Due: fmt, clippy, unit tests

Implement sync method for accounts deletion
  Cargo.lock
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/gateway_api/endpoints/state_endpoints.rs
  crates/sargon/src/gateway_api/methods/page_methods.rs
  crates/sargon/src/gateway_api/methods/state_methods.rs
  crates/sargon/src/gateway_api/models/types/request/state/entity/page/mod.rs
  crates/sargon/src/gateway_api/models/types/request/state/entity/page/non_fungible_vault_ids.rs
  crates/sargon/src/gateway_api/models/types/request/state/entity/page/non_fungible_vaults.rs
  crates/sargon/src/gateway_api/models/types/response/page_response.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/mod.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/page/mod.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/page/non_fungible_vault_item.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/page/non_fungible_vaults.rs
  crates/sargon/src/lib.rs
  crates/sargon/src/profile/logic/account/account_visibility.rs
  crates/sargon/src/profile/logic/account/accounts_visibility.rs
  crates/sargon/src/profile/logic/account/mod.rs
  crates/sargon/src/profile/v100/address/non_fungible_local_id.rs
  crates/sargon/src/profile/v100/entity/account/account.rs
  crates/sargon/src/system/clients/client/http_client/http_client.rs
  crates/sargon/src/system/drivers/event_bus_driver/support/event_profile_modified.rs
  crates/sargon/src/system/sargon_os/mod.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/system/sargon_os/sargon_os_sync_accounts.rs
  crates/sargon/tests/integration/main.rs
Due: fmt, clippy, unit tests

Tombstone flag
  crates/sargon/src/profile/logic/account/account_visibility.rs
  crates/sargon/src/profile/logic/account/accounts_visibility.rs
  crates/sargon/src/profile/logic/account/mod.rs
  crates/sargon/src/profile/logic/account/query_accounts.rs
  crates/sargon/src/profile/logic/profile_network/profile_network_get_entities.rs
  crates/sargon/src/profile/v100/entity/account/account.rs
  crates/sargon/src/profile/v100/entity/entity_flag.rs
  crates/sargon/src/profile/v100/entity/is_entity.rs
Due: fmt, clippy, unit tests

Remove comment
  crates/sargon/src/gateway_api/endpoints/state_endpoints.rs
Due: fmt, clippy, unit tests

Convert the iOS build script into github workflow steps
  .github/workflows/release.yml
Due: none

Handle PR comments
  crates/sargon-uniffi/src/profile/v100/entity/entity_flag.rs
  crates/sargon/src/gateway_api/endpoints/state_endpoints.rs
  crates/sargon/src/gateway_api/methods/state_methods.rs
  crates/sargon/src/gateway_api/models/types/request/state/entity/page/non_fungible_vault_ids.rs
  crates/sargon/src/gateway_api/models/types/request/state/entity/page/non_fungible_vaults.rs
  crates/sargon/src/gateway_api/models/types/response/page_response.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/page/mod.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/page/non_fungible_vaults.rs
  crates/sargon/src/profile/logic/account/account_visibility.rs
  crates/sargon/src/profile/logic/account/accounts_visibility.rs
  crates/sargon/src/profile/v100/entity/account/account.rs
  crates/sargon/src/profile/v100/entity/entity_flag.rs
  crates/sargon/src/profile/v100/entity/entity_flags.rs
  crates/sargon/src/profile/v100/entity/is_entity.rs
  crates/sargon/src/profile/v100/entity/persona/persona.rs
  crates/sargon/src/system/sargon_os/sargon_os_sync_accounts.rs
Due: fmt, clippy, unit tests

fix swift test
  apple/Sources/Sargon/Drivers/FileSystem/FileSystemDriver+Data+ContentsOf+URL.swift
  apple/Tests/IntegrationTests/DriversTests/FileSystemDriverTests.swift
  apple/Tests/IntegrationTests/SargonOS/TestOSTests.swift
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon-uniffi/src/system/drivers/file_system_driver/file_system_driver.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/system/clients/client/factor_instances_cache_client.rs
  crates/sargon/src/system/clients/client/file_system_client/file_system_client.rs
  crates/sargon/src/system/drivers/file_system_driver/file_system_driver.rs
  crates/sargon/src/system/drivers/file_system_driver/support/test/in_memory_file_system_driver.rs
  crates/sargon/src/system/drivers/file_system_driver/support/test/rust_file_system_driver.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidFileSystemDriver.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Trigger a test run
  .github/workflows/release.yml
Due: none

add missing import in Kotlin
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidFileSystemDriver.kt
Due: none

clippy
  crates/sargon/src/gateway_api/methods/page_methods.rs
  crates/sargon/src/gateway_api/methods/state_methods.rs
  crates/sargon/src/system/sargon_os/sargon_os_delete_account.rs
Due: fmt, clippy, unit tests

Change logic that decides what account is deleted
  crates/sargon-uniffi/src/profile/v100/address/locker_address.rs
  crates/sargon-uniffi/src/profile/v100/address/resource_address.rs
  crates/sargon-uniffi/src/profile/v100/address/vault_address.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_sync_accounts.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/account_locker/account_locker_claimable_resource.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/simple_non_fungible_resource_bounds.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/simple_resource_bounds.rs
  crates/sargon/src/core/utils/constants.rs
  crates/sargon/src/gateway_api/endpoints/state_endpoints.rs
  crates/sargon/src/gateway_api/methods/state_methods.rs
  crates/sargon/src/gateway_api/models/types/request/state/entity/page/non_fungible_vaults.rs
  crates/sargon/src/gateway_api/models/types/request/state/mod.rs
  crates/sargon/src/gateway_api/models/types/request/state/non_fungible/location.rs
  crates/sargon/src/gateway_api/models/types/request/state/non_fungible/mod.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/non_fungible/collection_item_global.rs
  crates/sargon/src/gateway_api/models/types/response/state/mod.rs
  crates/sargon/src/gateway_api/models/types/response/state/non_fungible/location.rs
  crates/sargon/src/gateway_api/models/types/response/state/non_fungible/mod.rs
  crates/sargon/src/profile/v100/address/locker_address.rs
  crates/sargon/src/profile/v100/address/non_fungible_local_id.rs
  crates/sargon/src/profile/v100/address/resource_address.rs
  crates/sargon/src/profile/v100/address/vault_address.rs
  crates/sargon/src/profile/v100/networks/network/resource_preferences/resource_preferences.rs
  crates/sargon/src/system/sargon_os/sargon_os_sync_accounts.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/delete_account/delete_account_transfer.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/account_locker/account_locker_claimable_resource.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/address_union.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/simple_non_fungible_resource_bounds.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/simple_resource_bounds.rs
  crates/sargon/tests/integration/main.rs
Due: fmt, clippy, unit tests

Allow creating Manifest for virtual accounts
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/gateway_api/endpoints/state_endpoints.rs
  crates/sargon/src/gateway_api/methods/page_methods.rs
  crates/sargon/src/gateway_api/models/types/response/page_response.rs
  crates/sargon/src/system/clients/client/http_client/http_client.rs
  crates/sargon/src/system/sargon_os/sargon_os_delete_account.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_submit.rs
Due: fmt, clippy, unit tests

Add tests
  crates/sargon/src/system/sargon_os/sargon_os_sync_accounts.rs
Due: fmt, clippy, unit tests

Remove unused EntityFlag
  crates/sargon-uniffi/src/profile/v100/entity/entity_flag.rs
  crates/sargon/src/profile/v100/entity/entity_flag.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/EntityFlagSample.kt
Due: fmt, clippy, unit tests

[no ci] wip
  apple/Sources/Sargon/Drivers/FileSystem/FileSystemDriver+Data+ContentsOf+URL.swift
  crates/sargon-uniffi/src/system/sargon_os/sargon_os.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_factors.rs
  crates/sargon/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/system/sargon_os/sargon_os_factors.rs
  crates/sargon/src/system/sargon_os/sargon_os_gateway.rs
  crates/sargon/src/system/sargon_os/sargon_os_personas.rs
  crates/sargon/src/system/sargon_os/sargon_os_security_structures.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

fix kotlin tests
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/driver/Fakes.kt
Due: none

format
  crates/sargon-uniffi/src/system/sargon_os/sargon_os.rs
Due: fmt, clippy, unit tests

wip generlize persona and account operations
  crates/sargon-uniffi/src/system/drivers/event_bus_driver/support/event_kind.rs
  crates/sargon-uniffi/src/system/drivers/event_bus_driver/support/event_profile_modified.rs
  crates/sargon/src/profile/supporting_types/on_same_network_validating.rs
  crates/sargon/src/profile/v100/entity/account/account.rs
  crates/sargon/src/profile/v100/entity/is_entity.rs
  crates/sargon/src/profile/v100/entity/persona/persona.rs
  crates/sargon/src/profile/v100/networks/network/accounts.rs
  crates/sargon/src/profile/v100/networks/network/personas.rs
  crates/sargon/src/system/drivers/event_bus_driver/support/event_kind.rs
  crates/sargon/src/system/drivers/event_bus_driver/support/event_profile_modified.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

fix swift
  apple/Tests/IntegrationTests/DriversTests/EventBusDriverTests.swift
  apple/Tests/IntegrationTests/SargonOS/TestOSTests.swift
Due: ensure Swift setup for local development, SwiftFormat

fmt
  crates/sargon/src/profile/v100/entity/is_entity.rs
  crates/sargon/src/profile/v100/networks/network/accounts.rs
Due: fmt, clippy, unit tests

wip unify modify entities
  crates/sargon/src/core/types/collections/identified_vec_of/identified_vec_of_modify.rs
  crates/sargon/src/profile/v100/entity/account/account.rs
  crates/sargon/src/profile/v100/entity/is_entity.rs
  crates/sargon/src/profile/v100/entity/persona/persona.rs
  crates/sargon/src/profile/v100/networks/network/profile_network.rs
  crates/sargon/src/profile/v100/networks/profile_networks.rs
  crates/sargon/src/profile/v100/profile.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

assert factors unique for some operations
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
  crates/sargon/src/profile/logic/persona/create_persona.rs
  crates/sargon/src/profile/mfa/secured_entity_control/secured_entity_control.rs
  crates/sargon/src/profile/mfa/security_structures/decl_security_structure_of.rs
  crates/sargon/src/profile/mfa/security_structures/factor_instance_level/confirmation_role_with_factor_instances.rs
  crates/sargon/src/profile/mfa/security_structures/factor_instance_level/matrix_of_factor_instances.rs
  crates/sargon/src/profile/mfa/security_structures/factor_instance_level/primary_role_with_factor_instances.rs
  crates/sargon/src/profile/mfa/security_structures/factor_instance_level/recovery_role_with_factor_instances.rs
  crates/sargon/src/profile/mfa/security_structures/role_with_factors.rs
  crates/sargon/src/profile/v100/entity/has_security_state.rs
  crates/sargon/src/profile/v100/entity/is_entity.rs
  crates/sargon/src/profile/v100/entity_security_state/unsecured_entity_control.rs
  crates/sargon/src/profile/v100/profile.rs
  crates/sargon/src/system/sargon_os/profile_state_holder.rs
Due: fmt, clippy, unit tests

Simplify rust toolchains
  .github/workflows/release.yml
Due: none

fmt
  crates/sargon/src/profile/mfa/security_structures/factor_instance_level/matrix_of_factor_instances.rs
  crates/sargon/src/profile/v100/profile.rs
Due: fmt, clippy, unit tests

wip
  Cargo.lock
Due: none

Fix Dalek vulnerability (#260)
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

deny all deposits to deleted account
  crates/sargon/src/system/sargon_os/sargon_os_delete_account.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/delete_account/manifest_delete_account.rs
Due: fmt, clippy, unit tests
