Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

SwiftFormat:
  name: SwiftFormat
  language: system
  entry: swiftformat .
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

fix
  fixtures/vector/wallet_interactions_dapp_to_wallet.json
Due: none

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/Flows/SecurityQuestions/DecryptSecurityQuestionsFeature/DecryptSecurityQuestionsFeatureCoordinator.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/SecurityQuestions/NewSecurityQuestionsFeature/NewSecurityQuestionsFeatureCoordinator.swift
  examples/iOS/Backend/Sources/Planbok/Features/OverlayWindow/HUDFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/OverlayWindow/HUDMessage.swift
  examples/iOS/Backend/Sources/Planbok/Features/OverlayWindow/OverlayFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/OverlayWindow/OverlayWindowClient.swift
  examples/iOS/Backend/Sources/Planbok/Features/OverlayWindow/SceneDelegate.swift
  examples/iOS/Backend/Sources/Planbok/Features/Settings/SettingsFeature.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/FactorSourceHintView.swift
  examples/iOS/Frontend/PlanbokApp/PlanbokApp.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Package.resolved
  examples/iOS/Backend/Package.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/PasteboardClient.swift
  examples/iOS/Backend/Sources/Planbok/Features/DebugProfileFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/OverlayWindow/OverlayWindowClient.swift
  examples/iOS/Backend/Sources/Planbok/Features/Settings/SettingsFeature.swift
  examples/iOS/Frontend/PlanbokApp.xcodeproj/xcuserdata/sajjon.xcuserdatad/xcschemes/xcschememanagement.plist
  examples/iOS/Planbok.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/PickFactorSourceCoordinator/Children/PickFactorSourceFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Features/FactorsBuilderFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Features/RoleFactorsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/SetFactorThresholdFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/NewSecurityShieldCoordinator.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/FactorSourceExtensions/FactorSourceKind+Extensions.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/PickFactorSourceCoordinator/Children/PickFactorSelectKindFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Models/NewShield+SharedState.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/FactorSourceExtensions/FactorSourceKind+Extensions.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Dependencies/FactorSourcesClient.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/SecurityQuestions/DecryptSecurityQuestionsFeature/DecryptSecurityQuestionsFeatureCoordinator.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/SecurityQuestions/NewSecurityQuestionsFeature/Children/AnswerSecurityQuestionFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/SecurityQuestions/NewSecurityQuestionsFeature/Children/SecurityQuestionsReviewAnswersFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/SecurityQuestions/NewSecurityQuestionsFeature/Children/SharedState+SecurityQuestions.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/SecurityQuestions/NewSecurityQuestionsFeature/NewSecurityQuestionsFeatureCoordinator.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/DebugProfileFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

bump typos
  .github/workflows/test.yml
  .pre-commit-config.yaml
  _typos.toml
Due: none

fix swift tests, try fix kotlin tests
  apple/Tests/TestCases/Profile/Factor/SecurityQuestionsFactorSourceTests.swift
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/IdentityAddressTest.kt
Due: ensure Swift setup for local development, SwiftFormat

increase coverage swift
  apple/Tests/TestCases/Profile/MFA/SecurityStructureOfFactorSourceIDsTests.swift
  apple/Tests/TestCases/Profile/MFA/SecurityStructureOfFactorSourcesTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Expose kotlin serde for RadixConnectMobileLinkRequest
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/RadixConnectMobile.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/RadixConnectMobileLinkRequest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/RadixConnectMobileLinkRequestSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/RadixConnectMobileLinkRequestTest.kt
  src/radix_connect/mobile/deep_link_parsing/link_request.rs
Due: fmt, clippy, unit tests

Make RadixConnectSessionStorage internal
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/radixconnect/RadixConnectSessionStorage.kt
Due: none

bump typos to 1.22.7
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

Expose kotlin serde for RadixConnectMobileLinkRequest (#164)
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/RadixConnectMobile.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/RadixConnectMobileLinkRequest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/radixconnect/RadixConnectSessionStorage.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/RadixConnectMobileLinkRequestSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/RadixConnectMobileLinkRequestTest.kt
  src/radix_connect/mobile/deep_link_parsing/link_request.rs
Due: fmt, clippy, unit tests

address comments
  fixtures/vector/wallet_interactions_dapp_to_wallet.json
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/auth_challenge_nonce.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/transaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/unvalidated_transaction_manifest.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/blobs/blob.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/blobs/blobs.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/blobs/blobs_secret_magic.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests

address comments
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/WalletInteraction/DappToWalletInteractionUnvalidated+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/RadixConnect/WalletInteraction/DappToWalletInteractionUnvalidated+Swiftified.swift
  apple/Tests/TestCases/RadixConnect/WalletInteraction/DappToWalletInteractionUnvalidatedTests.swift
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Instantiate okhttp request body only when the given body from rust is not empty
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/antenna/SargonNetworkAntenna.kt
Due: none

Add code to convert factor instances to AccessRules
  src/lib.rs
  src/profile/mfa/security_structures/decl_security_structure_of.rs
  src/profile/v100/factors/factor_instance/factor_instance_badge.rs
Due: fmt, clippy, unit tests

request in deepLink URL
  Cargo.lock
  Cargo.toml
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/deep_link_parsing/connect_request.rs
  src/radix_connect/mobile/deep_link_parsing/parser.rs
Due: fmt, clippy, unit tests

Optional request body for `GET` methods (#165)
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/antenna/SargonNetworkAntenna.kt
Due: none

address comments
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/WalletInteraction/UnvalidatedTransactionManifest+Wrap+Functions.swift
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/unvalidated_transaction_manifest.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/unvalidated_transaction_manifest_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

address comments
  src/radix_connect/interaction_id.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/transaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/unvalidated_transaction_manifest.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/blobs/blobs.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/blobs/blobs_secret_magic.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  src/core/types/collections/identified_vec_of/identified_vec_of_uniffi_converter.rs
  src/gateway_api/client/gateway_client.rs
  src/profile/v100/app_preferences/gateways/gateway.rs
  src/system/clients/client/http_client/http_client.rs
  src/system/clients/clients.rs
  src/system/sargon_os/mod.rs
  src/system/sargon_os/sargon_os_transaction.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  src/system/sargon_os/sargon_os_transaction.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  src/hierarchical_deterministic/derivation/mnemonic_with_passphrase.rs
  src/system/sargon_os/sargon_os_transaction.rs
Due: fmt, clippy, unit tests

Bump to 1.0.11
  Cargo.lock
  Cargo.toml
Due: none

[no ci] WIP
  src/system/clients/clients.rs
  src/system/drivers/drivers.rs
  src/system/sargon_os/sargon_os.rs
  src/system/sargon_os/sargon_os_transaction.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  src/core/error/common_error.rs
  src/profile/logic/profile_network/profile_network_get_entities.rs
  src/profile/logic/profile_networks.rs
  src/profile/supporting_types/account_or_persona.rs
  src/system/sargon_os/profile_holder.rs
  src/system/sargon_os/sargon_os_transaction.rs
  src/wrapped_radix_engine_toolkit/low_level/manifest_summary.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  src/profile/logic/mod.rs
  src/profile/logic/profile_network/profile_network_details.rs
  src/profile/logic/profile_next_derivation.rs
  src/profile/logic/profile_signing_factors.rs
  src/profile/supporting_types/account_or_persona.rs
  src/profile/v100/entity/account/account.rs
  src/profile/v100/entity/persona/persona.rs
  src/profile/v100/entity_security_state/entity_security_state.rs
  src/system/sargon_os/profile_holder.rs
  src/system/sargon_os/sargon_os_transaction.rs
Due: fmt, clippy, unit tests

export new_wallet_interaction_version_current
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/WalletInteractionVersion+Wrap+Functions.swift
  src/radix_connect/interaction_version.rs
  src/radix_connect/interaction_version_uniffi_fn.rs
  src/radix_connect/mod.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

add dapp origin type based on String
  fixtures/vector/wallet_interactions_dapp_to_wallet.json
  src/core/types/signatures/sign_auth_challenge_request.rs
  src/core/types/signatures/sign_request.rs
  src/core/types/signatures/sign_transaction_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/dapp_metadata/interaction_metadata.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/dapp_metadata/interaction_metadata_unvalidated.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/dapp_metadata/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/dapp_metadata/origin.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests

remove files
  src/core/types/signatures/sign_auth_challenge_request.rs
  src/core/types/signatures/sign_request.rs
  src/core/types/signatures/sign_transaction_request.rs
Due: fmt, clippy, unit tests

update sargon version
  Cargo.lock
  Cargo.toml
Due: none

wip
  fixtures/models/well_known.json
  src/core/error/common_error.rs
  src/core/types/signatures/ed25519_signature.rs
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/deep_link_parsing/connect_request.rs
  src/radix_connect/mobile/deep_link_parsing/dapp_request.rs
  src/radix_connect/mobile/deep_link_parsing/link_request.rs
  src/radix_connect/mobile/deep_link_parsing/mod.rs
  src/radix_connect/mobile/deep_link_parsing/parser.rs
  src/radix_connect/mobile/deep_link_parsing/request.rs
  src/radix_connect/mobile/relay_service/mod.rs
  src/radix_connect/mobile/relay_service/models/mod.rs
  src/radix_connect/mobile/relay_service/models/request/mod.rs
  src/radix_connect/mobile/relay_service/models/request/request.rs
  src/radix_connect/mobile/relay_service/models/request/request_method.rs
  src/radix_connect/mobile/relay_service/models/response/mod.rs
  src/radix_connect/mobile/relay_service/models/response/session_handshake_request.rs
  src/radix_connect/mobile/relay_service/models/response/session_handshake_response.rs
  src/radix_connect/mobile/relay_service/models/response/wallet_interaction_requests.rs
  src/radix_connect/mobile/relay_service/service.rs
  src/radix_connect/mobile/session/callback_path.rs
  src/radix_connect/mobile/session/mod.rs
  src/radix_connect/mobile/session/session.rs
  src/radix_connect/mobile/session_dapp_request.rs
  src/radix_connect/well_known_client/models/dapp_well_known_data.rs
Due: fmt, clippy, unit tests

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  SwiftFormat: any of: \.swift$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
