Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

SwiftFormat:
  name: SwiftFormat
  language: system
  entry: swiftformat .
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

more tests
  src/profile/supporting_types/decl_ordered_map_with_samples.rs
Due: fmt, clippy, unit tests

more tests
  src/profile/supporting_types/decl_ordered_map_with_samples.rs
  src/profile/v100/networks/network/accounts.rs
Due: fmt, clippy, unit tests

s
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/Accounts+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/AccountsForDisplay+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/AccountsOrPersonas+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/AssetsExceptionList+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/AuthorizedDapps+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/DepositorsAllowList+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/DetailedAuthorizedPersonas+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/EntityFlags+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/FactorSources+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/Gateways+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/P2PLinks+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/Personas+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/ProfileNetworks+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/ReferencesToAuthorizedPersonas+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/SupportedCurves+Swiftified.swift
  apple/Tests/TestCases/Profile/Collection/AccountsForDisplayTests.swift
  apple/Tests/TestCases/Profile/Collection/AccountsOrPersonasTests.swift
  apple/Tests/TestCases/Profile/Collection/AccountsTests.swift
  apple/Tests/TestCases/Profile/Collection/AssetsExceptionListTests.swift
  apple/Tests/TestCases/Profile/Collection/AuthorizedDappsTests.swift
  apple/Tests/TestCases/Profile/Collection/DepositorsAllowListTests.swift
  apple/Tests/TestCases/Profile/Collection/DetailedAuthorizedPersonasTests.swift
  apple/Tests/TestCases/Profile/Collection/EntityFlagsTests.swift
  apple/Tests/TestCases/Profile/Collection/FactorSourcesTests.swift
  apple/Tests/TestCases/Profile/Collection/GatewaysTests.swift
  apple/Tests/TestCases/Profile/Collection/P2PLinksTests.swift
  apple/Tests/TestCases/Profile/Collection/PersonasTests.swift
  apple/Tests/TestCases/Profile/Collection/ProfileNetworksTests.swift
  apple/Tests/TestCases/Profile/Collection/SupportedCurvesTests.swift
  apple/Tests/Utils/CollectionTest.swift
Due: ensure Swift setup for local development, SwiftFormat

more tests
  src/core/types/ordered_map.rs
  src/wallet/wallet_accounts.rs
Due: fmt, clippy, unit tests

ensure JSON encoding and Decoding of FactorSources of SupportedCurves in CryptoParams of FS will fail if empty.
  src/core/types/ordered_map.rs
  src/profile/logic/profile_next_derivation.rs
  src/profile/v100/factors/factor_source_crypto_parameters.rs
  src/profile/v100/factors/factor_sources/factor_sources.rs
  src/profile/v100/profile.rs
Due: fmt, clippy, unit tests

Change to okhttp url
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/GatewaysTest.kt
  uniffi.toml
Due: none

Fix tests
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/IdentifiedArray.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Accounts.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AssetsExceptionList.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AuthorizedDapps.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DepositorsAllowList.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/EntityFlags.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSources.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Gateways.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2PLinks.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Personas.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ProfileNetworks.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ReferencesToAuthorizedPersonas.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SupportedCurves.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/IdentifiedArrayTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileEntityTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SavedGatewaysTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ThirdPartyDepositsTest.kt
Due: none

Move implementation into extensions
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Accounts.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AssetsExceptionList.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AuthorizedDapps.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DepositorsAllowList.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/EntityFlags.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSources.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Gateways.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/IdentifiedArray.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2PLinks.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Personas.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ProfileNetworks.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ReferencesToAuthorizedPersonas.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SupportedCurves.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/IdentifiedArrayTest.kt
Due: none

Change constructor implementation
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/IdentifiedArray.kt
Due: none

more tests
  apple/Tests/TestCases/Profile/Collection/AccountsTests.swift
  apple/Tests/TestCases/Profile/Collection/FactorSourcesTests.swift
  apple/Tests/TestCases/Profile/Factor/DeviceFactorSourceTests.swift
  apple/Tests/Utils/FactorSourceTest.swift
  apple/Tests/Utils/SpecificFactorSourceTest.swift
Due: ensure Swift setup for local development, SwiftFormat

Remove unused import
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ProfileEntity.kt
Due: none

Revert "Remove p2pLinks from json files"
  fixtures/vector/big_profile_100_accounts.json
  fixtures/vector/multi_profile_snapshots_test_version_100_patch_after_app_version_120.json
  fixtures/vector/only_plaintext_profile_snapshot_version_100.json
Due: none

Renamed OrderMap -> IdentifiedVecOf, split it into many files, it is not longer Deref for IndexMap, add more tests. Rename 'get' to 'get_id' (unsure about this).
  src/core/types/identified_vec_of/identifiable.rs
  src/core/types/identified_vec_of/identified_vec_of.rs
  src/core/types/identified_vec_of/identified_vec_of_display_debug.rs
  src/core/types/identified_vec_of/identified_vec_of_iterator.rs
  src/core/types/identified_vec_of/identified_vec_of_modify.rs
  src/core/types/identified_vec_of/identified_vec_of_query.rs
  src/core/types/identified_vec_of/identified_vec_of_serde.rs
  src/core/types/identified_vec_of/identified_vec_of_uniffi_converter.rs
  src/core/types/identified_vec_of/mod.rs
  src/core/types/identified_vec_of/user.rs
  src/core/types/mod.rs
  src/core/types/ordered_map.rs
  src/lib.rs
  src/profile/logic/profile_next_derivation.rs
  src/profile/supporting_types/decl_ordered_map_with_samples.rs
  src/profile/v100/app_preferences/gateways/gateway.rs
  src/profile/v100/app_preferences/gateways/saved_gateways.rs
  src/profile/v100/app_preferences/security.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/third_party_deposits.rs
  src/profile/v100/entity/entity_flags.rs
  src/profile/v100/entity/persona/persona.rs
  src/profile/v100/entity/persona/persona_data/persona_data_identified_collection_types.rs
  src/profile/v100/factors/factor_source_common.rs
  src/profile/v100/factors/factor_source_crypto_parameters.rs
  src/profile/v100/factors/factor_sources/factor_sources.rs
  src/profile/v100/networks/network/accounts.rs
  src/profile/v100/networks/network/authorized_dapp/shared_with_dapp.rs
  src/profile/v100/networks/network/profile_network.rs
  src/profile/v100/networks/profile_networks.rs
  src/profile/v100/profile.rs
  src/wallet/wallet.rs
  src/wallet/wallet_accounts.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/third_party_deposit_update/third_party_deposits_delta.rs
Due: fmt, clippy, unit tests

Address PR comments
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2PLinks.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
Due: none

Address PR comments
  apple/Tests/TestCases/Profile/ProfileTests.swift
  src/profile/v100/profile.rs
  src/profile/v100/proto_profile_maybe_with_legacy_p2p_links.rs
  src/radix_connect/p2p_links/radix_connect_purpose.rs
  tests/vectors/main.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

break out shared logic for UniFFI and Serde (emptiness and duplicates checks)
  src/core/types/identified_vec_of/identified_vec_of_iterator.rs
  src/core/types/identified_vec_of/identified_vec_of_modify.rs
  src/core/types/identified_vec_of/identified_vec_of_serde.rs
  src/core/types/identified_vec_of/identified_vec_of_uniffi_converter.rs
  src/core/types/identified_vec_of/identified_vec_of_validation_import_export.rs
  src/core/types/identified_vec_of/mod.rs
  src/profile/supporting_types/accounts_for_display.rs
  src/profile/supporting_types/accounts_or_personas.rs
  src/profile/supporting_types/decl_identified_vec_of_with_samples.rs
  src/profile/supporting_types/detailed_authorized_personas.rs
  src/profile/supporting_types/mod.rs
  src/profile/v100/app_preferences/gateways/saved_gateways.rs
  src/profile/v100/app_preferences/p2p_links/p2p_links.rs
  src/profile/v100/app_preferences/security.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/assets_exception_list.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/depositors_allow_list.rs
  src/profile/v100/entity/entity_flags.rs
  src/profile/v100/factors/factor_source_crypto_parameters.rs
  src/profile/v100/factors/factor_sources/factor_sources.rs
  src/profile/v100/networks/network/accounts.rs
  src/profile/v100/networks/network/authorized_dapp/references_to_authorized_personas.rs
  src/profile/v100/networks/network/authorized_dapps.rs
  src/profile/v100/networks/network/personas.rs
  src/profile/v100/networks/profile_networks.rs
Due: fmt, clippy, unit tests

Add tests
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
  src/profile/v100/proto_profile_maybe_with_legacy_p2p_links.rs
  src/radix_connect/p2p_links/radix_connect_purpose.rs
Due: fmt, clippy, unit tests

Release of '0.7.7' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Update to use fork
  Cargo.lock
  Cargo.toml
Due: none

Address PR comments
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Curve25519SecretKey.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Curve25519SecretKeyTest.kt
  src/core/types/keys/ed25519/public_key.rs
  src/wrapped_radix_engine_toolkit/low_level/notary_signature_uniffi_fn.rs
Due: fmt, clippy, unit tests

Update notary private key implementation
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Curve25519SecretKey.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NotaryPrivateKey.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/Exactly32BytesSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Curve25519SecretKeyTest.kt
  src/core/types/keys/ed25519/public_key.rs
  src/wrapped_radix_engine_toolkit/low_level/notary_signature_uniffi_fn.rs
Due: fmt, clippy, unit tests

Add exception annotation to sign method
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Curve25519SecretKey.kt
Due: none

Version bump
  Cargo.lock
  Cargo.toml
Due: none

Changes to compile
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Profile+Swiftified.swift
  src/core/types/identified_vec_of/identified_vec_of_uniffi_converter.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Add codable tests
  apple/Tests/TestCases/Profile/ProfileTests.swift
  apple/Tests/TestCases/RadixConnect/P2PLinks/LinkConnectionQrDataTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Fix kotlin build error
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/RadixConnectPurpose.kt
Due: none

Update notary private key implementation (#128)
  Cargo.lock
  Cargo.toml
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Curve25519SecretKey.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NotaryPrivateKey.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/Exactly32BytesSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Curve25519SecretKeyTest.kt
  src/core/types/keys/ed25519/public_key.rs
  src/wrapped_radix_engine_toolkit/low_level/notary_signature_uniffi_fn.rs
Due: fmt, clippy, unit tests

bump version to 1.1.0
  Cargo.lock
  Cargo.toml
Due: none

Fix kotlin failing test
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/RadixConnectPurposeTest.kt
Due: none

Release of '0.7.8' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Add conformance to SargonObjectCodable for P2PLink
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/P2PLinks/P2PLink+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/RadixConnect/P2PLinks/P2PLink+Swiftified.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
  apple/Tests/TestCases/RadixConnect/P2PLinks/P2PLinkTests.swift
  src/radix_connect/p2p_links/p2p_link.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Address PR comment
  src/profile/v100/profile.rs
Due: fmt, clippy, unit tests

fix kotlin Sargon, UniFFI now generated Bip39 instead of BIP39 for types. BREAKING CHANGE | Android wallet needs to be updated.
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/MnemonicWithPassphrase.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/MnemonicWithPassphraseTest.kt
Due: none

bump version to 0.7.9
  Cargo.lock
  Cargo.toml
Due: none

Use Mozilla version
  Cargo.lock
  Cargo.toml
Due: none

Update version to 0.27.1 on Cargo.toml
  Cargo.toml
Due: none

Address PR comments
  apple/Sources/Sargon/Extensions/Methods/Crypto/Keys/Ed25519PublicKey+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/DisplayName+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/DisplayName+Swiftified.swift
  src/core/types/keys/ed25519/public_key.rs
  src/profile/v100/entity/display_name.rs
  src/profile/v100/entity/display_name_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  SwiftFormat: any of: \.swift$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
