Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

WIP
  crates/sargon/src/signing/collector/signatures_collector.rs
Due: fmt, clippy, unit tests

WIP
  crates/sargon/src/signing/signable.rs
Due: fmt, clippy, unit tests

uniffi
  crates/sargon-uniffi/src/hierarchical_deterministic/bip32/hd_path_component.rs
Due: fmt, clippy, unit tests

delete unused sargon_os_transactions
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_transactions.rs
Due: fmt, clippy, unit tests

uniffi and swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/BIP44LikePath+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/HDPathComponentModels.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/DerivationPath+Swiftified.swift
  apple/Sources/Sargon/Protocols/HDPathProtocol.swift
  apple/Tests/TestCases/Crypto/AccountPathTests.swift
  apple/Tests/TestCases/Crypto/BIP44LikePathTests.swift
  apple/Tests/TestCases/Crypto/DerivationPathTests.swift
  crates/sargon-uniffi/src/hierarchical_deterministic/bip32/hd_path_component.rs
  crates/sargon/src/hierarchical_deterministic/bip32/hd_path_component.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

uniffi and swift
  crates/sargon-uniffi/src/hierarchical_deterministic/bip32/hd_path_component.rs
Due: fmt, clippy, unit tests

migrate last identith path test
  apple/Tests/TestCases/Crypto/IdentityPathTests.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  crates/sargon-uniffi/src/system/sargon_os/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/pre_authorization/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/pre_authorization/sargon_os_pre_authorization_status.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/gateway_api/methods/transaction_methods.rs
  crates/sargon/src/system/sargon_os/mod.rs
  crates/sargon/src/system/sargon_os/pre_authorization/mod.rs
  crates/sargon/src/system/sargon_os/pre_authorization/sargon_os_pre_authorization_status.rs
Due: fmt, clippy, unit tests

tests and fixes
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon-uniffi/src/system/sargon_os/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/pre_authorization/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/pre_authorization/sargon_os_pre_authorization_status.rs
  crates/sargon/src/gateway_api/methods/transaction_methods.rs
  crates/sargon/src/gateway_api/models/types/response/transaction/status/transaction_status.rs
  crates/sargon/src/system/sargon_os/mod.rs
  crates/sargon/src/system/sargon_os/pre_authorization/mod.rs
  crates/sargon/src/system/sargon_os/pre_authorization/sargon_os_pre_authorization_status.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_status.rs
Due: fmt, clippy, unit tests

swift testing HDPathComponentTests
  apple/Tests/TestCases/Crypto/HDPathComponentTests.swift
Due: ensure Swift setup for local development, SwiftFormat

more tests
  apple/Tests/TestCases/Crypto/HDPathComponentTests.swift
Due: ensure Swift setup for local development, SwiftFormat

samples
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/HDPathComponentModels.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/DerivationPath+Swiftified.swift
  apple/Tests/TestCases/Crypto/HDPathComponentTests.swift
  crates/sargon-uniffi/src/hierarchical_deterministic/bip32/hd_path_component.rs
  crates/sargon/src/hierarchical_deterministic/bip32/key_space/key_space.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

swift test
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/HDPathComponentModels.swift
  apple/Tests/TestCases/Crypto/AccountPathTests.swift
  apple/Tests/TestCases/Crypto/HDPathComponentTests.swift
  crates/sargon-uniffi/src/hierarchical_deterministic/bip32/hd_path_component.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

more swift tests
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/HDPathComponentModels.swift
  apple/Tests/TestCases/Crypto/HDPathComponentTests.swift
  apple/Tests/TestCases/Crypto/HDPathComponentTests/BaseHDPathComponentProtocolTest.swift
  apple/Tests/TestCases/Crypto/HDPathComponentTests/HDPathComponentProtocolTest.swift
  apple/Tests/TestCases/Crypto/HDPathComponentTests/HDPathComponentTests.swift
  apple/Tests/TestCases/Crypto/HDPathComponentTests/SecurifiedTests.swift
  apple/Tests/TestCases/Crypto/HDPathComponentTests/UnhardenedTests.swift
  apple/Tests/TestCases/Crypto/HDPathComponentTests/UnsecurifiedHardenedTests.swift
  crates/sargon-uniffi/src/hierarchical_deterministic/bip32/hd_path_component.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

split
  crates/sargon-uniffi/src/hierarchical_deterministic/bip32/hardened.rs
  crates/sargon-uniffi/src/hierarchical_deterministic/bip32/hd_path_component.rs
  crates/sargon-uniffi/src/hierarchical_deterministic/bip32/key_space.rs
  crates/sargon-uniffi/src/hierarchical_deterministic/bip32/mod.rs
  crates/sargon-uniffi/src/hierarchical_deterministic/bip32/securified.rs
  crates/sargon-uniffi/src/hierarchical_deterministic/bip32/u30.rs
  crates/sargon-uniffi/src/hierarchical_deterministic/bip32/u31.rs
  crates/sargon-uniffi/src/hierarchical_deterministic/bip32/unhardened.rs
  crates/sargon-uniffi/src/hierarchical_deterministic/bip32/unsecurified.rs
  crates/sargon-uniffi/src/hierarchical_deterministic/bip32/unsecurified_hardened.rs
Due: fmt, clippy, unit tests

WIP
  crates/sargon/src/signing/collector/signatures_collector.rs
  crates/sargon/src/signing/collector/signatures_collector_dependencies.rs
  crates/sargon/src/signing/collector/signatures_collector_preprocessor.rs
  crates/sargon/src/signing/host_interaction/interactors/mono_factor_sign_interactor.rs
  crates/sargon/src/signing/host_interaction/interactors/poly_factor_sign_interactor.rs
  crates/sargon/src/signing/host_interaction/interactors/sign_interactor.rs
  crates/sargon/src/signing/host_interaction/requests/mono_factor_sign_request.rs
  crates/sargon/src/signing/host_interaction/requests/mono_factor_sign_request_input.rs
  crates/sargon/src/signing/host_interaction/requests/poly_factor_sign_request.rs
  crates/sargon/src/signing/host_interaction/requests/transaction_sign_request_input.rs
  crates/sargon/src/signing/host_interaction/sign_interactors.rs
  crates/sargon/src/signing/host_interaction/sign_response.rs
  crates/sargon/src/signing/petition_types/petition_for_entity.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/factor_source_referencing.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/petition_for_factors.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/petition_for_factors_input.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/petition_for_factors_state.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/petition_for_factors_state_snapshot.rs
  crates/sargon/src/signing/petition_types/petition_for_transaction.rs
  crates/sargon/src/signing/petition_types/petitions.rs
  crates/sargon/src/signing/signable.rs
  crates/sargon/src/signing/signatures_outecome_types/maybe_signed_transactions.rs
  crates/sargon/src/signing/signatures_outecome_types/petition_transaction_outcome.rs
  crates/sargon/src/signing/signatures_outecome_types/sign_with_factors_outcome.rs
  crates/sargon/src/signing/signatures_outecome_types/signatures_outcome.rs
  crates/sargon/src/signing/testing/interactors/test_parallel_interactor.rs
  crates/sargon/src/signing/testing/interactors/test_serial_interactor.rs
  crates/sargon/src/signing/testing/simulated_user.rs
  crates/sargon/src/signing/testing/test_signature_collecting_interactors.rs
  crates/sargon/src/signing/testing/test_signatures_collector.rs
  crates/sargon/src/signing/tx_to_sign.rs
  crates/sargon/src/types/hd_signature.rs
  crates/sargon/src/types/hd_signature_input.rs
  crates/sargon/src/types/invalid_transaction_if_neglected.rs
Due: fmt, clippy, unit tests

swift organize
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/BIP32/HdPathComponent+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/BIP32/Securified+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/BIP32/U30+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/BIP32/U31+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/BIP32/Unhardened+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/BIP32/UnsecurifiedHardened+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/HDPathComponentModels.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Derivation/BIP32/Hardened+Samples.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Derivation/BIP32/HdPathComponent+Samples.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Derivation/BIP32/SecurifiedU30+Samples.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Derivation/BIP32/U30+Samples.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Derivation/BIP32/U31+Samples.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Derivation/BIP32/Unhardened+Samples.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Derivation/BIP32/UnsecurifiedHardened+Samples.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/BIP32/Hardened+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/BIP32/HdPathComponent+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/BIP32/Securified+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/BIP32/Unhardened+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/BIP32/UnsecurifiedHardened+Swiftified.swift
  apple/Sources/Sargon/Protocols/HDPathComponentProtocol.swift
  apple/Tests/TestCases/Crypto/HDPathComponentTests/HardenedTests.swift
Due: ensure Swift setup for local development, SwiftFormat

remove wrong test
  apple/Tests/TestCases/Crypto/HDPathComponentTests/HardenedTests.swift
Due: ensure Swift setup for local development, SwiftFormat

WIP
  crates/sargon/src/signing/collector/signatures_collector_preprocessor.rs
  crates/sargon/src/signing/host_interaction/requests/transaction_sign_request_input.rs
  crates/sargon/src/signing/petition_types/petition_for_entity.rs
  crates/sargon/src/signing/petition_types/petitions.rs
  crates/sargon/src/signing/signable.rs
  crates/sargon/src/signing/signatures_outecome_types/maybe_signed_transactions.rs
  crates/sargon/src/signing/signatures_outecome_types/petition_transaction_outcome.rs
  crates/sargon/src/signing/tx_to_sign.rs
  crates/sargon/src/types/hd_signature.rs
  crates/sargon/src/types/hd_signature_input.rs
  crates/sargon/src/types/invalid_transaction_if_neglected.rs
  crates/sargon/tests/integration/main.rs
Due: fmt, clippy, unit tests

doc
  crates/sargon/src/hierarchical_deterministic/bip32/key_space/components/hardened.rs
  crates/sargon/src/hierarchical_deterministic/bip32/key_space/components/securified.rs
  crates/sargon/src/hierarchical_deterministic/bip32/key_space/components/unhardened.rs
  crates/sargon/src/hierarchical_deterministic/bip32/key_space/components/unsecurified_hardened.rs
  crates/sargon/src/hierarchical_deterministic/bip32/traits/from_bip32_str.rs
  crates/sargon/src/hierarchical_deterministic/bip32/traits/is_path_component_string_convertible.rs
  crates/sargon/src/hierarchical_deterministic/bip32/traits/to_bip32_str.rs
  crates/sargon/src/hierarchical_deterministic/cap26/paths/account_path.rs
  crates/sargon/src/hierarchical_deterministic/cap26/paths/identity_path.rs
Due: fmt, clippy, unit tests

WIP
  crates/sargon/src/signing/collector/signatures_collector.rs
  crates/sargon/src/signing/collector/signatures_collector_preprocessor.rs
  crates/sargon/src/signing/signable.rs
  crates/sargon/src/signing/tx_to_sign.rs
Due: fmt, clippy, unit tests

WIP
  crates/sargon/src/signing/mod.rs
  crates/sargon/src/signing/signable.rs
  crates/sargon/src/signing/signables/mod.rs
  crates/sargon/src/signing/signables/signable.rs
  crates/sargon/src/signing/signables/signable_transaction_intent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/compiled_transaction_intent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_intent.rs
Due: fmt, clippy, unit tests

WIP
  crates/sargon/src/signing/signables/signable.rs
  crates/sargon/src/signing/signables/signable_transaction_intent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/compiled_transaction_intent.rs
Due: fmt, clippy, unit tests

fmt and bump version
  Cargo.lock
  crates/sargon/Cargo.toml
  crates/sargon/src/hierarchical_deterministic/bip32/key_space/components/securified.rs
Due: fmt, clippy, unit tests

clippy fix
  crates/sargon-uniffi/src/hierarchical_deterministic/bip32/u30.rs
  crates/sargon-uniffi/src/hierarchical_deterministic/bip32/u31.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/compiled_transaction_intent.rs
  crates/sargon/src/hierarchical_deterministic/cap26/mod.rs
  crates/sargon/src/signing/collector/signatures_collector.rs
  crates/sargon/src/signing/petition_types/petition_for_transaction.rs
  crates/sargon/src/signing/testing/test_signatures_collector.rs
  crates/sargon/src/types/samples/transaction_intent_samples.rs
Due: fmt, clippy, unit tests

fmt
  crates/sargon/src/hierarchical_deterministic/cap26/mod.rs
  crates/sargon/src/types/samples/transaction_intent_samples.rs
Due: fmt, clippy, unit tests

Implement CompiledSubintent
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/compiled_subintent.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/mod.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/subintent.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/lib.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/compiled_transaction_intent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/compiled_subintent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/subintent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
Due: fmt, clippy, unit tests

Run clippy
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/compiled_transaction_intent.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/compiled_subintent.rs
  crates/sargon/src/signing/collector/signatures_collector.rs
  crates/sargon/src/signing/petition_types/petition_for_transaction.rs
  crates/sargon/src/signing/testing/test_signatures_collector.rs
  crates/sargon/src/types/samples/transaction_intent_samples.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/compiled_transaction_intent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/compiled_subintent.rs
Due: fmt, clippy, unit tests

fixes
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/BIP32/HdPathComponent+Swiftified.swift
  crates/sargon-uniffi/src/hierarchical_deterministic/bip32/hd_path_component.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

clippy fixes
  crates/sargon-uniffi-conversion-macros/src/common.rs
  crates/sargon-uniffi/src/profile/v100/address/wrap_ret_address.rs
  crates/sargon/src/profile/logic/gateway/current_gateway.rs
  crates/sargon/src/system/drivers/profile_change_driver/support/test/rust_profile_change_driver.rs
  crates/sargon/src/system/drivers/secure_storage_driver/support/test/ephemeral_secure_storage.rs
  crates/sargon/src/system/drivers/secure_storage_driver/support/test/fail_secure_storage.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/simple_fungible_resource_bounds.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/instructions/instructions.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/instructions_v2/instructions_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
Due: fmt, clippy, unit tests

clippy fixes
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
Due: fmt, clippy, unit tests

Implement signable for subintent
  crates/sargon/src/signing/signables/mod.rs
  crates/sargon/src/signing/signables/signable_subintent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/subintent.rs
Due: fmt, clippy, unit tests

clippy
  crates/sargon-uniffi/src/core/types/exactly_n_bytes.rs
  crates/sargon-uniffi/src/core/types/non_empty_max_n_bytes.rs
  crates/sargon-uniffi/src/core/types/secret_bytes.rs
  crates/sargon-uniffi/src/profile/v100/address/non_fungible_resource_address.rs
  crates/sargon-uniffi/src/profile/v100/address/wrap_ret_address.rs
  crates/sargon-uniffi/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
Due: fmt, clippy, unit tests

WIP
  crates/sargon/src/signing/host_interaction/requests/mono_factor_sign_request_input.rs
  crates/sargon/src/signing/host_interaction/requests/transaction_sign_request_input.rs
  crates/sargon/src/signing/petition_types/petition_for_entity.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/petition_for_factors.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/petition_for_factors_state_snapshot.rs
  crates/sargon/src/signing/signables/signable.rs
  crates/sargon/src/signing/signatures_outecome_types/maybe_signed_transactions.rs
  crates/sargon/src/types/hd_signature.rs
  crates/sargon/src/types/hd_signature_input.rs
Due: fmt, clippy, unit tests

WIP
  crates/sargon/src/signing/host_interaction/requests/mono_factor_sign_request_input.rs
  crates/sargon/src/signing/host_interaction/requests/transaction_sign_request_input.rs
  crates/sargon/src/signing/mod.rs
  crates/sargon/src/signing/petition_types/petition_for_entity.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/petition_for_factors.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/petition_for_factors_state_snapshot.rs
  crates/sargon/src/signing/petition_types/petition_for_transaction.rs
  crates/sargon/src/signing/petition_types/petitions.rs
  crates/sargon/src/signing/signables/mod.rs
  crates/sargon/src/signing/signables/signable.rs
  crates/sargon/src/signing/signables/signable_subintent.rs
  crates/sargon/src/signing/signables/signable_transaction_intent.rs
  crates/sargon/src/signing/signatures_outecome_types/maybe_signed_transactions.rs
  crates/sargon/src/types/hd_signature.rs
  crates/sargon/src/types/hd_signature_input.rs
  crates/sargon/src/types/samples/mod.rs
  crates/sargon/src/types/samples/transaction_intent_samples.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/subintent.rs
Due: fmt, clippy, unit tests

Rename file
  crates/sargon/src/signing/mod.rs
  crates/sargon/src/signing/signable_with_entities.rs
Due: fmt, clippy, unit tests
