Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

SwiftFormat:
  name: SwiftFormat
  language: system
  entry: swiftformat .
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

bump version
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

[no ci] WIP
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
Due: fmt, clippy, unit tests

fix last test
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
Due: fmt, clippy, unit tests

fix swift tests
  apple/Sources/Sargon/Extensions/Swiftified/Profile/MFA/SecurityShieldBuilder+Swifified.swift
  apple/Tests/TestCases/Profile/MFA/SecurityShieldsBuilderTests.swift
Due: ensure Swift setup for local development, SwiftFormat

add more tests
  crates/sargon/src/profile/v100/entity/has_security_state.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

Disallow setting FactorSource for ROLA to one with an unsupported/disallowed FactorSourceKind - add query methods which can query which kinds are supported/if a kind is supported
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/profile/v100/factors/factor_source_kind.rs
Due: fmt, clippy, unit tests

add tests
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

review fixes
  crates/sargon/src/factor_instances_provider/factor_instances_cache/factor_instances_cache.rs
Due: fmt, clippy, unit tests

review polish
  crates/sargon/src/factor_instances_provider/factor_instances_cache/factor_instances_cache.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/virtual_entity_creating_instance_provider.rs
Due: fmt, clippy, unit tests

remove RwLock
  apple/Sources/Sargon/Extensions/Swiftified/Profile/MFA/SecurityShieldBuilder+Swifified.swift
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[no ci] wip
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder/automatic_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/matrix_builder.rs
  crates/sargon/src/profile/mfa/security_structures/roles/builder/roles_builder.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

Upgrade `ShieldBuilder` to validate `FactorSourceKind` for ROLA factors (#314)
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/profile/v100/factors/factor_source_kind.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon/src/profile/mfa/security_structures/roles/builder/roles_builder.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

more tests
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
  crates/sargon/src/profile/mfa/security_structures/roles/builder/roles_builder.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

fix test
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

removed unused
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

add test
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

fix swift test
  apple/Tests/TestCases/Profile/MFA/SecurityShieldsBuilderTests.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/lib.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/instructions/instructions.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/instructions_v2/instructions_v2.rs
Due: fmt, clippy, unit tests

Lenient shield builder (#315)
  Cargo.lock
  apple/Tests/TestCases/Profile/MFA/SecurityShieldsBuilderTests.swift
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/profile/mfa/security_structures/automatic_shield_builder/automatic_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/matrix_builder.rs
  crates/sargon/src/profile/mfa/security_structures/roles/builder/roles_builder.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Add strategy for SPLIT
  SPLIT.md
Due: none

cleanup dependencies
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
  crates/sargon/src/core/utils/vector_samples.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

plan update
  SPLIT.md
Due: none

[no ci] WIP
  SPLIT.md
Due: none

[no ci] WIP
  SPLIT.md
  crates/sargon/src/signing/signatures_outecome_types/petition_transaction_outcome.rs
Due: fmt, clippy, unit tests

more
  SPLIT.md
Due: none

fix tests
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/instructions/instructions.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/instructions_v2/instructions_v2.rs
Due: fmt, clippy, unit tests

version
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

Ac/split plan (#320)
  Cargo.lock
  SPLIT.md
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
  crates/sargon/src/core/utils/vector_samples.rs
  crates/sargon/src/signing/signatures_outecome_types/petition_transaction_outcome.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

[no ci] wip
  Cargo.lock
  Cargo.toml
  crates/sargon-core/Cargo.toml
  crates/sargon-core/src/error/common_error.rs
  crates/sargon-core/src/lib.rs
  crates/sargon-core/src/types/collections/identified_vec_of/identified_vec_of_display_debug.rs
  crates/sargon-core/src/types/collections/identified_vec_of/identified_vec_of_serde.rs
  crates/sargon-core/src/types/collections/identified_vec_of/identified_vec_of_validation_import_export.rs
  crates/sargon-core/src/types/collections/just.rs
  crates/sargon-core/src/types/keys/ed25519/public_key.rs
  crates/sargon-core/src/types/keys/secp256k1/public_key.rs
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/lib.rs
  crates/sargon/src/profile/encrypted/mod.rs
  crates/sargon/src/profile/encrypted/pb_hkdf_sha256.rs
Due: fmt, clippy, unit tests

Propagate compile diagnostics (#316)
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/lib.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/instructions/instructions.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/instructions_v2/instructions_v2.rs
Due: fmt, clippy, unit tests

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  SwiftFormat: any of: \.swift$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
