Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

SwiftFormat:
  name: SwiftFormat
  language: system
  entry: swiftformat .
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

Put back some deleted exposed methods from sargon regarding session_dapp_request
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/RadixConnectMobileLinkRequest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/RadixConnectMobileSessionRequest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/RadixConnectMobileLinkRequestSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/RadixConnectMobileSessionRequestSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NotarizedTransactionTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/RadixConnectMobileLinkRequestTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/RadixConnectMobileSessionRequestTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionIntentTest.kt
  src/radix_connect/mobile/session_dapp_request.rs
Due: fmt, clippy, unit tests

Redo PR #164 since some methods of `RadixConnectMobileLinkRequest` were deleted (#167)
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/RadixConnectMobileLinkRequest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/RadixConnectMobileSessionRequest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/RadixConnectMobileLinkRequestSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/RadixConnectMobileSessionRequestSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NotarizedTransactionTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/RadixConnectMobileLinkRequestTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/RadixConnectMobileSessionRequestTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionIntentTest.kt
  src/radix_connect/mobile/session_dapp_request.rs
Due: fmt, clippy, unit tests

update sargon version
  Cargo.lock
  Cargo.toml
Due: none

Add dapp origin type (#166)
  Cargo.lock
  Cargo.toml
  fixtures/vector/wallet_interactions_dapp_to_wallet.json
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/dapp_metadata/interaction_metadata.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/dapp_metadata/interaction_metadata_unvalidated.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/dapp_metadata/mod.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/dapp_metadata/origin.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests

Release of '1.0.12' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  src/radix_connect/mobile/deep_link_parsing/parser.rs
  src/radix_connect/mobile/deep_link_parsing/request.rs
  src/radix_connect/mobile/relay_service/service.rs
  src/radix_connect/mobile/session/session_origin.rs
  src/radix_connect/mobile/session_dapp_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_unvalidated.rs
Due: fmt, clippy, unit tests

signature validation
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/deep_link_parsing/parser.rs
  src/radix_connect/mobile/deep_link_parsing/request.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/SargonError+Swiftified.swift
  apple/Tests/TestCases/Prelude/SargonErrorTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Add serde message in FailedToDeserializeJSONToValue error
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/MnemonicWithPassphrase.kt
  src/core/error/common_error.rs
  src/core/error/common_error_map.rs
  src/core/error/mod.rs
  src/profile/v100/json_data_convertible.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_uniffi_fn.rs
  src/wallet/secure_storage/wallet_client_storage.rs
Due: fmt, clippy, unit tests

Bump version
  Cargo.lock
  Cargo.toml
Due: none

Bump to 1.0.13
  Cargo.lock
  Cargo.toml
Due: none

Panic instead of logging error in tests
  src/profile/v100/json_data_convertible.rs
Due: fmt, clippy, unit tests

Attach message to iserror
  src/core/error/common_error.rs
Due: fmt, clippy, unit tests

Take fisrt 500 utf-8 chars when printing json deserialisation error message
  src/core/error/common_error_map.rs
Due: fmt, clippy, unit tests

Rename field to not clash with Java's message field on Exceptions
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/MnemonicWithPassphrase.kt
  src/core/error/common_error.rs
  src/core/error/common_error_map.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_uniffi_fn.rs
  src/wallet/secure_storage/wallet_client_storage.rs
Due: fmt, clippy, unit tests

Pass serde message information to `FailedToDeserializeJSONToValue` (#169)
  Cargo.lock
  Cargo.toml
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/MnemonicWithPassphrase.kt
  src/core/error/common_error.rs
  src/core/error/common_error_map.rs
  src/core/error/mod.rs
  src/profile/v100/json_data_convertible.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_uniffi_fn.rs
  src/wallet/secure_storage/wallet_client_storage.rs
Due: fmt, clippy, unit tests

Truncate display names with longer than 30 chars
  Cargo.lock
  Cargo.toml
  src/profile/v100/entity/display_name.rs
Due: fmt, clippy, unit tests

Replace truncate with take on chars()
  src/core/error/common_error.rs
  src/profile/v100/entity/display_name.rs
Due: fmt, clippy, unit tests

Create reusable function for taking the prefix of any str
  src/core/error/common_error.rs
  src/core/error/common_error_map.rs
  src/core/utils/string_utils.rs
  src/profile/v100/entity/display_name.rs
Due: fmt, clippy, unit tests

wip
  src/core/error/common_error.rs
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/deep_link_parsing/dapp_request.rs
  src/radix_connect/mobile/deep_link_parsing/parser.rs
  src/radix_connect/mobile/deep_link_parsing/request.rs
  src/radix_connect/mobile/session/session.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/response.rs
Due: fmt, clippy, unit tests

wip
  src/radix_connect/mobile/client.rs
Due: fmt, clippy, unit tests

Remove unecessary test from swift
  apple/Tests/TestCases/Prelude/DisplayNameTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Truncate display names with longer than 30 chars (#171)
  Cargo.lock
  Cargo.toml
  apple/Tests/TestCases/Prelude/DisplayNameTests.swift
  src/core/error/common_error.rs
  src/core/error/common_error_map.rs
  src/core/utils/string_utils.rs
  src/profile/v100/entity/display_name.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/relay_service/service.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/SargonError+Swiftified.swift
  apple/Tests/TestCases/Prelude/SargonErrorTests.swift
  src/core/error/common_error.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Remove extraneous check
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/modify_manifest.rs
Due: fmt, clippy, unit tests

Propagate errors
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/modify_manifest.rs
  src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
Due: fmt, clippy, unit tests

Add out-of-bounds-error
  src/core/error/common_error.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/modify_manifest.rs
Due: fmt, clippy, unit tests

Formatting
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/modify_manifest.rs
Due: fmt, clippy, unit tests

Update comment
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/modify_manifest.rs
  src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
Due: fmt, clippy, unit tests

Change name of error
  src/core/error/common_error.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/modify_manifest.rs
Due: fmt, clippy, unit tests

Remove panic comment again
  src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
Due: fmt, clippy, unit tests

Update wrapper
  apple/Sources/Sargon/Extensions/Swiftified/RET/TransactionManifest+Swiftified.swift
Due: ensure Swift setup for local development, SwiftFormat

Update swift tests
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Add paranoia check
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/modify_manifest.rs
Due: fmt, clippy, unit tests

Update error text
  src/core/error/common_error.rs
Due: fmt, clippy, unit tests

Formatting
  src/core/error/common_error.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/modify_manifest.rs
Due: fmt, clippy, unit tests

bump version again
  Cargo.lock
  Cargo.toml
Due: none

fix swift test
  apple/Tests/TestCases/Prelude/SargonErrorTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  SwiftFormat: any of: \.swift$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
