Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

doc tests:
  name: doc tests
  language: system
  entry: cargo test --doc
  pass_filenames: false

vectors integration tests:
  name: vectors integration tests
  language: system
  entry: cargo test --package sargon --test vectors
  pass_filenames: false

swift tests:
  name: swift tests
  language: system
  entry: ./scripts/ios/test.sh --testonly
  pass_filenames: false

kotlin tests:
  name: kotlin (jvm) tests
  language: system
  entry: ./jvm/gradlew -p jvm/sargon-android koverVerifyDebug
  pass_filenames: false

Batch 15: Split big fn | bump version (#112)
  Cargo.lock
  Cargo.toml
  apple/Tests/TestCases/Profile/DeviceInfoTests.swift
  src/profile/logic/profile_network/profile_network_details.rs
  src/radix_connect/mobile/relay_service/models/request/request.rs
  src/radix_connect/mobile/relay_service/models/response/wallet_interaction_requests.rs
  src/radix_connect/mobile/relay_service/service.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Fix AddressFormat::Middle for non fungible global ids
  src/profile/v100/address/non_fungible_global_id.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Added Swift tests
  apple/Tests/TestCases/Address/AccountAddressTests.swift
  apple/Tests/TestCases/Prelude/NonFungibleGlobalIDTests.swift
Due: ensure Swift setup for local development, swift tests

bump version
  Cargo.toml
Due: none

some ISO8601 tests
  Cargo.lock
  Cargo.toml
  apple/Tests/TestCases/Profile/DeviceInfoTests.swift
  src/profile/v100/header/device_info.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

add profile with 1000 accounts as test vector
  fixtures/vector/huge_profile_1000_accounts.json
  src/wallet/wallet_accounts.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Add SwiftFormat config and pre-commit
  .pre-commit-config.yaml
  .swift-format
  .swiftformat
Due: none

add big profile with 100 accounts, add JSON performance test to ProfileTests
  apple/Tests/TestCases/Profile/ProfileTests.swift
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  apple/Tests/Utils/Test.swift
  fixtures/vector/big_profile_100_accounts.json
  src/wallet/wallet_accounts.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Fix wrong curve enum in json deserialize
  src/core/types/keys/public_key.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

JSON Performance of Profile - Arc:ed Profile and Bytes lead to 10x spead up vs Records. Swift Codable makes JSON more than twice as slow, so ought to be skipped.
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Extensions/Methods/Profile/Profile+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
  src/core/types/bag_of_bytes.rs
  src/http_client/network_antenna/network_antenna.rs
  src/profile/encrypted/encryption/aes_gcm_256.rs
  src/profile/encrypted/encryption/aes_gcm_sealed_box.rs
  src/profile/encrypted/encryption/encrypted_profile_snapshot.rs
  src/profile/encrypted/encryption/encryption_scheme.rs
  src/profile/encrypted/encryption/versioned_encryption.rs
  src/profile/v100/json_data_convertible.rs
  src/profile/v100/profile_uniffi_fn.rs
  src/radix_connect/mobile/relay_service/service.rs
  src/wallet/wallet_accounts.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Guard for wrong curve discriminator (#117)
  src/core/types/keys/public_key.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Fix AddressFormat::Middle formatting on NonFungibleGlobalId (#113)
  Cargo.toml
  apple/Tests/TestCases/Address/AccountAddressTests.swift
  apple/Tests/TestCases/Prelude/NonFungibleGlobalIDTests.swift
  src/profile/v100/address/non_fungible_global_id.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

HKDF key agreement
  Cargo.lock
  Cargo.toml
  src/core/error/common_error.rs
  src/core/types/keys/diffie_hellman/mod.rs
  src/core/types/keys/diffie_hellman/private_key.rs
  src/core/types/keys/diffie_hellman/public_key.rs
  src/core/types/keys/mod.rs
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/relay_service/models/request/request.rs
  src/radix_connect/mobile/relay_service/models/response/session_handshake_request.rs
  src/radix_connect/mobile/relay_service/models/response/session_handshake_response.rs
  src/radix_connect/mobile/relay_service/service.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  src/core/error/common_error.rs
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/linking_handler/linking_handler.rs
  src/radix_connect/mobile/linking_handler/mod.rs
  src/radix_connect/mobile/mod.rs
  src/radix_connect/mobile/relay_service/mod.rs
  src/radix_connect/mobile/relay_service/service.rs
  src/radix_connect/mobile/request_handler/mod.rs
  src/radix_connect/mobile/request_handler/request_handler.rs
  src/radix_connect/mobile/session/session.rs
  src/radix_connect/mobile/session/session_id.rs
  src/radix_connect/mobile/session/session_origin.rs
  src/radix_connect/mod.rs
  src/wallet/secure_storage/secure_storage_key.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  src/core/error/common_error.rs
  src/radix_connect/interaction_id.rs
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/linking_handler/linking_handler.rs
  src/radix_connect/mobile/linking_handler/mod.rs
  src/radix_connect/mobile/mod.rs
  src/radix_connect/mobile/request_handler/mod.rs
  src/radix_connect/mobile/request_handler/request_handler.rs
  src/radix_connect/mobile/session/session.rs
  src/radix_connect/mobile/session/session_origin.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  src/radix_connect/mobile/relay_service/models/response/session_handshake_request.rs
  src/radix_connect/mobile/session_dapp_request.rs
  src/radix_connect/mobile/session_wallet_response.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  src/core/error/common_error.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

remove serde_simd
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Extensions/Methods/Profile/Profile+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Profile+Swiftified.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
  apple/Tests/Utils/Test.swift
  src/profile/v100/profile_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip refs
  apple/Sources/Sargon/Extensions/Methods/Profile/Profile+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
  src/core/error/common_error.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

WIP change RefBytes bytes to take
  apple/Sources/Sargon/Extensions/Methods/Profile/Profile+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
  apple/Tests/Utils/Test.swift
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  src/profile/references/mod.rs
  src/profile/references/ref_macro.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

bump RET and scrupto -> broke project...
  Cargo.lock
  Cargo.toml
Due: none

Rust Analyzer is FAST again, by bumping RET and Scrypto
  Cargo.lock
  Cargo.toml
  src/core/types/keys/public_key.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/instructions/instructions.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/instructions/instructions_secret_magic.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Sargon 0.7.1 | Rust Analyzer is FAST again, thx to bumping Scrypto (and RET) (#118)
  Cargo.lock
  Cargo.toml
  src/core/types/keys/public_key.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/instructions/instructions.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/instructions/instructions_secret_magic.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

bump to 0.7.2
  Cargo.toml
Due: none

Introduce entropy and mnemonic generation from it
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/BagOfBytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Entropy16Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Entropy20Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Entropy24Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Entropy28Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Entropy32Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSourceId.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Mnemonic.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/MnemonicWithPassphrase.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/Entropy16BytesSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/Entropy20BytesSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/Entropy24BytesSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/Entropy28BytesSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/Entropy32BytesSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourceIdTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/MnemonicTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/MnemonicWithPassphraseTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NetworkAntennaTest.kt
Due: kotlin tests

Implement Entropy32Bytes notarization of signed intent and calculation of public key.
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Entropy32Bytes.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Entropy32BytesTest.kt
  src/core/types/keys/ed25519/public_key.rs
  src/core/types/secret_bytes.rs
  src/wrapped_radix_engine_toolkit/low_level/notary_signature_uniffi_fn.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Bump version
  Cargo.lock
  Cargo.toml
Due: none

macro
  Cargo.lock
  src/core/error/common_error.rs
  src/profile/mod.rs
  src/profile/references/mod.rs
  src/profile/references/ref_bytes.rs
  src/profile/references/ref_macro.rs
  src/profile/references/ref_profile.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Create NotaryPrivateKey
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Entropy32Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NotaryPrivateKey.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Entropy32BytesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NotaryPrivateKeyTest.kt
  src/core/types/secret_bytes.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Extensions for `EntropyNBytes` (#120)
  Cargo.lock
  Cargo.toml
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/BagOfBytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Entropy16Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Entropy20Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Entropy24Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Entropy28Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Entropy32Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSourceId.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Mnemonic.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/MnemonicWithPassphrase.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NotaryPrivateKey.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/Entropy16BytesSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/Entropy20BytesSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/Entropy24BytesSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/Entropy28BytesSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/Entropy32BytesSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourceIdTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/MnemonicTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/MnemonicWithPassphraseTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NetworkAntennaTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NotaryPrivateKeyTest.kt
  src/core/types/keys/ed25519/public_key.rs
  src/core/types/secret_bytes.rs
  src/wrapped_radix_engine_toolkit/low_level/notary_signature_uniffi_fn.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

more tests
  src/profile/v100/mod.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_file_contents.rs
  src/profile/v100/profile_file_contents_uniffi_fn.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

bump to 0.7.3
  Cargo.lock
  Cargo.toml
Due: none

more tests
  src/profile/references/ref_macro.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_file_contents.rs
  src/profile/v100/profile_file_contents_uniffi_fn.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

tests
  apple/Sources/Sargon/Extensions/Methods/Profile/Profile+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/ProfileFileContents+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile+Supporting+Types/ProfileFileContents+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile+Supporting+Types/References/RefBytes+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile+Supporting+Types/References/RefProfile+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile+Supporting+Types/ProfileFileContents+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile+Supporting+Types/References/RefBytes+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile+Supporting+Types/References/RefProfile+Swiftified.swift
  apple/Tests/TestCases/Profile+Supporting+Types/ProfileFileContentsTests.swift
  apple/Tests/TestCases/Profile+Supporting+Types/RefBytesTests.swift
  apple/Tests/TestCases/Profile+Supporting+Types/RefProfileTests.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
  apple/Tests/Utils/RefTest.swift
  src/profile/references/ref_macro.rs
  src/profile/v100/profile_file_contents_uniffi_fn.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

fix bug
  apple/Sources/Sargon/Extensions/Methods/Profile/ProfileFileContents+Wrap+Functions.swift
Due: ensure Swift setup for local development, swift tests

doc
  src/profile/references/ref_bytes.rs
  src/profile/references/ref_macro.rs
  src/profile/references/ref_profile.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

fix kotlin bindgen being broken
  src/profile/v100/profile.rs
  src/profile/v100/profile_file_contents.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

fix tests
  apple/Tests/TestCases/Profile/ProfileTests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Profile.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
Due: ensure Swift setup for local development, swift tests, kotlin tests

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
  doc tests: any of: \.rs$
  vectors integration tests: any of: \.rs$
  swift tests: any of: \.rs$, \.swift$
  kotlin tests: any of: \.rs$, \.(kt|kts)$
