Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

working SecurityQuestionsFactorSource first naive impl.
  fixtures/vector/security_questions_factor_source_sample.json
  fixtures/vector/security_questions_factor_source_sample_other.json
  src/core/types/exactly_n_bytes.rs
  src/hierarchical_deterministic/bip39/mnemonic.rs
  src/hierarchical_deterministic/derivation/mnemonic_with_passphrase.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/answer/security_question_and_answer.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/answer/security_questions_and_answers.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/kdf/security_questions_keys_from_questions_and_answer_scheme.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/kdf/sub_kdf/encryption_keys_from_key_exchange_keys/keys_by_diffie_hellman_fold.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/kdf/sub_kdf/key_exchange_keys_from_questions_and_answer/keys_from_questions_and_answers_lower_trim_utf8.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/question/security_question.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/security_questions_sealed_mnemonic.rs
Due: fmt, clippy, unit tests

more tests
  src/core/types/identified_vec_of/identified_vec_of_modify.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/kdf/sub_kdf/key_exchange_keys_from_questions_and_answer/keys_from_questions_and_answers_lower_trim_utf8.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source.rs
  src/profile/v100/networks/profile_networks.rs
Due: fmt, clippy, unit tests

fix swift tests
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Factor/FactorSource/SecurityQuestionsFactorSource+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSource+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSourceProtocol.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/SecurityQuestionsFactorSource+Swiftified.swift
  apple/Tests/TestCases/Profile/Factor/SecurityQuestionsFactorSourceTests.swift
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/mod.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source_uniffi_fn.rs
  src/profile/v100/factors/factor_source.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/build_information/sargon_build_information_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[no ci] WIP
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/kdf/sub_kdf/encryption_keys_from_key_exchange_keys/keys_by_diffie_hellman_fold.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source.rs
Due: fmt, clippy, unit tests

bumpb 1.06
  Cargo.lock
  Cargo.toml
Due: none

just bump to 1.0.6 (#152)
  Cargo.lock
  Cargo.toml
Due: none

Release of '1.0.6' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

implement working from and into for ISO8601 with fractional seconds.
  apple/Tests/TestCases/Profile/DeviceInfoTests.swift
Due: ensure Swift setup for local development, SwiftFormat

change into_custom and from_custom for Timestamp in uniffi.toml
  apple/Tests/TestCases/Profile/DeviceInfoTests.swift
  uniffi.toml
Due: ensure Swift setup for local development, SwiftFormat

bump to 1.0.7
  Cargo.lock
  Cargo.toml
Due: none

try use multiline
  uniffi.toml
Due: none

more readable swift in uniffi.toml
  uniffi.toml
Due: none

Swift move DateTests
  apple/Tests/TestCases/Prelude/DateTests.swift
  apple/Tests/TestCases/Profile/DeviceInfoTests.swift
  apple/Tests/Utils/Extensions/JSON+ISO8601.swift
Due: ensure Swift setup for local development, SwiftFormat

Swift - UniFFI boundary - update `into_custom` and `from_custom` especially for date. (#153)
  Cargo.lock
  Cargo.toml
  apple/Tests/TestCases/Prelude/DateTests.swift
  apple/Tests/TestCases/Profile/DeviceInfoTests.swift
  apple/Tests/Utils/Extensions/JSON+ISO8601.swift
  uniffi.toml
Due: ensure Swift setup for local development, SwiftFormat

Release of '1.0.7' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSourcesFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SettingsFeature.swift
  examples/iOS/Backend/Sources/Planbok/SharedState/SharedState+FactorSources.swift
  src/core/error/common_error.rs
  src/system/drivers/event_bus_driver/support/event.rs
  src/system/drivers/event_bus_driver/support/event_kind.rs
  src/system/sargon_os/sargon_os_accounts.rs
  src/system/sargon_os/sargon_os_factors.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[no ci] WIP
  src/profile/logic/account/create_account.rs
  src/profile/security_structure_config/mfa_factor_sources/arculus_card_factor_source/arculus_card_factor_source.rs
  src/profile/security_structure_config/mfa_factor_sources/off_device_mnemonic_factor_source/off_device_mnemonic_factor_source.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source.rs
  src/profile/v100/factors/factor_source.rs
  src/profile/v100/factors/factor_sources/device_factor_source/device_factor_source.rs
  src/profile/v100/factors/factor_sources/ledger_hardware_wallet_factor_source/ledger_hardware_wallet_factor_source.rs
  src/profile/v100/factors/is_factor_source.rs
  src/profile/v100/profile.rs
  src/system/drivers/event_bus_driver/support/event.rs
  src/system/drivers/event_bus_driver/support/event_profile_modified.rs
  src/system/sargon_os/sargon_os_accounts.rs
  src/system/sargon_os/sargon_os_factors.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  src/profile/logic/account/create_account.rs
  src/system/drivers/event_bus_driver/support/event_kind.rs
  src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
  examples/iOS/Backend/Sources/Planbok/SharedState/SharedState+FactorSources.swift
  src/system/drivers/event_bus_driver/support/event_kind.rs
  src/system/sargon_os/sargon_os_factors.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/DeviceFactorSourcesFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSourcesFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
  examples/iOS/Backend/Sources/Planbok/SharedState/SharedState+FactorSources.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/DeviceFactorSourcesFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/DeviceFactorSourcesFeature.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/FactorSourceCardView.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/Labeled.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/DeviceFactorSourcesFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSourcesFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SpecificFactorSourcesFeature.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/FactorSourceCardView.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSourcesFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SpecificFactorSourcesFeature.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/FactorSourceCardView.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SpecificFactorSourcesFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Dependencies/FactorSourcesClient.swift
  src/system/sargon_os/sargon_os_accounts.rs
  src/system/sargon_os/sargon_os_factors.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Dependencies/FactorSourcesClient.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Manage/FactorSourcesFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Manage/SpecificFactorSourcesFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/New/InputMnemonicFeature.swift
  src/system/sargon_os/sargon_os_factors.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Manage/ManageFactorSourcesFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Manage/SpecificFactorSourcesFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
  examples/iOS/Backend/Sources/Planbok/SharedState/SharedState+FactorSources.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/FactorSourceCardView.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSource+Swiftified.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Manage/ManageSpecificFactorSourcesFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/FactorSourceHintView.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/New/InputMnemonicFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/New/NewHWFactorSourceFeature.swift
  src/profile/security_structure_config/mfa_factor_sources/arculus_card_factor_source/arculus_card_factor_source.rs
  src/profile/security_structure_config/mfa_factor_sources/arculus_card_factor_source/arculus_card_factor_source_uniffi_fn.rs
  src/profile/security_structure_config/mfa_factor_sources/arculus_card_factor_source/arculus_card_model_uniffi_fn.rs
  src/profile/security_structure_config/mfa_factor_sources/arculus_card_factor_source/mod.rs
  src/profile/security_structure_config/mfa_factor_sources/off_device_mnemonic_factor_source/mod.rs
  src/profile/security_structure_config/mfa_factor_sources/off_device_mnemonic_factor_source/off_device_mnemonic_factor_source.rs
  src/profile/security_structure_config/mfa_factor_sources/off_device_mnemonic_factor_source/off_device_mnemonic_factor_source_uniffi_fn.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source_uniffi_fn.rs
  src/profile/v100/factors/factor_source.rs
  src/profile/v100/factors/factor_sources/ledger_hardware_wallet_factor_source/ledger_hardware_wallet_factor_source_uniffi_fn.rs
  src/profile/v100/profile.rs
  src/system/sargon_os/sargon_os_accounts.rs
  src/system/sargon_os/sargon_os_factors.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

fix tests
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/ArculusCardFactorSource+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/ArculusCardModel+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/LedgerHardwareWalletFactorSource+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/OffDeviceMnemonicFactorSource+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/SecurityQuestionsFactorSource+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/ArculusCardFactorSource+Swiftified.swift
  apple/Tests/IntegrationTests/DriversTests/EventBusDriverTests.swift
  src/system/sargon_os/sargon_os_accounts.rs
  src/system/sargon_os/sargon_os_factors.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[no ci] WIP
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/ArculusCardFactorSource+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/FactorSourceCommon+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Factor/FactorSource/FactorSourceCommon+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSourceCommon+Swiftified.swift
  apple/Tests/TestCases/Profile/Factor/FactorSourceCommonTests.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/FactorSourcesClient.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/New/InputMnemonicFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/New/NewHWFactorSourceFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
  src/profile/v100/factors/mod.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[no ci] WIP
  src/profile/v100/factors/factor_source_common_uniffi_fn.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Derivation/BIP39/Mnemonic+SampleValues.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Manage/ManageFactorSourcesFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/New/InputMnemonicFeature.swift
  src/hierarchical_deterministic/bip39/mnemonic_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

more swift tests
  apple/Tests/TestCases/Profile/Factor/ArculusCardFactorSourceTests.swift
  apple/Tests/TestCases/Profile/Factor/ArculusCardModelTests.swift
  apple/Tests/TestCases/Profile/Factor/DeviceFactorSourceTests.swift
  apple/Tests/TestCases/Profile/Factor/LedgerHardwareWalletFactorSourceTests.swift
  apple/Tests/TestCases/Profile/Factor/OffDeviceMnemonicFactorSourceTests.swift
  apple/Tests/TestCases/Profile/Factor/SecurityQuestionsFactorSourceTests.swift
  apple/Tests/Utils/SpecificFactorSourceTest.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/Flows/NewSecurityQuestionsFeature/NewSecurityQuestionsFeatureCoordinator.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/Flows/NewSecurityQuestionsFeature/NewSecurityQuestionsFeatureCoordinator.swift
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/question/mod.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[no ci] WIP
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/question/security_questions_uniffi_fn.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/Flows/NewSecurityQuestionsFeature/NewSecurityQuestionsFeatureCoordinator.swift
Due: ensure Swift setup for local development, SwiftFormat
