Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true
default_install_hook_types: [pre-push]
default_stages: [pre-push]
repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.22.7
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

  - repo: https://github.com/phylum-dev/phylum-ci
    rev: main
    hooks:
      - id: phylum
        stages: [pre-push]
        # Optional: Specify the dependency file pattern for your repository
        files: |
            (?x)^(
                Cargo\.lock|
            )$
        # Optional: Specify additional arguments to be passed to `phylum-ci`
        args:
          - -vv
          - --depfile=Cargo.lock
          - --audit
          - --force-analysis
          - --all-deps
        verbose: true

fmt
  crates/system/os/factors/src/test_instances_provider.rs
Due: fmt, clippy, unit tests

fix
  crates/system/os/transaction/src/single/tx/sargon_os_transaction_analysis.rs
Due: fmt, clippy, unit tests

fmt
  crates/system/os/transaction/src/single/tx/sargon_os_transaction_analysis.rs
Due: fmt, clippy, unit tests

Get and store mfa factor instances
  crates/core/error/src/common_error.rs
  crates/profile/logic/logic_SPLIT_ME/src/logic/mfa_factor_instances_logic.rs
  crates/profile/logic/logic_SPLIT_ME/src/logic/mod.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/networks/network/mfa_factor_instances.rs
  crates/system/os/os/src/mfa/factor_instances_derivation.rs
  crates/system/os/os/src/sargon_os_factors.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/networks/network/mfa_factor_instance.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_factors.rs
Due: fmt, clippy, unit tests

Fix mfa factor instances lookup
  crates/core/utils/src/constants.rs
  crates/gateway/client-and-api/src/endpoints/paths.rs
  crates/gateway/models/src/types/request/extensions/extensions_requests.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/networks/network/mod.rs
  crates/system/os/os/src/sargon_os_factors.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/MfaFactorInstances.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/MFAFactorInstanceSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/MFAFactorInstancesSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ProfileNetworkSample.kt
Due: fmt, clippy, unit tests

Add tests
  crates/profile/models/profile_SPLIT_ME/src/v100/networks/network/mfa_factor_instances.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/networks/network/profile_network.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/networks/profile_networks.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/profile.rs
  crates/sargon/src/test_diagnose_instance_duplicates.rs
  crates/system/os/accounts/src/sargon_os_sync_entities.rs
  crates/system/os/os/src/sargon_os_factors.rs
  crates/system/os/transaction/src/single/tx/sargon_os_transaction_analysis.rs
Due: fmt, clippy, unit tests

wip
  Cargo.lock
  crates/gateway/models/src/types/response/state/entity/details/details/role_assignments/explicit_rule.rs
  crates/gateway/models/src/types/response/state/entity/details/details/role_assignments/owner.rs
  crates/system/os/signing/Cargo.toml
  crates/system/os/signing/src/external_signatures_collector.rs
  crates/system/os/signing/src/sargon_os_signing.rs
  docs/external-signing.md
Due: fmt, clippy, unit tests

wip
  crates/gateway/models/src/types/request/transaction/preview/request_flags.rs
  crates/system/os/transaction/src/single/pre_auth/sargon_os_pre_authorization_analysis.rs
  crates/system/os/transaction/src/single/tx/sargon_os_transaction_analysis.rs
  fixtures/models/gateway/transaction/request_preview.json
Due: fmt, clippy, unit tests

wip
  crates/system/os/signing/src/external_signatures_collector.rs
  crates/system/os/signing/src/lib.rs
  crates/system/os/signing/src/sargon_os_signing.rs
Due: fmt, clippy, unit tests

Fix ios tests
  apple/Sources/Sargon/Extensions/Methods/Profile/MfaFactorInstance+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/MfaFactorInstance+Swiftified.swift
  apple/Tests/TestCases/Profile/MfaFactorInstanceTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Address PR comments
  crates/profile/models/profile_SPLIT_ME/src/v100/networks/network/mfa_factor_instance.rs
Due: fmt, clippy, unit tests

Fix swift test
  apple/Tests/TestCases/Profile/MfaFactorInstanceTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Allow converting public key to nft global id
  crates/crypto/addresses/src/address/non_fungible_global_id.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/address/non_fungible_global_id.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/MfaFactorInstance.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/MfaFactorInstances.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TransactionIntent.kt
Due: fmt, clippy, unit tests

Add swift extension
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Keys/HierarchicalDeterministicPublicKey+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/MfaFactorInstance+Swiftified.swift
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/address/non_fungible_global_id.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/MfaFactorInstance.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  crates/system/os/signing/src/external_signatures_collector.rs
  crates/system/os/signing/src/sargon_os_signing.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/bios/bios.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os.rs
Due: fmt, clippy, unit tests

Fix CI
  apple/Tests/TestCases/Profile/DeviceInfoTests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/MfaFactorInstance.kt
Due: ensure Swift setup for local development, SwiftFormat

wip
  crates/factors/factors/src/factor_instance/factor_instance_badge.rs
  crates/system/os/signing/src/sargon_os_signing.rs
  crates/system/os/transaction/src/single/pre_auth/sargon_os_pre_authorization_analysis.rs
Due: fmt, clippy, unit tests

docs
  crates/common/numeric/src/decimal/decimal192.rs
  crates/common/short-string/src/display_name.rs
  crates/crypto/addresses/src/address/identity_address.rs
  crates/crypto/ecc/src/keys/private_key.rs
  crates/crypto/ecc/src/keys/public_key.rs
  crates/crypto/hd/src/bip32/hd_path_component.rs
  crates/crypto/hd/src/bip32/key_space/components/hardened.rs
  crates/crypto/hd/src/bip32/key_space/components/securified.rs
  crates/crypto/hd/src/bip32/key_space/components/unhardened.rs
  crates/crypto/hd/src/bip32/key_space/components/unsecurified.rs
  crates/crypto/hd/src/bip32/key_space/components/unsecurified_hardened.rs
  crates/crypto/hd/src/bip32/traits/from_bip32_str.rs
  crates/crypto/hd/src/bip44/bip44_like_path.rs
  crates/crypto/hd/src/cap26/paths/account_path.rs
  crates/crypto/hd/src/cap26/paths/identity_path.rs
  crates/factors/factors/src/factor_instance/factor_instance_badge.rs
  crates/profile/models/profile_SPLIT_ME/src/v100/profile.rs
  crates/system/os/accounts/src/delete_account/sargon_os_delete_account.rs
  crates/system/os/signing/src/external_signatures_collector.rs
  crates/system/os/signing/src/sargon_os_signing.rs
  crates/system/os/transaction/src/single/tx/sargon_os_transaction_analysis.rs
Due: fmt, clippy, unit tests

Update release kotlin android workflow
  .github/workflows/release-kotlin-android.yml
Due: none

Specify cmdline tools version
  .github/workflows/release-kotlin-android.yml
Due: none

Specify ndk version
  .github/workflows/release-kotlin-android.yml
Due: none

Set android ndk home
  .github/workflows/release-kotlin-android.yml
Due: none

Ndk version env variable
  .github/workflows/release-kotlin-android.yml
Due: none

Specify android ndk root
  .github/workflows/release-kotlin-android.yml
Due: none

Use subintent header sent by dApp
  crates/app/radix-connect-models/src/pre_auth/mod.rs
  crates/app/radix-connect-models/src/pre_auth/subintent_header.rs
  crates/app/radix-connect/src/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/subintent.rs
  crates/system/os/transaction/src/single/pre_auth/sargon_os_create_subintent.rs
  crates/uniffi/uniffi_SPLIT_ME/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/subintent.rs
  crates/uniffi/uniffi_SPLIT_ME/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/subintent_header.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/pre_authorization/sargon_os_create_subintent.rs
Due: fmt, clippy, unit tests

Add tests
  crates/app/radix-connect/src/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/subintent.rs
  crates/system/os/transaction/src/single/pre_auth/sargon_os_create_subintent.rs
Due: fmt, clippy, unit tests

clippy
  crates/system/os/transaction/src/single/tx/sargon_os_transaction_analysis.rs
Due: fmt, clippy, unit tests

Use subintent header sent by dApp (#440)
  crates/app/radix-connect-models/src/pre_auth/mod.rs
  crates/app/radix-connect-models/src/pre_auth/subintent_header.rs
  crates/app/radix-connect/src/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/subintent.rs
  crates/system/os/transaction/src/single/pre_auth/sargon_os_create_subintent.rs
  crates/uniffi/uniffi_SPLIT_ME/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/subintent.rs
  crates/uniffi/uniffi_SPLIT_ME/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/subintent_header.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/pre_authorization/sargon_os_create_subintent.rs
Due: fmt, clippy, unit tests
