Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

Add SymmetricKey
  src/core/types/exactly_n_bytes.rs
  src/core/types/keys/key_agreement/private_key.rs
Due: fmt, clippy, unit tests

compare by public key
  src/core/types/keys/key_agreement/private_key.rs
Due: fmt, clippy, unit tests

move hkdf
  src/core/pb_hkdf_sha256.rs
Due: fmt, clippy, unit tests

Fix hkdf ref
  src/core/mod.rs
  src/core/pb_hkdf_sha256.rs
  src/profile/encrypted/key_derivation/mod.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/FactorSourceExtensions/FactorSourceKind+Extensions.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/PickFactorSourceCoordinator/Children/PickFactorSelectKindFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/PickFactorSourceCoordinator/PickFactorSourceCoordinator.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/PrimaryRoleFactorsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Features/PrimaryRoleFactorsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Views/FactorView.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Views/FactorsBuilderView.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Models/NewShield+Models.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Models/NewShield+SharedState.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/NewSecurityShieldCoordinator.swift
  examples/iOS/Backend/Sources/Planbok/View/LabelStyleFlip.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/PickFactorSourceCoordinator/Children/PickFactorSelectKindFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/PickFactorSourceCoordinator/PickFactorSourceCoordinator.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/Onboarding/OnboardingFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Manage/ManageSpecificFactorSourcesFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/PickFactorSourceCoordinator/Children/PickFactorSelectKindFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/PickFactorSourceCoordinator/Children/PickFactorSourceFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/PickFactorSourceCoordinator/PickFactorSourceCoordinator.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Features/PrimaryRoleFactorsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Views/FactorView.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Views/FactorsBuilderView.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Models/NewShield+Models.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Models/NewShield+SharedState.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/NewSecurityShieldCoordinator.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/FactorSourceCardView.swift
  src/core/types/decimal192.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Features/PrimaryRoleFactorsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/NewSecurityShieldCoordinator.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/FactorSourceExtensions/FactorSourceKind+Extensions.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/IntroWhatIsShieldFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/PickFactorSourceCoordinator/Children/PickFactorSelectKindFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/PickFactorSourceCoordinator/Children/PickFactorSourceFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Views/FactorView.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Views/FactorsBuilderView.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/FactorSourceHintView.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/FactorSourceExtensions/FactorSourceKind+Extensions.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/PickFactorSourceCoordinator/Children/PickFactorSelectKindFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/PickFactorSourceCoordinator/Children/PickFactorSourceFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/PickFactorSourceCoordinator/PickFactorSourceCoordinator.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Models/NewShield+SharedState.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/NewSecurityShieldCoordinator.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/PickFactorSourceCoordinator/Children/PickFactorSelectKindFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/PickFactorSourceCoordinator/Children/PickFactorSourceFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Features/PrimaryRoleFactorsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/SetFactorThresholdFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/NewSecurityShieldCoordinator.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/SetFactorThresholdFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

update link_request
  src/core/pb_hkdf_sha256.rs
  src/core/types/keys/key_agreement/mod.rs
  src/core/types/keys/key_agreement/private_key.rs
  src/core/types/keys/key_agreement/public_key.rs
  src/core/types/keys/key_agreement/public_key_uniffi_fn.rs
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/deep_link_parsing/link_request.rs
  src/radix_connect/mobile/deep_link_parsing/parser.rs
  src/radix_connect/mobile/session/session.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Features/RoleFactorsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Views/FactorsBuilderView.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/SetFactorThresholdFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Models/NewShield+SharedState.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/NewSecurityShieldCoordinator.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/PickFactorSourceCoordinator/Children/PickFactorSourceFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Features/RoleFactorsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Views/FactorsBuilderView.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/SetFactorThresholdFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Models/NewShield+SharedState.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/NewSecurityShieldCoordinator.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/PickFactorSourceCoordinator/Children/PickFactorSourceFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Models/NewShield+SharedState.swift
Due: ensure Swift setup for local development, SwiftFormat

cleanup
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Features/RoleFactorsFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Package.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/PickFactorSourceCoordinator/Children/PickFactorSourceFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Features/RoleFactorsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Views/FactorsBuilderView.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Models/NewShield+Models.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Models/NewShield+SharedState.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/NewSecurityShieldCoordinator.swift
  examples/iOS/Planbok.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Features/RoleFactorsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Views/FactorsBuilderFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/NewSecurityShieldCoordinator.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/SetFactorThresholdFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Models/NewShield+SharedState.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Views/FactorsBuilderFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Models/NewShield+Models.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Models/NewShield+SharedState.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/ManageSecurityShieldsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/NameNewShieldFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Features/FactorsBuilderFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Features/RoleFactorsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/SetFactorThresholdFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Models/NewShield+Models.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Models/NewShield+SharedState.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/NewSecurityShieldCoordinator.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Features/FactorsBuilderFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Features/RoleFactorsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Features/SetDaysUntilAutoConfirm.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/SetFactorThresholdFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/NewSecurityShieldCoordinator.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Features/FactorsBuilderFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Features/RoleFactorsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Features/SetDaysUntilAutoConfirm.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Models/NewShield+SharedState.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/NewSecurityShieldCoordinator.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  apple/Sources/Sargon/Extensions/Methods/Profile/MFA/SecurityStructureOfFactorSources+Wrap+Functions.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/ManageSecurityShieldsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/NameNewShieldFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/PickFactorSourceCoordinator/Children/PickFactorSourceFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Views/FactorView.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Models/NewShield+Models.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Models/NewShield+SharedState.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/ShieldDetailsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  src/radix_connect/mobile/client.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/FactorSourceExtensions/FactorSourceKind+Extensions.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Views/FactorView.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/ShieldDetailsFeature.swift
  examples/iOS/Backend/Sources/Planbok/View/DesignSystem/Color.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/FactorSourceCardView.swift
  src/profile/v100/factors/factor_sources/factor_sources_uniffi_fn.rs
  src/profile/v100/factors/factor_sources/mod.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/Roles/Views/FactorView.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/ManageSecurityShieldsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/NameNewShieldFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Models/NewShield+SharedState.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/NewSecurityShieldCoordinator.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/ShieldDetailsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

[ABW-3208] Callback_path fetching (#159)
  fixtures/models/well_known.json
  src/core/error/common_error.rs
  src/http_client/network_antenna/network_request.rs
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/session/callback_path.rs
  src/radix_connect/mobile/session/mod.rs
  src/radix_connect/mobile/session/session.rs
  src/radix_connect/mod.rs
  src/radix_connect/well_known_client/client.rs
  src/radix_connect/well_known_client/mod.rs
  src/radix_connect/well_known_client/models/dapp_definition.rs
  src/radix_connect/well_known_client/models/dapp_well_known_data.rs
  src/radix_connect/well_known_client/models/mod.rs
Due: fmt, clippy, unit tests

Update f32 to Decimal192 parsing to not throw
  src/core/types/decimal192.rs
  src/core/types/decimal192_uniffi_fn.rs
Due: fmt, clippy, unit tests

wip
  Cargo.lock
  Cargo.toml
  src/radix_connect/interaction_id.rs
  src/radix_connect/mobile/deep_link_parsing/dapp_request.rs
Due: fmt, clippy, unit tests

Fix doctests
  src/core/types/decimal192.rs
  src/core/types/decimal192_uniffi_fn.rs
Due: fmt, clippy, unit tests

Version bump
  Cargo.lock
  Cargo.toml
Due: none
