Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

Put -bins suffix back and fetch tags
  .github/workflows/release-desktop.yml
  jvm/sargon-desktop/build.gradle.kts
Due: none

Use older toolchain
  .github/workflows/test.yml
Due: none

Test release desktop
  .github/workflows/release-desktop.yml
Due: none

Remove unnecessary jobs
  .github/workflows/release-android.yml
  .github/workflows/release-desktop.yml
  .github/workflows/test.yml
Due: none

Make 2024-07-30 default
  .github/workflows/release-desktop.yml
Due: none

add rust components
  .github/workflows/test.yml
Due: none

Make most test CI jobs run on ubuntu
  .github/workflows/test.yml
Due: none

Produce buildCargo for debug and release. Allow skipping via property
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/desktop/CargoDesktopPlugin.kt
Due: none

Release of '1.1.17' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Fix readme
  README.md
Due: none

Fix formatting
  .github/workflows/test.yml
Due: none

check version bump on PRs
  .github/workflows/test.yml
Due: none

fix
  .github/workflows/test.yml
Due: none

remove install of cargo-edit
  .github/workflows/test.yml
Due: none

use regular checkout
  .github/workflows/test.yml
Due: none

remove empty line
  .github/workflows/test.yml
Due: none

Run fmt
  crates/sargon/src/gateway_api/models/types/request/transaction/preview/opt_ins.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Util/URL+image.swift
  apple/Tests/TestCases/Prelude/ImageURLTests.swift
  crates/sargon/src/core/utils/image_url_utils.rs
  crates/sargon/src/core/utils/image_url_utils_uniffi_fn.rs
  crates/sargon/src/core/utils/mod.rs
  crates/sargon/src/core/utils/string_utils.rs
  crates/sargon/src/gateway_api/models/types/request/transaction/preview/opt_ins.rs
  crates/sargon/src/types/mod.rs
  crates/sargon/src/types/vector_image_type.rs
  crates/sargon/src/types/vector_image_type_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

bump to 1.1.18
  Cargo.lock
  crates/sargon/Cargo.toml
Due: none

Handle warnings
  crates/sargon/Cargo.toml
  crates/sargon/src/profile/v100/address/wrap_ret_address.rs
Due: fmt, clippy, unit tests

Sargon CI/CD on ubuntu (#218)
  .github/workflows/release-android.yml
  .github/workflows/release-desktop-bins.yml
  .github/workflows/release-desktop.yml
  .github/workflows/test.yml
  README.md
  crates/sargon/Cargo.toml
  crates/sargon/src/gateway_api/models/types/request/transaction/preview/opt_ins.rs
  crates/sargon/src/profile/v100/address/wrap_ret_address.rs
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/desktop/BuildType.kt
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/desktop/CargoDesktopPlugin.kt
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/desktop/DesktopTargetTriple.kt
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-desktop-debug/.gitignore
  jvm/sargon-desktop-debug/build.gradle.kts
  jvm/sargon-desktop-release/.gitignore
  jvm/sargon-desktop-release/build.gradle.kts
  jvm/settings.gradle.kts
  rust-toolchain.toml
Due: fmt, clippy, unit tests

Release of '1.1.18' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

bump to sync with releases
  Cargo.lock
  crates/sargon/Cargo.toml
Due: none

split tests
  apple/Tests/TestCases/Prelude/ImageURLTests.swift
  crates/sargon/src/core/utils/image_url_utils.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

address feedback
  apple/Sources/Sargon/Util/URL+image.swift
  crates/sargon/src/core/utils/image_url_utils.rs
  crates/sargon/src/core/utils/image_url_utils_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Create kotlin extensions
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Url.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/VectorImageType.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/VectorImageTypeSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/UrlTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/VectorImageTypeTest.kt
Due: none

wip
  apple/Sources/Sargon/Util/URL+image.swift
  apple/Tests/TestCases/Prelude/ImageURLTests.swift
  crates/sargon/src/core/utils/image_url_utils.rs
  crates/sargon/src/core/utils/image_url_utils_uniffi_fn.rs
  crates/sargon/src/core/utils/mod.rs
  crates/sargon/src/core/utils/string_utils.rs
  crates/sargon/src/types/mod.rs
  crates/sargon/src/types/vector_image_type.rs
  crates/sargon/src/types/vector_image_type_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Bump version
  Cargo.lock
  crates/sargon/Cargo.toml
Due: none

add test
  crates/sargon/src/core/utils/image_url_utils.rs
Due: fmt, clippy, unit tests

Image service URL construction (#221)
  Cargo.lock
  apple/Sources/Sargon/Util/URL+image.swift
  apple/Tests/TestCases/Prelude/ImageURLTests.swift
  crates/sargon/Cargo.toml
  crates/sargon/src/core/utils/image_url_utils.rs
  crates/sargon/src/core/utils/image_url_utils_uniffi_fn.rs
  crates/sargon/src/core/utils/mod.rs
  crates/sargon/src/core/utils/string_utils.rs
  crates/sargon/src/types/mod.rs
  crates/sargon/src/types/vector_image_type.rs
  crates/sargon/src/types/vector_image_type_uniffi_fn.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Url.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/VectorImageType.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/VectorImageTypeSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/UrlTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/VectorImageTypeTest.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Release of '1.1.19' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

update workflows to use Xcode 16
  .github/workflows/release.yml
  .github/workflows/test.yml
  crates/sargon/Cargo.toml
Due: none

Add dependency to pom
  jvm/gradle/libs.versions.toml
  jvm/sargon-android/build.gradle.kts
Due: none

Add JNA dependency to sargon-desktop-bins (#223)
  jvm/gradle/libs.versions.toml
  jvm/sargon-android/build.gradle.kts
Due: none

Release of '1.1.20' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Fixed Sargon iOS example app.
  Cargo.toml
  crates/sargon/Cargo.toml
  crates/sargon/src/system/drivers/unsafe_storage_driver/support/test/fail_unsafe_storage.rs
  crates/sargon/src/system/drivers/unsafe_storage_driver/support/test/mod.rs
  examples/iOS/Backend/Sources/Planbok/Dependencies/ProfileClient.swift
  examples/iOS/Backend/Sources/Planbok/Features/AppFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Children/SetFactorThresholdFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Models/NewShield+Models.swift
  examples/iOS/Backend/Sources/Planbok/Features/FactorSource/Shields/New/Models/NewShield+SharedState.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/CreateAccount/CreateAccountFlowFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/Onboarding/NewOrImportProfileFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/Onboarding/OnboardingFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SplashFeature.swift
  examples/iOS/Backend/Sources/Planbok/SargonExtensions/Sargon+Extensions.swift
  examples/iOS/Backend/Sources/Planbok/SharedState/SargonKey.swift
  examples/iOS/Backend/Sources/Planbok/SharedState/SharedState+FactorSources.swift
  examples/iOS/Backend/Sources/Planbok/SharedState/SharedState+NetworkID.swift
  examples/iOS/Backend/Sources/Planbok/SharedState/SharedState+SavedGateways.swift
  examples/iOS/Planbok.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

fix tests
  apple/Tests/IntegrationTests/GatewayClientTests.swift
  crates/sargon/tests/integration/main.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests
