Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true
default_install_hook_types: [pre-push]
default_stages: [pre-push]
repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.22.7
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

  - repo: https://github.com/phylum-dev/phylum-ci
    rev: main
    hooks:
      - id: phylum
        stages: [pre-push]
        # Optional: Specify the dependency file pattern for your repository
        files: |
            (?x)^(
                Cargo\.lock|
            )$
        # Optional: Specify additional arguments to be passed to `phylum-ci`
        args:
          - -vv
          - --depfile=Cargo.lock
          - --audit
          - --force-analysis
          - --all-deps
        verbose: true

[no ci] WIP
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/profile/mfa/security_structures/builder.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/error_conversion.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/matrices/matrix_of_factor_instances.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/matrices/matrix_of_factor_source_ids.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/matrices/matrix_of_factor_sources.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/matrices/mod.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/mod.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/models/factor_source_in_role_builder_validation_status.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/models/mod.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/models/role_kind.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/roles/decl_role_macro.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/roles/mod.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/roles/roles_factor_instances.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/roles/roles_factor_source_ids.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/roles/roles_factor_sources.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_structures/mod.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_structures/security_structure_of_factor_instances.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_structures/security_structure_of_factor_source_ids.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_structures/security_structure_of_factor_sources.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/profile/mfa/security_structures/matrices/factor_source_id_samples.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/mod.rs
  crates/sargon/src/profile/mfa/security_structures/roles/abstract_role_builder_or_built.rs
  crates/sargon/src/profile/mfa/security_structures/roles/factor_levels/factor_instance_level/confirmation_role_with_factor_instances.rs
  crates/sargon/src/profile/mfa/security_structures/roles/factor_levels/factor_instance_level/mod.rs
  crates/sargon/src/profile/mfa/security_structures/roles/factor_levels/factor_instance_level/primary_role_with_factor_instances.rs
  crates/sargon/src/profile/mfa/security_structures/roles/factor_levels/factor_instance_level/recovery_role_with_factor_instances.rs
  crates/sargon/src/profile/mfa/security_structures/roles/factor_levels/factor_source_id_level/confirmation_role_with_factor_source_ids.rs
  crates/sargon/src/profile/mfa/security_structures/roles/factor_levels/factor_source_id_level/primary_role_with_factor_source_ids.rs
  crates/sargon/src/profile/mfa/security_structures/roles/factor_levels/factor_source_id_level/recovery_role_with_factor_source_ids.rs
  crates/sargon/src/profile/mfa/security_structures/roles/factor_levels/factor_source_kind_level/role_template.rs
  crates/sargon/src/profile/mfa/security_structures/roles/factor_levels/factor_source_level/confirmation_role_with_factor_sources.rs
  crates/sargon/src/profile/mfa/security_structures/roles/factor_levels/factor_source_level/mod.rs
  crates/sargon/src/profile/mfa/security_structures/roles/factor_levels/factor_source_level/primary_role_with_factor_sources.rs
  crates/sargon/src/profile/mfa/security_structures/roles/factor_levels/factor_source_level/recovery_role_with_factor_sources.rs
  crates/sargon/src/profile/mfa/security_structures/roles/factor_levels/mod.rs
  crates/sargon/src/profile/mfa/security_structures/roles/mod.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon-uniffi/src/profile/mfa/security_structures/roles/decl_role_macro.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/roles/mod.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/abstract_matrix_builder_or_built.rs
  crates/sargon/src/profile/mfa/security_structures/roles/abstract_role_builder_or_built.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon-uniffi/src/profile/mfa/security_structures/matrices/decl_matrix_macro.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/matrices/matrix_of_factor_source_ids.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/matrices/mod.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/matrix_of_factor_source_ids.rs
  crates/sargon/src/profile/mfa/security_structures/security_structure_of_factors/security_structure_of_factor_sources.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon-uniffi/src/profile/mfa/security_structures/matrices/matrix_of_factor_source_ids.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/abstract_matrix_builder_or_built.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon-uniffi/src/profile/mfa/security_structures/builder.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/error_conversion.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/matrices/decl_matrix_macro.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/matrices/matrix_of_factor_instances.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/matrices/matrix_of_factor_source_ids.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/matrices/matrix_of_factor_sources.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/models/role_kind.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/roles/mod.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/roles/roles_factor_source_ids.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/roles/roles_factor_sources.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_structures/security_structure_of_factor_instances.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_structures/security_structure_of_factor_sources.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/abstract_matrix_builder_or_built.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/matrix_of_factor_source_ids.rs
  crates/sargon/src/profile/mfa/security_structures/roles/abstract_role_builder_or_built.rs
  crates/sargon/src/profile/mfa/security_structures/roles/factor_levels/factor_source_id_level/confirmation_role_with_factor_source_ids.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon-uniffi/src/profile/mfa/security_structures/builder.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/error_conversion.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/mod.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/violation_to_error_conversion.rs
  crates/sargon/src/profile/mfa/security_structures/roles/builder/mod.rs
  crates/sargon/src/profile/mfa/security_structures/roles/builder/violation_to_error_conversion.rs
  crates/sargon/tests/vectors/main.rs
Due: fmt, clippy, unit tests

TODO: Error conversion for roles and matrices
  crates/sargon/src/profile/mfa/security_structures/roles/builder/violation_to_error_conversion.rs
Due: fmt, clippy, unit tests

fix
  crates/sargon/src/profile/mfa/security_structures/roles/builder/mod.rs
Due: fmt, clippy, unit tests

moar tests
  apple/Sources/Sargon/Extensions/Methods/Profile/MFA/SecurityStructureMetadata+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/MFA/SecurityStructureOfFactorSources+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/TransactionManifest+Wrap+Functions.swift
  apple/Tests/TestCases/Prelude/Decimal192Tests.swift
  apple/Tests/TestCases/Profile/MFA/SecurityStructureOfFactorSourcesTests.swift
  apple/Tests/TestCases/RET/TransactionManifestTests.swift
  crates/sargon-uniffi/src/profile/mfa/security_structures/matrices/decl_matrix_macro.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/matrices/matrix_of_factor_sources.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/roles/decl_role_macro.rs
  crates/sargon-uniffi/src/profile/v100/factors/factor_instance/badge_virtual_source.rs
  crates/sargon-uniffi/src/profile/v100/factors/factor_instance/factor_instance_badge.rs
  crates/sargon-uniffi/src/profile/v100/factors/factor_source.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

more tests
  crates/sargon-uniffi/src/profile/v100/factors/factor_instance/factor_instance_badge.rs
Due: fmt, clippy, unit tests

bump typos and fix typos
  .pre-commit-config.yaml
  apple/Tests/TestCases/Prelude/Decimal192Tests.swift
  crates/sargon/src/hierarchical_deterministic/cap26/paths/account_path.rs
  crates/sargon/src/hierarchical_deterministic/cap26/paths/identity_path.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

swiftformat
  apple/Sources/Sargon/Drivers/FileSystem/FileSystemDriver+Data+ContentsOf+URL.swift
  apple/Sources/Sargon/Drivers/Logging/LoggingDriver+SwiftLog.swift
  apple/Sources/Sargon/Drivers/ProfileStateChange/ProfileStateChange.swift
  apple/Sources/Sargon/Drivers/UnsafeStorage/UnsafeStorageDriver+UserDefaults.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/MFA/SecurityStructureMetadata+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/MFA/SecurityStructureOfFactorSources+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/BIP39/BIP39Language+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/BIP39/BIP39WordCount+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/BIP39Word+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/BIP44LikePath+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/SLIP10Curve+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/NetworkID+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/NonFungibleGlobalID+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/NonFungibleLocalID+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/NonFungibleLocalIDString+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/SargonError+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Account/AppearanceID+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSourceID+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSourceIDFromAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSourceIDFromHash+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RadixConnect/P2PLinks/P2PLink+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/BIOS/BIOS+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/Drivers/Drivers+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/SargonOS+Swiftified.swift
  apple/Tests/TestCases/Profile/MFA/SecurityStructureOfFactorSourcesTests.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/Keychain.swift
  examples/iOS/Backend/Sources/Planbok/Features/OverlayWindow/HUDFeature.swift
  examples/iOS/Backend/Sources/Planbok/SharedState/SargonKey.swift
Due: ensure Swift setup for local development, SwiftFormat

error converesion
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/violation_to_error_conversion.rs
  crates/sargon/src/profile/mfa/security_structures/roles/builder/violation_to_error_conversion.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  apple/Sources/Sargon/Extensions/Swiftified/Profile/MFA/SecurityShieldBuilder+Swiftiefied.swift
  crates/sargon-uniffi/src/profile/mfa/security_structures/models/factor_source_in_role_builder_validation_status.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/models/role_kind.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[no ci] wip
  apple/Sources/Sargon/Extensions/Swiftified/Profile/MFA/SecurityShieldBuilder+Swiftiefied.swift
  apple/Tests/TestCases/Profile/MFA/SecurityShieldsBuilderTests.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] wip
  apple/Sources/Sargon/Extensions/Swiftified/Profile/MFA/SecurityShieldBuilder+Swiftiefied.swift
  apple/Tests/TestCases/Profile/MFA/SecurityShieldsBuilderTests.swift
  crates/sargon-uniffi/src/profile/mfa/security_structures/builder.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/matrices/matrix_of_factor_source_ids.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  crates/sargon-uniffi/src/system/drivers/arculus_csdk_driver/arculus_csdk_driver.rs
  crates/sargon-uniffi/src/system/drivers/arculus_csdk_driver/mod.rs
  crates/sargon-uniffi/src/system/drivers/drivers.rs
  crates/sargon-uniffi/src/system/drivers/mod.rs
  crates/sargon/src/system/clients/client/arculus_wallet_client/arculus_wallet_client.rs
  crates/sargon/src/system/clients/client/arculus_wallet_client/mod.rs
  crates/sargon/src/system/clients/client/mod.rs
  crates/sargon/src/system/drivers/arculus_csdk_driver/arculus_csdk_driver.rs
  crates/sargon/src/system/drivers/arculus_csdk_driver/mod.rs
  crates/sargon/src/system/drivers/arculus_csdk_driver/support/mod.rs
  crates/sargon/src/system/drivers/arculus_csdk_driver/support/test/arculus_csdk_driver.rs
  crates/sargon/src/system/drivers/arculus_csdk_driver/support/test/mod.rs
  crates/sargon/src/system/drivers/drivers.rs
  crates/sargon/src/system/drivers/mod.rs
Due: fmt, clippy, unit tests

[no ci] build does not consume
  crates/sargon-uniffi/src/profile/mfa/security_structures/builder.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/error.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/matrix_builder.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/matrix_builder_unit_tests.rs
  crates/sargon/src/profile/mfa/security_structures/roles/builder/primary_roles_builder_unit_tests.rs
  crates/sargon/src/profile/mfa/security_structures/roles/builder/roles_builder.rs
  crates/sargon/src/signing/petition_types/role_kind.rs
Due: fmt, clippy, unit tests

[no ci] revert
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/error.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/matrix_builder.rs
  crates/sargon/src/profile/mfa/security_structures/roles/builder/roles_builder.rs
  crates/sargon/src/signing/petition_types/role_kind.rs
Due: fmt, clippy, unit tests

understandable generic names
  crates/sargon-uniffi/src/profile/mfa/security_structures/builder.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/matrices/matrix_of_factor_source_ids.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/models/factor_source_in_role_builder_validation_status.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/abstract_matrix_builder_or_built.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/matrix_builder.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/matrix_template.rs
  crates/sargon/src/profile/mfa/security_structures/roles/abstract_role_builder_or_built.rs
  crates/sargon/src/profile/mfa/security_structures/roles/builder/roles_builder.rs
  crates/sargon/src/profile/mfa/security_structures/roles/factor_levels/factor_instance_level/role_with_factor_instances.rs
  crates/sargon/src/profile/mfa/security_structures/roles/factor_levels/factor_source_id_level/roles_with_factor_ids.rs
  crates/sargon/src/profile/mfa/security_structures/roles/factor_levels/factor_source_kind_level/role_template.rs
  crates/sargon/src/profile/mfa/security_structures/roles/factor_levels/factor_source_level/roles_with_factor_sources.rs
  crates/sargon/src/profile/mfa/security_structures/security_structure_of_factors/abstract_security_structure_of_factors.rs
  crates/sargon/src/profile/mfa/security_structures/security_structure_of_factors/security_structure_of_factor_sources.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  apple/Sources/Sargon/Extensions/Swiftified/Profile/MFA/SecurityShieldBuilder+Swiftiefied.swift
  apple/Tests/TestCases/Profile/MFA/SecurityShieldsBuilderTests.swift
  crates/sargon/src/profile/mfa/security_structures/roles/builder/roles_builder.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[no ci] wip
  apple/Sources/Sargon/Drivers/FileSystem/FileSystemDriver+Data+ContentsOf+URL.swift
  apple/Sources/Sargon/Drivers/Logging/LoggingDriver+SwiftLog.swift
  apple/Sources/Sargon/Drivers/ProfileStateChange/ProfileStateChange.swift
  apple/Sources/Sargon/Drivers/UnsafeStorage/UnsafeStorageDriver+UserDefaults.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/BIP39/BIP39Language+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/BIP39/BIP39WordCount+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/BIP39Word+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/BIP44LikePath+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/SLIP10Curve+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/NetworkID+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/NonFungibleGlobalID+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/NonFungibleLocalID+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/NonFungibleLocalIDString+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/SargonError+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Account/AppearanceID+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSourceID+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSourceIDFromAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSourceIDFromHash+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RadixConnect/P2PLinks/P2PLink+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/BIOS/BIOS+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/Drivers/Drivers+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/SargonOS+Swiftified.swift
  crates/sargon-uniffi/src/profile/mfa/security_structures/mod.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/mod.rs
  crates/sargon/src/profile/mfa/security_structures/roles/builder/roles_builder.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
  examples/iOS/Backend/Sources/Planbok/Dependencies/Keychain.swift
  examples/iOS/Backend/Sources/Planbok/Features/OverlayWindow/HUDFeature.swift
  examples/iOS/Backend/Sources/Planbok/SharedState/SargonKey.swift
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[no ci] wip
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  apple/Sources/Sargon/Extensions/Swiftified/Profile/MFA/SecurityShieldBuilder+Swifified.swift
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  Package.swift
  apple/Sources/Sargon/Drivers/ArculusCSDK/ArculusCSDK.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/Drivers/Drivers+Swiftified.swift
  crates/sargon-uniffi/src/system/drivers/drivers.rs
  crates/sargon-uniffi/src/system/drivers/mod.rs
  crates/sargon-uniffi/src/system/drivers/nfc_tag_driver/mod.rs
  crates/sargon-uniffi/src/system/drivers/nfc_tag_driver/nfc_tag_driver.rs
  crates/sargon/src/arculus_card/mod.rs
  crates/sargon/src/lib.rs
  crates/sargon/src/system/clients/client/arculus_wallet_client/arculus_wallet_client.rs
  crates/sargon/src/system/drivers/drivers.rs
  crates/sargon/src/system/drivers/mod.rs
  crates/sargon/src/system/drivers/nfc_driver/mod.rs
  crates/sargon/src/system/drivers/nfc_driver/nfc_driver.rs
  crates/sargon/src/system/drivers/nfc_driver/support/mod.rs
  crates/sargon/src/system/drivers/nfc_driver/support/test/mod.rs
  crates/sargon/src/system/drivers/nfc_driver/support/test/nfc_tag_driver.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[no ci] WIP
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

[no ci] wip
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_structure_metadata.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_structures/security_structure_of_factor_instances.rs
Due: fmt, clippy, unit tests

disable pre-derivation of factor sources in prod.
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
  crates/sargon/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os_factors.rs
Due: fmt, clippy, unit tests

disable pre-derivation of factor sources in prod. (#289)
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
  crates/sargon/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os_factors.rs
Due: fmt, clippy, unit tests

[no ci] wip
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_structure_metadata.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_structures/security_structure_of_factor_instances.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/security_structure_of_factors/security_structure_of_factor_source_ids.rs
Due: fmt, clippy, unit tests

[no ci] wip
  crates/sargon-uniffi/src/profile/mfa/security_structures/mod.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder_invalid_reason.rs
  crates/sargon/src/profile/mfa/security_structures/mod.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder_invalid_reason.rs
Due: fmt, clippy, unit tests

IMPORTANT BUG FIX: fix bug where we accidentally allowed an invalid shield with a single password factor in primary threshold.
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/error_conversion.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/mod.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/models/factor_source_in_role_builder_validation_status.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder_invalid_reason.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/matrix_builder.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/matrix_builder_unit_tests.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/mod.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/builder/violation_to_error_conversion.rs
  crates/sargon/src/profile/mfa/security_structures/mod.rs
  crates/sargon/src/profile/mfa/security_structures/roles/builder/mod.rs
  crates/sargon/src/profile/mfa/security_structures/roles/builder/primary_roles_builder_unit_tests.rs
  crates/sargon/src/profile/mfa/security_structures/roles/builder/roles_builder.rs
  crates/sargon/src/profile/mfa/security_structures/roles/builder/violation_to_error_conversion.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder_invalid_reason.rs
Due: fmt, clippy, unit tests

[no ci] moar tests
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

bump version, try fix swift. What about kotlin failures 'MethodTooLargeException'....scary. hope it fixes itself. See failing CI job 12139872550/job/33848408629
  Cargo.lock
  apple/Sources/Sargon/Extensions/Swiftified/Profile/MFA/SecurityShieldBuilder+Swifified.swift
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Try fix MethodTooLargeException: remove field `reason_if_invalid` from FactorSourceValidationStatus
  apple/Sources/Sargon/Extensions/Swiftified/Profile/MFA/SecurityShieldBuilder+Swifified.swift
  apple/Tests/TestCases/Profile/MFA/SecurityShieldsBuilderTests.swift
  crates/sargon-uniffi/src/profile/mfa/security_structures/models/factor_source_in_role_builder_validation_status.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  apple/Sources/Sargon/Drivers/ArculusCSDK/ArculusCSDK.swift
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCSessionClient.swift
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCTag+IO.swift
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCTagDriver.swift
  apple/Sources/Sargon/Drivers/NFCTagDriver/NFCTagReaderSessionAsyncDelegate.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/Drivers/Drivers+Swiftified.swift
  crates/sargon-uniffi/src/system/drivers/arculus_csdk_driver/arculus_csdk_driver.rs
  crates/sargon-uniffi/src/system/sargon_os/arculus_card/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/arculus_card/sargon_os_arculus_card.rs
  crates/sargon-uniffi/src/system/sargon_os/mod.rs
  crates/sargon/src/system/clients/client/arculus_wallet_client/arculus_wallet_client.rs
  crates/sargon/src/system/clients/client/arculus_wallet_client/arculus_wallet_client_io.rs
  crates/sargon/src/system/clients/client/arculus_wallet_client/mod.rs
  crates/sargon/src/system/clients/clients.rs
  crates/sargon/src/system/drivers/arculus_csdk_driver/arculus_csdk_driver.rs
  crates/sargon/src/system/drivers/arculus_csdk_driver/support/test/arculus_csdk_driver.rs
  crates/sargon/src/system/sargon_os/arculus_card/mod.rs
  crates/sargon/src/system/sargon_os/arculus_card/sargon_os_arculus_card.rs
  crates/sargon/src/system/sargon_os/mod.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Try to fix MethodTooLargeException by adding repr(u32) to SecurityShieldBuilderInvalidReason
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder_invalid_reason.rs
Due: fmt, clippy, unit tests

Try to fix `MethodTooLargeException` by temporarily not compiling the SecurityShieldBuilder in sargon-uniffi - also modified `SecurityShieldBuilderInvalidReason` to be repr(u32).
  crates/sargon-uniffi/src/profile/mfa/security_structures/mod.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/sargon/src/profile/mfa/security_structures/security_shield_builder_invalid_reason.rs
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/KeystoreAccessRequestTest.kt
Due: fmt, clippy, unit tests

Fixed??? the MethodTooLargeException by using Arc<Self> ? Ive commented out many methods though
  crates/sargon-uniffi/src/profile/mfa/security_structures/mod.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

Prevented MethodTooLargeException still? add more methods... is the `validation_for_addition_of_factor_source_to_confirmation_override_for_each` problematic?
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests
