Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

SwiftFormat:
  name: SwiftFormat
  language: system
  entry: swiftformat .
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

wip
  crates/sargon-uniffi/src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/assets_exception_list.rs
  crates/sargon-uniffi/src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/depositors_allow_list.rs
  crates/sargon-uniffi/src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/mod.rs
  crates/sargon-uniffi/src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/third_party_deposits.rs
Due: fmt, clippy, unit tests

Update naming
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
Due: fmt, clippy, unit tests

remove named vecs
  crates/sargon-uniffi/src/profile/v100/entity/account/account.rs
  crates/sargon-uniffi/src/profile/v100/entity/entity_flags.rs
  crates/sargon-uniffi/src/profile/v100/entity/mod.rs
  crates/sargon-uniffi/src/profile/v100/entity/persona/persona.rs
  crates/sargon-uniffi/src/profile/v100/factors/factor_source_crypto_parameters.rs
  crates/sargon-uniffi/src/profile/v100/factors/factor_sources/factor_sources.rs
  crates/sargon-uniffi/src/profile/v100/networks/mod.rs
  crates/sargon-uniffi/src/profile/v100/networks/network/accounts.rs
  crates/sargon-uniffi/src/profile/v100/networks/network/authorized_dapp/authorized_dapp.rs
  crates/sargon-uniffi/src/profile/v100/networks/network/authorized_dapp/mod.rs
  crates/sargon-uniffi/src/profile/v100/networks/network/authorized_dapp/references_to_authorized_personas.rs
  crates/sargon-uniffi/src/profile/v100/networks/network/authorized_dapps.rs
  crates/sargon-uniffi/src/profile/v100/networks/network/mod.rs
  crates/sargon-uniffi/src/profile/v100/networks/network/personas.rs
  crates/sargon-uniffi/src/profile/v100/networks/network/profile_network.rs
  crates/sargon-uniffi/src/profile/v100/networks/network/resource_preferences/hidden_resources.rs
  crates/sargon-uniffi/src/profile/v100/networks/network/resource_preferences/mod.rs
  crates/sargon-uniffi/src/profile/v100/networks/network/resource_preferences/resource_preferences.rs
  crates/sargon-uniffi/src/profile/v100/networks/profile_networks.rs
  crates/sargon-uniffi/src/profile/v100/profile.rs
  crates/sargon-uniffi/src/radix_connect/p2p_links/p2p_links.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_factors.rs
Due: fmt, clippy, unit tests

add tests
  crates/sargon/src/core/types/signatures/signature_with_public_key.rs
  crates/sargon/src/profile/v100/address/non_fungible_global_id.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_withdraw/account_withdraw.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/intent_core_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/intent_signatures_v2.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon-uniffi-conversion-macros/src/lib.rs
  crates/sargon-uniffi/src/core/types/appearance_id.rs
  crates/sargon-uniffi/src/core/types/collections/identified_vec_of/identified_vec_of.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_structures_of_factor_source_ids.rs
  crates/sargon-uniffi/src/profile/v100/app_preferences/security.rs
  crates/sargon-uniffi/src/profile/v100/entity/persona/persona.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_security_structures.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon-uniffi-conversion-macros/src/common.rs
  crates/sargon-uniffi-conversion-macros/src/enum_conversion.rs
  crates/sargon-uniffi-conversion-macros/src/lib.rs
  crates/sargon-uniffi-conversion-macros/src/struct_conversion.rs
  crates/sargon-uniffi/src/core/hash.rs
  crates/sargon-uniffi/src/core/types/bag_of_bytes.rs
  crates/sargon-uniffi/src/core/types/exactly_n_bytes.rs
  crates/sargon-uniffi/src/core/types/keys/key_agreement/public_key.rs
  crates/sargon-uniffi/src/core/types/non_empty_max_n_bytes.rs
  crates/sargon-uniffi/src/profile/v100/address/non_fungible_resource_address.rs
  crates/sargon-uniffi/src/profile/v100/app_preferences/security.rs
  crates/sargon-uniffi/src/profile/v100/entity/account/account.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_indicator/predicted.rs
Due: fmt, clippy, unit tests

make unit test run un-slow again.
  .gitignore
  Cargo.toml
  crates/sargon/src/types/samples/factor_source_ids_with_samples.rs
Due: fmt, clippy, unit tests

revert debug=true for release
  Cargo.toml
Due: none

make unit test run un-slow again. (#239)
  .gitignore
  Cargo.toml
  crates/sargon/src/types/samples/factor_source_ids_with_samples.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/signed_partial_transaction.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_v2.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/signed_partial_transaction.rs
Due: fmt, clippy, unit tests

[no ci] broken wip
  crates/sargon/src/derivation/collector/key_derivation_outcome.rs
  crates/sargon/src/derivation/collector/key_ring.rs
  crates/sargon/src/derivation/collector/keys_collector.rs
  crates/sargon/src/derivation/collector/keys_collector_dependencies.rs
  crates/sargon/src/derivation/collector/keys_collector_preprocessor.rs
  crates/sargon/src/derivation/collector/keys_collector_state.rs
  crates/sargon/src/derivation/collector/mod.rs
  crates/sargon/src/derivation/host_interaction/interactors/key_derivation_interactor.rs
  crates/sargon/src/derivation/host_interaction/interactors/mod.rs
  crates/sargon/src/derivation/host_interaction/interactors/mono_factor_key_derivation_interactor.rs
  crates/sargon/src/derivation/host_interaction/interactors/poly_factor_key_derivation_interactor.rs
  crates/sargon/src/derivation/host_interaction/key_derivation_response.rs
  crates/sargon/src/derivation/host_interaction/keys_derivation_interactors.rs
  crates/sargon/src/derivation/host_interaction/mod.rs
  crates/sargon/src/derivation/host_interaction/requests/mod.rs
  crates/sargon/src/derivation/host_interaction/requests/mono_factor_key_derivation_request.rs
  crates/sargon/src/derivation/host_interaction/requests/poly_factor_key_derivation_request.rs
  crates/sargon/src/derivation/mod.rs
  crates/sargon/src/derivation/tests/derivation_tests.rs
  crates/sargon/src/derivation/tests/mod.rs
  crates/sargon/src/lib.rs
  crates/sargon/src/types/factor_instances.rs
  crates/sargon/src/types/hd_factor_sources.rs
  crates/sargon/src/types/mod.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/intent_signatures_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/signed_partial_transaction.rs
Due: fmt, clippy, unit tests

Code cleanup
  crates/sargon/src/system/sargon_os/profile_state_holder.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
Due: fmt, clippy, unit tests

WIP
  crates/sargon/src/signing/authentication/authentication_signer.rs
  crates/sargon/src/signing/authentication/authentication_signing_input.rs
  crates/sargon/src/signing/authentication/authentication_signing_interactor.rs
  crates/sargon/src/signing/authentication/mod.rs
  crates/sargon/src/signing/authentication/rola_challenge.rs
Due: fmt, clippy, unit tests

Implement AuthenticationSigningInput
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/dapp_metadata/origin.rs
  crates/sargon/src/signing/authentication/authentication_signing_input.rs
  crates/sargon/src/signing/authentication/mod.rs
  crates/sargon/src/signing/authentication/rola_challenge.rs
Due: fmt, clippy, unit tests

Add panic test for securified entities
  crates/sargon/src/signing/authentication/authentication_signer.rs
  crates/sargon/src/signing/authentication/authentication_signing_input.rs
Due: fmt, clippy, unit tests

Implement a simple interactor for auth signing
  crates/sargon/src/signing/authentication/authentication_signer.rs
  crates/sargon/src/signing/authentication/authentication_signing_interactor.rs
  crates/sargon/src/signing/testing/interactors/mod.rs
  crates/sargon/src/signing/testing/interactors/test_authentication_interactor.rs
Due: fmt, clippy, unit tests

Address comments
  crates/sargon/src/signing/authentication/authentication_signer.rs
  crates/sargon/src/signing/authentication/authentication_signing_input.rs
  crates/sargon/src/signing/authentication/rola_challenge.rs
Due: fmt, clippy, unit tests

Implement RolaChallenge
  crates/sargon/fixtures/vector/rola_challenge_payload_hash_vectors.json
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/dapp_metadata/origin.rs
  crates/sargon/src/signing/authentication/mod.rs
  crates/sargon/src/signing/authentication/rola_challenge.rs
  crates/sargon/src/signing/mod.rs
Due: fmt, clippy, unit tests

remove child subintents
  crates/sargon/fixtures/vector/wallet_interactions_dapp_to_wallet.json
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/subintent.rs
  crates/sargon/tests/vectors/main.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/lib.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/intent_core_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/intent_signatures_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/non_root_subintent_signatures.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/non_root_subintents.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/partial_transaction.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/signed_partial_transaction.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/subintent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/execution_summary_v2/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/execution_summary_v2/transaction_manifest_execution_summary_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_v2.rs
Due: fmt, clippy, unit tests

fix kotlin
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Curve25519SecretKey.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/IntentHash.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SignedIntent.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SignedIntentHash.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SignedTransactionIntentHash.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TransactionIntent.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TransactionIntentHash.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TransactionManifest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/IntentHashSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/SignedIntentHashSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/SignedTransactionIntentHashSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/TransactionIntentHashSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Curve25519SecretKeyTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/IntentHashTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SignedIntentHashTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
Due: none

Add docs and tests
  crates/sargon/src/signing/collector/extractor_of_instances_required_to_sign_transactions.rs
  crates/sargon/src/signing/collector/mod.rs
  crates/sargon/src/signing/collector/signatures_collector_preprocessor.rs
  crates/sargon/src/signing/extractor_of_entities_requiring_auth.rs
  crates/sargon/src/signing/mod.rs
  crates/sargon/src/signing/tx_to_sign.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Extensions/Methods/RET/TransactionManifestV2+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/RET/TransactionManifestV2+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/TransactionManifestV2+Swiftified.swift
  apple/Tests/TestCases/RET/TransactionManifestV2Tests.swift
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_v2_uniffi_fn.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TransactionManifestV2.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/TransactionManifestV2Sample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestV2Test.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

fix
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_v2_uniffi_fn.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Extensions/Methods/RET/TransactionManifest+Wrap+Functions.swift
  apple/Tests/TestCases/RET/TransactionManifestTests.swift
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest_uniffi_fn.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/intent_signatures_v2.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TransactionManifest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

docs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/account_deposit.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/allowed_ids.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/change_source.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/lower_bound.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/simple_fungible_resource_bounds.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/simple_non_fungible_resource_bounds.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/simple_resource_bounds.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/unspecified_resources.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/upper_bound.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_withdraw/account_withdraw.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/intent_core_v2.rs
Due: fmt, clippy, unit tests

Move transaction preview analysis (#231)
  Cargo.lock
  apple/Sources/Sargon/Extensions/Methods/RET/TransactionManifest+Wrap+Functions.swift
  apple/Tests/TestCases/RET/TransactionManifestTests.swift
  crates/sargon/Cargo.toml
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/core/types/epoch.rs
  crates/sargon/src/gateway_api/methods/transaction_methods.rs
  crates/sargon/src/gateway_api/models/logic/request/transaction/preview/request_flags.rs
  crates/sargon/src/gateway_api/models/logic/request/transaction/preview/transaction_preview.rs
  crates/sargon/src/gateway_api/models/types/request/transaction/preview/request_flags.rs
  crates/sargon/src/gateway_api/models/types/response/transaction/preview/mod.rs
  crates/sargon/src/gateway_api/models/types/response/transaction/preview/transaction_preview_response.rs
  crates/sargon/src/gateway_api/models/types/response/transaction/preview/transaction_receipt.rs
  crates/sargon/src/gateway_api/models/types/response/transaction/preview/transaction_receipt_status.rs
  crates/sargon/src/signing/collector/extractor_of_instances_required_to_sign_transactions.rs
  crates/sargon/src/signing/collector/mod.rs
  crates/sargon/src/signing/collector/signatures_collector_preprocessor.rs
  crates/sargon/src/signing/extractor_of_entities_requiring_auth.rs
  crates/sargon/src/signing/mod.rs
  crates/sargon/src/signing/tx_to_sign.rs
  crates/sargon/src/system/drivers/networking_driver/support/test/mock_networking_driver.rs
  crates/sargon/src/system/sargon_os/mod.rs
  crates/sargon/src/system/sargon_os/transactions/mod.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_status.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_submit.rs
  crates/sargon/src/system/sargon_os/transactions/support/mod.rs
  crates/sargon/src/system/sargon_os/transactions/support/transaction_to_review.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/execution_summary/reserved_instruction.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest_uniffi_fn.rs
  crates/sargon/tests/integration/main.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TransactionManifest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/intent_header_v2.rs
Due: fmt, clippy, unit tests

Release of '1.1.30' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

updates
  crates/sargon/fixtures/vector/wallet_interactions_wallet_to_dapp.json
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/pre_authorization/pre_authorization.rs
  crates/sargon/tests/vectors/main.rs
Due: fmt, clippy, unit tests

merge fixes
  crates/sargon/src/gateway_api/methods/transaction_methods.rs
  crates/sargon/src/signing/extractor_of_entities_requiring_auth.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_submit.rs
Due: fmt, clippy, unit tests

bump to 1.1.31
  Cargo.lock
  crates/sargon/Cargo.toml
Due: none

wip
  apple/Tests/TestCases/RET/TransactionManifestTests.swift
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/execution_summary_v2/transaction_manifest_execution_summary_v2.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  SwiftFormat: any of: \.swift$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
