Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

SwiftFormat:
  name: SwiftFormat
  language: system
  entry: swiftformat .
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

wip
  apple/Sources/Sargon/SargonOS/TestOS.swift
Due: ensure Swift setup for local development, SwiftFormat

fix add persona
  apple/Sources/Sargon/SargonOS/TestOS.swift
  crates/system/os/os/src/entity_creating_with_factor_source_and_derivation_outcome.rs
  crates/system/os/os/src/sargon_os_personas.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  crates/system/os/os/src/sargon_os_personas.rs
Due: fmt, clippy, unit tests

impr
  crates/system/os/os/src/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

inline create account logic
  apple/Sources/Sargon/SargonOS/SargonOSProtocol.swift
  apple/Sources/Sargon/SargonOS/TestOS.swift
  crates/factors/instances-provider/src/next_index_assigner/next_derivation_entity_index_profile_analyzing_assigner.rs
  crates/system/os/os/src/sargon_os_accounts.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  crates/system/os/os/src/sargon_os_accounts.rs
  crates/system/os/os/src/sargon_os_personas.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/SargonOS/SargonOSProtocol.swift
  apple/Sources/Sargon/SargonOS/TestOS.swift
  crates/factors/instances-provider/src/next_index_assigner/next_derivation_entity_index_profile_analyzing_assigner.rs
  crates/system/os/os/src/os_testing_support.rs
  crates/system/os/os/src/sargon_os_personas.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  crates/system/os/os/src/entity_creating_with_factor_source_and_derivation_outcome.rs
  crates/system/os/os/src/os_testing_support.rs
  crates/system/os/os/src/sargon_os_accounts.rs
  crates/system/os/os/src/sargon_os_personas.rs
Due: fmt, clippy, unit tests

wip
  crates/app/home-cards/src/home_card.rs
  crates/app/home-cards/src/home_cards.rs
  crates/app/home-cards/src/manager.rs
Due: fmt, clippy, unit tests

Update home cards manager to always show and restore discover dapps card
  crates/app/home-cards/src/manager.rs
Due: fmt, clippy, unit tests

wip
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/SargonOS/SargonOS+Static+Shared.swift
  apple/Sources/Sargon/SargonOS/TestOS.swift
  apple/Tests/IntegrationTests/DriversTests/DriversTests.swift
Due: ensure Swift setup for local development, SwiftFormat

fix
  apple/Tests/IntegrationTests/SargonOS/SargonOSTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Warn instead of fail for personas affected.
  crates/profile/models/supporting-types/src/assert_derivation_path.rs
Due: fmt, clippy, unit tests

Add error state to Sargon os manager's state
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/SargonOsManager.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/SargonOsManagerTest.kt
Due: none

Fix sample android app
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/di/ApplicationModule.kt
Due: none

Allow boot on init
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/SargonOsManager.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/SargonOsManagerTest.kt
Due: none

Add test
  crates/profile/models/supporting-types/src/assert_derivation_path.rs
Due: fmt, clippy, unit tests

Formatted swift
  apple/Sources/Sargon/Drivers/FileSystem/FileSystemDriver+Data+ContentsOf+URL.swift
  apple/Sources/Sargon/Drivers/UnsafeStorage/UnsafeStorageDriver+UserDefaults.swift
  apple/Tests/Utils/Extensions/UUID+Literals.swift
Due: ensure Swift setup for local development, SwiftFormat

Add biometrics lifecycle callbacks
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidBiometricAuthorizationDriver.kt
Due: none

Formatted swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/Onboarding/OnboardingFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/OverlayWindow/OverlayFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SplashFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

Deprecate DiscoverRadixDapps home card
  crates/app/home-cards/src/home_card.rs
  crates/app/home-cards/src/home_cards.rs
  crates/app/home-cards/src/manager.rs
  crates/uniffi/uniffi_SPLIT_ME/src/home_cards/home_card.rs
Due: fmt, clippy, unit tests

Remove DiscoverRadixDapps home card
  crates/app/home-cards/src/home_card.rs
  crates/app/home-cards/src/home_cards.rs
  crates/app/home-cards/src/manager.rs
  crates/uniffi/uniffi_SPLIT_ME/src/home_cards/home_card.rs
Due: fmt, clippy, unit tests

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  SwiftFormat: any of: \.swift$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
