Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true
default_install_hook_types: [pre-push]
default_stages: [pre-push]
repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.22.7
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

  - repo: https://github.com/phylum-dev/phylum-ci
    rev: main
    hooks:
      - id: phylum
        stages: [pre-push]
        # Optional: Specify the dependency file pattern for your repository
        files: |
            (?x)^(
                Cargo\.lock|
            )$
        # Optional: Specify additional arguments to be passed to `phylum-ci`
        args:
          - -vv
          - --depfile=Cargo.lock
          - --audit
          - --force-analysis
          - --all-deps
        verbose: true

fix ci
  .github/workflows/test.yml
  crates/Package.swift
Due: ensure Swift setup for local development, SwiftFormat

cleanup
  Cargo.lock
  crates/app/radix-connect-models/src/lib.rs
  crates/app/signing/src/collector/extractor_of_instances_required_to_sign_transactions.rs
  crates/app/signing/src/collector/signatures_collector.rs
  crates/app/signing/src/lib.rs
  crates/app/signing/src/testing/simulated_user.rs
  crates/app/signing/src/types/hd_signature.rs
  crates/crypto/addresses/src/lib.rs
  crates/crypto/cap26-models/src/lib.rs
  crates/crypto/hd/src/cap26/mod.rs
  crates/profile/logic/logic_SPLIT_ME/Cargo.toml
  crates/profile/logic/logic_SPLIT_ME/src/logic/account/accounts_visibility.rs
  crates/profile/logic/logic_SPLIT_ME/src/logic/account/mod.rs
  crates/profile/logic/logic_SPLIT_ME/src/logic/persona/mod.rs
  crates/profile/logic/logic_SPLIT_ME/src/logic/persona/query_personas.rs
  crates/profile/models/account/src/lib.rs
  crates/profile/models/base-entity/src/lib.rs
  crates/profile/models/persona/src/lib.rs
  crates/profile/models/profile_SPLIT_ME/src/lib.rs
  crates/profile/models/supporting-types/src/lib.rs
  crates/transaction/manifests/src/lib.rs
Due: fmt, clippy, unit tests

reintroduce outcommented tests, move some of them to sargon integration test
  crates/app/signing/src/extractor_of_entities_requiring_auth.rs
  crates/app/signing/src/petition_types/petition_for_transaction.rs
  crates/app/signing/src/petition_types/petitions.rs
  crates/sargon_SPLIT_ME/tests/integration/main.rs
Due: fmt, clippy, unit tests

remove Sargon from default-members, lint fixes
  Cargo.lock
  Cargo.toml
  crates/app/key-derivation-traits/src/lib.rs
  crates/app/signing-traits/src/lib.rs
  crates/app/signing/src/lib.rs
  crates/app/signing/src/petition_types/mod.rs
  crates/app/signing/src/tests/mod.rs
  crates/app/signing/src/tests/test_signatures_collector.rs
  crates/factors/keys-collector/src/derivation_testing/mod.rs
  crates/factors/keys-collector/src/lib.rs
  crates/sargon_SPLIT_ME/src/lib.rs
  crates/sargon_SPLIT_ME/src/test_diagnose_instance_duplicates.rs
  crates/system/os/accounts/src/lib.rs
  crates/system/os/factors/src/lib.rs
  crates/system/os/os/Cargo.toml
  crates/system/os/os/src/entity_creating_with_factor_source_and_derivation_outcome.rs
  crates/system/os/os/src/lib.rs
  crates/system/os/os/src/os_testing_support.rs
  crates/system/os/os/src/sargon_os.rs
  crates/system/os/os/src/test_instances_provider.rs
  crates/system/os/security-center/src/lib.rs
  crates/system/os/signing/src/lib.rs
  crates/system/os/transaction/Cargo.toml
  crates/system/os/transaction/src/lib.rs
  crates/system/os/transaction/src/tx/sargon_os_transaction_analysis.rs
  crates/system/profile-state-holder/src/lib.rs
  crates/system/sub-systems/src/lib.rs
  crates/transaction/manifests/src/lib.rs
Due: fmt, clippy, unit tests

reintroduce tests
  crates/app/signing-traits/src/authentication/signed_auth_intent.rs
Due: fmt, clippy, unit tests

REVERT ME: change CD script, disabling check if branch is 'main'
  .github/workflows/release.yml
Due: none

Revert "REVERT ME: change CD script, disabling check if branch is 'main'"
  .github/workflows/release.yml
Due: none

Add --all attribute when building for android
  jvm/sargon-android/build.gradle.kts
Due: none

allow email to be empty
  crates/common/short-string/src/email_address.rs
Due: fmt, clippy, unit tests

add script to bump
  scripts/bump_and_commit.sh
  scripts/bump_no_commit.sh
Due: none

add makefile
  makefile
Due: none

skip push
  scripts/bump_and_commit.sh
Due: none

Add api to save security structure ids
  crates/system/os/factors/src/sargon_os_security_structures.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_security_structures.rs
Due: fmt, clippy, unit tests

Rename fixtures from dat to json because they were not binary
  crates/app/radix-connect/src/mobile/deep_link_parsing/parser.rs
  crates/core/prelude/src/lib.rs
  crates/transaction/models/src/low_level/v1/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
  fixtures/transaction/account_delete.json
  fixtures/transaction/account_locker_claim_fungibles_and_non_fungibles.json
  fixtures/transaction/claim_two_stakes_from_one_validator.json
  fixtures/transaction/claim_two_stakes_from_one_validator.rtm
  fixtures/transaction/contribute_to_bi_pool.json
  fixtures/transaction/create_nft_collection.json
  fixtures/transaction/create_pool.json
  fixtures/transaction/create_single_fungible.json
  fixtures/transaction/mint_nft_gumball_card.json
  fixtures/transaction/present_proof_swap_candy.json
  fixtures/transaction/redeem_from_bi_pool.json
  fixtures/transaction/stake_to_three_validators.json
  fixtures/transaction/third_party_deposits_update.json
  fixtures/transaction/transfer_1to2_multiple_nf_and_f_tokens.json
  fixtures/transaction/unstake_partially_from_one_validator.json
  fixtures/vector/deep_link_request_params.json
Due: fmt, clippy, unit tests

update readme
  README.md
Due: none

add ios and mac to makefile
  crates/app/radix-connect/src/mobile/deep_link_parsing/parser.rs
  makefile
Due: fmt, clippy, unit tests

revert accidental TYPOS (cli, false positive) corrupted fixtures
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  apple/Tests/TestCases/RadixConnect/WalletInteraction/WalletToDappInteractionResponseTests.swift
  apple/Tests/Utils/Test.swift
  fixtures/transaction/claim_two_stakes_from_one_validator.json
  fixtures/transaction/claim_two_stakes_from_one_validator.rtm
  fixtures/vector/big_profile_100_accounts.json
  fixtures/vector/huge_profile_1000_accounts.json
  fixtures/vector/slip10_tests_#10.json
  fixtures/vector/slip10_tests_#1000.json
  fixtures/vector/wallet_interactions_dapp_to_wallet.json
  fixtures/vector/wallet_interactions_wallet_to_dapp.json
Due: ensure Swift setup for local development, SwiftFormat

try fix kotlin
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
Due: none

revert change of vector
  fixtures/vector/wallet_interactions_dapp_to_wallet.json
Due: none

try fix kotlin
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
Due: none

update precommit
  .pre-commit-config.yaml
Due: none

merge main
  Cargo.lock
  Cargo.toml
  crates/core/has-sample-values/src/has_sample_values.rs
  crates/sargon_SPLIT_ME/Cargo.toml
  crates/sargon_SPLIT_ME/src/lib.rs
  crates/system/clients/clients/Cargo.toml
  crates/system/clients/clients/src/clients/client/arculus_wallet_client/arculus_wallet_client.rs
  crates/system/clients/clients/src/clients/client/arculus_wallet_client/arculus_wallet_client_io.rs
  crates/system/clients/clients/src/clients/client/arculus_wallet_client/arculus_wallet_response_status.rs
  crates/system/clients/clients/src/clients/client/arculus_wallet_client/arculus_wallet_session.rs
  crates/system/clients/clients/src/clients/client/arculus_wallet_client/mod.rs
  crates/system/drivers/Cargo.toml
  crates/system/drivers/src/drivers/arculus_csdk_driver/arculus_csdk_driver.rs
  crates/system/drivers/src/drivers/arculus_csdk_driver/mod.rs
  crates/system/drivers/src/drivers/arculus_csdk_driver/support/mod.rs
  crates/system/drivers/src/drivers/arculus_csdk_driver/support/test/arculus_csdk_driver.rs
  crates/system/drivers/src/drivers/arculus_csdk_driver/support/test/mod.rs
  crates/system/drivers/src/drivers/drivers.rs
  crates/system/drivers/src/drivers/nfc_driver/mod.rs
  crates/system/drivers/src/drivers/nfc_driver/nfc_driver.rs
  crates/system/drivers/src/drivers/nfc_driver/support/mod.rs
  crates/system/drivers/src/drivers/nfc_driver/support/test/mod.rs
  crates/system/drivers/src/drivers/nfc_driver/support/test/nfc_tag_driver.rs
  crates/system/os/arculus-card/Cargo.toml
  crates/system/os/arculus-card/src/lib.rs
  crates/system/os/arculus-card/src/sargon_os_arculus_card.rs
  crates/system/os/os/src/lib.rs
  crates/system/os/os/src/sargon_os_arculus_card.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/drivers/arculus_csdk_driver/arculus_csdk_driver.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/drivers/arculus_csdk_driver/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/drivers/nfc_tag_driver/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/drivers/nfc_tag_driver/nfc_tag_driver.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/arculus_card/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/arculus_card/sargon_os_arculus_card.rs
Due: fmt, clippy, unit tests

revert incorrect json file
  fixtures/vector/wallet_interactions_wallet_to_dapp.json
Due: none

Add validation for primary threshold factors in isolation
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/builder/matrix_builder.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/mod.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/roles/builder/roles_builder.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/selected_factor_sources_status.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/selected_primary_threshold_factors_status.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/selected_factor_sources_status.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/selected_primary_threshold_factors_status.rs
Due: fmt, clippy, unit tests

try fix issue with CI and tarpaulin not finding tmp dir
  .cargo/config.toml
  crates/system/clients/clients/src/clients/client/file_system_client/file_system_client.rs
  crates/system/drivers/src/drivers/file_system_driver/support/test/rust_file_system_driver.rs
Due: fmt, clippy, unit tests
