Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

SwiftFormat:
  name: SwiftFormat
  language: system
  entry: swiftformat .
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

Release of '1.1.52' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Resolve comments
  crates/sargon/src/gateway_api/methods/state_methods.rs
  crates/sargon/src/lib.rs
  crates/sargon/src/profile/v100/address/non_fungible_local_id.rs
  crates/sargon/src/profile/v100/entity/account/account.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/system/sargon_os/sargon_os_sync_accounts.rs
  crates/sargon/tests/integration/main.rs
Due: fmt, clippy, unit tests

Remove debug statements
  .github/workflows/release.yml
Due: none

Fetch all commits
  .github/workflows/release.yml
Due: none

factor instances assertion tests
  crates/sargon/src/factor_instances_provider/factor_instances_cache/factor_instances_cache.rs
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider.rs
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
  crates/sargon/src/factor_instances_provider/provider/outcome/factor_instances_provider_outcome_for_factor.rs
  crates/sargon/src/factor_instances_provider/provider/outcome/internal_factor_instances_provider_outcome_for_factor.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/virtual_entity_creating_instance_provider.rs
  crates/sargon/src/factor_instances_provider/types/factor_instances.rs
  crates/sargon/src/factor_instances_provider/types/veci.rs
  crates/sargon/src/profile/logic/account/create_account.rs
  crates/sargon/src/profile/logic/account/query_accounts.rs
  crates/sargon/src/profile/mfa/security_structures/factor_instance_level/matrix_of_factor_instances.rs
  crates/sargon/src/profile/v100/profile.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/system/sargon_os/sargon_os_security_structures.rs
Due: fmt, clippy, unit tests

Return error when tombstoning unknown account and not when updating the profile
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

Add debugging info for tags
  .github/workflows/release.yml
Due: none

fix tests
  crates/sargon/src/factor_instances_provider/types/veci.rs
  crates/sargon/src/profile/v100/factors/hierarchical_deterministic_factor_instance.rs
  crates/sargon/src/profile/v100/profile.rs
Due: fmt, clippy, unit tests

Fix ios tests
  apple/Sources/Sargon/Protocols/EntityProtocol.swift
  apple/Tests/TestCases/Profile/Account/AccountTests.swift
  apple/Tests/TestCases/Profile/Persona/PersonaTests.swift
  apple/Tests/Utils/EntityProtocolTest.swift
Due: ensure Swift setup for local development, SwiftFormat

Pre-validate accounts to update
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/execution_summary/execution_summary.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Drivers/Networking/NetworkingDriver+URLSession.swift
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/transaction_classes/detailed_manifest_class.rs
  crates/sargon/fixtures/transaction/account_delete.dat
  crates/sargon/fixtures/transaction/account_delete.rtm
  crates/sargon/src/profile/v100/address/non_fungible_local_id.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/execution_summary/execution_summary.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_indicator/resource_indicator.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_classes/detailed_manifest_class.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  apple/Sources/Sargon/Drivers/Networking/NetworkingDriver+URLSession.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  crates/sargon-uniffi/src/core/utils/delegate_debug_display_impl.rs
  crates/sargon/src/profile/v100/address/non_fungible_local_id.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_classes/detailed_manifest_class.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_classes/detailed_manifest_class.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
Due: fmt, clippy, unit tests

fix
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_classes/detailed_manifest_class.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/transaction_classes/detailed_manifest_class.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_classes/detailed_manifest_class.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon-uniffi/src/core/utils/delegate_debug_display_impl.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/transaction_classes/detailed_manifest_class.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_classes/detailed_manifest_class.rs
Due: fmt, clippy, unit tests

bump version
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

move interception one level above
  crates/sargon/src/gateway_api/endpoints/state_endpoints.rs
  crates/sargon/src/gateway_api/methods/state_methods.rs
  crates/sargon/src/gateway_api/models/types/response/page_response.rs
  crates/sargon/src/system/sargon_os/sargon_os_delete_account.rs
Due: fmt, clippy, unit tests

use reserved convention
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_classes/detailed_manifest_class.rs
Due: fmt, clippy, unit tests

Delete account classification (#265)
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon-uniffi/src/core/utils/delegate_debug_display_impl.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/transaction_classes/detailed_manifest_class.rs
  crates/sargon/fixtures/transaction/account_delete.dat
  crates/sargon/fixtures/transaction/account_delete.rtm
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/execution_summary/execution_summary.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/execution_summary/resource_indicator/resource_indicator.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_classes/detailed_manifest_class.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
Due: fmt, clippy, unit tests

fmt
  crates/sargon/src/gateway_api/methods/state_methods.rs
Due: fmt, clippy, unit tests

Allow deleting virtual accounts (#268)
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/gateway_api/methods/page_methods.rs
  crates/sargon/src/gateway_api/methods/state_methods.rs
  crates/sargon/src/system/clients/client/http_client/http_client.rs
  crates/sargon/src/system/sargon_os/sargon_os_delete_account.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_submit.rs
Due: fmt, clippy, unit tests

Export sync methods
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_sync_accounts.rs
  crates/sargon/src/gateway_api/methods/state_methods.rs
  crates/sargon/src/lib.rs
  crates/sargon/src/system/sargon_os/sargon_os_sync_accounts.rs
  crates/sargon/tests/integration/main.rs
Due: fmt, clippy, unit tests

coverage
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/factor_instances_provider/types/abstract_securified_entity.rs
  crates/sargon/src/factor_instances_provider/types/securified_account.rs
  crates/sargon/src/profile/v100/factors/hierarchical_deterministic_factor_instance.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/system/sargon_os/sargon_os_personas.rs
Due: fmt, clippy, unit tests

Release of '1.1.53' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

moaar tests
  crates/sargon/src/factor_instances_provider/factor_instances_cache/factor_instances_cache.rs
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/securify_entity_factor_instances_provider.rs
  crates/sargon/src/factor_instances_provider/types/factor_instances.rs
  crates/sargon/src/hierarchical_deterministic/bip44/bip44_like_path.rs
  crates/sargon/src/hierarchical_deterministic/derivation/derivation_path.rs
  crates/sargon/src/profile/v100/factors/factor_sources/private_hierarchical_deterministic_factor_source.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/system/sargon_os/sargon_os_personas.rs
Due: fmt, clippy, unit tests

update version
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

models
  crates/sargon/src/gateway_api/methods/state_methods.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/item.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/item_component.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/item_fungible_resource.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/item_non_fungible_resource.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/item_package.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/mod.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/role_assignments/assignment.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/role_assignments/collection.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/role_assignments/entry.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/role_assignments/explicit_rule.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/role_assignments/mod.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/role_assignments/role_key.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/mod.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/response_item.rs
  crates/sargon/src/home_cards/deferred_deep_link/parser.rs
Due: fmt, clippy, unit tests

fix clippy by introducing DetailedManifestClassKind
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_sync_accounts.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/transaction_classes/detailed_manifest_class_kind.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/transaction_classes/mod.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/gateway_api/methods/state_methods.rs
  crates/sargon/src/profile/v100/address/non_fungible_local_id.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/system/sargon_os/sargon_os_sync_accounts.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/execution_summary/execution_summary.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_classes/detailed_manifest_class.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_classes/detailed_manifest_class_kind.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_classes/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
Due: fmt, clippy, unit tests

remove references to deleted accounts
  Cargo.lock
  crates/sargon/src/core/types/collections/identified_vec_of/identified_vec_of_modify.rs
  crates/sargon/src/profile/v100/networks/network/authorized_dapp/authorized_dapp.rs
  crates/sargon/src/profile/v100/networks/network/authorized_dapp/authorized_persona_simple.rs
  crates/sargon/src/profile/v100/networks/network/authorized_dapp/shared_with_dapp.rs
  crates/sargon/src/profile/v100/networks/network/authorized_dapps.rs
  crates/sargon/src/profile/v100/networks/network/profile_network.rs
  crates/sargon/src/profile/v100/networks/profile_networks.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

updates
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/item.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/role_assignments/assignment.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/role_assignments/collection.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/role_assignments/entry.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/role_assignments/mod.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/role_assignments/module.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/role_assignments/owner.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/role_assignments/resolution.rs
  crates/sargon/src/gateway_api/models/types/response/state/entity/details/details/role_assignments/role_key.rs
Due: fmt, clippy, unit tests

fix swift filesystem driver
  apple/Sources/Sargon/Drivers/FileSystem/FileSystemDriver+Data+ContentsOf+URL.swift
Due: ensure Swift setup for local development, SwiftFormat

wip
  crates/sargon/src/profile/v100/networks/network/authorized_dapp/authorized_persona_simple.rs
  crates/sargon/src/profile/v100/networks/network/profile_network.rs
  crates/sargon/src/profile/v100/networks/profile_networks.rs
Due: fmt, clippy, unit tests

revert cargo lock
  Cargo.lock
Due: none

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  SwiftFormat: any of: \.swift$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
