Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

      - id: doc tests
        name: doc tests
        language: system
        types: [file, rust]
        entry: cargo test --doc
        pass_filenames: false

      - id: vectors integration tests
        name: vectors integration tests
        language: system
        types: [file, rust]
        entry: cargo test --package sargon --test vectors
        pass_filenames: false

      - id: swift tests
        name: swift tests
        language: system
        types_or: [rust, swift]
        entry: ./scripts/ios/test.sh --testonly # no code coverage
        pass_filenames: false

      - id: kotlin tests
        name: kotlin (jvm) tests
        language: system
        types_or: [rust, kotlin]
        entry: ./jvm/gradlew -p jvm/sargon-android koverVerifyDebug
        pass_filenames: false

working json hook in Swift using String
  Package.resolved
  Package.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/DeviceInfo+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/DeviceInfo+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/DeviceInfo+Swiftified.swift
  apple/Tests/TestCases/Profile/DeviceInfoTests.swift
  src/profile/encrypted/encryption/encrypted_profile_snapshot.rs
  src/profile/encrypted/encryption/encryption_scheme.rs
  src/profile/v100/header/device_info.rs
  src/profile/v100/header/device_info_uniffi_fn.rs
  src/profile/v100/header/header.rs
  src/profile/v100/header/mod.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

remove bad doc
  src/profile/v100/header/device_info_uniffi_fn.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip sargon codable
  Package.resolved
  Package.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/DeviceInfo+Swiftified.swift
  src/profile/v100/header/device_info.rs
  src/profile/v100/header/device_info_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip SargonCodable: json data better
  apple/Sources/Sargon/Extensions/Methods/Profile/DeviceInfo+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/DeviceInfo+Swiftified.swift
Due: ensure Swift setup for local development, swift tests

SargonObjectCodable working
  Package.resolved
  Package.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/DeviceInfo+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/DeviceInfo+Swiftified.swift
  apple/Sources/Sargon/Util/SargonObjectCodable.swift
  apple/Tests/TestCases/Profile/DeviceInfoTests.swift
  src/profile/v100/header/device_info.rs
  src/profile/v100/header/device_info_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

add missing test
  src/profile/v100/header/device_info.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Swift Codable <> jsonData (#92)
  Package.resolved
  Package.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/DeviceInfo+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/DeviceInfo+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/DeviceInfo+Swiftified.swift
  apple/Sources/Sargon/Util/SargonObjectCodable.swift
  apple/Tests/TestCases/Profile/DeviceInfoTests.swift
  src/profile/encrypted/encryption/encrypted_profile_snapshot.rs
  src/profile/encrypted/encryption/encryption_scheme.rs
  src/profile/v100/header/device_info.rs
  src/profile/v100/header/device_info_uniffi_fn.rs
  src/profile/v100/header/header.rs
  src/profile/v100/header/mod.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Revert using specific git commit hashes in Swift Sargon - that prevents Sargon from being used by iOS wallet, I got too used to the Rust world :D
  Cargo.lock
  Cargo.toml
  Package.resolved
  Package.swift
Due: ensure Swift setup for local development, swift tests

Revert using specific git commit hashes in Swift Sargon - that preven… (#93)
  Cargo.lock
  Cargo.toml
  Package.resolved
  Package.swift
Due: ensure Swift setup for local development, swift tests

wip
  src/radix_connect/wallet_account.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/response.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/account_proof.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/accounts.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_login_with_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_login_without_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_proof.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_use_persona.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/authorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/items.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/persona_data/persona_data.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/unauthorized_request.rs
  src/radix_connect/wallet_persona.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Codable Header and MnemonicWithPassphrase
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/MnemonicWithPassphrase+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Header+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Derivation/MnemonicWithPassphrase+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Header+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/MnemonicWithPassphrase+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Header+Swiftified.swift
  apple/Tests/TestCases/Crypto/MnemonicWithPassphraseTests.swift
  apple/Tests/TestCases/Profile/HeaderTests.swift
  src/hierarchical_deterministic/derivation/mnemonic_with_passphrase.rs
  src/hierarchical_deterministic/derivation/mnemonic_with_passphrase_uniffi_fn.rs
  src/hierarchical_deterministic/derivation/mod.rs
  src/profile/v100/header/header.rs
  src/profile/v100/header/header_uniffi_fn.rs
  src/profile/v100/header/mod.rs
  src/profile/v100/header/profile_id.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

replace AnyCodable with SwiftyJSON
  Package.resolved
  Package.swift
  apple/Sources/Sargon/Util/SargonObjectCodable.swift
Due: ensure Swift setup for local development, swift tests

bump
  Cargo.lock
  Cargo.toml
Due: none

macroooo
  apple/Sources/Sargon/Extensions/Methods/Profile/Profile+Wrap+Functions.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Profile.kt
  src/core/utils/mod.rs
  src/gateway_api/client/gateway_client.rs
  src/gateway_api/client/gateway_client_dispatch_request.rs
  src/hierarchical_deterministic/derivation/mnemonic_with_passphrase.rs
  src/hierarchical_deterministic/derivation/mnemonic_with_passphrase_uniffi_fn.rs
  src/profile/v100/header/device_info.rs
  src/profile/v100/header/device_info_uniffi_fn.rs
  src/profile/v100/json_data_convertible.rs
  src/profile/v100/mod.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

revert header
  src/profile/v100/header/header.rs
  src/profile/v100/header/header_uniffi_fn.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

uncreachable
  src/profile/v100/json_data_convertible.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Header + MnemonicWithPassphrase JSON codable | fix SargonObjectCodable (#94)
  Cargo.lock
  Cargo.toml
  Package.resolved
  Package.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/MnemonicWithPassphrase+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Header+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Profile+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Derivation/MnemonicWithPassphrase+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Header+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/MnemonicWithPassphrase+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Header+Swiftified.swift
  apple/Sources/Sargon/Util/SargonObjectCodable.swift
  apple/Tests/TestCases/Crypto/MnemonicWithPassphraseTests.swift
  apple/Tests/TestCases/Profile/HeaderTests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Profile.kt
  src/core/utils/mod.rs
  src/gateway_api/client/gateway_client.rs
  src/gateway_api/client/gateway_client_dispatch_request.rs
  src/hierarchical_deterministic/derivation/mnemonic_with_passphrase.rs
  src/hierarchical_deterministic/derivation/mnemonic_with_passphrase_uniffi_fn.rs
  src/hierarchical_deterministic/derivation/mod.rs
  src/profile/v100/header/device_info.rs
  src/profile/v100/header/device_info_uniffi_fn.rs
  src/profile/v100/header/header.rs
  src/profile/v100/header/header_uniffi_fn.rs
  src/profile/v100/header/mod.rs
  src/profile/v100/header/profile_id.rs
  src/profile/v100/json_data_convertible.rs
  src/profile/v100/mod.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

validation public keys
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/Mnemonic+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/MnemonicWithPassphrase+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Keys/HierarchicalDeterministicPublicKey+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Keys/HierarchicalDeterministicPublicKey+Swiftified.swift
  apple/Tests/TestCases/Crypto/HierarchicalDeterministicPublicKeyTests.swift
  apple/Tests/TestCases/Crypto/MnemonicWithPassphraseTests.swift
  src/hierarchical_deterministic/derivation/hierarchical_deterministic_public_key_uniffi_fn.rs
  src/hierarchical_deterministic/derivation/mnemonic_with_passphrase.rs
  src/hierarchical_deterministic/derivation/mnemonic_with_passphrase_uniffi_fn.rs
  src/hierarchical_deterministic/derivation/mod.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Validation public keys (#95)
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/Mnemonic+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/MnemonicWithPassphrase+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Keys/HierarchicalDeterministicPublicKey+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Keys/HierarchicalDeterministicPublicKey+Swiftified.swift
  apple/Tests/TestCases/Crypto/HierarchicalDeterministicPublicKeyTests.swift
  apple/Tests/TestCases/Crypto/MnemonicWithPassphraseTests.swift
  src/hierarchical_deterministic/derivation/hierarchical_deterministic_public_key_uniffi_fn.rs
  src/hierarchical_deterministic/derivation/mnemonic_with_passphrase.rs
  src/hierarchical_deterministic/derivation/mnemonic_with_passphrase_uniffi_fn.rs
  src/hierarchical_deterministic/derivation/mod.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

DepositRule Codable
  apple/Sources/Sargon/Extensions/Methods/Profile/DepositRule+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/DepositRule+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/DepositRule+Swiftified.swift
  apple/Sources/Sargon/Util/SargonLiteralCodable.swift
  apple/Sources/Sargon/Util/SargonObjectCodable.swift
  apple/Sources/Sargon/Util/SargonStringCodable.swift
  apple/Tests/TestCases/Profile/DepositRuleTests.swift
  src/hierarchical_deterministic/derivation/derivation_path_uniffi_fn.rs
  src/hierarchical_deterministic/derivation/mod.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/deposit_rule.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/deposit_rule_uniffi_fn.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/mod.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

derivation path tests
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/DerivationPath+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Derivation/DerivationPath+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/BIP44LikePath+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/CAP26Path+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/DerivationPath+Swiftified.swift
  apple/Sources/Sargon/Protocols/CAP26PathProtocol.swift
  apple/Sources/Sargon/Protocols/HDPathProtocol.swift
  apple/Tests/TestCases/Crypto/CAP26PathTests.swift
  apple/Tests/TestCases/Crypto/DerivationPathTests.swift
Due: ensure Swift setup for local development, swift tests

more tests
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/deposit_rule.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

more UF json methods and tests
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Extensions/Methods/Profile/AuthorizedDapp+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/DepositRule+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/FiatCurrency+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/FiatCurrency+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Account/AppearanceID+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/AuthorizedDapp/AuthorizedDapp+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/FiatCurrency+Swiftified.swift
  apple/Tests/TestCases/Profile/Account/AppearanceIDTests.swift
  apple/Tests/TestCases/Profile/AuthorizedDapp/AuthorizedDappTests.swift
  apple/Tests/TestCases/Profile/DepositRuleTests.swift
  apple/Tests/TestCases/Profile/FiatCurrencyTests.swift
  src/profile/v100/app_preferences/app_display_settings/app_display_fiat_currency.rs
  src/profile/v100/app_preferences/app_display_settings/fiat_currency.rs
  src/profile/v100/app_preferences/app_display_settings/fiat_currency_uniffi_fn.rs
  src/profile/v100/app_preferences/app_display_settings/mod.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/deposit_rule.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/deposit_rule_uniffi_fn.rs
  src/profile/v100/json_data_convertible.rs
  src/profile/v100/networks/network/authorized_dapp/authorized_dapp_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

sign, derive, etc
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/MnemonicWithPassphrase+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Hash/Hash+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Keys/PublicKey+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/DerivationPath+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/MnemonicWithPassphrase+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Keys/HierarchicalDeterministicPublicKey+Swiftified.swift
  apple/Sources/Sargon/Protocols/BinaryProtocol.swift
  apple/Tests/TestCases/Crypto/AccountPathTests.swift
  apple/Tests/TestCases/Crypto/HashTests.swift
  apple/Tests/TestCases/Crypto/MnemonicWithPassphraseTests.swift
  src/core/hash_uniffi_fn.rs
  src/core/types/keys/public_key.rs
  src/core/types/keys/public_key_uniffi_fn.rs
  src/hierarchical_deterministic/bip32/hd_path_component_uniffi_fn.rs
  src/hierarchical_deterministic/bip32/mod.rs
  src/hierarchical_deterministic/derivation/mnemonic_with_passphrase.rs
  src/hierarchical_deterministic/derivation/mnemonic_with_passphrase_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/MnemonicWithPassphrase+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Keys/He+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Keys/PublicKey+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Signatures/SignatureWithPublicKey+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/OnLedgerSettings+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/OnLedgerSettings+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Keys/HierarchicalDeterministicPublicKey+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Signatures/Ed25519Signature+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Signatures/Secp256k1Signature+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Signatures/Signature+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Signatures/SignatureWithPublicKey+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/OnLedgerSettings+Swiftified.swift
  apple/Sources/Sargon/Protocols/SignatureProtocol.swift
  apple/Tests/TestCases/Crypto/Ed25519SignatureTests.swift
  apple/Tests/TestCases/Crypto/PublicKeyTests.swift
  apple/Tests/TestCases/Crypto/Secp256k1SignatureTests.swift
  apple/Tests/TestCases/Crypto/SignatureTests.swift
  apple/Tests/TestCases/Crypto/SignatureWithPublicKeyTests.swift
  apple/Tests/TestCases/Profile/OnLedgerSettingsTests.swift
  src/core/types/signatures/signature_with_public_key.rs
  src/core/types/signatures/signature_with_public_key_uniffi_fn.rs
  src/hierarchical_deterministic/derivation/hierarchical_deterministic_private_key.rs
  src/hierarchical_deterministic/derivation/hierarchical_deterministic_public_key.rs
  src/hierarchical_deterministic/derivation/hierarchical_deterministic_public_key_uniffi_fn.rs
  src/hierarchical_deterministic/derivation/mnemonic_with_passphrase.rs
  src/hierarchical_deterministic/derivation/mnemonic_with_passphrase_uniffi_fn.rs
  src/profile/v100/entity/account/on_ledger_settings/mod.rs
  src/profile/v100/entity/account/on_ledger_settings/on_ledger_settings.rs
  src/profile/v100/entity/account/on_ledger_settings/on_ledger_settings_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Identified Elements: new by updating or appending
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/Accounts+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/AuthorizedDapps+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/EntityFlags+Wrap+Function.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/FactorSources+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/OtherGateways+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/P2PLinks+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/Personas+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/ProfileNetworks+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/SupportedCurves+Wrap+Functions.swift
  apple/Sources/Sargon/Protocols/Collection/BaseIdentifiedCollection.swift
  apple/Tests/TestCases/Profile/Collection/AccountsTests.swift
  apple/Tests/Utils/Collection/BaseIdentifiedCollectionTests.swift
  src/profile/v100/identified_elements.rs
  src/profile/v100/networks/network/accounts.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

id vec methods
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/Accounts+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/AuthorizedDapps+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/EntityFlags+Wrap+Function.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/FactorSources+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/OtherGateways+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/P2PLinks+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/Personas+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/ProfileNetworks+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/SupportedCurves+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Profile+Wrap+Functions.swift
  apple/Sources/Sargon/Protocols/Collection/BaseIdentifiedCollection.swift
  apple/Sources/Sargon/Protocols/Collection/CanBeEmptyIdentifiedCollection.swift
  apple/Tests/TestCases/Profile/Collection/AccountsTests.swift
  apple/Tests/Utils/Collection/BaseIdentifiedCollectionTests.swift
  apple/Tests/Utils/Collection/CanBeEmptyCollectionTest.swift
  src/profile/v100/identified_elements.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

id subscript
  apple/Sources/Sargon/Protocols/Collection/CanBeEmptyIdentifiedCollection.swift
  apple/Tests/Utils/Collection/CanBeEmptyCollectionTest.swift
Due: ensure Swift setup for local development, swift tests

rename
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/Accounts+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/AuthorizedDapps+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/EntityFlags+Wrap+Function.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/FactorSources+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/OtherGateways+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/P2PLinks+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/Personas+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/ProfileNetworks+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/SupportedCurves+Wrap+Functions.swift
  apple/Sources/Sargon/Protocols/Collection/CanBeEmptyIdentifiedCollection.swift
  apple/Sources/Sargon/Protocols/Collection/NeverEmptyIdentifiedCollection.swift
  apple/Tests/Utils/Collection/CanBeEmptyCollectionTest.swift
  apple/Tests/Utils/Collection/NeverEmptyIdentifiedCollectionTest.swift
Due: ensure Swift setup for local development, swift tests

ReferencesToAuthorizedPersonaSimple collection
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/ReferencesToAuthorizedPersonas+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/AuthorizedDapp/AuthorizedPersonaSimple+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/ReferencesToAuthorizedPersonas+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/AuthorizedDapp/AuthorizedPersonaSimple+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/EntityFlags+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/Gateways+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/OtherGateways+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/P2PLinks+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/Personas+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/ProfileNetworks+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/ReferencesToAuthorizedPersonas+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/SupportedCurves+Swiftified.swift
  apple/Tests/TestCases/Profile/Collection/ReferencesToAuthorizedPersonasTests.swift
  apple/Tests/TestCases/Profile/Persona/AuthorizedPersonaSimpleTests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Hash.kt
  src/profile/v100/networks/network/authorized_dapp/authorized_dapp.rs
  src/profile/v100/networks/network/authorized_dapp/authorized_persona_simple_uniffi_fn.rs
  src/profile/v100/networks/network/authorized_dapp/mod.rs
  src/profile/v100/networks/network/authorized_dapp/references_to_authorized_personas.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

PersonaData UF export and Swiftified with some protocols.
  apple/Sources/Sargon/Extensions/Methods/Crypto/SLIP10Curve+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Persona/Persona+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Persona/PersonaData/PersonaDataEntryEmailAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Persona/PersonaData/PersonaDataEntryName+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Persona/PersonaData/PersonaDataEntryPhoneNumber+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Persona/PersonaData/PersonaDataEntryEmailAddress+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Persona/PersonaData/PersonaDataEntryName+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Persona/PersonaData/PersonaDataEntryPhoneNumber+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/SLIP10Curve+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Account/EntityFlag+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Account/FiatCurrency+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Account/OnLedgerSettings+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Account/ThirdPartyDeposits/DepositRule+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Account/ThirdPartyDeposits/ThirdPartyDeposits+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/Accounts+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Persona/PersonaData/BasePersonaDataEntryProtocol.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Persona/PersonaData/PersonaData+Entry.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Persona/PersonaData/PersonaDataEntryEmailAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Persona/PersonaData/PersonaDataEntryName+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Persona/PersonaData/PersonaDataEntryPhoneNumber+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Persona/PersonaData/PersonaDataEntryProtocol.swift
  apple/Tests/TestCases/Crypto/SLIP10CurveTests.swift
  apple/Tests/TestCases/Profile/Persona/PersonaData/AuthorizedPersonaSimpleTests.swift
  apple/Tests/TestCases/Profile/Persona/PersonaData/PersonaDataEntryEmailAddressTests.swift
  apple/Tests/TestCases/Profile/Persona/PersonaData/PersonaDataEntryNameTests.swift
  apple/Tests/TestCases/Profile/Persona/PersonaData/PersonaDataEntryPhoneNumberTests.swift
  apple/Tests/Utils/PersonaDataEntryTests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/BagOfBytes.kt
  src/core/types/keys/slip10_curve_uniffi_fn.rs
  src/profile/v100/app_preferences/app_display_settings/fiat_currency_uniffi_fn.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/deposit_rule_uniffi_fn.rs
  src/profile/v100/entity/persona/persona_data/entry_kinds/mod.rs
  src/profile/v100/entity/persona/persona_data/entry_kinds/persona_data_entry_email_address_uniffi_fn.rs
  src/profile/v100/entity/persona/persona_data/entry_kinds/persona_data_entry_name_uniffi_fn.rs
  src/profile/v100/entity/persona/persona_data/entry_kinds/persona_data_entry_phone_number_uniffi_fn.rs
  src/profile/v100/json_data_convertible.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

fix kotlin test
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/BagOfBytesTest.kt
Due: kotlin tests

coverage
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Hash/PublicKeyHash+Swiftified.swift
  apple/Sources/Sargon/Protocols/BinaryProtocol.swift
  apple/Tests/TestCases/Crypto/PublicKeyHashTests.swift
  apple/Tests/TestCases/Prelude/Bytes/ExactlyNBytesTests.swift
  apple/Tests/Utils/BinaryProtocolTests.swift
  src/hierarchical_deterministic/derivation/hierarchical_deterministic_private_key.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

rename validation of signature metehods for consistency
  apple/Sources/Sargon/Extensions/Methods/Crypto/Keys/HierarchicalDeterministicPublicKey+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Keys/PublicKey+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Signatures/SignatureWithPublicKey+Wrap+Functions.swift
  src/core/types/keys/ed25519/private_key.rs
  src/core/types/keys/ed25519/public_key.rs
  src/core/types/keys/is_public_key.rs
  src/core/types/keys/public_key.rs
  src/core/types/keys/public_key_uniffi_fn.rs
  src/core/types/keys/secp256k1/private_key.rs
  src/core/types/keys/secp256k1/public_key.rs
  src/core/types/signatures/ed25519_signature.rs
  src/core/types/signatures/secp256k1_signature.rs
  src/core/types/signatures/signature_with_public_key.rs
  src/core/types/signatures/signature_with_public_key_uniffi_fn.rs
  src/hierarchical_deterministic/derivation/hierarchical_deterministic_private_key.rs
  src/hierarchical_deterministic/derivation/hierarchical_deterministic_public_key.rs
  src/hierarchical_deterministic/derivation/hierarchical_deterministic_public_key_uniffi_fn.rs
  src/hierarchical_deterministic/derivation/mnemonic_with_passphrase.rs
  src/hierarchical_deterministic/derivation/mnemonic_with_passphrase_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/low_level/intent_signature.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

FactorSourceIDFromHash and FromAddress codable
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/FactorSourceIDFromAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/FactorSourceIDFromHash+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSourceIDFromAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSourceIDFromHash+Swiftified.swift
  apple/Tests/TestCases/Profile/FactorSource/FactorSourceIDFromAddressTests.swift
  apple/Tests/TestCases/Profile/FactorSource/FactorSourceIDFromHashTests.swift
  apple/Tests/TestCases/Profile/HeaderTests.swift
  src/profile/v100/factors/factor_source_id_from_address_uniffi_fn.rs
  src/profile/v100/factors/factor_source_id_from_hash_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  src/radix_connect/interaction_id.rs
  src/radix_connect/mod.rs
  src/radix_connect/wallet_account.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/authorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/items.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/accounts.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/auth.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/auth_use_persona.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/login_with_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/persona_data.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/request/reset.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/unauthorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_metadata.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/test_vector.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/response.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/account_proof.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/accounts.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_login_with_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_login_without_challenge.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_proof.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/auth/auth_use_persona.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/authorized_request.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/items.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/persona_data/persona_data.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/unauthorized_request.rs
  src/radix_connect/wallet_persona.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  fixtures/vector/wallet_interactions_wallet_to_dapp.json
  src/radix_connect/wallet_account.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure.rs
  src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/persona_data/persona_data.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests
