Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

Fix swift tests
  apple/Sources/Sargon/Drivers/ProfileChange/ProfileChange.swift
  apple/Sources/Sargon/Drivers/ProfileStateChange/ProfileStateChange.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/Drivers/Drivers+Swiftified.swift
  apple/Sources/Sargon/SargonOS/SargonOSProtocol.swift
  apple/Sources/Sargon/SargonOS/TestOS.swift
  apple/Tests/IntegrationTests/DriversTests/EventBusDriverTests.swift
  apple/Tests/IntegrationTests/SargonOS/TestOSTests.swift
Due: ensure Swift setup for local development, SwiftFormat

get all hidden resources
  apple/Sources/Sargon/Extensions/Methods/Profile/ResourcePreferences+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/ResourcePreferences+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/ResourcePreferences+Swiftified.swift
  apple/Tests/TestCases/Profile/ResourcePreferenceTests.swift
  fixtures/vector/multi_profile_snapshots_test_version_100_patch_after_app_version_120.json
  fixtures/vector/only_plaintext_profile_snapshot_version_100.json
  src/profile/v100/app_preferences/resource_preferences/resource_preferences.rs
  src/profile/v100/app_preferences/resource_preferences/resource_preferences_uniffi_fn.rs
  tests/vectors/main.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

fix tests
  fixtures/vector/profile_encrypted_by_password_empty.json
  fixtures/vector/profile_encrypted_by_password_of_babylon.json
  src/profile/encrypted/encryption/encrypted_profile_snapshot.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: fmt, clippy, unit tests

Fix doc
  src/system/sargon_os/profile_state_holder.rs
Due: fmt, clippy, unit tests

Prioritize bdfs save and then save profile in new wallet
  src/system/sargon_os/sargon_os.rs
Due: fmt, clippy, unit tests

WIP
  src/profile/v100/app_preferences/app_preferences.rs
  src/profile/v100/app_preferences/resource_preferences/resource_preferences.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: fmt, clippy, unit tests

Implement retry read mechanism for profile snapshot.
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/StorageUtils.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/key/ProfileSnapshotKeyMapping.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/key/ProfileSnapshotKeyMappingTest.kt
Due: none

Bump version
  Cargo.lock
  Cargo.toml
Due: none

Sargon os v1 bootstrap (#197)
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Drivers/HostInfo/HostInfoDriver+DeviceInfo.swift
  apple/Sources/Sargon/Drivers/ProfileChange/ProfileChange.swift
  apple/Sources/Sargon/Drivers/ProfileStateChange/ProfileStateChange.swift
  apple/Sources/Sargon/Extensions/Swiftified/System/Drivers/Drivers+Swiftified.swift
  apple/Sources/Sargon/SargonOS/SargonOSProtocol.swift
  apple/Sources/Sargon/SargonOS/TestOS.swift
  apple/Tests/IntegrationTests/DriversTests/EventBusDriverTests.swift
  apple/Tests/IntegrationTests/SargonOS/TestOSTests.swift
  examples/android/src/main/AndroidManifest.xml
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/MainViewModel.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/SargonOsManager.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/di/ApplicationModule.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/Bios.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidLoggingDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidProfileChangeDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/driver/AndroidProfileStateChangeDriver.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/StorageUtils.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/key/ProfileSnapshotKeyMapping.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/driver/AndroidLoggingDriverTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/driver/AndroidProfileStateChangeDriverTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/key/ProfileSnapshotKeyMappingTest.kt
  src/core/error/common_error.rs
  src/system/clients/client/profile_change_client/profile_change_client.rs
  src/system/clients/client/secure_storage_client/secure_storage_client.rs
  src/system/clients/clients.rs
  src/system/drivers/drivers.rs
  src/system/drivers/profile_change_driver/profile_change_driver.rs
  src/system/drivers/profile_change_driver/support/test/rust_profile_change_driver.rs
  src/system/sargon_os/mod.rs
  src/system/sargon_os/profile_holder.rs
  src/system/sargon_os/profile_state_holder.rs
  src/system/sargon_os/sargon_os.rs
  src/system/sargon_os/sargon_os_accounts.rs
  src/system/sargon_os/sargon_os_factors.rs
  src/system/sargon_os/sargon_os_gateway.rs
  src/system/sargon_os/sargon_os_profile.rs
  src/system/sargon_os/sargon_os_security_structures.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Release of '1.0.36' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Expose host info to host
  Cargo.lock
  Cargo.toml
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/MainViewModel.kt
  src/system/sargon_os/sargon_os.rs
Due: fmt, clippy, unit tests

Expose host info to host (#198)
  Cargo.lock
  Cargo.toml
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/MainViewModel.kt
  src/system/sargon_os/sargon_os.rs
Due: fmt, clippy, unit tests

Release of '1.0.37' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

WIP
  src/profile/v100/app_preferences/app_preferences.rs
  src/profile/v100/app_preferences/resource_preferences/hidden_resources.rs
  src/profile/v100/app_preferences/resource_preferences/mod.rs
  src/profile/v100/app_preferences/resource_preferences/resource_preference_kind.rs
  src/profile/v100/app_preferences/resource_preferences/resource_preferences.rs
  src/profile/v100/app_preferences/resource_preferences/resource_preferences_uniffi_fn.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: fmt, clippy, unit tests

bump version
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Drivers/HostInfo/HostInfoDriver+DeviceInfo.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/ResourcePreferences+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/ResourcePreferenceTests.swift
  fixtures/vector/profile_encrypted_by_password_empty.json
  fixtures/vector/profile_encrypted_by_password_of_babylon.json
  src/profile/encrypted/encryption/encrypted_profile_snapshot.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

add flag to Security
  src/profile/v100/app_preferences/security.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: fmt, clippy, unit tests

uncomment test
  tests/vectors/main.rs
Due: fmt, clippy, unit tests

Add kt extensions for resource preferences
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ResourcePreferences.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ResourcePreferencesSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AppPreferencesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ResourcePreferencesTest.kt
Due: none

WIP
  src/profile/v100/app_preferences/app_preferences.rs
  src/profile/v100/app_preferences/asset_preferences/asset_address.rs
  src/profile/v100/app_preferences/asset_preferences/asset_preference.rs
  src/profile/v100/app_preferences/asset_preferences/asset_preferences.rs
  src/profile/v100/app_preferences/asset_preferences/asset_preferences_uniffi_fn.rs
  src/profile/v100/app_preferences/asset_preferences/asset_visibility.rs
  src/profile/v100/app_preferences/asset_preferences/mod.rs
  src/profile/v100/app_preferences/mod.rs
  src/profile/v100/app_preferences/resource_preferences/hidden_resources.rs
  src/profile/v100/app_preferences/resource_preferences/mod.rs
  src/profile/v100/app_preferences/resource_preferences/resource_preference_kind.rs
  src/profile/v100/app_preferences/resource_preferences/resource_preferences.rs
  src/profile/v100/app_preferences/resource_preferences/resource_preferences_uniffi_fn.rs
Due: fmt, clippy, unit tests

Remove packaging option
  jvm/sargon-android/build.gradle.kts
Due: none

fixes
  src/profile/v100/app_preferences/app_preferences.rs
  src/profile/v100/app_preferences/asset_preferences/asset_address.rs
  src/profile/v100/app_preferences/asset_preferences/asset_addresses.rs
  src/profile/v100/app_preferences/asset_preferences/asset_preference.rs
  src/profile/v100/app_preferences/asset_preferences/asset_preferences.rs
  src/profile/v100/app_preferences/asset_preferences/asset_preferences_uniffi_fn.rs
  src/profile/v100/app_preferences/asset_preferences/asset_visibility.rs
  src/profile/v100/app_preferences/asset_preferences/mod.rs
  src/profile/v100/profile.rs
Due: fmt, clippy, unit tests

fix iOS Tests
  apple/Sources/Sargon/Extensions/Methods/Profile/AssetPreference+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/ResourcePreferences+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/AssetPreferences+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/ResourcePreferences+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/AssetPreference+Swiftified.swift
  apple/Tests/TestCases/Profile/AssetPreferencesTests.swift
  apple/Tests/TestCases/Profile/ResourcePreferenceTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Add bool type macro and use it for Security flags
  src/profile/v100/app_preferences/app_preferences.rs
  src/profile/v100/app_preferences/security.rs
  src/profile/v100/profile.rs
Due: fmt, clippy, unit tests

move macro to its own file
  src/core/types/bool_type.rs
  src/core/types/mod.rs
  src/profile/v100/app_preferences/security.rs
Due: fmt, clippy, unit tests

missing tests and docs
  src/core/types/bool_type.rs
  src/profile/v100/app_preferences/asset_preferences/asset_address.rs
  src/profile/v100/app_preferences/asset_preferences/asset_preference.rs
  src/profile/v100/app_preferences/asset_preferences/asset_preferences.rs
  src/profile/v100/app_preferences/asset_preferences/asset_visibility.rs
Due: fmt, clippy, unit tests

Update asset preferences kt extensions
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AssetPreferences.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ResourcePreferences.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/AssetPreferencesSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ResourcePreferencesSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AppPreferencesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AssetPreferencesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ResourcePreferencesTest.kt
Due: none

Hidden resources kt extesions (#200)
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AssetPreferences.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/AssetPreferencesSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AppPreferencesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AssetPreferencesTest.kt
Due: none

revert JSON changes
  fixtures/vector/only_plaintext_profile_snapshot_version_100.json
Due: none

[ABW-3712] Allow to hide/unhide resources on Profile (#199)
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Drivers/HostInfo/HostInfoDriver+DeviceInfo.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/AssetPreference+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/AssetPreferences+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/AssetPreference+Swiftified.swift
  apple/Tests/TestCases/Profile/AssetPreferencesTests.swift
  fixtures/vector/multi_profile_snapshots_test_version_100_patch_after_app_version_120.json
  fixtures/vector/profile_encrypted_by_password_empty.json
  fixtures/vector/profile_encrypted_by_password_of_babylon.json
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AssetPreferences.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/AssetPreferencesSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AppPreferencesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AssetPreferencesTest.kt
  src/core/types/bool_type.rs
  src/core/types/mod.rs
  src/profile/v100/app_preferences/app_preferences.rs
  src/profile/v100/app_preferences/asset_preferences/asset_address.rs
  src/profile/v100/app_preferences/asset_preferences/asset_addresses.rs
  src/profile/v100/app_preferences/asset_preferences/asset_preference.rs
  src/profile/v100/app_preferences/asset_preferences/asset_preferences.rs
  src/profile/v100/app_preferences/asset_preferences/asset_preferences_uniffi_fn.rs
  src/profile/v100/app_preferences/asset_preferences/asset_visibility.rs
  src/profile/v100/app_preferences/asset_preferences/mod.rs
  src/profile/v100/app_preferences/mod.rs
  src/profile/v100/app_preferences/security.rs
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Release of '1.0.38' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

renames
  src/profile/v100/app_preferences/app_preferences.rs
  src/profile/v100/app_preferences/asset_preferences/asset_preferences.rs
  src/profile/v100/app_preferences/asset_preferences/asset_preferences_uniffi_fn.rs
  src/profile/v100/app_preferences/asset_preferences/mod.rs
  src/profile/v100/app_preferences/mod.rs
  src/profile/v100/app_preferences/resource_preferences/hidden_resources.rs
  src/profile/v100/app_preferences/resource_preferences/mod.rs
  src/profile/v100/app_preferences/resource_preferences/resource_app_preference.rs
  src/profile/v100/app_preferences/resource_preferences/resource_identifier.rs
  src/profile/v100/app_preferences/resource_preferences/resource_preferences.rs
  src/profile/v100/app_preferences/resource_preferences/resource_preferences_uniffi_fn.rs
  src/profile/v100/app_preferences/resource_preferences/resource_visibility.rs
  src/profile/v100/profile.rs
Due: fmt, clippy, unit tests

bump
  Cargo.lock
  Cargo.toml
Due: none

fix iOS
  apple/Sources/Sargon/Extensions/Methods/Profile/AssetPreference+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/ResourceAppPreference+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/AssetPreferences+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/AssetPreference+Swiftified.swift
  apple/Tests/TestCases/Profile/AssetPreferencesTests.swift
  apple/Tests/TestCases/Profile/ResourcePreferencesTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Update kt extensions
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AssetPreferences.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ResourceAppPreferences.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/AssetPreferencesSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ResourceAppPreferencesSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AppPreferencesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AssetPreferencesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ResourceAppPreferencesTest.kt
Due: none

Hiding/unhiding resource updates (#201)
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Extensions/Methods/Profile/AssetPreference+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/ResourceAppPreference+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/AssetPreferences+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/AssetPreference+Swiftified.swift
  apple/Tests/TestCases/Profile/AssetPreferencesTests.swift
  apple/Tests/TestCases/Profile/ResourcePreferencesTests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AssetPreferences.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ResourceAppPreferences.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/AssetPreferencesSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ResourceAppPreferencesSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AppPreferencesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AssetPreferencesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ResourceAppPreferencesTest.kt
  src/profile/v100/app_preferences/app_preferences.rs
  src/profile/v100/app_preferences/asset_preferences/asset_preferences.rs
  src/profile/v100/app_preferences/asset_preferences/asset_preferences_uniffi_fn.rs
  src/profile/v100/app_preferences/asset_preferences/mod.rs
  src/profile/v100/app_preferences/mod.rs
  src/profile/v100/app_preferences/resource_preferences/hidden_resources.rs
  src/profile/v100/app_preferences/resource_preferences/mod.rs
  src/profile/v100/app_preferences/resource_preferences/resource_app_preference.rs
  src/profile/v100/app_preferences/resource_preferences/resource_identifier.rs
  src/profile/v100/app_preferences/resource_preferences/resource_preferences.rs
  src/profile/v100/app_preferences/resource_preferences/resource_preferences_uniffi_fn.rs
  src/profile/v100/app_preferences/resource_preferences/resource_visibility.rs
  src/profile/v100/profile.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Release of '1.0.39' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Cargo update
  Cargo.lock
Due: none

Update ret version and fix NodeId errors
  Cargo.lock
  Cargo.toml
  src/profile/v100/address/non_fungible_resource_address.rs
Due: fmt, clippy, unit tests

revert Cargo.lock to main
  Cargo.lock
Due: none

Updating the scrypto and ret dependency
  Cargo.lock
  Cargo.toml
Due: none
