Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

SwiftFormat:
  name: SwiftFormat
  language: system
  entry: swiftformat .
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

fix release script
  scripts/ios/release.sh
Due: none

wip
  Cargo.lock
  crates/sargon/Cargo.toml
  crates/sargon/src/core/types/instant.rs
  crates/sargon/src/core/types/intent_discriminator.rs
  crates/sargon/src/core/types/intent_discriminator_uniffi_fn.rs
  crates/sargon/src/core/types/mod.rs
  crates/sargon/src/lib.rs
  crates/sargon/src/profile/v100/networks/network/network_id.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifest_account_locker.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifest_assets_transfers.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_create_tokens.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/modify_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/third_party_deposit_update/manifest_third_party_deposit_update.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/transfer_types.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/intent_core_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/intent_header_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/subintent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/child_intents.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/instructions_v2/instructions_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_v2.rs
Due: fmt, clippy, unit tests

Implement transaction intent initializer that accepts account and identity addresses requiring auth
  crates/sargon/src/types/samples/mod.rs
  crates/sargon/src/types/samples/transaction_intent_samples.rs
Due: fmt, clippy, unit tests

Fix release script (#233)
  scripts/ios/release.sh
Due: none

Add unit tests
  crates/sargon/src/profile/supporting_types/account_or_persona.rs
  crates/sargon/src/system/clients/client/http_client/http_client.rs
  crates/sargon/src/system/drivers/networking_driver/support/test/mock_networking_driver.rs
  crates/sargon/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os_transaction.rs
  crates/sargon/src/transaction/review/transaction_to_review.rs
Due: fmt, clippy, unit tests

Fix tests
  Cargo.lock
  crates/sargon/Cargo.toml
  crates/sargon/src/system/clients/client/http_client/http_client.rs
  crates/sargon/src/system/drivers/networking_driver/support/test/mock_networking_driver.rs
Due: fmt, clippy, unit tests

fix git tag command on release.sh
  scripts/ios/release.sh
Due: none

fix git tag command on release.sh (#234)
  scripts/ios/release.sh
Due: none

Release of '1.1.27' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Improve coverage
  crates/sargon/src/system/sargon_os/sargon_os_transaction.rs
Due: fmt, clippy, unit tests

Version bump
  Cargo.lock
  crates/sargon/Cargo.toml
Due: none

Allow signing inputs in tests from associated mnemonics
  crates/sargon/src/signing/petition_types/petition_for_entity.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/petition_for_factors_state.rs
  crates/sargon/src/signing/signatures_outecome_types/maybe_signed_transactions.rs
  crates/sargon/src/types/hd_signature.rs
  crates/sargon/src/types/samples/factor_source_ids_with_samples.rs
  crates/sargon/src/types/samples/hierarchical_deterministic_factor_instance_samples.rs
Due: fmt, clippy, unit tests

[ABW-3860] Move submit tx & poll tx status to Sargon (#230)
  Cargo.lock
  crates/sargon/Cargo.toml
  crates/sargon/src/core/types/epoch.rs
  crates/sargon/src/gateway_api/endpoints/transaction_endpoints.rs
  crates/sargon/src/gateway_api/methods/transaction_methods.rs
  crates/sargon/src/gateway_api/models/logic/response/ledger_state.rs
  crates/sargon/src/gateway_api/models/logic/response/transaction/mod.rs
  crates/sargon/src/gateway_api/models/logic/response/transaction/status/mod.rs
  crates/sargon/src/gateway_api/models/logic/response/transaction/status/payload_item.rs
  crates/sargon/src/gateway_api/models/logic/response/transaction/status/transaction_status.rs
  crates/sargon/src/gateway_api/models/types/request/transaction/mod.rs
  crates/sargon/src/gateway_api/models/types/request/transaction/status/mod.rs
  crates/sargon/src/gateway_api/models/types/request/transaction/status/transaction_status.rs
  crates/sargon/src/gateway_api/models/types/response/transaction/mod.rs
  crates/sargon/src/gateway_api/models/types/response/transaction/status/mod.rs
  crates/sargon/src/gateway_api/models/types/response/transaction/status/payload_item.rs
  crates/sargon/src/gateway_api/models/types/response/transaction/status/payload_status.rs
  crates/sargon/src/gateway_api/models/types/response/transaction/status/transaction_status.rs
  crates/sargon/src/system/drivers/networking_driver/support/test/mock_networking_driver.rs
  crates/sargon/src/system/sargon_os/mod.rs
  crates/sargon/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os_transactions.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/transaction/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/transaction/transaction_status.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/transaction/transaction_status_reason.rs
  crates/sargon/tests/integration/main.rs
Due: fmt, clippy, unit tests

Transfer signatures collector tests
  crates/sargon/src/lib.rs
  crates/sargon/src/profile/v100/factors/factor_source_id_from_hash.rs
  crates/sargon/src/signing/collector/mod.rs
  crates/sargon/src/signing/collector/signatures_collector.rs
  crates/sargon/src/signing/mod.rs
  crates/sargon/src/signing/petition_types/petition_for_entity.rs
  crates/sargon/src/signing/petition_types/petition_for_transaction.rs
  crates/sargon/src/signing/testing/interactors/mod.rs
  crates/sargon/src/signing/testing/interactors/test_interactor.rs
  crates/sargon/src/signing/testing/interactors/test_parallel_interactor.rs
  crates/sargon/src/signing/testing/interactors/test_serial_interactor.rs
  crates/sargon/src/signing/testing/mod.rs
  crates/sargon/src/signing/testing/simulated_user.rs
  crates/sargon/src/signing/testing/test_signature_collecting_interactors.rs
  crates/sargon/src/signing/testing/test_signatures_collector.rs
  crates/sargon/src/types/samples/factor_source_samples.rs
  crates/sargon/src/types/samples/mod.rs
  crates/sargon/src/types/samples/profile_samples.rs
  crates/sargon/src/types/samples/transaction_intent_samples.rs
Due: fmt, clippy, unit tests

Improve coverage
  .pre-commit-config.yaml
  crates/sargon/src/system/sargon_os/sargon_os_transaction.rs
Due: fmt, clippy, unit tests

Release of '1.1.28' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Update file structure
  crates/sargon/src/gateway_api/models/types/response/transaction/preview/mod.rs
  crates/sargon/src/gateway_api/models/types/response/transaction/preview/transaction_receipt.rs
  crates/sargon/src/gateway_api/models/types/response/transaction/preview/transaction_receipt_status.rs
  crates/sargon/src/lib.rs
  crates/sargon/src/system/sargon_os/mod.rs
  crates/sargon/src/system/sargon_os/transactions/mod.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transactions.rs
  crates/sargon/src/system/sargon_os/transactions/support/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/transaction/transaction_status.rs
Due: fmt, clippy, unit tests

Split tx submit and poll status in two files
  crates/sargon/src/system/sargon_os/transactions/mod.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_status.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_submit.rs
Due: fmt, clippy, unit tests

Fix test
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/transaction/transaction_status.rs
Due: fmt, clippy, unit tests

WIP
  crates/sargon/src/lib.rs
  crates/sargon/src/signing/petition_types/factor_list_kind.rs
  crates/sargon/src/signing/petition_types/mod.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/mod.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/mod.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/petition_for_factors_input.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/petition_for_factors_state_snapshot.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/petition_for_factors_status.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/petition_for_factors_sub_state.rs
Due: fmt, clippy, unit tests

Remove custom struct
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/petition_for_factors_state.rs
  crates/sargon/src/types/hd_signature.rs
  crates/sargon/src/types/mod.rs
  crates/sargon/src/types/samples/factor_source_ids_with_mnemonics.rs
  crates/sargon/src/types/samples/hd_factor_source_id_from_hash.rs
  crates/sargon/src/types/samples/mod.rs
Due: fmt, clippy, unit tests

Add passphrase factor source
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Factor/FactorSource/PassphraseFactorSource+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSource+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/PassphraseFactorSource+Swiftified.swift
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/hierarchical_deterministic/bip39/mnemonic.rs
  crates/sargon/src/hierarchical_deterministic/derivation/mnemonic_with_passphrase.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/mod.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/passphrase_factor_source/mod.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/passphrase_factor_source/passphrase_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/passphrase_factor_source/passphrase_factor_source_uniffi_fn.rs
  crates/sargon/src/profile/v100/factors/factor_source.rs
  jvm/sargon-android/src/androidTest/kotlin/com/radixdlt/sargon/os/driver/AndroidStorageDriverTest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSource.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Add Implement a general role with hd factor instances
  crates/sargon/src/signing/petition_types/general_role_with_hd_factor_instance.rs
  crates/sargon/src/signing/petition_types/mod.rs
  crates/sargon/src/signing/petition_types/role_kind.rs
Due: fmt, clippy, unit tests

Transfer SignaturesCollectorDependencies into sargon
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/core/types/collections/just.rs
  crates/sargon/src/core/types/collections/mod.rs
  crates/sargon/src/lib.rs
  crates/sargon/src/signing/collector/mod.rs
  crates/sargon/src/signing/collector/signatures_collecting_continuation.rs
  crates/sargon/src/signing/collector/signatures_collector_dependencies.rs
  crates/sargon/src/signing/collector/signing_finish_early_strategy.rs
  crates/sargon/src/signing/host_interaction/interactors/mod.rs
  crates/sargon/src/signing/host_interaction/interactors/mono_factor_sign_interactor.rs
  crates/sargon/src/signing/host_interaction/interactors/poly_factor_sign_interactor.rs
  crates/sargon/src/signing/host_interaction/interactors/sign_interactor.rs
  crates/sargon/src/signing/host_interaction/mod.rs
  crates/sargon/src/signing/host_interaction/requests/mod.rs
  crates/sargon/src/signing/host_interaction/requests/mono_factor_sign_request.rs
  crates/sargon/src/signing/host_interaction/requests/mono_factor_sign_request_input.rs
  crates/sargon/src/signing/host_interaction/requests/poly_factor_sign_request.rs
  crates/sargon/src/signing/host_interaction/requests/transaction_sign_request_input.rs
  crates/sargon/src/signing/host_interaction/sign_interactors.rs
  crates/sargon/src/signing/host_interaction/sign_response.rs
  crates/sargon/src/signing/mod.rs
  crates/sargon/src/signing/petition_types/mod.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/factor_source_referencing.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/mod.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/neglected_factor_instance.rs
  crates/sargon/src/signing/signatures_outecome_types/mod.rs
  crates/sargon/src/signing/signatures_outecome_types/sign_with_factors_outcome.rs
  crates/sargon/src/types/factor_sources_of_kind.rs
  crates/sargon/src/types/hd_signature.rs
  crates/sargon/src/types/hd_signature_input.rs
  crates/sargon/src/types/invalid_transaction_if_neglected.rs
  crates/sargon/src/types/mod.rs
  crates/sargon/src/types/owned_types/mod.rs
  crates/sargon/src/types/owned_types/owned.rs
  crates/sargon/src/types/owned_types/owned_factor_instance.rs
Due: fmt, clippy, unit tests

WIP more files
  crates/sargon/src/signing/collector/mod.rs
  crates/sargon/src/signing/collector/signatures_collector_state.rs
  crates/sargon/src/signing/petition_types/mod.rs
  crates/sargon/src/signing/petition_types/petition_status.rs
  crates/sargon/src/signing/petition_types/petitions.rs
  crates/sargon/src/signing/signatures_outecome_types/maybe_signed_transactions.rs
  crates/sargon/src/signing/signatures_outecome_types/mod.rs
  crates/sargon/src/signing/signatures_outecome_types/signatures_outcome.rs
Due: fmt, clippy, unit tests

Transfer SignaturesCollectorPreprocessor
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/profile/logic/account/mod.rs
  crates/sargon/src/profile/logic/account/query_personas.rs
  crates/sargon/src/profile/v100/factors/factor_source.rs
  crates/sargon/src/profile/v100/factors/factor_source_kind.rs
  crates/sargon/src/signing/collector/mod.rs
  crates/sargon/src/signing/collector/signatures_collector_preprocessor.rs
  crates/sargon/src/signing/mod.rs
  crates/sargon/src/signing/petition_types/mod.rs
  crates/sargon/src/signing/petition_types/petition_for_transaction.rs
  crates/sargon/src/signing/petition_types/petition_status.rs
  crates/sargon/src/signing/petition_types/petitions.rs
  crates/sargon/src/signing/signatures_outecome_types/maybe_signed_transactions.rs
  crates/sargon/src/signing/signatures_outecome_types/mod.rs
  crates/sargon/src/signing/signatures_outecome_types/petition_transaction_outcome.rs
  crates/sargon/src/signing/signatures_outecome_types/signatures_outcome.rs
  crates/sargon/src/signing/tx_to_sign.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
Due: fmt, clippy, unit tests

Transfer petition_for_transaction
  crates/sargon/src/signing/petition_types/mod.rs
  crates/sargon/src/signing/petition_types/petition_for_transaction.rs
  crates/sargon/src/signing/signatures_outecome_types/mod.rs
  crates/sargon/src/signing/signatures_outecome_types/petition_transaction_outcome.rs
  crates/sargon/src/types/samples/persona_samples.rs
Due: fmt, clippy, unit tests

Transfer remaining signatures_collector tests
  crates/sargon/src/profile/logic/profile_next_derivation.rs
  crates/sargon/src/profile/supporting_types/account_or_persona.rs
  crates/sargon/src/signing/collector/signatures_collector.rs
  crates/sargon/src/signing/petition_types/petition_for_transaction.rs
  crates/sargon/src/types/samples/account_samples.rs
  crates/sargon/src/types/samples/persona_samples.rs
Due: fmt, clippy, unit tests

Add FactorSourceIDFromHash samples
  Cargo.lock
  crates/sargon/Cargo.toml
  crates/sargon/src/lib.rs
  crates/sargon/src/profile/v100/factors/factor_source_id_from_hash.rs
Due: fmt, clippy, unit tests

Add petition_for_factors
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/mod.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/petition_for_factors.rs
Due: fmt, clippy, unit tests

Add securified variant in EntitySecurityState
  crates/sargon/src/profile/logic/profile_network/profile_network_details.rs
  crates/sargon/src/profile/logic/profile_next_derivation.rs
  crates/sargon/src/profile/supporting_types/account_or_persona.rs
  crates/sargon/src/profile/v100/entity/account/account.rs
  crates/sargon/src/profile/v100/entity/persona/persona.rs
  crates/sargon/src/profile/v100/entity_security_state/entity_security_state.rs
  crates/sargon/src/signing/petition_types/mod.rs
  crates/sargon/src/signing/petition_types/petition_for_entity.rs
Due: fmt, clippy, unit tests

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  SwiftFormat: any of: \.swift$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
