Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

SwiftFormat:
  name: SwiftFormat
  language: system
  entry: swiftformat .
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

updates to use u64 instead of Timestamp
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/WalletInteraction/DappToWalletInteractionSubintentExpireAtTime+Wrap+Functions.swift
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/at_time.rs
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/expiration.rs
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/mod.rs
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/status.rs
  crates/sargon/fixtures/vector/wallet_interactions_dapp_to_wallet.json
  crates/sargon/src/core/types/instant.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/at_time.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/expiration.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/subintent.rs
  crates/sargon/src/system/sargon_os/pre_authorization/sargon_os_create_subintent.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

[no ci] WIP
  crates/sargon/radix_babylon_wallet_pre_derived_public_keys_cache.json
  crates/sargon/src/keys_collector/derivation_testing/mod.rs
  crates/sargon/src/keys_collector/derivation_testing/test_keys_collector.rs
  crates/sargon/src/profile/logic/profile_network/profile_network_get_entities.rs
  crates/sargon/src/profile/v100/entity/is_entity.rs
  crates/sargon/src/profile/v100/factors/factor_source_id_from_hash.rs
  crates/sargon/src/system/clients/client/secure_storage_client/secure_storage_client.rs
  crates/sargon/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/system/sargon_os/sargon_os_factors.rs
  crates/sargon/src/types/samples/factor_source_ids_with_samples.rs
Due: fmt, clippy, unit tests

[no ci] working test KeysDerivationInteractor
  crates/sargon/radix_babylon_wallet_pre_derived_public_keys_cache.json
  crates/sargon/src/keys_collector/collector/keys_collector.rs
  crates/sargon/src/keys_collector/derivation_testing/mod.rs
  crates/sargon/src/system/clients/client/secure_storage_client/secure_storage_client.rs
  crates/sargon/src/system/drivers/drivers.rs
  crates/sargon/src/system/drivers/file_system_driver/support/test/in_memory_file_system_driver.rs
  crates/sargon/src/system/drivers/file_system_driver/support/test/mod.rs
  crates/sargon/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

bump Sargon
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

wip FIP unit tests
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
  crates/sargon/src/profile/logic/account/create_account.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

lint
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/expiration.rs
Due: fmt, clippy, unit tests

[no ci] create_accounts_when_last_is_used_cache_is_fill_only_with_account_vecis_and_if_profile_is_used_a_new_account_is_created works
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
  crates/sargon/src/system/sargon_os/sargon_os.rs
  crates/sargon/src/system/sargon_os/sargon_os_factors.rs
Due: fmt, clippy, unit tests

[no ci] migrate two more unit tests
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
Due: fmt, clippy, unit tests

Add Siwft Tests
  apple/Tests/TestCases/RadixConnect/WalletInteraction/DappToWalletInteractionSubintentExpirationTests.swift
  apple/Tests/TestCases/RadixConnect/WalletInteraction/DappToWalletInteractionSubintentExpireAtTimeTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Add extension for status
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DappToWalletInteractionSubintentExpiration.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DappToWalletInteractionSubintentExpirationTest.kt
Due: none

[no ci] personas
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
  crates/sargon/src/profile/logic/account/create_account.rs
  crates/sargon/src/profile/logic/account/mod.rs
  crates/sargon/src/profile/logic/account/query_personas.rs
  crates/sargon/src/profile/logic/create_entity.rs
  crates/sargon/src/profile/logic/mod.rs
  crates/sargon/src/profile/logic/persona/create_persona.rs
  crates/sargon/src/profile/logic/persona/mod.rs
  crates/sargon/src/profile/logic/persona/query_personas.rs
  crates/sargon/src/profile/v100/entity/display_name.rs
  crates/sargon/src/profile/v100/entity/is_entity.rs
  crates/sargon/src/profile/v100/factors/hd_transaction_signing_factor_instance.rs
  crates/sargon/src/profile/v100/networks/network/personas.rs
  crates/sargon/src/profile/v100/networks/network/profile_network.rs
  crates/sargon/src/profile/v100/networks/profile_networks.rs
  crates/sargon/src/profile/v100/profile.rs
  crates/sargon/src/system/drivers/event_bus_driver/support/event_kind.rs
  crates/sargon/src/system/drivers/event_bus_driver/support/event_profile_modified.rs
  crates/sargon/src/system/sargon_os/mod.rs
  crates/sargon/src/system/sargon_os/profile_state_holder.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/system/sargon_os/sargon_os_factors.rs
  crates/sargon/src/system/sargon_os/sargon_os_personas.rs
Due: fmt, clippy, unit tests

[ABW-3915] Expiration errors (#258)
  Cargo.lock
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/WalletInteraction/DappToWalletInteractionSubintentExpiration+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/WalletInteraction/DappToWalletInteractionSubintentExpireAtTime+Wrap+Functions.swift
  apple/Tests/TestCases/RadixConnect/WalletInteraction/DappToWalletInteractionSubintentExpirationTests.swift
  apple/Tests/TestCases/RadixConnect/WalletInteraction/DappToWalletInteractionSubintentExpireAtTimeTests.swift
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/at_time.rs
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/expiration.rs
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/mod.rs
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/status.rs
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure_response/error_type.rs
  crates/sargon/Cargo.toml
  crates/sargon/fixtures/vector/wallet_interactions_dapp_to_wallet.json
  crates/sargon/src/core/types/instant.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/at_time.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/expiration.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/mod.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/status.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/subintent.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/failure_response/error_type.rs
  crates/sargon/src/system/sargon_os/pre_authorization/sargon_os_create_subintent.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DappToWalletInteractionSubintentExpiration.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DappToWalletInteractionSubintentExpirationTest.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Release of '1.1.48' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] wip
  crates/sargon-uniffi/src/system/drivers/event_bus_driver/support/event_kind.rs
  crates/sargon-uniffi/src/system/drivers/event_bus_driver/support/event_profile_modified.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/securify_entity_factor_instances_provider.rs
  crates/sargon/src/gateway_api/models/logic/response/state/entity/details/state_entity_details_response.rs
  crates/sargon/src/system/drivers/event_bus_driver/support/event_profile_modified.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/system/sargon_os/sargon_os_personas.rs
  crates/sargon/src/system/sargon_os/sargon_os_profile.rs
Due: fmt, clippy, unit tests

derive Ord and PartialOrd
  crates/sargon/src/home_cards/home_card.rs
Due: fmt, clippy, unit tests

bump to 1.1.49
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

[no ci] WIP
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider.rs
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
  crates/sargon/src/factor_instances_provider/types/accounts.rs
  crates/sargon/src/factor_instances_provider/types/mod.rs
  crates/sargon/src/hierarchical_deterministic/bip32/hd_path.rs
  crates/sargon/src/profile/mfa/security_structures/decl_security_structure_of.rs
  crates/sargon/src/profile/mfa/security_structures/matrix_of_factor_instances.rs
  crates/sargon/src/profile/mfa/security_structures/mod.rs
  crates/sargon/src/signing/petition_types/general_role_with_hd_factor_instance.rs
  crates/sargon/src/signing/petition_types/role_kind.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

wip securify
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
  crates/sargon/src/hierarchical_deterministic/bip32/hd_path.rs
  crates/sargon/src/profile/mfa/security_structures/decl_security_structure_of.rs
  crates/sargon/src/profile/mfa/security_structures/mod.rs
  crates/sargon/src/signing/collector/signatures_collector.rs
  crates/sargon/src/signing/petition_types/general_role_with_hd_factor_instance.rs
  crates/sargon/src/signing/petition_types/petition_for_entity.rs
  crates/sargon/src/types/samples/general_role_with_hd_factor_instance_samples.rs
  crates/sargon/tests/integration/main.rs
Due: fmt, clippy, unit tests

wip securify
  crates/sargon-uniffi/src/core/error/common_error.rs
Due: fmt, clippy, unit tests

[ABW-3911] Discover Radix dApps home card (#257)
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/home_cards/home_card.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/home_cards/home_card.rs
  crates/sargon/src/home_cards/manager.rs
Due: fmt, clippy, unit tests

Release of '1.1.49' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/securify_entity_factor_instances_provider.rs
  crates/sargon/src/profile/logic/profile_network/profile_network_get_entities.rs
  crates/sargon/src/profile/logic/profile_networks.rs
  crates/sargon/src/profile/mfa/security_structures/decl_security_structure_of.rs
  crates/sargon/src/profile/v100/address/entity_address.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon/src/profile/mfa/security_structures/decl_security_structure_of.rs
  crates/sargon/src/profile/mfa/security_structures/matrix_of_factor_instances.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

[no ci] wip
  crates/sargon/src/profile/mfa/security_structures/matrix_of_factor_instances.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

WIP
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
  crates/sargon/src/lib.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/expiration.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifest_delete_account.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/mod.rs
Due: fmt, clippy, unit tests

version bump
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

remove fee_payer
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifest_delete_account.rs
Due: fmt, clippy, unit tests

[no ci] working working?
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/securify_entity_factor_instances_provider.rs
  crates/sargon/src/factor_instances_provider/types/factor_instances.rs
  crates/sargon/src/profile/mfa/security_structures/decl_security_structure_of.rs
  crates/sargon/src/profile/mfa/security_structures/matrix_of_factor_instances.rs
  crates/sargon/src/profile/v100/factors/factor_source_id_from_hash.rs
  crates/sargon/src/profile/v100/factors/hierarchical_deterministic_factor_instance.rs
  crates/sargon/src/profile/v100/factors/is_factor_source.rs
Due: fmt, clippy, unit tests

WIP
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
  crates/sargon/src/core/utils/constants.rs
  crates/sargon/src/gateway_api/endpoints/state_endpoints.rs
  crates/sargon/src/gateway_api/models/types/request/state/account_resource_preferences.rs
  crates/sargon/src/gateway_api/models/types/request/state/mod.rs
  crates/sargon/src/gateway_api/models/types/response/state/account_resource_preferences/mod.rs
  crates/sargon/src/gateway_api/models/types/response/state/account_resource_preferences/response.rs
  crates/sargon/src/gateway_api/models/types/response/state/account_resource_preferences/response_item.rs
  crates/sargon/src/gateway_api/models/types/response/state/mod.rs
  crates/sargon/src/system/sargon_os/mod.rs
  crates/sargon/src/system/sargon_os/sargon_os_delete_account.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifest_delete_account.rs
Due: fmt, clippy, unit tests

[no ci] working cache_is_unchanged test
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
Due: fmt, clippy, unit tests

[no ci] add_account_and_personas_mixed
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
Due: fmt, clippy, unit tests

WIP
  crates/sargon/src/gateway_api/endpoints/state_endpoints.rs
  crates/sargon/src/gateway_api/models/types/request/state/account_authorized_depositors.rs
  crates/sargon/src/gateway_api/models/types/request/state/mod.rs
  crates/sargon/src/gateway_api/models/types/response/state/account_authorized_depositors/mod.rs
  crates/sargon/src/gateway_api/models/types/response/state/account_authorized_depositors/response.rs
  crates/sargon/src/gateway_api/models/types/response/state/account_authorized_depositors/response_item.rs
  crates/sargon/src/gateway_api/models/types/response/state/mod.rs
  crates/sargon/src/system/sargon_os/sargon_os_delete_account.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifest_delete_account.rs
Due: fmt, clippy, unit tests

cannot flatten an eum
  crates/sargon/src/gateway_api/models/types/response/state/account_authorized_depositors/response_item.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifest_delete_account.rs
Due: fmt, clippy, unit tests

format
  crates/sargon/src/gateway_api/models/types/response/state/account_authorized_depositors/response_item.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifest_delete_account.rs
Due: fmt, clippy, unit tests

clean up
  crates/sargon/src/gateway_api/endpoints/state_endpoints.rs
  crates/sargon/src/gateway_api/models/types/request/state/account_authorized_depositors.rs
  crates/sargon/src/gateway_api/models/types/request/state/account_page.rs
  crates/sargon/src/gateway_api/models/types/request/state/mod.rs
  crates/sargon/src/gateway_api/models/types/response/mod.rs
  crates/sargon/src/gateway_api/models/types/response/page_response.rs
  crates/sargon/src/gateway_api/models/types/response/state/account_authorized_depositors/mod.rs
  crates/sargon/src/gateway_api/models/types/response/state/account_authorized_depositors/response.rs
  crates/sargon/src/gateway_api/models/types/response/state/account_resource_preferences/mod.rs
  crates/sargon/src/gateway_api/models/types/response/state/items/account_authorized_depositor.rs
  crates/sargon/src/gateway_api/models/types/response/state/items/account_resource_preference.rs
  crates/sargon/src/gateway_api/models/types/response/state/items/mod.rs
  crates/sargon/src/gateway_api/models/types/response/state/mod.rs
  crates/sargon/src/system/sargon_os/sargon_os_delete_account.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifest_delete_account.rs
Due: fmt, clippy, unit tests

export via UniFFI
  crates/sargon-uniffi/src/system/sargon_os/mod.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_delete_account.rs
  crates/sargon/src/system/sargon_os/sargon_os_delete_account.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifest_delete_account.rs
Due: fmt, clippy, unit tests

clean up
  crates/sargon/src/system/sargon_os/sargon_os_delete_account.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifest_delete_account.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_factors.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/factor_instances_provider/next_index_assigner/next_derivation_entity_index_assigner.rs
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
  crates/sargon/src/hierarchical_deterministic/derivation/mnemonic_with_passphrase.rs
  crates/sargon/src/keys_collector/derivation_testing/mod.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source.rs
  crates/sargon/src/profile/mfa/security_structures/matrix_of_factor_instances.rs
  crates/sargon/src/profile/mfa/security_structures/security_structure_of_factor_sources.rs
  crates/sargon/src/profile/v100/app_preferences/security.rs
  crates/sargon/src/profile/v100/factors/factor_source.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/system/sargon_os/sargon_os_factors.rs
  crates/sargon/src/system/sargon_os/sargon_os_security_structures.rs
  crates/sargon/src/types/samples/factor_source_ids_with_samples.rs
  crates/sargon/src/types/samples/factor_source_samples.rs
Due: fmt, clippy, unit tests

migrate test_securified_accounts
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
  crates/sargon/src/profile/mfa/security_structures/matrix_of_factor_instances.rs
Due: fmt, clippy, unit tests

[no ci] securify_accounts_when_cache_is_half_full_single_factor_source migrated
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
Due: fmt, clippy, unit tests

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  SwiftFormat: any of: \.swift$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
