Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.17.2
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift not changed to local development
        name: ensure Swift not changed to local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-not-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

      - id: doc tests
        name: doc tests
        language: system
        types: [file, rust]
        entry: cargo test --doc
        pass_filenames: false

      - id: vectors integration tests
        name: vectors integration tests
        language: system
        types: [file, rust]
        entry: cargo test --package sargon --test vectors
        pass_filenames: false

      - id: uniffi bindgen tests
        name: uniffi bindgen tests
        language: system
        types: [file, rust]
        entry: bash -c 'exec env CLASSPATH="$PWD/jna-5.13.0.jar"' && bash -c 'exec env JAVA_OPTS="-Xmx8g"' && cargo test --package sargon --test uniffi
        pass_filenames: false

fail fast in precommit
  .pre-commit-config.yaml
  src/core/types/signatures/signature.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

build, here is the updated Swift bindgen
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift not changed to local development

address WIP
  Cargo.lock
  Cargo.toml
  src/core/types/signatures/secp256k1_signature.rs
  src/profile/v100/address/account_address.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Make sure Release script in fact commits before tagging, otherwise ta… (#7)
  scripts/ios/release.sh
Due: none

Fix CD second attempt, forgot to escape message, also should not run precommit hooks.
  scripts/ios/release.sh
Due: none

Fix CD second attempt, forgot to escape message, also should not run … (#8)
  scripts/ios/release.sh
Due: none

WIP wrap RET addresses
  src/profile/v100/address/account_address.rs
  src/sargon.udl
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Git add before git commit
  scripts/ios/release.sh
Due: none

Git add before git commit (#9)
  scripts/ios/release.sh
Due: none

WIP wrapping addresses with macro
  Cargo.lock
  Cargo.toml
  src/core/error/common_error.rs
  src/profile/v100/address/access_controller_address.rs
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/component_address.rs
  src/profile/v100/address/decode_address_helper.rs
  src/profile/v100/address/entity_address.rs
  src/profile/v100/address/identity_address.rs
  src/profile/v100/address/mod.rs
  src/profile/v100/address/non_fungible_global_id.rs
  src/profile/v100/address/package_address.rs
  src/profile/v100/address/pool_address.rs
  src/profile/v100/address/validator_address.rs
  src/profile/v100/address/vault_address.rs
  src/profile/v100/address/wrap_ret_address.rs
  src/profile/v100/entity/abstract_entity_type.rs
  src/profile/v100/entity/account/account.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/asset_exception.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/resource_or_non_fungible.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/third_party_deposits.rs
  src/profile/v100/networks/network/authorized_dapp/authorized_dapp.rs
  src/profile/v100/networks/profile_networks.rs
  src/sargon.udl
  src/wallet/wallet_accounts.rs
  src/wrapped_radix_engine_toolkit/dummy_types.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

WIP addresses
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/identity_address.rs
  src/profile/v100/address/non_fungible_global_id.rs
  src/profile/v100/address/package_address.rs
  src/profile/v100/address/resource_address.rs
  src/profile/v100/address/validator_address.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/resource_or_non_fungible.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

WIP: letting macro expose address methods as global freestanding functinons
  src/profile/v100/address/access_controller_address.rs
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/component_address.rs
  src/profile/v100/address/identity_address.rs
  src/profile/v100/address/package_address.rs
  src/profile/v100/address/pool_address.rs
  src/profile/v100/address/resource_address.rs
  src/profile/v100/address/validator_address.rs
  src/profile/v100/address/vault_address.rs
  src/profile/v100/address/wrap_ret_address.rs
  src/profile/v100/entity/abstract_entity_type.rs
  src/wrapped_radix_engine_toolkit/dummy_types.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Placeholder values for Pool and Component
  _typos.toml
  src/core/types/signatures/secp256k1_signature.rs
  src/profile/v100/address/component_address.rs
  src/profile/v100/address/package_address.rs
  src/profile/v100/address/pool_address.rs
  src/profile/v100/address/resource_address.rs
  src/profile/v100/address/validator_address.rs
  src/profile/v100/entity/abstract_entity_type.rs
  src/profile/v100/entity/account/account.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/asset_exception.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/resource_or_non_fungible.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

WIP: addressesm JSON roundtrop fails for addresses
  src/profile/v100/address/access_controller_address.rs
  src/profile/v100/address/accesscontroller_address.rs
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/component_address.rs
  src/profile/v100/address/mod.rs
  src/profile/v100/address/vault_address.rs
  src/profile/v100/address/wrap_ret_address.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

fix UniFFI bindgen tests
  src/profile/v100/address/accesscontroller_address.rs
  src/profile/v100/address/component_address.rs
  src/profile/v100/address/package_address.rs
  src/profile/v100/address/pool_address.rs
  src/profile/v100/address/resource_address.rs
  src/profile/v100/address/vault_address.rs
  tests/uniffi/bindings/test_account_address.kts
  tests/uniffi/bindings/test_account_address.swift
  tests/uniffi/bindings/test_resource_address.kts
  tests/uniffi/bindings/test_resource_address.swift
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Add is_legacy to account address, and is_fungible to ResourceAddress and VaultAddress also build Swift bindgen test
  apple/Sources/UniFFI/Sargon.swift
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/resource_address.rs
  src/profile/v100/address/vault_address.rs
  src/profile/v100/address/wrap_ret_address.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Upgrade RET to Sajjons commit containing fix including Zabanet in RET.
  Cargo.lock
  Cargo.toml
Due: none

Hide the following holder from Swift SPM: src, tests, scripts, examples by using empty dummy Package.swift hack.
  BuildProcess.md
  examples/Package.swift
  scripts/Package.swift
  src/Package.swift
  tests/Package.swift
Due: ensure Swift not changed to local development

simplify Decimal192, there was in fact no need for a InnerDecimal type, we can make external types such as Scrypto's Decimal Uniffi compat directly contrary to what I initially believed.
  src/core/types/decimal192.rs
  src/lib.rs
  src/sargon.udl
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Document ALL Address types - Simplify wrapping of RET Addresses by removing the Inner type since it was not needed.
  Cargo.lock
  Cargo.toml
  src/core/types/decimal192.rs
  src/lib.rs
  src/profile/v100/address/accesscontroller_address.rs
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/component_address.rs
  src/profile/v100/address/identity_address.rs
  src/profile/v100/address/package_address.rs
  src/profile/v100/address/pool_address.rs
  src/profile/v100/address/resource_address.rs
  src/profile/v100/address/validator_address.rs
  src/profile/v100/address/vault_address.rs
  src/profile/v100/address/wrap_ret_address.rs
  src/sargon.udl
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Swiftify all address types
  apple/Sources/Sargon/Extensions/Methods/Addresses+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/NetworkID+Swiftified.swift
  apple/Sources/UniFFI/Sargon.swift
  examples/iOS/App/PlanbokApp/PlanbokApp.swift
  examples/iOS/Sources/Planbok/Features/MainFeature.swift
  examples/iOS/Sources/Planbok/Features/PreviewAddressesFeature.swift
  src/profile/v100/address/accesscontroller_address.rs
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/component_address.rs
  src/profile/v100/address/identity_address.rs
  src/profile/v100/address/package_address.rs
  src/profile/v100/address/pool_address.rs
  src/profile/v100/address/resource_address.rs
  src/profile/v100/address/validator_address.rs
  src/profile/v100/address/vault_address.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

more tests
  src/profile/v100/address/pool_address.rs
  src/profile/v100/address/resource_address.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

revert Vstack
  examples/iOS/App/PlanbokApp/PlanbokApp.swift
Due: ensure Swift not changed to local development

Implement building sargon from gradle
  android/sargon/.gitignore
  android/sargon/build.gradle.kts
Due: none

Implement generate bindings from gradle
  android/sargon/.gitignore
  android/sargon/build.gradle.kts
  uniffi.toml
Due: none

Initial commit for android
  android/.gitignore
  android/app/.gitignore
  android/app/build.gradle.kts
  android/app/proguard-rules.pro
  android/app/src/androidTest/java/com/radixdlt/sargon/android/ExampleInstrumentedTest.kt
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/drawable/ic_launcher_background.xml
  android/app/src/main/res/drawable/ic_launcher_foreground.xml
  android/app/src/main/res/mipmap-anydpi/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi/ic_launcher_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  android/app/src/main/res/values-night/themes.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/app/src/main/res/xml/backup_rules.xml
  android/app/src/main/res/xml/data_extraction_rules.xml
  android/app/src/test/java/com/radixdlt/sargon/android/ExampleUnitTest.kt
  android/build.gradle.kts
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  android/settings.gradle.kts
Due: none

Compile cargo with cargo ndk
  android/sargon/build.gradle.kts
Due: none

Add android lib
  android/sargon/.gitignore
  android/sargon/build.gradle.kts
  android/sargon/consumer-rules.pro
  android/sargon/proguard-rules.pro
  android/sargon/src/androidTest/java/com/radixdlt/sargon/ExampleInstrumentedTest.kt
  android/sargon/src/main/AndroidManifest.xml
  android/sargon/src/test/java/com/radixdlt/sargon/ExampleUnitTest.kt
  android/settings.gradle.kts
Due: none

Add version catalogues
  android/app/build.gradle.kts
  android/build.gradle.kts
  android/gradle/libs.versions.toml
Due: none

Add JNA and cargo ndk plugin
  android/app/build.gradle.kts
  android/build.gradle.kts
  android/gradle/libs.versions.toml
  android/sargon/build.gradle.kts
  android/sargon/src/androidTest/java/com/radixdlt/sargon/ExampleInstrumentedTest.kt
  android/sargon/src/test/java/com/radixdlt/sargon/ExampleUnitTest.kt
Due: none

Validate usage of library inside example app
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/radixdlt/sargon/android/EphemeralKeystore.kt
  android/app/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  android/app/src/main/java/com/radixdlt/sargon/android/ui/theme/Color.kt
  android/app/src/main/java/com/radixdlt/sargon/android/ui/theme/Theme.kt
  android/app/src/main/java/com/radixdlt/sargon/android/ui/theme/Type.kt
  android/app/src/main/res/values/strings.xml
  android/gradle/libs.versions.toml
Due: none

Add maven publish
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-desktop-bins/build.gradle.kts
Due: none

First attempt of android release
  .github/workflows/release.yml
Due: none

Download sdk
  .github/workflows/release.yml
Due: none

Change to r25b
  .github/workflows/release.yml
Due: none

simplify addresses
  apple/Sources/UniFFI/Sargon.swift
  src/profile/v100/address/access_controller_address.rs
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/component_address.rs
  src/profile/v100/address/identity_address.rs
  src/profile/v100/address/mod.rs
  src/profile/v100/address/package_address.rs
  src/profile/v100/address/pool_address.rs
  src/profile/v100/address/resource_address.rs
  src/profile/v100/address/validator_address.rs
  src/profile/v100/address/vault_address.rs
  src/profile/v100/address/wrap_ret_address.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests
