Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true
default_install_hook_types: [pre-push]
default_stages: [pre-push]
repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.22.7
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

  - repo: https://github.com/phylum-dev/phylum-ci
    rev: main
    hooks:
      - id: phylum
        stages: [pre-push]
        # Optional: Specify the dependency file pattern for your repository
        files: |
            (?x)^(
                Cargo\.lock|
            )$
        # Optional: Specify additional arguments to be passed to `phylum-ci`
        args:
          - -vv
          - --depfile=Cargo.lock
          - --audit
          - --force-analysis
          - --all-deps
        verbose: true

[no ci] wip
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/profile/mfa/secured_entity_control/secured_entity_control.rs
  crates/sargon/src/profile/v100/entity_security_state/entity_security_state.rs
  crates/sargon/src/profile/v100/entity_security_state/unsecured_entity_control.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon/fixtures/transaction/create_access_controller_for_account.rtm
  crates/sargon/fixtures/transaction/create_access_controller_for_persona.rtm
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/profile/mfa/secured_entity_control/secured_entity_control.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/matrix_of_factor_instances.rs
  crates/sargon/src/profile/mfa/security_structures/security_structure_of_factors/security_structure_of_factor_instances.rs
  crates/sargon/src/profile/v100/entity/has_security_state.rs
  crates/sargon/src/profile/v100/entity_security_state/entity_security_state.rs
  crates/sargon/src/profile/v100/entity_security_state/unsecured_entity_control.rs
  crates/sargon/src/profile/v100/profile.rs
  crates/sargon/src/profile/v100/profile_legacy_state_bugs.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_access_controller.rs
Due: fmt, clippy, unit tests

update readme
  README.md
  crates/sargon/src/profile/mfa/security_structures/matrices/matrix_of_factor_instances.rs
  crates/sargon/src/system/sargon_os/sargon_os_entities_linked_to_factor_source.rs
Due: fmt, clippy, unit tests

fix swift
  apple/Sources/Sargon/Protocols/EntityProtocol.swift
  apple/Tests/TestCases/Profile/Account/AccountTests.swift
  crates/sargon/src/profile/mfa/security_structures/security_structure_of_factors/security_structure_of_factor_instances.rs
  crates/sargon/src/profile/v100/entity_security_state/mod.rs
  crates/sargon/src/profile/v100/entity_security_state/provisional_securified_config.rs
  crates/sargon/src/profile/v100/entity_security_state/provisional_securified_transaction_queued.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

doc
  crates/sargon-uniffi/src/profile/v100/entity_security_state/provisional_securified_config.rs
  crates/sargon/src/profile/v100/entity_security_state/entity_security_state.rs
  crates/sargon/src/profile/v100/entity_security_state/provisional_securified_transaction_queued.rs
Due: fmt, clippy, unit tests

removed unused code
  crates/sargon/src/profile/mfa/security_structures/roles/factor_levels/factor_instance_level/role_into_scrypto_access_rule.rs
Due: fmt, clippy, unit tests

allow setting name to FactorSource
  Cargo.lock
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/FactorSource+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/Factor/FactorSourceTests.swift
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/profile/v100/factors/factor_source.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/profile/mfa/mfa_factor_sources/arculus_card_factor_source/arculus_card_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/off_device_mnemonic_factor_source/off_device_mnemonic_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/password_factor_source/password_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/trusted_contact_factor_source/trusted_contact_factor_source.rs
  crates/sargon/src/profile/v100/factors/factor_source.rs
  crates/sargon/src/profile/v100/factors/factor_sources/device_factor_source/device_factor_source.rs
  crates/sargon/src/profile/v100/factors/factor_sources/ledger_hardware_wallet_factor_source/ledger_hardware_wallet_factor_source.rs
  crates/sargon/src/profile/v100/factors/is_factor_source.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

more tests
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/profile/mfa/secured_entity_control/secured_entity_control.rs
  crates/sargon/src/profile/mfa/security_structures/matrices/matrix_of_factor_instances.rs
  crates/sargon/src/profile/v100/factors/hierarchical_deterministic_factor_instance.rs
  crates/sargon/src/profile/v100/profile.rs
  crates/sargon/src/signing/authentication/authentication_signer.rs
  crates/sargon/src/types/samples/account_samples.rs
  crates/sargon/src/types/samples/persona_samples.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_access_controller.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/public_key_hash.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon/src/factor_instances_provider/agnostic_paths/quantified_derivation_preset.rs
  crates/sargon/src/factor_instances_provider/agnostic_paths/quantities.rs
  crates/sargon/src/factor_instances_provider/factor_instances_cache/factor_instances_cache.rs
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider.rs
  crates/sargon/src/factor_instances_provider/provider/outcome/internal_factor_instances_provider_outcome.rs
  crates/sargon/src/factor_instances_provider/types/appendable_collection.rs
  crates/sargon/src/system/clients/client/factor_instances_cache_client.rs
Due: fmt, clippy, unit tests

polish
  apple/Sources/Sargon/Protocols/EntityProtocol.swift
  crates/sargon-uniffi/src/profile/mfa/secured_entity_control/secured_entity_control.rs
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_structures/security_structure_of_factor_instances.rs
  crates/sargon-uniffi/src/profile/v100/entity_security_state/unsecured_entity_control.rs
  crates/sargon/src/core/utils/constants.rs
  crates/sargon/src/profile/mfa/secured_entity_control/secured_entity_control.rs
  crates/sargon/src/profile/mfa/security_structures/roles/factor_levels/factor_instance_level/role_into_scrypto_access_rule.rs
  crates/sargon/src/profile/mfa/security_structures/security_structure_of_factors/security_structure_of_factor_instances.rs
  crates/sargon/src/profile/v100/entity_security_state/entity_security_state.rs
  crates/sargon/src/profile/v100/entity_security_state/unsecured_entity_control.rs
  crates/sargon/src/profile/v100/profile.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_access_controller.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

fix typo
  crates/sargon-uniffi/src/profile/mfa/security_structures/security_structures/security_structure_of_factor_instances.rs
  crates/sargon/src/profile/mfa/security_structures/security_structure_of_factors/security_structure_of_factor_instances.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon/src/factor_instances_provider/agnostic_paths/quantities.rs
  crates/sargon/src/factor_instances_provider/factor_instances_cache/factor_instances_cache.rs
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider.rs
Due: fmt, clippy, unit tests

method on SargonOS to update FS name
  crates/sargon-uniffi/src/profile/v100/factors/factor_source.rs
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_factors.rs
  crates/sargon/src/system/sargon_os/sargon_os_factors.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon/src/factor_instances_provider/factor_instances_cache/factor_instances_cache.rs
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider.rs
  crates/sargon/src/factor_instances_provider/provider/outcome/factor_instances_provider_outcome.rs
  crates/sargon/src/factor_instances_provider/provider/outcome/internal_factor_instances_provider_outcome.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/cache_filler.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/virtual_entity_creating_instance_provider.rs
  crates/sargon/src/system/clients/client/factor_instances_cache_client.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon/src/factor_instances_provider/agnostic_paths/quantified_derivation_preset.rs
  crates/sargon/src/factor_instances_provider/provider/outcome/factor_instances_provider_outcome.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/securify_entity_factor_instances_provider.rs
  crates/sargon/src/keys_collector/collector/derivation_purpose.rs
  crates/sargon/src/profile/logic/profile_network/profile_network_get_entities.rs
  crates/sargon/src/profile/logic/profile_networks.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

remove Swift extensions
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/FactorSource+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/Factor/FactorSourceTests.swift
Due: ensure Swift setup for local development, SwiftFormat

update UniFFI dependency
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
Due: none

bump Sargon
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

return updated FactorSource
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_factors.rs
  crates/sargon/src/system/sargon_os/sargon_os_factors.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/factor_instances_provider/agnostic_paths/derivation_preset.rs
  crates/sargon/src/factor_instances_provider/agnostic_paths/quantified_derivation_preset.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/securify_entity_factor_instances_provider.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon/src/factor_instances_provider/agnostic_paths/quantities.rs
  crates/sargon/src/factor_instances_provider/next_index_assigner/next_derivation_entity_index_profile_analyzing_assigner.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon/src/factor_instances_provider/agnostic_paths/index_agnostic_path.rs
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider.rs
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider_unit_tests.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/securify_entity_factor_instances_provider.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon/src/factor_instances_provider/factor_instances_cache/factor_instances_cache.rs
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/cache_filler.rs
Due: fmt, clippy, unit tests

Allow setting name of FactorSources (#305)
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/system/sargon_os/sargon_os_factors.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/profile/mfa/mfa_factor_sources/arculus_card_factor_source/arculus_card_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/off_device_mnemonic_factor_source/off_device_mnemonic_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/password_factor_source/password_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source.rs
  crates/sargon/src/profile/mfa/mfa_factor_sources/trusted_contact_factor_source/trusted_contact_factor_source.rs
  crates/sargon/src/profile/v100/factors/factor_source.rs
  crates/sargon/src/profile/v100/factors/factor_sources/device_factor_source/device_factor_source.rs
  crates/sargon/src/profile/v100/factors/factor_sources/ledger_hardware_wallet_factor_source/ledger_hardware_wallet_factor_source.rs
  crates/sargon/src/profile/v100/factors/is_factor_source.rs
  crates/sargon/src/system/sargon_os/sargon_os_factors.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon/src/factor_instances_provider/factor_instances_cache/factor_instances_cache.rs
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider.rs
  crates/sargon/src/factor_instances_provider/provider/outcome/internal_factor_instances_provider_outcome.rs
  crates/sargon/src/system/clients/client/factor_instances_cache_client.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/signing/collector/extractor_of_instances_required_to_sign_transactions.rs
  crates/sargon/src/signing/collector/signatures_collector.rs
  crates/sargon/src/signing/extractor_of_entities_requiring_auth.rs
  crates/sargon/src/system/sargon_os/sargon_os_signing.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
Due: fmt, clippy, unit tests

wip
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

[no ci] WIP
  crates/sargon/src/factor_instances_provider/next_index_assigner/next_derivation_entity_index_profile_analyzing_assigner.rs
  crates/sargon/src/signing/collector/signatures_collector.rs
  crates/sargon/src/signing/petition_types/petition_for_entity.rs
  crates/sargon/src/signing/petition_types/petition_for_transaction.rs
  crates/sargon/src/types/samples/account_samples.rs
  crates/sargon/src/types/samples/persona_samples.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon/src/factor_instances_provider/factor_instances_cache/factor_instances_cache.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/cache_filler.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon-uniffi/src/keys_collector/derivation_purpose.rs
  crates/sargon/src/factor_instances_provider/factor_instances_cache/factor_instances_cache.rs
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider.rs
  crates/sargon/src/system/clients/client/factor_instances_cache_client.rs
  crates/sargon/tests/integration/main.rs
  rustc-ice-2024-12-17T15_45_54-6125.txt
  rustc-ice-2024-12-17T15_46_27-6146.txt
  rustc-ice-2024-12-17T15_46_47-6151.txt
  rustc-ice-2024-12-17T15_47_00-6158.txt
Due: fmt, clippy, unit tests

[no ci] WIP
  rustc-ice-2024-12-17T15_45_54-6125.txt
  rustc-ice-2024-12-17T15_46_27-6146.txt
  rustc-ice-2024-12-17T15_46_47-6151.txt
  rustc-ice-2024-12-17T15_47_00-6158.txt
Due: none

[no ci] WIP
  crates/sargon/src/factor_instances_provider/factor_instances_cache/factor_instances_cache.rs
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider.rs
  crates/sargon/src/factor_instances_provider/provider/provider_adopters/cache_filler.rs
  crates/sargon/src/system/clients/client/factor_instances_cache_client.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  crates/sargon/src/system/sargon_os/sargon_os_factors.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Drivers/ArculusCSDK/ArculusCSDK.swift
  crates/sargon/src/system/clients/client/arculus_wallet_client/arculus_wallet_client_io.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

bump
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

[no ci] WIP
  crates/sargon/src/factor_instances_provider/provider/factor_instances_provider.rs
Due: fmt, clippy, unit tests

Revert "bump"
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

Transaction Analysis allow unknown accounts (#307)
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
  crates/sargon/src/signing/collector/extractor_of_instances_required_to_sign_transactions.rs
  crates/sargon/src/signing/collector/signatures_collector.rs
  crates/sargon/src/signing/extractor_of_entities_requiring_auth.rs
  crates/sargon/src/system/sargon_os/sargon_os_signing.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
Due: fmt, clippy, unit tests
