Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

      - id: doc tests
        name: doc tests
        language: system
        types: [file, rust]
        entry: cargo test --doc
        pass_filenames: false

      - id: vectors integration tests
        name: vectors integration tests
        language: system
        types: [file, rust]
        entry: cargo test --package sargon --test vectors
        pass_filenames: false

      - id: swift tests
        name: swift tests
        language: system
        types_or: [rust, swift]
        entry: ./scripts/ios/test.sh --testonly # no code coverage
        pass_filenames: false

      - id: kotlin tests
        name: kotlin (jvm) tests
        language: system
        types_or: [rust, kotlin]
        entry: ./jvm/gradlew -p jvm/sargon-android koverVerifyDebug
        pass_filenames: false

fix test
  src/core/types/bag_of_bytes.rs
  src/core/types/exactly_n_bytes.rs
  src/core/types/mod.rs
  src/core/types/non_empty_max_n_bytes.rs
  src/core/types/secret_bytes.rs
  src/hierarchical_deterministic/bip39/bip39_entropy.rs
  src/hierarchical_deterministic/bip39/bip39_seed.rs
  src/hierarchical_deterministic/bip39/bip39_word/bip39_word.rs
  src/hierarchical_deterministic/bip39/mnemonic.rs
  src/wallet/wallet.rs
  src/wallet/wallet_accounts.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  src/core/hash.rs
  src/core/types/bag_of_bytes.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

fixes
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PrivateHierarchicalDeterministicFactorSource.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/WalletTest.kt
  src/hierarchical_deterministic/bip39/bip39_entropy.rs
  src/hierarchical_deterministic/bip39/bip39_seed.rs
  src/profile/logic/profile_next_derivation.rs
  src/profile/v100/entity/account/account.rs
  src/profile/v100/entity/persona/persona.rs
  src/profile/v100/factors/factor_source_id_from_hash.rs
  src/profile/v100/factors/factor_sources/device_factor_source/device_factor_source.rs
  src/profile/v100/factors/factor_sources/private_hierarchical_deterministic_factor_source.rs
  src/profile/v100/factors/hierarchical_deterministic_factor_instance.rs
  src/wallet/wallet.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

remove repr(C)
  src/core/types/secret_bytes.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

tests
  src/core/types/bag_of_bytes.rs
  src/core/types/non_empty_max_n_bytes.rs
  src/hierarchical_deterministic/bip39/bip39_entropy.rs
  src/hierarchical_deterministic/bip39/bip39_passphrase.rs
  src/hierarchical_deterministic/bip39/bip39_word/bip39_word.rs
  src/hierarchical_deterministic/bip39/bip39_word/u11.rs
  src/hierarchical_deterministic/bip39/mnemonic.rs
  src/hierarchical_deterministic/cap26/cap26_path/cap26_path.rs
  src/hierarchical_deterministic/derivation/derivation_path.rs
  src/hierarchical_deterministic/derivation/mnemonic_with_passphrase.rs
  src/profile/v100/factors/factor_sources/private_hierarchical_deterministic_factor_source.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

revert *
  src/core/types/bag_of_bytes_uniffi_fn.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

simplify
  src/core/types/non_empty_max_n_bytes.rs
  src/core/types/secret_bytes.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

fix typo
  src/hierarchical_deterministic/bip39/bip39_entropy.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Create SupportedCurves and OtherGateways through macro
  src/core/error/common_error.rs
  src/core/types/keys/slip10_curve.rs
  src/profile/v100/app_preferences/gateways/gateway.rs
  src/profile/v100/app_preferences/gateways/gateways.rs
  src/profile/v100/factors/factor_source_crypto_parameters.rs
  src/profile/v100/factors/factor_sources/factor_sources.rs
  src/profile/v100/identified_elements.rs
  src/profile/v100/networks/network/accounts.rs
  src/profile/v100/networks/network/authorized_dapps.rs
  src/profile/v100/networks/network/personas.rs
  src/profile/v100/networks/network/profile_network.rs
  src/profile/v100/networks/profile_networks.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Create SupportedCurves and OtherGateways through macro (#82)
  src/core/error/common_error.rs
  src/core/types/keys/slip10_curve.rs
  src/profile/v100/app_preferences/gateways/gateway.rs
  src/profile/v100/app_preferences/gateways/gateways.rs
  src/profile/v100/factors/factor_source_crypto_parameters.rs
  src/profile/v100/factors/factor_sources/factor_sources.rs
  src/profile/v100/identified_elements.rs
  src/profile/v100/networks/network/accounts.rs
  src/profile/v100/networks/network/authorized_dapps.rs
  src/profile/v100/networks/network/personas.rs
  src/profile/v100/networks/network/profile_network.rs
  src/profile/v100/networks/profile_networks.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

WIP
  apple/Sources/Sargon/Extensions/Methods/Profile/Accounts+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/AuthorizedDapps+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/Accounts+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/AuthorizedDapps+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/EntityFlags+Wrap+Function.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/FactorSources+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/P2PLinks+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/Personas+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/ProfileNetworks+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/EntityFlags+Wrap+Function.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/FactorSources+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/P2PLinks+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Personas+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/ProfileNetworks+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/AuthorizedDapp/AuthorizedDapp+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Persona/Persona+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/AuthorizedDapp/AuthorizedDapp+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/AuthorizedDapp/AuthorizedDapps+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/P2PLink+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Persona/Persona+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/ProfileNetwork+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/ProfileNetworks+Swiftified.swift
  apple/Sources/Sargon/Protocols/Collection/BaseIdentifiedCollection.swift
  apple/Sources/Sargon/Protocols/Collection/CanBeEmptyIdentifiedCollection.swift
  apple/Sources/Sargon/Protocols/Collection/NeverEmptyIdentifiedCollection.swift
  apple/Tests/TestCases/Profile/Account/AccountTests.swift
  apple/Tests/TestCases/Profile/Account/AppearanceIDTests.swift
  apple/Tests/TestCases/Profile/Account/ThirdPartyDepositsTests.swift
  apple/Tests/TestCases/Profile/Gateway/GatewayTests.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/AuthorisedDappSample.kt
  src/core/types/identified_vec_via.rs
  src/profile/v100/app_preferences/p2p_links/p2p_link.rs
  src/profile/v100/entity/persona/persona.rs
  src/profile/v100/entity/persona/persona_uniffi_fn.rs
  src/profile/v100/factors/factor_sources/factor_sources.rs
  src/profile/v100/identified_elements.rs
  src/profile/v100/networks/network/accounts.rs
  src/profile/v100/networks/network/authorized_dapp/authorized_dapp_uniffi_fn.rs
  src/wallet/wallet_accounts.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

fix some kotlin stuff
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Accounts.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AuthorisedDapps.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSources.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Personas.kt
Due: kotlin tests

fix test
  src/profile/v100/app_preferences/p2p_links/p2p_links.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Revert; New profile is not created with any ProfileNetworks - ProfileNetworks can now be empty.
  .tarpaulin.toml
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/Accounts+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/AuthorizedDapps+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/EntityFlags+Wrap+Function.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/P2PLinks+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/Personas+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/ProfileNetworks+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Account/EntityFlag+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/Accounts+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/AuthorizedDapps+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/EntityFlags+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/FactorSources+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/Personas+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/ProfileNetworks+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/ProfileNetwork+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/AuthorizedDapp/AuthorizedDapp+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/EntityFlag+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/ProfileNetwork+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/ProfileNetworks+Swiftified.swift
  apple/Sources/Sargon/Protocols/Collection/BaseIdentifiedCollection.swift
  apple/Sources/Sargon/Protocols/Collection/CanBeEmptyIdentifiedCollection.swift
  apple/Sources/Sargon/Protocols/Collection/NeverEmptyIdentifiedCollection.swift
  apple/Tests/TestCases/Profile/AuthorizedDapp/AuthorizedDappTests.swift
  apple/Tests/TestCases/Profile/Collection/AccountsTests.swift
  apple/Tests/TestCases/Profile/Persona/PersonaTests.swift
  apple/Tests/Utils/Collection/BaseIdentifiedCollectionTests.swift
  src/profile/v100/entity/entity_flags.rs
  src/profile/v100/factors/factor_sources/factor_sources.rs
  src/profile/v100/identified_elements.rs
  src/profile/v100/networks/network/mod.rs
  src/profile/v100/networks/network/profile_network_uniffi_fn.rs
  src/profile/v100/networks/profile_networks.rs
  src/profile/v100/profile.rs
  src/wallet/wallet_accounts.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

ensure that BIP44 paths can be decoded in DerivationPath even though they were incorrectly marked CAP26 (android bug)
  src/hierarchical_deterministic/derivation/derivation_path.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Throw error when JSON deser empty collection for collections which cannot be empty
  src/profile/v100/factors/factor_sources/factor_sources.rs
  src/profile/v100/identified_elements.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Implement more kotlin extensions on identified elements
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Accounts.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AuthorisedDapps.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DerivationPath.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/EntityFlags.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSource.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSourceId.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSources.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Gateway.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Gateways.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Networks.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/OtherGateways.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2PLinks.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2oLink.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Personas.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/EntityFlagsSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/GatewaySample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/OtherGatewaysSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/P2PLinkSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/P2PLinksSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/PersonaSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ProfileNetworkSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ProfileNetworksSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DerivationPathTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/EntityFlagsTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourceIdTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourceTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourcesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NetworksTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/OtherGatewaysTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/P2PLinksTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PersonasTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/WalletTest.kt
Due: kotlin tests

Put back assertion of empty networks
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/WalletTest.kt
Due: kotlin tests

Some extension methods on Identified elements (#83)
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Accounts.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AuthorisedDapps.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DerivationPath.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/EntityFlags.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSource.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSourceId.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSources.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Gateway.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Gateways.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Networks.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/OtherGateways.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2PLinks.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/P2oLink.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Personas.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/EntityFlagsSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/GatewaySample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/OtherGatewaysSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/P2PLinkSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/P2PLinksSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/PersonaSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ProfileNetworkSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ProfileNetworksSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DerivationPathTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/EntityFlagsTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourceIdTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourceTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourcesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NetworksTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/OtherGatewaysTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/P2PLinksTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PersonasTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/WalletTest.kt
Due: kotlin tests

more rust tests - move declaration of identified collections out to their corresponding files.
  src/hierarchical_deterministic/derivation/derivation_path.rs
  src/profile/v100/app_preferences/gateways/gateways.rs
  src/profile/v100/app_preferences/p2p_links/p2p_links.rs
  src/profile/v100/entity/entity_flags.rs
  src/profile/v100/factors/factor_source_crypto_parameters.rs
  src/profile/v100/factors/factor_sources/factor_sources.rs
  src/profile/v100/identified_elements.rs
  src/profile/v100/mod.rs
  src/profile/v100/networks/network/accounts.rs
  src/profile/v100/networks/network/authorized_dapps.rs
  src/profile/v100/networks/network/personas.rs
  src/profile/v100/networks/profile_networks.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

fixes to macro imports
  src/profile/v100/app_preferences/gateways/gateways.rs
  src/profile/v100/app_preferences/p2p_links/p2p_links.rs
  src/profile/v100/entity/entity_flags.rs
  src/profile/v100/factors/factor_source_crypto_parameters.rs
  src/profile/v100/factors/factor_sources/factor_sources.rs
  src/profile/v100/identified_elements.rs
  src/profile/v100/mod.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

format
  src/profile/v100/identified_elements.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

moar tests
  apple/Tests/TestCases/Profile/FactorSource/FactorSourceTests.swift
  src/core/types/identified_vec_via.rs
  src/profile/v100/entity/persona/persona.rs
  src/profile/v100/identified_elements.rs
  src/profile/v100/networks/network/profile_network.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Working AES encryption and decryption
  Cargo.lock
  Cargo.toml
  fixtures/vector/multi_profile_snapshots_test_version_100_patch_after_app_version_120.json
  src/core/error/common_error.rs
  src/core/types/exactly_n_bytes.rs
  src/profile/encrypted/encrypted_profile_snapshot.rs
  src/profile/encrypted/encryption_scheme.rs
  src/profile/encrypted/mod.rs
  src/profile/encrypted/password_based_key_derivation_scheme.rs
  src/profile/encrypted/versioned_algorithm.rs
  src/profile/encrypted/versioned_encryption.rs
  src/profile/mod.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

JSON test of EncryptionScheme
  src/profile/encrypted/encryption_scheme.rs
  src/profile/encrypted/versioned_encryption.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Exported uniffi methods
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DerivationPath.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Mnemonic.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Slip10Curve.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/PersonaDataSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DerivationPathTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/MnemonicTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Slip10CurveTest.kt
  src/core/error/common_error.rs
  src/core/types/keys/mod.rs
  src/core/types/keys/slip10_curve.rs
  src/core/types/keys/slip10_curve_uniffi_fn.rs
  src/hierarchical_deterministic/bip39/mnemonic.rs
  src/hierarchical_deterministic/bip39/mnemonic_uniffi_fn.rs
  src/hierarchical_deterministic/bip44/bip44_like_path_uniffi_fn.rs
  src/profile/v100/entity/persona/persona_data/mod.rs
  src/profile/v100/entity/persona/persona_data/persona_data.rs
  src/profile/v100/entity/persona/persona_data/persona_data_identified_entry_types.rs
  src/profile/v100/entity/persona/persona_data/persona_data_uniffi_fn.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

PR comments
  src/core/types/keys/slip10_curve.rs
  src/hierarchical_deterministic/bip39/mnemonic_uniffi_fn.rs
  src/profile/v100/entity/persona/persona_data/persona_data_identified_entry_types.rs
  src/profile/v100/entity/persona/persona_data/persona_data_uniffi_fn.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Some more exported uniffi methods (#84)
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DerivationPath.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Mnemonic.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Slip10Curve.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/PersonaDataSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DerivationPathTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/MnemonicTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Slip10CurveTest.kt
  src/core/error/common_error.rs
  src/core/types/keys/mod.rs
  src/core/types/keys/slip10_curve.rs
  src/core/types/keys/slip10_curve_uniffi_fn.rs
  src/hierarchical_deterministic/bip39/mnemonic.rs
  src/hierarchical_deterministic/bip39/mnemonic_uniffi_fn.rs
  src/hierarchical_deterministic/bip44/bip44_like_path_uniffi_fn.rs
  src/profile/v100/entity/persona/persona_data/mod.rs
  src/profile/v100/entity/persona/persona_data/persona_data.rs
  src/profile/v100/entity/persona/persona_data/persona_data_identified_entry_types.rs
  src/profile/v100/entity/persona/persona_data/persona_data_uniffi_fn.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

KDF
  Cargo.lock
  Cargo.toml
  apple/Tests/TestCases/Profile/Collection/AccountsTests.swift
  src/profile/encrypted/password_based_key_derivation_scheme.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

wip
  tests/vectors/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

working encryption and decryption of profile
  fixtures/vector/profile_encrypted_by_password_empty.json
  fixtures/vector/profile_encrypted_by_password_of_babylon.json
  src/core/assert_json.rs
  src/core/types/exactly_n_bytes.rs
  src/profile/encrypted/encrypted_profile_snapshot.rs
  src/profile/encrypted/encryption_scheme.rs
  src/profile/encrypted/password_based_key_derivation_scheme.rs
  src/profile/encrypted/versioned_encryption.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Expose identity and account cap26 path creation
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSources.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SupportedCurves.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourcesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SupportedCurvesTest.kt
  src/hierarchical_deterministic/cap26/cap26_path/cap26_path_uniffi_fn.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Make Sargon Swift build for release - also ensure we ASSERT that we can build for release part of CD.
  Cargo.lock
  Cargo.toml
  Package.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/Decimal192+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/Address+Swiftified.swift
  apple/Sources/Sargon/Protocols/AddressProtocol.swift
  apple/Sources/Sargon/Protocols/EntityProtocol.swift
  scripts/ios/release.sh
Due: ensure Swift setup for local development, swift tests

Make Sargon Swift build for release - also ensure we ASSERT that we c… (#87)
  Cargo.lock
  Cargo.toml
  Package.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/Decimal192+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/Address+Swiftified.swift
  apple/Sources/Sargon/Protocols/AddressProtocol.swift
  apple/Sources/Sargon/Protocols/EntityProtocol.swift
  scripts/ios/release.sh
Due: ensure Swift setup for local development, swift tests

Expose identity and account cap26 path creation (#86)
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSources.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SupportedCurves.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourcesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SupportedCurvesTest.kt
  src/hierarchical_deterministic/cap26/cap26_path/cap26_path_uniffi_fn.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests
