Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

ensure Swift not changed to local development:
  name: ensure Swift not changed to local development
  language: system
  entry: ./scripts/ios/ensure-not-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

doc tests:
  name: doc tests
  language: system
  entry: cargo test --doc
  pass_filenames: false

vectors integration tests:
  name: vectors integration tests
  language: system
  entry: cargo test --package sargon --test vectors
  pass_filenames: false

uniffi bindgen tests:
  name: uniffi bindgen tests
  language: system
  entry: bash -c 'exec env CLASSPATH="$PWD/jna-5.13.0.jar"' && bash -c 'exec env JAVA_OPTS="-Xmx8g"' && cargo test --package sargon --test uniffi
  pass_filenames: false

Expose functions for local and global ids
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NonFungibleGlobalId.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NonFungibleLocalId.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NonFungibleGlobalIdTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NonFungibleLocalIdTest.kt
  src/hierarchical_deterministic/.DS_Store
  src/profile/v100/address/mod.rs
  src/profile/v100/address/non_fungible_global_id_uniffi_fn.rs
  src/profile/v100/address/non_fungible_local_id.rs
  src/profile/v100/address/non_fungible_local_id_uniffi_fn.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Rename methods in Kotlin
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NetworkId.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NonFungibleGlobalId.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NonFungibleLocalId.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NetworkIdTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NonFungibleGlobalIdTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NonFungibleLocalIdTest.kt
Due: none

Add extensions for Legacy olympia account address and samples for non fungible local id
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AccountAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/LegacyOlympiaAccountAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/LegacyOlympiaAccountAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/NonFungibleLocalIdSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/LegacyOlympiaAccountAddressTest.kt
Due: none

Exactly N bytes
  apple/Sources/Sargon/Extensions/Methods/Crypto/Hash+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/Bytes/Exactly29Bytes+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/Bytes/Exactly32Bytes+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/Bytes/Exactly33Bytes+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/Bytes/Exactly64Bytes+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/Bytes/Exactly65Bytes+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/Bytes/BagOfBytes+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/Bytes/Exactly29Bytes+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/Bytes/Exactly32Bytes+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/Bytes/Exactly33Bytes+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/Bytes/Exactly64Bytes+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/Bytes/Exactly65Bytes+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/PublicKeyHash+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/Bytes/Exactly29Bytes+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/Bytes/Exactly32Bytes+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/Bytes/Exactly33Bytes+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/Bytes/Exactly64Bytes+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/Bytes/Exactly65Bytes+Swiftified.swift
  apple/Sources/Sargon/Protocols/BinaryProtocol.swift
  apple/Sources/Sargon/Protocols/ExactlyNBytesProtocol.swift
  apple/Sources/Sargon/Protocols/PublicKeyProtocol.swift
  apple/Tests/TestCases/Crypto/HashTests.swift
  apple/Tests/TestCases/Crypto/PublicKeyHashTests.swift
  apple/Tests/TestCases/Prelude/Bytes/BagOfBytesTests.swift
  apple/Tests/TestCases/Prelude/Bytes/DataTests.swift
  apple/Tests/TestCases/Prelude/Bytes/ExactlyNBytesTests.swift
  apple/Tests/Utils/BinaryProtocolTests.swift
  src/core/hash.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

swift resource isXRD
  apple/Sources/Sargon/Extensions/Methods/Address/LegacyOlympiaAccountAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/ResourceAddress+Swiftified.swift
  apple/Sources/Sargon/Protocols/AddressProtocol.swift
  apple/Tests/TestCases/Address/ResourceAddressTests.swift
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  apple/Tests/Utils/AddressProtocolTests.swift
Due: ensure Swift not changed to local development

Pr comment fixes
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DerivationPath.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NonFungibleGlobalId.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/NonFungibleGlobalIdSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/NonFungibleLocalIdSample.kt
  src/hierarchical_deterministic/bip44/bip44_like_path_uniffi_fn.rs
  src/hierarchical_deterministic/cap26/cap26_path/cap26_path_uniffi_fn.rs
  src/profile/v100/address/non_fungible_global_id_uniffi_fn.rs
  src/profile/v100/address/non_fungible_local_id.rs
  src/profile/v100/address/non_fungible_local_id_uniffi_fn.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

More functions exposed (#37)
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AccountAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DerivationPath.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/LegacyOlympiaAccountAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NetworkId.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NonFungibleGlobalId.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NonFungibleLocalId.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/DerivationPathSamples.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/LegacyOlympiaAccountAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/NonFungibleGlobalIdSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/NonFungibleLocalIdSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/StakeClaimSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ThirdPartyDepositSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/TransactionManifestSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DerivationPathTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/LegacyOlympiaAccountAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NetworkIdTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NonFungibleGlobalIdTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NonFungibleLocalIdTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
  src/hierarchical_deterministic/.DS_Store
  src/hierarchical_deterministic/bip44/bip44_like_path_uniffi_fn.rs
  src/hierarchical_deterministic/bip44/mod.rs
  src/hierarchical_deterministic/cap26/cap26_path/cap26_path_uniffi_fn.rs
  src/hierarchical_deterministic/cap26/cap26_path/mod.rs
  src/profile/v100/address/mod.rs
  src/profile/v100/address/non_fungible_global_id_uniffi_fn.rs
  src/profile/v100/address/non_fungible_local_id.rs
  src/profile/v100/address/non_fungible_local_id_uniffi_fn.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

WIP BuildInformation
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/SargonBuildInformation+Swiftified.swift
  apple/Tests/TestCases/RET/Misc/BuildInformationTests.swift
Due: ensure Swift not changed to local development

More tests
  apple/Sources/Sargon/Protocols/BinaryProtocol.swift
  apple/Tests/TestCases/Crypto/AccountPathTests.swift
  apple/Tests/TestCases/Crypto/BIP44LikePathTests.swift
  apple/Tests/TestCases/Crypto/CAP26PathTests.swift
  apple/Tests/TestCases/Crypto/HashTests.swift
  apple/Tests/TestCases/Crypto/IdentityPathTests.swift
  apple/Tests/TestCases/Prelude/Bytes/DataTests.swift
  src/core/hash.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

readme
  README.md
Due: none

WIP
  README.md
Due: none

Flag badges in README (#39)
  README.md
Due: none

IDs
  apple/Sources/Sargon/Extensions/Methods/Address/AccessControllerAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/AccountAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/ComponentAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/IdentityAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/NonFungibleResourceAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/PackageAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/PoolAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/ResourceAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/ValidatorAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/VaultAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/NonFungibleGlobalID+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/NonFungibleLocalID+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/NonFungibleLocalIDString+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/Blobs+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/NonFungibleGlobalID+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/NonFungibleLocalID+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/NonFungibleLocalIDString+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/AccessControllerAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/AccountAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/ComponentAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/IdentityAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/NonFungibleResourceAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/PackageAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/PoolAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/ResourceAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/ValidatorAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/VaultAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/NonFungibleGlobalID+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/NonFungibleLocalIDString+Swiftified.swift
  apple/Sources/Sargon/Protocols/AddressProtocol.swift
  apple/Tests/TestCases/Prelude/NonFungibleGlobalIDTests.swift
  apple/Tests/TestCases/Prelude/NonFungibleLocalIDStringTests.swift
  apple/Tests/TestCases/Prelude/NonFungibleLocalIDTests.swift
  apple/Tests/TestCases/RET/BlobsTests.swift
  apple/Tests/Utils/AddressProtocolTests.swift
  src/profile/v100/address/non_fungible_global_id.rs
  src/profile/v100/address/non_fungible_local_id_string.rs
  src/profile/v100/address/non_fungible_resource_address.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

TransactionManifest methods
  apple/Sources/Sargon/Extensions/Methods/RET/IntentSignature+Wrap+Function.swift
  apple/Sources/Sargon/Extensions/Methods/RET/TransactionManifest+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/SignatureWithPublicKey+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/RET/IntentSignature+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/SignatureWithPublicKey+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/NetworkID+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/IntentSignature+Swiftified.swift
  apple/Tests/TestCases/Address/AccountAddressTests.swift
  apple/Tests/TestCases/Crypto/SignatureWithPublicKeyTests.swift
  apple/Tests/TestCases/RET/IntentSignatureTests.swift
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  apple/Tests/TestCases/RET/TransactionManifestTests.swift
  src/core/types/signatures/mod.rs
  src/core/types/signatures/signature_with_public_key.rs
  src/core/types/signatures/signature_with_public_key_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/low_level/intent_signature_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/low_level/mod.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest_uniffi_fn.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Nonce
  apple/Sources/Sargon/Extensions/Methods/Crypto/Nonce+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Nonce+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Nonce+Swiftified.swift
  apple/Tests/TestCases/Crypto/NonceTests.swift
  src/core/types/mod.rs
  src/core/types/nonce.rs
  src/core/types/nonce_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/execution_summary.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Manual UniFFI conversion test for Nonce
  src/core/types/nonce.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Nonce & remame Execution summary deposits/withdrawals (#41)
  apple/Sources/Sargon/Extensions/Methods/Crypto/Nonce+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Nonce+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Nonce+Swiftified.swift
  apple/Tests/TestCases/Crypto/NonceTests.swift
  src/core/types/mod.rs
  src/core/types/nonce.rs
  src/core/types/nonce_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary/execution_summary.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

FAIL TEST WIP: hashed
  apple/Sources/Sargon/Extensions/Methods/Crypto/Hash/Hash+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Hash/IntentHash+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Hash/SignedIntentHash+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/NonFungibleGlobalID+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/SignedIntent+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Hash/Hash+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Hash/IntentHash+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Hash/SignedIntentHash+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/RET/SignedIntent+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Hash/Hash+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Hash/IntentHash+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Hash/SignedIntentHash+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/NonFungibleGlobalID+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/SignedIntent+Swiftified.swift
  apple/Tests/TestCases/RET/SignedIntentTests.swift
  src/core/hash_uniffi_fn.rs
  src/core/mod.rs
  src/profile/v100/address/non_fungible_global_id_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/low_level/mod.rs
  src/wrapped_radix_engine_toolkit/low_level/signed_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/signed_intent_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/intent_hash.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/intent_hash_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/mod.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/signed_intent_hash.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/signed_intent_hash_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/transaction_hashes.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

tests
  apple/Tests/TestCases/Crypto/HashTests.swift
  apple/Tests/TestCases/Crypto/IntentHashTests.swift
  apple/Tests/TestCases/Crypto/SignedIntentHashTests.swift
  apple/Tests/TestCases/Prelude/NonFungibleGlobalIDTests.swift
  src/wrapped_radix_engine_toolkit/low_level/signed_intent_uniffi_fn.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

more tests
  src/profile/v100/address/non_fungible_global_id_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/signed_intent_hash_uniffi_fn.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

bump uniffi
  Cargo.lock
  Cargo.toml
Due: none

Hash+Export (#42)
  apple/Sources/Sargon/Extensions/Methods/Crypto/Hash/Hash+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Hash/IntentHash+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Hash/SignedIntentHash+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/NonFungibleGlobalID+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/SignedIntent+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Hash/Hash+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Hash/IntentHash+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Hash/SignedIntentHash+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/RET/SignedIntent+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Hash/Hash+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Hash/IntentHash+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Hash/SignedIntentHash+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/NonFungibleGlobalID+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/SignedIntent+Swiftified.swift
  apple/Tests/TestCases/Crypto/HashTests.swift
  apple/Tests/TestCases/Crypto/IntentHashTests.swift
  apple/Tests/TestCases/Crypto/SignedIntentHashTests.swift
  apple/Tests/TestCases/Prelude/NonFungibleGlobalIDTests.swift
  apple/Tests/TestCases/RET/SignedIntentTests.swift
  src/core/hash_uniffi_fn.rs
  src/core/mod.rs
  src/profile/v100/address/non_fungible_global_id_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/low_level/mod.rs
  src/wrapped_radix_engine_toolkit/low_level/signed_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/signed_intent_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/intent_hash.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/intent_hash_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/mod.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/signed_intent_hash.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/signed_intent_hash_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/transaction_hashes.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

bump uniffi to 0.27.0 (#43)
  Cargo.lock
  Cargo.toml
Due: none

More tests
  apple/Sources/Sargon/Extensions/Methods/RET/CompiledNotarizedIntent+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/NotarizedTransaction+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/NotarySignature+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/TransactionIntent+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/RET/TransactionIntent+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/CompiledNotarizedIntent+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/TransactionIntent+Swiftified.swift
  apple/Tests/TestCases/RET/CompiledNotarizedIntentTests.swift
  apple/Tests/TestCases/RET/NotarizedTransactionTests.swift
  apple/Tests/TestCases/RET/NotarySignatureTests.swift
  apple/Tests/TestCases/RET/TransactionIntentTests.swift
  src/wrapped_radix_engine_toolkit/low_level/notarized_transaction.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Swift Only: Avoid unsafe flags in SPM for release.
  Package.swift
Due: ensure Swift not changed to local development

Path conditions:
  ensure Swift not changed to local development: any of: \.swift$
  fmt: any of: \.rs$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
  doc tests: any of: \.rs$
  vectors integration tests: any of: \.rs$
  uniffi bindgen tests: any of: \.rs$
