Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.17.2
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift not changed to local development
        name: ensure Swift not changed to local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-not-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

      - id: doc tests
        name: doc tests
        language: system
        types: [file, rust]
        entry: cargo test --doc
        pass_filenames: false

      - id: vectors integration tests
        name: vectors integration tests
        language: system
        types: [file, rust]
        entry: cargo test --package sargon --test vectors
        pass_filenames: false

      - id: uniffi bindgen tests
        name: uniffi bindgen tests
        language: system
        types: [file, rust]
        entry: bash -c 'exec env CLASSPATH="$PWD/jna-5.13.0.jar"' && bash -c 'exec env JAVA_OPTS="-Xmx8g"' && cargo test --package sargon --test uniffi
        pass_filenames: false

Revert code cov step to run on Ubuntu... awaiting macOS support.
  .github/workflows/test.yml
Due: none

try to fix swift tests
  .github/workflows/test.yml
Due: none

test fix kotlin
  .github/workflows/test.yml
Due: none

Remove Nextest, since it did not support running doc test, parallize Swift, Kotlin, Rust test and Code coverage. Switch code coverage to run on MacOS runner, using GH secret.
  .github/workflows/test.yml
Due: none

update README, change to use testDebugUnitTest for running tests
  .github/workflows/test.yml
  .pre-commit-config.yaml
  README.md
  jvm/Package.swift
  scripts/ios/build-sargon.sh
  src/core/types/keys/ed25519/public_key.rs
  src/core/types/keys/secp256k1/public_key.rs
  src/profile/v100/factors/factor_sources/private_hierarchical_deterministic_factor_source.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Add typos to CI
  .github/workflows/test.yml
Due: none

BROKEN WIP: swift tests
  apple/Sources/Sargon/Extensions/Methods/Addresses+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Ed25519PublicKey+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/AccessControllerAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Ed25519PublicKey+Swiftified.swift
  apple/Sources/Sargon/SargonModel.swift
  apple/Tests/SargonTests/AccountAddressTests.swift
  apple/Tests/SargonTests/Ed25519PublicKeyTests.swift
Due: ensure Swift not changed to local development

fix broken Kotlin tests, run typos in CI installed via cargo install
  .github/workflows/test.yml
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PublicKey.kt
Due: none

BROKEN WIP Swift tests
  apple/Sources/Sargon/Address.swift
  apple/Sources/Sargon/AddressProtocol.swift
  apple/Sources/Sargon/EntityAddressProtocol.swift
  apple/Sources/Sargon/Extensions/Methods/AccessControllerAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/AccountAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Addresses+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/ComponentAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/IdentityAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/NonFungibleResourceAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/PackageAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/PoolAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/ResourceAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/ValidatorAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/VaultAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/AccessControllerAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/AccountAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/ComponentAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/IdentityAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/NonFungibleResourceAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/PackageAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/PoolAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/ResourceAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/ValidatorAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/VaultAddress+Swiftified.swift
  apple/Sources/Sargon/SargonModel.swift
  apple/Tests/SargonTests/Ed25519PublicKeyTests.swift
  apple/Tests/SargonTests/TestCases/AccountAddressTests.swift
  apple/Tests/SargonTests/TestCases/Ed25519PublicKeyTests.swift
  apple/Tests/SargonTests/TestCases/ProfileTests.swift
  apple/Tests/SargonTests/Utils/TestSargonModel.swift
Due: ensure Swift not changed to local development

dont wait for typos to run check
  .github/workflows/test.yml
Due: none

sample values and uniffi functoins
  apple/Sources/Sargon/Extensions/Methods/Crypto/Ed25519PublicKey+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Decimal192+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/NetworkID+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Ed25519PublicKey+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Mnemonic+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Decimal192+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/DisplayName+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Mnemonic+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/NetworkID+Swiftified.swift
  src/core/types/decimal192.rs
  src/core/types/decimal192_uniffi_fn.rs
  src/core/types/mod.rs
  src/hierarchical_deterministic/bip39/mnemonic_uniffi_fn.rs
  src/hierarchical_deterministic/bip39/mod.rs
  src/profile/v100/entity/display_name.rs
  src/profile/v100/entity/display_name_uniffi_fn.rs
  src/profile/v100/entity/mod.rs
  src/profile/v100/networks/network/mod.rs
  src/profile/v100/networks/network/network_id_uniffi_fn.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

broken WIP
  apple/Sources/Sargon/Extensions/Methods/Crypto/Secp256k1PublicKey+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Ed25519PublicKey+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Secp256k1PublicKey+Swiftified.swift
  apple/Sources/Sargon/Protocols/AddressProtocol.swift
  apple/Sources/Sargon/Protocols/EntityAddressProtocol.swift
  apple/Sources/Sargon/Protocols/PublicKeyProtocol.swift
  apple/Sources/Sargon/Protocols/SargonModel.swift
  apple/Sources/Sargon/Util/Data+Hex.swift
  apple/Tests/SargonTests/TestCases/Crypto/Ed25519PublicKeyTests.swift
  apple/Tests/SargonTests/TestCases/Crypto/Secp256k1PublicKeyTests.swift
  apple/Tests/SargonTests/TestCases/Ed25519PublicKeyTests.swift
  apple/Tests/SargonTests/Utils/AddressTests.swift
  apple/Tests/SargonTests/Utils/PublicKeyTests.swift
  src/core/types/keys/secp256k1/public_key.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

BROKEN WIP: working on Secp256k1 uncompressed
  apple/Sources/Sargon/Extensions/Methods/Crypto/Secp256k1PublicKey+Wrap+Functions.swift
  apple/Tests/SargonTests/TestCases/Crypto/Secp256k1PublicKeyTests.swift
  src/core/types/decimal192.rs
  src/core/types/decimal192_uniffi_fn.rs
  src/core/types/keys/secp256k1/mod.rs
  src/core/types/keys/secp256k1/public_key.rs
  src/core/types/keys/secp256k1/public_key_uniffi_fn.rs
  src/profile/v100/entity/account/on_ledger_settings/third_party_deposits/third_party_deposits.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/third_party_deposit_update/third_party_deposits_delta.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

PublicKey compressed / uncompressed
  src/core/types/keys/secp256k1/public_key.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

more swift tests of secp256k1
  apple/Tests/SargonTests/TestCases/Crypto/Secp256k1PublicKeyTests.swift
Due: ensure Swift not changed to local development

UF split
  src/profile/v100/entity/account/appearance_id.rs
  src/profile/v100/entity/account/appearance_id_uniffi_fn.rs
  src/profile/v100/entity/account/mod.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

moar tests
  src/core/types/keys/secp256k1/public_key.rs
  src/core/types/keys/secp256k1/public_key_uniffi_fn.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Fix BuildInformation and create multiple fungible token RET functions that crashed.
  apple/Tests/SargonTests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  apple/Tests/SargonTests/TestCases/RET/Misc/BuildInformationTests.swift
  build.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_create_tokens.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/sample_resource_definition_metadata.json
  src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/build_information/dependency_information.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/build_information/sargon_dependencies.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

increase code coverage
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/address_of_account_or_persona.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

can gen Swift code coverage with command: 'swift test --enable-code-coverage && scripts/ios/gen_code_cov_report.sh', but need to tweak, i.e. exclude UniFFI folder.
  scripts/ios/gen_code_cov_report.sh
Due: none

ignore UniFFI/Sargon.swift from Swift code cov
  scripts/ios/gen_code_cov_report.sh
Due: none

Add more blob extensions
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Blob.kt
Due: none

Add documentation and throws annotations to the rest of the methods
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AccessControllerAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AccountAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AppearanceId.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ComponentAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Decimal192.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DisplayName.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Exactly29Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Exactly32Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Exactly33Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Exactly64Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Exactly65Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Gateways.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/IdentityAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Mnemonic.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NonEmptyMax64Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NonFungibleLocalId.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NonFungibleResourceAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PackageAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PoolAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PrivateHierarchicalDeterministicFactorSource.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PublicKey.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ResourceAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TransactionManifest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ValidatorAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/VaultAddress.kt
Due: none

Remove getOrThrow
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Decimal192.kt
Due: none

Add ceodecov upload task
  .github/workflows/test.yml
Due: none

Add some missing extensions to pub methods
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NetworkId.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NonEmptyMax64Bytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PublicKey.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/AccessControllerAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ComponentAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/Decimal192.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/DisplayNameSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/MnemonicSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/NetworkIdSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/PackageAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/PoolAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/PoolAddressSampleMainnet.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ResourceAddressSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ComponentAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NetworkIdTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PublicKeyTest.kt
Due: none

Add sample testable
  .github/workflows/test.yml
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AccessControllerAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AccountAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AppPreferencesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AppearanceIdTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/BlobsTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ComponentAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Decimal192Test.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/GatewaysTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/HeaderTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/IdentityAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/MnemonicTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NetworkIdTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NonFungibleResourceAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PackageAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PoolAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/RadixConnectPasswordTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ResourceAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SampleTestable.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ValidatorAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/VaultAddressTest.kt
Due: none

Add kover to precommit
  .pre-commit-config.yaml
Due: none

Add kover for Kotlin code coverage
  jvm/build.gradle.kts
  jvm/gradle/libs.versions.toml
  jvm/sargon-android/build.gradle.kts
Due: none

Add tests to all known extensions
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/BagOfBytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/CompiledNotarizedIntent.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Decimal192.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Sargon.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TransactionManifest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/PoolAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ResourceAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ResourceAddressSampleMainnet.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ValidatorAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/VaultAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/utils/KoverIgnore.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AccessControllerAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AccountAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AppearanceIdTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/BagOfBytesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/BlobsTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ComponentAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Decimal192Test.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Exactly32BytesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ExactlyNBytesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/IdentityAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/MnemonicTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NonEmptyMax64BytesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NonFungibleLocalIdTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NonFungibleResourceAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PackageAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PoolAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/RadixConnectPasswordTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ResourceAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SargonBuildInformationTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ValidatorAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/VaultAddressTest.kt
Due: none

Add flags to codecov
  .github/workflows/test.yml
Due: none

Add test for hexToBagOfBytes() method
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/BagOfBytesTest.kt
Due: none
