Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

SwiftFormat:
  name: SwiftFormat
  language: system
  entry: swiftformat .
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

WIP
  Package.resolved
  Package.swift
  apple/Sources/Sargon/Drivers/EntropyProvider/EntropyProvider+RandomData.swift
  apple/Sources/Sargon/Drivers/HostInfo/HostInfoDriver+DeviceInfo.swift
  apple/Sources/Sargon/Drivers/Logging/LoggingDriver+SwiftLog.swift
  apple/Sources/Sargon/Drivers/Networking/NetworkRequest+Swiftified.swift
  apple/Sources/Sargon/Drivers/Networking/NetworkResponse+Swiftified.swift
  apple/Sources/Sargon/Drivers/Networking/NetworkingDriver+URLSession.swift
  apple/Sources/Sargon/Drivers/SecureStorage/SecureStorageDriver+UNSAFE_MOCK.swift
  apple/Sources/Sargon/Extensions/Swiftified/SargonOS+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/SargonOS/BIOS/BIOS+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/SargonOS/Drivers/Drivers+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/SargonOS/SargonOS+Swiftified.swift
  apple/Tests/TestCases/SargonOS/BIOSTests.swift
  apple/Tests/TestCases/SargonOS/DriversTests.swift
  src/system/clients/log_client/log_client.rs
  src/system/drivers/logging_driver/logging_driver.rs
  src/system/mod.rs
  src/system/system.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

WIP
  apple/Sources/Sargon/Drivers/Logging/LoggingDriver+SwiftLog.swift
  apple/Sources/Sargon/Extensions/Swiftified/SargonOS/BIOS/BIOS+Swiftified.swift
  apple/Tests/TestCases/SargonOS/BIOSTests.swift
  apple/Tests/TestCases/SargonOS/SargonOSTests.swift
Due: ensure Swift setup for local development, SwiftFormat

WIP
  apple/Sources/Sargon/Drivers/HostInfo/HostInfoDriver+DeviceInfo.swift
  apple/Tests/TestCases/SargonOS/DriversTests.swift
  src/system/clients/app_secure_storage_client/app_secure_storage_client.rs
  src/system/clients/host_info_client/host_info_client.rs
  src/system/system.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

WIP
  src/system/bios/bios.rs
  src/system/bios/mod.rs
Due: fmt, clippy, unit tests

WIP
  apple/Sources/Sargon/Drivers/Logging/LoggingDriver+SwiftLog.swift
  apple/Sources/Sargon/Extensions/Swiftified/SargonOS/BIOS/BIOS+Swiftified.swift
  apple/Tests/TestCases/SargonOS/SargonOSTests.swift
  src/system/bios/bios.rs
  src/system/mod.rs
  src/system/sargon_os.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

WIP
  src/core/error/common_error.rs
  src/lib.rs
  src/profile/logic/account/mod.rs
  src/system/clients/app_secure_storage_client/app_secure_storage_client.rs
  src/system/clients/app_secure_storage_client/mod.rs
  src/system/clients/entropy_client/entropy_client.rs
  src/system/clients/entropy_client/mod.rs
  src/system/clients/host_info_client/host_info_client.rs
  src/system/clients/host_info_client/mod.rs
  src/system/clients/http_client/http_client.rs
  src/system/clients/http_client/mod.rs
  src/system/clients/log_client/log_client.rs
  src/system/clients/log_client/mod.rs
  src/system/clients/mod.rs
  src/system/drivers/logging_driver/mod.rs
  src/system/mod.rs
  src/system/profile_holder/mod.rs
  src/system/profile_holder/profile_holder.rs
  src/system/sargon_os.rs
Due: fmt, clippy, unit tests

WIP
  src/profile/logic/account/create_account.rs
  src/system/clients/README.md
  src/system/clients/client/app_secure_storage_client/app_secure_storage_client.rs
  src/system/clients/client/app_secure_storage_client/mod.rs
  src/system/clients/client/entropy_client/entropy_client.rs
  src/system/clients/client/entropy_client/mod.rs
  src/system/clients/client/host_info_client/host_info_client.rs
  src/system/clients/client/host_info_client/mod.rs
  src/system/clients/client/http_client/http_client.rs
  src/system/clients/client/http_client/mod.rs
  src/system/clients/client/mod.rs
  src/system/clients/clients.rs
  src/system/drivers/README.md
  src/system/drivers/logging_driver/log_level.rs
  src/system/sargon_os/mod.rs
  src/system/sargon_os/profile_holder.rs
  src/system/sargon_os/sargon_os.rs
  src/system/sargon_os/sargon_os_create_account.rs
  src/system/sargon_os/sargon_os_factors.rs
  src/system/subsystems/README.md
  src/system/subsystems/log_system/log_system.rs
  src/system/subsystems/log_system/mod.rs
  src/system/subsystems/mod.rs
Due: fmt, clippy, unit tests

WIP
  apple/Tests/TestCases/SargonOS/SargonOSTests.swift
  src/system/clients/clients.rs
  src/system/sargon_os/profile_holder.rs
  src/system/sargon_os/sargon_os_create_account.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

WIP
  src/core/error/common_error.rs
  src/system/bios/bios.rs
  src/system/clients/client/app_secure_storage_client/mod.rs
  src/system/clients/client/event_bus_client/event_bus_client.rs
  src/system/clients/client/event_bus_client/mod.rs
  src/system/clients/client/file_system_client/file_system_client.rs
  src/system/clients/client/file_system_client/mod.rs
  src/system/clients/client/mod.rs
  src/system/clients/client/secure_storage_client/mod.rs
  src/system/clients/client/secure_storage_client/secure_storage_client.rs
  src/system/clients/client/unsafe_storage_client/mod.rs
  src/system/clients/client/unsafe_storage_client/unsafe_storage_client.rs
  src/system/clients/clients.rs
  src/system/drivers/drivers.rs
  src/system/drivers/event_bus_driver/event_bus_driver.rs
  src/system/drivers/event_bus_driver/mod.rs
  src/system/drivers/event_bus_driver/support/event.rs
  src/system/drivers/event_bus_driver/support/mod.rs
  src/system/drivers/file_system_driver/file_system_driver.rs
  src/system/drivers/file_system_driver/mod.rs
  src/system/drivers/file_system_driver/support/mod.rs
  src/system/drivers/logging_driver/mod.rs
  src/system/drivers/logging_driver/support/log_level.rs
  src/system/drivers/logging_driver/support/mod.rs
  src/system/drivers/mod.rs
  src/system/drivers/secure_storage_driver/secure_storage_driver.rs
  src/system/drivers/secure_storage_driver/support/test/ephemeral_secure_storage.rs
  src/system/drivers/unsafe_storage_driver/mod.rs
  src/system/drivers/unsafe_storage_driver/support/mod.rs
  src/system/drivers/unsafe_storage_driver/support/test/ephemeral_unsafe_storage.rs
  src/system/drivers/unsafe_storage_driver/support/test/fail_unsafe_storage.rs
  src/system/drivers/unsafe_storage_driver/support/test/mod.rs
  src/system/drivers/unsafe_storage_driver/support/unsafe_storage_key.rs
  src/system/drivers/unsafe_storage_driver/unsafe_storage_driver.rs
  src/system/sargon_os/sargon_os_create_account.rs
Due: fmt, clippy, unit tests

WIP
  apple/Sources/Sargon/Drivers/EventBus/EventBus+AsyncStream.swift
  apple/Sources/Sargon/Drivers/FileSystem/FileSystemDriver+Data+ContentsOf+URL.swift
  apple/Sources/Sargon/Drivers/SecureStorage/SecureStorageDriver+FAKE_SecureStorage_FAKE.swift
  apple/Sources/Sargon/Drivers/UnsafeStorage/UnsafeStorageDriver+UserDefaults.swift
  apple/Sources/Sargon/Extensions/Swiftified/SargonOS/BIOS/BIOS+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/SargonOS/Drivers/Drivers+Swiftified.swift
  apple/Tests/TestCases/Profile/HeaderTests.swift
  apple/Tests/TestCases/SargonOS/BIOSTests.swift
  apple/Tests/TestCases/SargonOS/DriversTests.swift
  apple/Tests/TestCases/SargonOS/SargonOSTests.swift
  src/core/error/common_error.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

WIP
  apple/Sources/Sargon/Drivers/EventBus/EventBus+AsyncStream.swift
  apple/Tests/TestCases/SargonOS/SargonOSTests.swift
  src/system/clients/client/event_bus_client/event_bus_client.rs
  src/system/drivers/event_bus_driver/event_bus_driver.rs
  src/system/drivers/event_bus_driver/support/event.rs
  src/system/sargon_os/sargon_os_create_account.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

WIP
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Profile+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/SargonOS/SargonOS+Swiftified.swift
  apple/Sources/Sargon/OS/OS/OS.swift
  apple/Sources/Sargon/OS/SwiftBIOS/SwiftBIOS.swift
  apple/Tests/TestCases/SargonOS/SargonOSTests.swift
  examples/iOS/Backend/Sources/Planbok/Features/SplashFeature.swift
  examples/iOS/Frontend/PlanbokApp/PlanbokApp.swift
  examples/iOS/Planbok.xcworkspace/xcshareddata/swiftpm/Package.resolved
  src/system/sargon_os/sargon_os_create_account.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

WIP
  apple/Sources/Sargon/Extensions/Swiftified/SargonOS/SargonOS+Swiftified.swift
  apple/Sources/Sargon/OS/OS/OS.swift
  apple/Sources/Sargon/OS/SwiftBIOS/SwiftBIOS.swift
  apple/Sources/Sargon/SargonOS/BIOS+Static+Shared.swift
  apple/Sources/Sargon/SargonOS/SargonOS+SargonOSProtocol.swift
  apple/Sources/Sargon/SargonOS/SargonOS+Static+Shared.swift
  apple/Sources/Sargon/SargonOS/SargonOSProtocol.swift
  apple/Sources/Sargon/SargonOS/TestOS.swift
  apple/Tests/TestCases/SargonOS/BIOSTests.swift
  apple/Tests/TestCases/SargonOS/SargonOSTests.swift
Due: ensure Swift setup for local development, SwiftFormat

WIP
  apple/Sources/Sargon/SargonOS/SargonOS+SargonOSProtocol.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/Keychain.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/WalletHolder.swift
  examples/iOS/Backend/Sources/Planbok/Features/AccountsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/AppFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/CreateAccount/CreateAccountFlowFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/CreateAccount/Steps/NameAccountFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/Onboarding/OnboardingFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/Onboarding/WriteDownMnemonicFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SplashFeature.swift
  examples/iOS/Frontend/PlanbokApp/PlanbokApp.swift
Due: ensure Swift setup for local development, SwiftFormat

WIP
  examples/iOS/Backend/Sources/Planbok/Features/AccountsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/CreateAccount/CreateAccountFlowFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/Onboarding/WriteDownMnemonicFeature.swift
  src/system/sargon_os/sargon_os_factors.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

WIP
  apple/Sources/Sargon/Drivers/EventBus/EventBus+AsyncStream.swift
  apple/Sources/Sargon/SargonOS/BIOS+Static+Shared.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/Keychain.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/CreateAccount/CreateAccountFlowFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/Onboarding/WriteDownMnemonicFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SettingsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SplashFeature.swift
  examples/iOS/Frontend/PlanbokApp/PlanbokApp.swift
  src/profile/logic/profile_next_derivation.rs
  src/system/clients/client/secure_storage_client/secure_storage_client.rs
  src/system/sargon_os/sargon_os.rs
  src/system/sargon_os/sargon_os_factors.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

WIP
  examples/iOS/Backend/Sources/Planbok/Dependencies/AccountsClient.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/MnemonicClient.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/ProfileClient.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/CreateAccount/CreateAccountFlowFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/Onboarding/OnboardingFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/Onboarding/WelcomeFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/Onboarding/WriteDownMnemonicFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SelectGradientFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

WIP
  examples/Playground/.gitignore
  examples/Playground/Package.swift
  examples/Playground/Sources/Playground/Playground.swift
  examples/Playground/Tests/PlaygroundTests/PlaygroundTests.swift
Due: ensure Swift setup for local development, SwiftFormat

WIP
  examples/iOS/Backend/Sources/Planbok/Dependencies/ProfileClient.swift
  examples/iOS/Backend/Sources/Planbok/Features/AccountsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/AppFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/CreateAccount/Steps/NameAccountFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/ImportProfileFlowFeature/ImportProfileFlowFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/ImportProfileFlowFeature/Steps/FileDocument+Profile.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/ImportProfileFlowFeature/Steps/InputDecryptionPasswordFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/ImportProfileFlowFeature/Steps/SelectFileFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/Onboarding/NewOrImportProfileFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/Onboarding/OnboardingFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SettingsFeature.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/LabeledTextField.swift
  examples/iOS/Frontend/PlanbokApp/PlanbokApp.swift
  src/system/sargon_os/mod.rs
  src/system/sargon_os/profile_holder.rs
  src/system/sargon_os/sargon_os.rs
  src/system/sargon_os/sargon_os_factors.rs
  src/system/sargon_os/sargon_os_profile.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

WIP
  examples/iOS/Backend/Sources/Planbok/Features/AppFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

WIP
  examples/iOS/Backend/Sources/Planbok/Features/AccountDetailsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/AccountsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/AccountView.swift
Due: ensure Swift setup for local development, SwiftFormat

WIP
  apple/Sources/Sargon/Drivers/EventBus/EventBus+AsyncStream.swift
  apple/Sources/Sargon/SargonOS/BIOS+Static+Shared.swift
  apple/Sources/Sargon/SargonOS/SargonOS+Static+Shared.swift
  apple/Sources/Sargon/SargonOS/TestOS.swift
  apple/Tests/TestCases/SargonOS/SargonOSTests.swift
  apple/Tests/TestCases/SargonOS/TestOSTests.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/AccountsClient.swift
  examples/iOS/Backend/Sources/Planbok/Dependencies/ProfileClient.swift
  examples/iOS/Backend/Sources/Planbok/Features/AccountDetailsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/AccountsFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/AppFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/CreateAccount/CreateAccountFlowFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/Flows/CreateAccount/Steps/NameAccountFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/MainFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/PreviewAddressesFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SampleValuesFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SelectGradientFeature.swift
  examples/iOS/Backend/Sources/Planbok/Features/SplashFeature.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/AccountView.swift
  examples/iOS/Frontend/PlanbokApp/PlanbokApp.swift
  src/core/error/common_error.rs
  src/profile/logic/account/create_account.rs
  src/profile/v100/factors/factor_sources/private_hierarchical_deterministic_factor_source.rs
  src/system/drivers/event_bus_driver/support/event.rs
  src/system/sargon_os/mod.rs
  src/system/sargon_os/profile_holder.rs
  src/system/sargon_os/sargon_os_accounts.rs
  src/system/sargon_os/sargon_os_create_account.rs
  src/system/sargon_os/sargon_os_factors.rs
  src/system/sargon_os/sargon_os_profile.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

WIP
  examples/iOS/Backend/Sources/Planbok/Features/AccountDetailsFeature.swift
Due: ensure Swift setup for local development, SwiftFormat

WIP
  examples/iOS/Backend/Sources/Planbok/Features/AccountDetailsFeature.swift
  examples/iOS/Backend/Sources/Planbok/View/Views/AccountView.swift
Due: ensure Swift setup for local development, SwiftFormat

WIP
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/Accounts+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/AccountsForDisplay+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/AccountsOrPersonas+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/AssetsExceptionList+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/AuthorizedDapps+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/DepositorsAllowList+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/DetailedAuthorizedPersonas+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/EntityFlags+Wrap+Function.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/FactorSources+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/Gateways+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/P2PLinks+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/Personas+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/ProfileNetworks+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/ReferencesToAuthorizedPersonas+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/SupportedCurves+Wrap+Functions.swift
  apple/Sources/Sargon/Protocols/Collection/BaseIdentifiedCollection.swift
  apple/Sources/Sargon/Protocols/Collection/CanBeEmptyIdentifiedCollection.swift
  apple/Tests/TestCases/Profile/Account/AccountTests.swift
  apple/Tests/TestCases/Profile/Collection/AccountsTests.swift
  apple/Tests/TestCases/Profile/Persona/PersonaTests.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
  apple/Tests/Utils/Collection/BaseIdentifiedCollectionTests.swift
Due: ensure Swift setup for local development, SwiftFormat

PLAN: Remove IdentifiedVecOf use OrderedMap (newtype around IndexMap) instead, this commit replaces EntityFlags from the old identified collection to use OrderMap.
  src/core/types/mod.rs
  src/core/types/ordered_map.rs
  src/profile/v100/entity/account/account.rs
  src/profile/v100/entity/entity_flags.rs
  src/profile/v100/entity/persona/persona.rs
Due: fmt, clippy, unit tests

revert swift sargon changes
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/Accounts+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/AccountsForDisplay+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/AccountsOrPersonas+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/AssetsExceptionList+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/AuthorizedDapps+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/DepositorsAllowList+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/DetailedAuthorizedPersonas+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/EntityFlags+Wrap+Function.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/FactorSources+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/Gateways+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/P2PLinks+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/Personas+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/ProfileNetworks+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/ReferencesToAuthorizedPersonas+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/SupportedCurves+Wrap+Functions.swift
  apple/Sources/Sargon/Protocols/Collection/BaseIdentifiedCollection.swift
  apple/Sources/Sargon/Protocols/Collection/CanBeEmptyIdentifiedCollection.swift
  apple/Tests/TestCases/Profile/Account/AccountTests.swift
  apple/Tests/TestCases/Profile/Collection/AccountsTests.swift
  apple/Tests/TestCases/Profile/Persona/PersonaTests.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
  apple/Tests/Utils/Collection/BaseIdentifiedCollectionTests.swift
Due: ensure Swift setup for local development, SwiftFormat

reintroduce entity_flags tests
  src/core/types/ordered_map.rs
  src/profile/v100/entity/entity_flags.rs
Due: fmt, clippy, unit tests

Accounts are now type Accounts = OrderedMap<Account>;
  src/core/types/ordered_map.rs
  src/profile/v100/entity/entity_flags.rs
  src/profile/v100/networks/network/accounts.rs
  src/profile/v100/networks/profile_networks.rs
  src/wallet/wallet_accounts.rs
Due: fmt, clippy, unit tests

WIP
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/Accounts+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/EntityFlags+Wrap+Function.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/Accounts+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/Accounts+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/EntityFlags+Swiftified.swift
  apple/Tests/TestCases/Profile/Collection/AccountsTests.swift
  apple/Tests/TestCases/Profile/EntityFlagsTests.swift
  src/profile/v100/entity/entity_flags.rs
  src/profile/v100/networks/network/accounts.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

fix
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/EntityFlags+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile+Supporting+Types/AccountOrPersona+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/Accounts+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/EntityFlags+Swiftified.swift
  apple/Sources/Sargon/Protocols/EntityProtocol.swift
  apple/Tests/TestCases/Profile/Account/AccountTests.swift
  apple/Tests/TestCases/Profile/Collection/AccountsTests.swift
  apple/Tests/TestCases/Profile/EntityFlagsTests.swift
  apple/Tests/TestCases/Profile/Persona/PersonaTests.swift
  src/profile/v100/entity/entity_flags.rs
  src/profile/v100/networks/network/accounts.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

personas and profilenetworks use OrderedMap now
  src/core/error/common_error.rs
  src/core/types/ordered_map.rs
  src/profile/v100/entity/entity_flags.rs
  src/profile/v100/networks/network/personas.rs
  src/profile/v100/networks/profile_networks.rs
  src/wallet/wallet_accounts.rs
Due: fmt, clippy, unit tests

macro to declare collections
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/Personas+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/Personas+SampleValues.swift
  src/profile/supporting_types/decl_ordered_map_with_samples.rs
  src/profile/supporting_types/mod.rs
  src/profile/v100/entity/entity_flags.rs
  src/profile/v100/networks/network/accounts.rs
  src/profile/v100/networks/network/personas.rs
  src/profile/v100/networks/profile_networks.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

WIP
  apple/Sources/Sargon/Extensions/Methods/Profile/Collection/ProfileNetworks+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/ProfileNetworks+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/Personas+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/ProfileNetworks+Swiftified.swift
  apple/Tests/TestCases/Profile/Collection/AccountsTests.swift
  apple/Tests/TestCases/Profile/Collection/PersonasTests.swift
  apple/Tests/TestCases/Profile/Collection/ProfileNetworksTests.swift
  apple/Tests/TestCases/Profile/EntityFlagsTests.swift
Due: ensure Swift setup for local development, SwiftFormat

clippy fix
  src/profile/logic/persona/shared_persona_data_ids.rs
  src/profile/logic/profile_network/profile_network_details.rs
Due: fmt, clippy, unit tests

WIP
  apple/Sources/Sargon/Extensions/Methods/Profile/Gateway+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/AccountsForDisplay+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/AccountsOrPersonas+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/AssetsExceptionList+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/AuthorizedDapps+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/DepositorsAllowList+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/DetailedAuthorizedPersonas+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/FactorSources+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/Gateways+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/P2PLinks+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/ReferencesToAuthorizedPersonas+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Collection/SupportedCurves+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/AccountsForDisplay+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/AccountsOrPersonas+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/AssetsExceptionList+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/AuthorizedDapps+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/DepositorsAllowList+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/DetailedAuthorizedPersonas+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/FactorSources+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/Gateways+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/P2PLinks+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/ReferencesToAuthorizedPersonas+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Collection/SupportedCurves+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Profile+Swiftified.swift
  apple/Tests/TestCases/Profile/Collection/AccountsForDisplayTests.swift
  apple/Tests/TestCases/Profile/Collection/AccountsOrPersonasTests.swift
  apple/Tests/TestCases/Profile/Collection/AssetsExceptionListTests.swift
  apple/Tests/TestCases/Profile/Collection/AuthorizedDappsTests.swift
  apple/Tests/TestCases/Profile/Collection/DepositorsAllowListTests.swift
  apple/Tests/TestCases/Profile/Collection/DetailedAuthorizedPersonasTests.swift
  apple/Tests/TestCases/Profile/Collection/FactorSourcesTests.swift
  apple/Tests/TestCases/Profile/Collection/GatewaysTests.swift
  apple/Tests/TestCases/Profile/Collection/P2PLinksTests.swift
  apple/Tests/TestCases/Profile/Collection/ReferencesToAuthorizedPersonasTests.swift
  apple/Tests/TestCases/Profile/Collection/SupportedCurvesTests.swift
  apple/Tests/TestCases/Profile/ProfileTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Add conformance to SargonObjectCodable
  apple/Sources/Sargon/Extensions/Methods/Crypto/Keys/Ed25519PublicKey+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Signatures/Ed25519Signature+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/DisplayName+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/Collection/P2PLinks+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/P2PLinks/RadixConnectPassword+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/P2PLinks/RadixConnectPurpose+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/RadixConnect/P2PLinks/RadixConnectPassword+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Keys/Ed25519PublicKey+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Signatures/Ed25519Signature+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/DisplayName+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RadixConnect/Collection/P2PLinks+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RadixConnect/P2PLinks/RadixConnectPassword+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RadixConnect/P2PLinks/RadixConnectPurpose+Swiftified.swift
  apple/Tests/TestCases/RadixConnect/P2PLinks/RadixConnectPurposeTests.swift
  src/core/types/signatures/ed25519_signature.rs
  src/profile/v100/entity/display_name.rs
  src/radix_connect/p2p_links/p2p_links.rs
  src/radix_connect/p2p_links/radix_connect_password.rs
  src/radix_connect/p2p_links/radix_connect_purpose.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Add LinkConnectionQRData
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/P2PLinks/LinkConnectionQRData+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/RadixConnect/P2PLinks/LinkConnectionQRData+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/RadixConnect/P2PLinks/LinkConnectionQRData+Swiftified.swift
  src/radix_connect/p2p_links/link_connection_qr_data.rs
  src/radix_connect/p2p_links/mod.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

more tests and ensure that duplicates are not allowed when passing OrderdMap types over the UniFFI boundary
  apple/Sources/Sargon/Extensions/Methods/Profile/Profile+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Profile+Swiftified.swift
  apple/Sources/Sargon/Protocols/Collection/BaseIdentifiedCollection.swift
  apple/Sources/Sargon/Protocols/Collection/CanBeEmptyIdentifiedCollection.swift
  apple/Sources/Sargon/Protocols/Collection/NeverEmptyIdentifiedCollection.swift
  apple/Tests/TestCases/Profile/Collection/AccountsTests.swift
  apple/Tests/TestCases/Profile/Collection/FactorSourcesTests.swift
  apple/Tests/TestCases/Profile/Collection/GatewaysTests.swift
  apple/Tests/Utils/Collection/BaseIdentifiedCollectionTests.swift
  apple/Tests/Utils/Collection/CanBeEmptyCollectionTest.swift
  apple/Tests/Utils/Collection/NeverEmptyIdentifiedCollectionTest.swift
  src/core/error/common_error.rs
  src/core/types/ordered_map.rs
  src/wallet/wallet_accounts.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  SwiftFormat: any of: \.swift$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
