Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

      - id: doc tests
        name: doc tests
        language: system
        types: [file, rust]
        entry: cargo test --doc
        pass_filenames: false

      - id: vectors integration tests
        name: vectors integration tests
        language: system
        types: [file, rust]
        entry: cargo test --package sargon --test vectors
        pass_filenames: false

      - id: swift tests
        name: swift tests
        language: system
        types_or: [rust, swift]
        entry: ./scripts/ios/test.sh --testonly # no code coverage
        pass_filenames: false

      - id: kotlin tests
        name: kotlin (jvm) tests
        language: system
        types_or: [rust, kotlin]
        entry: ./jvm/gradlew -p jvm/sargon-android koverVerifyDebug
        pass_filenames: false

remove explicit dalek dependency
  Cargo.lock
  Cargo.toml
  src/core/types/keys/ed25519/public_key.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

pin dependencies
  Cargo.lock
  Cargo.toml
  scripts/ios/build-sargon.sh
  src/core/types/keys/ed25519/public_key.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

pin serde_repr
  Cargo.lock
  Cargo.toml
Due: none

pin serde_with
  Cargo.lock
  Cargo.toml
Due: none

Pin Crates: Batch 2 (#74)
  Cargo.lock
  Cargo.toml
  scripts/ios/build-sargon.sh
  src/core/types/keys/ed25519/public_key.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Document, restucture and cleanup Gateway
  apple/Sources/Sargon/Antennas/Network/NetworkAntenna+URLSession.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/antenna/SargonNetworkAntenna.kt
  src/gateway_api/client/gateway_client.rs
  src/gateway_api/client/gateway_client_dispatch_request.rs
  src/gateway_api/client/mod.rs
  src/gateway_api/endpoints/mod.rs
  src/gateway_api/endpoints/state_endpoints.rs
  src/gateway_api/endpoints/transaction_endpoints.rs
  src/gateway_api/gateway_client.rs
  src/gateway_api/methods/mod.rs
  src/gateway_api/methods/state_methods.rs
  src/gateway_api/methods/transaction_methods.rs
  src/gateway_api/mod.rs
  src/gateway_api/network_antenna/mod.rs
  src/gateway_api/network_antenna/network_antenna.rs
  src/gateway_api/network_antenna/network_method.rs
  src/gateway_api/network_antenna/network_request.rs
  src/gateway_api/network_antenna/network_response.rs
  tests/integration/network_antenna_reqwest.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Export serde methods
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Remove unecessary variable
  src/profile/v100/profile.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

File restructure of GW models
  src/gateway_api/client/gateway_client.rs
  src/gateway_api/endpoints/transaction_endpoints.rs
  src/gateway_api/methods/transaction_methods.rs
  src/gateway_api/models/mod.rs
  src/gateway_api/models/request/mod.rs
  src/gateway_api/models/request/state_entity_details.rs
  src/gateway_api/models/response/mod.rs
  src/gateway_api/models/response/state_entity_details.rs
  src/gateway_api/models/response/transaction_construction.rs
  src/gateway_api/models/types/mod.rs
  src/gateway_api/models/types/request/mod.rs
  src/gateway_api/models/types/request/state/entity/mod.rs
  src/gateway_api/models/types/request/state/entity/state_entity_details.rs
  src/gateway_api/models/types/request/state/mod.rs
  src/gateway_api/models/types/request/transaction/mod.rs
  src/gateway_api/models/types/request/transaction/preview/mod.rs
  src/gateway_api/models/types/request/transaction/preview/transaction_preview.rs
  src/gateway_api/models/types/request/transaction/submit/mod.rs
  src/gateway_api/models/types/request/transaction/submit/transaction_submit.rs
  src/gateway_api/models/types/response/ledger_state.rs
  src/gateway_api/models/types/response/mod.rs
  src/gateway_api/models/types/response/state/entity/details/fungible/collection.rs
  src/gateway_api/models/types/response/state/entity/details/fungible/collection_item.rs
  src/gateway_api/models/types/response/state/entity/details/fungible/collection_item_global.rs
  src/gateway_api/models/types/response/state/entity/details/fungible/mod.rs
  src/gateway_api/models/types/response/state/entity/details/mod.rs
  src/gateway_api/models/types/response/state/entity/details/state_entity_details_response.rs
  src/gateway_api/models/types/response/state/entity/details/state_entity_details_response_item.rs
  src/gateway_api/models/types/response/state/entity/mod.rs
  src/gateway_api/models/types/response/state/mod.rs
  src/gateway_api/models/types/response/transaction/construction/mod.rs
  src/gateway_api/models/types/response/transaction/construction/transaction_construction_response.rs
  src/gateway_api/models/types/response/transaction/mod.rs
  src/gateway_api/models/types/response/transaction/preview/logs_inner.rs
  src/gateway_api/models/types/response/transaction/preview/mod.rs
  src/gateway_api/models/types/response/transaction/preview/transaction_preview_response.rs
  src/gateway_api/models/types/response/transaction/submit/mod.rs
  src/gateway_api/models/types/response/transaction/submit/submit.rs
  tests/integration/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

WIP GW models cleanup
  src/gateway_api/methods/transaction_methods.rs
  src/gateway_api/models/mod.rs
  src/gateway_api/models/types/request/gw_public_key.rs
  src/gateway_api/models/types/request/mod.rs
  src/gateway_api/models/types/request/state/entity/mod.rs
  src/gateway_api/models/types/request/state/mod.rs
  src/gateway_api/models/types/request/transaction/mod.rs
  src/gateway_api/models/types/request/transaction/preview/mod.rs
  src/gateway_api/models/types/request/transaction/preview/request_flags.rs
  src/gateway_api/models/types/request/transaction/preview/transaction_preview.rs
  src/gateway_api/models/types/request/transaction/submit/mod.rs
  src/gateway_api/models/types/response/state/entity/details/fungible/collection.rs
  src/gateway_api/models/types/response/state/entity/details/fungible/collection_item.rs
  src/gateway_api/models/types/response/state/entity/details/fungible/mod.rs
  src/gateway_api/models/types/response/state/entity/mod.rs
  src/gateway_api/models/types/response/state/mod.rs
  src/gateway_api/models/types/response/transaction/construction/mod.rs
  src/gateway_api/models/types/response/transaction/construction/transaction_construction_response.rs
  src/gateway_api/models/types/response/transaction/mod.rs
  src/gateway_api/models/types/response/transaction/preview/logs_inner.rs
  src/gateway_api/models/types/response/transaction/preview/mod.rs
  src/gateway_api/models/types/response/transaction/preview/transaction_preview_response.rs
  src/gateway_api/models/types/response/transaction/submit/mod.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

impl submit transaction
  src/core/error/common_error.rs
  src/gateway_api/methods/transaction_methods.rs
  src/gateway_api/models/logic/mod.rs
  src/gateway_api/models/logic/request/gw_public_key.rs
  src/gateway_api/models/logic/request/mod.rs
  src/gateway_api/models/logic/request/state/entity/mod.rs
  src/gateway_api/models/logic/request/state/entity/state_entity_details.rs
  src/gateway_api/models/logic/request/state/mod.rs
  src/gateway_api/models/logic/request/transaction/mod.rs
  src/gateway_api/models/logic/request/transaction/preview/mod.rs
  src/gateway_api/models/logic/request/transaction/preview/request_flags.rs
  src/gateway_api/models/logic/request/transaction/preview/transaction_preview.rs
  src/gateway_api/models/logic/request/transaction/submit/mod.rs
  src/gateway_api/models/logic/request/transaction/submit/transaction_submit.rs
  src/gateway_api/models/logic/response/ledger_state.rs
  src/gateway_api/models/logic/response/mod.rs
  src/gateway_api/models/logic/response/state/entity/details/fungible/collection.rs
  src/gateway_api/models/logic/response/state/entity/details/fungible/collection_item.rs
  src/gateway_api/models/logic/response/state/entity/details/fungible/collection_item_global.rs
  src/gateway_api/models/logic/response/state/entity/details/fungible/mod.rs
  src/gateway_api/models/logic/response/state/entity/details/mod.rs
  src/gateway_api/models/logic/response/state/entity/details/state_entity_details_response.rs
  src/gateway_api/models/logic/response/state/entity/details/state_entity_details_response_item.rs
  src/gateway_api/models/logic/response/state/entity/mod.rs
  src/gateway_api/models/logic/response/state/mod.rs
  src/gateway_api/models/logic/response/transaction/construction/mod.rs
  src/gateway_api/models/logic/response/transaction/construction/transaction_construction_response.rs
  src/gateway_api/models/logic/response/transaction/mod.rs
  src/gateway_api/models/logic/response/transaction/preview/logs_inner.rs
  src/gateway_api/models/logic/response/transaction/preview/mod.rs
  src/gateway_api/models/logic/response/transaction/preview/transaction_preview_response.rs
  src/gateway_api/models/logic/response/transaction/submit/mod.rs
  src/gateway_api/models/logic/response/transaction/submit/submit.rs
  src/gateway_api/models/mod.rs
  src/gateway_api/models/types/request/gw_public_key.rs
  src/gateway_api/models/types/request/transaction/preview/transaction_preview.rs
  src/gateway_api/models/types/request/transaction/submit/transaction_submit.rs
  src/gateway_api/models/types/response/transaction/submit/submit.rs
  src/wrapped_radix_engine_toolkit/low_level/notarized_transaction.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

use faucet works
  src/core/types/keys/private_key.rs
  src/gateway_api/methods/transaction_methods.rs
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/legacy_olympia_account_address.rs
  src/wrapped_radix_engine_toolkit/low_level/signed_intent.rs
  tests/integration/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Add kt profile extensions for serde
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Profile.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_classes/detailed_manifest_class.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Add swift extensions for Profile
  apple/Sources/Sargon/Extensions/Methods/Profile/Profile+Wrap+Functions.swift
  apple/Tests/TestCases/ProfileTests/ProfileTests.swift
Due: ensure Swift setup for local development, swift tests

remove 'value' label for PublicKey enum - prepare test vectors for GW models.
  apple/Sources/Sargon/Extensions/Methods/Address/AccountAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/IdentityAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Keys/Ed25519PublicKey+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Keys/Secp256k1PublicKey+Swiftified.swift
  apple/Tests/TestCases/Address/AccountAddressTests.swift
  apple/Tests/TestCases/Address/IdentityAddressTests.swift
  apple/Tests/TestCases/Crypto/PublicKeyHashTests.swift
  build.rs
  fixtures/models/gateway/state/request_entity_details__no_assets.json
  fixtures/models/gateway/state/response_entity_details__no_assets.json
  fixtures/models/gateway/transaction/response_construction.json
  src/core/types/keys/private_key.rs
  src/core/types/keys/public_key.rs
  src/core/types/keys/public_key_uniffi_fn.rs
  src/gateway_api/models/logic/request/transaction/preview/transaction_preview.rs
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/identity_address.rs
  tests/integration/main.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Separate test
  src/profile/v100/profile.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Export serde methods (#76)
  apple/Sources/Sargon/Extensions/Methods/Profile/Profile+Wrap+Functions.swift
  apple/Tests/TestCases/ProfileTests/ProfileTests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Profile.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_classes/detailed_manifest_class.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

GW model JSON tests
  fixtures/models/gateway/state/request_entity_details__single_account_no_assets.json
  fixtures/models/gateway/state/request_entity_details__single_resource.json
  fixtures/models/gateway/state/request_entity_details__two_accounts.json
  fixtures/models/gateway/state/response_entity_details__single_account_many_nfts_and_fungibles.json
  fixtures/models/gateway/state/response_entity_details__single_account_no_assets.json
  fixtures/models/gateway/state/response_entity_details__single_resource.json
  fixtures/models/gateway/state/response_entity_details__two_accounts.json
  fixtures/models/gateway/transaction/request_preview.json
  fixtures/models/gateway/transaction/request_status.json
  fixtures/models/gateway/transaction/request_submit.json
  fixtures/models/gateway/transaction/response_preview.json
  fixtures/models/gateway/transaction/response_status__committed_success.json
  fixtures/models/gateway/transaction/response_status__pending.json
  fixtures/models/gateway/transaction/response_submit.json
  src/core/assert_json.rs
  src/gateway_api/models/logic/request/gw_public_key.rs
  src/gateway_api/models/logic/request/state/entity/state_entity_details.rs
  src/gateway_api/models/logic/request/transaction/preview/request_flags.rs
  src/gateway_api/models/logic/request/transaction/preview/transaction_preview.rs
  src/gateway_api/models/logic/request/transaction/submit/transaction_submit.rs
  src/gateway_api/models/logic/response/state/entity/details/state_entity_details_response.rs
  src/gateway_api/models/logic/response/transaction/construction/transaction_construction_response.rs
  src/gateway_api/models/logic/response/transaction/preview/transaction_preview_response.rs
  src/gateway_api/models/logic/response/transaction/submit/submit.rs
  src/gateway_api/models/types/request/gw_public_key.rs
  src/gateway_api/models/types/request/transaction/preview/request_flags.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

tests
  src/gateway_api/client/gateway_client.rs
  src/gateway_api/client/gateway_client_dispatch_request.rs
  src/gateway_api/methods/transaction_methods.rs
  src/gateway_api/models/logic/request/gw_public_key.rs
  src/gateway_api/models/logic/response/state/entity/details/fungible/collection_item.rs
  src/wrapped_radix_engine_toolkit/low_level/signed_intent.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

fix types
  src/gateway_api/models/logic/request/state/entity/state_entity_details.rs
  src/gateway_api/models/logic/response/state/entity/details/state_entity_details_response.rs
  src/gateway_api/models/logic/response/transaction/preview/transaction_preview_response.rs
  src/gateway_api/models/logic/response/transaction/submit/submit.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

fix kotlin tests
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/LegacyOlympiaAccountAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PublicKey.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PublicKeyTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SignatureWithPublicKeyTest.kt
  src/gateway_api/models/logic/request/gw_public_key.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

fix formatting
  src/gateway_api/models/logic/request/gw_public_key.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Make Accounts -> struct instead of typealias, declared with macro: should to the same for Personas, AuthorizedDapps etc...
  src/profile/v100/networks/network/accounts.rs
  src/wallet/wallet_accounts.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

improve macro - use collection_type
  src/profile/v100/networks/network/accounts.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

pin uniffi and serde_json
  Cargo.lock
  Cargo.toml
Due: none

zeroize some types
  Cargo.lock
  Cargo.toml
  src/hierarchical_deterministic/bip32/hd_path.rs
  src/hierarchical_deterministic/bip32/hd_path_component.rs
  src/hierarchical_deterministic/bip39/bip39_passphrase.rs
  src/hierarchical_deterministic/bip39/bip39_word/bip39_word.rs
  src/hierarchical_deterministic/bip39/bip39_word/u11.rs
  src/hierarchical_deterministic/bip39/mnemonic.rs
  src/hierarchical_deterministic/cap26/cap26_path/paths/account_path.rs
  src/hierarchical_deterministic/derivation/mnemonic_with_passphrase.rs
  src/lib.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_create_tokens.rs
  tests/integration/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

revert HDPath being zeroize
  src/core/types/keys/public_key.rs
  src/gateway_api/client/gateway_client.rs
  src/gateway_api/models/logic/request/gw_public_key.rs
  src/gateway_api/models/logic/request/transaction/preview/transaction_preview.rs
  src/hierarchical_deterministic/bip32/hd_path.rs
  src/hierarchical_deterministic/bip32/hd_path_component.rs
  src/hierarchical_deterministic/cap26/cap26_path/paths/account_path.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_create_tokens.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Update Personas and FactorSources to use macro
  src/core/types/keys/public_key.rs
  src/gateway_api/models/logic/request/gw_public_key.rs
  src/profile/logic/profile_next_derivation.rs
  src/profile/v100/factors/factor_source.rs
  src/profile/v100/factors/factor_sources/factor_sources.rs
  src/profile/v100/identified_elements.rs
  src/profile/v100/mod.rs
  src/profile/v100/networks/network/accounts.rs
  src/profile/v100/networks/network/personas.rs
  src/profile/v100/profile.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

WIP BROKEN
  src/core/error/common_error.rs
  src/hierarchical_deterministic/bip39/bip39_seed.rs
  src/hierarchical_deterministic/bip39/mnemonic.rs
  src/hierarchical_deterministic/bip39/mod.rs
  src/hierarchical_deterministic/bip44/bip44_like_path.rs
  src/hierarchical_deterministic/cap26/cap26_path/cap26_path.rs
  src/hierarchical_deterministic/cap26/cap26_path/paths/account_path.rs
  src/hierarchical_deterministic/cap26/cap26_path/paths/getid_path.rs
  src/hierarchical_deterministic/cap26/cap26_path/paths/identity_path.rs
  src/hierarchical_deterministic/derivation/derivation.rs
  src/hierarchical_deterministic/derivation/derivation_path.rs
  src/hierarchical_deterministic/derivation/hierarchical_deterministic_public_key.rs
  src/hierarchical_deterministic/derivation/mnemonic_with_passphrase.rs
  src/profile/v100/factors/factor_source_id_from_hash.rs
  src/profile/v100/factors/factor_sources/private_hierarchical_deterministic_factor_source.rs
  src/profile/v100/factors/hierarchical_deterministic_factor_instance.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Reworking HD Path and migrate test
  src/core/types/keys/slip10_curve.rs
  src/core/types/signatures/ed25519_signature.rs
  src/core/types/signatures/secp256k1_signature.rs
  src/gateway_api/models/logic/request/gw_public_key.rs
  src/hierarchical_deterministic/bip39/bip39_seed.rs
  src/hierarchical_deterministic/bip39/mod.rs
  src/hierarchical_deterministic/bip44/bip44_like_path.rs
  src/hierarchical_deterministic/cap26/cap26_path/cap26_path.rs
  src/hierarchical_deterministic/cap26/cap26_path/paths/account_path.rs
  src/hierarchical_deterministic/cap26/cap26_path/paths/getid_path.rs
  src/hierarchical_deterministic/cap26/cap26_path/paths/identity_path.rs
  src/hierarchical_deterministic/derivation/derivation_path.rs
  src/hierarchical_deterministic/derivation/mnemonic_with_passphrase.rs
  src/lib.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Added kotlin extensions for personas, accounts and factor sources
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Factor/FactorSources/FactorSources+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSources/FactorSources+Swiftified.swift
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Accounts.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSources.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Personas.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/AccountsSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/FactorSourceSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/FactorSourcesSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/PersonaSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/PersonasSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AccountsTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourcesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PersonasTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/WalletTest.kt
  src/profile/logic/profile_next_derivation.rs
  src/profile/v100/entity/persona/mod.rs
  src/profile/v100/entity/persona/persona_uniffi_fn.rs
  src/profile/v100/factors/factor_sources/factor_sources.rs
  src/profile/v100/identified_elements.rs
  src/profile/v100/profile.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Aded AuthorizedDapp in identified elements
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AuthorisedDapps.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSources.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/AuthorisedDappSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/AuthorisedDappsSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AuthorizedDappTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AuthorizedDappsTest.kt
  src/profile/v100/factors/factor_sources/factor_sources.rs
  src/profile/v100/identified_elements.rs
  src/profile/v100/networks/network/accounts.rs
  src/profile/v100/networks/network/authorized_dapp/authorized_dapp_uniffi_fn.rs
  src/profile/v100/networks/network/authorized_dapp/mod.rs
  src/profile/v100/networks/network/authorized_dapps.rs
  src/profile/v100/networks/network/personas.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Put get_all and get_by_id into macro
  src/profile/v100/identified_elements.rs
  src/profile/v100/networks/network/accounts.rs
  src/profile/v100/networks/network/authorized_dapps.rs
  src/profile/v100/networks/network/personas.rs
  src/profile/v100/networks/profile_networks.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

unit test zeroize of BIP39Seed
  src/hierarchical_deterministic/bip39/bip39_seed.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Identified collections (#78)
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Factor/FactorSources/FactorSources+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSources/FactorSources+Swiftified.swift
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Accounts.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AuthorisedDapps.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSources.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Personas.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/AccountsSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/AuthorisedDappSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/AuthorisedDappsSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/FactorSourceSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/FactorSourcesSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/PersonaSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/PersonasSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AccountsTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AuthorizedDappTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AuthorizedDappsTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourcesTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PersonasTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/WalletTest.kt
  src/core/types/keys/public_key.rs
  src/gateway_api/models/logic/request/gw_public_key.rs
  src/profile/logic/profile_next_derivation.rs
  src/profile/v100/entity/persona/mod.rs
  src/profile/v100/entity/persona/persona_uniffi_fn.rs
  src/profile/v100/factors/factor_source.rs
  src/profile/v100/factors/factor_sources/factor_sources.rs
  src/profile/v100/identified_elements.rs
  src/profile/v100/mod.rs
  src/profile/v100/networks/network/accounts.rs
  src/profile/v100/networks/network/authorized_dapp/authorized_dapp_uniffi_fn.rs
  src/profile/v100/networks/network/authorized_dapp/mod.rs
  src/profile/v100/networks/network/authorized_dapps.rs
  src/profile/v100/networks/network/personas.rs
  src/profile/v100/networks/profile_networks.rs
  src/profile/v100/profile.rs
  src/wallet/wallet_accounts.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

WIP: Before adding many types (overengineered probably)
  Cargo.lock
  Cargo.toml
  src/core/types/bag_of_bytes.rs
  src/core/types/exactly_n_bytes.rs
  src/core/types/mod.rs
  src/core/types/non_empty_max_n_bytes.rs
  src/core/types/secret_bytes.rs
  src/hierarchical_deterministic/bip39/bip39_seed.rs
  src/hierarchical_deterministic/bip39/bip39_word/bip39_word.rs
  src/hierarchical_deterministic/bip39/mnemonic.rs
  src/hierarchical_deterministic/bip39/mod.rs
  src/profile/v100/factors/factor_sources/private_hierarchical_deterministic_factor_source.rs
  src/wallet/wallet_accounts.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Many more byte types - overengineered.
  src/core/hash.rs
  src/core/types/bag_of_bytes_uniffi_fn.rs
  src/core/types/secret_bytes.rs
  src/hierarchical_deterministic/bip39/bip39_entropy.rs
  src/profile/v100/factors/factor_sources/private_hierarchical_deterministic_factor_source.rs
  src/wallet/wallet.rs
  tests/vectors/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Avoid passing mnemonic in ffi
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Profile.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
  src/wallet/wallet.rs
  src/wallet/wallet_accounts.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Avoid passing mnemonic in ffi (#79)
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Profile.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
  src/profile/v100/profile.rs
  src/profile/v100/profile_uniffi_fn.rs
  src/wallet/wallet.rs
  src/wallet/wallet_accounts.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests
