Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

ensure Swift not changed to local development:
  name: ensure Swift not changed to local development
  language: system
  entry: ./scripts/ios/ensure-not-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

doc tests:
  name: doc tests
  language: system
  entry: cargo test --doc
  pass_filenames: false

vectors integration tests:
  name: vectors integration tests
  language: system
  entry: cargo test --package sargon --test vectors
  pass_filenames: false

uniffi bindgen tests:
  name: uniffi bindgen tests
  language: system
  entry: bash -c 'exec env CLASSPATH="$PWD/jna-5.13.0.jar"' && bash -c 'exec env JAVA_OPTS="-Xmx8g"' && cargo test --package sargon --test uniffi
  pass_filenames: false

moar tests
  src/profile/v100/address/access_controller_address.rs
  src/profile/v100/address/component_address.rs
  src/profile/v100/address/identity_address.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

codecov accuracy
  src/profile/v100/address/non_fungible_global_id.rs
  src/profile/v100/address/pool_address.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Oops, Forgot to use the doc string for address types, now fixed.
  src/profile/v100/address/wrap_ret_address.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Test debug of Addresses
  src/profile/v100/address/access_controller_address.rs
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/component_address.rs
  src/profile/v100/address/identity_address.rs
  src/profile/v100/address/package_address.rs
  src/profile/v100/address/pool_address.rs
  src/profile/v100/address/resource_address.rs
  src/profile/v100/address/validator_address.rs
  src/profile/v100/address/vault_address.rs
  src/profile/v100/address/wrap_ret_address.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

git rm and gitignore apple/Sources/UniFFI/Sargon.swift
  .gitignore
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift not changed to local development

Moar tests
  src/profile/v100/address/non_fungible_global_id.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

try increase accuracy
  src/profile/v100/address/wrap_ret_address.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

moar tests
  src/hierarchical_deterministic/bip39/bip39_word_count.rs
  src/hierarchical_deterministic/bip44/bip44_like_path.rs
  src/profile/logic/profile_next_derivation.rs
  src/profile/v100/header/profile_id.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

WIP transaction manifest classse
  README.md
  src/wrapped_radix_engine_toolkit/mod.rs
  src/wrapped_radix_engine_toolkit/transaction_classes/classes/mod.rs
  src/wrapped_radix_engine_toolkit/transaction_classes/classes/validator_claim.rs
  src/wrapped_radix_engine_toolkit/transaction_classes/detailed_manifest_class.rs
  src/wrapped_radix_engine_toolkit/transaction_classes/mod.rs
  src/wrapped_radix_engine_toolkit/transaction_classes/types/mod.rs
  src/wrapped_radix_engine_toolkit/transaction_classes/types/tracked_validator_claim.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Fix release script which did not work because I forgot FORCE git add Sargon.swift.
  scripts/ios/release.sh
Due: none

Fix release script which did not work because I forgot FORCE git add … (#11)
  scripts/ios/release.sh
Due: none

fix broken Swift
  apple/Sources/Sargon/Address.swift
  apple/Sources/Sargon/Extensions/Methods/Addresses+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/AccessControllerAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Account+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/AccountAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/AppearanceID+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/ComponentAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Decimal192+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/DisplayName+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/IdentityAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/LocaleConfig+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Mnemonic+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/NetworkID+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/PackageAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/PoolAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/ResourceAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/SargonError+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/ValidatorAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/VaultAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Wallet+Swiftified.swift
Due: ensure Swift not changed to local development

fix broken Swift (#12)
  apple/Sources/Sargon/Address.swift
  apple/Sources/Sargon/Extensions/Methods/Addresses+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/AccessControllerAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Account+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/AccountAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/AppearanceID+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/ComponentAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Decimal192+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/DisplayName+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/IdentityAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/LocaleConfig+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Mnemonic+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/NetworkID+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/PackageAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/PoolAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/ResourceAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/SargonError+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/ValidatorAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/VaultAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Wallet+Swiftified.swift
Due: ensure Swift not changed to local development

WIP Transaction Classes
  src/wrapped_radix_engine_toolkit/transaction_classes/classes/account_deposit_settings_update.rs
  src/wrapped_radix_engine_toolkit/transaction_classes/classes/mod.rs
  src/wrapped_radix_engine_toolkit/transaction_classes/classes/validator_claim.rs
  src/wrapped_radix_engine_toolkit/transaction_classes/classes/validator_stake.rs
  src/wrapped_radix_engine_toolkit/transaction_classes/classes/validator_unstake.rs
  src/wrapped_radix_engine_toolkit/transaction_classes/detailed_manifest_class.rs
  src/wrapped_radix_engine_toolkit/transaction_classes/mod.rs
  src/wrapped_radix_engine_toolkit/transaction_classes/types/mod.rs
  src/wrapped_radix_engine_toolkit/transaction_classes/types/resource_preferences_update.rs
  src/wrapped_radix_engine_toolkit/transaction_classes/types/tracked_pool_contribution.rs
  src/wrapped_radix_engine_toolkit/transaction_classes/types/tracked_pool_redemption.rs
  src/wrapped_radix_engine_toolkit/transaction_classes/types/unstake_data_entry.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Separate workflows
  .github/workflows/release-jvm.yml
  .github/workflows/release.yml
Due: none

Echo env variables
  .github/workflows/release-jvm.yml
Due: none

Add prepareLocalProperties task for creating file when not exists
  jvm/sargon-android/build.gradle.kts
Due: none

Setup cargo ndk install
  .github/workflows/release-jvm.yml
Due: none

Fetch tags before setting version
  .github/workflows/release-jvm.yml
Due: none

Add packages write permission
  .github/workflows/release-jvm.yml
Due: none

Add macos deployment target
  .github/workflows/release-jvm.yml
  .github/workflows/release.yml
  jvm/sargon-android/build.gradle.kts
Due: none

Change back to mac os runner
  .github/workflows/release-jvm.yml
Due: none

Add commit hash to version
  .github/workflows/release-jvm.yml
Due: none

Experiment with only mac m1 building
  .github/workflows/release-jvm.yml
  jvm/sargon-desktop-bins/build.gradle.kts
Due: none

Fix cp command
  jvm/sargon-desktop-bins/build.gradle.kts
Due: none

Split jvm and android runners
  .github/workflows/release-android.yml
Due: none

Use supported in cargo build
  jvm/sargon-desktop-bins/build.gradle.kts
Due: none

Change sargon package name in tests
  tests/uniffi/bindings/test_account_address.kts
  tests/uniffi/bindings/test_app_preferences.kts
  tests/uniffi/bindings/test_bag_of_bytes.kts
  tests/uniffi/bindings/test_factor_sources.kts
  tests/uniffi/bindings/test_gateways.kts
  tests/uniffi/bindings/test_header.kts
  tests/uniffi/bindings/test_hex32_bytes.kts
  tests/uniffi/bindings/test_keys.kts
  tests/uniffi/bindings/test_non_fungible_local_id.kts
  tests/uniffi/bindings/test_profile.kts
  tests/uniffi/bindings/test_radix_connect_password.kts
  tests/uniffi/bindings/test_resource_address.kts
  tests/uniffi/bindings/test_wallet.kts
Due: none

OlympiaAccountAddress
  src/core/error/common_error.rs
  src/core/types/keys/secp256k1/public_key.rs
  src/profile/v100/address/mod.rs
  src/profile/v100/address/olympia_account_address.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Add consumer rules
  jvm/app/build.gradle.kts
  jvm/gradle/libs.versions.toml
  jvm/sargon-android/consumer-rules.pro
  jvm/settings.gradle.kts
Due: none

Use hardcoded JNA dependency
  jvm/gradle/libs.versions.toml
  jvm/sargon-android/build.gradle.kts
Due: none

Add artifact name
  jvm/app/build.gradle.kts
  jvm/gradle/libs.versions.toml
  jvm/sargon-android/build.gradle.kts
Due: none

Hardcode jna in both modules
  .github/workflows/release-desktop-bins.yml
  jvm/gradle/libs.versions.toml
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-desktop-bins/build.gradle.kts
Due: none

Add readme
  .github/workflows/release-android.yml
  .github/workflows/release-desktop-bins.yml
  README.md
  jvm/app/build.gradle.kts
  jvm/gradle/libs.versions.toml
Due: none

Fix readme explanation
  README.md
Due: none

working Manifest
  Cargo.lock
  Cargo.toml
  src/core/error/common_error.rs
  src/core/types/keys/secp256k1/public_key.rs
  src/lib.rs
  src/profile/v100/address/mod.rs
  src/profile/v100/address/olympia_account_address.rs
  src/sargon.udl
  src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

WIP transaction manifest and execution summary
  src/profile/v100/address/wrap_ret_address.rs
  src/wrapped_radix_engine_toolkit/low_level/execution_summary.rs
  src/wrapped_radix_engine_toolkit/low_level/manifest_summary.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Path conditions:
  ensure Swift not changed to local development: any of: \.swift$
  fmt: any of: \.rs$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
  doc tests: any of: \.rs$
  vectors integration tests: any of: \.rs$
  uniffi bindgen tests: any of: \.rs$
