Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

SwiftFormat:
  name: SwiftFormat
  language: system
  entry: swiftformat .
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

documentation
  src/system/sargon_os/sargon_os_accounts.rs
  src/system/sargon_os/sargon_os_factors.rs
  src/system/sargon_os/sargon_os_gateway.rs
  src/system/sargon_os/sargon_os_profile.rs
Due: fmt, clippy, unit tests

fix kotlin
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSource.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PrivateHierarchicalDeterministicFactorSource.kt
  src/system/sargon_os/sargon_os.rs
  src/system/sargon_os/sargon_os_gateway.rs
Due: fmt, clippy, unit tests

fixes
  examples/iOS/Frontend/PlanbokApp/PlanbokApp.swift
  src/core/types/appearance_id.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

fixes
  apple/Sources/Sargon/Drivers/FileSystem/FileSystemDriver+Data+ContentsOf+URL.swift
  apple/Sources/Sargon/Drivers/TestDrivers/SecureStorage/SecureStorageDriver+InsecureTestOnlyEphemeral_SecureStorage.swift
  apple/Sources/Sargon/Extensions/Methods/System/Event/EventKind+Wrap+Functions.swift
  examples/iOS/Backend/Tests/PlanbokTests/PlanbokTests.swift
  src/core/error/common_error.rs
  src/system/clients/client/file_system_client/file_system_client.rs
  src/system/drivers/event_bus_driver/support/event_kind.rs
  src/system/drivers/file_system_driver/support/test/rust_file_system_driver.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

documentation and cleanup of SharedState
  examples/iOS/Backend/Sources/Planbok/Dependencies/SharedState+PersistenceReaderKey+SargonKey.swift
  examples/iOS/Backend/Sources/Planbok/SargonExtensions/Sargon+Extensions.swift
  examples/iOS/Backend/Sources/Planbok/SharedState/SargonKey.swift
  examples/iOS/Backend/Sources/Planbok/SharedState/SharedState+Accounts.swift
  examples/iOS/Backend/Sources/Planbok/SharedState/SharedState+NetworkID.swift
  examples/iOS/Backend/Sources/Planbok/SharedState/SharedState+SavedGateways.swift
Due: ensure Swift setup for local development, SwiftFormat

more tests
  src/profile/logic/profile_header.rs
  src/profile/v100/header/content_hint.rs
Due: fmt, clippy, unit tests

add missing asserts to test
  examples/iOS/Backend/Sources/Planbok/SharedState/SargonKey.swift
  src/profile/logic/profile_header.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

fixes
  examples/iOS/Backend/Sources/Planbok/Dependencies/Keychain.swift
  examples/iOS/Frontend/PlanbokApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  src/system/sargon_os/sargon_os_accounts.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

rename events
  src/system/drivers/event_bus_driver/support/event.rs
  src/system/drivers/event_bus_driver/support/event_profile_modified.rs
  src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests

HKDF key agreement
  Cargo.toml
  src/core/error/common_error.rs
  src/core/types/keys/diffie_hellman/mod.rs
  src/core/types/keys/diffie_hellman/private_key.rs
  src/core/types/keys/diffie_hellman/public_key.rs
  src/core/types/keys/mod.rs
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/relay_service/models/request/request.rs
  src/radix_connect/mobile/relay_service/models/response/session_handshake_request.rs
  src/radix_connect/mobile/relay_service/models/response/session_handshake_response.rs
  src/radix_connect/mobile/relay_service/service.rs
Due: fmt, clippy, unit tests

wip
  src/core/error/common_error.rs
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/linking_handler/linking_handler.rs
  src/radix_connect/mobile/linking_handler/mod.rs
  src/radix_connect/mobile/mod.rs
  src/radix_connect/mobile/relay_service/mod.rs
  src/radix_connect/mobile/relay_service/service.rs
  src/radix_connect/mobile/request_handler/mod.rs
  src/radix_connect/mobile/request_handler/request_handler.rs
  src/radix_connect/mobile/session/session.rs
  src/radix_connect/mobile/session/session_id.rs
  src/radix_connect/mobile/session/session_origin.rs
  src/radix_connect/mod.rs
  src/wallet/secure_storage/secure_storage_key.rs
Due: fmt, clippy, unit tests

wip
  src/core/error/common_error.rs
  src/radix_connect/interaction_id.rs
  src/radix_connect/mobile/client.rs
  src/radix_connect/mobile/linking_handler/linking_handler.rs
  src/radix_connect/mobile/linking_handler/mod.rs
  src/radix_connect/mobile/mod.rs
  src/radix_connect/mobile/request_handler/mod.rs
  src/radix_connect/mobile/request_handler/request_handler.rs
  src/radix_connect/mobile/session/session.rs
  src/radix_connect/mobile/session/session_origin.rs
Due: fmt, clippy, unit tests

wip
  src/radix_connect/mobile/relay_service/models/response/session_handshake_request.rs
  src/radix_connect/mobile/session_dapp_request.rs
  src/radix_connect/mobile/session_wallet_response.rs
Due: fmt, clippy, unit tests

Add percentage to transaction guarantee model
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/modify_manifest.rs
  src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/transaction_guarantee.rs
Due: fmt, clippy, unit tests

bump version
  Cargo.lock
  Cargo.toml
Due: none

fix swift
  apple/Sources/Sargon/Drivers/EventBus/EventNotification+Swiftified.swift
Due: ensure Swift setup for local development, SwiftFormat

Fix test
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Fix test on Android
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
Due: none

[no ci] WIP
  src/profile/v100/mod.rs
  src/profile/v100/security_structure_config/abstract_security_structure_configuration.rs
  src/profile/v100/security_structure_config/mod.rs
  src/profile/v100/security_structure_config/security_structure_configuration_reference.rs
  src/profile/v100/security_structure_config/security_structure_metadata.rs
Due: fmt, clippy, unit tests

Add percentage to TransactionGuarantee (#148)
  Cargo.lock
  Cargo.toml
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/modify_manifest.rs
  src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/transaction_guarantee.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Release of '1.0.3' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/third_party_deposit_update/manifest_third_party_deposit_update.rs
Due: fmt, clippy, unit tests

fix incorrect Manifest generated for Removal of authorized Depositor.
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/third_party_deposit_update/manifest_third_party_deposit_update.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/third_party_deposit_update/third_party_deposits_delta.rs
Due: fmt, clippy, unit tests

bump version to 1.0.4
  Cargo.lock
  Cargo.toml
Due: none

fix third party deposit manifest (#149)
  Cargo.lock
  Cargo.toml
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/third_party_deposit_update/manifest_third_party_deposit_update.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/third_party_deposit_update/third_party_deposits_delta.rs
Due: fmt, clippy, unit tests

Release of '1.0.4' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  src/core/types/signatures/ed25519_signature.rs
Due: fmt, clippy, unit tests

Implement device info methods
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DeviceInfo.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/DeviceInfoSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DeviceInfoTest.kt
Due: none

Release of '1.0.5' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

fixes
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Factor/FactorSource/OffDeviceMnemonicFactorSource+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSource+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/OffDeviceMnemonicFactorSource+Swiftified.swift
  apple/Tests/TestCases/Crypto/BIP39/MnemonicWithPassphraseTests.swift
  apple/Tests/TestCases/Profile/AuthorizedDapp/AuthorizedDappTests.swift
  src/profile/security_structure_config/mfa_factor_sources/mod.rs
  src/profile/security_structure_config/mfa_factor_sources/off_device_mnemonic_uniffi.rs
  src/profile/v100/factors/factor_sources/ledger_hardware_wallet_factor_source/ledger_hardware_wallet_factor_source.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

STUB add arculus factor source STUB
  src/core/error/common_error.rs
  src/profile/security_structure_config/mfa_factor_sources/arculus_card_factor_source/arculus_card_factor_source.rs
  src/profile/security_structure_config/mfa_factor_sources/arculus_card_factor_source/arculus_card_factor_source_uniffi.rs
  src/profile/security_structure_config/mfa_factor_sources/arculus_card_factor_source/arculus_card_hint.rs
  src/profile/security_structure_config/mfa_factor_sources/arculus_card_factor_source/arculus_card_model.rs
  src/profile/security_structure_config/mfa_factor_sources/arculus_card_factor_source/mod.rs
  src/profile/security_structure_config/mfa_factor_sources/mod.rs
  src/profile/security_structure_config/mfa_factor_sources/off_device_mnemonic_factor_source/mod.rs
  src/profile/security_structure_config/mfa_factor_sources/off_device_mnemonic_factor_source/off_device_mnemonic_factor_source.rs
  src/profile/security_structure_config/mfa_factor_sources/off_device_mnemonic_factor_source/off_device_mnemonic_factor_source_uniffi.rs
  src/profile/v100/factors/factor_source.rs
  src/profile/v100/factors/factor_source_common.rs
  src/profile/v100/factors/factor_source_id_from_hash.rs
  src/profile/v100/factors/factor_source_kind.rs
Due: fmt, clippy, unit tests

Swift: Add tests for OffDevice and Arculus
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Factor/FactorSource/ArculusCardFactorSource+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/ArculusCardFactorSource+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSource+Swiftified.swift
  apple/Tests/TestCases/Profile/Factor/ArculusCardFactorSourceTests.swift
  apple/Tests/TestCases/Profile/Factor/OffDeviceMnemonicFactorSourceTests.swift
Due: ensure Swift setup for local development, SwiftFormat

[no ci] WIP
  src/profile/encrypted/encryption/aes_gcm_256.rs
  src/profile/encrypted/encryption/encryption_scheme.rs
  src/profile/security_structure_config/mfa_factor_sources/mod.rs
Due: fmt, clippy, unit tests

fixes
  src/profile/security_structure_config/mfa_factor_sources/arculus_card_factor_source/arculus_card_factor_source.rs
  src/profile/security_structure_config/mfa_factor_sources/arculus_card_factor_source/arculus_card_model.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/mod.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source.rs
  src/profile/supporting_types/decl_identified_vec_of_with_samples.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source.rs
Due: fmt, clippy, unit tests

wip
  Cargo.lock
Due: none

WIP security questions
  Cargo.lock
  Cargo.toml
  src/core/error/common_error.rs
  src/core/types/exactly_n_bytes.rs
  src/profile/encrypted/encryption/aes_gcm_256.rs
  src/profile/encrypted/encryption/encrypted_profile_snapshot.rs
  src/profile/encrypted/encryption/encryption_key.rs
  src/profile/encrypted/encryption/encryption_scheme.rs
  src/profile/encrypted/encryption/mod.rs
  src/profile/encrypted/encryption/versioned_encryption.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/answer/mod.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/answer/security_question_and_answer.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/answer/security_questions_and_answers.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/kdf/is_security_questions_kdf_scheme.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/kdf/mod.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/kdf/security_questions_keys_from_questions_and_answer_scheme.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/kdf/sub_kdf/encryption_keys_from_key_exchange_keys/keys_by_diffie_hellman_fold.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/kdf/sub_kdf/encryption_keys_from_key_exchange_keys/mod.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/kdf/sub_kdf/key_exchange_keys_from_questions_and_answer/keys_from_questions_and_answers_lower_trim_utf8.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/kdf/sub_kdf/key_exchange_keys_from_questions_and_answer/mod.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/kdf/sub_kdf/key_exchange_keys_from_questions_and_answer/security_question_and_answer_as_bytes.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/kdf/sub_kdf/key_exchange_keys_from_questions_and_answer/security_question_answer_as_bytes.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/kdf/sub_kdf/mod.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/mod.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/question/mod.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/question/security_question.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/question/security_question_kind.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/question/security_questions.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/security_questions_sealed_mnemonic.rs
  src/radix_connect/mobile/relay_service/service.rs
Due: fmt, clippy, unit tests

WIP: new SecurityQuestionsFactorSource by encrypting mnemonic
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/security_questions_factor_source.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/security_questions_sealed_mnemonic.rs
  src/profile/v100/factors/factor_source_common.rs
Due: fmt, clippy, unit tests

[no ci] WIP
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/question/security_question.rs
  src/profile/security_structure_config/mfa_factor_sources/security_questions_factor_source/question/security_questions.rs
Due: fmt, clippy, unit tests

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  SwiftFormat: any of: \.swift$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
