Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

Updating the scrypto and ret dependency (#203)
  Cargo.lock
  Cargo.toml
Due: none

Release of '1.0.40' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Integrate locker address entity type
  apple/Sources/Sargon/Extensions/Methods/Address/LockerAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Address/LockerAddress+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/LockerAddress+Swiftified.swift
  apple/Tests/TestCases/Address/LockerAddressTests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/LockerAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/LockerAddressSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/LockerAddressTest.kt
  src/lib.rs
  src/profile/v100/address/address.rs
  src/profile/v100/address/locker_address.rs
  src/profile/v100/address/locker_address_uniffi_fn.rs
  src/profile/v100/address/mod.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/addresses_manifest_builder_support.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Add preferences for AuthorizedDapp
  apple/Sources/Sargon/Extensions/Methods/Profile/AuthorizedDapp+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/AuthorizedDapp/AuthorizedDappTests.swift
  src/profile/v100/networks/network/authorized_dapp/authorized_dapp.rs
  src/profile/v100/networks/network/authorized_dapp/mod.rs
  src/profile/v100/networks/network/authorized_dapp/preferences/authorized_dapp_preference_deposits.rs
  src/profile/v100/networks/network/authorized_dapp/preferences/authorized_dapp_preferences.rs
  src/profile/v100/networks/network/authorized_dapp/preferences/mod.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

bump version
  Cargo.lock
  Cargo.toml
Due: none

Version bump
  Cargo.lock
  Cargo.toml
Due: none

fix swift tests
  apple/Tests/Utils/Test.swift
Due: ensure Swift setup for local development, SwiftFormat

fix kotlin tests
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
Due: none

update
  crates/sargon/src/system/clients/client/file_system_client/file_system_client.rs
  crates/sargon/src/system/drivers/file_system_driver/support/test/rust_file_system_driver.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/system/clients/client/file_system_client/file_system_client.rs
Due: fmt, clippy, unit tests

add to AuthorizedDappDetailed
  src/profile/logic/profile_network/profile_network_details.rs
  src/profile/supporting_types/authorized_dapp_detailed.rs
Due: fmt, clippy, unit tests

Release of '1.0.41' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Updates on Swift code
  apple/Sources/Sargon/Extensions/Methods/Profile+Supporting+Types/AuthorizedDappDetailed+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/AuthorizedDapp+Wrap+Functions.swift
  apple/Tests/TestCases/Profile+Supporting+Types/AuthorizedDappDetailedTests.swift
  apple/Tests/TestCases/Profile/AuthorizedDapp/AuthorizedDappTests.swift
Due: ensure Swift setup for local development, SwiftFormat

Remove serde from AuthorizedDappDetailed
  crates/sargon/src/profile/supporting_types/authorized_dapp_detailed.rs
Due: fmt, clippy, unit tests

Version bump
  Cargo.lock
  crates/sargon/Cargo.toml
Due: none

[ABW-3756] Add preferences for AuthorizedDapp (#206)
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Extensions/Methods/Profile+Supporting+Types/AuthorizedDappDetailed+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/AuthorizedDapp+Wrap+Functions.swift
  apple/Tests/TestCases/Profile+Supporting+Types/AuthorizedDappDetailedTests.swift
  apple/Tests/TestCases/Profile/AuthorizedDapp/AuthorizedDappTests.swift
  crates/sargon/Cargo.toml
  crates/sargon/src/profile/logic/profile_network/profile_network_details.rs
  crates/sargon/src/profile/supporting_types/authorized_dapp_detailed.rs
  crates/sargon/src/profile/v100/networks/network/authorized_dapp/authorized_dapp.rs
  crates/sargon/src/profile/v100/networks/network/authorized_dapp/mod.rs
  crates/sargon/src/profile/v100/networks/network/authorized_dapp/preferences/authorized_dapp_preference_deposits.rs
  crates/sargon/src/profile/v100/networks/network/authorized_dapp/preferences/authorized_dapp_preferences.rs
  crates/sargon/src/profile/v100/networks/network/authorized_dapp/preferences/mod.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Release of '1.0.42' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Claim account locker
  Cargo.lock
  apple/Sources/Sargon/Extensions/Swiftified/RET/TransactionManifest+Swiftified.swift
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  crates/sargon/Cargo.toml
  crates/sargon/fixtures/transaction/account_locker_claim.rtm
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/account_locker/account_locker_claimable_resource.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/account_locker/manifest_account_locker.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/account_locker/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TransactionManifest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Improve test coverage
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/account_locker/manifest_account_locker.rs
Due: fmt, clippy, unit tests

Improve readability
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/account_locker/manifest_account_locker.rs
Due: fmt, clippy, unit tests

Address PR comments
  apple/Sources/Sargon/Extensions/SampleValues/Transaction/AccountLockerClaimableResource+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/TransactionManifest+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Transaction/AccountLockerClaimableResource+Swiftified.swift
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/account_locker/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifest_account_locker.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/account_locker/account_locker_claimable_resource.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/account_locker/account_locker_claimable_resource_uniffi_fn.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/account_locker/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/mod.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TransactionManifest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Address PR comments
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifest_account_locker.rs
Due: fmt, clippy, unit tests

Call deposit instruction for each resource
  apple/Sources/Sargon/Extensions/Swiftified/RET/TransactionManifest+Swiftified.swift
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  crates/sargon/fixtures/transaction/account_locker_claim.rtm
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifest_account_locker.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AccountLockerClaimableResourceSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TransactionManifest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AccountLockerClaimableResourceTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Update gradle to look in the correct cargo toml location
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/toml/SargonVersion.kt
Due: none

Update cargo.toml lookup (#207)
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/toml/SargonVersion.kt
Due: none

Release of '1.0.43' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Build manifest for claiming the contents of account lockers (#205)
  Cargo.lock
  apple/Sources/Sargon/Extensions/Methods/Address/LockerAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Address/LockerAddress+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Transaction/AccountLockerClaimableResource+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/LockerAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/TransactionManifest+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Transaction/AccountLockerClaimableResource+Swiftified.swift
  apple/Tests/TestCases/Address/LockerAddressTests.swift
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  crates/sargon/Cargo.toml
  crates/sargon/fixtures/transaction/account_locker_claim.rtm
  crates/sargon/src/lib.rs
  crates/sargon/src/profile/v100/address/address.rs
  crates/sargon/src/profile/v100/address/locker_address.rs
  crates/sargon/src/profile/v100/address/locker_address_uniffi_fn.rs
  crates/sargon/src/profile/v100/address/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/addresses_manifest_builder_support.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifest_account_locker.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/account_locker/account_locker_claimable_resource.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/account_locker/account_locker_claimable_resource_uniffi_fn.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/account_locker/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/mod.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AccountLockerClaimableResourceSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/LockerAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TransactionManifest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/LockerAddressSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AccountLockerClaimableResourceTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/LockerAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Release of '1.0.44' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Accout locker claim non fungibles by amount
  Cargo.lock
  crates/sargon/Cargo.toml
  crates/sargon/fixtures/transaction/account_locker_claim.rtm
  crates/sargon/fixtures/transaction/account_locker_claim_max_nft_items.rtm
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifest_account_locker.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/account_locker/account_locker_claimable_resource.rs
Due: fmt, clippy, unit tests

Move ResourcePreferences under ProfileNetwork
  Cargo.lock
  crates/sargon/Cargo.toml
  crates/sargon/src/profile/logic/profile_network/profile_network_get_entities.rs
  crates/sargon/src/profile/v100/app_preferences/app_preferences.rs
  crates/sargon/src/profile/v100/app_preferences/mod.rs
  crates/sargon/src/profile/v100/networks/network/mod.rs
  crates/sargon/src/profile/v100/networks/network/profile_network.rs
  crates/sargon/src/profile/v100/networks/network/resource_preferences/hidden_resources.rs
  crates/sargon/src/profile/v100/networks/network/resource_preferences/mod.rs
  crates/sargon/src/profile/v100/networks/network/resource_preferences/resource_app_preference.rs
  crates/sargon/src/profile/v100/networks/network/resource_preferences/resource_identifier.rs
  crates/sargon/src/profile/v100/networks/network/resource_preferences/resource_preferences.rs
  crates/sargon/src/profile/v100/networks/network/resource_preferences/resource_preferences_uniffi_fn.rs
  crates/sargon/src/profile/v100/networks/network/resource_preferences/resource_visibility.rs
  crates/sargon/src/profile/v100/networks/profile_networks.rs
  crates/sargon/src/profile/v100/profile.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/system/sargon_os/sargon_os_profile.rs
Due: fmt, clippy, unit tests

missing tests
  crates/sargon/src/profile/v100/networks/network/profile_network.rs
  crates/sargon/src/profile/v100/networks/network/resource_preferences/resource_identifier.rs
Due: fmt, clippy, unit tests

Update kt extensions
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ProfileNetworkSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AppPreferencesTest.kt
Due: none

Address PR comments
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifest_account_locker.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/account_locker/account_locker_claimable_resource.rs
Due: fmt, clippy, unit tests

Added doc
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/account_locker/account_locker_claimable_resource.rs
Due: fmt, clippy, unit tests

Move ResourcePreferences under ProfileNetwork (#209)
  Cargo.lock
  crates/sargon/Cargo.toml
  crates/sargon/src/profile/logic/profile_network/profile_network_get_entities.rs
  crates/sargon/src/profile/v100/app_preferences/app_preferences.rs
  crates/sargon/src/profile/v100/app_preferences/mod.rs
  crates/sargon/src/profile/v100/networks/network/mod.rs
  crates/sargon/src/profile/v100/networks/network/profile_network.rs
  crates/sargon/src/profile/v100/networks/network/resource_preferences/hidden_resources.rs
  crates/sargon/src/profile/v100/networks/network/resource_preferences/mod.rs
  crates/sargon/src/profile/v100/networks/network/resource_preferences/resource_app_preference.rs
  crates/sargon/src/profile/v100/networks/network/resource_preferences/resource_identifier.rs
  crates/sargon/src/profile/v100/networks/network/resource_preferences/resource_preferences.rs
  crates/sargon/src/profile/v100/networks/network/resource_preferences/resource_preferences_uniffi_fn.rs
  crates/sargon/src/profile/v100/networks/network/resource_preferences/resource_visibility.rs
  crates/sargon/src/profile/v100/networks/profile_networks.rs
  crates/sargon/src/profile/v100/profile.rs
  crates/sargon/src/system/sargon_os/sargon_os_accounts.rs
  crates/sargon/src/system/sargon_os/sargon_os_profile.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ProfileNetworkSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AppPreferencesTest.kt
Due: fmt, clippy, unit tests

Release of '1.0.45' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat
