Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.17.2
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift not changed to local development
        name: ensure Swift not changed to local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-not-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

      - id: doc tests
        name: doc tests
        language: system
        types: [file, rust]
        entry: cargo test --doc
        pass_filenames: false

      - id: vectors integration tests
        name: vectors integration tests
        language: system
        types: [file, rust]
        entry: cargo test --package sargon --test vectors
        pass_filenames: false

      - id: uniffi bindgen tests
        name: uniffi bindgen tests
        language: system
        types: [file, rust]
        entry: bash -c 'exec env CLASSPATH="$PWD/jna-5.13.0.jar"' && bash -c 'exec env JAVA_OPTS="-Xmx8g"' && cargo test --package sargon --test uniffi
        pass_filenames: false

increase code coverage in Rust
  src/wrapped_radix_engine_toolkit/low_level/compiled_notarized_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/notarized_transaction.rs
  src/wrapped_radix_engine_toolkit/low_level/signed_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Add missing extensions
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FungibleResourceIndicator.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Message.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NonFungibleResourceIndicator.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ResourceAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ResourceIndicator.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/FungibleResourceIndicatorSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/MessageSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/NonFungibleLocalIdSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/NonFungibleResourceIndicatorSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ResourceIndicatorSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FungibleResourceIndicatorTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/MessageTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NonFungibleResourceIndicatorTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ResourceAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ResourceIndicatorTest.kt
Due: none

SBOR depth validation (#54)
  .pre-commit-config.yaml
  _typos.toml
  apple/Sources/Sargon/Extensions/Methods/RET/TransactionManifest+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Transaction/TransactionHeader+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Transaction/TransactionHeader+Swiftified.swift
  apple/Tests/TestCases/RET/TransactionManifestTests.swift
  apple/Tests/TestCases/Transaction/StakeClaimTests.swift
  apple/Tests/TestCases/Transaction/TransactionHeaderTests.swift
  examples/iOS/Backend/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
  src/bindgen/post_process_kotlin.rs
  src/bindgen/post_process_swift.rs
  src/core/error/common_error.rs
  src/lib.rs
  src/profile/v100/address/wrap_ret_address.rs
  src/profile/v100/entity/persona/persona.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifest_assets_transfers.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_create_tokens.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/modify_manifest.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/third_party_deposit_update/manifest_third_party_deposit_update.rs
  src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
  src/wrapped_radix_engine_toolkit/low_level/compiled_notarized_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/compiled_notarized_intent_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/low_level/intent_signatures.rs
  src/wrapped_radix_engine_toolkit/low_level/mod.rs
  src/wrapped_radix_engine_toolkit/low_level/notarized_transaction.rs
  src/wrapped_radix_engine_toolkit/low_level/sbor_depth_validation.rs
  src/wrapped_radix_engine_toolkit/low_level/signed_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_header_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/instructions/instructions.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/instructions/instructions_secret_magic.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest_secret_magic.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_receipt.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Implement Intent/SignedIntent Hash formatted method
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/IntentHash.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SignedIntentHash.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/IntentHashTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SignedIntentHashTest.kt
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/transaction_hashes.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Implement Intent/SignedIntent Hash formatted method (#56)
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/IntentHash.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SignedIntentHash.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/IntentHashTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SignedIntentHashTest.kt
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/transaction_hashes.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Add address extensions
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Address.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AddressTest.kt
Due: none

Add address extensions (#57)
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Address.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AddressTest.kt
Due: none

WIP
  apple/Sources/Sargon/Extensions/Methods/Address/Address+Wrap+Functions.swift
  src/core/types/decimal192.rs
  src/core/types/decimal192_uniffi_fn.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

transactionhashes
  apple/Sources/Sargon/Extensions/Methods/Crypto/Hash/IntentHash+Wrap+Functions.swift
  apple/Sources/Sargon/Protocols/IdentifiableByStringProtocol.swift
  apple/Sources/Sargon/Protocols/TransactionHashProtocol.swift
Due: ensure Swift not changed to local development

formatting of Intent hashes + Decimal from Double
  apple/Sources/Sargon/Extensions/Methods/Crypto/Hash/IntentHash+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Hash/SignedIntentHash+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/Decimal192+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Hash/IntentHash+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Hash/SignedIntentHash+Swiftified.swift
  apple/Sources/Sargon/Protocols/IdentifiableByStringProtocol.swift
  apple/Sources/Sargon/Protocols/TransactionHashProtocol.swift
  apple/Tests/TestCases/Crypto/IntentHashTests.swift
  apple/Tests/TestCases/Crypto/SignedIntentHashTests.swift
  apple/Tests/TestCases/Prelude/Decimal192Tests.swift
  apple/Tests/Utils/IdentifiableByStringProtocolTests.swift
  apple/Tests/Utils/SargonModelProtocol.swift
  apple/Tests/Utils/TransactionHashProtocolTests.swift
  src/core/types/decimal192.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Integration batch 16 (#58)
  apple/Sources/Sargon/Extensions/Methods/Address/Address+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Hash/IntentHash+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Crypto/Hash/SignedIntentHash+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Prelude/Decimal192+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Hash/IntentHash+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Hash/SignedIntentHash+Swiftified.swift
  apple/Sources/Sargon/Protocols/IdentifiableByStringProtocol.swift
  apple/Sources/Sargon/Protocols/TransactionHashProtocol.swift
  apple/Tests/TestCases/Crypto/IntentHashTests.swift
  apple/Tests/TestCases/Crypto/SignedIntentHashTests.swift
  apple/Tests/TestCases/Prelude/Decimal192Tests.swift
  apple/Tests/Utils/IdentifiableByStringProtocolTests.swift
  apple/Tests/Utils/SargonModelProtocol.swift
  apple/Tests/Utils/TransactionHashProtocolTests.swift
  src/core/types/decimal192.rs
  src/core/types/decimal192_uniffi_fn.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

dont git bump 0.1.9 to 0.2.0
  apple/Sources/Sargon/Extensions/Swiftified/RET/TransactionManifest+Swiftified.swift
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  scripts/ios/release.sh
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_create_tokens.rs
  src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

bump version of Sargon to 0.6.4
  Cargo.lock
  Cargo.toml
  scripts/ios/release.sh
Due: none

fix kotlin
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TransactionManifest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
Due: none

fix kotlin
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
Due: none

mint resource input how many (#59)
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Extensions/Swiftified/RET/TransactionManifest+Swiftified.swift
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TransactionManifest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
  scripts/ios/release.sh
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_create_tokens.rs
  src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Carry over ExecutionSummary error
  src/core/error/common_error.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Export CommonError's errorCode and errorMessage
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Extensions/Methods/Prelude/SargonError+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Prelude/SargonError+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/AccountPath+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/IdentityPath+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/SargonError+Swiftified.swift
  apple/Tests/TestCases/Prelude/SargonErrorTests.swift
  src/core/error/common_error.rs
  src/wrapped_radix_engine_toolkit/low_level/compiled_notarized_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/notarized_transaction.rs
  src/wrapped_radix_engine_toolkit/low_level/signed_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/instructions/instructions.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

add isInternal and isGlobal on ComponentAddress
  apple/Sources/Sargon/Extensions/Methods/Address/AccessControllerAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/AccountAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/AddressOfAccountOrPersona+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/ComponentAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/IdentityAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/NonFungibleResourceAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/PackageAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/PoolAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/ResourceAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/ValidatorAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Address/VaultAddress+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/AccessControllerAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/AccountAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/Address+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/AddressOfAccountOrPersona+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/ComponentAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/IdentityAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/LegacyOlympiaAccountAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/NonFungibleResourceAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/PackageAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/PoolAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/ResourceAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/ValidatorAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/VaultAddress+Swiftified.swift
  apple/Sources/Sargon/Protocols/AddressProtocol.swift
  apple/Tests/TestCases/Address/ComponentAddressTests.swift
  apple/Tests/Utils/AddressProtocolTests.swift
  src/profile/v100/address/component_address.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

fix incorrect Valuekind of URLs
  Cargo.lock
  Cargo.toml
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_create_tokens.rs
  src/wrapped_radix_engine_toolkit/high_level/token_definition_metadata.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/create_nft_collections.rtm
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

fix incorrect Valuekind of URLs (#61)
  Cargo.lock
  Cargo.toml
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_create_tokens.rs
  src/wrapped_radix_engine_toolkit/high_level/token_definition_metadata.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/execution_summary/create_nft_collections.rtm
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Bump Sargon toml version
  Cargo.lock
  Cargo.toml
  scripts/ios/release.sh
Due: none

skip using url with spaces
  Cargo.lock
  Cargo.toml
  fixtures/transaction/create_3_nft_collections.rtm
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_create_tokens.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

skip using url with spaces (#63)
  Cargo.lock
  Cargo.toml
  fixtures/transaction/create_3_nft_collections.rtm
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_create_tokens.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Implement Double to decimal192
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Decimal192.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Decimal192Test.kt
Due: none

Rename into() -> asSpecific and embed() -> asGeneral
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Extensions/Swiftified/Address/AccessControllerAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/AccountAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/Address+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/AddressOfAccountOrPersona+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/ComponentAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/IdentityAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/NonFungibleResourceAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/PackageAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/PoolAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/ResourceAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/ValidatorAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/VaultAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/AccountPath+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/CAP26Path+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/IdentityPath+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Keys/Ed25519PublicKey+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Keys/PublicKey+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Keys/Secp256k1PublicKey+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/NonFungibleGlobalID+Swiftified.swift
  apple/Sources/Sargon/Protocols/AddressProtocol.swift
  apple/Sources/Sargon/Protocols/CAP26PathProtocol.swift
  apple/Sources/Sargon/Protocols/PublicKeyProtocol.swift
  apple/Tests/TestCases/Address/AccountAddressTests.swift
  apple/Tests/TestCases/Crypto/PublicKeyTests.swift
  apple/Tests/TestCases/Prelude/NonFungibleGlobalIDTests.swift
  apple/Tests/Utils/AddressProtocolTests.swift
Due: ensure Swift not changed to local development

Add component address and sargon exception extensions
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ComponentAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SargonException.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/SargonErrorSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ComponentAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SargonExceptionTest.kt
Due: none

Rename into() -> asSpecific and embed() -> asGeneral (#64)
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Extensions/Swiftified/Address/AccessControllerAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/AccountAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/Address+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/AddressOfAccountOrPersona+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/ComponentAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/IdentityAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/NonFungibleResourceAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/PackageAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/PoolAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/ResourceAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/ValidatorAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Address/VaultAddress+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/AccountPath+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/CAP26Path+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Derivation/IdentityPath+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Keys/Ed25519PublicKey+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Keys/PublicKey+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Crypto/Keys/Secp256k1PublicKey+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Prelude/NonFungibleGlobalID+Swiftified.swift
  apple/Sources/Sargon/Protocols/AddressProtocol.swift
  apple/Sources/Sargon/Protocols/CAP26PathProtocol.swift
  apple/Sources/Sargon/Protocols/PublicKeyProtocol.swift
  apple/Tests/TestCases/Address/AccountAddressTests.swift
  apple/Tests/TestCases/Crypto/PublicKeyTests.swift
  apple/Tests/TestCases/Prelude/NonFungibleGlobalIDTests.swift
  apple/Tests/Utils/AddressProtocolTests.swift
Due: ensure Swift not changed to local development

Move android app in examlpes dir
  examples/android/.gitignore
  examples/android/build.gradle.kts
  examples/android/proguard-rules.pro
  examples/android/src/main/AndroidManifest.xml
  examples/android/src/main/java/com/radixdlt/sargon/android/EphemeralKeystore.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/ui/theme/Color.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/ui/theme/Theme.kt
  examples/android/src/main/java/com/radixdlt/sargon/android/ui/theme/Type.kt
  examples/android/src/main/res/drawable/ic_launcher_background.xml
  examples/android/src/main/res/drawable/ic_launcher_foreground.xml
  examples/android/src/main/res/mipmap-anydpi/ic_launcher.xml
  examples/android/src/main/res/mipmap-anydpi/ic_launcher_round.xml
  examples/android/src/main/res/mipmap-hdpi/ic_launcher.webp
  examples/android/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  examples/android/src/main/res/mipmap-mdpi/ic_launcher.webp
  examples/android/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  examples/android/src/main/res/mipmap-xhdpi/ic_launcher.webp
  examples/android/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  examples/android/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  examples/android/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  examples/android/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  examples/android/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  examples/android/src/main/res/values-night/themes.xml
  examples/android/src/main/res/values/colors.xml
  examples/android/src/main/res/values/strings.xml
  examples/android/src/main/res/values/themes.xml
  examples/android/src/main/res/xml/backup_rules.xml
  examples/android/src/main/res/xml/data_extraction_rules.xml
  jvm/settings.gradle.kts
Due: none

Create asGeneral() for addresses, signatures and public keys
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AccessControllerAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AccountAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ComponentAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/IdentityAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PackageAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PoolAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PublicKey.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ResourceAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Signature.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ValidatorAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/VaultAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/SignatureSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AccessControllerAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AccountAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ComponentAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Ed25519SignatureTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/IdentityAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PackageAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PoolAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PublicKeyTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ResourceAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Secp256k1SignatureTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SignatureTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ValidatorAddressTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/VaultAddressTest.kt
Due: none

rename
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Extensions/Methods/Transaction/AccountOrAddressOf+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Transaction/AssetsTransfersRecipient+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Transaction/AccountOrAddressOf+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Transaction/AssetsTransfersRecipient+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Transaction/AccountOrAddressOf+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Transaction/AssetsTransfersRecipient+Swiftified.swift
  apple/Tests/TestCases/Transaction/AccountOrAddressOfTests.swift
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/account_or_address_of.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/account_or_address_of_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/assets_transfers_recipient_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/mod.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_asset/per_asset_fungible_transfer.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_asset/per_asset_non_fungible_transfer.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_recipient/per_recipient_asset_transfer.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/transfer_types.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

ensure XCTest printed values use .test locale, add some decimal192 tests.
  apple/Sources/Sargon/Extensions/Methods/Prelude/Decimal192+Wrap+Functions.swift
  apple/Tests/TestCases/Prelude/Decimal192Tests.swift
Due: ensure Swift not changed to local development

example app
  examples/Package.swift
  examples/iOS/Backend/Package.swift
  scripts/ios/build-sargon.sh
Due: ensure Swift not changed to local development

WIP
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Antennas/Network/GatewayClient+Swiftified.swift
  apple/Sources/Sargon/Antennas/Network/NetworkAntenna+URLSession.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/Gateway/Gateway+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Account/Account+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Account/AppearanceID+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Account/ThirdPartyDeposits+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSource/FactorSource+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Factor/FactorSources/FactorSources+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Gateway/Gateway+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Profile+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/Blob+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/Blobs+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/CompiledNotarizedIntent+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/IntentSignature+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/NotarizedTransaction+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/NotarySignature+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/SignedIntent+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/TransactionIntent+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/TransactionManifest+Swiftified.swift
  apple/Tests/IntegrationTests/GatewayClientTests.swift
  apple/Tests/TestCases/ProfileTests/Gateway/GatewayTests.swift
  apple/Tests/TestCases/RET/ManifestBuilding/ManifestBuildingTests.swift
  src/core/error/common_error.rs
  src/gateway_api/gateway_client.rs
  src/gateway_api/mod.rs
  src/lib.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

working GW
  apple/Sources/Sargon/Antennas/Network/NetworkAntenna+URLSession.swift
  apple/Sources/Sargon/Extensions/Methods/Address/PackageAddress+Wrap+Functions.swift
  src/core/error/common_error.rs
  src/gateway_api/gateway_client.rs
  src/gateway_api/mod.rs
  src/gateway_api/models/mod.rs
  src/gateway_api/models/request.rs
  src/gateway_api/models/response.rs
  src/hierarchical_deterministic/cap26/cap26_path/paths/account_path.rs
  src/hierarchical_deterministic/cap26/cap26_path/paths/identity_path.rs
  src/hierarchical_deterministic/cap26/cap26_path/paths/is_entity_path.rs
  src/lib.rs
  src/profile/v100/address/wrap_ret_address.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/address_union.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests
