Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true
default_install_hook_types: [pre-push]
default_stages: [pre-push]
repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.22.7
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

  - repo: https://github.com/phylum-dev/phylum-ci
    rev: main
    hooks:
      - id: phylum
        stages: [pre-push]
        # Optional: Specify the dependency file pattern for your repository
        files: |
            (?x)^(
                Cargo\.lock|
            )$
        # Optional: Specify additional arguments to be passed to `phylum-ci`
        args:
          - -vv
          - --depfile=Cargo.lock
          - --audit
          - --force-analysis
          - --all-deps
        verbose: true

Uniffi expose primary threshold
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/builder/matrix_builder.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

Add remove all override factors function
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/builder/matrix_builder.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/builder/matrix_builder_unit_tests.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

Fix bug causing crash when all ROLA keys were reused. Add many more tests
  crates/factors/instances-provider/src/provider/provider_adopters/securify_entity_factor_instances_provider.rs
  crates/factors/next-derivation-index-ephemeral/src/agnostic_paths/quantified_derivation_preset.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/roles/builder/confirmation_roles_builder_unit_tests.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/roles/builder/primary_roles_builder_unit_tests.rs
  crates/system/os/factors/src/sargon_os_apply_shield.rs
  crates/system/os/factors/src/test_instances_provider.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/entities/apply_shield/sargon_os_apply_shield.rs
Due: fmt, clippy, unit tests

fix bug where NextDerivationEntityIndexProfileAnalyzingAssigner disregarded unsecurified entities with provisional when calculating next ROLA index.
  crates/factors/factors/src/hierarchical_deterministic_factor_instance.rs
  crates/factors/instances-provider/src/next_index_assigner/next_derivation_entity_index_profile_analyzing_assigner.rs
  crates/profile/models/supporting-types/src/unsecurified_entity.rs
Due: fmt, clippy, unit tests

Update shield validation
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

More HasSampleValues impl and tests | Tarpaulin config update
  .github/workflows/test.yml
  .tarpaulin.toml
  crates/core/error/src/common_error.rs
  crates/core/error/src/secure_storage_access_error_kind.rs
  crates/core/has-sample-values/src/has_sample_values.rs
Due: fmt, clippy, unit tests

fix typos, rename badly named variables, remove whitelines and tarpaulin accuracy
  .tarpaulin.toml
  crates/crypto/cap26-models/src/enums/cap26_entity_kind.rs
  crates/factors/instances-provider/src/next_index_assigner/next_derivation_entity_index_profile_analyzing_assigner.rs
  crates/system/os/factors/src/sargon_os_apply_shield.rs
  crates/system/os/factors/src/test_instances_provider.rs
Due: fmt, clippy, unit tests

add more tests
  crates/app/radix-connect/src/lib.rs
  crates/app/signing-traits/src/lib.rs
  crates/app/signing/src/collector/support_poly_sign.rs
  crates/app/signing/src/lib.rs
  crates/crypto/cap26-models/src/enums/cap26_entity_kind.rs
  crates/crypto/cap26-models/src/lib.rs
  crates/factors/factors/src/hierarchical_deterministic_factor_instance.rs
  crates/factors/instances-provider/src/next_index_assigner/next_derivation_entity_index_profile_analyzing_assigner.rs
  crates/factors/keys-collector/src/lib.rs
  crates/profile/models/account/src/lib.rs
  crates/profile/models/persona-data/src/lib.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/roles/abstract_role_builder_or_built.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/roles/builder/roles_builder.rs
  crates/system/os/factors/src/sargon_os_security_structures.rs
  crates/system/os/security-center/src/lib.rs
  crates/system/sub-systems/src/lib.rs
Due: fmt, clippy, unit tests

extension for Subintent
  apple/Sources/Sargon/Extensions/Methods/RET/CompiledSubintent+Wrap+Functions.swift
Due: ensure Swift setup for local development, SwiftFormat

Add time period as recovery emergency fallback
  crates/core/utils/src/constants.rs
  crates/profile/models/security-structures/src/lib.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder.rs
  crates/profile/models/security-structures/src/time_period.rs
  crates/profile/models/security-structures/src/time_period_unit.rs
  crates/system/os/factors/src/sargon_os_security_structures.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/models/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/models/time_period.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/models/time_period_unit.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

Add samples. Add test
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TimePeriod.kt
Due: none

Add samples. Add test
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/models/time_period.rs
Due: fmt, clippy, unit tests

Add extensions
  apple/Sources/Sargon/Extensions/Methods/Profile/MFA/TimePeriod+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Profile/MFA/TimePeriod+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/MFA/SecurityShieldBuilder+Swifified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/MFA/TimePeriod+Swiftified.swift
  apple/Tests/TestCases/Profile/MFA/SecurityShieldsBuilderTests.swift
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TimePeriod.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/TimePeriodSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TimePeriodTest.kt
Due: ensure Swift setup for local development, SwiftFormat

Add swift tests
  apple/Tests/TestCases/Profile/MFA/TimePeriodTests.swift
Due: ensure Swift setup for local development, SwiftFormat

more tests
  crates/factors/instances-provider/src/next_index_assigner/next_derivation_entity_index_profile_analyzing_assigner.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/roles/abstract_role_builder_or_built.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/roles/builder/roles_builder.rs
  crates/system/os/factors/src/sargon_os_apply_shield.rs
Due: fmt, clippy, unit tests

rename worksflows, change cargo to use crates.io, use --locked flag for cargo everywhere.
  .github/workflows/release-kotlin-android.yml
  .github/workflows/release-kotlin-desktop.yml
  .github/workflows/release-swift-ios.yml
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  crates/crypto/hd/src/bip39/mnemonic.rs
  crates/sargon/Cargo.toml
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/desktop/CargoDesktopPlugin.kt
  jvm/sargon-android/build.gradle.kts
  scripts/ios/build-sargon.sh
Due: fmt, clippy, unit tests

Expose functions and add tests
  apple/Sources/Sargon/Extensions/SampleValues/Profile/MFA/Threshold+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/MFA/Threshold+Swiftified.swift
  apple/Tests/TestCases/Profile/MFA/SecurityShieldsBuilderTests.swift
  apple/Tests/TestCases/Profile/MFA/ThresholdTests.swift
  crates/core/utils/src/constants.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder.rs
  crates/profile/models/security-structures/src/threshold.rs
  crates/profile/models/security-structures/src/time_period.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/models/threshold.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/models/time_period_unit.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/security_shield_builder.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TimePeriodUnit.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/ThresholdSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ThresholdTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TimePeriodUnitTest.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

stage
  crates/core/error/src/common_error.rs
  crates/crypto/hd/src/bip39/mnemonic.rs
  crates/system/clients/clients/src/clients/client/arculus_wallet_client/arculus_wallet_client.rs
  crates/system/clients/clients/src/clients/client/arculus_wallet_client/arculus_wallet_client_io.rs
  crates/system/clients/clients/src/clients/client/arculus_wallet_client/arculus_wallet_client_signing.rs
  crates/system/clients/clients/src/clients/client/arculus_wallet_client/arculus_wallet_response_status.rs
  crates/system/clients/clients/src/clients/client/arculus_wallet_client/mod.rs
  crates/system/drivers/src/drivers/arculus_csdk_driver/arculus_csdk_driver.rs
  crates/system/drivers/src/drivers/arculus_csdk_driver/support/test/arculus_csdk_driver.rs
  crates/system/os/os/src/sargon_os_arculus_card.rs
  crates/uniffi/uniffi_SPLIT_ME/src/core/error/common_error.rs
  crates/uniffi/uniffi_SPLIT_ME/src/core/types/bag_of_bytes.rs
  crates/uniffi/uniffi_SPLIT_ME/src/core/types/collections/internal_mapping.rs
  crates/uniffi/uniffi_SPLIT_ME/src/core/utils/delegate_debug_display_impl.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/drivers/arculus_csdk_driver/arculus_csdk_driver.rs
Due: fmt, clippy, unit tests

lock crypto crates
  Cargo.lock
  Cargo.toml
  crates/crypto/hd/src/bip39/mnemonic.rs
Due: fmt, clippy, unit tests

additions for auth intent
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/WalletInteraction/DappToWalletInteractionMetadata+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Signing/Authentication/AuthIntent+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/RadixConnect/WalletInteraction/DappToWalletInteractionMetadata+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/RadixConnect/WalletInteraction/DappToWalletInteractionMetadata+Swiftified.swift
  crates/uniffi/uniffi_SPLIT_ME/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/dapp_metadata/interaction_metadata.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

PR review
  apple/Sources/Sargon/Extensions/Methods/Profile/MFA/TimePeriodUnit+Wrap+Functions.swift
  apple/Sources/Sargon/Util/SharedConstants.swift
  apple/Tests/TestCases/Profile/MFA/SecurityShieldsBuilderTests.swift
  apple/Tests/TestCases/Profile/MFA/TimePeriodUnitTests.swift
  crates/core/utils/src/constants.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/matrices/builder/matrix_builder.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/roles/abstract_role_builder_or_built.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder.rs
  crates/profile/models/security-structures/src/time_period_unit.rs
  crates/uniffi/uniffi_SPLIT_ME/src/core/utils/constants.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/models/time_period_unit.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SharedConstants.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TimePeriodUnit.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

wip
  crates/uniffi/uniffi_SPLIT_ME/src/core/error/common_error.rs
Due: fmt, clippy, unit tests

export method to get Hash from AuthIntentHash
  apple/Sources/Sargon/Extensions/Methods/Address/AddressOfAccountOrPersona+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Signing/Authentication/AuthIntentHash+Wrap+Functions.swift
  crates/uniffi/uniffi_SPLIT_ME/src/signing/authentication/auth_intent_hash.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Shield builder status
  crates/core/error/src/common_error.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/mod.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder_rule_violation_reason.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder_status.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/selected_primary_threshold_factors_status.rs
  crates/uniffi/uniffi_SPLIT_ME/src/core/error/common_error.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/models/factor_source_in_role_builder_validation_status.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/security_shield_builder_rule_violation_reason.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/selected_primary_threshold_factors_status.rs
Due: fmt, clippy, unit tests

add unknown account
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

Revert "add unknown account"
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder.rs
Due: fmt, clippy, unit tests

Add tests. Allow adding fs while violating rules
  Cargo.lock
  crates/core/error/src/common_error.rs
  crates/profile/models/security-structures/Cargo.toml
  crates/profile/models/security-structures/src/roles_matrices_structures/mod.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/roles/builder/roles_builder.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_shield_builder_status.rs
  crates/uniffi/uniffi_SPLIT_ME/src/core/error/common_error.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/security_shield_builder.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/security_shield_builder_status.rs
Due: fmt, clippy, unit tests

remove export
  apple/Sources/Sargon/Extensions/Methods/Signing/Authentication/AuthIntentHash+Wrap+Functions.swift
  crates/uniffi/uniffi_SPLIT_ME/src/signing/authentication/auth_intent_hash.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

typo
  crates/uniffi/uniffi_SPLIT_ME/src/core/error/common_error.rs
Due: fmt, clippy, unit tests

allow to create account with specific Factor Source
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_accounts.rs
Due: fmt, clippy, unit tests
