Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

doc tests:
  name: doc tests
  language: system
  entry: cargo test --doc
  pass_filenames: false

vectors integration tests:
  name: vectors integration tests
  language: system
  entry: cargo test --package sargon --test vectors
  pass_filenames: false

swift tests:
  name: swift tests
  language: system
  entry: ./scripts/ios/test.sh --testonly
  pass_filenames: false

kotlin tests:
  name: kotlin (jvm) tests
  language: system
  entry: ./jvm/gradlew -p jvm/sargon-android koverVerifyDebug
  pass_filenames: false

make kotlin compile
  .envrc
  .gitignore
  README.md
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-desktop-debug/build.gradle.kts
  jvm/sargon-desktop-release/build.gradle.kts
Due: kotlin tests

reqwest working
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Antennas/Network/GatewayClient+Swiftified.swift
  src/gateway_api/gateway_client.rs
  tests/integration/main.rs
  tests/integration/network_antenna_reqwest.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

format
  tests/integration/network_antenna_reqwest.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

rename to AccountOrAddressOf (#66)
  Cargo.lock
  Cargo.toml
  apple/Sources/Sargon/Extensions/Methods/Prelude/Decimal192+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Transaction/AccountOrAddressOf+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Transaction/AssetsTransfersRecipient+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Transaction/AccountOrAddressOf+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Transaction/AssetsTransfersRecipient+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/Transaction/AccountOrAddressOf+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Transaction/AssetsTransfersRecipient+Swiftified.swift
  apple/Tests/TestCases/Prelude/Decimal192Tests.swift
  apple/Tests/TestCases/Transaction/AccountOrAddressOfTests.swift
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/TransactionManifestTest.kt
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/account_or_address_of.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/account_or_address_of_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/assets_transfers_recipient_uniffi_fn.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/mod.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_asset/per_asset_fungible_transfer.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_asset/per_asset_non_fungible_transfer.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/per_recipient/per_recipient_asset_transfer.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/assets_transfers/transfer_types.rs
Due: ensure Swift setup for local development, fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

remove some features flags from reqwest
  Cargo.lock
  Cargo.toml
Due: none

reqwest: use 'native-tls-vendored' feature flag - NB this might break CI/CD, we might need to install openssl in CI/CD.
  Cargo.lock
  Cargo.toml
Due: none

fix Swift CD
  scripts/ios/release.sh
Due: none

fix Swift CD (#68)
  scripts/ios/release.sh
Due: none

Implement SargonNetworkAntenna
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/antenna/SargonNetworkAntenna.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/NetworkMethod.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/EphemeralKeystore.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NetworkAntennaTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/WalletTest.kt
  src/core/error/common_error.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/address_union.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

WIP
  Cargo.lock
  Cargo.toml
  src/core/utils/string_utils.rs
  src/hierarchical_deterministic/bip32/hd_path.rs
  src/hierarchical_deterministic/bip32/hd_path_component.rs
  src/hierarchical_deterministic/derivation/mnemonic_with_passphrase.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

fix
  src/core/types/decimal192.rs
  src/hierarchical_deterministic/bip32/hd_path.rs
  src/hierarchical_deterministic/bip32/hd_path_component.rs
  src/wrapped_radix_engine_toolkit/low_level/compiled_notarized_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/notarized_transaction.rs
  src/wrapped_radix_engine_toolkit/low_level/signed_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/instructions/instructions.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

remove unneeded stuff
  .envrc
  .gitignore
  .tarpaulin.toml
  README.md
  src/core/types/decimal192.rs
  src/gateway_api/gateway_client.rs
  src/gateway_api/models/request/mod.rs
  src/gateway_api/models/request/state_entity_details.rs
  src/gateway_api/models/response/ledger_state.rs
  src/gateway_api/models/response/mod.rs
  src/gateway_api/models/response/state_entity_details.rs
  src/gateway_api/models/response/transaction_construction.rs
  src/wrapped_radix_engine_toolkit/low_level/compiled_notarized_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/notarized_transaction.rs
  src/wrapped_radix_engine_toolkit/low_level/signed_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/instructions/instructions.rs
  tests/integration/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

migrate to iotas slip10 impl
  Cargo.lock
  Cargo.toml
  src/core/types/keys/ed25519/private_key.rs
  src/core/types/keys/is_private_key.rs
  src/core/types/keys/private_key.rs
  src/core/types/keys/secp256k1/private_key.rs
  src/hierarchical_deterministic/derivation/mnemonic_with_passphrase.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

tarpaulin all targets (Should include integration tests)
  .github/workflows/test.yml
Due: none

more tests
  src/gateway_api/gateway_client.rs
  src/profile/v100/app_preferences/gateways/gateway.rs
  tests/integration/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

more tests
  src/hierarchical_deterministic/bip32/hd_path.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

remove bip32 crate - replace by lowerlevel transitive dependency of iota (which we used before).
  Cargo.lock
  Cargo.toml
  src/core/types/keys/secp256k1/public_key.rs
  src/hierarchical_deterministic/bip32/hd_path.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

try fix typos
  _typos.toml
Due: none

Add needed kotlin extensions for decimal192 migration
  jvm/gradle/libs.versions.toml
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Decimal192.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Decimal192Test.kt
Due: kotlin tests

remove duplicate kotlin test
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/NetworkAntennaTest.kt
Due: kotlin tests

New slip10 crate (#69)
  Cargo.lock
  Cargo.toml
  _typos.toml
  src/core/types/decimal192.rs
  src/core/types/keys/ed25519/private_key.rs
  src/core/types/keys/is_private_key.rs
  src/core/types/keys/private_key.rs
  src/core/types/keys/secp256k1/private_key.rs
  src/core/types/keys/secp256k1/public_key.rs
  src/core/utils/string_utils.rs
  src/hierarchical_deterministic/bip32/hd_path.rs
  src/hierarchical_deterministic/bip32/hd_path_component.rs
  src/hierarchical_deterministic/derivation/mnemonic_with_passphrase.rs
  src/wrapped_radix_engine_toolkit/low_level/compiled_notarized_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/notarized_transaction.rs
  src/wrapped_radix_engine_toolkit/low_level/signed_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/instructions/instructions.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

fix wrong error kind being thrown from swift network antenna
  apple/Sources/Sargon/Antennas/Network/NetworkAntenna+URLSession.swift
  apple/Tests/IntegrationTests/GatewayClientTests.swift
Due: ensure Swift setup for local development, swift tests

Tarpaulin config change: 1 job (no parallell), locked (dont update Cargo.lock), all tests, increase timeout to 15 min.
  .tarpaulin.toml
Due: none

Tarpaulin config change: 1 job (no parallell), locked (dont update Cargo.lock), all tests, increase timeout to 15 min.
  .github/workflows/test.yml
Due: none

Add needed kotlin extensions for decimal192 migration (#70)
  jvm/gradle/libs.versions.toml
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Decimal192.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Decimal192Test.kt
Due: kotlin tests

tarpaulin: force clean
  .tarpaulin.toml
Due: none

.github actions/workflow change runner to macos-14-xlarge (macOS 14 instead of 13) and specify Xcode 15.3.1 in CI/CD
  .github/workflows/release-android.yml
  .github/workflows/release-desktop-bins.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .tarpaulin.toml
  src/profile/v100/app_preferences/gateways/gateway.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Xcode 15.3.0
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

try fix ci cd
  .github/workflows/release-android.yml
  .github/workflows/release-desktop-bins.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

try fix ci cd
  .github/workflows/release.yml
  .github/workflows/test.yml
  .tarpaulin.toml
Due: none

WIP pin
  Cargo.lock
  Cargo.toml
Due: none

try fix tarpaluin again....
  .tarpaulin.toml
Due: none

try fix tarpaluin again.... (#72)
  .tarpaulin.toml
Due: none

rename bindgen bin to sargon-bindgen
  Cargo.lock
  Cargo.toml
  jvm/sargon-android/build.gradle.kts
  scripts/ios/build-sargon.sh
  src/bindgen/args.rs
  src/bindgen/bin.rs
  src/bindgen/post_process.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Cannot use rev for crate 'url' - strange.
  Cargo.lock
  Cargo.toml
Due: none

build dep
  Cargo.lock
  Cargo.toml
  jvm/sargon-android/build.gradle.kts
  scripts/ios/build-sargon.sh
  src/hierarchical_deterministic/bip39/bip39_word/bip39_word.rs
  tests/integration/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Pin crates to commit hash with rev (#73)
  Cargo.lock
  Cargo.toml
  jvm/sargon-android/build.gradle.kts
  scripts/ios/build-sargon.sh
  src/bindgen/args.rs
  src/bindgen/bin.rs
  src/bindgen/post_process.rs
  src/hierarchical_deterministic/bip39/bip39_word/bip39_word.rs
  tests/integration/main.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, swift tests, kotlin tests

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
  doc tests: any of: \.rs$
  vectors integration tests: any of: \.rs$
  swift tests: any of: \.rs$, \.swift$
  kotlin tests: any of: \.rs$, \.(kt|kts)$
