Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.1
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: ensure Swift setup for local development
        name: ensure Swift setup for local development
        language: system
        types: [file, swift]
        entry: ./scripts/ios/ensure-is-local.sh
        pass_filenames: false

      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: cargo fmt -- --check
        pass_filenames: false

      - id: SwiftFormat
        name: SwiftFormat
        language: system
        types: [file, swift]
        entry: swiftformat .
        pass_filenames: false

      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all -- -D warnings # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false

      - id: unit tests
        name: unit tests
        language: system
        types: [file, rust]
        entry: cargo test --lib
        pass_filenames: false

WIP
  .github/workflows/test.yml
Due: none

wip
  .github/workflows/test.yml
Due: none

address feedback
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/core/types/instant.rs
  crates/sargon/src/core/types/intent_discriminator.rs
  crates/sargon/src/profile/v100/address/non_fungible_global_id.rs
  crates/sargon/src/profile/v100/networks/network/network_id.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/petition_for_factors_state.rs
  crates/sargon/src/signing/signatures_outecome_types/signatures_outcome.rs
  crates/sargon/src/signing/tx_to_sign.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/assert_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/account_deposit.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/allowed_ids.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/lower_bound.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/simple_fungible_resource_bounds.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/simple_non_fungible_resource_bounds.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/simple_resource_bounds.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/upper_bound.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_withdraw/account_withdraw.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/manifest_summary.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_intent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/execution_summary/transaction_manifest_execution_summary.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/instructions/instructions.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest_uniffi_fn.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/intent_header_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/intent_signatures_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/child_intents.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/child_subintent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/execution_summary_v2/transaction_manifest_execution_summary_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/instructions_v2/instructions_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_v2.rs
Due: fmt, clippy, unit tests

wip
  Cargo.lock
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/derivation/collector/keys_collector.rs
  crates/sargon/src/derivation/collector/keys_collector_preprocessor.rs
  crates/sargon/src/derivation/collector/keys_collector_state.rs
  crates/sargon/src/derivation/tests/derivation_tests.rs
  crates/sargon/src/hierarchical_deterministic/cap26/cap26_path/paths/account_path.rs
  crates/sargon/src/hierarchical_deterministic/cap26/cap26_path/paths/identity_path.rs
  crates/sargon/src/hierarchical_deterministic/cap26/entity_cap26_path.rs
  crates/sargon/src/hierarchical_deterministic/cap26/hd_index/hd_index.rs
  crates/sargon/src/hierarchical_deterministic/cap26/hd_index/hd_index_securified.rs
  crates/sargon/src/hierarchical_deterministic/cap26/hd_index/mod.rs
  crates/sargon/src/hierarchical_deterministic/cap26/hd_index/u30.rs
  crates/sargon/src/hierarchical_deterministic/cap26/hd_index/u31.rs
  crates/sargon/src/hierarchical_deterministic/cap26/hd_index/unsecurified/hd_index_unhardened.rs
  crates/sargon/src/hierarchical_deterministic/cap26/hd_index/unsecurified/hd_index_unsecurified.rs
  crates/sargon/src/hierarchical_deterministic/cap26/hd_index/unsecurified/hd_index_unsecurified_hardened.rs
  crates/sargon/src/hierarchical_deterministic/cap26/hd_index/unsecurified/mod.rs
  crates/sargon/src/hierarchical_deterministic/cap26/mod.rs
  crates/sargon/src/lib.rs
  crates/sargon/src/types/hidden_constructor.rs
  crates/sargon/src/types/mod.rs
Due: fmt, clippy, unit tests

address feedback
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/lower_bound.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/unspecified_resources.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_deposit/upper_bound.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/manifest_summary/account_withdraw/account_withdraw.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/intent_header_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/child_intents.rs
Due: fmt, clippy, unit tests

fix tests
  apple/Sources/Sargon/Extensions/Methods/RET/TransactionManifest+Wrap+Functions.swift
  apple/Tests/TestCases/RET/TransactionManifestTests.swift
Due: ensure Swift setup for local development, SwiftFormat

changes after latest updates
  crates/sargon/fixtures/vector/wallet_interactions_dapp_to_wallet.json
  crates/sargon/fixtures/vector/wallet_interactions_wallet_to_dapp.json
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/after_delay.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/at_time.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/expiration.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/mod.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/pre_authorization.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/subintent.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/items.rs
Due: fmt, clippy, unit tests

v2 transaction analysis wip
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/system/sargon_os/transactions/sargon_os_transaction_analysis.rs
  crates/sargon/src/system/sargon_os/transactions/support/mod.rs
  crates/sargon/src/system/sargon_os/transactions/support/transaction_to_review.rs
  crates/sargon/src/system/sargon_os/transactions/support/transaction_to_review_v2_summary.rs
  crates/sargon/src/system/sargon_os/transactions/support/transaction_version.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_v2_uniffi_fn.rs
Due: fmt, clippy, unit tests

remove unnecessary change
  crates/sargon/src/core/error/common_error.rs
Due: fmt, clippy, unit tests

remove code from merge
  crates/sargon/src/wrapped_radix_engine_toolkit/high_level/manifest_building/assert_manifest.rs
Due: fmt, clippy, unit tests

[ABW-3835] Pre-Authorization request models (#238)
  crates/sargon/fixtures/vector/wallet_interactions_dapp_to_wallet.json
  crates/sargon/fixtures/vector/wallet_interactions_wallet_to_dapp.json
  crates/sargon/src/core/error/common_error.rs
  crates/sargon/src/core/types/mod.rs
  crates/sargon/src/core/types/version_type.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/items.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/mod.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/after_delay.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/at_time.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/expiration.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/expiration/mod.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/mod.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/pre_authorization.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/pre_authorization/subintent.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/mod.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/transaction.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_items/transaction/transaction_version.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/items.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/mod.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/pre_authorization/mod.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/wallet_to_dapp/success_response/pre_authorization/pre_authorization.rs
  crates/sargon/src/signing/petition_types/petition_for_factors_types/petition_for_factors/petition_for_factors_state.rs
Due: fmt, clippy, unit tests

wip
  Cargo.lock
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/instructions/instructions.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/mod.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/subintent.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/instructions_v2/instructions_v2.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/mod.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/lib.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/instructions/instructions.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/intent_core_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/intent_signatures_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/subintent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/instructions_v2/instructions_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/mod.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
Due: fmt, clippy, unit tests

migrate integration tests to new HDPathComponent
  crates/sargon/fixtures/vector/slip10_tests_#10.json
  crates/sargon/fixtures/vector/slip10_tests_#1000.json
  crates/sargon/src/hierarchical_deterministic/bip32/hd_path.rs
  crates/sargon/src/hierarchical_deterministic/bip32/hd_path_component.rs
  crates/sargon/src/hierarchical_deterministic/bip39/bip39_seed.rs
  crates/sargon/tests/vectors/main.rs
Due: fmt, clippy, unit tests

wip
  apple/Sources/Sargon/Extensions/Methods/RET/Subintent+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/SubintentManifest+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/TransactionManifest+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/TransactionManifestV2+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Hash/SubintentHash+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/Crypto/Hash/TransactionIntentHash+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/RET/Subintent+SampleValues.swift
  apple/Sources/Sargon/Extensions/SampleValues/RET/SubintentManifest+SampleValues.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/Subintent+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/RET/SubintentManifest+Swiftified.swift
  apple/Tests/TestCases/RET/TransactionManifestTests.swift
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

Release of '1.1.32' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

fix
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest.rs
Due: fmt, clippy, unit tests

update kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Curve25519SecretKey.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Subintent.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SubintentHash.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SubintentManifest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/SubintentHashSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/SubintentManifestSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/SubintentSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/TransactionIntentHashSample.kt
Due: none

uniffi fix
  crates/sargon-uniffi/src/core/error/common_error.rs
  crates/sargon-uniffi/src/hierarchical_deterministic/bip32/hd_path_component.rs
  crates/sargon-uniffi/src/hierarchical_deterministic/bip44/bip44_like_path.rs
  crates/sargon-uniffi/src/hierarchical_deterministic/cap26/cap26_path/cap26_path.rs
  crates/sargon-uniffi/src/hierarchical_deterministic/cap26/cap26_path/mod.rs
  crates/sargon-uniffi/src/hierarchical_deterministic/cap26/cap26_path/paths/account_path.rs
  crates/sargon-uniffi/src/hierarchical_deterministic/cap26/cap26_path/paths/getid_path.rs
  crates/sargon-uniffi/src/hierarchical_deterministic/cap26/cap26_path/paths/identity_path.rs
  crates/sargon-uniffi/src/hierarchical_deterministic/cap26/cap26_path/paths/mod.rs
  crates/sargon-uniffi/src/hierarchical_deterministic/derivation/derivation_path.rs
  crates/sargon/src/hierarchical_deterministic/bip32/hd_path.rs
  crates/sargon/src/hierarchical_deterministic/bip32/key_space/components/securified.rs
  crates/sargon/src/hierarchical_deterministic/bip32/key_space/components/unhardened.rs
  crates/sargon/src/hierarchical_deterministic/bip32/key_space/components/unsecurified_hardened.rs
  crates/sargon/src/hierarchical_deterministic/bip32/unsigned_ints/u30.rs
  crates/sargon/src/hierarchical_deterministic/bip32/unsigned_ints/u31.rs
  crates/sargon/src/hierarchical_deterministic/bip44/bip44_like_path.rs
  crates/sargon/src/hierarchical_deterministic/cap26/cap26_path/paths/cap26_account_path.rs
  crates/sargon/src/hierarchical_deterministic/cap26/cap26_path/paths/cap26_identity_path.rs
Due: fmt, clippy, unit tests

wip
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon-uniffi/src/lib.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
  crates/sargon-uniffi/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_v2.rs
  crates/sargon/Cargo.toml
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/transaction_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/subintent_manifest.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/transaction_manifest_v2.rs
Due: fmt, clippy, unit tests

fix blobs
  apple/Sources/Sargon/Extensions/Methods/RET/TransactionManifest+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/RET/TransactionManifestV2+Wrap+Functions.swift
Due: ensure Swift setup for local development, SwiftFormat

fix test
  apple/Tests/TestCases/RET/TransactionManifestTests.swift
Due: ensure Swift setup for local development, SwiftFormat

version bump
  Cargo.lock
  crates/sargon-uniffi/Cargo.toml
  crates/sargon/Cargo.toml
Due: none

update desktop deploy
  .github/workflows/release-desktop.yml
Due: none

wip
  apple/Sources/Sargon/Extensions/Methods/RadixConnect/WalletInteraction/DappToWalletInteractionUnvalidated+Wrap+Functions.swift
  crates/sargon-uniffi/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_unvalidated.rs
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/interaction_unvalidated.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

fmt
  crates/sargon-uniffi/src/core/types/keys/secp256k1/public_key.rs
  crates/sargon-uniffi/src/hierarchical_deterministic/cap26/cap26_path/paths/account_path.rs
  crates/sargon-uniffi/src/hierarchical_deterministic/cap26/cap26_path/paths/identity_path.rs
  crates/sargon/src/radix_connect/mobile/relay_service/service.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_intent.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v1/transaction_manifest/instructions/instructions.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/intent_core_v2.rs
  crates/sargon/src/wrapped_radix_engine_toolkit/low_level/v2/transaction_manifest_v2/instructions_v2/instructions_v2.rs
  crates/sargon/tests/integration/main.rs
Due: fmt, clippy, unit tests

doc
  crates/sargon/src/hierarchical_deterministic/bip32/hd_path_component.rs
  crates/sargon/src/hierarchical_deterministic/bip32/key_space/components/hardened.rs
  crates/sargon/src/hierarchical_deterministic/bip32/key_space/components/securified.rs
  crates/sargon/src/hierarchical_deterministic/bip32/key_space/components/unhardened.rs
  crates/sargon/src/hierarchical_deterministic/bip32/key_space/components/unsecurified.rs
  crates/sargon/src/hierarchical_deterministic/bip32/key_space/components/unsecurified_hardened.rs
  crates/sargon/src/hierarchical_deterministic/bip44/bip44_like_path.rs
  crates/sargon/src/hierarchical_deterministic/cap26/cap26_key_kind.rs
  crates/sargon/src/hierarchical_deterministic/cap26/cap26_path/mod.rs
  crates/sargon/src/hierarchical_deterministic/cap26/cap26_path/paths/mod.rs
  crates/sargon/src/hierarchical_deterministic/cap26/mod.rs
  crates/sargon/src/hierarchical_deterministic/cap26/paths/account_path.rs
  crates/sargon/src/hierarchical_deterministic/cap26/paths/get_id_path.rs
  crates/sargon/src/hierarchical_deterministic/cap26/paths/identity_path.rs
  crates/sargon/src/hierarchical_deterministic/cap26/paths/mod.rs
  crates/sargon/src/hierarchical_deterministic/cap26/paths/traits.rs
  crates/sargon/src/hierarchical_deterministic/cap26/paths/unvalidated_cap26_path.rs
Due: fmt, clippy, unit tests

document accountpath
  crates/sargon/src/hierarchical_deterministic/cap26/paths/account_path.rs
Due: fmt, clippy, unit tests

fmt
  crates/sargon/src/hierarchical_deterministic/cap26/cap26_key_kind.rs
  crates/sargon/src/hierarchical_deterministic/derivation/hierarchical_deterministic_public_key.rs
  crates/sargon/src/radix_connect/mobile/relay_service/service.rs
Due: fmt, clippy, unit tests

wip
  crates/sargon/src/hierarchical_deterministic/cap26/paths/account_path.rs
  crates/sargon/src/hierarchical_deterministic/cap26/paths/identity_path.rs
  crates/sargon/src/hierarchical_deterministic/cap26/paths/unvalidated_cap26_path.rs
Due: fmt, clippy, unit tests

Release of '1.1.33' (updated Package.swift with new checksum and path to zip on Github, and maybe apple/Sources/UniFFI/Sargon.swift). This commit is not merged into main branch (and need not be).
  Package.swift
  apple/Sources/UniFFI/Sargon.swift
Due: ensure Swift setup for local development, SwiftFormat

Address comments
  crates/sargon/src/signing/authentication/authentication_signer.rs
  crates/sargon/src/signing/authentication/authentication_signing_input.rs
  crates/sargon/src/signing/authentication/rola_challenge.rs
Due: fmt, clippy, unit tests

WIP
  crates/sargon/src/signing/authentication/authentication_signer.rs
  crates/sargon/src/signing/authentication/authentication_signing_input.rs
  crates/sargon/src/signing/authentication/authentication_signing_interactor.rs
  crates/sargon/src/signing/authentication/mod.rs
  crates/sargon/src/signing/authentication/rola_challenge.rs
Due: fmt, clippy, unit tests

Implement AuthenticationSigningInput
  crates/sargon/src/radix_connect/wallet_interaction/dapp_wallet_interaction/dapp_to_wallet/dapp_metadata/origin.rs
  crates/sargon/src/signing/authentication/authentication_signing_input.rs
  crates/sargon/src/signing/authentication/mod.rs
  crates/sargon/src/signing/authentication/rola_challenge.rs
Due: fmt, clippy, unit tests

Implement a simple interactor for auth signing
  crates/sargon/src/signing/authentication/authentication_signer.rs
  crates/sargon/src/signing/authentication/authentication_signing_interactor.rs
  crates/sargon/src/signing/testing/interactors/mod.rs
  crates/sargon/src/signing/testing/interactors/test_authentication_interactor.rs
Due: fmt, clippy, unit tests
