Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

ensure Swift not changed to local development:
  name: ensure Swift not changed to local development
  language: system
  entry: ./scripts/ios/ensure-not-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

doc tests:
  name: doc tests
  language: system
  entry: cargo test --doc
  pass_filenames: false

vectors integration tests:
  name: vectors integration tests
  language: system
  entry: cargo test --package sargon --test vectors
  pass_filenames: false

uniffi bindgen tests:
  name: uniffi bindgen tests
  language: system
  entry: bash -c 'exec env CLASSPATH="$PWD/jna-5.13.0.jar"' && bash -c 'exec env JAVA_OPTS="-Xmx8g"' && cargo test --package sargon --test uniffi
  pass_filenames: false

more tests
  .tarpaulin.toml
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/address_of_account_or_persona.rs
  src/wrapped_radix_engine_toolkit/high_level/token_definition_metadata.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

improve coverage
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/build_information/sargon_build_information.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

WIP Hash, IntentHash, SignedIntentHash, SignedIntent, NotarySignature, NotarizedTransaction, Message, etc.
  src/core/error/common_error.rs
  src/core/hash.rs
  src/core/types/bag_of_bytes.rs
  src/core/types/epoch.rs
  src/core/types/keys/ed25519/private_key.rs
  src/core/types/keys/is_private_key.rs
  src/core/types/keys/public_key.rs
  src/core/types/keys/secp256k1/private_key.rs
  src/core/types/signatures/signature.rs
  src/core/types/signatures/signature_with_public_key.rs
  src/profile/v100/app_preferences/p2p_links/p2p_link.rs
  src/profile/v100/app_preferences/p2p_links/radix_connect_password.rs
  src/profile/v100/networks/network/network_id.rs
  src/sargon.udl
  src/wrapped_radix_engine_toolkit/high_level/assert_manifest.rs
  src/wrapped_radix_engine_toolkit/high_level/manifests_crate_tokens.rs
  src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
  src/wrapped_radix_engine_toolkit/high_level/token_definition_metadata.rs
  src/wrapped_radix_engine_toolkit/low_level/dummy_types.rs
  src/wrapped_radix_engine_toolkit/low_level/intent_hash.rs
  src/wrapped_radix_engine_toolkit/low_level/message.rs
  src/wrapped_radix_engine_toolkit/low_level/mod.rs
  src/wrapped_radix_engine_toolkit/low_level/notarized_transaction.rs
  src/wrapped_radix_engine_toolkit/low_level/notary_signature.rs
  src/wrapped_radix_engine_toolkit/low_level/signed_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/signed_intent_hash.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hash.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_header.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/blob.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/blobs.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/instructions/instructions.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/instructions/instructions_secret_magic.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/mod.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/transaction_manifest_secret_magic.rs
  tests/uniffi/bindings/test_tx_manifest.swift
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Cleanup of Transaction hashes
  src/core/hash.rs
  src/wrapped_radix_engine_toolkit/low_level/intent_hash.rs
  src/wrapped_radix_engine_toolkit/low_level/intent_signature.rs
  src/wrapped_radix_engine_toolkit/low_level/intent_signatures.rs
  src/wrapped_radix_engine_toolkit/low_level/mod.rs
  src/wrapped_radix_engine_toolkit/low_level/signed_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/signed_intent_hash.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hash.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/intent_hash.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/mod.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/signed_intent_hash.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/transaction_hashes.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/validate_and_decode_hash.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

add tests for signature_with_public_key
  src/core/types/signatures/signature_with_public_key.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

moar tests
  src/core/types/keys/is_private_key.rs
  src/wrapped_radix_engine_toolkit/low_level/intent_signatures.rs
  src/wrapped_radix_engine_toolkit/low_level/message/message.rs
  src/wrapped_radix_engine_toolkit/low_level/message/mod.rs
  src/wrapped_radix_engine_toolkit/low_level/message/plaintext_message/mod.rs
  src/wrapped_radix_engine_toolkit/low_level/message/plaintext_message/plaintext_message.rs
  src/wrapped_radix_engine_toolkit/low_level/message/plaintext_message/plaintext_message_contents.rs
  src/wrapped_radix_engine_toolkit/low_level/notarized_transaction.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

test notary signature, notarized tx and signature
  src/core/error/common_error.rs
  src/core/types/keys/is_private_key.rs
  src/core/types/signatures/signature.rs
  src/wrapped_radix_engine_toolkit/low_level/message/message.rs
  src/wrapped_radix_engine_toolkit/low_level/notarized_transaction.rs
  src/wrapped_radix_engine_toolkit/low_level/notary_signature.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Test TX Header, Intent and Blobs
  src/core/types/signatures/signature.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_header.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/blobs/blob.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/blobs/blobs.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/blobs/blobs_secret_magic.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/blobs/mod.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/mod.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Test UniffiConversion of HashSecretMagic
  src/core/hash.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Tests for IntentSignature
  src/wrapped_radix_engine_toolkit/low_level/intent_signature.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Moar tests
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/validate_and_decode_hash.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/blobs/blob.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

more tests of blobs
  src/wrapped_radix_engine_toolkit/low_level/transaction_manifest/blobs/blobs.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

moar tests
  src/core/types/keys/is_private_key.rs
  src/wrapped_radix_engine_toolkit/low_level/intent_signature.rs
  src/wrapped_radix_engine_toolkit/low_level/message/message.rs
  src/wrapped_radix_engine_toolkit/low_level/notarized_transaction.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/validate_and_decode_hash.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

even more tests
  src/core/hash.rs
  src/profile/v100/address/account_address.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Add xrd_on_network method on Resource and as RET API function.
  src/profile/v100/address/resource_address.rs
  src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Decompile notarized transaction.
  src/core/error/common_error.rs
  src/core/types/signatures/signature_with_public_key.rs
  src/wrapped_radix_engine_toolkit/low_level/intent_signature.rs
  src/wrapped_radix_engine_toolkit/low_level/intent_signatures.rs
  src/wrapped_radix_engine_toolkit/low_level/notarized_transaction.rs
  src/wrapped_radix_engine_toolkit/low_level/signed_intent.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Move decompile of CompiledNotarizedTransaction into its own file. Vendor first crude debug print of compiled notarized tx.
  src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
  src/wrapped_radix_engine_toolkit/low_level/compiled_notarized_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/dummy_types.rs
  src/wrapped_radix_engine_toolkit/low_level/mod.rs
  src/wrapped_radix_engine_toolkit/low_level/notarized_transaction.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Add create manby NFT collections method
  src/core/utils/string_utils.rs
  src/hierarchical_deterministic/bip39/bip39_word/bip39_word.rs
  src/hierarchical_deterministic/bip39/bip39_word/u11.rs
  src/wrapped_radix_engine_toolkit/high_level/manifests_crate_tokens.rs
  src/wrapped_radix_engine_toolkit/high_level/manifests_create_tokens.rs
  src/wrapped_radix_engine_toolkit/high_level/mod.rs
  src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

cleanup and more tests
  .tarpaulin.toml
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/addresses_manifest_builder_support.rs
  src/profile/v100/address/mod.rs
  src/profile/v100/address/non_fungible_resource_address.rs
  src/wrapped_radix_engine_toolkit/high_level/manifests_create_tokens.rs
  src/wrapped_radix_engine_toolkit/low_level/compiled_notarized_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/intent_signature.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Moar tests
  src/profile/v100/address/non_fungible_resource_address.rs
  src/profile/v100/address/resource_address.rs
  src/wrapped_radix_engine_toolkit/high_level/manifests_create_tokens.rs
  src/wrapped_radix_engine_toolkit/low_level/intent_signatures.rs
  src/wrapped_radix_engine_toolkit/low_level/signed_intent.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

move manifest building types and files into manifest_building folder.
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/assert_manifest.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/bucket.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/bucket_factory.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_create_tokens.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/metadata.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/mod.rs
  src/wrapped_radix_engine_toolkit/high_level/mod.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Add UniFFI exports for NonFungibleResourceAddress and doc.
  src/profile/v100/address/non_fungible_resource_address.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Swift: NonFungibleResourceAddress
  apple/Sources/Sargon/Address.swift
  apple/Sources/Sargon/Extensions/Methods/Addresses+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/NonFungibleResourceAddress+Swiftified.swift
  examples/iOS/Planbok.xcworkspace/contents.xcworkspacedata
  src/profile/v100/address/non_fungible_resource_address.rs
  src/profile/v100/address/resource_address.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_create_tokens.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Wrap RET: Fifth batch (#16)
  .tarpaulin.toml
  apple/Sources/Sargon/Address.swift
  apple/Sources/Sargon/Extensions/Methods/Addresses+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Swiftified/NonFungibleResourceAddress+Swiftified.swift
  examples/iOS/Planbok.xcworkspace/contents.xcworkspacedata
  src/core/error/common_error.rs
  src/core/types/keys/secp256k1/private_key.rs
  src/core/types/signatures/signature_with_public_key.rs
  src/core/utils/string_utils.rs
  src/hierarchical_deterministic/bip39/bip39_word/bip39_word.rs
  src/hierarchical_deterministic/bip39/bip39_word/u11.rs
  src/profile/v100/address/account_address.rs
  src/profile/v100/address/addresses_manifest_builder_support.rs
  src/profile/v100/address/mod.rs
  src/profile/v100/address/non_fungible_global_id.rs
  src/profile/v100/address/non_fungible_local_id.rs
  src/profile/v100/address/non_fungible_resource_address.rs
  src/profile/v100/address/resource_address.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/assert_manifest.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/bucket.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/bucket_factory.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests_create_tokens.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/metadata.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/mod.rs
  src/wrapped_radix_engine_toolkit/high_level/manifests.rs
  src/wrapped_radix_engine_toolkit/high_level/manifests_crate_tokens.rs
  src/wrapped_radix_engine_toolkit/high_level/mod.rs
  src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
  src/wrapped_radix_engine_toolkit/high_level/sargon_specific_types/stake_claim.rs
  src/wrapped_radix_engine_toolkit/low_level/compiled_notarized_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/dummy_types.rs
  src/wrapped_radix_engine_toolkit/low_level/intent_signature.rs
  src/wrapped_radix_engine_toolkit/low_level/intent_signatures.rs
  src/wrapped_radix_engine_toolkit/low_level/mod.rs
  src/wrapped_radix_engine_toolkit/low_level/notarized_transaction.rs
  src/wrapped_radix_engine_toolkit/low_level/signed_intent.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_hashes/validate_and_decode_hash.rs
  src/wrapped_radix_engine_toolkit/low_level/transaction_intent.rs
Due: ensure Swift not changed to local development, fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

third party deposits
  src/profile/v100/address/mod.rs
  src/profile/v100/address/non_fungible_global_id.rs
  src/profile/v100/address/wrap_ret_address.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/addresses_manifest_builder_support.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/manifests.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/mod.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/third_party_deposit_update/manifest_third_party_deposit_update.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/third_party_deposit_update/mod.rs
  src/wrapped_radix_engine_toolkit/high_level/manifest_building/third_party_deposit_update/third_party_deposits_delta.rs
  src/wrapped_radix_engine_toolkit/high_level/ret_api.rs
Due: fmt, clippy, unit tests, doc tests, vectors integration tests, uniffi bindgen tests

Implement the first set of extensions and samples for kotlin
  jvm/app/src/main/java/com/radixdlt/sargon/android/MainActivity.kt
  jvm/app/src/test/java/com/radixdlt/sargon/android/WalletTest.kt
  jvm/sargon-android/.gitignore
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AccessControllerAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AccountAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/AppearanceId.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/BagOfBytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ComponentAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Decimal192.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DisplayName.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/IdentityAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Mnemonic.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PackageAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PoolAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ResourceAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SargonException.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SecureStorageKey.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/TransactionManifest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ValidatorAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/VaultAddress.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/sample/AccessControllerAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/sample/AccountAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/sample/AppearanceIdSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/sample/ComponentAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/sample/IdentityAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/sample/PackageAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/sample/PoolAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/sample/ProfileSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/sample/ResourceAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/sample/Sample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/sample/TransactionManifestSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/sample/ValidatorAddressSample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/sample/VaultAddressSample.kt
Due: none

Add app preferences test
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/sample/AppPreferencesSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AppPreferencesTest.kt
Due: none

Move wallet test into sargon android
  jvm/app/build.gradle.kts
  jvm/app/src/androidTest/java/com/radixdlt/sargon/android/ExampleInstrumentedTest.kt
  jvm/gradle/libs.versions.toml
  jvm/sargon-android/build.gradle.kts
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/WalletTest.kt
Due: none

Add account address test
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AccountAddressTest.kt
Due: none

Use junit assertions
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/WalletTest.kt
Due: none

Add BagOfBytes test
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/BagOfBytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/sample/BagOfBytesSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/BagOfBytesTest.kt
Due: none

Add FactorSources test
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/sample/FactorSourceSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/FactorSourcesTest.kt
Due: none

Add Gateways test
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Gateways.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/sample/GatewaySample.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/sample/GatewaysSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/GatewaysTest.kt
Due: none

Rename test method
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AccountAddressTest.kt
Due: none

Create custom plugin for desktop bins building
  .github/workflows/release-desktop-bins.yml
  jvm/.gitignore
  jvm/app/build.gradle.kts
  jvm/buildSrc/build.gradle.kts
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/desktop/BuildType.kt
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/desktop/DesktopCargoPlugin.kt
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/desktop/DesktopTargetTriple.kt
  jvm/sargon-desktop-bins/build.gradle.kts
  jvm/sargon-desktop-debug/.gitignore
  jvm/sargon-desktop-debug/build.gradle.kts
  jvm/sargon-desktop-release/.gitignore
  jvm/sargon-desktop-release/build.gradle.kts
  jvm/settings.gradle.kts
Due: none

Rename base plugin class
  jvm/buildSrc/build.gradle.kts
  jvm/buildSrc/src/main/java/com/radixdlt/cargo/desktop/CargoDesktopPlugin.kt
Due: none

Add HeaderTest
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/sample/HeaderSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/HeaderTest.kt
Due: none

Add PublicKeyTest
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/BagOfBytes.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/PublicKey.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PublicKeyTest.kt
Due: none

Path conditions:
  ensure Swift not changed to local development: any of: \.swift$
  fmt: any of: \.rs$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
  doc tests: any of: \.rs$
  vectors integration tests: any of: \.rs$
  uniffi bindgen tests: any of: \.rs$
