Repository radixdlt/sargon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

ensure Swift setup for local development:
  name: ensure Swift setup for local development
  language: system
  entry: ./scripts/ios/ensure-is-local.sh
  pass_filenames: false

fmt:
  name: fmt
  language: system
  entry: cargo fmt -- --check
  pass_filenames: false

SwiftFormat:
  name: SwiftFormat
  language: system
  entry: swiftformat .
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all -- -D warnings
  pass_filenames: false

unit tests:
  name: unit tests
  language: system
  entry: cargo test --lib
  pass_filenames: false

cleanup
  crates/system/clients/clients/src/clients/clients.rs
  crates/system/clients/http/src/http_client.rs
  crates/system/drivers/src/drivers/drivers.rs
  crates/system/drivers/src/drivers/networking_driver/support/test/mock_networking_driver.rs
  crates/system/os/os/src/bios/bios.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_security_shield_committing.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/xrd_balances_fetcher/mock_xrd_balances.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/xrd_balances_fetcher/mod.rs
Due: fmt, clippy, unit tests

cleanup
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/xrd_balances_fetcher/mock_xrd_balances.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/xrd_balances_fetcher/mod.rs
Due: fmt, clippy, unit tests

Export methods for ledger backed accounts
  crates/profile/logic/logic_SPLIT_ME/src/logic/account/account_is_unsecured_ledger_controlled.rs
  crates/profile/logic/logic_SPLIT_ME/src/logic/account/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/entity/account/account.rs
Due: fmt, clippy, unit tests

Reformat
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Account.kt
Due: none

WIP
  crates/system/os/os/src/lib.rs
  crates/system/os/os/src/sargon_os_entities_affected_by_bdfs_error.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_entities_affected_by_bdfs_error.rs
  fixtures/models/profile/profile_with_bdfs_error.json
Due: fmt, clippy, unit tests

Export is legacy olympia for account
  crates/profile/logic/logic_SPLIT_ME/src/logic/account/account_is_legacy.rs
  crates/profile/logic/logic_SPLIT_ME/src/logic/account/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/entity/account/account.rs
Due: fmt, clippy, unit tests

Remove unused hasAuthenticationSigningKey
  apple/Sources/Sargon/Protocols/EntityProtocol.swift
  apple/Tests/Utils/EntityProtocolTest.swift
Due: ensure Swift setup for local development, SwiftFormat

Remove unnecessary check for BDFS error
  crates/system/os/os/src/lib.rs
  crates/system/os/os/src/sargon_os_entities_affected_by_bdfs_error.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_entities_affected_by_bdfs_error.rs
  fixtures/models/profile/profile_with_bdfs_error.json
Due: fmt, clippy, unit tests

Add missing unit tests that caused coverage to dip
  jvm/sargon-android/src/androidTest/kotlin/com/radixdlt/sargon/os/driver/AndroidStorageDriverDeviceFactorSourceMnemonicTest.kt
  jvm/sargon-android/src/androidTest/kotlin/com/radixdlt/sargon/os/driver/AndroidStorageDriverTest.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Account.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Cap26EntityKind.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/IdentityPath.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SharedConstants.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/WalletToDappInteractionAuthProof.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/os/storage/key/HostIdKeyMapping.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/Cap26EntityKindSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AccountTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/BIP44LikePathTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/Cap26EntityKindTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/WalletToDappInteractionAuthProofTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/key/ByteArrayKeyMappingTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/key/DeviceFactorSourceMnemonicKeyMappingTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/key/HostIdKeyMappingTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/storage/key/ProfileSnapshotKeyMappingTest.kt
Due: none

Expose SecuredEntityControl
  crates/profile/models/base-entity/src/entity_security_state/entity_security_state.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/secured_entity_control/secured_entity_control.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/entity_security_state/entity_security_state.rs
Due: fmt, clippy, unit tests

Expose sample for InternalSecurityStructureOfFactorInstances and rename exposed method for legacy olympia
  crates/profile/logic/logic_SPLIT_ME/src/logic/account/account_is_legacy.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/security_structures/security_structure_of_factor_instances.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/entity/account/account.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Account.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/samples/SecurityStructureOfFactorInstancesSample.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AccountTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/SecurityStructureOfFactorInstancesTest.kt
Due: fmt, clippy, unit tests

Use InternalConversion for EntitySecurityState
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/entity_security_state/entity_security_state.rs
Due: fmt, clippy, unit tests

Replace with unsecured_controlling_factor_instance
  crates/profile/logic/logic_SPLIT_ME/src/logic/account/account_is_unsecured_ledger_controlled.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/entity/account/account.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/entity/persona/persona.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Account.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/DerivationPath.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/Persona.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/ProfileEntity.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AccountTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/DerivationPathTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/PersonaTest.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/ProfileEntityTest.kt
Due: fmt, clippy, unit tests

Fix swift tests
  apple/Sources/Sargon/Extensions/Swiftified/Profile+Supporting+Types/AccountOrPersona+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Account/Account+Swiftified.swift
  apple/Sources/Sargon/Extensions/Swiftified/Profile/Persona/Persona+Swiftified.swift
  apple/Sources/Sargon/Protocols/EntityProtocol.swift
  apple/Tests/Utils/EntityProtocolTest.swift
Due: ensure Swift setup for local development, SwiftFormat

Fix test
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/AccountTest.kt
Due: none

wip
  apple/Sources/Sargon/Extensions/Methods/Profile/MFA/SecurityStructureMetadata+Wrap+Functions.swift
  apple/Tests/TestCases/Profile/MFA/SecurityStructureMetadataTests.swift
  crates/system/os/factors/src/sargon_os_security_structures.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/mfa/security_structures/security_structure_metadata.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_security_structures.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SecurityStructureMetadata.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

fix
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/SecurityStructureMetadata.kt
Due: none

[no ci] WIP
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_security_shield_payload_to_sign.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/poly_manifest_builder/poly_manifest_builder.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/poly_manifest_builder/tx_fee_modifier.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/poly_manifest_builder/xrd_vault_contribution_modifier.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/profile_view/profile_view.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/xrd_balances_fetcher/xrd_balances.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/xrd_balances_fetcher/xrd_balances_fetcher.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/models/application/abstract_security_shield_application_for_securified_entity_with_payload.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/models/application/create_application_macros.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/models/application/mod.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/models/application/security_shield_application.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/models/application/with_intents/mod.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/models/application/with_intents/securified_account.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/models/application/with_intents/securified_entity.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/models/application/with_intents/securified_persona.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/models/application/with_intents/unsecurified_account.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/models/application/with_intents/unsecurified_entity.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/models/application/with_intents/unsecurified_persona.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/models/application/without_intents/with_balance/securified.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/models/application/without_intents/with_balance/unsecurified.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/models/application/without_intents/without_balance/shield_application_input_without_xrd_balance.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/models/manifest_with_payer_by_address.rs
Due: fmt, clippy, unit tests

fix tests
  crates/profile/models/supporting-types/src/abstract_securified_entity.rs
  crates/profile/models/supporting-types/src/unsecurified_entity.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_security_shield_committing.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_security_shield_payload_to_sign.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/profile_view/entity_applying_shield.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/xrd_balances_fetcher/xrd_balances.rs
  crates/system/os/transaction/src/batch_of_transactions/apply_shields/apply_shield_transactions_builder/helpers/xrd_balances_fetcher/xrd_balances_fetcher.rs
Due: fmt, clippy, unit tests

add has_any_main_security_structure
  crates/profile/logic/logic_SPLIT_ME/src/logic/mod.rs
  crates/profile/logic/logic_SPLIT_ME/src/logic/profile_security_structure.rs
  crates/profile/models/security-structures/src/roles_matrices_structures/security_structure_of_factors/abstract_security_structure_of_factors.rs
  crates/system/os/factors/src/sargon_os_security_structures.rs
Due: fmt, clippy, unit tests

chunk gw large request
  Cargo.lock
  crates/gateway/client-and-api/Cargo.toml
  crates/gateway/client-and-api/src/methods/state_methods.rs
  crates/gateway/models/src/types/request/state/entity/details/request.rs
Due: fmt, clippy, unit tests

rename and add docs
  crates/factors/factors/src/factor_source_id_spot_check.rs
Due: fmt, clippy, unit tests

WIP
  apple/Sources/Sargon/SargonOS/ThrowingHostInteractor+Static+Shared.swift
  crates/system/interactors/src/interactors.rs
  crates/system/interactors/src/lib.rs
  crates/system/interactors/src/spot_check_interactor.rs
  crates/system/interactors/src/testing/mod.rs
  crates/system/interactors/src/testing/test_spot_check_interactor.rs
  crates/system/os/os/src/sargon_os.rs
  crates/system/os/os/src/sargon_os_factors.rs
  crates/system/os/os/src/testing_interactors.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/interactors/host_interactor.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_factors.rs
  crates/uniffi/uniffi_SPLIT_ME/src/types/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/types/spot_check.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

changes after feedback
  apple/Tests/TestCases/Profile/Factor/FactorSourceIDFromHashTests.swift
  apple/Tests/TestCases/Profile/Factor/FactorSourceIDTests.swift
  apple/Tests/TestCases/Profile/Factor/FactorSourceTests.swift
  crates/factors/factors/src/factor_source_id_spot_check.rs
  crates/factors/factors/src/factor_sources/ledger_hardware_wallet_factor_source/ledger_hardware_wallet_factor_source.rs
  crates/system/interactors/src/spot_check_interactor.rs
  crates/system/interactors/src/testing/test_spot_check_interactor.rs
  crates/system/os/os/src/sargon_os_factors.rs
  crates/system/os/os/src/testing_interactors.rs
  crates/system/os/signing/src/sargon_os_signing.rs
  crates/uniffi/uniffi_SPLIT_ME/src/types/spot_check.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

new ctor for MnemonicWithPasswphrase without latter
  apple/Sources/Sargon/Extensions/Methods/Crypto/Derivation/MnemonicWithPassphrase+Wrap+Functions.swift
Due: ensure Swift setup for local development, SwiftFormat

update with new behavior
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/FactorSource+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/FactorSourceID+Wrap+Functions.swift
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/FactorSourceIDFromHash+Wrap+Functions.swift
  apple/Sources/Sargon/SargonOS/ThrowingHostInteractor+Static+Shared.swift
  apple/Tests/TestCases/Profile/Factor/FactorSourceIDFromHashTests.swift
  apple/Tests/TestCases/Profile/Factor/FactorSourceIDTests.swift
  apple/Tests/TestCases/Profile/Factor/FactorSourceTests.swift
  crates/factors/factors/src/factor_source_id_spot_check.rs
  crates/factors/factors/src/lib.rs
  crates/system/interactors/src/spot_check_interactor.rs
  crates/system/interactors/src/testing/test_spot_check_interactor.rs
  crates/system/os/os/src/sargon_os_factors.rs
  crates/system/os/os/src/testing_interactors.rs
  crates/system/os/signing/src/sargon_os_signing.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/factors/factor_source_id_spot_check.rs
  crates/uniffi/uniffi_SPLIT_ME/src/profile/v100/factors/mod.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/interactors/host_interactor.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/sargon_os/sargon_os_factors.rs
  crates/uniffi/uniffi_SPLIT_ME/src/types/spot_check.rs
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSource.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSourceId.kt
  jvm/sargon-android/src/main/java/com/radixdlt/sargon/extensions/FactorSourceIdFromHash.kt
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/interactor/FakeHostInteractor.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

send FactorSource to interactor
  crates/system/interactors/src/spot_check_interactor.rs
  crates/system/interactors/src/testing/test_spot_check_interactor.rs
  crates/system/os/os/src/sargon_os_factors.rs
  crates/uniffi/uniffi_SPLIT_ME/src/system/interactors/host_interactor.rs
Due: fmt, clippy, unit tests

updates to make it work with Android
  apple/Sources/Sargon/Extensions/Methods/Profile/Factor/FactorSourceID+Wrap+Functions.swift
  apple/Sources/Sargon/SargonOS/ThrowingHostInteractor+Static+Shared.swift
  apple/Tests/TestCases/Crypto/BIP39/MnemonicWithPassphraseTests.swift
  crates/system/interactors/src/spot_check_interactor.rs
  crates/system/interactors/src/testing/test_spot_check_interactor.rs
  crates/system/os/os/src/sargon_os_factors.rs
  crates/uniffi/uniffi_SPLIT_ME/src/types/spot_check.rs
  jvm/sargon-android/src/test/java/com/radixdlt/sargon/os/interactor/FakeHostInteractor.kt
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

WIP
  apple/Tests/TestCases/Crypto/BIP39/MnemonicWithPassphraseTests.swift
  crates/factors/factors/src/factor_sources/ledger_hardware_wallet_factor_source/ledger_hardware_wallet_factor_source.rs
  crates/system/interactors/src/spot_check_interactor.rs
  crates/system/interactors/src/testing/test_spot_check_interactor.rs
  crates/system/os/os/src/sargon_os_factors.rs
  crates/system/os/os/src/testing_interactors.rs
  crates/system/os/signing/src/sargon_os_signing.rs
  crates/uniffi/uniffi_SPLIT_ME/src/types/spot_check.rs
Due: ensure Swift setup for local development, fmt, SwiftFormat, clippy, unit tests

cleanup
  crates/crypto/ecc/src/keys/ed25519/private_key.rs
  crates/gateway/client-and-api/src/methods/chunk.rs
  crates/gateway/client-and-api/src/methods/mod.rs
  crates/gateway/client-and-api/src/methods/state_methods.rs
Due: fmt, clippy, unit tests

Fix
  .github/workflows/release-kotlin-desktop.yml
  jvm/sargon-android/build.gradle.kts
Due: none

update
  .github/workflows/release-kotlin-desktop.yml
Due: none

use pwd
  .github/workflows/release-kotlin-desktop.yml
Due: none

try again
  .github/workflows/release-kotlin-desktop.yml
Due: none

use specific artifact name to download it
  .github/workflows/release-kotlin-desktop.yml
Due: none

more debug
  .github/workflows/release-kotlin-desktop.yml
Due: none

Remove ls tests
  .github/workflows/release-kotlin-desktop.yml
Due: none

Path conditions:
  ensure Swift setup for local development: any of: \.swift$
  fmt: any of: \.rs$
  SwiftFormat: any of: \.swift$
  clippy: any of: \.rs$
  unit tests: any of: \.rs$
